[2019-09-17 14:35] hObBiT-iM-bLuTrAuScH commented on #8902
Also: Flashed the ESC´s to the newest beta firmware 32.6.6 for HGLRC_DinoShot_60A_ST_Multi_32_66.Hex and deavtivated music on the ESC´s

[2019-09-17 21:24] etracer65 commented on #8888
@0crap @Juzzle1 Please try this version. Should resolve the problems with the Matek FCHUB-VTX and generally make Tramp control more robust.

[betaflight_4.1.0_MATEKF722.hex.zip](https://github.com/betaflight/betaflight/files/3623516/betaflight_4.1.0_MATEKF722.hex.zip)

[2019-09-17 22:42] Juzzle1 commented on #8888
@etracer65 I can confirm that channel / band / power changes every time without fail - thanks very much for looking into this.

I will mention that the first time i tested this firmware, I cycled from Ch R1 to R4, at which point my OSD locked up, and aux switches were not functioning, but board was responisve via USB in configurator.

I had to reboot the board, and then have spent the last 45 mins

[2019-09-17 23:27] Garthvan opened #8904 "Viva STM32 F4 05 - No uarts in the ports tab"
Problem with my Viva STM32 F4 05 Flight controller.

I'm in the ports tab and there are no uarts - does anyone know how to fix this?

[2019-09-17 23:29] IvoFPV commented on #8904
@Garthvan Please provide a `diff`. Try reseting to defaults by typing `defaults` in CLI if you've flashed the unified target.

[2019-09-17 23:35] Garthvan commented on #8904
@IvoFPV sorry I'm pretty new to this and don't know what a diff is? I've typed defaults in CLI and that rebooted it but the issue is still the same.

[2019-09-17 23:37] IvoFPV commented on #8904
@Garthvan No worries. Type `diff` in the CLI as well, then copy everything that shows up and paste it here.

[2019-09-17 23:38] Garthvan commented on #8904
Got it!

# diff

# version
# Betaflight / STM32F405 (S405) 4.0.6 Sep  1 2019 / 01:08:29 (2a64051a2) MSP API: 1.41

# start the command batch
batch start

board_name
manufacturer_id

# name

# resources

# timer

# dma

# mixer

# servo

# servo mix

# feature

# beeper

# beacon

# map

# serial

# led

# color

# mode_color

# aux

# adjrange

# rxrange

# vtx

# rxfail

# display_name

# master

[2019-09-17 23:40] Garthvan commented on #8904
Got it!

# diff

# version
# Betaflight / STM32F405 (S405) 4.0.6 Sep  1 2019 / 01:08:29 (2a64051a2) MSP API: 1.41

# start the command batch
batch start

board_name
manufacturer_id

# name

# resources

# timer

# dma

# mixer

# servo

# servo mix

# feature

# beeper

# beacon

# map

# serial

# led

# color

# mode_color

# aux

# adjrange

# rxrange

# vtx

# rxfail

# display_name

# master

[2019-09-17 23:44] IvoFPV commented on #8904
@Garthvan Okay, so it looks like you've flashed the STM32F405 unified target but the config for your board isn't applied. You have to do that manually after flashing.
Copy the settings below into CLI and hit enter, after all of it gets loaded type `save` and hit enter again. It should work after that.
[code]

[2019-09-17 23:50] Garthvan commented on #8904
I acually can't thankyou enough! where do I find the board configuration if this happens to me again? and how I stopo this happening to me?

[2019-09-17 23:54] IvoFPV commented on #8904
@Garthvan You can find all unified configs [here](https://github.com/betaflight/unified-targets/tree/master/configs/default). You just got to remember to paste the config after flashing.
For version 4.1 which is releasing really soon config will be applied as a part of the flashing process so you won't need to worry about it then.

[2019-09-18 00:23] S-T-A opened #8906 "4.1.0-rc3"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, RCGroups: https://rcgroups.com/forums/showthread.php?t=2464844, or Slack (registration at https://slack.betaflight.com/) or other user support forums & groups (e.g. facebook).

##

[2019-09-18 00:27] IvoFPV commented on #8906
@S-T-A Type `defaults` in the CLI.

[2019-09-18 01:00] mikeller commented on #8906
@S-T-A: There is no 10.6.0 release of configurator - use a released version.

[2019-09-18 01:00] #8906 closed

[2019-09-18 01:01] mikeller commented on #8904
@Garthvan: Just use configurator and select the correct target for your board - STM32F405 is not the correct target for your board.

[2019-09-18 01:05] etracer65 commented on #8902
Try:
[code]

[2019-09-18 02:22] S-T-A commented on #8906
i just down loaded 10.6.0 rc1 thanks mike

On Tue, Sep 17, 2019 at 9:00 PM Michael Keller <notifications@github.com>
wrote:

[2019-09-18 02:44] ijustwannafly commented on #8888
I did more testing on my speedybee tx500.  This is on 4.1 RC1 mind you.  The test hex is for a matek so I can't try that and the speedybee tx500 is being used on a lumenier lux v2 osd micro.

Here are my observations.

With the vtxtable configured as here https://www.speedybee.com/product_images/download/manual/SB-TX500-manual.pdf I can change bands and channels up to a certain point.

When I try

[2019-09-18 03:30] etracer65 commented on #8888
@ijustwannafly I just tested a SpeedyBee TX500 and stepped through all 40 channels (verifying with a receiver) - no problem changing to any channel in any band.

Regarding the 500mw power: The SpeedyBee TX500 has a bug in its Tramp implementation and is reporting its max power output as 200mw. So Betaflight is limiting the settings to this. This was not implemented in 4.0 so that's why it worked t

[2019-09-18 03:49] ijustwannafly commented on #8888
@etracer65

I tested your test hex and used your vtxtable.

It still does not properly get into raceband on the speedybee.

Maybe I should start a new issue thread?

Again, I am watching the leds on the vtx when changing channels and power.  On 4.0.6, the leds properly show the bands (especially raceband) and the power levels.

On 4.1 (including the test) the vtx is unable to be switched into race

[2019-09-18 08:19] hObBiT-iM-bLuTrAuScH commented on #8902
no change

[2019-09-18 09:29] Garthvan commented on #8904
@mikeller thankyou but now I'm not sure what the correct target is? Sorry I'm new to this what should have I flashed?

[2019-09-18 11:25] etracer65 commented on #8888
@ijustwannafly For the SpeedyBee TX500: setting aside the 500mw concern which is a known issue based on the erroneous data reported by the VTX, I have no problems whatsoever switching to any band/channel I've defined in the `vtxtable`. This includes RACE band. I've confirmed that the VTX actually transmits on the selected channels (using a receiver to make sure the video is actually transmitted -

[2019-09-18 12:19] mikeller commented on #8904
@Garthvan: You'll have to consult the documentation that came with your flight controller to find out what target you are supposed to use.

[2019-09-18 13:30] ijustwannafly commented on #8888
@etracer65 your video shows your vtx works according to the led status.

My speedybee doesn't shift its led from the 4th position to the 5th position (as in your video).

I am not confused about the bands as I linked the manual for the speedybee with the low race band table.

What you are able to do (according to the video) I cannot do on 4.1 rc1.  I can however accomplish getting into raceband on

[2019-09-18 13:58] etracer65 commented on #8888
@ijustwannafly I think you simply haven't "unlocked" the VTX. When I put mine back in "locked" mode it behaves as you describe - won't go into RACE band (band 5). Well not exactly true... It will go into R4, R5 and R6 but not change to any of the the other RACE band channels. Also BOSCAM-B (band 2) can't be accessed. This matches the specifications from the manual:

![Screen Shot 2019-09-18 at 7 2

[2019-09-18 14:09] ijustwannafly commented on #8888
@etracer65 My tx500 is definitely unlocked.  My red led is constantly on and on 4.0.6 switching to 500mW gives me a constant orange led.  500/200mW is not possible in locked mode

[2019-09-18 14:14] jflyper commented on #8902
@hObBiT-iM-bLuTrAuScH

I can successfully spin motors without a problem with dshot bidir, by
1. Flash an original Omnibus F4 AIO with 4.1-RC3 STM32F405 target.
2. Config the board with `OMNIBUSF4.config`.
3. Add snippet from `https://raw.githubusercontent.com/betaflight/bidircfg/master/DEFAULT-upgrade.cf`.
4. Spin motors with motor tab sliders.

I would suggest you do the same and check if motors

[2019-09-18 14:17] etracer65 commented on #8888
Then I have no solution for you. On the 2 samples I have the SpeedyBee TX500 is working perfectly. Possibly you have a version with bugs in the firmware. Possibly try re-locking and unlocking it as a test.

[2019-09-18 15:02] hObBiT-iM-bLuTrAuScH commented on #8902
How could it work with bidir disabled if it was the wrong firmware?

I love what you guys do and really want to support you, but i can only report back to you devs.

I´ll check if motors spin in betaflight soon.

[2019-09-18 15:06] TheIsotopes commented on #8836
Tested now the first `build #1813` that supported bidir dshot on h7 ... this is the build there #8712 was merged ... also here with activated bidir dshot, i get motor 4 not to spin ... bidir dshot off and all motors are spinning

[2019-09-18 15:13] etracer65 commented on #8902
Because when `dshot_bidir` is enabled the signal is inverted. The 32.6.6 beta BLHeli32 firmware is needed to understand that. When not enabled the signal is normal and will work with older BLHeli32 firmwares.

[2019-09-18 15:14] etracer65 commented on #8902
Please provide a screenshot of the BLHeli32 Suite showing your ESC settings.

[2019-09-18 15:15] hObBiT-iM-bLuTrAuScH commented on #8902
Of course no spin in betaflight. Should have been clear, because i only get 3 beeps out of the esc/motors with bidir enabled. And again everything is FINE with bidir disabled.

[2019-09-18 15:22] hObBiT-iM-bLuTrAuScH commented on #8902
FYI: I have to disable bidir to be able to connect in blheli.

![blheli screen](https://user-images.githubusercontent.com/32323389/65161996-d51d4600-da38-11e9-9833-4c27e63420f2.jpg)

[2019-09-18 17:10] parazyd opened #8908 "KAKUTEF7 No serial after flashing 4.1"
**Describe the bug**
Serial port doesn't appear after flashing 4.1. Only DFU works when I connect with the bootloader button pressed.

This does not happen on 4.0.6 and there it seems to work fine.

It seems like this person has had the same issue on an AnyFC: https://github.com/betaflight/betaflight/issues/8056

**To Reproduce**
Steps to reproduce the behavior:
*  Flash BF 4.1 to a KAKUTE F7.
* D

[2019-09-18 17:24] IvoFPV commented on #8908
@parazyd Are you using the latest configurator 10.6.0-RC1? Which board are you selecting when flashing? Full chip erase enabled?

[2019-09-18 17:34] parazyd commented on #8908
I'm selecting KAKUTEF7 and the latest 4.1 RC.

Yes, I am doing the full chip erase, and using the latest configurator.

[2019-09-18 17:36] IvoFPV commented on #8908
@parazyd Could you try to flash `KAKUTEF7 (Legacy)` and see if that works?

[2019-09-18 17:37] parazyd commented on #8908
I don't see it. There is only `KAKUTEF7`, `KAKUTEF7MINI`, and `KAKUTEF7V2`.

[2019-09-18 17:42] IvoFPV commented on #8908
It should be there, you have to first set the build type to `Release And Release Candidate` for it to show up.
![image](https://user-images.githubusercontent.com/50072760/65171852-1e2ac580-da4c-11e9-89ee-e151f7e9c72a.png)

[2019-09-18 17:48] spatzengr commented on #8811
@chowonpapa , did you ever get this working?  I'm on BF 4.1, RC3 and when i "set sbus_baud_fast=on" the FC loses connection with the RX.

[2019-09-18 17:49] parazyd commented on #8908
Oh, you're right. I'm sorry.

I just flashed it and it seems to work now!

What is the difference between the Legacy and non-Legacy targets?

[2019-09-18 17:54] IvoFPV commented on #8908
Legacy uses a board specific target just like it was before in 4.0, and non-legacy uses a unified target STM32F745 for your board and a separate config that gets applied on top of that. It should be the same at the end.
If you have some time to troubleshoot this issue and potentially find what is causing it to stop working, could you select STM32F745 from the dropdown and see if it still connects?

[2019-09-18 17:57] parazyd commented on #8908
Flashed `STM32F745`. The same thing is happening.

It stops working immediately after flashing. And when I reconnect USB, I can't get the COM port to appear. Bootloader mode (DFU) works fine and as you can see, I can reflash the FC normally.

[2019-09-18 18:00] IvoFPV commented on #8908
Are you possibly running KAKUTE F7 V2?

[2019-09-18 18:01] parazyd commented on #8908
No. Kakute F7 AIO. On the PCB I can read v1.3.

[2019-09-18 18:07] IvoFPV commented on #8908
Not sure then, that board looks like it is using a F745 MCU and that unified target should work. Someone else will have to take a look at this. For now just use the legacy target as that seems to work okay.

[2019-09-18 18:09] parazyd commented on #8908
Alright. Please ping me if you need any more help with troubleshooting. I'd be glad to help out!

[2019-09-18 18:31] spatzengr opened #8909 "Additional MSP enables arming even when connected to Configurator"
When turning on MSP on an additional Uart (like you do with the DJI Air Unit) it allows the quad to arm on the bench when plugged into USB and a battery is connected.  This is especially dangerous as you need LiPO power to power the Air unit, so if a user adds LiPO power to see the AUX switches move while setting up the Modes in the Modes tab, they could inadvertently arm the quad.

[2019-09-18 19:01] hObBiT-iM-bLuTrAuScH commented on #8902
So, as soon as bidir=on there is no more communication between fc and esc. there are only 3 beeps on powerup, which means there is no throttle signal recognized by the esc´s. I have gone through the entire process many times now. The fact that i can´t even connect in blheli with bidir=on tells me that the esc with the test firmware for this esc may not recognize the inverted signal, yet.

I can ke

[2019-09-18 19:08] hObBiT-iM-bLuTrAuScH commented on #8902
Where to report esc firmware issues or could i´ve been missed a setting?

[2019-09-18 19:14] etracer65 commented on #8909
I tested and don't think this is just "turning on MSP on multiple UARTS". I could not duplicate the problem like that. I think it's something specifically to do with the DJI air unit communicating over MSP. Either it's interfering with the arming disable message sent by the Configurator when connecting, or it's actively sending the message to enable arming.

[2019-09-18 19:27] TheDummyUnicorn opened #8910 "Disabled USB in the Ports tab=drone not being detected anymore and Transmitter channels (yaw pitch throttle and roll) are mixed together"
Hey, I am totally new to Betaflight and quadcopters and just got a Nagul 5 4S, but I couldn't make it work properly (not even starting though the receiver seemed to be binded to the radio). So I plugged it in my computer and tried to find the problems : first, my channels where all messed up (see title), then my radio was not binding to the quad anymore : so I went into the Confs tab and unchecked

[2019-09-18 19:33] IvoFPV commented on #8910
@TheDummyUnicorn You will have to reflash the firmware with Full Chip Erase enabled. To make it possible to flash you will have to boot your FC into DFU mode, you can do this by holding the BOOT button on your FC while plugging it into USB.
However...

Please get help from other user support options such as asking the manufacturer of the hardware you are using, RCGroups: https://rcgroups.com/forum

[2019-09-18 19:56] psim opened #8911 "Turtle mode activating and deactivating during flight"
**Describe the bug**
When flying, turtle mode randomly turns on and off

**To Reproduce**
Steps to reproduce the behavior: look at bbl file

**Expected behavior**
A clear and concise description of what you expected to happen.

**Flight controller configuration**
[code]

Use `resource show all` to create a resource allocation list and post it here in a code block. Put ``` (three backticks) at the

[2019-09-18 20:03] etracer65 commented on #8911
Turtle mode can't activate in flight. If it did you'd immediately crash. Your radio channels may be fluctuating causing them to get into the area where the mode is set to activate and that would get recorded.

Please provide the information requested.

[2019-09-18 20:24] spatzengr commented on #8909
I tested on my iFlight 120RS.  I was able to enable MSP on Uart#2 and arm it.

[2019-09-18 20:31] etracer65 commented on #8909
Then you have something strange going on with your config or procedure. If you enable the safety switch on the motors tab, then yes you can arm. Verify the that log at the top of the configurator shows an "Arming disabled" message when connecting. Also a settings `diff` would be useful.

[2019-09-18 20:37] Etruscian opened #8912 "Battery low indicator in the configurator"
**Is your feature request related to a problem? Please describe.**
When working on the bench, I usually have a battery connected. I have set up all the settings in betaflight so that it watches my battery voltage. Since the configurator does not show these warnings, but does show a green battery bar if a battery is connected, I've almost killed a lipo because I watched the green bar instead of the

[2019-09-18 21:56] etracer65 commented on #8912
It is not recommended to have the battery connected while connected to the Configurator. Settings changes can result in some states that cause the motors to spin unexpectedly or uncontrollably. Connecting the battery while using the Motors tab to test motors or to check receiver function on the Receiver tab is okay if kept to a minimum.

[2019-09-18 22:07] etracer65 commented on #8912
![Screen Shot 2019-09-18 at 6 06 30 PM](https://user-images.githubusercontent.com/17088539/65189522-37794500-da3f-11e9-81c1-526afa4929f8.png)

I'm not really sure what more is needed.

[2019-09-18 22:10] Etruscian commented on #8912
My proposition would be for the battery icon to flash red or something. If I'm testing my motors (checking rotation and things like that) or escs, my attention is not with my battery voltage. A flashing icon would draw my attention and prevent a potential dangerous situation.

[2019-09-18 22:10] IvoFPV commented on #8912
I guess since we already have the voltage and cell detection in the configurator we could display a warning dialog or flash the icon when battery goes below set minimum battery cell voltage.

[2019-09-18 22:16] etracer65 commented on #8912
Moving this to the proper repository.

[2019-09-18 23:30] spatzengr commented on #8811
@jerryxin123 , I'm wondering if you could test this.  I have connectivity of the DJI Air Unit as SBUS, but when I switch "set sbus_baud_fast=on" it stops working.  Are their other setting I need to implement?  Do I need to power everything down and back on again?  Or is it just not working?

[2019-09-19 00:35] mikeller commented on #8909
@spatzengr: Not sure if this is a Betaflight problem, or the problem of a broken peripheral. Can you please disconnect all peripherals that are connected to UARTs that have MSP enabled (supplying the information you were asked to provide when opening this issue would help with figuring out which ones), and then check if you can replicate the problem?

[2019-09-19 00:39] mikeller commented on #8811
@spatzengr:

Does this mean that the DJI unit you are using is working when `sbus_baud_fast` is `off`? This would suggest that this unit is using SBus at the standard speed (100 kbps). Since SBus is unidirectional auto-detection of speed on the sender side is not possible, so unless you can change the configuration of this device to use a different SBus speed you will have to use it with `sbus_bau

[2019-09-19 01:07] #8904 closed

[2019-09-19 01:30] ijustwannafly commented on #8888
@etracer65 It just seems weird that on 4.0.6 my vtx works correctly.  On 4.1 rc1 it refuses to work properly.  The only change is the fc firmware version.  I could try rc3 but I don't think it would make a difference at this point.  The big difference between 4.0.6 and rc1 is the vtx tables and even when setting vtx tables according to the wiki it just refuses to work properly.

But I concede.  If

[2019-09-19 01:57] #8910 closed

[2019-09-19 08:14] maGfpv commented on #8836
Ich checked the rc3 and have the Same issues as mentioned above.

How could it be that motor one starts to Spin (automatic arm) with USB and lipo connected. I thought this should mit Happen?

[2019-09-19 09:54] hydra commented on #8836
yeah, that sounds really really messed up. Hopefully @joelucid or @jflyper have some time soon to investigate this issue.

 it is critical that you are testing with blheli firmware that definitely supports GCR.

[2019-09-19 10:08] maGfpv commented on #8836
@Hydra "it is critical that you are testing with blheli firmware that definitely supports GCR."

Im using this blheli32 firmware:

"https://github.com/bitdump/BLHeli/tree/master/BLHeli_32 ARM/BLHeli_32 Test code Rev32.6.4 hex files/Rev32.6.6 for inverted bidirectional dshot and GCR return data only"

And this hex for my esc tekko32_f3_metall

"https://github.com/bitdump/BLHeli/blob/master/BLHeli_3

[2019-09-19 10:27] #8888 closed

[2019-09-19 11:15] maGfpv commented on #8836
another try:

Flashed ESC again. -->Everything fine OK!
Flashed betaflight rc3 with full chip erase. -->OK!
activated the rpm filter using the following snippet: "# set looptime to 4k to have enough computational time
set gyro_sync_denom = 2
set pid_process_denom = 1
# Start with dshot 300 which is most robust
set motor_pwm_protocol=DSHOT300
# basic settings required to enable rpm filtering:
set d

[2019-09-19 12:11] maGfpv commented on #8836
@hydra you reported that some users run the rpm succesfull. can you share wich build they use?

[2019-09-19 12:38] mikeller commented on #8908
This is odd.

I verified this on KAKUTEF7 and on another F745 based board (FPVM_BETAFLIGHTF7), and 4.1.0-RC3 of STM32F745 wedges after flashing on both boards, the non-unified targets of the same version work fine.

Bisected with STM32F745, and the changeset after which this breaks is c33cc10 (#8759), which does not seem to contain anything that would explain this.

[2019-09-19 13:16] etracer65 commented on #8911
You are using Aux 5 for your crash-flip mode switch. This is receiver channel 9. Your receiver appears to be outputting RSSI on channel 9. So whenever your RSSI gets in the selected range it's triggering the crash-flip mode (which fortunately does nothing while already armed).

From your blackbox. Note how whenever the RSSI climbs to high values it enables and when drops it disables. The solution

[2019-09-19 13:58] maGfpv commented on #8836
So, after hours of flashing.
For every try i set no boot sequenz to disabled and erase chip to enabled.

Here is a summary...
After successfully flashing and connecting via usb i pasted the following diff:

# set looptime to 4k to have enough computational time

set gyro_sync_denom = 2
set pid_process_denom = 1

# Start with dshot 300 which is most robust

set motor_pwm_protocol=DSHOT300

# basic

[2019-09-19 14:58] henrytseng commented on #8735
I believe I did that above.

On Thu, Sep 19, 2019, 7:56 AM stale[bot] <notifications@github.com> wrote:

[2019-09-19 15:08] jflyper commented on #8908
Verified to flash okay on Nucleo-F746ZG, and reboots fine when loaded with `KAKUTEF7.config`.

[betaflight_4.1.0_STM32F745-bootwedgefix_0.hex.zip](https://github.com/betaflight/betaflight/files/3631945/betaflight_4.1.0_STM32F745-bootwedgefix_0.hex.zip)

[2019-09-19 17:48] hydra commented on #8836
@maGfpv 'erase chip' doesn't do anything when flashing H7 EXST target.  that's only for FC's that have config stored on the CPU itself.  To erase the config you must either use the cli 'defaults' command or use the bootloader to erase the config partition on the flash as per the flashing instructions.

you didn't say which firmware you used on your ESCs, older FC firmware needs older non-GCR blhel

[2019-09-19 17:56] etracer65 commented on #8884
I tested more and still can't replicate any problems. Here's a video of BF4.1 (RC3+) with a smartaudio connected VTX. Used your LED settings (except I only have 4 connected). I cycle through 4 channel changes.

https://youtu.be/KpvLxgfpdRM

The only ways I can replicate the blinking VTX overlay is if the VTX wasn't communicating (smartaudio not working) or if the VTX is in pit mode. Both of these

[2019-09-19 18:05] jflyper commented on #8911
lol

[2019-09-19 18:06] jflyper commented on #8902
@hObBiT-iM-bLuTrAuScH

Did you try the procedure described above? (https://github.com/betaflight/betaflight/issues/8902#issuecomment-532704303)

[2019-09-19 19:11] hydra commented on #8836
I just looked through my conversations regarding H7 + BiDirectional DSHOT, here's the comments from Robert about his experience:

[code]

[2019-09-19 19:21] aleksirastas commented on #8884
I need to try it with rc3. Im still using rc2. This will need to wait till next week.
I have unify nano pro32 thus the settings.

[2019-09-19 19:59] emski0 commented on #8836
@maGfpv  try erasing the the flash using bootloader function : " 8 Erase entire external flash" , from https://github.com/spracing/betaflight/issues/1
Before this, i had all motor spinning with dshot_bidir, but with large error. i noticed the while trying flashing several firmwares, at some point this behaviour started : the motors keep beeping at some interval when enabling dshot_bidir, and then

[2019-09-19 21:21] hObBiT-iM-bLuTrAuScH commented on #8902
The procedere described above is already part of the original instructions. So please take it for granted that I have read and considered this manual. I'm not looking for support. I'm just reporting back.

Report: No communication/ passthrough with bidir = on

[2019-09-19 21:22] haslinghuis commented on #8836
@hydra, Where to find build 8.13??? I like to try this fw. Also when using defaults after flashing a new firmware should have the same effect as erasing the config partition? Or does emski0 have a point using bl function 8?

[2019-09-19 23:18] hydra commented on #8836
@haslinghuis it's on this issue - https://github.com/spracing/betaflight/issues/1

[2019-09-19 23:58] JamesKingdon opened #8915 "BF4.1.0RC3 vbat not reading correctly"
**Describe the bug**
I installed 4.1rc3 on a HAKRC F722. Previously running 3.5.0 the battery voltage was reading correctly in the OSD and reported in configurator. With 4.1rc3 the voltage reads as 28V with or without a battery connected. I couldn't find a config file for the f722 and was wondering if that's my mistake. I checked resources and

resource ADC_BATT 1 C01

is set in both 3.5.0 and 4.1

[2019-09-20 01:14] JamesKingdon commented on #8915
Ok, not sure what's going on, but apparently it's not an RC3 issue. I reflashed with 4.0.6 and then 3.5.7 and it's behaving the same with all versions.

[2019-09-20 01:14] #8915 closed

[2019-09-20 02:22] JamesKingdon commented on #8915
Just to follow up, I confirmed from dvr recordings that vbat was working after flashing rc3, then stopped working between one flight and the next. Presumably the fc developed some sort of hw problem for reasons unknown.

[2019-09-20 06:01] maGfpv commented on #8836
@hydra and @emski0 this is exactly my hardware
(Tekko32 f3 metal 32.66), so it should work. i will try " 8 Erase entire external flash" and check if its working. I will report. Thx in advance

[2019-09-20 07:11] maGfpv commented on #8836
So i tried:
-8 Erase entire external flash
- Flashed FC 4.1/8.13 build and ESC 32.66
-Betaflight coinfigurator is the one listed here: https://github.com/spracing/betaflight/issues/1
-Dshot1200 and 8k8k
-Snippet:
set dshot_bidir=on
set debug_mode=gyro_scaled
set dyn_notch_range = medium
set dyn_notch_width_percent = 0
set dyn_notch_q = 250
set motor_poles = 14

-save

=> Behavior has changed but s

[2019-09-20 07:21] haslinghuis commented on #8836
## After flashing this firmware
https://github.com/spracing/betaflight/files/3497050/betaflight_4.1.0_SPRACINGH7EXTREME-20190813.zip

## Paste in CLI (MAKE SURE TO HAVE PROPS OFF - I DID NOT AND HAD FLY AWAY):

defaults

resource MOTOR 1 A02
resource MOTOR 2 A03
resource MOTOR 3 A00
resource MOTOR 4 A01

# feature
feature -LED_STRIP
feature -OSD
feature -TRANSPONDER
feature -AIRMODE
feature GPS

#

[2019-09-20 07:44] haslinghuis commented on #8836
It has nothing to do with Camera Control sharing TIMER 5 with Motors?

# resource show all
Currently active IO resource assignments:
(reboot to update)
--------------------
A00: MOTOR 3
A01: MOTOR 4
A02: MOTOR 1
A03: MOTOR 2
A04: FREE
A05: FREE
A06: VTX_DATA 10
A07: VTX_CLK 10
A08: FREE
A09: FREE
A10: FREE
A11: USB
A12: USB
A13: FREE
A14: FREE
A15: GYRO_CS 1
B00: VTX_CS 10
B01: VTX_POWER
B02: QSPI

[2019-09-20 12:24] haslinghuis commented on #8836
@maGfpv tried flashing in different order:

Scenario 1: reset fc; flash esc 32.6; flash fc to 3.18; enable dshot_bidir
Scenario 2: reset fc; flash esc 32.4; flash fc to 3.18; flash esc to 32.6; enable dshot_bidir

(Each step I disconnected lipo and usb).
No difference. Motor 4 not working. Arm disable flag: RPM Filter

But still - when !dshot_bdir  then esc init sound 3-3-2 instead of 3-2 beeps. W

[2019-09-20 12:47] EggsBenedict commented on #8811
@spatzengr in the goggles you have to tell the Air Unit to switch to "DJI HDL".  I tested this on the NBD **Infinity** FC, which I can't find a Unified target or target for, but just used the STM405 and a previous full dump and nothing's exploded yet :/
_**Setting > Device > Protocol > DJI HDL**_

[2019-09-20 13:36] emski0 commented on #8836
@hydra  i added ground wires and twisted them around the signal wires.
I noticed when the camera is unplugged i get 0% error, and all the motor spins.
<img width="422" alt="Screenshot 2019-09-20 at 15 27 20" src="https://user-images.githubusercontent.com/17502836/65330767-a4194e80-dbbb-11e9-8572-5b3a49c78e57.png">

When i plug the camera the error appears (signal ground 5v), (plugging & unplugging

[2019-09-20 14:41] haslinghuis commented on #8836
My camera is not connected to FC. I am not using OSD. In my case the cam is wired only to the Evo VTX, which is only connected with VBAT + GND pad on H7 ? But I do not have connected telemetry wires from the ESC's (Siskin ST 32 Plus 32.6.6).
.

[2019-09-20 15:38] emski0 commented on #8836
@haslinghuis  you don't need the ESC telemetry wire, with GCR it send the the rpm via the signal wire.
Just so you know, with BF 4.1 you need blheli32 ver 32.6.6. So no point of trying to flash lower version of blheli. Since the rpm filter was added for H7 in BF 4.1, so  rpm filter does not work on H7 with Blheli version < 32.6.6.
Give this a try:
-make sure the esc are on 32.6.6 from https://gith

[2019-09-20 18:11] skyebomb opened #8916 "Omnibusf4sd/betaflight help"
Im new to this so bare with me. Im trying to connect my r9 slim+ reciever to my fc. I used inverted sbus and uninverted sbus to try this. I connected using betaflight in ports tab i used uart1 and serial rx on the tab and clicked save and reboot. everytime i do this it resets. In configuration tab in the reciever part i used sbus in both tabs as well. Im lost on what to do. Firmware: BTFL 4.0.6.
I

[2019-09-20 18:13] jflyper commented on #8916
We are very sorry...

**Important: This is not the right place to get help with configuration issues. Your issue will be closed without further comment.**

Please get help from other user support options such as asking the manufacturer of the hardware you are using, RCGroups: https://rcgroups.com/forums/showthread.php?t=2464844, or Slack (registration at https://slack.betaflight.com/) or other use

[2019-09-20 18:13] #8916 closed

[2019-09-20 18:46] haslinghuis commented on #8836
@emski0 No luck - I'm already aware of ESC GCR 32.6.6 - I did dl flash and 8 erase entire external flash - you never know with - but to no avail. I also did remove the GPS and CAM to further isolate. I'd rather not desolder the VTX vbat+gnd (SmartAudio and Video is not connected anyway - SA goes to CH4 so I can use crossfire.luac on Taranis rather than OSD).

[2019-09-20 19:49] Gozzz opened #8919 "Pasting diff doesn't update settings in CLI Configurator build #318 chrome OS"
Configurator build number 318 chrome OS on a mac.

When attempting to paste a diff in CLI it seems to quit after "defaults nosave" line. Pasting partial diff starting at #resources completes fine.

See attached screenshot.
![Screen Shot 2019-09-20 at 11 48 25 AM](https://user-images.githubusercontent.com/18582045/65354689-2276f000-dbbe-11e9-9250-a1ced6d8f6e8.png)

[2019-09-20 22:56] SlavkoYT7SED opened #8917 "QMC5883 I2C Magnetometer not working DALRC F722 DUAL"
Respected !
I would have one question, is there any solution to work with the QMC5883 I2C Magnetometer on the RadioLink-TS100?
My Flight Controller is:
DALRC F722 DUAL STM32F722RGT6 F7
Thank you, all the best
Slavko

[2019-09-20 22:58] SlavkoYT7SED opened #8918 "QMC5883 I2C Magnetometer not working to DALRC F722 DUAL"
Respected !
I would have one question, is there any solution to work with the QMC5883 I2C Magnetometer on the RadioLink-TS100?
My Flight Controller is:
DALRC F722 DUAL STM32F722RGT6 F7
Thank you, all the best
Slavko

[2019-09-20 22:59] SlavkoYT7SED commented on #8918
Respected !
I would have one question, is there any solution to work with the QMC5883 I2C Magnetometer on the RadioLink-TS100?
My Flight Controller is:
DALRC F722 DUAL STM32F722RGT6 F7
Thank you, all the best
Slavko

[2019-09-20 23:31] #8917 closed

[2019-09-21 00:39] hydra commented on #8836
@emski0 so you confirm that bidir dshot is working for you until you connect the camera?

also do you have a `diff` for others to compare with.

If that's the case then it seems like you probably have some grounding issue or electrical noise issue.

Would be really nice to get a scope trace of what the ESC is outputting and what is being received at the pin on the CPU.  Do you have access to a sco

[2019-09-21 00:41] hydra commented on #8836
@maGfpv can you use the `<>` button when pasting in CLI output and avoid using `##` for headers as it makes things hard to read.

[2019-09-21 00:49] etracer65 commented on #8918
Please provide the information requested when you opened the issue.

[2019-09-21 02:59] laurentopia commented on #7788
Can logs be read from the Taranis now?

[2019-09-21 03:05] Mateyhv commented on #8902
I am having almost the same issue, but interestingly only on ESC #4. I flashed a SPRACING H7 Extreme with Betaflight 4.1.0 RC3. The Mamba 506 4in1 ESC was loaded with MAMBA_506_Multi_32_66.Hex, Dshot300. When Bidirectional Dshot is NOT activated all 4 motors spin correctly and follow throttle commands. As soon as Bidirectional Dshot is activated ESCs #1-2-3 work fine and show telemetry but ESC #4

[2019-09-21 03:10] Mateyhv commented on #8911
LoL

[2019-09-21 03:35] mikeller commented on #7788
@laurentopia: Writing telemetry data into a file was an option in OpenTX for at least 4 years.

[2019-09-21 04:48] #8908 closed

[2019-09-21 05:41] mikeller commented on #8919
Interesting - I was able to reproduce this with a CLRACINGF7, but on a MATEKF722 `defaults nosave` works just fine with the same Unified Target - this seems to be data dependent on the contents of the Unified Target configuration.

[2019-09-21 06:11] maGfpv commented on #8902
I have exactly the same behavior. Its listed here:
"Bidirectional DSHOT not working on SPRACINGH7EXTREME #8836"

[2019-09-21 08:23] mikeller commented on #8919
Update: I found the culprit: :drum:
[code]

No idea why, but this causes `defaults nosave` to hang.

[2019-09-21 08:33] emski0 commented on #8836
`# version
# Betaflight / SPRACINGH7EXTREME (SP7E) 4.1.0 Sep 15 2019 / 09:12:03 (644ab5d90) MSP API: 1.42

# start the command batch
batch start

board_name SPRACINGH7EXTREME

# resources
resource MOTOR 4 C07
resource MOTOR 8 NONE
resource PINIO 1 E06

# feature
feature -RSSI_ADC
feature -LED_STRIP
feature -TRANSPONDER
feature -AIRMODE
feature MOTOR_STOP
feature GPS
feature ESC_SENSOR

# beeper
be

[2019-09-21 11:37] Mateyhv commented on #8902
@maGfpv thanks! I will move my post to the #8836 thread.

[2019-09-21 11:55] hydra commented on #8836
@maGfpv @emski0 I've ordered one of the HolyBro Tekko32 Metal 4in1ESCs and a T-Motor F55 Pro II so I can check what the signals looks like on the scope with my H7 boards.  Might be a while before it gets here though.

[2019-09-21 11:58] Mateyhv commented on #8836
Hi @hydra and @joelucid I have exactly the same issue with SPH7EXTREME and Mamba 506 4in1. With Bidirectional Dshot ON, ESCs 1-2-3 work fine with telemetry error 0% but ESC4 does not, It beeps on startup but does not send telemetry and does not spin Checked in Blheli suite and Betaflight. Startup beeps are unsynchronized among ESCs, sometimes one or two ESCs keeps doing several reset beeps after t

[2019-09-21 12:47] maGfpv commented on #8836
@Hydra i have tmotor f40proiii and tekko f3 metal single escs. Dont know if its important to distinguish between single and 4in1 escs ...

[2019-09-21 13:16] Juzzle1 opened #8922 "ESCs wont initialise when using 'feature ESC_SENSOR' if 'battery_meter = ADC'"
If I enable '_feature ESC_SENSOR_', and set both _battery_meter = ESC_ and _current_meter = ESC_, everything works OK and I get current and voltage readings from the ESCs via the dedicated telemetry wire.

If I then set _battery_meter=ADC_, so that current sensing is via ESC and voltage now via ADC, the ESCs wont initialise and keep repeating the three BLHELI startup tones.
While in this state,  t

[2019-09-21 13:21] Mateyhv commented on #8836
@hydra I might be able to send you a Mamba 506 4in1. PM me if interested.

[2019-09-21 13:30] monko760 commented on #8836
Yea there is something to this camera issue.... I do have everything working but my startup tones TAKE FOREVER and when I unplug camera, the startup tones are like normal.

[2019-09-21 13:34] jflyper commented on #8922
It doesn't reproduce on Matek F722 with 4.1.0-RC3.

[2019-09-21 13:42] etracer65 commented on #8922
A possibly important point that you failed to mention is that you're also using `dshot_bidir = ON` and `dshot_bitbang = OFF`. So you're using bidirectional dshot with the timer based approach.

[2019-09-21 13:43] etracer65 commented on #8922
So try turning off `dshot_bidir` as a test to see if you still have the same behavior. Also try `dshot_bidir = ON` and `dshot_bitbang = ON`.

[2019-09-21 14:01] Juzzle1 commented on #8922
OK, so I tired with dshot_bidir = off, and everything started working.

However, switching back to dshot_bidir = on (without changing any other settings) I can no longer reproduce the problem!!!

I'll do more tests when I'm back home later.
I'm not crazy, I have two identical quads doing the same thing!

[2019-09-21 14:46] Juzzle1 commented on #8922
OK so ADC setting is a red herring here, and dshot_bitbang has no effect either way/

Seems to be to do with 'beacon RX_SET' and starting up with no SBUS signal

If I power up my quad with the TX turned off, the beeper starts going and I get the problem.
If I switch off 'beacon RX_SET' everything is OK.

It's as if the beacon signal is getting to the ESC before DSHOT is initialised somehow.... doe

[2019-09-21 14:50] Juzzle1 commented on #8922
To be clear. it's not the beacon sound I'm hearing when this happens, it's the three initial tones you hear when you power on a blheli esc, in a fairly random loop, as if the ESCs are repeatedly restarting.

[2019-09-21 14:52] hydra opened #8923 "Hardfault caused by hardfault handler."
If a hardfault occurs during early startup, before the `leds` structure is initialized, via `ledInit` the code which attempts to enable LEDs in the hardfault handler will fail and cause writes to uninitialized memory locations.  As you can imagine, this *really* doesn't help when debugging hard faults.

See:

https://github.com/betaflight/betaflight/blob/master/src/main/fc/hardfaults.c#L128

https

[2019-09-21 14:55] hydra commented on #8923
It might also be worth moving the call to 'persistentObjectInit' to at least after the zero-initialised sections have been completed, so that at least `null` checking can work on the `led` structure content, which won't right now.

[2019-09-21 15:09] spatzengr commented on #8811
@EggsBenedict , yep.  Suttumbled upon the same.  Works great.  Standard is around 10ms frames.  Fast is 5ms frames.

[2019-09-21 15:52] jflyper commented on #8922
Sounds like beacon command triggering ESC protocol recognition. Thoughts? @etracer65

[2019-09-21 16:14] haslinghuis commented on #8836
With bidirectional dshot enabled one of the ESC's (resource A03) is not recognized in Blheli32.6 configurator. But after connect - read - disconnect the FC will reboot - when you connect for the second time the ESC is displayed with one difference: Input Protocol: Unknown, The 3 other ESC shows Dshot as protocol.
I did resolder the connections, rechecked for solder bridges, VTX and CAM are not con

[2019-09-21 16:15] kill-a-watt commented on #8836
I am also having this exact same problem with the SPH7EXTREME and I'm using Gemfan Maverick 30 amp esc's running Blheli version < 32.6.6. On BF 4.1.0 tried RC 2 & 3.
Motor 4 stops working when dshot_bidir is enabled. I did try " 8 Erase entire external flash" between flashing new firmware.
I also tried unplugging the vtx and camera, with on change. Motor 4 shows 100% E and dosen't spin 1,2,3 show

[2019-09-21 16:21] etracer65 commented on #8922
I would guess that it might be sending DSHOT commands immediately on initialization and that might be interfering with the ESC protocol detection.

[2019-09-21 16:22] joelucid commented on #8922
Yeah possible. I know that it works with JEsc so it might be a blheli32 issue.

[2019-09-21 16:32] joelucid commented on #8902
This looks weird: dshot_bitbang isn't set in the diff so it should be set to default. So bidir should use bitbang - but the timer and dma allocation shows timer dshot being used.

[2019-09-21 16:32] joelucid commented on #8902
@hObBiT-iM-bLuTrAuScH could you verify what dshot_bitbang is set to?

[2019-09-21 16:40] Mateyhv commented on #8836
At this point I doubt the problem is brand ESC related, seems to be some problem for the H750 understanding the bidir dshot.

Dominic, my guess is any ESC you have on hand might help you spot the issue.

[2019-09-21 16:50] etracer65 commented on #8922
With BLHeli32 32.6.6 with `dshot_bidir = on` (without bitbang even) I've been able to confirm some level or interruption with DSHOT commands being sent early in the initialization (like of the `beacon RX_SET` was active immediately). Haven't got the complete failure but had the 3 tones, pause then a complete initialization. Would have to do with the timing of when the DSHOT command happens to come

[2019-09-21 17:34] hObBiT-iM-bLuTrAuScH commented on #8902
# get dshot_bitbang
dshot_bitbang = AUTO
Allowed values: OFF, ON, AUTO

dshot_bitbang_timer = AUTO
Allowed values: AUTO, TIM1, TIM8

[2019-09-21 18:17] Mateyhv commented on #8902
What the luck bitbang is?  😂

[2019-09-21 19:09] thowitz commented on #5383
Hi, I had the same problem and I know the receiver is definitely in ibus mode, I'm using a foxeer f405 aio flight controller and a flysky x6b receiver with a flysky fs-i6s transmitter which is also in ibus mode, the receiver is connected to UART 2 on the FC and I've enabled it in betaflight.
Many thanks
Tim

[2019-09-21 19:17] etracer65 commented on #5383
@thowitz You're commenting on an issue that's been closed for 1.5 years. Issues are not the proper place to obtain configuration or hardware support.

Try:
Facebook group: https://www.facebook.com/groups/betaflightgroup/
Slack group: https://slack.betaflight.com
RC Groups: https://www.rcgroups.com/forums/showthread.php?2464844-Betaflight-Flight-Controller-Firmware-Discussion-Thread

[2019-09-21 21:30] etracer65 commented on #8922
@Juzzle1 Can you please try this version? It adds logic to prevent DSHOT commands during the ESC's initialization and protocol detection phase.

[betaflight_4.1.0_MATEKF722.hex.zip](https://github.com/betaflight/betaflight/files/3639107/betaflight_4.1.0_MATEKF722.hex.zip)

The test scenario is having the `RX_SET` beacon active at power connect. But also test the case when it's not.

[2019-09-21 22:16] hydra commented on #8836
@Mateyhv I emailed you, yes the ESC would be helpful.  I don't have *any* BlHeli32 ESCs here to test with, agree that it's probably not brand related.  All my ESCs are BlHeli, BlHeli_S or JESC.  I used to rely on Cleanflight donations to provide me with hardware, but I only get $2 a month from that now - https://www.patreon.com/cleanflight

[2019-09-21 22:33] Juzzle1 commented on #8922
@etracer65 looks like you nailed it...

I have tested as follows:

1) Using existing (problematic) firmware, configured betaflight so that the symptoms are produced every power on (beacon RX_SET, FrSky transmitter off)

Result: https://youtu.be/1jHZIEtLFuE

2) Flashed the new firmware (full chip erase disabled) and powered on, keeping everything the same as before except firmware.

Result: ESCs in

[2019-09-21 22:36] etracer65 commented on #8922
@Juzzle1 Great! Thanks for the testing. We're just waiting for some feedback from the BLHeli32 dev to get some official information on timing, but it looks like we're on the right track. Turns out this was just a generalized bug that's been around for a while (not a common use-case though). It's just that the new BLHeli32 32.6.6 that handles inverted DSHOT seems to require a longer protocol detect

[2019-09-21 22:43] Juzzle1 commented on #8922
@etracer65 Thanks for the quick fix (again) - happy to test further if needed.

[2019-09-22 01:31] #8918 closed

[2019-09-22 05:57] laurentopia commented on #7788
I asked you if you can read it from the Taranis, not if it writes a file.

[2019-09-22 08:32] bizmar commented on #7788
Telemetry logging can be enabled in the special functions page. Logs are saved to the SD card  in a .csv which can be read by anything, the radio itself does not have a way to display the contents of logs. OpenTX companion has a viewer built in.
I log every half second, the size of the LOG folder after 6 months is 22MB.

This is how I would deal with a lost craft, which had GPS and telemetry. Open

[2019-09-22 10:25] mikeller commented on #7788
@laurentopia: Sorry, I misunderstood your question. And no, OpenTX does not yet have a text editor built in. But you can either eject the SD card and read the log file on a device of your choice, or you can connect the Taranis to something like a mobile phone or a laptop, select 'USB Storage', and then open the log file on this device. Or do as @bizmar suggested, and note down / photograph the GPS

[2019-09-22 11:06] mikeller commented on #8923
This is sort of a chicken and egg situation that we have with Unified Targets - we need a fair chunk of initialisation to happen to get to the point where we can access the configuration to configure the LEDs, and any hard fault during this initialisation will not have a good way to signal the problem.

I think the approach to have the hardfault handler check if the LEDs have been initialised, and

[2019-09-22 11:34] mikeller commented on #8902
@joelucid:

I think this is working as designed - timers 1 and 8 are both already in use, so bitbanged Dshot isn't enabled:

 CH1: SERIAL_TX 11
 TIM8:
 CH2: SERIAL_RX 12

[2019-09-22 13:13] hObBiT-iM-bLuTrAuScH commented on #8902
You mean i should set "dshot_bitbang = on" instead of auto ?

[2019-09-22 13:17] mikeller commented on #8902
@hObBiT-iM-bLuTrAuScH:

No, that won't help - bitbanged Dshot needs exclusive use of either timer 1 and timer 8, and in your configuration, both of these are used by one softserial each - we'll have to shift something else around to make this work.

[2019-09-22 13:19] mikeller commented on #8902
@hObBiT-iM-bLuTrAuScH: Try `timer c7 AF3`. This _might_ solve the resource conflict.

[2019-09-22 13:44] monrapps opened #8932 "KAKUTEF7 won't initialize ESCs on unified target #1888, "legacy" works fine"
**Describe the bug**
ESCs keep beeping and don't start.

**To Reproduce**
Flash unified target version for KAKUTEF7 #1888.
Flashing legacy version solves the problem.

**Expected behavior**
ESCs to start

**Flight controller configuration**
[code]

**Setup / Versions**
 - Holybro KAKUTEF7 from banggood
 - ESCs Tekko32 (BLHeli32.6.6) bidirectional dshot
 - TBS Unify HV (smartaudio enabled)
 - GPS U

[2019-09-22 14:03] mikeller commented on #8932
Duplicate of #8908.

[2019-09-22 14:03] #8932 closed

[2019-09-22 14:06] mikeller commented on #8919
Update 2:
- this seems to be only affecting some targets (STM32F7?) - I have not been able to reproduce this on SPEEDYBEEF4;
- this seems to affect all RX_ features - I've reproduced it whit RX_MSP as well, but the TELEMETRY feature is fine;

[2019-09-22 14:35] joelucid commented on #8902
@mikeller I’m surprised though that dma streams are then allocated like they would for timer dshot. Is this something you added?

[2019-09-22 14:57] 0crap commented on #8888
Sorry, I've been off the grid for a week because of unexpected private problems.
So I could not reply/test.
All OK now and I just tested the latest nightly, including this fix.

The VTX works great on two setups, one VTX connected to a MATEKF722, the other to a MAKTEKF405STD.

Thx for the effort!

[2019-09-22 15:24] hObBiT-iM-bLuTrAuScH commented on #8902
I copied the motor ressource remapping etc and did the instructions. But i did not set:

"timer c7 AF2" does the trick. Got 5 beeps, can connect in blheli, and motors spin in betaflight.

 amazing work, but where did it come from. Im pretty sure i did not put this in with my settings.

[2019-09-22 15:26] hObBiT-iM-bLuTrAuScH commented on #8902
did the trick

[2019-09-22 15:32] hObBiT-iM-bLuTrAuScH commented on #8902
also works with dshot600

[2019-09-22 15:46] hObBiT-iM-bLuTrAuScH commented on #8902
5 beeps with RC4 after flashing without making any setting. dshot600, bidir = on as default. thread close?

[2019-09-22 18:25] wildflyer opened #8933 "gps rescue"
i have an early nightly version of betaflight 4.1 and there I have different "flyback" modes for gps rescue, but they dont work. are they implemented now in the latest 4.1 version ? (I mean the modes where you can choose for example that the copter will NOT climb to the highest flown altitude and it would fly directly without climbing back to you)

[2019-09-22 19:58] etracer65 commented on #8933
"early nightly version" doesn't mean anything. Yes, those features are included. How about trying the latest release candidate.

https://github.com/betaflight/betaflight/releases/tag/4.1.0-RC4

[2019-09-22 20:45] mikeller commented on #8902
@joelucid: I thought that was part of one of the changes that you added (adding an `AUTO` option for `dshot_bitbang`) - if `dshot_bitbang` is `AUTO`, and not enough timers / DMA for bitbanged Dshot can be found it will fall back to timer based Dshot.

[2019-09-22 21:09] ElieLiabeuf opened #8934 "vtx_low_power_disarm does not set power to its lowest value"
**Describe the bug**
According to the documentation: https://github.com/betaflight/betaflight/wiki/VTX-CLI-Settings `vtx_low_power_disarm` should set vtx power to its lowest value.

**To Reproduce**
* set your vtx-tables with at leat 2 power level
* set `vtx_low_power_disarm` to ON
* when powering your quad it will be on the second power level not the first one

**Expected behavior**
When setting

[2019-09-22 23:00] functionpointer commented on #8934
Thanks for the report!
The power levels do actually start at 1 since vtxtables have been introduced. 0 means unknown now. So the constant is correct.

That said, i have managed to reproduce the problem. Not sure what the problem is yet. It worked fine last time i touched it in https://github.com/betaflight/betaflight/commit/ebf2dcdb0eabc0994794137e731284fc227511b1. Also pitmode via AUX switch seem

[2019-09-22 23:34] laurentopia commented on #7788
That's a decent solution. Thanks.

[2019-09-23 03:09] etracer65 commented on #8934
@ElieLiabeuf Can you please provide your `diff` as requested when you opened the issue. It provides important information useful when troubleshooting problems.

[2019-09-23 03:15] etracer65 commented on #8934
And I think the problem is here:

https://github.com/betaflight/betaflight/blob/a54c33b952e1d1af4c1aa313daee096c7ba71d0c/src/main/drivers/vtx_table.h#L52-L56

If a unified target was used (why the `diff` is important) then `USE_VTX_RTC6705` will be defined and the `VTX_TABLE_DEFAULT_POWER` will be set to 2 instead of 1.

We'll have to think about the best way to fix this. Wouldn't be a problem for

[2019-09-23 03:52] Jryan819 commented on #8836
Hello everyone.

I was relieved to see this thread knowing im not the only one experiencing this issue. I was pulling my hair out tonight.
Exact same problems as listed above. Ive tried everything also resourcing Motor4 to LED.
Results vary everytime between which motors want to work. RPM errors 20-100%. Along with passthrough to BLheli with error codes "corrupted firmware" , "missing firmware", i

[2019-09-23 03:54] joelucid commented on #8902
@mikeller: not really. The ``AUTO`` option uses ``dshot_bitbang`` when ``dshot_bidir`` is on and timer dshot otherwise. There's no automatic fallback from ``dshot_bitbang`` to timer dshot if no timers are found.

[2019-09-23 03:57] mikeller commented on #8902
@joelucid: Yep - you are correct. It should fail and disable all motor output.

[2019-09-23 06:17] ElieLiabeuf commented on #8934
Yes I used the unified target version and not the legacy one. Issue is updated with the diff. I can't post the ressources at the moment.

[2019-09-23 06:57] #8922 closed

[2019-09-23 09:15] #8840 closed

[2019-09-23 09:39] joelucid commented on #8836
Just installed rc3 on an h7 extreme, switched on bidir and scoped the motor traces. Two motors show an artifact after the line is set to input. It looks like the line is driven low just before it's switched to input:

![IMG_2123](https://user-images.githubusercontent.com/18134492/65415809-c945d100-ddf6-11e9-9765-c5c07840cf5f.jpg)

[2019-09-23 10:36] wildflyer commented on #8933
ok, I will wait for the final version and then update. thx

[2019-09-23 10:45] #8933 closed

[2019-09-23 11:08] joelucid commented on #8836
Very weird. Looks like this happens in ``pwmDshotSetDirectionInput`` when ``LL_TIM_IC_Init`` is called. Returning one line above it prevents the artifact. @hydra does this give you something to work with?

[2019-09-23 11:21] etracer65 commented on #8934
I just think the concept of setting the default power index to 2 for cases where there's and onboard rtc6705 is a legacy from pre-vtxtable and no longer valid. rtc6705 is using vtxtable now so the power index should default to the first entry just line any other VTX type.

The logic looks flawed anyway with setting `VTX_RTC6705_DEFAULT_POWER_INDEX` to 2. From what I can see this would set it to th

[2019-09-23 11:33] mikeller commented on #8934
@etracer65: Not sure if these are 0 based or 1 based. Setting this to not the minimum value on some RTC6705 stems from the fact that some models have a built in power switch, and therefore the minimum power level is 'off'.

[2019-09-23 11:34] functionpointer commented on #8934
`VTX_RTC6705_DEFAULT_POWER_INDEX` was set to 2 for consistency. On normal vtxes (SmartAudio, tramp, etc) the first entry (index 1) in the table sets the vtx to a low power state. However, in the case of rtc6705, it turns the vtx off (if supported by the hardware). This is a unique feature to the rtc6705, as normal vtxes don't support complete power-down.

By contrast, normal vtxes support pitmode

[2019-09-23 11:52] etracer65 commented on #8934
The `vtxtable` example for RTC6705 disputes this a little:
[code]
So setting to 0 implies "OFF", 1 should be low power, and the current default of 2 sets to high power.

[2019-09-23 11:58] etracer65 commented on #8934
Another option is to fix the pit mode processing for RTC6705 and make it actually work (by setting the power value to 0). The the `vtxtable` for it can be corrected to just have 1 = low, 2 = high and not include the "pit mode" value just like every other vtx protocol.

[2019-09-23 12:16] etracer65 commented on #8934
@mikeller

The "index" to the `vtxtable` power levels is 1-based. So 1 is the first entry in the table, 2 the second, etc. The power values themselves for RTC6705 (the value set in the register) is 0-based. So 0 is off, 1 = low, 2 = high.

The fundamental flaw is that we're treating the `vtxtable` and pit mode functionality differently between SA/tramp and RTC6705. For SA/tramp pit mode is handled

[2019-09-23 12:18] functionpointer commented on #8934
@etracer65 Ill see if i can rework the driver this evening.

[2019-09-23 12:26] etracer65 commented on #8934
@functionpointer That's really something beyond a bug fix that would normally be included after a feature freeze. So I think we'll need to go with the short term bug fix and then the driver rework can be added after release and given adequate time for testing.

[2019-09-23 12:36] Mateyhv commented on #8820
Agree, would like to see such a feature. I don't think it would be too hard to implement.

[2019-09-23 13:05] etracer65 commented on #8934
@ElieLiabeuf Can you please try this version?

[betaflight_4.1.0_STM32F405.hex.zip](https://github.com/betaflight/betaflight/files/3642217/betaflight_4.1.0_STM32F405.hex.zip)

**IMPORTANT: make sure you flash WITHOUT doing a full chip erase.** Since this is a unified target we want to preserve your target level settings and a full chip erase would reset them. This is a special case where I'm only

[2019-09-23 15:57] hydra commented on #8836
can you try updating the GPIO register to manually set the bit high before the call to `LL_TIM_IC_Init` and retest?

[2019-09-23 17:04] jflyper commented on #8836
Hmm... it looks as if a large capacitance suddenly appeared when switching to input ...

[2019-09-23 17:19] Mateyhv commented on #8836
@hydra, Mamba 4in1 blheli32 esc on the way. Should show up in 2-4 days.

[2019-09-23 19:20] joelucid commented on #8836
I think this is just the normal capacitance of the dshot line. The issue is that the line was actively driven low when switching to input, but is then pulled up again by the pull-ups. Same capacitance generates very different rise/fall times when driven actively vs pulled up.

[2019-09-23 19:42] ElieLiabeuf commented on #8934
@etracer65 Yep it works.

Thank you to all of you !

[2019-09-23 20:56] functionpointer commented on #8934
So i just changed the rtc6705 driver:
https://github.com/functionpointer/betaflight/tree/fix_rtc6705_side_effects
Unfortunately, the OSD display of the power level still doesnt work and i suspect that vtx_low_power_disarm isnt working either. Still not sure. Ill investigate and fix. Once i am done i will post a PR.

[2019-09-23 21:31] JosefB87 commented on #3094
This was a very useful script, I used it quite a lot on OpenTX 2.2.2. Unfortunately after updating OpenTX to 2.2.4, (and Lua to 1.3.0, with Betaflight 4.0.5) it doesnt work anymore, I can select the script on the LUA scripts page, but nothing else happens, I can't configure any inputs. Does someone know what could be the reason and update the script so it works on newer versions on OpenTX and Lua?

[2019-09-24 00:51] Jetrell commented on #7229
@andrejpodzimek  Just out of interest. Do you find a fix to get the Split 2 audio and SA working together?
The suggested TBS components mod works with the Split 1.  But I have had no success either, with the Split 2 and later models.

[2019-09-24 01:35] stitchfpv opened #8941 "omnibus f4 spektrum sat"
**Describe the bug**
spektrum sat not showing movement in receiver tab hasn't worked since 3.5.7
**To Reproduce**
set up uart 1and spektrum sat in config tb

**Expected behavior**
receiver tab to show movement

**Flight controller configuration**
[code]

[2019-09-24 01:57] andrejpodzimek commented on #7229
I just don’t use audio. VTXs with a built-in microphone don‘t need it anyway and many VTX monitors don’t support it either. Finding a combination of resistors and capacitors that could possibly work is way beyond my capabilities and not worth the effort anyway. (Needless to say that I don’t fly FPV, ever, and only have video installed to record OSD numbers. So I don’t miss audio all that much.)

[2019-09-24 02:05] #8941 closed

[2019-09-24 07:56] Mateyhv commented on #8756
I agree with all comments above. This feature is out of betaflights scope and way more complex than initialy suggested. Better look at Inav that already has something quite similar to your request.

[2019-09-24 09:37] Klaus-Michael opened #8943 "vtx_pitmode on a switch (modes tab) does not work on 4.1 RC 4"
**Describe the bug**
When configuring "VTX PIT MODE" in the Modes tab and changing the VTX from "free" to "race" the VTX powers up in PID Mode OK, but does not leave pid mode when changing the Mode with the Configured AUX Channel. The same setup works OK on 4.0
Its possible to leave the PID Mode when using the OSD menu.

I don't know if this only affects the Pro32 Nano.

**To Reproduce**
Steps to

[2019-09-24 10:24] IvoFPV commented on #8943
#8940 will probably fix this.

[2019-09-24 10:32] AmiSMB commented on #8820
This functionality is in [iNav](https://github.com/iNavFlight/inav). Maybe this can be back ported

[2019-09-24 10:58] underhog37 opened #8944 "aikon f4 (legacy) 4.1.0. rc4 LED strip not working"
**Important: This is not the right place to get help with configuration issues. Your issue will be closed without further comment.**

Please get help from other user support options such as asking the manufacturer of the hardware you are using, RCGroups: https://rcgroups.com/forums/showthread.php?t=2464844, or Slack (registration at https://slack.betaflight.com/) or other user support forums & gro

[2019-09-24 11:07] Jetrell commented on #8934
I was helping a friend over the phone upgrade his FuryF4OSD. And he is having the same `vtx_low_power_disarm` issue with a TBS Unify Pro 5.8 V3.
This VTX has -25 200 500 800mw.
 200mW now becomes the default `vtx_low_power_disarm` value.

I'm not having this issue with mine and we have the same hardware. So I sent him my VTX tables to paste into his CLi and nothing changed with his...problem remai

[2019-09-24 11:19] underhog37 opened #8945 "LED strip not working"
LED strip not working after flashing (Aikon F4 legacy 4.1.0 rc4). i use the LED + Buzzer combo which works on Bf 4.0 or lower. now only buzzer works

[2019-09-24 11:38] mikeller commented on #8945
@underhog37: Can you please refrain from posting the same issue into multiple repositories / posting into the wrong repository?

Closing as duplicate of #8944.

[2019-09-24 11:38] #8945 closed

[2019-09-24 11:39] joelucid commented on #8836
I'm not entirely sure why - but this branch fixes the artifacts: https://github.com/joelucid/betaflight/tree/fix_bidir_h7. I just switch the line to output_pp while initializing the timer input channel, suppressing the transient artifact. Could someone test if this makes bidir actually work?

I've tried a long time to make this faster using the LL driver instead of a complete reconfig of the pins,

[2019-09-24 12:37] TheIsotopes commented on #8836
@joelucid tested your branch on latest master 064ca9b with a H7 Extreme
all motors now spinning ... but still to many errors

![Zwischenablagebild](https://user-images.githubusercontent.com/29702171/65511841-5dd43000-ded8-11e9-9d5f-f27e553088c2.jpg)

![Zwischenablagebild (2)](https://user-images.githubusercontent.com/29702171/65512307-3df13c00-ded9-11e9-9ae3-c43dc4df3fa4.jpg)

[2019-09-24 13:10] TheIsotopes commented on #8836
@joelucid Tested also on a H7 NANO with JESC ... everything works normally as before

![Zwischenablagebild](https://user-images.githubusercontent.com/29702171/65514214-2b790180-dedd-11e9-8dc7-f4cef4f58c5d.jpg)

[2019-09-24 18:58] markusbrand opened #8948 "After flashing BF4.1 on my MatekF411RX FC any RC (tested 1-4) the motors spin like crazy if controlling via transmitter (Frsky x9d)"
**Describe the bug**
My motors get crazy after connecting my transmitter (Taranis x9d+) via SPI frsky_X and turn on arm switch. If I raise the throttle, they spin faster and faster - if I try to lower throttle, they don't spin slower anymore, if I do roll, pitch ... they go crazy with full speed and the only solution is to disarm.

**To Reproduce**
After flashing BF4.1 RC4 and setting it up proper

[2019-09-24 19:00] IvoFPV commented on #8948
@markusbrand Props on or off?

[2019-09-24 19:14] markusbrand commented on #8948
Props off of course otherwise it would damaged a lot 😀

On Tue 24. Sep 2019 at 21:01, Ivo <notifications@github.com> wrote:

[2019-09-24 19:15] IvoFPV commented on #8948
@markusbrand Take a look at this video...
https://www.youtube.com/watch?v=xBaefeQtA1c

[2019-09-24 19:49] markusbrand commented on #8948
Thanks a lot for sharing! Got your point now. I'll immediately try tomorrow
outside with props, currently dark outside. I'll keep you posted!

On Tue 24. Sep 2019 at 21:15, Ivo <notifications@github.com> wrote:

[2019-09-24 19:59] joelucid commented on #8948
Just sounds like wind-up, yes. One thing I notice is that the default of motor_poles hasn’t been changed. The f411rx is often used for micro builds around 3-4” where most motors have 12 poles. Not sure what your setup is.

[2019-09-24 20:07] markusbrand commented on #8948
Hi, thanks for your help! It's just motor wind up - I did a stupid beginner mistake. The quad is 5" and motor pole of 14 is correct. I just did a hover test and everything works as expected! Keep on going with your great work on Betaflight!

[2019-09-24 20:07] #8948 closed

[2019-09-24 23:10] Mateyhv commented on #8795
For simple efficiency I don't see the need of sending the info back to the radio and again to the drone for OSD display. At some point you may loose return telemetry in wich case any relevant info on te OSD will be lost. Why dont just calculate them onboard and display them via the OSD menu? Inav already has watt/km and Amp/km indicators all calculated onboard.

Of course there might be other usef

[2019-09-25 00:09] mikeller commented on #8795
@Mateyhv: The appeal for implementing this by displaying an RC channel value is the versatility of the solution - as you say iNav already has 2 different metrics only to cater for long range users - if you'd want to cover all different aspects then you'd end up having to add / maintain 10 or so similar custom metrics. Thanks to the flexibility of the OpenTX mixer (including support for lua), these

[2019-09-25 02:21] SOTXFPV opened #8949 "Rate Profile on a 3pos switch not working 4.1.0 RC4"
TARGET: Mamba F722
Rate profile on a switch via adjustments tab to change rate profiles during flight. It will switch once and after that stall on that profile. I believe this is related to it not saving the profile before switching in the code might of got mixed up.
I emulated the above scenario in betaflight and confirmed that it would still switch the profiles when I toggled the 3pos switch on

[2019-09-25 02:32] Mateyhv commented on #8795
@mikeller I can clearly see the advantage of the system and the open door for a lot of possibilities. Actually the idea is great! My only concern was to rely on a down/up link and specially on rx down link on long range flights but that is related just to the example not to the feature itself. ☺

[2019-09-25 02:51] mactac commented on #8795
What about implementing both?   The code for the calculation is over at inav, should be easy to port over.

[2019-09-25 03:50] olegklimov opened #8950 "Kakute F7 Mini -- crazy barometer"
I flashed 4.1.0-RC4 on my Kakute F7 mini board, using 10.6.0-rc1 configurator. It asked "load custom defaults" and I pressed yes.

Everything seems to work (great job with unified targets, I know this kind of changes can be painful).

But, the barometer is crazy. It reports 80 meters and then suddenly zero. I was previously using betaflight 3 series, barometer worked ok.

![image](https://user-ima

[2019-09-25 04:02] olegklimov commented on #8950
I tried Legacy version of the firmware for my board.

Target: HBRO/KAKUTEF7MINI
Firmware: BTFL 4.1.0

The barometer is still crazy:

![image](https://user-images.githubusercontent.com/18546213/65568368-5760ab00-df0e-11e9-8a42-89f2a12fb5df.png)

So this doesn't seem to be the problem introduced by unified targets.

[2019-09-25 04:06] olegklimov commented on #8950
Hey @mikeller can you please direct me to "betaflight hardware troubleshooting guide" of some kind so I can fix it and come back with a patch, not a bug report?

[2019-09-25 04:12] mikeller commented on #8950
@olegklimov:

It's probably easier if you post the information that you were requested to post when opening this:

**Flight controller configuration**
Create a `diff` and post it here in a code block. Put ``` (three backticks) at the start and end of the `diff` block (instructions  on how to do a diff: https://oscarliang.com/use-diff-not-dump-betaflight/)

Use `resource show all` to create a resou

[2019-09-25 04:27] olegklimov commented on #8950
4.1.0-RC4 (baro doesn't work, the rest works)
[code]

3.5.7 (baro works, I reflashed and checked again)
[code]

"how are the different components wired up" -- nothing unusual, SBUS from DJI FPV, a GPS unit. Both work, I can control the drone and I can see 3d fix from GPS. Seems unlikely something interferes with the barometer, because 3.5.7 works fine.

[2019-09-25 05:12] frankitunes opened #8951 "Beeper Vifly V2 does not beep when actioning switch"
Hi and thanks for all the work done on bf!

ISSUE : The beeper does not beep when actioning the radio dedicated switch **(but the esc beacon are beeping correctly)**

I have **the same issue** on 2 different setup...
1 - 5" frame based on Mamba F722 with a Vifly 2 under 4.0.6 (MAMBAF722 (MBF7) 4.0.6)
2 - 3" frame based on Mamba mini stack F411 with a Vifly 2 under 4.0.5 (FURYF4OSD (FY4O) 4.0.5)

I

[2019-09-25 07:55] McGiverGim commented on #8951
Maybe I'm wrong but...

This disables the beeper in a switch.

[2019-09-25 08:08] jflyper commented on #8950
Tested with Nucleo-F746ZG, with Adafruit BMP280 breakout module.
`baro_i2c_address` was set to `119` as Adaruit's module pulls up SDO to VDDIO.

BMP280 seems to work in both legacy and unified firmware.

4.1.0-RC4 (legacy)
[code]

4.1.0-RC1 (unified)
[code]

Sensor graph with 4.1.0-RC4 (unified)
![Betaflight_Configurator](https://user-images.githubusercontent.com/14850998/65581530-96e2d200-dfb6-11

[2019-09-25 08:14] jflyper commented on #8950
Above test shows that I2C, barometer sensor code and BMP280 driver works.

I came to notice that the sensor itself is detected, but values read out by configurator is not good.

@olegklimov Can you supply `diff` output from 3.5.7 and 4.1.0-RC4, as well as `status` from both versions?

[2019-09-25 09:01] mikeller commented on #8950
@olegklimov: I can tell you what the 'problem' is - this also goes a long way to show why it is important to supply the information you are asked for to help the people helping you.

Also, I have psychic powers today, and can tell you that you are living close to the sea (or in a very flat country). :stuck_out_tongue:

One thing that is a problem is that the graph in configurator has the wrong tit

[2019-09-25 11:22] #8934 closed

[2019-09-25 11:30] #8943 closed

[2019-09-25 12:25] frankitunes commented on #8951
Thanks a lot, thats it... I search ecerywhere except this and I asked on several forums...
Sorry for the disturbance.
Thanks again.$
Best!!!

[2019-09-25 12:25] #8951 closed

[2019-09-25 12:29] #8919 closed

[2019-09-25 16:26] azixaka opened #8954 "CL Racing F7 V1.0 PitMode Switch Is Broken"
I am on 4.1 non-legacy dev build 1892 and the PitMode that supposed to switch off VTX via the VTX Pit Mode switch doesn't work.

It works on all stable 4.0 versions including the 4.0.6

Tried this:

resource PINIO 1 A14
set pinio_box = 39,0,0,0
save

Also tried assigning it to 41 in case it's got something to do with the mode itself. No luck.

Not sure if it is fixed by this - https://github.com/b

[2019-09-25 19:39] drozina opened #8953 "short circuit on board"
I was trying to bind my drone with the controller, but when I went to push the button on the board I used a knife and had the battery connected, at that time my drone turned off and on again. Now it is turning on normally, when I apply the default settings on betaflight it works, but when I put the factory settings it gets a flashing red led (which was previously colored) and doesn't bind. Did I r

[2019-09-25 22:41] etracer65 commented on #8953
**Important: This is not the right place to report faulty / broken hardware. Your issue will be closed without further comment.**

Contact the manufacturer or supplier of your hardware, or check RCGroups https://rcgroups.com/forums/showthread.php?t=2464844 to see if others with the same problem have found a solution.

Alternate discussion options:

Facebook group:
https://www.facebook.com/groups/b

[2019-09-25 22:41] #8953 closed

[2019-09-26 02:00] olegklimov commented on #8950
Yes, I can confirm -- without GPS lock it shows normal barometer readings!!! 4.1.0-RC5, not legacy version.

Probably you are very much used to Sensors being what it is in the code. From outsider's perspective (that I still have despite reading some `gps_rescue.c` code) sensors mean hardware. I visit that tab in the configurator to check if my sensors are working.

To test the barometer, I lift my

[2019-09-26 02:00] #8950 closed

[2019-09-26 02:18] mikeller commented on #8950
@olegklimov:

Agreed. All that betaflight/betaflight-configurator#1690 is fix the discrepancy between name and contents - getting back to providing barometer data on the 'Sensors' tab is a change that will have to wait until after the upcoming release - at the moment there isn't even an MSP command to poll barometer readings - the existing command is MSP_ALTITUDE, and shouldn't be changed as this

[2019-09-26 03:50] #8949 closed

[2019-09-26 05:08] maGfpv commented on #8836
Tested rc5 with my h7extreme and tekko32 f3 metall esc (32.66). Still having the same issue as mentioned above.

After activating bidirectional dshot motor 1 starts to arm and spin when lipo is plugged in.

[2019-09-26 10:57] TheIsotopes commented on #8836
@hydra @joelucid I tested your branch again with the current master of rc5
This time I reconfigured from scratch and had to find that the led feature has a disturbing effect.
I have attached again two screenshots. first screenshot is without led feature and on the second screenshot is the led feature enabled. you can see that the led feature causes an increased error rate

![h7e_bidir_ledoff](http

[2019-09-26 12:17] haslinghuis commented on #8836
I like to test this on my board for comparison. After following the wiki I have setup a fedora machine, cloned JoeLucid's branche and I am able to build a hex file for the target SPRACINGF7DUAL. But when I try:  <make SPRACINGH7EXTREME> it complains that there is no rule to create target <> ? So, how to create this target?

[2019-09-26 12:38] hydra commented on #8836
@haslinghuis 1. make sure you're on the right branch.  When you clone a repo you will be looking at the default branch which may not be the one you want, use `git branch` to show the current branch, use `git checkout ...` to checkout the branch you need. for more help git and building BF please refer to the git manual and tutorials and the BF developer docs.  Let's try and keep this thread on-topi

[2019-09-26 12:43] hydra commented on #8836
@joelucid glad and also interesting that my suggestion helps with this.  What do you make of @TheIsotopes finding that the LED strip feature also seems to affect it?

[2019-09-26 12:44] hydra commented on #8836
@TheIsotopes with LED strip off, can you confirm that it otherwise works for you?  flyable?

[2019-09-26 12:52] hydra commented on #8836
@TheIsotopes I double checked the schematics for the H7NANO and the H7EXTREME, the motor outputs 1-8 and LED strip pins are identical on board boards.  both boards share the exact same batches of components too, e.g. cpu, regulators, capacitors, resistors, fets, resonators, etc.  With both motor outputs 1-8 and led strip there is nothing connected to the MCU other than the solder pad for the signa

[2019-09-26 14:30] TheIsotopes commented on #8836
@hydra here is my quad from above ... left side is front
![quad_above](https://user-images.githubusercontent.com/29702171/65696996-7da35980-e07a-11e9-8ca0-17d28aa5cff9.jpg)

[2019-09-26 14:32] TheIsotopes commented on #8836
@hydra tested only on the bench

[2019-09-26 14:46] haslinghuis commented on #8836
I confirm with hex build from @joelucid branche it works like a charm:

# dshot_telemetry_info
Dshot reads: 1040475
Dshot invalid pkts: 0
Dshot directionChange cycles: 1028, micros: 2

Motor      eRPM      RPM      Hz   Invalid
=====   =======   ======   =====   =======
    0      3200      400       6     0.00%
    1      3100      387       6     0.00%
    2      3200      400       6     0.00%

[2019-09-26 15:08] haslinghuis commented on #8836
@TheIsotopes : I do not want to be rude but I am missing your ground wires to the ESC pads on the FC in above picture?

[2019-09-26 16:06] maGfpv commented on #8836
@haslinghuis where can i find the hex file? Am i Right, i have to build it? May you can  share your file with us?

[2019-09-26 16:29] azixaka commented on #8954
Broken still. :(

Another thing I noticed while taking a diff is why is it based on the STM32F7X2 version? I thought X2 is for dual gyro boards only. The CLR F7 V1.0 has just one gyro.

diff all

# version
# Betaflight / STM32F7X2 (S7X2) 4.1.0 Sep 22 2019 / 13:06:12 (a54c33b95) MSP API: 1.42

# start the command batch
batch start

# reset configuration to default settings
defaults nosave

board_na

[2019-09-26 16:35] haslinghuis commented on #8836
@maGfpv - test with caution at your own risk - it is not committed yet to main branche:

[betaflight_4.1.0_SPRACINGH7EXTREME.hex.zip](https://github.com/betaflight/betaflight/files/3658862/betaflight_4.1.0_SPRACINGH7EXTREME.hex.zip)

[2019-09-26 17:45] haslinghuis commented on #8836
@joelucid Did you also see #https://github.com/betaflight/betaflight/issues/8430#issue-456512912 which may effect Pulldown/PullUp on F7 and H7.

[2019-09-26 21:41] pmarkiewicz opened #8957 "Smartaudio 1 on AKK vtx is broken (works on 4.0)"
**Describe the bug**
No reaction from VTX after installation 4.1 RC5.
Works after installation 4.0
Issue with 2 VTxs one AKK and one Eachine (2 different machines, 2 different FC)

**To Reproduce**
No reaction of VTx after any changes to VTx settings on console after save.
vtx_low_power_disarm set to OFF

**Expected behavior**
VTx should change params

**Flight controller configuration**
[code]

[

[2019-09-26 22:03] Cc2Gre opened #8958 "D_min debug mode is not D_min, but DSHOT RPM"
D_min debug mode is not D_min, but DSHOT RPM

[2019-09-26 22:04] Cc2Gre commented on #8708
Great !

[2019-09-26 22:07] IvoFPV commented on #8958
Please provide the requested information when opening this issue, paste a `diff`.
Are you saying it gets set wrong in the configurator?

[2019-09-26 22:12] Cc2Gre commented on #8958
ok sorry !

Entering CLI Mode, type 'exit' to return, or 'help'

#
# Building AutoComplete Cache ... Done!
#
# diff all

# version
# Betaflight / OMNINXT7 (ONX7) 4.1.0 Sep 25 2019 / 14:01:12 (08e8afa09) MSP API: 1.42

# start the command batch
batch start

# reset configuration to default settings
defaults nosave

board_name OMNINXT7
mcu_id 002600423136511136323831
signature

# feature
feature GPS

[2019-09-26 22:14] Cc2Gre commented on #8958
![ISSUE](https://user-images.githubusercontent.com/55858508/65728576-ad268600-e0bb-11e9-8b7e-5a9e3550ecd2.JPG)

[2019-09-26 22:17] IvoFPV commented on #8958
@Cc2Gre Interesting, could you post that log?

[2019-09-26 22:20] Cc2Gre commented on #8958
Apparently yes because when I chose d_min, it is confirmed in the configurator but it does not correspond to the curves and the title...

[BTFL_BLACKBOX_LOG_20190926_183356.zip](https://github.com/betaflight/betaflight/files/3660126/BTFL_BLACKBOX_LOG_20190926_183356.zip)

[2019-09-26 22:22] Cc2Gre commented on #8958
![ISSUE (2)](https://user-images.githubusercontent.com/55858508/65728957-e4e1fd80-e0bc-11e9-915e-56a932910904.JPG)

[2019-09-26 22:23] IvoFPV commented on #8958
You should build a newest version of blackbox explorer and test again.
![image](https://user-images.githubusercontent.com/50072760/65728988-fdeaae80-e0bc-11e9-82e8-cc20f02c55c3.png)

[2019-09-26 22:25] Cc2Gre commented on #8958
Ok ! thanks for your time.

[2019-09-26 22:29] etracer65 commented on #8957
That VTX is SA 2.0

[2019-09-26 22:42] Cc2Gre commented on #8958
It works fine !

[2019-09-26 22:42] #8958 closed

[2019-09-27 04:18] goooodday opened #8959 "Matek F722-SE Unstable Take-off"
I build with Matek F722-SE.
Up the throttle and the drone jump and spin.
Betaflight firmware : 4.0.6

video : https://youtu.be/OI60AGEmyws

Below is the dump file
------------------------------------
<pre>
# version
# Betaflight / MATEKF722SE (MF7S) 4.0.6 Sep  1 2019 / 00:51:20 (2a64051a2) MSP API: 1.41

# start the command batch
batch start

board_name MATEKF722SE
manufacturer_id

# name
name Goo

[2019-09-27 07:56] Mateyhv commented on #8959
Are you sure the board is correctly configured?

[2019-09-27 08:46] ozzzp opened #8960 "integrating blackbox logger feature in RunCam Device Protocol"
Hi, I have a Mobula7 HD cinewroop with the Caddx Turtle V2 1080p sd-recordable camera, and   is works fine with RunCam Device Protocol via two extern wires as the tutorial in the Betaflight wiki.

However, the FC, CrazyBeeF4FR, does not has on board memory. Hence I cannot get blackbox log on board and the extern openlog logger is too large and heavy for the tiny Mobula7 HD(There is a sd card in Mo

[2019-09-27 09:32] hydra commented on #8836
@haslinghuis can you please try enabling the LED strip feature, configure a few LEDs and re-check the `dshot_telemetry_info` command?

[2019-09-27 10:04] haslinghuis commented on #8836
With LED strip feature enabled and configured some LEDs
#

# dshot_telemetry_info
Dshot reads: 606044
Dshot invalid pkts: 0
Dshot directionChange cycles: 1016, micros: 2

Motor      eRPM      RPM      Hz   Invalid
=====   =======   ======   =====   =======
    0     19800     2475      41     0.00%
    1     20000     2500      41     0.00%
    2     18200     2275      37     0.00%
    3     2000

[2019-09-27 10:36] haslinghuis commented on #8836
@hydra Ok, Done. With LED strip feature enabled and configured some LEDs (and saved). Only changed is the output after the motors from zero values to non zero values...

Also on above picture I don't see ground cable for ESC signal and the SDCard socket is not flat?

`# dshot_telemetry_info
Dshot reads: 10205887
Dshot invalid pkts: 1
Dshot directionChange cycles: 1016, micros: 2

Motor eRPM RPM Hz

[2019-09-27 11:00] hydra commented on #8836
@TheIsotopes As @haslinghuis correctly noted there is no ground wire wrapped around the ESC signal wire going to your ESCs,  please can you add them and re-test, an updated photo of this once you've done it would be good too.

You could even use small gauge shielded cable, like the FrSky antenna cables, for the motor signal and ground connections to each ESC.

With regard to the SD card, it'll be

[2019-09-27 11:04] etracer65 commented on #8959
First, don't provide a `dump`, the instructions ask for a `diff`.

You're problem is caused by one or more of the following configuration errors:
1. Board/gyro alignment is incorrect. Make sure the 3D model movement on the Setup tab matched the real motions of the quad. Fix the alignment on the configuration tab if needed.
2. Motor order is wrong. Test each motor on the Motors tab (PROPS REMOVED!)

[2019-09-27 11:04] #8959 closed

[2019-09-27 11:07] etracer65 commented on #8960
No, this is not possible. Your camera does not expose the SD card as a mass storage device first of all so the camera is not capable of this. And secondly Betaflight requires a direct SPI connection to the SD card and doesn't support writing to mass storage devices.

[2019-09-27 11:52] haslinghuis commented on #8836
One 10" props (motor 3) was broken during this issue. New props arrive tomorrow - so have to wait for flight test. With three props it does not lift. Because of much vibration (think have to replace a motor or shaft) - when I put more than 50% throttle it will cut power to the motors (have to re-arm)

[2019-09-27 14:33] goooodday commented on #8959
You're Answer is incorrect.

This problem is firmware filter error!

[2019-09-27 14:45] jflyper commented on #8960
Two thoughts here.

1. If the craft can carry Caddx Turtle V2, external logger is at a fraction of the weight and size of that device. I would just tack the logger somewhere accessible, provided there is no way for me to do bb logging.

2. The serial protocol that Caddx Turtle V2 use (whatever that is), can be extended by Caddx so that the camera can record incoming serial bb log stream from at re

[2019-09-27 14:57] #8744 closed

[2019-09-27 15:48] RigelM13 opened #8962 "BF 4.1RC5: Integrated Flash not detected in Matek F722SE Unified target"
**Description**
The unified target of Matek F722SE does not detect the integrated Flash.
If legacy version is installed instead, the integrated Flash is detected.

**To Reproduce**
Install "BF 4.1RC5 Matek F722SE" unified target on Matek F722 mini FC and try to select the "Integrated Flash" on the BlackBox settings.

**Setup / Versions**
 - FC: Matek F722 Mini;
 - FW: BF 4.1RC5 Matek F722SE Unifie

[2019-09-27 16:15] jflyper commented on #8962
I think you should flash with `MATEKF722MINI` unified target.

[2019-09-27 16:47] danielolsman commented on #8836
I just tried to fly with this hex, no succes. It seems all motors stopped mid flight.
I had no errors and rpm filter seems to be working.

here is a blackbox log of that flight
https://drive.google.com/file/d/1JUC154RZvKLrsuqtJ8tjkRBhtNiHVaHf/view?usp=drivesdk

https://drive.google.com/file/d/1NxJTEA1T56jQICx_OhFWjXj_iaGivcDT/view?usp=drivesdk

[2019-09-27 20:08] ivkostic commented on #8957
Is there a chance the VTX AKK & RDQ patch be added to BF4.1?

[2019-09-27 20:23] pmarkiewicz commented on #8957
Can be closed, user error, looks like modern VTx are using smart audio 2.
This have to be documented somewhere to avoid confusion.

[2019-09-27 22:47] etracer65 commented on #8957
@pmarkiewicz I would suggest you contact the manufacturer and ask them to update the documentation for their product.

[2019-09-27 22:47] #8957 closed

[2019-09-28 00:20] mikeller commented on #8959
@goooodday:

Please read this, and stop asking in here for help with your configuration:

[2019-09-28 02:55] andrejpodzimek commented on #4531
Just FYI, the trick mentioned above also works on `OMNINXT7` for me (4.0.6).

[2019-09-28 08:32] mikeller commented on #8957
@ivkostic: The AKK / RDQ patch will be available for 4.1 releases (not release candidates) in configurator.

[2019-09-28 08:56] TheIsotopes commented on #8836
@haslinghuis do you also installed an led strip on the led pins?

[2019-09-28 08:58] TheIsotopes commented on #8836
@haslinghuis have you an led strip installed on the led pins? without installed led strip all is ok!

[2019-09-28 09:26] haslinghuis commented on #8836
@TheIsotopes No, only configured LEDs in BF. No physical LEDs attached. (I am using the ESC LEDs).

[2019-09-28 09:31] TheIsotopes commented on #8836
@hydra now grounded all my esc ... here the proof
![IMG_20190928_095735](https://user-images.githubusercontent.com/29702171/65814479-8e6edf00-e1e2-11e9-8619-0317db5e8a82.jpg)

now i have tested without installed led and it have no errors
[code]
with one led strip installed i have this state ... you see motor 1 shows error
[code]

[2019-09-28 10:02] TheIsotopes commented on #8836
@haslinghuis I thought so ... without physical installed led strip is all ok.

[2019-09-28 11:32] TheIsotopes commented on #8836
@hydra imho makes the 5v line problems ... my two led strips are now fed by an extra micro bec and everything runs flawlessly ... 0% error rate on all esc in the whole throttle range

imo #8961 can be merged

[2019-09-28 12:37] hydra commented on #8836
@TheIsotopes great!  I just updated #8961 based on @mikeller 's feedback so I hope it will be merged soon.  Definitely shows the importance of motor signal ground wires for the high-speed communications in an electrically noisy environment.   Also, that's a very tidy soldering job, good work!

[2019-09-28 13:10] haslinghuis commented on #8836
Confirm again - dshot_bidir is working. But I cannot go beyond 50% throttle without killing someone. With 4 props it will hover in Acro - but very much wobbles - but this has nothing to do with H7 but needing good PID tuning for a 10".

[2019-09-28 14:33] joelucid commented on #8902
Ok - disregarding the ``resource all`` output above which doesn't seem to have been taken with dshot bitbang active it seems this is now fixed? If so could the submitter please close it?

[2019-09-28 15:00] hObBiT-iM-bLuTrAuScH commented on #8902
thx

[2019-09-28 15:00] #8902 closed

[2019-09-28 18:20] fremebondo commented on #8047
Same here, and I cannot find nothing related to Profiles
![image](https://user-images.githubusercontent.com/9727498/65820777-5d67cc00-e22d-11e9-9846-50201340c5a2.png)

[2019-09-28 21:24] #8836 closed

[2019-09-29 05:37] ozzzp commented on #8960
@etracer65 @jflyper Thanks for reply!

[2019-09-29 07:06] maGfpv commented on #8836
Thanks to all of you. Great work :)

[2019-09-29 09:29] TheZeroBeast opened #8964 "CLRacingF7 4.1.0-RC5 OSD Broken"
**Describe the bug**
OSD Chip not detected and isn't functional, good test is to try upload your font to the OSD which hangs indefinitely.

**To Reproduce**
Load 4.1-RC5 and attempt to use OSD. ie. try load fonts or see if it's overlaying its data.

**Expected behavior**
OSD works and allows configuration changes through the configurator.

**Flight controller configuration**
full chip erase no cha

[2019-09-29 09:48] jflyper commented on #8964
@TheZeroBeast Please follow the instructions given.

[2019-09-29 09:50] TheZeroBeast commented on #8964
which instructions would they be @jflyper?

[2019-09-29 09:58] TheZeroBeast commented on #8964
Looks like A15 OSD Chip Select is no longer mapped maybe.

[2019-09-29 10:01] mikeller commented on #8964
@TheZeroBeast:

Well spotted. Can you test if `resource OSD_CS 1 A15` fixes this?

[2019-09-29 10:09] TheZeroBeast commented on #8964
Yes, doing now 😉

[2019-09-29 10:22] TheZeroBeast commented on #8964
It doesn't fix the issue, I do not that it doesn't label A15 correct after assigning it.

[code]

[2019-09-29 10:34] mikeller commented on #8964
@TheZeroBeast: Sorry, I wasn't very forthcoming with information in my last comment. Resources are only allocated on reboot, so you need to do `resource OSD_CS 1 A15`, then `save`. The flight controller will reboot after this, and after the reboot it should work / show up in `resource show all`.

[2019-09-29 10:36] TheZeroBeast commented on #8964
Yep, figured as much and still had no joy

[2019-09-29 12:54] mikeller commented on #8964
@TheZeroBeast: Looks like there was a bunch of stuff missing in this Unified Target configuration. Try this:

[CLRACINGF7.config.txt](https://github.com/betaflight/betaflight/files/3667341/CLRACINGF7.config.txt)

[2019-09-29 13:16] derekkeithchan opened #8965 "BF 4.1 RC5 Kakutef7 fatal SD card error"
I cant seem to get SD working for BBlogging.. says fatal card error. any idea why? using kakutef7 target tried multiple and cards and tried flashing to legacy version but also didn't work. when i type sd info into CLI it shows startup failed

# diff

# version
# Betaflight / STM32F745 (S745) 4.1.0 Sep 25 2019 / 14:09:35 (08e8afa09) MSP API: 1.42
# manufacturer_id: HBRO   board_name: KAKUTEF7   cus

[2019-09-29 13:34] fremebondo opened #8966 "MSP Arming flag override"
I use a separate microcontroller on board, reading attitude and rx data from FC via MSP serial link on UART2. In BF4.0.5 this kind of communication prevents the craft from arming.

Is possible to add a flag to override MSP arming prevention?

[2019-09-29 14:48] localidiot opened #8967 "Dshot 1200"
DSHOT 1200 missing from configurator 10.6.0 RC-2
BF 4.1 RC5

[2019-09-29 14:51] IvoFPV commented on #8967
@localidiot It has been removed and is no longer supported.

[2019-09-29 15:56] #8967 closed

[2019-09-29 15:58] etracer65 commented on #8966
The arming disabled is not triggered merely by having a MSP connection active. It's triggered explicitly by the Configurator when connecting to the firmware. So if you want to have MSP active for some other reason this won't cause the arming disabled MSP flag (unless you specifically make the MSP call to disable arming - which you won't).

[2019-09-29 17:15] jflyper commented on #8965
@derekkeithchan

Please closely follow the instruction provided when you opened this issue.

And if you are using unified target and haven't read https://github.com/betaflight/betaflight/issues/8964#issuecomment-536297648, you might want to give it a try. If you are on legacy target, then forget about the potential fix mentioned in the comment in this url.

[2019-09-29 17:24] fremebondo commented on #8966
ok, thanks, I'll try that

[2019-09-29 17:55] Skym4x opened #8968 "Jeti exbus issue 4.x.x on XROTOR FLIGHT CONTROLLER F4 G3."
HI, Since 4.0.0 jeti receiver dosent work on any rx UART. I have try many solution but nothing work ( i have try pinio_config = 1,1,1,1  and that doesnt work too ).
With old Firmware, work fine , I have try on omnibus F4v3 and last firmware, works fine.
Sometime that can work but it's totaly randomly and very rare.
For  information, jeti exbus it's not reversed

**Flight controller configuration**

[2019-09-29 18:16] jcutcher01 commented on #8967
@IvoFPV thank you for posting the Motivation. I just ran into the same question and I agree with your summary.

[2019-09-29 18:26] fremebondo opened #8969 "Unreadable Blackbox with SP Racing F3"
I am not able to get a fully readable BlackBox log on SP Racing F3

I tried logging on internal flash as on OpenLog and external SD as well, i always get unreadable files.
Usually BlackBox Explorer says that no flight can be parsed, only a few times it opens a log but only a fewpoints are shown, and they have no sense at all.

I'm running on BTFL3.5.7 as I do not need 4.x.x features, and I do not

[2019-09-29 19:23] TheZeroBeast commented on #8964
Ah, that'd do it. Thanks @mikeller, I'll give this a go tonight and report back.

This would just need to be paste into CLI, then saved and rebooted, is that correct?

[2019-09-29 20:36] derekkeithchan commented on #8965
Thanks, will get the rest of the info asap. What did you mean by give #8964 a try? I can't use CLracing F7 stuff for the kakutef7 can I?

[2019-09-29 21:18] mikeller commented on #8966
@fremebondo: If you want to see some example code how MSP can be used to read telemetry in-flight, have a look at https://github.com/ShikOfTheRa/scarab-osd/tree/master/MW_OSD - this is exactly what external OSD devices do.

[2019-09-29 21:20] derekkeithchan commented on #8965
@jflyper included information needed

[2019-09-29 21:23] #8964 closed

[2019-09-29 21:41] mikeller commented on #8964
@TheZeroBeast:

For testing yes.

But since betaflight/unified-targets#29 was merged you should be able to re-install the KAKUTEF7 target from the drop-down and it should work.

[2019-09-29 22:02] mikeller commented on #8968
@Skym4x: Looks like the flight controller you have is another badly made clone of the OMNIBUSF4SD. As these clones have various design deficiencies that require design specific workarounds it is really a matter of contacting your manufacturer / distributor and asking them to provide a workaround, or a refund for the defective part they sold you.

As a last ditch, can you try if `resource pullup 1

[2019-09-29 22:29] Skym4x commented on #8968
@mikeller you mean try this  ?:
set pinio_config = 1,1,1,1
If its that, i have try yes but still issue :(.
I have buy a hobbywing offical product, it's possible that was a clone ??? and why it work fine in 3.5 with the same board ?
I hope we can find a solution without unmount everything :D.
Thanks :)

[2019-09-29 22:37] mikeller commented on #8965
@derekkeithchan: I tried to replicate your problem with a KAKUTEF7 and exactly your configuration, but the SD card was recognised without a problem. Have you tried re-formatting your SD cards with the official tool (https://www.sdcard.org/downloads/formatter/)?

[2019-09-29 22:56] TheZeroBeast commented on #8964
Ah ok, is the KAKUTEF7 equivelant to the CLRACINGF7? hardware connectivity wise of course

[2019-09-29 23:04] Docteh commented on #8964
the linked Pull Request changed the config file for CLRACINGF7, give that one a whirl first.

[2019-09-30 02:20] mikeller commented on #8968
@Skym4x: No, I mean what I said: `resource pullup 1 b8`. I do not know where you got the `set pinio_config = 1,1,1,1` from, but this in itself will definitely never fix your problem.

[2019-09-30 04:37] mikeller commented on #8964
@TheZeroBeast: Sorry, my bad. I had been testing KAKUTEF7 and got confused, I meant to say you should be able to install the CLRACINGF7 target from the drop-down.

[2019-09-30 05:39] Skym4x commented on #8968
@mikeller could you explain how ressource pullup works ? what i have to do, maybe i can try :).
Thank

[2019-09-30 05:54] mikeller commented on #8968
@Skym4x: What Hobbywing is doing is that they are cloning the OMNIBUSF4SD design, and as evidenced by the problems that you are having their clone contains some deviations from the original design - original OMNIBUSF4SD boards work just fine with 4.1.0.
Since Hobbywing does not provide us with schematics or engineering samples of their boards it is impossible for us to determine how these can be m

[2019-09-30 06:19] fremebondo commented on #8966
@mikeller: Thank you!

[2019-09-30 06:33] Skym4x commented on #8968
Ok now i understand more, they cloning but dont show how they have do, nice play :D.
@mikeller have you some exemple of board which are no clone ? for me hobbywing was "official"...

I confirm the `resource pullup 1 b8` doesent fix the problem :(, the board still in : RX_FAILSAFEPARALYZE, and sometime on many reboot that work one time ...

It's very fustrating i think it's a little bootstrap will

[2019-09-30 08:08] mikeller commented on #8968
@Skym4x: The OMNIBUS boards were originally developed and manufactured by Airbot. They don't make the original ones any more, but they have a good range of improved successors:

https://store.myairbot.com/flight-controller/omnibus-f3-f4.html

[2019-09-30 08:39] TheZeroBeast commented on #8964
Hey @mikeller, all good, just tested and it's working great now, thanks for the speeding fix. This unified target is proving damn handy.

[2019-09-30 09:07] maGfpv commented on #8836
i have a question. Yesterday i tried the latest developmental build. Im using the h7extreme with tekko32 f3 metal single escs.
With the latest build rpm and bidir is working. i m getting some errors on motor 1 but they are below 1% so i should be ok.
I went out for a test and i flew great except that i got 2 rolls of death when im pushing it to the limit.  Sadly black box didnt logged. Could it be

[2019-09-30 09:25] danielolsman commented on #8836
looks like the same problem I have posted here a few days ago, I realized I had not connected signal gnd. I have to test again soon with those wires conected

[2019-09-30 09:28] maGfpv commented on #8836
i have connected signal ground, but not twisted.
So is this a new issue or should this ticket gets reopened?

[2019-09-30 09:46] hydra commented on #8836
@maGfpv I think new issue.  Since bidirectional DSHOT is now working, but a couple of you are experiencing some new issue.  Once you've collected some logs please create a new issue and reference https://github.com/betaflight/betaflight/issues/8836#issuecomment-536015545

@danielolsman in your case it seems like Motor 4 stopped responding as the FC tried to speed it up to correct the setpoint erro

[2019-09-30 09:48] maGfpv commented on #8836
@hydra how should i setup the logging?

[2019-09-30 12:02] Gozzz commented on #8954
Mine is set to-
set pinio_box = 39,255,255,255
aux 2 39 3 900 1550 0 0

For me VTX is on by default, using a 2pos switch to disable it when needed. Works on build 1897 last time I checked. I can retest it today at lunch though to be sure.

[2019-09-30 14:11] Mateyhv commented on #8836
Sorry guys, I have been followin the thread on a daily basis however I didn't understand if the original issue is resolved or not. To reacap, from my understanding we had: 1) a Dshot signal problem on H7 board, 2) a LED strip related issue, 3) a noisy signal because of abscense of GND for signal on separate ESCs, 4) aparently a new issue on high trottle reported by @danielolsman and @maGfpv that m

[2019-09-30 14:19] maGfpv commented on #8836
1) a Dshot signal problem on H7 board, -->yes

 2) a LED strip related issue, --> could be, im also using a set of leds. Someone reportet that in his opinion the 5 v line of the board is to weak and can cause trouble. but this is not verified so far. but it should!!!

 3) a noisy signal because of abscense of GND for signal on separate ESCs, --> Could be, but in my case i have a ground wire connec

[2019-09-30 14:26] azixaka opened #8970 "SP Racing H7EX Gyro Configuration Is Set To First"
https://github.com/betaflight/betaflight/blob/4af1127d7ab59c0e3ad9552822e24de291b1c238/unified_targets/configs/SPRACINGH7EXTREME.config#L156

Should say BOTH

[2019-09-30 14:34] azixaka opened #8971 "CL Racing F7 V1.0 Unified Target Is Broken"
There are multiple issues with the unified target for this FC.

1. It is based on S7X2 which I believe supports 2 gyros? However V1.0 of this FC is single gyro only.

2. OSD simply stopped working since RC4 and it is broken still on RC5. Switching to Legacy solves the issue.

3. Pit mode doesn't work when using unified target version.

diff all

# version
# Betaflight / STM32F7X2 (S7X2) 4.1.0 Sep

[2019-09-30 14:40] IvoFPV commented on #8971
@azixaka Opening duplicate issues will not help them get fixed sooner. Please refrain from doing that.
1. S7X2 target has nothing to do with dual gyros. CL RACING having just one will work on that target.
2. See betaflight/unified-targets#29
3. #8954

[2019-09-30 15:17] Skym4x commented on #8968
Thank for link :)

[2019-09-30 15:29] netizen01 commented on #8603
This is impacting me in a few different ways (some of them unrelated to Betaflight) and would love to see a fix. Here's a conversation I had with a NA sales rep:

" I happen to work for FrSky and our tech team has told us there is nothing in place that should stop these from binding. The frsky_x protocol was reverse engineered and added into the betaflight code. Not really part of the main develop

[2019-09-30 17:46] benie00 opened #8972 "Death roll (sometimes, air mode only)"
Hi,

i have a strange issue with my quad.
(Marmotte frame, Emax Eco 2306/2400kv motors, Synergy F4 FC, Racerstar Rev35 ESC)

When air mode on, when i do a flip/roll sometimes the quad just flips/rolls into infinity and the system reboots.
Also when i hit a tree or even just the prop touches a branch it just rolls/flips like crazy and the system reboots.

Tried it with 4.0.5, 4.0.6 and 3.5.7 firmwa

[2019-09-30 17:54] IvoFPV commented on #8972
Your settings look okay. Usually death rolls are caused by desyncs, so I would check all escs and motors. Maybe change motor timing in blheli. If the FC power cycles that sounds like a power issue.
However, this is not a firmware issue...

[2019-09-30 22:12] mikeller commented on #8603
@netizen01: The problem is that at the moment nobody of the Betaflight development team has got TX hardware capable of running the new ACCST mode - this makes it very hard to figure out what exactly was changed in the protocol that stopped this from working.

[2019-09-30 22:29] netizen01 commented on #8603
If I mailed someone a TX would that help? (assuming they would mail it back - I'll pay for shipping both ways) Who would that be?

[2019-09-30 22:54] derekkeithchan commented on #8965
yeah i cant believe i had 2 SD cards that had messed up formatting.. sorry for the trouble!

[2019-09-30 22:54] #8965 closed

[2019-09-30 23:08] mikeller commented on #8965
@derekkeithchan: It's easy to do - unfortunately pretty all common operating systems allow you to format SD cards with on-board tools, and when doing so create a format that is not practical for writing streaming data to the cards (which is what blackbox and video / still cameras do). :frowning_face:

[2019-10-01 06:59] danielolsman commented on #8836
The problem started when I updated to BF4.1 and enabled rpm filter. I didn't test it yet with rpm filter disabled.  (short HD video : https://youtu.be/RSjEC8Hv4c8)

[2019-10-01 07:10] maGfpv commented on #8836
I will try to gather some logs today. Bit here is how it looks

https://youtu.be/zbDSouj1AyQ

[2019-10-01 09:12] #8972 closed

[2019-10-01 09:14] mikeller commented on #8971
Closing as duplicate of #8954.

[2019-10-01 09:14] #8971 closed

[2019-10-01 09:57] andyvortex opened #8976 "ircsynergyf3 no gps like 3.5"
is it possible to allow synergy f3 in my vortex 230 mojo to run gps rescue please it works on 3.5 but not 4.0.6 many thanks

[2019-10-01 09:58] andyvortex commented on #8976
keep up the good work devs   many thanks andy   p.s i am a patreon

[2019-10-01 10:23] mikeller commented on #8605
@yo8aiv: Has this issue been addressed? If so, can you close this please?

[2019-10-01 10:24] mikeller commented on #8283
@azolyoung: Can you help here please?

[2019-10-01 10:25] mikeller commented on #7849
@BEE-KA: Has this issue been addressed? If so, can you close this please?

[2019-10-01 10:36] hydra commented on #8836
@danielolsman understood, but there were lots of other changes between your original firmware and the 4.1 you tried.  If you can try with the latest firmware, but with RPM filter disabled a clearer picture should emerge.  The current issue you're having needs to be narrowed down still as to exactly what works and what doesn't.

@maGfpv on your one you can hear one motor suddenly speed up at the st

[2019-10-01 10:57] danielolsman commented on #8836
I will wait for RC6 and then do some testing with and without rpm filter, if there is still a problem i will report back (will open a new issue)

[2019-10-01 14:29] qratz commented on #8283
I am running 4.1RC5 on a CLRACINGF7 target (Heli-Nation Talon F7). I have configured my Taranis to start recording on the Split mini 2 (latest FW) prior to arming and stop recording after disarming. For this i use Runcam Device commands (Camera Power Button) and it works reliably. Here's the relevant part of my config:

[code]
Split Mini 2 is connected to UART6. So to the extent of using the Camer

[2019-10-01 14:36] nerocide commented on #8970
Looks to be corrected in :
[code]

[2019-10-01 14:46] azixaka commented on #8970
I am looking at this file in master - https://github.com/betaflight/betaflight/blob/master/unified_targets/configs/SPRACINGH7EXTREME.config

and it says FIRST still.

[2019-10-01 17:19] IvoFPV commented on #8970
@azixaka That unified config is irrelevant in this case because there is no H7 unified target for now. If you flash your SPRACING H7 EXTREME with the latest version it will be set to use BOTH as @nerocide has noted.
As you can see in the actual non-unified target which you are flashing it is set correctly. Please close this issue.
https://github.com/betaflight/betaflight/blob/fcaa16cd7d5e29fc9f907

[2019-10-01 17:37] azixaka commented on #8970
We still want that issue to get fixed in the unified target, no?

[2019-10-01 17:42] IvoFPV commented on #8970
Well not yet. Think about it... That config is **not used** as I've said therefore so what's the point in fixing that? It will get re-generated with new settings if unified H7 target becomes a thing. BTW configs currently in use are here and not in the directory you posted. https://github.com/betaflight/unified-targets/tree/master/configs/default

[2019-10-02 10:32] #8976 closed

[2019-10-02 14:51] McGiverGim commented on #8970
I'm not too sure about it... if the file is wrong, it must be fixed. Maybe someone uses it to make some tests.

[2019-10-02 15:13] Skym4x commented on #7981
hi @xoration have find a solution for Jeti ?
thank

[2019-10-02 15:16] Skym4x commented on #8968
@mikeller I have test on an another board and I have the issue, have you someone who arrived to use Jeti with 4.X.X ? if yes on witch board plz ?
Thank

[2019-10-02 15:48] Skym4x commented on #8968
Ok a solution is found by my local fpv shop, with jeti we need to solder on TX pin af an UART and use télémétrie

[2019-10-02 19:14] berendb0tje opened #8983 "HELP ! Switching to from sbus to ibus problem - Betaflight"
hi,

i have a problem with the speedybee f4 flight controller in betaflight.
After flashing every thing works fine until i change the sbus to ibus.
After the safe and reboot in the configuration the flight controller isn't recognised by none of my computers.
What i already treid:
- flashing other firmware multipele times.
- changing usb kabels (3 times)(on my other quad al the kabels work fine)
-

[2019-10-02 21:11] fletch3d opened #8984 "Set Spektrum_Sat_bind=9 - Invalid Name"
Eachine Lizard 95 with Omnibus controller
**To Reproduce**
Steps to reproduce the behavior:.  All worked fine, but switched to a new TX and needed to rebind.  Regardless of what firmware 4.0.0, 4.0.1 - .6 gives me the same result (Invalid Name)

**Flight controller configuration**
'''feature -RX_PPM
feature RX_SERIAL
beeper -GYRO_CALIBRATED
beeper -RX_LOST_LANDING
beeper -DISARMING
beeper -ARMING_

[2019-10-02 22:53] mikeller commented on #8968
@Skym4x: Sorry, this had slipped my mind, but there was a change to JetiEx in Betaflight before 4.0: #6767
@marv-t: This seems to be coming up regularly - do we have documentation for this change somewhere?

[2019-10-03 04:05] jflyper commented on #8984
The Spektrum bind feature (available at `FEATURE_CUT_LEVEL < 3`) is not available for Omnibus (F3) (target OMNIBUS), as the target is at `FEATURE_CUT_LEVEL = 9`.

[2019-10-03 10:33] fletch3d commented on #8984
Not sure what that means? Is there no binding available?

[2019-10-03 10:49] mikeller commented on #8984
@fletch3d: Yes. Unfortunately the OMNIBUS target is very short on flash space (due to the on-board OSD), and a lot of features including Spektrum bind have had to be removed to make the firmware fit. To my understanding the binding is only required once - so you should be able to flash older firmware, bind to your TX, and then flash the latest available firmware back.

[2019-10-03 10:51] etracer65 commented on #8984
It means there is not enough space available on the OMNIBUS F3 to fit the Spektrum bind feature in BF4.0. So either bind externally or temporarily use an older BF version and bind and then upgrade back to BF4.0.

[2019-10-03 11:36] azixaka opened #8986 "Blackbox Tab -> Erase Flash Dialog Box Stucks"
RC2 erase flash button shows dialog that stays in the erasing... state forever. FC is Matek F722 Mini and is using the unified target which I believe is the only target available now. If I cancel the dialog and check flash memory status it's empty and that is reflected by the progress bar showing full 32MB available as well.

BF 4.1 RC5

The same software and feature works fine on my FC CL Racing

[2019-10-03 11:54] mikeller commented on #8986
@azixaka: I tried to reproduce, but erasing the flash worked fine for me with a MATEKF722MINI (32 MB flash) running 4.1.0-RC5 with configurator 10.6.0-RC2. It was slow, ~6 MB took about a minute, so if your flash chip is full it might take ~5 minutes. If it really does not work, can you please post a `diff` of your firmware, or reset the firmware to defaults, and then try to erase the flash?

[2019-10-03 15:11] fletch3d commented on #8021
Hey Guys,

Same issue in 4.0.6 and 4.1. No movement in betaflight receiver tab for this flight controller.

[2019-10-03 15:19] fletch3d opened #8987 "OMNIBUSF4SD - No movement in Receiver tab. - tried 4.0.6 and 4.1"
Have an Eachine Aurora 100 with updated Minicube F4 FC running DSMX sat.  Worked on prior versions.  Re-bound the DSMX after update to 4.0.6 also tried 4.1 without issue, but nothing is moving in the Receiver tab.  Omnibusf4 firmware.  DSMX is on Uart1, all good.  Have a solid bind yellow on receiver, have a blue blinking light on FC (I think that is for Frsky reference).  Here is my Diff:

# vers

[2019-10-03 15:24] Gozzz commented on #8954
Have you tried this in cli @azixaka ?

set pinio_config = 1,1,1,1
set pinio_box = 39,255,255,255

[2019-10-03 15:40] azixaka commented on #8954
I was so annoyed with many issues I had with this FC that I took it out of my racing drone and replaced with Matek F722 mini. Everything just works now and I am happy with it.

I do however still have this FC and it still has VTX connected to it. I will try your setting tonight and report the result.

[2019-10-03 15:43] azixaka commented on #8986
I didn't expect to wait that long as my CL Racing F7 takes just a second to erase, so that dialog disappears immediately.

I'll try waiting for 5 minutes to test the theory. But it didn't do it on 4.0.6 and 10.51 so it's a regression I guess?

[2019-10-03 15:44] azixaka commented on #8970
If that config is not used and will get re-generated if it becomes a thing, lets remove this file set altogether then?

[2019-10-03 16:27] IvoFPV commented on #8970
@azixaka Not sure why are you worrying so much about this file. It doesn't bother anyone. As mcgivergim says it could be that it is useful for some who are testing therefore it should stay.

[2019-10-03 16:31] azixaka commented on #8970
No idea why I worry about it. Just love this FC so much that I try to keep it clean. :)

Closing the issue as no action needs to be taken.

[2019-10-03 16:31] #8970 closed

[2019-10-03 18:54] fletch3d commented on #8984
Thank you.  Worked.

[2019-10-03 18:54] #8984 closed

[2019-10-03 19:54] etracer65 commented on #8986
I tested and can't replicate any problems. Takes the expected ~64 seconds to erase the 32MB flash. Same in 4.0.6 or 4.1 with legacy *or* unified target. Same whether erased on the blackbox tab or if done from the CLI (`flash_erase`).

[2019-10-03 19:55] etracer65 commented on #8986
And CLRACING F7 uses a different type of flash (NAND) vs. the MATEKF7-mini (NOR). So they're not comparable.

[2019-10-03 20:02] mikeller commented on #8987
Closing as duplicate of #7849.

[2019-10-03 20:02] #8987 closed

[2019-10-03 20:37] #8983 closed

[2019-10-03 21:48] ricardodeazambuja commented on #8966
@fremebondo I've been controlling my drone using a RPI Zero W and a PS4 joystick, all based on MSP... therefore you should be able to do what you want without any problem. Here you can find an example of a very simplified user interface: https://github.com/ricardodeazambuja/BetaflightMSPy

[2019-10-03 23:53] laurentopia opened #8988 "building on windows without the linux subsystem?"
How do you do that?

[2019-10-04 00:48] mikeller commented on #8988
@laurentopia: Have a look at this: https://bit.ly/2IljUlU

[2019-10-04 00:51] laurentopia commented on #8988
I asked WITHOUT the linux subsystem, come on google keller you can doooo iiiit!

[2019-10-04 01:03] mikeller commented on #8988
@laurentopia: Two out of the top 3 links point to pages with instructions for how to build without WSL. You really need to learn how to use Google properly.

![image](https://user-images.githubusercontent.com/4742747/66174013-b1e8cc80-e6af-11e9-88b8-8e8127d4be77.png)

[2019-10-04 01:03] #8988 closed

[2019-10-04 12:34] wrenfpv commented on #6756
Any update on this ?

[2019-10-04 15:03] yoodog commented on #8967
Hi, any update when. stable will. be released Betaflight Configurator 10.6 and BF 4.1? I'm asking because both have Milestones completely Done and 4.1 was set for 01.10, but no announcement has followed.

please advice as I'm about to set up new quad and may just wait few extra days

[2019-10-04 15:09] IvoFPV commented on #8967
@yoodog 4.1 RC5 has been stable and you could use it right now if you are in a rush and update to stable when it releases. Nothing will probably change for final release other than a small fix for H7 boards that has been merged. I would say 4-5 more days.

[2019-10-04 18:54] laurentopia opened #8993 "auto-land : why the 30 second delay?"
"Re-arming is locked until RC link is available for at least 30 seconds and the arm switch (if used) is in the OFF position."

Why those constraints?

[2019-10-04 18:59] IvoFPV commented on #8993
Until one day it failsafes when you don't expect it to and it flies high throttle into someones face. Sorry but this is really unsafe in my opinion. Get a GPS module, they are cheap and work great.

[2019-10-04 19:08] laurentopia commented on #8993
The same can be said if auto land happens above people's head so I edited my post to focus on my question.

[2019-10-04 21:02] fujin opened #8994 "Sliders (or similar multiplier concept) in firmware"
The new sliders are awesome but make field tuning via BF CMS (OSD) tricky- you can kind of do it by copying the profile, making tweaks in CMS, then plugging back into Configurator and  tweaking sliders in your original profile until you get values that are close enough. The relationship between parameters has to be well understood in this case.

It would be neat if the slider multiplier/calculatio

[2019-10-04 21:13] IvoFPV commented on #8994
I am looking to implement this as previously discussed. Current configurator only based sliders we have for 4.1 will give us insight to how users are using the feature. I think it will be a good idea to wait a month after release to get all the feedback and information we need to build on top of the current implementation, possibly adding different sliders, adjusting ranges, scaling and so on.
Aft

[2019-10-04 21:15] fujin commented on #8994
@IvoFPV I agree completely about waiting until after 4.1.0, just wanted to make sure we had an issue reflecting the plan. p.s. I love it.

[2019-10-04 23:11] etracer65 commented on #8994
The actual slider calculations need to happen in the firmware. The MSP would be multiple parts; initial ranges (get) and set new multiplier (set) (which causes the calculation to occur). The detailed values affected by the sliders are already available in MSP so those could be refreshed to show the results (numbers).

[2019-10-04 23:14] etracer65 commented on #8993
To prevent cases where you lose signal, have a failsafe and start walking to pick up your quad. But then you forget to turn off your arm switch and while walking to pick up the quad your radio link comes back. Without the constraints the quad would arm.

[2019-10-04 23:15] yoodog opened #8995 "BF 4.1RC5 + Typhoon32 v2.2 (32.7fw) - no volt or Amp, RPM data are ok!"
I run Omnibus f7v2 on BF 4.1RC5 + Typhoon32 v2.2 (32.7fw).

- RPM telematics in CLI are received with motors spinning, but Voltage and Amps data is not showing up.
- After a few test motor spin up Dshot lost packets are 0 in BlHeli
- ESC has 4 sensors all show 0v and 0A
- ESC was replaced recently together with update to new ESC FW and new BF, so may be HW issue, but seems unlikely, as there are n

[2019-10-04 23:20] etracer65 commented on #8995
To make use of BLHeli32 telemetry you must enable `feature ESC_SENSOR` and you MUST connect the additional telemetry signal wire from each ESC to a UART RX pin. Bidirectional DSHOT used for RPM filtering only includes RPM data.

[2019-10-04 23:23] yoodog commented on #8995
I tried. I enable ESC Sensor in GUI - save - after reboot it is disabled. Not sure how or why it does that

[2019-10-04 23:23] yoodog commented on #8995
I try CLI now, I took it as if it was not supposed to be enabled.

[2019-10-04 23:25] yoodog commented on #8995
this is what I get
get ESC_SENSOR
esc_sensor_halfduplex = OFF
Allowed values: OFF, ON

Set on?

[2019-10-04 23:26] etracer65 commented on #8995
https://oscarliang.com/esc-telemetry-betaflight/

[2019-10-04 23:26] #8995 closed

[2019-10-04 23:30] yoodog commented on #8995
... Mate :-) not my first rodeo :)

I have had it working beautifully before on same FC + same ESC before it burned out in 400m crash.

- For some reason I can not Enable UART7 - ESC, which is required in order to be able to turn on ESC_Sensor in GUI. After saving UART7

[2019-10-04 23:33] yoodog commented on #8995
Not my. first rodeo, I had all working on same set up before with earlier BF and BH.  Now I could not set UART7 to ESC, which is required in order to activate ESC_Sensor tap in gUI.

After esc_sensor_halfduplex setting ON, I was able to set UART7 to ESC. Not sure why. After that ESC_SENSOR tab saved and activated successfully.

Thanks for input!

[2019-10-05 02:00] yoodog commented on #5553
F7 board UART2 is RC pin = RX only. Just use any other UART1,3,6 (UART 7 is ESC Telemetry usually taken)
I have it so on Omnibus F7v2
UART1 TX/RX   - RunCam split 2s
UART2 RX only - GPS
UART3 TX         - F.Port for r9mm-ota
UART6 TX        - SmartAudio2.1 for Unify pro32 nano

[2019-10-05 03:47] ndalisay opened #8996 "BF 4.1 RC5 - Matek VTX HV channel control not fully working"
**Describe the bug**
Cant set Raceband 1-5 channel even I uploaded Matek configuration. But no issue from other band.
http://www.mateksys.com/?portfolio=vtx-hv#tab-id-7

**To Reproduce**
either set using lua script or from osd

[2019-10-05 06:55] RoadyFPV commented on #8968
@mikeller Yes here are the doc.
https://github.com/betaflight/betaflight/blob/master/docs/Rx.md
Under JetiEXBus

[2019-10-05 06:56] jflyper commented on #5553
@yoodog You have commented on the 1.5 year old closed issue with out of context example.

[2019-10-05 08:15] RoadyFPV commented on #8968
@mikeller I have wrote a little pdf, maybe it will help?
[How to setup your FC-konvertiert.pdf](https://github.com/betaflight/betaflight/files/3692988/How.to.setup.your.FC-konvertiert.pdf)

[2019-10-05 15:13] haplm opened #8997 "Adjustments broken in 4.1RC5"
**Describe the bug**
I'm using two adjustment sequences to switch between rate profiles and OSD profiles:
<img width="1383" alt="Screenshot 2019-10-05 at 17 01 48" src="https://user-images.githubusercontent.com/295448/66256830-5a6f5d00-e792-11e9-83af-7073a25677cb.png">

Those worked just fine on 4.0, but on 4.1, it works only one way. That means that moving AUX5 into the middle position for the fi

[2019-10-05 17:01] tarite commented on #8997
Try using only one slider per switch with the entire range set.
That's how I have mine setup for osd.

[2019-10-05 17:58] haplm commented on #8997
Thank you, @tarite!

It works. Something must have changed, though, because my approach was working as well since 3.3 or so.

Do I get it correctly that BF has a hardcoded mapping of the channel range to first 3 rate profiles?

[2019-10-05 21:55] mikeller commented on #8968
@RoadyFPV: I am sure this will be helpful for users of the Rex3 struggling with the configuration. However, I think @Skym4x' problem has got to do with wiring up JETIExBus in Betaflight, and how this is done was changed in #6767, and I do not think we have documentation for this.

[2019-10-05 22:15] hydra commented on #8923
Ok, noted.  When I get time I'll do a PR as per your preference.

[2019-10-05 22:21] nerocide commented on #8994
I love it to

[2019-10-06 00:09] etracer65 commented on #8997
There's no hardcoded mapping exactly. The full range is just split evenly based on the number of options. So 3 equal parts for Rate Profile (or 6 if `rate_6pos_switch = ON`). The correct way to set it up is to use a single adjustment for the entire range - not 3 separate adjustments.

[2019-10-06 00:49] Mateyhv opened #8998 "RPM filter amplifying harmonics on YAW axis on the ground"
Idling on the ground when RPM filters are ON, quad harmonics go through YAW axis, strength being proportional to P term (P=100 in this test). Motors speed up immediately after start and began "fighting" on YAW axis creating huge vibrations at roughly 64Hz as if P term was too high. They dessapear if any arm is touched or if the quad is lifted but reappear on the ground.

Same configuration with RP

[2019-10-06 00:55] mikeller commented on #8997
@haplm: What has changed is that the 'slot' facility was removed from adjustment ranges (#8369). This removes an unnecessary limitation from adjustment ranges, but it also means that your old configuration won't work any more, as it is not the correct way to get what you want.

[2019-10-06 02:29] laurentopia commented on #8993
Got it, thanks.

[2019-10-06 02:29] #8993 closed

[2019-10-06 03:09] CapnBry opened #8999 "BF4.1RC5 Can't enable serialrx_provider IBUS + telemetry (serial_halfduplex)"
**Describe the bug**
I have a AIRB/OMNIBUSF4SD target board with an IBUS serial rx with IBUS telemetry enabled (uses just the TX to both send and receive). If I flash BF 4.1RC5 with full chip erase and try to enable "Serial Rx" on the ports tab, with "Telemetry Output" IBUS 115200 and save and reboot, the ports information is reset. There is also a combination of trying to configure it that it wil

[2019-10-06 04:48] #8996 closed

[2019-10-06 06:02] #7849 closed

[2019-10-06 08:06] haplm commented on #8997
Understood, makes sense.

I have set it up (I believe) based on some ancient Blue Falcon's video a long time ago, and never really though much about it since... Thanks!

[2019-10-06 08:06] #8997 closed

[2019-10-06 08:33] Skym4x commented on #8968
Hi, Thank for documentation, @RoadyFPV , for information, that work with RSAT2 on EXT pin too.
@mikeller I still have problem with télémetry, on one board that work perfectly, on other board télémetry doesn't work ;( ( sometimes a values appear but flickering ). I have check the duplex mode and it's same for the two board. Have you some Idea for this ?
Thank for all :)

[2019-10-06 09:13] RoadyFPV commented on #8968
@Skym4x thats right. I will revise the instructions and maintain a list with the receivers support the EX bus to which output. But this will take a while..

[2019-10-06 10:13] davx35 opened #9001 "bf 4.1 rc5 - Matek f722 - matek hv vtx - tramp not working even after completion of tables."
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, RCGroups: https://rcgroups.com/forums/showthread.php?t=2464844, or Slack (registration at https://slack.betaflight.com/) or other user support forums & groups (e.g. facebook).

##

[2019-10-06 12:31] IvoFPV commented on #8998
It just looks like P oscillation caused by P being too high. When you touch it you attenuate the vibration so it stops.
Now why does disabling RPM filter solve the issue is interesting. My guess would be it is just too much filtering causing latency creating a feedback loop therefore P grows and goes sine wave.
I would try to disable gyro lowpasses and see if that helps, just as a test. Also does

[2019-10-06 13:34] CapnBry commented on #8999
I can confirm that building with #9000 allows me to share SerialRx IBUS with IBUS telemetry on the same UART now. Looks like this will fix all those other shared ports as well, making this pull request **over 9000**. Thanks, @mikeller !

[2019-10-06 14:58] etracer65 commented on #8998
Why in the world would you set yaw P so high? Of course it's going to oscillate! And as stated, enabling RPM filtering without changing any other filtering will add a small amount of additional delay (just like adding any extra filtering). That extra delay along with the tendency to oscillate because of high P is likely just getting into a positive feedback loop.

So there's nothing about RPM Filt

[2019-10-06 16:24] joelucid commented on #8998
One important piece of info missing in this issue is that the test was run without props. You should put props on, use a yaw p value close to what we recommend and see what happens when you try flying the quad.

[2019-10-06 20:04] pa2pla opened #9002 "vtx not changing with smart audio"
the mach 2 doesnt change freq or power when instructed by smart audio or lua

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
vtx led to show change and vtx to change freq.

**Flight controller configuration**
'''# diff

# version
# Betaflight / BETAFLIGHTF4 (BFF4) 4.1.0 Sep 25 2019 / 13:38:03 (08e8afa09) MSP API: 1.42

# start the command batch
batch start

board_name BET

[2019-10-06 20:13] packocrayons opened #9003 "ANGLE + PARALYZE flags on RC6 furyF4OSD"
1. ANGLE and PARALYZE arming disable flags show on RC6. ANGLE is only present when battery is plugged in. MSP flag doesn't show.
Same flags do not exist and can successfully arm quad in 4.0.6.
Flight controller: mamba F405 mini mk2 (from a 20mm stack).
Spektrum satellite (spek1024) on UART3
No other peripherals.
Interestingly, THROTTLE flag (min_throttle was above 1050) doesn't show in 4.1.0 RC6 b

[2019-10-06 20:16] spuder opened #9004 "Add `motor_output_limit` to betaflight configurator"
Add `motor_output_limit` to gui so users don't need to type in the command line

betaflight-configurator issue https://github.com/betaflight/betaflight-configurator/issues/1722

[2019-10-06 20:30] andrejpodzimek commented on #7229
Just for the record: There might be [a glimmer of hope](https://banggood.app.link/zS9o7CrBz0). That VTX has, IIUC, separate inputs for SA and audio, i.e., it should also work with RunCam Split >1. Unless it has “the ideal connection” installed internally, which would just fail the same way again. I have ordered one; looking forward to trying it out.

[2019-10-06 22:01] ivkostic commented on #9002
Same behaviour with eachine5258, connected via led pad on softserial, luxf4osd board, no response from smartaudio with OSD as well on lua.

[2019-10-06 22:35] etracer65 commented on #9004
It's available in the OSD.

[2019-10-07 01:12] etracer65 commented on #9002
So then I presume you were using the "AKK - RDQ VTX Patch" firmware versions. This is not available for pre-release Betaflight versions. You'll have to wait until after BF4.1 is released.

[2019-10-07 03:01] pa2pla commented on #9002
No I wasn't using the patch this is what is stumping me. But if that is the case and problem I will wait. Might go and re try other firmware and see if it's the same

[2019-10-07 08:20] haplm opened #9005 "MSC not working on CLRACINGF7 (BF 4.1)"
When I click on "Activate Mass Storage Device Mode" in configurator, FC correctly reboots, but it is never mounted (MacOS). My other BF4.1 FCs don't have this problem, it seems to be isolated to CLRACINGF7 target.

I'm using Betaflight 4.1 RC6, on first version of CL-Racing F7 controller.

[2019-10-07 08:32] marv-t commented on #8968
Please excuse the belated answer. I've just finished building our house and moving, so I did not have much time right now.

The configuration of the receiver has already been described in the documentation. I will probably have to revise it again.
The following Jeti receivers were tested:
- R9
- RSat 2
- REX 3
- REX 10

Since the changeover, only the **_Tx_** pin of the uart is used.
The compatibi

[2019-10-07 09:56] Lydie-Y opened #9006 "Bluetoothnot working on SpeedyBeeF4 (BF 4.1RC6)"
**Describe the bug**
A clear and concise description of what the bug is.
After flashing the firmware BF4.1RC6, the Bluetooth settings of the Speedy Bee f4 FC will be changed to disactived, must go to the CLI tab enter the following commands to active the Bluetooth:
set pinio_config = 129,1,1,1
set pinio_box = 0,255,255,255
save

For the Speedy Bee FC, the Bluetooth must be active by default.

**To

[2019-10-07 10:20] mikeller commented on #8968
@marv-t: Thanks for your reply. Do you have a pointer to the documentation? I thought that you'd added it when you made the changes, but I could not find it.

[2019-10-07 10:22] mikeller commented on #9005
@haplm: Can you please add the information that you were asked to provide when opening this issue, including what version of MacOS you are using?

[2019-10-07 10:38] mikeller commented on #9004
@spuder: Opening a feature request once, in the most appropriate repository, is enough. Closing this.

[2019-10-07 10:38] #9004 closed

[2019-10-07 10:41] mikeller commented on #9003
@packocrayons:

Looks like you've solved the problem all by yourself - Betaflight configurator 10.5.1 indeed predates Betaflight 4.1.0-RC6, and does not know about the new arming disabled code - you should switch to Betaflight configurator 10.6.0-RC2.

[2019-10-07 11:46] #9001 closed

[2019-10-07 11:49] #8662 closed

[2019-10-07 11:51] marv-t commented on #8968
@mikeller
Here is the link: https://github.com/betaflight/betaflight/blob/master/docs/Rx.md#jeti-ex-bus

I think I have to be more specific about that.

[2019-10-07 11:55] mikeller commented on #8968
@marv-t: Yes, I think for users with existing wiring wanting to upgrade to the new way of doing things it will be helpful if there is some more documentation. Thanks.

[2019-10-07 14:16] nerocide commented on #8836
I had same issue on H7 with motor 4 spinning for no reason after activating rpm filter (dshot bi dir).
I had tested on dev branch before RC6 was out.... It works very well now
thanks @hydra

[2019-10-07 14:32] etracer65 commented on #9005
@haplm In addition to providing the requested info, can you try the `msc` CLI command instead of the butting in the Configurator?

Also it's not likely this is your problem, but I found a case where if the flash was completely full (128MB used) there was a potential problem. I don't think it will make a difference, but you could try https://github.com/betaflight/betaflight/pull/9007 .

It's more l

[2019-10-07 15:53] packocrayons commented on #9003
Does this mean that the arming flag numbers have changed in 4.1.0? Or am I receiving some other code (I'll figure that out when I get home and upgrade again) that didn't exist when configurator 10.5.1 was released?

[2019-10-07 16:06] eroticisim1978 opened #9008 "manufacturer id apply"
Hi All:
 We are a new FC manufacturer in shenzhen ,china.
Now we are prepare to get the firmware for our own FC board.
And there is a problem to apply the manufacturer id?
Would you please tell me how to get the manufacturer id for our own FC board.
.MCU STM32F722RET6
.Brand  CORDDAR_F722DUAL

Thanks for your help.

[2019-10-07 16:06] Pavel-DV commented on #2452
@mikeller Can this function be made so that the profile changes upon reboot?
For example, like this: The transmitter switch is set to the "1" position, the battery is disconnected from the quadrocopter and reconnected, and it works in the "1" profile. If you switch the switch to the "2" position and turn the battery off and on again, the "2" profile will turn on, and so on. Is it hard to implement

[2019-10-07 16:14] RoadyFPV commented on #8968
@marv-t no problem you can use it. Here is a new file
[How to setup your FC and RX for Jeti.pdf](https://github.com/betaflight/betaflight/files/3698416/How.to.setup.your.FC.and.RX.for.Jeti.pdf)

[2019-10-07 16:54] haplm commented on #9005
I'm sorry for not including the details earlier

diff:

[code]

Resources:

[code]
Build details: https://rotorbuilds.com/build/13472
MacOS: 10.14.6 (18G103)

It is definitely not a problem of having the flash full. I never go over 1/2 of the storage.

What is strange is that it works today (both ```msc``` command and the UI button). However, this never was the case and the only thing that changed

[2019-10-07 18:05] etracer65 commented on #9005
Go to the CLI and do `set blackbox_mode = ALWAYS” then save & reboot. Wait a couple minutes and set back to “NORMAL”. You’ll have a couple minutes of log without flying.

[2019-10-07 19:11] haplm commented on #9005
Nice trick.

While it takes more and more time to switch to mass storage with increasing size of the logs in the flash, it is now switching reliably every single time. I can't imagine how doing ```msc``` once could achieve this, but it apparently did.

I will close this for now. I have one more copter to upgrade to 4.1 (same FC), so I will report back if I find anything new around this. Thanks for

[2019-10-07 20:01] etracer65 commented on #9005
Taking longer for the volume to mount with more logs is normal and expected. The FAT32 filesystem is emulated and at startup we have to parse the flash to identify the different logs. That means reading through all the used flash sectors.

Doing the `msc` command didn't fix anything. The underlying function is the same whether invoked via the button or from the command line. I was just wanting to

[2019-10-07 20:15] fremebondo commented on #8969
Any help? Thanks

[2019-10-08 00:50] #8999 closed

[2019-10-08 00:55] #9006 closed

[2019-10-08 01:04] quiljw01 commented on #8467
I'm all for this! please implement this feature!  Thank you for the writeup and thoughts @skyfpv !

Theoretically we could also do power base.  Set max power in betaflight.  Requirements are voltage and current sensing.

[2019-10-08 04:47] famtory commented on #8603
Same. Range problem.
and... Once disconnected, I won't be able to connect again.
To reconnect the aircraft must be reboot.

[2019-10-08 09:29] hydra commented on #8836
@nerocide Thanks for confirmation that the fix works for you.  Don't forget to thank @joelucid too, he got the scope capture, wrote the fix and tested it.

[2019-10-08 09:43] nerocide commented on #8836
oooops.... @joelucid thanks to you too ;)

[2019-10-08 10:51] mikeller commented on #9003
@packocrayons:

Yes.

[2019-10-08 10:52] mikeller commented on #9008
Hi @eroticisim1978.

To get a manufacturer id, can you please specify the name and website address for the company that will be selling these flight controllers and provide customer support for them?

[2019-10-08 10:56] mikeller commented on #2452
@Pavel-DV: This could probably be done - have a 'special' adjustment range that is only evaluated once, on booting, after the RX connection has been established. But then at the same time, this seems to be super redundant, as you can simply use stick commands to switch PID profiles in this case.

[2019-10-08 11:21] #8757 closed

[2019-10-08 21:50] DangerD256 opened #9014 "Matek F405-CTR Led strip issue"
Only 7 Leds are working, 8th led is always green.

Tried to reflash to inav, everything works fine there (but on S5 pin)

[2019-10-08 22:41] etracer65 commented on #9003
https://github.com/betaflight/betaflight/wiki/Arming-Sequence-&-Safety#description-of-arming-prevention-flags

[2019-10-08 23:25] packocrayons commented on #9003
Good stuff, thank you!

[2019-10-08 23:25] #9003 closed

[2019-10-09 04:21] #8794 closed

[2019-10-09 05:13] cheetah2k opened #9015 "Late starting motors on Betaflight 4.0.6 and 4.1 RC6 - Aikon RD32 4in1"
**Describe the bug**
Upon arm, motor 3 seems to always start late - which when you crash (or land), disarm, then rearm,  the quad will flip on rearm every time regardless of whether any props are damaged, etc.

**To Reproduce**
Able to reproduce issue on 4 identical brand new quad builds using BF 4.0.6 or BF 4.1 RC6
Issue is not present on BF 3.5.7

**Expected behavior**
All motors should start at

[2019-10-09 11:01] etracer65 commented on #9015
Please provide the information requested when opening the issue or it will be closed without further comment:

Create a `diff` and post it here in a code block. Put ``` (three backticks) at the start and end of the `diff` block (instructions  on how to do a diff: https://oscarliang.com/use-diff-not-dump-betaflight/)

[2019-10-09 12:02] cheetah2k commented on #9015
[code]

[2019-10-09 12:04] cheetah2k commented on #9015
[code]

[2019-10-09 12:16] etracer65 commented on #9015
Try using DSHOT instead of PROSHOT.

[2019-10-09 13:10] eroticisim1978 commented on #9008
Mikelller:
 thanks for your reply.
 We want to use the name of the CODDAR-F7.
 The following is the information of our company and brand.

Head office name
 CODDAR LIMITED
Shenzhen office name
SHENZHEN GNBL LIMITED

Company website (under construction...)
 www. Coddar.net

CODDAR USA on line shop (under contruction..)
www.coddarrc.com

[2019-10-09 13:19] mikeller commented on #9008
Neither of these pages seem to work - is there any other web presence that we can direct your users to for support?

[2019-10-09 13:28] cheetah2k commented on #9015
Now this is interesting because the Configurator says im using Dshot1200

[2019-10-09 13:32] etracer65 commented on #9015
Because you're using an older Configurator version that doesn't support BF4.1. You need to use the latest.

https://github.com/betaflight/betaflight-configurator/releases

[2019-10-09 13:33] cheetah2k commented on #9015
Dshot600 still has the same issue.

[2019-10-09 14:04] jflyper opened #9016 "Flash driver: Bad block management should be done at chip driver level"
Flash partitioning scheme introduced in #8297 includes bad block partition to manage replacement blocks for NAND flashes. However, this is a bad layering under existence of stacked die devices in which dies are concatenated by the driver to form a single large array of blocks and then provided to the partitioning system.

We need to handle bad blocks at the die driver  level, as replacement blocks

[2019-10-09 14:48] DangerD256 commented on #9014
What exactly is missing?

[2019-10-09 17:54] DarkSoulRL opened #9018 "IBUS one wire telemetry fail"
IBUS one wire telemetry

4.1.0-RC6
The configurator will not save the setting when Serial RX and IBUS telemetry are enabled on the same UART

on version 4.1.0-RC3  everything worked as expected
http://rchopez.com/webshaper/pcm/pictures/Receiver/Flit%2010/18.PNG

[2019-10-09 19:13] hundemann opened #9020 "sudden ACC drifting / Matek F7 722SE / BF4.1.0-RC6?"
Not sure if this is an issue, but I had on two same FC using that same FW a sudden ACC drift, after connecting to BF configurator (latest release).
What happened before: I was flying both already, but I almost had a nose crash with one of them during first launch. After connecting it to the configurator I noticed the ACC degrees were way off.
The second one was flying great, but on that one I just

[2019-10-09 20:06] etracer65 commented on #9018
Already fixed in #9000

[2019-10-09 20:06] #9018 closed

[2019-10-09 20:22] ujjwalk450 opened #9019 "Cannot enable bidirectinal dshot on kakute f4v2"
[code]

[2019-10-09 20:58] etracer65 commented on #9019
Instructions ask for a `diff`, not a dump.

Create a `diff` and post it here in a code block. Put ``` (three backticks) at the start and end of the `diff` block (instructions  on how to do a diff: https://oscarliang.com/use-diff-not-dump-betaflight/)

Also describe how you think you can't enable bidirectional DSHOT. We can only guess what you mean or how you tried to enable it.

[2019-10-09 22:04] Mateyhv commented on #8998
Sorry for the late response and thanks everybody for the inputs. Gave me some good ideas.

@etracer65, P that is not randomly set, The quad was tuned so that gyro tracks the setpoint as close as possible. Lowering it is effectively detuning. Its nowhere high though, take a look at the recent YAW pid tunning youtube video from Mark Spatz where he is testing P as high as 200 on yaw with no ill effec

[2019-10-09 22:04] #8998 closed

[2019-10-09 22:15] IvoFPV commented on #8998
@Mateyhv Even though P for you is making it track better it will introduce a lot of issues at high gain values. I would instead try increasing Feedforward on yaw to get it to track better. This will give you better tracking without any drawbacks of high P gains.

It is clearly stated on the wiki that it is recommended to change gyro lowpass and dynamic notch filter settings when you enable RPM fil

[2019-10-09 22:21] cheetah2k commented on #9015
Here is the issue with ESC timings Auto / PWM 48khz..   Motor 3 still has a slight stutter, which does not happen all the time (looks like 50%)

https://youtu.be/Z1nEyy1NbgU

However, if I leave the Aikon RD32 timings set on defaults, its a whole other story.  Check this.

https://youtu.be/4yABletktRo

I swapped out the FC for a new Aikon F7 FC, This is running BF 4.1 rc6, and BL32 32.7 fw.

[2019-10-09 22:23] cheetah2k commented on #9015
Also worth noting, changing to Multishot, none of the start up chimes are ever in sync, even if I carry out a calibration in BF..   I just don't get it..  I've not seen this sort of issue with BF since BF 2.x

[2019-10-09 22:26] Mateyhv commented on #8998
@IvoFPV yes, maybe I overlooked that detail but I thought thats to be done once RPMs are on, not expecting to find this behaviour with PT1 filters on, not even biquad.
Regarding yaw, P is not what mainly pushes the quad, its I. P prevents overshooting. My original FF was around 170, for current tests it is on default.

[2019-10-10 00:01] etracer65 commented on #9020
Always calibrate the ACC after flashing. The calibration offsets are stored in the firmware settings and are erased if you do a full-chip erase (or otherwise reset to defaults). Calibration is not just about setting the "level", it also determines the DC offsets for each axis needs to correctly interpret the sensor readings.

[2019-10-10 00:37] mikeller commented on #9014
@DangerD256: The information you were asked to provide when opening this issue:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Flight controller configuration**
Create a `diff` and post it here in a code block. Put ``` (three backti

[2019-10-10 04:02] ujjwalk450 commented on #9019
I have tried to switch on bidirectional dshot by flipping a switch in configuration tab of betaflight.
I have also tried to paste code snippet for BF4.1 as described in https://github.com/betaflight/betaflight/wiki/Bidirectional-DSHOT-and-RPM-Filter

[2019-10-10 07:40] jflyper commented on #9014
You have a conflict of pin function between I2C and LED_STRIP (PB6 is claimed by `I2C_SCL 1` in your `resource show` output) or, you haven't assigned S5 as LED_STRIP output (there is no `LED_STRIP` entry in your `resource show` output).

If you are using LED pad to connect your LED strip, then `I2C_SCL 1` must be freed by
[code]

If you are using S5 pad to connect your LED strip, then you have to

[2019-10-10 08:52] jflyper commented on #9019
@ujjwalk450

Would you please try the following procedure?

(1) Re-flash with full chip erase.

(2) Immediately configure motors for DSHOT300 and Bidrectional DShot and nothing else.

(3) Test motors with motors tab.

(4) If this works, then slowly add your config diff output and see if any lines you've added will reset the bidir-dshot?

[2019-10-10 09:47] jflyper commented on #9020
Shall we define and use a new arming prevention flag `ARMING_DISABLED_ACC_NOT_CALIBRATED`? I believe  iNav has an equivalent.

[2019-10-10 10:14] mikeller commented on #9020
@jflyper: Not sure - I think that one difference between iNav and us is that in iNav pretty much everybody will be using the accelerometer, whereas in Betaflight a lot of users will probably never use it.
So if anything, ACC calibration should only be required if the user wants to actually use ACC - I am just not sure on how to best do this.

[2019-10-10 11:22] etracer65 commented on #9020
@mikeller I can look into it - shouldn't be that hard. Should just need to look at the potential consumers of the ACC - like self-level modes, GPS rescue, acro trainer, launch control, etc. There are a few other OSD non-flight critical like artificial horizon, etc.

The more difficult part is determining if the ACC has been calibrated. An uncalibrated case will have `acc_calibration = 0,0,0`, but

[2019-10-10 11:27] etracer65 commented on #9019
@ujjwalk450 Your settings show no sign of bidirectional DSHOT being enabled. Perhaps you forgot to click the "Save" button on the Configuration tab after enabling.

Also, this is a problem:
[code]
This will prevent bidirectional DSHOT from working. Not sure why you have this as the default is "AUTO". I recommend you reset to `defaults` and configure manually (don't paste in a `diff`).

[2019-10-10 11:44] ujjwalk450 commented on #9019
@jflyper  thanks dev, this worked.

[2019-10-10 11:44] #9019 closed

[2019-10-10 11:52] mikeller commented on #9020
@etracer65: Yeah, it will just be herding cats to collect and keep on top of all the different uses of ACC. :wink: And yes, this will need an extra parameter to keep track of the ACC calibration state.

[2019-10-10 14:23] hObBiT-iM-bLuTrAuScH commented on #8954
just to keep this alive: i have the same issue on my CLRacing F7. Plus i can not save a pit frequency. also the OSD does not show the correct VTX Power. Does this have something to do with smartaudio 2.1? FC is outputting 2.1 signals. last checked on build 1908

[2019-10-10 14:41] hObBiT-iM-bLuTrAuScH opened #9023 "CRSF integration for BOTH RSSI & LQ in betaflight OSD"
**Is your feature request related to a problem? Please describe.**

I want to display BOTH RSSI and LQ in the betaflight OSD. CRSF is outputting both signals on AUX8, but LQ is equal 0 and a warning is displayed in the OSD. RSSI is fine

**Describe the solution you'd like**

Readout for all values beeing transmitted from CRSF (RSSI/LQ/RFMD) and possibillity to put them in the OSD

**Describe alter

[2019-10-10 15:55] Armstrong78 opened #9024 "Furyf4osd"
I have a few of these fc and they all have this problem I have tried legacy and Diatone but I can not get osd to work after upgrading to 4.1 not sure if it is a bug or what.

[2019-10-10 16:53] theely opened #9025 "Dropped RC frames get extremely high under increased CPU load"
**Describe the bug**
Looks like there's a relationship between dropped RC frames on Crossfire (maybe other Serial Receiver Provider are affected too) and how loaded the CPU is.
I have tested BF 3.5.8 - BF 4.0.6 - BF 4.1RC6 and BF 4.1RC6+RPM on the same setup with the same testing conditions.
The FC I have been using is a CLRacing F7 V2, I was also able to reproduce the same problem on a Matek F722

[2019-10-10 17:29] etracer65 commented on #9025
Not sure why you would think this is surprising or unusual.

Why would you think that? We only have a single CPU core and no multitasking. And even so your blackbox logs aren't really convincing. Take at different times there's no way to say the frame delays weren't cause by OTA delays in the Crossfire protocol.

[2019-10-10 18:13] Pavel-DV commented on #2452
@mikeller Thanks.
I just did not know that there are stick commands.

[2019-10-10 18:38] theely commented on #9025
Crossfire frames com in every 150Hz max, right? So it's surprising that we can not fetch them under moderate CPU load.
But never mind, let's not focus on that! What I am concerned off is the high amount of frames that are dropped with RPM on. It's so high that it's start affecting setpoint and this is while the quad is on the work bench, once you start flying it gets even worst.

Could you elabora

[2019-10-10 18:58] etracer65 commented on #9025
The receiver frames aren't "dropped", they're delayed. And it's a side effect of the scheduler optimization required to get the PID loop synchronized with an external timebase. As a result of scheduling the PID loop earlier than normal to counteract any delays from the previous iteration it impinges on the time available to do other tasks. That's also why it gets worse at 8K as there is only 125us

[2019-10-10 19:09] theely commented on #9025
I see, and you are not worried about the consequences?
I find it a bit troubling that an F7 with 4K/4K and RPM on has so many delayed frames that it starts affecting flight performances.
On one side with RPM you improve setpoint tracking (not only) but then on the other side your setpoint gets worst because of delayed frames. Is this the right tradeoff?

[2019-10-10 19:12] etracer65 commented on #9025
I didn't say I like it. I'm just telling you the cause.

[2019-10-10 19:18] theely commented on #9025
Is there something we can do about it?
Could be as simple as communicating the tradeoff in the BF 4.1 wiki page so people are aware of it and they don't waste huge amount of time (as I did) trying to find out why the quad is not flying well.

[2019-10-10 19:42] etracer65 commented on #9025
Without actually having access to any of these logs other than screenshots it's really hard to suggest anything. However the one screenshot showing the motors you appear to be highlighting a 60ms step. That would indicate a problem with your Crossfire setup. Likely in the middle of switching from 150hz to 50hz (20ms) mode and dropped some OTA (over the air) frames. Crossfire switches from 150hz to

[2019-10-10 19:59] mikeller commented on #9023
@hObBiT-iM-bLuTrAuScH: Do you have pointers to the CRSF documentation that contains the details of what data is output and in what format?

[2019-10-10 20:30] theely commented on #9025
Here are the logs I used for the screenshots: https://drive.google.com/open?id=1HYpHPtG7AFlrP33Ha0u0NHbamaKWx4-k

Here is the real bad one with motor the motor traces:
https://drive.google.com/open?id=19StII2i61gPHDL6o7ms87jpLrNct_CuU&fbclid=IwAR1TOItqGIIoBC-FiTSRBbezLd2eYm4Y7U_WZRu3AXtP0a9WQJhdLq5_0yU

To replicate the issue on my setup it's sufficient to lock Crossfire on mode 1 (50hz) and set 8

[2019-10-10 21:03] hObBiT-iM-bLuTrAuScH commented on #9023
@mikeller
Found another issue regarding this #3907

Not sure about specific pointers but i hope this helps. But i am sure TBS would love to help.
https://oscarliang.com/lq-rssi-tbs-crossfire/
https://www.team-blacksheep.com/tbs-crossfire-manual.pdf

What should LQ in the OSD actually display and where does the input come from? Also the rssi aux channel?

[2019-10-11 00:42] ctzsnooze commented on #9025
Looking at the test log, the receiver is actually running at 150hz.  I've seen this in other CRSF logs; crossfire mode 1 is not actually locked to 50hz at all, it randomly switches 150 <-> 50 in that mode.  The only locked mode is locked 150hz.

There are big steps in setpoint some 60ms or wider, but its not 100% clear, since the Rx refresh rate wasn't logged, if those were associated with a failu

[2019-10-11 01:13] etracer65 commented on #9025
No, I specifically said they weren't dropped.

[2019-10-11 06:21] McGiverGim commented on #9023
I don't understand neither what you want. In the OSD we have a RSSI and a LQ element that gets the information from the Crossfire RX directly. It does not need any aux channel if you are using a Serial RX protocol.
I don't have a CRSF, but have you tested the elements of the OSD?

[2019-10-11 07:14] adrianmiriuta commented on #9025
@ctzsnooze
I have noticed this issue with FrSky receivers too,
but it turned out it is the normal way the FrSky protocol works.
Each time when a Telemetry frame is sent back from the receiver you get the old RC values.

[2019-10-11 10:13] hObBiT-iM-bLuTrAuScH commented on #9023
Like i said: I want to display BOTH RSSI and LQ in the betaflight OSD (at the same time). I have both elements set in the OSD and crsf is set to RSSI/LQ. LQ says 0 and reports a warning.
 I can only see "(   0" for LQ in the OSD while RSSI is fine.

If it is already supposed to get all information from crsf RX directly, maybe this is not a feature request but an issue?

Last tested on build #1908

[2019-10-11 10:16] azixaka commented on #9025
Ah I get these weird motor traces and I simply can't get to the bottom of this. I wonder if it's this!

https://1drv.ms/u/s!AiGgeJ7isHv6kpQtNWLWXnO1Ojq3Zg?e=aF2siw

[2019-10-11 11:43] hObBiT-iM-bLuTrAuScH commented on #9023
If i get this right, Crossfire will only output the worse value when set to RSSI/LQ. So either RSSI or LQ can be displayed in the OSD?!

BUT if i set the crossfire receiver to output LQ and RSSI on two different channels, i could get both signals at the same time. Now i need an AUX channel that i can assign the LQ AUX channel to, like we do for RSSI.

[2019-10-11 11:51] IvoFPV commented on #9023
@hObBiT-iM-bLuTrAuScH I don't use crossfire but I am pretty sure you don't need AUX channels at all with CRSF. Meaning you don't need to set your channel to RSSI/LQ. It will pull the RSSI and LQ data from the receiver itself, not AUX channel, and display it in OSD. If you deselect your RSSI AUX channel in receiver tab it will still work.

[2019-10-11 12:06] hObBiT-iM-bLuTrAuScH commented on #9023
I deselected RSSI AUX channel in receiver tab and RSSI is reading 0. Same "(  0" expression for LQ.

For testing i will put LQ on AUX 7 and RSSI on AUX 8 and switch the RSSI AUX channel between and see what i get.

[2019-10-11 12:30] hObBiT-iM-bLuTrAuScH commented on #9023
From link above: (https://oscarliang.com/lq-rssi-tbs-crossfire/)

Differences between LQ and RSSI
RSSI​ is an indicator of received signal strength, measuring the power present in a received radio signal.

Besides RSSI, Crossfire receivers can also output LQ, which stands for “Link Quality”. It’s based on the percentage of signal data received.

You can also output a combined RSSI/LQ value. The RS

[2019-10-11 13:12] eroticisim1978 commented on #9008
Dear Mikeller:
 We using the www.coddar.net as our werbsite. please check it .

[2019-10-11 13:52] hObBiT-iM-bLuTrAuScH commented on #9023
Dont laugh at me. Now i cant even get the LQ to readout the 300 again. I can display RSSI but not LQ, even without the RSSI element disabled. there must be some sort of issue. talking build #1908

[2019-10-11 13:59] IvoFPV commented on #9023
That link is explaining how to setup the RSSI or LQ the old way by using AUX channels. You shouldn't be using those on CRSF. It should get pulled from the receiver which has that data regardless of what you set on your AUX channels. Now how to use that feature I am not sure, as I've said I don't use CRSF. I will look into how this works as I can't find any documentation now.

[2019-10-11 14:18] hObBiT-iM-bLuTrAuScH commented on #9023
@IvoFPV
I have another quad using FPORT and u r right, RSSI is displayed without using an AUX channel at all.

[2019-10-11 14:26] IvoFPV commented on #9023
@hObBiT-iM-bLuTrAuScH You should just enable `Link Quality` osd element and for RSSI enable `RSSI dBm value` which works with CRSF. This should work without AUX channels so you can remove those. If that doesn't work then try reflashing with full chip erase, configure just that and your receiver to CRSF and post a `diff`

[2019-10-11 14:30] frozenskys commented on #9023
Also I think the "(0" is related to having an out of date OSD font loaded - please try reloading the font, using the latest betaflight configurator.

[2019-10-11 14:33] hObBiT-iM-bLuTrAuScH commented on #9023
After i deativated outputting any signal (rssi or lq) from the crossfire receiver over the aux channels and deativating the rssi channel in the receiver tab, i get both element values displayed correct in the OSD.

The only thing left is the "(" in front of the correct LQ value.

[2019-10-11 14:34] IvoFPV commented on #9023
@hObBiT-iM-bLuTrAuScH Then just do as @frozenskys says and it should be all good 💯

[2019-10-11 14:35] hObBiT-iM-bLuTrAuScH commented on #9023
How to reload the fonts? just change and save?

[2019-10-11 14:37] IvoFPV commented on #9023
@hObBiT-iM-bLuTrAuScH In the configurator go to OSD tab and on the bottom left near the save button, open Font Manager, choose the font you want and click Upload Font. You might need to plug in a lipo for this.

[2019-10-11 14:41] hObBiT-iM-bLuTrAuScH commented on #9023
Reloading the fonts did work for the last issue. can i close or should i leave it open/rename or something for documentation?

[2019-10-11 14:43] IvoFPV commented on #9023
Yeah, it should be closed as this is a configuration and user error. Font uploading is mentioned in release notes, you've probably missed it.

[2019-10-11 14:47] hObBiT-iM-bLuTrAuScH commented on #9023
Yes i probably missed that one.
Maybe it should be documented that u have to disable any rssi/lq outputs in the receiver tab? at least that worked for me. Any tutorial i found tells to set them.

Thanks everyone

[2019-10-11 14:47] #9023 closed

[2019-10-11 16:02] chupocro commented on #6172
I have the same problem but with SBUS receiver (XSR-M), Betaflight 3.5.0 and SP F3. There is RX Signal Received = 0 event in the flight log whenever that happens.

[2019-10-11 16:12] hObBiT-iM-bLuTrAuScH opened #9028 "RSSI reading low/wrong on 4.0.1 build1908"
**Describe the bug**
The RSSI value is different in 4.0.6 and 4.1.0 build1908 (Legacy and CLRA)

**To Reproduce**
Flashing Firmware 4.0.6 where RSSI used to be correct (99-100%).
Flashing Firmware 4.1.0 build1908 and RSSI is only 50-70%

**Expected behavior**
A clear and concise description of what you expected to happen.

Show RSSI value of 99-100% as RX and TX are close to each other.

**Flight

[2019-10-11 16:21] #9024 closed

[2019-10-11 16:30] IvoFPV commented on #9028
Please don't use #(number) for build numbers because that references another PR/Issue with that number.

Is this related to the previous issue where you were figuring out LQ and RSSI?
Could you join our Slack for help with configuration issues in general because this is not a right place for those? https://slack.betaflight.com/

[2019-10-11 16:36] hObBiT-iM-bLuTrAuScH commented on #9028
This is not related to #9023. However i figured out the difference between the two firmware versions. i could set an rssi offset but i think that is not the correct way to report back an issue then. send an invitation request for slack. *@hotmail.com

[2019-10-11 16:50] hObBiT-iM-bLuTrAuScH commented on #9028
[code]

[2019-10-11 17:27] etracer65 commented on #9028
Where is the `diff` from previous versions that showed a different calculation?

[2019-10-11 17:38] hObBiT-iM-bLuTrAuScH commented on #9028
Well, are they not the same? Well, i´ll do some more work, flash back to 4.0.6 and give u guys what u want :D

[code]

[2019-10-11 18:15] hObBiT-iM-bLuTrAuScH commented on #9028
4 1 0 RC6 - also wrong RSSI reading

![4 1 0 RC6 - also wrong RSSI reading](https://user-images.githubusercontent.com/32323389/66674627-9fe4cc00-ec63-11e9-8ec0-17f7004cca8a.jpg)

[2019-10-11 18:21] hObBiT-iM-bLuTrAuScH commented on #9028
Voltage reading from the USB also is different in all three firmware version

[2019-10-11 23:03] pa2pla commented on #9002
issue fixed my fault i set value to db like in bardwels video its ment to be value 0,1,2,3 lable 25,200,500,800

[2019-10-11 23:03] #9002 closed

[2019-10-12 08:27] TheMrJahn opened #9030 "TBS Unify Pro32 and CRSF passthrough"
Nowadays I can do two different configurations with TBS stuff:
1. Solder crsf receiver and pro32 to an fc, so bf can control vtx (I like this scheme most);
2. Solder additional crsf tx/rx pins directly to pro32. In this way bf cannot control vtx (smartaudio pin = crsf rx), but I can update my unify fw using crsf.

It would be best to have an option, to connect pro32 to full uart port, use it as sa

[2019-10-12 10:57] ctzsnooze commented on #9025
@etracer65 - kind of how bad is that scheduler related delay, typically?  I mean, what kind of range of loop counts?  If it was one or two loops that wouldn't matter much, I think.

@adrianmiriuta - do you have a link that explains the telemetry frame issue?  Does seem remarkable that they would drop an entire data frame just to send a telemetry packet back.  If so would that mean that if I disabl

[2019-10-12 17:14] yo8aiv commented on #8605
hi sorry for the late answer. i'll give it a try and report back.
THX.

[2019-10-12 17:44] adrianmiriuta commented on #9025
@ctzsnooze
they do not drop a data frame.
There is no data available because the RF timeslot is used to send  Telemetry back to the radio
not to receive RC data  from it.
So the SBUS or FPORT data frame sent to the FlightControler is identical to the previous one.

You can study some projects that reversed the FrSky protocols.
https://fishpepper.de/2016/09/07/opensky-on-d4r-ii-pinout-flashing-and-

[2019-10-12 19:28] mikeller commented on #9025
@adrianmiriuta:

Can you specify what protocols you are talking about? Could it be that this is specific only to the R9 protocol, potentially only when running in 50 Hz 'LoRa' mode?
This is definitely not the case for the FrSky 2.4 GHz 'D' and 'X' protocols. Have a look at

https://github.com/betaflight/betaflight/blob/master/src/main/rx/cc2500_frsky_d.c

and

https://github.com/betaflight/betafli

[2019-10-12 20:53] mikeller commented on #9008
@eroticisim1978:

This website is currently used by 'conjoint Digital Company':

![image](https://user-images.githubusercontent.com/4742747/66707583-3c5fb900-ed9f-11e9-8228-b1b2fde173b2.png)

Is this the company that should be listed as sales and support contact for this flight controller?

[2019-10-12 21:13] mikeller commented on #9030
Does TBS offer a way to update the VTX firmware by connecting the VTX to a PC, without having to use proprietary functionality built into the CRSF hardware? If not there is not much chance that this can be done, safe for one that would require a second UART to be connected to the VTX control pins on the CRSF RX, and then pass through the VTX control / update data.

[2019-10-13 01:16] ctzsnooze commented on #9025
No, your log has zero feed forward in the configuration, so it has no relevance to this discussion.  The quad is not performing well because there is no feed forward and you are running a lot of P to compensate, the result is P wobbling and overshoot with quick setpoint changes.  Although your Rx is mostly in 20ms / 50hz mode and occasionally isn't smooth, it would still be better with some feed f

[2019-10-13 02:48] turboed13b commented on #8603
I think the issue is with matek411rx boards which is what the crazybee f4 is.

I just got the new betafpv f4 fc and have the same problem. It isnt consistent either. It will fly perfectly fine one time then the next time I plug a battery in it will do the twitching deal again. Sometimes when first powering up it only "half" binds where the rssi will show up in the 40's of course It twitches and fa

[2019-10-13 04:49] adrianmiriuta commented on #9025
@mikeller
I am talking about all protocols.
It is about the RF transmission.

Let's take  FrSky D as example :

You have 2 states
    STATE_DATA,
    STATE_TELEMETRY,

every time when
     if ((packet[3] % 4) == 2) {
        *protocolState = STATE_TELEMETRY;

you will build a telemetry packet and use the next RF timeslot to transmit it  (receiver->RC)
in this timeslot there is no received data  (R

[2019-10-13 07:00] TheMrJahn commented on #9030
Pro32 HV can be updated through usb port, Pro32 Nano can be updated only via OTA when its connected to crsf rx directly.

[2019-10-13 09:15] mikeller commented on #9025
@adrianmiriuta:

Ah I see. I assumed that this was happening within the 9ms RC data frame intervals, but I've never actually checked this - especially in the case of FrSky X where the telemetry packet is a lot shorter, and cannot be disabled from the TX side you'd expect that.

[2019-10-13 09:22] mikeller commented on #9030
@TheMrJahn: Doesn't look like Betaflight can do much to enable in-place updating for the Pro32 Nano then - it will likely only be possible to have it connected by Betaflight _or_ by the CRSF RX.

[2019-10-13 13:09] Dope-johnny opened #9032 "OSD main battery voltage accuracy when vbat < 10V"
**Describe the bug**
The main bat voltage OSD element shows only 0.1V accuracy although it has 3 siginficant digits when a 2S lipo is plugged in. Average cell voltage, betaflight configurator main bat voltage and telemetry data show 0.01V accuracy.
e.g: OSD: 8.20V, actual voltage in configurator: 8.16V

**To Reproduce**
Plug in 2S battery with BF4.1.0-RC6

**Expected behavior**
0.01V accuracy when

[2019-10-13 13:36] jflyper commented on #9028
Battery voltage read while battery voltage is absent does not mean anything. An ADC used (wherever that is) is reading some floating / phantom / leak voltage.

Preferably, you can bisect targets between 4.0.0 and 4.1.0-RC to find out where the value has started to change.

Reporting values of `debug[]` array when `debug_mode` is set to `CRSF_LINK_STATISTICS_UPLINK` may also help.

[2019-10-13 14:00] sanchosk commented on #8863
Not sure how would the flight controller use the humidity data for flight, but if you have an idea, I'd propose to open a suggestion for the devs.
I tested both BMP and BME, they got detected and work OK. Just be careful - make sure you don't connect the 3.3V version to 5V - it works for few seconds and then stops forever ;)

[2019-10-13 14:19] crteensy commented on #8863
Can you share code? Is it really just a matter of including the additional device ID in the presence check?

[2019-10-13 14:48] ctzsnooze commented on #9025
@adrianmiriuta:

Does this mean that if I disable telemetry, when binding an X series Rx, I should see fewer situations where the same data is repeated on successive packets?

I have noticed that if I swing the sticks, there is often a duplicate data packet when the rate of change of the value is low, eg when the sticks are moving more slowly.  For example, if I swing the sticks back and forward,

[2019-10-13 15:50] drewzh commented on #6172
This is still occurring for me and apparently others using the latest betaflight 4.0.6. I'm using FRSKY_X_LBT on a Tinyhawk S and I get lockups routinely (can't get through a single battery without a lockup).

[2019-10-13 15:52] adrianmiriuta commented on #9025
@ctzsnooze
I do not know how it is handled on FrSky X protocol.

I studied only a reversed version  of FrSky D8 with FrskyHUB telemetry.
There every 4'th packet is a telemetry reply,
the 4'th SBUS frame is a copy of the 3'th frame.

[2019-10-13 16:37] Asizon commented on #6172
Please guys, flash 4.1.0,it fix all of frsky_X protocol problems, thanks to @mikeller

[2019-10-13 16:59] stylesuxx opened #9033 "Kakute F7 - bi-directional DSHOT no longer working"
**Describe the bug**
On 4.1.0 RC6 Bi-Directional DSHOT is no longer working. I have been using it on 4.0.6 without any issues. Now when I enable it, the motors sometimes start twitching randomly, without the copter being armed. In the motors tab 100% Error is shown and I can not spin up the motors. Motors will also not spin when arming the copter.

I tried both, unified and legacy targets.

Trying

[2019-10-13 17:03] IvoFPV commented on #9033
You must update your ESC firmware. BF4.1 uses a different signal to communicate with the ESC which doesn't work on older blheli32 versions.

https://github.com/betaflight/betaflight/wiki/Bidirectional-DSHOT-and-RPM-Filter

[2019-10-13 17:13] sanchosk commented on #8863
No code, I just soldered it and it got auto-detected when the quad battery was present. I just enabled the baro in betaflight.

On 13 Oct 2019, 16:20, at 16:20, crteensy <notifications@github.com> wrote:

[2019-10-13 17:18] drewzh commented on #6172
Sounds good! Do all the rates/profiles work as per the factory defaults? (I'm a noob at tuning and can't do this myself yet).

[2019-10-13 17:25] stylesuxx commented on #9033
OK, thank you - now I feel stupid, I checked in BLHELI_32 suite and the latest version that is offered to me is  32.64. And the newest version of BLHELI_32 suite seems to have a dependency problem with my libcurl - I guess that one would offer version 32.7. I do not see that version for download anywhere...

I guess my issue is solved once I can aquire version 32.7 until then I will stick with 4.0

[2019-10-13 17:25] #9033 closed

[2019-10-13 17:26] ipocalypse opened #9034 "OSD causing cycle time to spike to over 1000 on iFlight SucceX Mini F4 V2.1 Flight Control"
**Describe the bug**
When trying to run @ 4k/4k or 8k/8k the cycle time will have constant spikes to over 1000 when the OSD is enabled. This causes twitching while flying. I had Iflight send me another board. This one does the exact same thing. CPU never goes over 5%.

**To Reproduce**
Steps to reproduce the behavior:
Very easy to reproduce. Just set to 4k/4k with DSHOT300 and OSD enabled. Reboot

[2019-10-13 17:49] barneyflorrick opened #9035 "SmartAudio softserial does not work on Crazybee F4 pro v1.0 no rx version"
**Describe the bug**
VTX: FXT fx868t
FC: crazybee f4 pro v1.0 no rx version
The vtx support smartaudio v2.0, it works on uart2, but it does not work on softserial uart2 tx pin or led_strip pin.

**To Reproduce**

1. remap led_strip to softserial1
2. enable softserial
3. set softserial1 as tbs smartaudio
4. set vtx table
5. change vtx frequency in OSD

**Expected behavior**
Being able to change pow

[2019-10-13 18:56] etracer65 commented on #9034
Well as you already noted, the behavior is the same on firmware versions all the way back to 3.4.1 so that would rule out something firmware specific. Perhaps you should take this up with the board manufacturer.

Why would you expect that? Flight controllers only have a single microcontroller. There is no multi-threading. Anything that uses processing time affects other parts that need processing

[2019-10-13 19:21] theely commented on #9025
I am trying to summarize the thread, please let me know if my current understanding is correct.

1. Beside link quality, there are many other reasons that can affect how precisely the stick input is translate into the raw RC commands signal:
   a. the receiver firmware and how RC frames are handled
   b. specifics of the protocol and optional features (e.g. telemetry)
   c. BF ability to fetch the

[2019-10-13 19:50] crteensy commented on #8863
That could either mean that the BME is already coded for in the BF version you used, or the chip ID check doesn't work as intended

[2019-10-13 21:46] etracer65 commented on #9034
It's also a possibility that your camera or the cloned max7456 OSD overlay chip used on that flight controller may be out of spec and losing video sync. Every time that happens there is a delay while the OSD chip resynchronizes. You could try capturing a log with `debug_mode = MAX7456_SIGNAL`. Then debug(2) will show a count of the number of re-sync's and the timing (value increases for each re-sy

[2019-10-13 22:03] ipocalypse commented on #9034
I did all my tests with just the FC and nothing else connected. I can send a video of what I see as well if you would like to see it.  Sent from Mail for Windows 10 From: Bruce LuckcuckSent: Sunday, October 13, 2019 2:47 PMTo: betaflight/betaflightCc: ipocalypse; AuthorSubject: Re: [betaflight/betaflight] OSD causing cycle time to spike to over 1000 on iFlight SucceX Mini F4 V2.1 Flight Control (#

[2019-10-13 22:05] ipocalypse commented on #9034
I tried many OSD options including turning everything off but still having it enabled. Same issue. Once it is enabled it has the issue. I am sure it is an issue with the manufacture and I suspect it is a CLONE. But I wanted to let people know because I had SOOOO many issues trying to get this thing to fly correctly and disabling the OSD was all it took to fix it.  Sent from Mail for Windows 10 Fro

[2019-10-13 22:20] chupocro commented on #6172
"As announced before the release of Betaflight 4.0, support for F3 based flight controllers has been removed from Betaflight 4.1."

If there was a bug in FrSky_X protocol which was resolved in Betaflight 4.1.0 it would be nice if someone would fix the bug in the latest Betaflight version that works with F3 flight controllers too.

BTW, according to various forum and github posts it seems the "FrSk

[2019-10-13 22:30] drewzh commented on #6172
I just flashed 4.1 on my Tinyhawk S and I'm still getting random fail-safes just as before :-/

[2019-10-13 22:38] etracer65 commented on #9034
Well then that's not really a valid test. Without a camera video signal the OSD overlay chip is going to continuously reinitialize trying to synchronize to the (nonexistent) video input.

Also, not every flight controller powers the overlay chip completely when only on USB. So if that was the case then there would definitely be periodic delays.

[2019-10-13 22:48] ipocalypse commented on #9034
Well it’s the same in the drone as out as far as this issue goes. I just know for 100% that with OSD on the drone twitches horribly and with it off there is no twitch at all. I even put the OSD on a switch and can make it start twitching just by turning it on.  Sent from Mail for Windows 10 From: Bruce LuckcuckSent: Sunday, October 13, 2019 3:39 PMTo: betaflight/betaflightCc: ipocalypse; AuthorSub

[2019-10-13 22:54] etracer65 commented on #9034
Then I would suspect that the CPU is having communications problems with the OSD overlay chip. Possibly bad circuit design or bad/failing OSD chip.

[2019-10-13 23:01] ipocalypse commented on #9034
I sent IFLIGHT all this info as well. I just wanted to report it for the community in case someone else has this same board and keeps trying to fight the twitching that issues caused. Sent from Mail for Windows 10 From: Bruce LuckcuckSent: Sunday, October 13, 2019 3:55 PMTo: betaflight/betaflightCc: ipocalypse; AuthorSubject: Re: [betaflight/betaflight] OSD causing cycle time to spike to over 1000

[2019-10-13 23:35] ctzsnooze commented on #9025
@adrianmiriuta
Thanks for your reply.  I looked just now at even more logs (5 quads) and reliably the duplicate data happens only when the rate of change of signal is low.  I think this must be an innovation for the X series. The R8 module has a regular repeating pattern every 4 data packets. Wonder if one is telemetry ???
@Theely
Go `get debug_mode` in the CLI and you'll see many debug options.

[2019-10-13 23:44] mikeller commented on #6172
@drewzh: What version exactly did you flash?

[2019-10-13 23:49] mikeller commented on #9035
@barneyflorrick: Can we please get the output of `resource show all` as well?

[2019-10-14 05:23] Asizon commented on #6172
This seems like a hardware or configuration issue.

[2019-10-14 05:25] Asizon commented on #6172
@chupocro,come to slack plataform, a few guys can make 4.1.0 for f3 with the fix, like this

[2019-10-14 05:39] Asizon commented on #6172
[betaflight_4.1.0_CRAZYBEEF3FR.zip](https://github.com/betaflight/betaflight/files/3723070/betaflight_4.1.0_CRAZYBEEF3FR.zip)

[2019-10-14 05:41] Asizon commented on #6172
by the way @chupocro  this problem has been in Frsky_X since birth, nobody introduced any problem, it is a very closed code that developers have had to open

[2019-10-14 06:04] adrianmiriuta commented on #9025
@theely

OpenTx and firmware of the TX module also play a major role  in timing and latency behavior.
There is Code in OpenTx for averaging stick input that also introduces latency. (up to 13ms).
see: [x-lite-latency-testing](https://oscarliang.com/x-lite-latency-testing/)

There are reports from users that reduced latency to Half using er9x in place of OpenTx.
see: [Reduce your Taranis Latancy](h

[2019-10-14 06:14] maGfpv commented on #8836
@danielolsman, did you test rc6 with bidir? Does it work for you???

[2019-10-14 06:26] danielolsman commented on #8836
@maGfpv, no sorry not yet. I have to make time to test it.

[2019-10-14 07:40] ChenRiTianS commented on #9035
DALRC F405      RUSH Tank
Pitmode is always on, ground station and osd modulation cannot exit,
You can only exit pitmode through the button on the image

[2019-10-14 07:42] ChenRiTianS commented on #8954
DALRC F405      RUSH Tank
Pitmode is always on, ground station and osd modulation cannot exit,
only exit pitmode through the button on the image

[2019-10-14 09:08] Asizon commented on #6172
Good test @drewzh, if you still have problems like this, it will be a hardware problem, check the antenna

[2019-10-14 10:48] SchonRichtig commented on #6756
Unfortunately, no

I still think that this would be an useful option
But I’m not a programmer, I have no idea how complicated it is to
Implement a mode for the vtx power levels.
Shout be simple, but I could be soo wrong 😊

[2019-10-14 10:57] JamesKingdon commented on #9025
Going back to the original problem description, the claim is that the number of dropped frames has become significantly larger with BF 4.1 than it was with F 3.5.8. Is that in fact true, and if so is it an unavoidable side effect of increased cpu load and/or the new scheduler, or is there anything that can be done to reduce the number of dropped frames?

[2019-10-14 11:24] firewales opened #9037 "Problem with GPS in SPRACINGF3"
Hello everybody,
I have a problem to configure the GPS in my SPRACINGF3. I know that the GPS in this model are disactivate , and i try to build another version of the betaflight_4.0.6 enabling this features and removing others, following these manuals:

Building in Windows
https://github.com/betaflight/betaflight/blob/master/docs/development/Building%20in%20Windows.md

Customized version
https://g

[2019-10-14 11:45] nickgrossm opened #9039 "Betaflight - Motors rotate more and more with Props"
Hello I'm Nick,

i have a problem with mit JB4 with the 4 in1 ESCs. I did calibrate the ESCs and thought I check every settings double, but the Motors are begin to rotate more and more after i push my throttle stick minimal.

When the props are on the quad, and the motors are rotate more and more, the quad is doing a front flip.

My Quad is a Reverb with JB4 and 4 in1 ESC + Xing Motors 2207 2450kV

[2019-10-14 11:48] fremebondo commented on #8969
The real problem is that I CANNOT DECREASE logging rate. I only can select 500Hz or Disable.

[2019-10-14 12:17] IvoFPV commented on #9039
Please provide a `diff` and not a `dump`. As always check if your props are on correctly, not upside down, motor direction and motor order are correct, board orientation.

[2019-10-14 12:19] etracer65 commented on #9039
Issues are for reporting problems or bugs with the firmware. This is not the place for help with your configuration or hardware. Try:

https://www.rcgroups.com/forums/showthread.php?2464844-Betaflight-Flight-Controller-Firmware-Discussion-Thread/

https://www.facebook.com/groups/betaflightgroup

https://slack.betaflight.com

[2019-10-14 12:19] #9039 closed

[2019-10-14 12:22] etracer65 commented on #9037
You didn't correctly enable the GPS code. This is wrong:
[code]
Try:
[code]

[2019-10-14 12:26] spatzengr commented on #8909
This issue no longer occurs on RC6 with latest 10.6 configurator.

[2019-10-14 12:29] jflyper commented on #8909
@spatzengr Really? I believe it is not a configurator problem.

I think #9040 is required to fix this issue.

[2019-10-14 12:30] etracer65 commented on #9035
A couple of things:

1. You've configured the `vtxtable` power section as if this VTX supports SA 2.0. Do you know this to be the case? Has the manufacturer published documentation that says it is? You should look at https://github.com/betaflight/betaflight/wiki/VTX-tables which includes details on how to determine.

2. You have `vtx_low_power_disarm = ON` so any power level changes you make in th

[2019-10-14 12:38] nickgrossm commented on #9039
I checked everything double motor direction board orientation.

[2019-10-14 12:39] nickgrossm commented on #9039
where do i check the motor order?

[2019-10-14 12:51] firewales commented on #9037
In other thread it's commented that #define USE_GPS is deprecated
https://github.com/betaflight/betaflight/issues/4415

And in the manual: https://github.com/betaflight/betaflight/blob/master/docs/Customized%20Version.md

#define GPS

For this reason I put it like this, the manual is wrong or obsolete?

[2019-10-14 12:56] jflyper commented on #8909
@spatzengr

Can you execute this procedure to see if your "safe" combination is still safe?

1. Connect to the FC from configurator.

2. Connect the DJI FPV goggles and make sure it's talking to the FC.

3. Enter AVIN mode on goggles.

4. Exit from AVIN mode on goggles.

[2019-10-14 13:09] etracer65 commented on #9037
The information you're referring to is out of date.

[2019-10-14 13:10] spatzengr commented on #8909
@jflyper , OK.  So here is the trick.  IF I'm plugged into the Configurator FIRST, then I power the quad with a LiPO and turn on the goggles and TX, I CAN arm the quad while plugged in.
HOWEVER, if I power up the quad first from the LiPO and then plug in to the Configurator and connect, I CANNOT arm the quad.

I did try entering and existing AVIN mode in the latter to see if I could get it to arm

[2019-10-14 13:14] firewales commented on #9037
I try it this afternoon and I close the thread if it works.

Thank you!!!!

[2019-10-14 13:58] barneyflorrick commented on #9035
1. The vtx support SA 2.0, i have tested it on uart2, it works.
2. I have set vtx_low_power_disarm=off , smartaudio softserial does not work either.

[2019-10-14 15:16] jflyper commented on #8909
@spatzengr
Da**

[code]

[2019-10-14 15:45] jflyper commented on #9039
Spin motors one by one using the motor tab individual slider.

In addition to motor oder, pay attention if direction of rotation matches with the graphics on the page, too.

I will lock this, as this is clearly a support request. Further assistance can be obtained at places mentioned above.

[2019-10-14 19:08] RipperDrone commented on #9035
Haven't there been reports about some boards where SA over Softserial didn't work? I remember I changed SA to hard UART in 2 cases in the past due to Softserial not working, presumably it was on SucceX F4 Mini and on Magnum F4 v2 Mini boards. Trying to dig it up...

[2019-10-14 19:14] RipperDrone commented on #9035
Here are some references: https://github.com/betaflight/betaflight/issues/6400, https://github.com/betaflight/betaflight/pull/5076,

[2019-10-14 19:16] chupocro commented on #8969
Yes, 500 Hz is the lowest value that could be selected in the configurator but I think there is some divider/denominator parameter for configuring the logging sample rate that can be set by CLI. There is **blackbox_p_ratio** parameter which might be the divider between something (maybe PID loop count) and the blackbox log count but I still didn't have time to test it. If that parameter is the divi

[2019-10-14 19:35] chupocro commented on #6172
Thank you very much for the info!! I would really like to see the diff between the code before and after the change and/or discussion about debugging that problem.

BTW, the target I am using is **SRF3** which I am assuming is quite common F3 FC.

Regards

[2019-10-14 19:42] chupocro commented on #6172
Does it mean FrSky designed the receivers that can be used by only those who reverse engineer how they work? If someone wants to use SBUS he has to first reverse engineer the protocol? If that is the case I don't understand **to whom** they planned to sell their receivers? It would be a situation similar to producing the game console using some ASIC and FPGA circuits and starting to sell it withou

[2019-10-14 19:49] #8793 closed

[2019-10-14 20:49] #8801 closed

[2019-10-14 20:59] maGfpv opened #9041 "Role of death with Bidirectional DSHOT on H7EXTREME"
Role of death with activated Bidirectional DSHOT and RPM Filter on SPRACINGH7EXTREME

Steps to reproduce the behavior:
Bidirectional DSHOT was fixed with this issue #8836.
I updated to Build #1900 (28.09.2019 22:50:24) and activated rpm filter. Everything else is set to default. Sometimes it happens that the quad performs a role of death. (Log is attached)

**Flight controller configuration**
[cod

[2019-10-14 20:59] maGfpv opened #9098 "Role of death with Bidirectional DSHOT on H7EXTREME"
**Describe the bug**
Role of death with activated Bidirectional DSHOT and RPM Filter on SPRACINGH7EXTREME

**To Reproduce**
Bidirectional DSHOT was fixed with this issue betaflight/betaflight#8836.
I updated to Build betaflight/betaflight#1900 (28.09.2019 22:50:24) and activated rpm filter. Everything else is set to default. Sometimes it happens that the quad performs a role of death. (Log is atta

[2019-10-15 00:02] mikeller commented on #6172
@drewzh: The fix (#9010) isn't in 4.1.0-RC6. You'll have to use a nightly build or wait for the next release to test it.

@chupocro: I think you are misunderstanding what the FrSky SPI RX code does - it eliminates the need for a dedicated FrSky RX by having the flight controller drive the RF chipset directly. There is no SBus involved, but the flight controller has to 'speak' the OTA protocol used

[2019-10-15 01:45] chupocro commented on #6172
@mikeller That is another thing then. I was [here](https://github.com/betaflight/betaflight/issues/6172#issuecomment-541123952) reffering to the apparent problem with FrSky SBUS protocol. I am aware this thread is about SPI but I did say: "I have the same problem **but with SBUS receiver**...". There are reports where people said the same receiver was working with some FC firmwares other than Beta

[2019-10-15 03:49] #8814 closed

[2019-10-15 05:01] maGfpv commented on #8836
@Hydra i created a new issue:

Role of death with Bidirectional DSHOT on H7EXTREME #41

[2019-10-15 07:49] firewales commented on #9037
It´s works!!!

Upload the firmware in case someone needs it

The change from 4.0.6 version:
#define USE_PWM

#define USE_GPS
#define USE_GPS_NMEA
#define USE_GPS_UBLOX

#undef USE_DSHOT

[betaflight_4.0.6_SPRACINGF3.zip](https://github.com/betaflight/betaflight/files/3727852/betaflight_4.0.6_SPRACINGF3.zip)

[2019-10-15 07:49] #9037 closed

[2019-10-15 08:16] nerocide commented on #8836
Experiencing same thing i was waiting for more tests to be sure on how to eliminate the problem.

[2019-10-15 08:54] maGfpv commented on #8836
In my case it only happens with activated bidir and rpm filter. I wasnt able to repdroduce with deactivated bidir/rpm filter...

[2019-10-15 09:39] mikeller commented on #6172
@chupocro: This issue is specifically a discussion of issues with the FrSky SPI RX implementation, so I do not know why you are posting here about a problem with different hardware.

Also, note that #7084 that you reference was identified as a hardware issue. So if your problem is the same as this then I think opening a support case with FrSky and asking them for a fix is the right course of actio

[2019-10-15 10:40] mikeller commented on #8863
@crteensy:

That is interesting - according to the information you posted earlier (https://github.com/betaflight/betaflight/issues/8863#issue-491539385), the BME 280 uses a different id than the BMP 280:

I checked the driver in Betaflight, and it only checks for 0x58, so either you information is outdated, or there are different versions of the BME 280 that return different ids.

[2019-10-15 10:53] mikeller commented on #9032
@Dope-johnny: This is an intentional change, done in #7952. (Note that the '3 significant digits' in the pull request title is misleading, it simply rounds to tenths of volts.

[2019-10-15 10:56] salavatov commented on #7608
@mikeller any updates from EMAX?

[2019-10-15 11:00] crteensy commented on #8863
Mildly puzzled... Which piece of my information would be outdated?

[2019-10-15 11:08] Dope-johnny commented on #9032
Alrite. I was indeed peeking at those previous changes and misunderstood it. Although I liked .01 accuracy for 1S/2S quads. What [AndersHoglund](https://github.com/betaflight/betaflight/issues/7868#issuecomment-476218045) said seems like the best approach to me. That extra 0 in the OSD now doesn't have any benefit.

So I think this can be closed now.

[2019-10-15 11:08] #9032 closed

[2019-10-15 11:10] mikeller commented on #7608
@salavatov: Sadly no reaction whatsoever. :disappointed:

[2019-10-15 11:11] mikeller commented on #8863
@crteensy: The bit about the id register being 0x60 for the BME280.

[2019-10-15 11:14] mikeller commented on #8954
@azixaka: betaflight/unified-targets#53 should fix it. Try flashing it again now.

[2019-10-15 11:38] mikeller commented on #8969
@fremebondo:

Try `set blackbox_p_ratio = 4` in CLI.

[2019-10-15 16:17] babailey opened #9042 "Pit Switch Causes Vtx to reset to 5800."
**Describe the bug**
After changing channels with smart audio, If  toggle the pit switch, the VTX goes back to 5800.

**To Reproduce**
 I can change channels, set/confirm, and the channel does indeed change.  I can power cycle the quad by unplugging the battery, and the new channel will persist.  But every time I toggle the pit switch, the VTX goes back to 5800.
Video of issue here: https://www.yo

[2019-10-15 19:46] laz2wiringpi commented on #9028
serialrx_provider =  CRSF
was changed in 4.1
it now uses native  CRSF_LINK_STATISTICS  if CRSF   is selected
ie in 4.1 you have native LQ 0-299 (modes 0,1,2)    and RSSI DBM
you can bypass to the old way  it with aux  channel if you like .

  unknown..
  if the configurator  is valid as this is  DBm  (lower better)   and not % of rssi (higher better)   there two different ways of calculating rssi

[2019-10-15 19:51] mikeller commented on #7608
@salavatov: Yes, sadly Eachine is another manufacturer that is well known to throw their users under the bus by selling hardware that comes with pre-installed binaries for custom firmware, with no source available.
Also, note that this isn't a case of 'policies' - these manufacturers are in breach of the licensing conditions for Betaflight, which are stated in the [GPLv3](https://github.com/betafl

[2019-10-15 21:15] chupocro commented on #6172
@mikeller Well, I just wanted to mention the similar problem but with SBUS hoping someone might take a look the SBUS code too and then I misunderstood the new firmware resolves **all** problems with FrSky receivers. It may be true the #7804 was marked as a hardware problem but by reading through all the messages (and other reports) it could be noticed:

- Some people reported while the same receiv

[2019-10-16 01:04] hObBiT-iM-bLuTrAuScH commented on #9028
Thx, i already did set it up this way. Someone in Slack told me that this is a known issue, that RSSI reads different in other firmware versions. However, RSSI is different when i set an AUX channel. Someone should think about this and or refer to the known issue.

[2019-10-16 03:37] #8909 closed

[2019-10-16 04:24] Asizon commented on #6172
This problem with sbus is completely absurd, sbus has been working perfectly for years, they can be problems of specific flighr controller , as mikeller said this is only for frsky spi rx comments

[2019-10-16 08:27] ResinSmoker opened #9043 "Openlog will not record flight data after upgrading to BF 4.06"
**Describe the bug**
Openlog serial data recorder was working when using BF 3.5.3 with BetaFPV 2-4S F4 (F411) Flight controller. After flashing BF 4.0.6 all thats available is the header information on the SD card. After the flight I can see Copter tune settings but no flight data etc.

Note: Blue and Green LED's can bee seen working on the SD card. Thus indicating that it's attempting to record.

[2019-10-16 09:36] mikeller commented on #9043
@ResinSmoker: Can you please post an example log file?

[2019-10-16 12:20] mikeller opened #9044 "Burn-down for the creation of Unified Target configurations"
The following targets still need to have a Unified Target configuration created:

- [ ]  AIRBOTF4
- [ ]  AIRBOTF4SD
- [ ]  ALIENWHOOPF4
- [ ]  BETAFLIGHTF4
- [ ]  BLUEJAYF4
- [ ]  COLIBRI
- [ ]  COLIBRI_OPBL
- [ ]  CRAZYBEEF4DX
- [ ]  CRAZYBEEF4FS
- [ ]  CRAZYFLIE2
- [ ]  CRAZYFLIE2BQ
- [ ]  DALRCF405
- [ ]  ELLE0
- [ ]  EXUAVF4PRO
- [ ]  F4BY
- [ ]  FF_FORTINIF4
- [ ] FF_FORTINIF4_REV03
- [ ] FF_

[2019-10-16 12:59] vandusinae opened #9045 "F3 board (colibri_race) - compile working GPS support later 3.2.5"
I wanted to add GPS support to my colbri_race and started with 3.2.x branch and it works. Then I compiled 4.0, 3.3, 3.4, 3.5, which won't work. In the Betaflight Configurator I can enable GPS on UART 3 (ports tab) and can enable GPS (UBLOX) in the configurator tab. Then I get the GPS tab, but it won't find any satellites and the GPS module status led flashes already green. If I flash the fc back t

[2019-10-16 13:31] etracer65 commented on #9045
Make sure you define:
[code]

[2019-10-16 13:32] maGfpv commented on #8836
@hydra nooo!!! 4.1 is released and bidir is still not working correctly on h7extreme. I bought your board on 20.5.19. One reason to go with your product was the promised "working" feature bidir/rpm filter :(. i waited 5 month to get the promised features...

Hydra please take care of this issue its very disappointing that this is still not working

[2019-10-16 13:53] vandusinae commented on #9045
#define USE_GPS_UBLOX does the trick.

Tested 3.5.x and 4.0.x

Thank you very much!

[2019-10-16 13:53] #9045 closed

[2019-10-16 13:56] babailey commented on #9042
4.1 full release fixed it...

[2019-10-16 13:56] #9042 closed

[2019-10-16 14:11] nerocide commented on #8836
hi, my 2 cents on this here https://github.com/betaflight/bidircfg/issues/41#issuecomment-542720697

[2019-10-17 00:34] Docteh commented on #9044
My understanding is that OPBL means Open Pilot Boot Loader, and might require a different unified target.

Aren't these the unified targets?

[2019-10-17 00:42] mikeller commented on #9044
Good points, @Docteh.

Re _OPBL, they are, and they do / would require a different Unified Target. Also, the hardware can be used (in an easier way) in Betaflight by wiping the OPBL and installing the respective non-OPBL targets, so the only reason for the _OPBL version (to my knowledge) is so that users can trial Betaflight without having to re-flash OPBL if they want to switch back - not sure if

[2019-10-17 04:57] smitty97 opened #9050 "Separate pilot name from craft name for OSD"
I'm requesting that a separate "Pilot Name" field be added to Config...Personalization so that it can be displayed on the OSD.  Optionally, this could be part of the OSD tab so it could have a different value for each of the OSD profiles.

The craft name is used when saving diff files, so it should contain something that identifies the build.  I don't need this displayed on the OSD however.  Since

[2019-10-17 05:44] Asizon commented on #6172
@drewzh any news??

[2019-10-17 07:59] drewzh commented on #6172
@Asizon I've had my Tinyhawk S in D16 LBT for 5+ batteries without a single drop out with telemetry disabled in betaflight. I haven't tested with telemetry enabled in 4.1 Dev because the tuning is wildly different and I'm a noob. I'll report back here as and when I try it though. I'm just waiting for somebody to tune it on 4.1 or for me to get to grips with doing it myself.

[2019-10-17 10:26] McGiverGim commented on #9050
There are two OSD elements: craft/pilot name (used to save files, etc.), and display name (that can be shown only in the OSD). But I don't know if this is an OSD profile property or is global.