[2022-02-18 23:33] Loadntz opened #11418 "T-motor F7 keeps getting stuck in pit-mode - SmartAudio bug"
### Describe the bug

Each time the FC restarts it sends the VTX into pit-mode.

### To Reproduce

Connect VTX up to a T-motor F7 board running BF4.3 RC3. Install appropriate VTX tables and enable SmartAudio.

### Expected behavior

On startup the FC will send the VTX into pit-mode. Operational mode set to FREE in the OSD. The VTX will exit pit-mode manually, or if you toggle between FREE and RACE

[2022-02-18 23:46] howels commented on #11376
Sure, what are the changes in this build?

[2022-02-19 00:14] klutvott123 commented on #11376
Invalidates the D cache per motor.
This is how it currently works
https://github.com/betaflight/betaflight/blob/ade559731c628d6fe1e1ad6bc9993a143e5f4856/src/main/drivers/dshot_bitbang.c#L496-L508

Looks to me like the cache wont be invalidated if the motors are on the same port and only partially invalidated if some are on the same port. I'm not very familiar with this particular code so I might b

[2022-02-19 00:36] etracer65 commented on #11418
You have `VTX PIT MODE` permanently enabled. From your `diff`:

[code]

Adjust this on the modes tab.

[2022-02-19 00:36] #11418 closed

[2022-02-19 00:48] haslinghuis commented on #11408
Configurator on Chrome is not supported anymore.

[2022-02-19 03:38] CMartin249 commented on #11233
I believe you have VTX Admin configured in ELRS LUA. When connecting, it configures VTX to what is specified in LUA.

[2022-02-19 04:34] DHaacke commented on #4531
@sdellava, what a lifesaver. Just noting what worked for me with a Mazel 5883.  All that was needed in BF 4.3 RC3 was:

mag_hardware = QMC5883
mag_bustype = I2C
mag_i2c_device = 2

Well done, and thanks!

[2022-02-19 07:35] Martivip commented on #11233
@CMartin249 yes of course, in general no matter via which method I will use to change VTX channel ELRS Lus VTX administrator, OSD, BF Lupa, right now channel is charging but when I repower the FC it reverting the VTX channel to previously set

[2022-02-19 12:59] SteveCEvans commented on #11376
I’ll sort this out this evening. Thanks for your investigations into this.

[2022-02-19 13:15] CMartin249 commented on #11233
I was thinking the vtx admin feature was what was resetting it. It doesn't save the config, but will set the config to what is specified there every time the rx connects.
________________________________
From: Martivip ***@***.***>
Sent: Saturday, February 19, 2022 1:36:06 AM
To: betaflight/betaflight ***@***.***>
Cc: CMartin249 ***@***.***>; Mention ***@***.***>
Subject: Re: [betaflight/betafligh

[2022-02-19 14:08] howels commented on #11376
Worked ok for the first 3 boots, then I hit this - so it isn't as reliable as disabling the data cache:
![image](https://user-images.githubusercontent.com/7933842/154804251-f52d7bce-331c-43a3-a768-33e82fe74674.png)

Restarting the FC in rapid succession seems to be the best way to trigger this condition.

[2022-02-19 15:39] AndroidGX commented on #11385
Hi guys, some fresh updates from today.

I recorded all the requested logs for debugging :
[latency issue logs.zip](https://github.com/betaflight/betaflight/files/8102496/latency.issue.logs.zip)

The main issue of the logs is that I NEVER faced the latency issue while I recorded all the logs from both DSHOT600 and DSHOT300 folders. BUT, I felt some slight latency issue again when I recorded on gyr

[2022-02-19 20:43] justinflipflops commented on #11155
@hydra in my case disabling the caching did not fix the issue. Nor did disabling @SteveCEvans  USE_DSHOT_CACHE_MGMT. However, fully removing the DSHOT BITBANG code by undefining USE_DSHOT_BITBANG for the H7 target did fix it. However, having the code and simply disabling bitbang by setting dshot_bitbang=off results in all motors having 99% errors but they are detected.

[2022-02-20 01:12] SteveCEvans commented on #11155
I've just been back and reviewed the code again to check it's correct. It's probably worth some explanation at this time.

If `USE_DSHOT_CACHE_MGMT` is defined, which it is for H7 by default, then explicit cache management is enabled.

Bit banged DSHOT uses DMA to write out a pattern or 16 x 3 bits to the motor pins. Each triplet of bits is `1x0` where `x` is the binary value to be written. Note t

[2022-02-20 01:18] SteveCEvans commented on #11155
I have requested a Mamba F55_128K BL32 ESC from Diatone in order to be able to wire it up as shown above, and properly investigate this issue.

[2022-02-20 04:41] limonspb opened #11424 "Dshot commands causing motors to spin (when BDIR=OFF)"
### Describe the bug

The bug has multiple symptoms.
All of them are reproducible at least on F7 (mine FOXEER F722) **when bidirectional dshot is OFF.**
Git bisect showed that the issue was introduced here:
https://github.com/betaflight/betaflight/pull/11011

Dshot commands (for example changing motor direction from motor direction dialog) cause all motors to spin for a split second.

### To Repro

[2022-02-20 06:51] Alveran81 commented on #11413
https://github.com/betaflight/betaflight/issues/11363

Nearly Same Problem.

[2022-02-20 09:10] jpwhitney commented on #9063
The ramping up of the I term is still an issue with this board on 4.3

[2022-02-20 12:16] pichim commented on #10420
@MATEKSYS Using  the ScanDisk Ultra 16 gb HCI and adding a Mamba Interference Isolation Board V2 solved the issue for the matek h743 slim

[2022-02-20 14:48] justinflipflops commented on #11155
@SteveCEvans thanks for the more in-depth explanation of what is going on in the code. I looked at the cost of one of those logic analyzers and it's a bit outside of my kind of budget for now. Instead, all I can offer is time and things I've tried that will hopefully lower the time it takes for troubleshooting. Maybe we can come to a determination before that ESC ever arrives.

It is worth noting,

[2022-02-20 14:52] N3dFlow opened #11426 "SPEEDYBEE F7 V2 Betaflight 4.3 Crossfire Issue"
### Describe the bug

Low signal from Crossfire using Betaflight 4.3 RC 3 for SpeedyBee F7 V2 Stack.

### To Reproduce

![Schermata 2022-02-20 alle 15 48 27](https://user-images.githubusercontent.com/100081095/154848398-19061e32-7126-4826-93de-9de226061aa8.png)

### Expected behavior

I flashed back 4,2 and Crossfire work perfectly

### Flight controller configuration

[code]
[code]

### Flight co

[2022-02-20 20:27] senbax opened #11427 "No custom defaults for IFLIGHT_H743_AIO_V2"
### Describe the bug

It seems like there are no custom defaults for IFLIGHT_H743_AIO_V2 on Betaflight 4.3.*
For example Gyro alignment and LEDs are not working.

### To Reproduce

Flash Betaflight 4.3.* onto IFLIGHT_H743_AIO_V2
Click "Connect"
-> button "Apply custom defaults" does not appear

### Expected behavior

Flash Betaflight 4.3.* onto IFLIGHT_H743_AIO_V2
Click "Connect"
-> button "Apply

[2022-02-20 22:43] howels commented on #11376
Another report from a user with the JHEH743 board saying that the build with data cache disabled allows bidirectional dshot to work.

[2022-02-20 23:00] SteveCEvans commented on #11376
See https://github.com/betaflight/betaflight/issues/11155#issuecomment-1046136342 Diatone are sending me the ESCs which are mentioned in this issue.

[2022-02-20 23:15] ea-fpv opened #11428 "Random CRSF Failsafes and intermittent RX Signal "Loss""
### Describe the bug

Random failsafes experienced with at least two different Crossfire Nano RXs and with two different Flight Controllers running Betaflight 4.3RC2.

Failsafes have occurred regardless of the distance (happened as close as 2M and as far as 200M, no further testing necessary to reproduce the issue) with line of sight and absolutely no object or interference between the quad and re

[2022-02-20 23:23] klutvott123 commented on #11413
Thanks for reporting. Fixed in #11429

[2022-02-20 23:28] ea-fpv commented on #11428
No issue found when trying to reproduce the issue on BF 4.2.11 with stock settings other than RX Uart config:

Flight controller configuration

# diff all

# version
# Betaflight / STM32F7X2 (S7X2) 4.2.11 Nov  9 2021 / 20:29:32 (948ba6339) MSP API: 1.43
# config: manufacturer_id: DIAT, board_name: MAMBAF722, version: ec268d11, date: 2021-07-26T13:10:45Z

# start the command batch
batch start

# re

[2022-02-20 23:57] klutvott123 commented on #11402
@edlang can you try this please
[betaflight_4.3.0_CRAZYBEEF4SX1280_e4a780d9b.zip](https://github.com/betaflight/betaflight/files/8105209/betaflight_4.3.0_CRAZYBEEF4SX1280_e4a780d9b.zip)

[2022-02-21 00:23] edlang90 commented on #11402
Hey, thanks for your reply. I tried that build but I'm still getting a "no_gyro" error. Can't try the motors because it won't let me arm (works from the motors tab though). Here's my resource show all:

[code]

[2022-02-21 01:22] klutvott123 commented on #11402
The test firmware I uploaded could help with the full throttle issue only. Since you're using a different gyro you will need to add the necessary defines for that gyro and compile the firmware yourself

[2022-02-21 01:34] edlang90 commented on #11402
Oh I see. What did you change on this test firmware?

[2022-02-21 01:35] klutvott123 commented on #11402
This https://github.com/betaflight/betaflight/pull/11429

[2022-02-21 01:49] KarateBrot commented on #11428
Try RC3 ans see if that fixes your issue.

[2022-02-21 03:43] aowi7280 commented on #11410
I have found that a custom config helps a lot when the GPS/mag is tilted on the quad.
set align_mag = CUSTOM
set mag_align_roll = -200
set mag_align_pitch = 1800
set mag_align_yaw = 2700
set mag_calibration = 64,30,-292

[2022-02-21 07:26] McGiverGim commented on #11427
The unified target file must be created by the manufacture. Usually for IFlight is @Linjieqiang who does that.

We can't create it because we don't know the internals of the FC.

@Linjieqiang is a unified target for that on the go?

[2022-02-21 08:14] bakwc commented on #11410
Yes, custom alignment partially solves the problem, but still there is some error left, especially when quad is not leveled. I already found the solution (just need to scale the ellipsoid before applying alignment and rotation), will prepare a patch soon.

[2022-02-21 12:39] Linjieqiang commented on #11427
Okay, I will take the time to complete it. @McGiverGim

[2022-02-21 19:06] Maxis666 commented on #11155
Meanwhile... I've been flying mamba h743 with bmi270 for the second month now... with disabled bidirect and rpm filtering.  Who cares, then the video of this flight - https://youtu.be/JFHaNnA-Krg

[2022-02-21 19:46] howels commented on #11155
Not arguing about how good or bad RPM filter is, trying to get all features working so 4.3 works no matter what options users choose to enable.

[2022-02-21 20:11] ea-fpv commented on #11428
Issue is also experienced in RC3. Here are screenshots and diff from the bench tests:

Full Yaw Right(signal above 2000):
![Screen Shot 2022-02-21 at 14 04 44](https://user-images.githubusercontent.com/100098336/155020081-392692d9-8b20-4c99-99a2-928fc92a26fe.jpg)

Full Yaw Left (signal below 1000):
![Screen Shot 2022-02-21 at 14 05 16](https://user-images.githubusercontent.com/100098336/155020129-

[2022-02-21 20:19] ea-fpv commented on #11428
Trimming the rxrange does not seem to make a difference (even when the resulting signal does not exceed 2000):
#Trimming rxrange for A (Roll) to the lower and topmost values shown on default settings:
rxrange 0 993 2012

![Screen Shot 2022-02-21 at 14 15 07](https://user-images.githubusercontent.com/100098336/155021354-e9f87330-e9e3-4777-aad9-98130ae9f414.jpg)

[2022-02-21 20:29] hydra commented on #11376
@alphacharlie the mentioned 2.2.1 (timer breaks) and 2.2.15 (hrtim) do not apply.

we are not using timer breaks or the hrtim peripheral.

![image](https://user-images.githubusercontent.com/57075/155022443-137afff1-47bc-44e7-b6ea-74a116a78b6a.png)

Not used.

![image](https://user-images.githubusercontent.com/57075/155022469-150288e5-da08-4b5f-9845-39e71a2e6bae.png)

Not used.

[2022-02-21 20:37] alphacharlie commented on #11376
@hydra - Thanks for the info.  (And thanks to you and everybody on the Betaflight team for making such a great piece of software!)

I'm very much hoping this issue gets resolved. (But I'm not holding my breath. I still wonder if there isn't something wrong in the H743 hardware itself causing this. )

Cheers!

[2022-02-22 05:14] ea-fpv commented on #11396
#11428 this issue seems very similar to the one posted here. Just different flight controllers.

[2022-02-22 05:18] ea-fpv commented on #11428
#11396 similar erratic behavior for crossfire rxs reported here. Might be the same issue with different Flight Controllers.

[2022-02-22 08:20] Maxis666 commented on #11155
Certainly! We all can't wait for you to fix everything. I personally have been looking forward to it.

[2022-02-22 08:32] Linjieqiang commented on #11427
@senbax Hello, fixed on this: https://github.com/betaflight/unified-targets/pull/566

[2022-02-22 11:33] nikhil-sethi commented on #11407
Hello @haslinghuis. Sure, time is not much of an issue unless the folks at airsim want to wait for betaflight to merge the PR. I'll still open it and let people review in the meantime.

[2022-02-22 13:28] klutvott123 commented on #11428
Seems like this only happens with crossfire. I'm not able to reproduce with tracer. I suspect it might have something to do with dynamic rf mode and that it happens when switching between 50 and 150Hz. Could you please test with forced 150Hz?

[2022-02-22 22:31] thujones opened #11432 "Request for OSD alert to help prevent sagging batteries in certain circumstances"
### Is your feature request related to a problem? Please describe

When flying a quad, its well known that battery sag is prone to happen when punching out, particularly when voltage has dropped below a certain level. Granted its highly dependent on the battery health and intended use. Long Range flying for example has considerably less acrobatics and less specific need for full throttle at a mome

[2022-02-23 03:50] Abulos commented on #11428
I tried both dynamic and 150Hz locked. 150Hz locked did not fix the problem for me.

I have added more quad setup information to my comment in [https://github.com/betaflight/betaflight/issues/11396](url)

[2022-02-23 19:24] bakwc commented on #11368
We figured out that there is different barometers with different accuracy. Eg:
DSP310 - accuracy is +- 8 meters
BMP280 - accuracy is +- 1 meter
So if you have BMP280 - you will usually prefer it to a GPS, and for DSP310 a fusion will give better results.

[2022-02-24 01:14] Linjieqiang commented on #11427
@senbax It's time to close this issue.

[2022-02-24 01:15] #11427 closed

[2022-02-24 16:47] GabeOch opened #11436 "usb_hid_cdc not functioning properly"
### Describe the bug

If I enter into the CLI:  set usb_hid_cdc = ON, it will make the computer recognize it as a game controller, but with Betaflight 4.2 and now 4.3, one channel will not work at all.  In the sim I use, Flowstate, the yaw channel does not appear.  In an RC airplane Sim I also use, the throttle channel does not appear.  The command functions normally on Betaflight 4.1.  Additional

[2022-02-24 22:47] VHF-ACADDICT commented on #11022
alti lim should be enabled by default, as we don't have the same freedom everywhere in the world, unfortunately for some of us only...

[2022-02-24 22:47] VHF-ACADDICT commented on #9374
alti lim should be enabled by default, as we don't have the same freedom everywhere in the world, unfortunately for some of us only...

[2022-02-24 23:04] VHF-ACADDICT commented on #11022
I would made this changes by myself if yonly I knew how to compile an hex file for my FC :(

[2022-02-25 01:25] thujones commented on #11432
Fair enough, that makes sense. Thanks for getting back :-)

[2022-02-25 01:25] #11432 closed

[2022-02-25 17:10] galmiklos commented on #11413
I can see there is noone to test the fix with PWM, I can do it if it helps. Will I have to compile myself, or would there be a binary already compiled by chance?

[2022-02-25 17:17] klutvott123 commented on #11413
https://dev.azure.com/Betaflight/Betaflight%20Nightlies/_build/results?buildId=6022&view=artifacts&pathAsName=false&type=publishedArtifacts Here are all hexes for all targets 👍

[2022-02-25 18:23] McGiverGim opened #11437 "COMPASS is late in tasks execution always"
### Describe the bug

Looking at the new `tasks` information, I can see that the COMPASS is always `late`. I'm not too sure if this can mark a problem or not.

For example, in this case, from 108 executions, 108 were late, with an average of 155 us that is the slower task by a huge difference:
[code]

### To Reproduce

Simply connect a MAG to the quad and check the `tasks` command. I don't know if

[2022-02-26 02:22] galmiklos commented on #11413
I flashed betaflight_4.3.0_STM32F405_31011fa84.hex on my Matek F405 STD FC, with the SimonK ESCs connected with PWM, and the quad armed as expected--the motors started spinning idle.

I kept hearing the "RC Smoothing filter not initialized" beeper sequence after arming, though. I am not sure if it's related, but I didn't have that with BF4.2.11.

[2022-02-26 04:36] #11262 closed

[2022-02-26 10:18] #11413 closed

[2022-02-26 12:53] klutvott123 commented on #11413
@galmiklos Thanks for testing :thumbsup:

There's been a lot of changes in the rc smoothing department too. I just tested PWM and rc smoothing works correctly here so I'm not sure why it's not working for you

[2022-02-27 04:08] edlang90 commented on #11402
Hey, just tested out a custom build with your PR #11429 and it works great on brushed motors as well

[2022-02-27 04:36] #11250 closed

[2022-02-27 11:14] Martivip opened #11438 "Visual beeper not flashing in OSD during ACC Trim in BF 4.3"
### Describe the bug

BF has possibility to Trim ACC via OSD stick commands, this has been broken somewhere during the BF 4.3 implementation.
Right now with BF4.3 RC3 and STM32F745 (KakuteF7) target when I try to trim
ACC Pitch or Roll this change is not effective and is not saved in FC, configurator displays "zero" values on both axis
<img width="287" alt="Zrzut ekranu 2022-02-27 o 10 54 36" src=

[2022-02-27 12:50] LoakAudio commented on #11356
Probably same as #11438

[2022-02-27 16:42] JPOVPhoto opened #11440 "HolyBro Kakute H7 Mini ESC Firmware Issue (Blackbox)"
### Describe the bug

I can't access the onboard flash for Blackbox Data. This happens in the following versions of Betaflight Configurator 10.7, and 10.8

Here is my issue. In the dump I have the following resource defined for the flash memory which is the unified target default value for the Kakute H7 Mini FC...

Code:
resource FLASH_CS 1 A04

In the active IO resource assignment list I have the

[2022-02-27 21:23] skorokithakis opened #11441 "GPS not detected if configured for 230400 baud"
### Describe the bug

If a GPS is configured for 230400 baud (e.g. if it has been used with ArduPilot), it will always fail to connect to Betaflight, because Betaflight doesn't consider baud rates that high. This means that you can permanently break your GPS with BF if you connect it to AP.

### To Reproduce

Connect a GPS to AP (or configure it for 230400 baud). Connect it to BF, it won't be reco

[2022-02-27 21:55] skorokithakis commented on #11441
Using the following hex message with uCenter to switch to 115200 baud, reconnecting to 115200 baud and then copy/pasting the baud change messages to "send hex message" by hand worked to set the GPS to 115200 permanently:

b5 62 06 00 14 00 01 00 00 00 d0 08 00 00 00 c2 01 00 07 00 07 00 00 00 00 00 c4 96 b5 62 06 00 01 00 01 08 22

[2022-02-27 22:22] alexrjohnston commented on #8674
SWITCH_ONLY would be super helpful for gyroflow logging as well, did this get implemented?

[2022-02-27 23:32] howels commented on #11436
Are you sure that the "missing" channel did not get mapped as an analogue trigger? I've have seen issues where 6 analogue axis are mapped; LX,LY,LZ,RX,RY,RZ - the X and Y axis are normal joystick axis but the Z channel is assumed to be a trigger instead of the next joystick axis. Previously I created a model with channel 3 unmapped and the last two axis on channels 4 & 5 to avoid mapping onto the

[2022-02-27 23:39] etracer65 commented on #11441
Sounds like you just shouldn't configure your GPS module with an unsupported baud rate. And if you do, then simply use uCenter to reset it to a supported baud rate. The GPS is in no way "permanently broken". Not sure why you think Betaflight needs to fix this for you.

[2022-02-27 23:41] skorokithakis commented on #11441
The GPS works fine and the baud rate is perfectly supported. Betaflight refuses to work with a GPS that's configured at 230400 baud, which is a bug with Betaflight.

[2022-02-27 23:45] etracer65 commented on #11441
Betaflight only supports up to 115200 baud. So it's not a bug. Just because some other software might support faster rates doesn't really have any bearing on Betaflight. If you want to use the GPS with Betaflight then set it to 115200.

[2022-02-28 00:04] skorokithakis commented on #11441
Yeah, so it doesn't support all the rates the GPS can do.

[2022-02-28 00:05] haslinghuis commented on #11441
@skorokithakis it's not a bug - it's by design.

[2022-02-28 00:14] etracer65 commented on #11441
@skorokithakis

I don't think you understand the meaning of a bug. It's not a bug when Betaflight doesn't do something that it's not documented or designed to do. Just because Betaflight doesn't take advantage of all the features of a particular GPS module doesn't make it some bug that needs fixing.

Closing this as it's not a bug. If you want to open a separate Feature Request to consider adding

[2022-02-28 00:14] #11441 closed

[2022-02-28 00:24] skorokithakis commented on #11441
This isn't about the baud rate that BF should communicate at. This is about autobauding not working for all baud rates. Autobaud should detect the GPS at all supported baud rates and configure it down to whatever it wants. It's not "autobaud" if it doesn't work on half the baud rates.

[2022-02-28 00:30] etracer65 commented on #11441
Again, you don't understand how it works. "Auto-baud" in this implementation means it will try the baud rates that **Betaflight supports**. That means 115200, 57600, 38400, 19200, and 9600. Betaflight doesn't support 230400 so that why it doesn't work. This is not a bug, but a design decision. Set your GPS module to max supported 115200 baud and it will work fine.

[2022-02-28 00:31] haslinghuis commented on #11441
@skorokithakis

Please open a separate Feature Request as suggested. Autobaud is obvious limited to the implemented rates.

[2022-02-28 02:23] galmiklos commented on #11413
What happened was that during the firmware update, rc_smoothing was turned OFF. I turned it back ON, and I don't get the RC_SMOOTHING_INIT_FAIL warning anymore.

It is a good question though, why do I get a warning about initialization, when the feature is not even on. But of course, if one wants to keep it off, the fix is easy, just disable it in the beeper configuration.

[2022-02-28 08:06] klutvott123 commented on #11413
Probably good to have the warning for safety reasons. Pids and feedforward won't work optimally without the proper smoothing

[2022-02-28 08:50] bakwc commented on #11306
It's not Inactive. It's waiting for review.

[2022-02-28 12:46] ledvinap commented on #11410
Transformation matrix is used on custom alignment. Most calibrations can be implemented as coefficients in this matrix (constant offset is missing, it may be reasonable to add it, making the matrix 4x3, without [0 0 0 1] row, https://en.wikipedia.org/wiki/Transformation_matrix). Calibration can be implemented offline and only extended alignment CLI command implemented (it will also work for ACC an

[2022-02-28 13:59] bakwc commented on #11410
Yeah, I thought about it. Just little busy last days.

[2022-02-28 17:30] justinflipflops commented on #11155
Not only does it enable rpm filtering but other features that are RPM based like dynamic idle.

[2022-02-28 19:58] SteveCEvans commented on #11438
The issue with the missing beeps was caused by there being a beep associated with each write to FLASH. As we only write once throttle is lowered, that was lost. Beeps have been resurrected for each trim adjustment. There is thus a slight change in beep behaviour because there will now be a beep per adjustment, and a further beep when the setting are written to FLASH, so an extra beep at the end. I

[2022-02-28 22:23] hydra commented on #11338
This is waiting on scheduler investigation and updates from @SteveCEvans.

What's the latest @SteveCEvans ?

[2022-02-28 23:09] SteveCEvans commented on #11338
@hydra Please test with https://github.com/betaflight/betaflight/pull/11380 as that includes the latest failsafe code (which I'm not sure you're using) as part of the ELRS work. Failsafe most certainly works with that. You probably want to be trying this for your H7RF anyway.

[2022-03-01 04:36] #11328 closed

[2022-03-01 08:23] XsmStark commented on #11426
We have tried to flash theSPEEDYBEE F7 V2 to version 4.3RC3 for many times, but failed to find the problem you described during the process. We recommend you to double check your port settings or reset your SPEEDYBEE F7 V2.

[2022-03-01 13:56] GregorPotrebujes commented on #11367
So, have anyone figured the function of the READY_BEEP switch yet? :)

[2022-03-01 16:11] SteveCEvans commented on #11367
Hmmmm. Explains how to connect a buzzer to your Naze32 or CC3D…

[2022-03-01 18:02] haslinghuis commented on #11367
https://intofpv.com/t-betaflight-cli-set-beeper-frequency
https://reefwing.medium.com/creating-a-new-target-in-betaflight-c0d879d42dbd

[2022-03-01 18:14] mard89 commented on #11318
Fixed with #11380

[2022-03-01 18:14] #11318 closed

[2022-03-01 18:15] GregorPotrebujes commented on #11367
@haslinghuis I appreciate your help, but I really don't see how these two links are in any way related to the issue... my beeper is connected properly and the frequency is set correctly. The beeper works well, but I just can't figure out how the READY_BEEP switch functions, or - to be more precise - how it shoud function.

[2022-03-01 18:18] GabeOch commented on #11436
I tried it on the preview of FPV Freerider, and it actually worked properly this time.  I think that since Betaflight 4.1, the channel mapping for the game controller mode changed.  Flowstate, the sim I used before, only supports using 6 channels, and one of the channels missing was the Yaw channel, as mentioned.  It would be nice if the channel mapping was changed back to the original channel map

[2022-03-01 18:26] haslinghuis commented on #11436
@GabeOch in options tab of configurator try enabling

![image](https://user-images.githubusercontent.com/8344830/156227077-3a2b255f-7369-4aeb-93c5-d2cc65de67fb.png)

[2022-03-01 18:57] SteveCEvans opened #11445 "Tasks in average load looks weird."
Tasks in average load looks weird.
 - [betaflight_4.3.0_CRAZYBEEF4SX1280_fc86401.hex.zip](https://github.com/betaflight/betaflight/files/8156346/betaflight_4.3.0_CRAZYBEEF4SX1280_fc86401.hex.zip)

Befor rx binding with tx (average load 60~70%)
![image](https://user-images.githubusercontent.com/58145748/156086629-3be55c83-a401-4e26-9573-6c648cb71026.png)

After rx binding (average load over 100%)
!

[2022-03-01 19:14] SteveCEvans commented on #11445
The issue here is that the ELRS driver is using interrupts to drive the SX1280 device. There is an interrupt to signal the arrival of a packet of data, interrupts associated with the end of each busy period when waiting for the device to be ready, interrupts at the end of each SPI DMA completion, and timer interrupts to maintain the connection when packets are missed. All of the processing associa

[2022-03-01 19:43] GabeOch commented on #11436
Thanks!  That worked.

[2022-03-01 20:37] #11437 closed

[2022-03-02 00:11] SteveCEvans commented on #11445
Fully understood. The CPU load is a true average whereas the figure being presented as a task average relates not to the average time the tasks are taking, but the scheduler's estimate of how likely they are to take to run, which isn't quite the same. Fix on the way, memory permitting.

[2022-03-02 00:44] SteveCEvans commented on #11445
@bike797 Please see the associated fix. Image attached to PR for your convenience of testing. Please confirm if this works for you.

[2022-03-02 08:45] romangpro opened #11447 "Corrupt logs with OpenLog"
### Describe the bug

I know about OpenLager. Yes, it works.

But, I have many old OpenLog boards. I want to record GPS coordinates and voltage etc.
I setup the F405 FC with BF4.2, PID loop set to 2K, and Blackbox logging set to 500hz.

Flashed OpenLog to Blackbox (OpenLog v3). I matched 250 000 ports and the config file. The logs are ASCII junk.
I tried 115200 on both BF and config file. The logs

[2022-03-02 10:43] haslinghuis commented on #11447
Duplicate of https://github.com/betaflight/betaflight/issues/9101

[2022-03-02 10:43] #11447 closed

[2022-03-02 15:29] bike797 opened #11448 "BF4.3.0-RC3 Betaflight-tx-lua-scripts are not saved with SPI rx(ExpressLRS)"
### Describe the bug

Betaflight-tx-lua-scripts are not saved with SPI rx.
 . Crazybee Express spi receiver
 . Crzybee Frsky spi receiver
But external uart receiver is normal operation.

### To Reproduce

 - Reproduce video
  . https://youtu.be/ppPBdMLSKlc

- BetaFlight 4.3 RC3 with SPI receiver.
  . [Happymodel ELRS X1 AIO 2-4S Flight controller](http://www.happymodel.cn/index.php/2021/08/13/happ

[2022-03-02 15:58] hydra commented on #11333
Requires re-verification in light of recent changes to `master`.  My branch where this seen has other latency issues caused by merges of recent PR's into master which are blocking re-verification.

As I understand it the root cause has not been found yet and since the code is isolated to the OSD task and that code hasn't changed the finger is being pointed at recent scheduler changes as being the

[2022-03-02 16:37] hydra commented on #11428
RC 3 doesn't have a failsafe fix that was, and IMHO shouldn't have been, included in #11380 as there was ongoing discussion in https://github.com/betaflight/betaflight/pull/11362 and concerns raised which were not addressed.

Anyhow, try a nightly that includes ##11380 and report back.

[2022-03-02 17:00] tri4ng1e commented on #11332
I had the same issue with JHEMCU F405 PRO AIO 25A. Used auto-detect feature and it selected "JHEF405". It applied successfully, but the gyro was not present. Then I noticed that there is "JHEF405PRO" target. Obviously, this one worked like a charm, gyro is present and all seems to be OK.

So sum up:
1. [@AlbanyFpv](https://github.com/betaflight/betaflight/issues/11332#issue-1111893598) please try

[2022-03-02 18:12] haslinghuis commented on #11332
@tri4ng1e auto-detect just looks at the target present already on the board.

See also: https://github.com/betaflight/unified-targets/pull/511

Duplicate of https://github.com/betaflight/betaflight/issues/10825

[2022-03-02 19:06] #11332 closed

[2022-03-02 21:00] francoisvoyer commented on #11345
I observe the same behaviour with an Openpilot revolution board in RC1/RC2/RC3, with PWM ESC.
When Throttle is low, it is like the command is under the minimum accepted by ESC, and ESC start to beep.
When Throttle is upper, the ESC stop to beep as command is in the expected range.
When Throttle is at mid stick, motor start to run.

[2022-03-02 21:45] klutvott123 commented on #11345
@francoisvoyer You are correct. It's fixed in https://github.com/betaflight/betaflight/pull/11429

[2022-03-02 21:50] francoisvoyer commented on #11345
Thank you! Good news.

[2022-03-03 04:36] #11336 closed

[2022-03-04 19:11] hydra opened #11451 "ELRS code broken on some MCUs."
### Describe the bug

Since #11380 was merged, without testing on anything else than an F411, the ELRS code is currently broken.

Development was done on F4 and H7 by @phobos- @AlessandroAU and myself.

An H7 board was send to @SteveCEvans but it was not used for testing, likely because it's not in `master` yet, see #11110.

Anyway, after extensive investigation into the issue, involving scope pro

[2022-03-04 19:30] SteveCEvans commented on #11451
@hydra Focus for 4.3 is to support the majority of users and for SX1280 support that most certainly aligns with those using F411. And yes, the fact that H7RF support isn't in master doesn't help, nor the fact that it's awkward to debug due to a JLink not having access to its FLASH. Nonetheless, thank you for the hardware; in the past the SPRACINGH7ZERO was used to develop USB MSB support and the n

[2022-03-04 19:31] hydra commented on #11451
Example of where busy goes high and is ignored:

![DS1Z_QuickPrint24](https://user-images.githubusercontent.com/57075/156829264-5e084219-fcb2-4e16-9dd6-544cf575ca38.png)

Here's what it looks like with a work-in-progress fix, the code now waits for busy to go low:

![DS1Z_QuickPrint25](https://user-images.githubusercontent.com/57075/156829362-ee4fdbe4-64fb-4ca7-bb5d-1c253c90a007.png)

[code]

[2022-03-04 19:37] hydra commented on #11451
@haslinghuis yes I understand the current focus. I'm just a little disappointed.  Yes, boards with external flash are harder to work with, not just compile and hit go.  Still, no debugger was needed to know that it just didn't work.

Anyway...

With the above fix it still doesn't bind, so there's more to fix.

I'm also noting a mismatch with the names of the entries in the NVIC.h table.

Steve als

[2022-03-04 19:54] hydra commented on #11451
previous notes in text form, for those following along with scope traces:

[code]

![DS1Z_QuickPrint26](https://user-images.githubusercontent.com/57075/156832145-566f622c-d864-464b-82c7-db84fe7d4f56.png)

current state is that the DIO line (CH4, BLUE) goes high once and only once, no amount of cli `bind_rx` or TX poking - turning off/on/binding - makes it show any activity.

[2022-03-04 19:54] hydra commented on #11451
work-in-progress branch for H7RF based on a recent `master` is here: https://github.com/spracing/betaflight/commits/bf-h7rf-wip-14

[2022-03-04 21:48] x4FF3 opened #11452 "ESC TLM HalfDuplex on G4 via LPUART1"
### Describe the bug

Hi,

i try to get ESC TLM via halfduplex working on a G4 proto board on pin PB11, which is TX of LPUART1. When defining `esc_tlm_halfduplex = ON` i wont get any data. Using this pin as RX3, data is shown correctly.

KR
David

### To Reproduce

- define PB11 as TX of LPUART1
- set sensor ESC on LPUART1
- activate ESC sensor in motor tab
- `set esc_tlm_halfduplex = ON`

### Exp

[2022-03-04 21:57] haslinghuis commented on #11452
If using `STM32G47X unified target` it should work.

[2022-03-05 00:08] hugonaneix opened #11453 "GPS working in BF4.2 but not in BF4.3 RC3"
### Describe the bug

Flywoo GOKU HD745 EVO 40A
Nameless Tiny GPS

When in BF4.2.x (tested 4.2.8 and 4.2.11) the GPS is correctly recognized and works as expected
When updated to BF4.3 RC3, no GPS is recognized by the FC/Betaflight Configurator
Connected to recommended UART 6 in documentation
No Telemetry output to the radio either (just in case it could have been a GUI flaw)
Wiring is ok
BF confi

[2022-03-05 09:30] corrado-c commented on #11260
hi, but can I do some other tests?

[2022-03-05 12:12] KevinKnight40 opened #11454 "4.2 does not work on Matek F722"
### Describe the bug

Tried to flask HAKRC 7023, the target is Matekf722. Does not flash.

### To Reproduce

tried to flash

### Expected behavior

Should have flashed

### Flight controller configuration

[code]
[code]

### Flight controller

matekf722

### Other components

_No response_

### How are the different components wired up

_No response_

### Add any other context about the problem th

[2022-03-05 13:36] hydra commented on #11451
The current state is that the EXTI handler for BUSY appears to be working as intended, as demonstrated by the 'after' scope trace where the busy signal is no-longer ignored.  The  EXTI handler for DIO is hit once, and only once.

[2022-03-05 16:51] hydra commented on #11451
The callback handler for `sx1280IrqCmdComplete` is never called, this usually occurs when an SPI transaction completes.

https://github.com/betaflight/betaflight/blob/master/src/main/drivers/rx/rx_sx1280.c#L642

however, the exti handler is pre-empting the spi irq handler, as seen in this stacktrace.

![image](https://user-images.githubusercontent.com/57075/156892281-b78b59c9-83bb-421b-b7e2-6f42e8

[2022-03-05 18:14] #11401 closed

[2022-03-05 18:15] tomstom commented on #11401
This was only a wireing issue.

[2022-03-05 19:28] hydra commented on #11451
first call to EXTIConfig results in this

![Screenshot 2022-03-05 200937](https://user-images.githubusercontent.com/57075/156897371-6905ef0f-675c-435f-b809-6b2d978e12db.png)

second call to EXTIConfig results in this

![Screenshot 2022-03-05 200824](https://user-images.githubusercontent.com/57075/156897380-5c0009b3-26de-46bd-b959-eeeef71805d7.png)

I pushed a commit to the WIP branch that might fi

[2022-03-05 20:00] StrawHatSam92 opened #11455 "Lumenier H7 ultimate FC, Crossfire Rx, Octo. BadRx warning, cannot arm."
### Describe the bug

Receiver does not work with Lumenier H7 Ultimate Flight controller. The first time when configurating the Rx to the FC, everything seems fine and the receiver tab shows all channels working smoothly and correctly.

But as soon as you unplug and re-plug the USB in again to reconnect the FC to Betaflight and go to the receiver tab, it's all messed up. All channels have a delaye

[2022-03-06 04:36] #11349 closed

[2022-03-06 09:42] hydra commented on #11451
It still doesn't work, now 0x00 gets written one to IPR5/N3, only once because when they are corrected to be the same priority no change is made due to the `if (extiGroupPriority[group] > irqPriority)` check before the call to HAL_NVIC_SetPriority.

![image](https://user-images.githubusercontent.com/57075/156917188-7d404677-eca7-4231-862f-8922d20705f0.png)

And then a bad value, 0x00, is written,

[2022-03-06 09:50] hydra commented on #11451
ok, i think i see the issue, the code is trying to use 3 bits for priority but the define is for 2.

[2022-03-06 09:54] hydra commented on #11451
Thinking that it might be a good idea to have a unit test that checks the NVIC priority levels are calculated correctly.

[2022-03-06 09:56] hydra commented on #11451
@ledvinap Do you remember why only 2 bits were used for NVIC priority?  Any reason *not* to change it to use 3?

[2022-03-06 10:08] hydra commented on #11451
When I bumped the bits to 3 it appears to work, I get a link established so the spi callback handlers work.

To summarize, there were these causes/issues:
* Incorrect GPIO configuration.
* Multiple EXTI lines sharing the same interrupt.
* EXTI PR bits not being cleared when an EXTI line is disabled.
* SPI RX NVIC configuration was incorrect causing SPI ISR's to be pre-empted.
* SPRacingPixelOSD ne

[2022-03-06 10:22] hydra commented on #11451
I cut a release for SPRacingH7RF users to test.

https://github.com/spracing/betaflight/releases/tag/spracingh7-20220306-1100

@haslinghuis @SteveCEvans @AlessandroAU @phobos- I suggest we add ELRS to a NucleoH7 target and provide instructions on how to wire up an SX1280 module so that developers can test on a target in `master`.

[2022-03-06 10:40] hydra commented on #11451
PR's to fix:

https://github.com/betaflight/betaflight/pull/11456 - EXTI fixes
https://github.com/betaflight/betaflight/pull/11457 - ELRS fixes

The change to the extra priority bit required for the H7RF (#11110) will go in #10702

[2022-03-06 10:41] SantiCO19 commented on #11451
Link to my H7RF established immediately. I can't tell any difference from any previous working firmware, though Im only able to hover around in the house right now. I'll take it out for more testing in a few hours when I have some daylight to work with.

[2022-03-06 12:46] RX12 opened #11458 "CPU overload when logging (BF 4.3 RC3, ZeezF7)"
### Describe the bug

After flashing Betaflight 4.3 to a ZeezF7 V1 (no matter if RC1 or RC3) blackbox logging is overloading the CPU and constantly clipping the log. As a result, the motors start twitching.

First I thought it would be fixed by lowering the PIDloop rate, cutting the CPU load almost in half, but that didn't completely fix the stutters in the log. Most of the logs are fine with the

[2022-03-06 17:19] jsk2084 commented on #11453
I have the same GPS on a Flywoo F745 Versatile. I recognize the GPS not working on latest development build (#2646) with similar config settings (Ublox). I changed protocol to NMEA and the GPS is not recognized on the Betaflight GUI.

Have ya tried NMEA protocol?

[2022-03-06 18:25] #11454 closed

[2022-03-06 20:37] hugonaneix commented on #11453
@jsk2084 so can I assume this is an issue that will be adressed in future builds? Just want to help and not really a pro when it comes to dev collaboration ;)

[2022-03-06 22:01] hugonaneix commented on #11453
@jsk2084 I played with uCenter to try to change the GPS configuration, but forgot to backup its configuration...
if, by any chance you could attach your config in that thread that would be very appreciated
Here's how to do it: https://www.youtube.com/watch?v=zxMdOtspUGk&ab_channel=XR-4Drone

[2022-03-06 22:29] jsk2084 commented on #11453
I imagine someone will look into the changes that broke it and come up with a fix eventually! I know nothing of coding, just a grateful user of Betaflight. I will try to get a default config of the gps device, though earlier I was having issue connecting it to the ucenter software.

[2022-03-07 03:59] CMartin249 commented on #11448
Confirmed this continues to be an issue on current nightly build and betaflight_4.3.0_CRAZYBEEF4SX1280_667847d.hex in pull #11446. Using the VTX Admin function in ELRS LUA also does not appear to save on SPI ELRS targets. This causes a delay after plugging in before connection is established and TX changes the channel.

[2022-03-07 07:56] MoppelMat commented on #11155
I have got a fully ulocked Siglent SDS2104X Plus 4Ch. No logic analyzer cable though... May I help with that?

I have a Mamba 743 with BMI270 Stack in the mail to me.

[2022-03-07 09:42] x4FF3 commented on #11155
Hi,

as i've got a MambaH7 laying around and noticed the same problem, i looked at the signal with my DS212 oscilloscope. Motor 4 which has the problem with DShot, gets this signal:
![IMG_003](https://user-images.githubusercontent.com/19995842/157006257-e421de3d-94f4-43d3-84aa-48f28c91af5d.png)

all other 3 motors get this signal:
![IMG_004](https://user-images.githubusercontent.com/19995842/15700

[2022-03-07 11:14] hydra commented on #11338
I'm guessing that #11459 is also related.  For those following I updated the H7RF branch in order to test #11380 but it didn't work.  Issue: #11451, Fixes: #11456 and #11457.  I'll wait for all these 3 PR's to be merged and then request @blockfeed to re-test.  @blockfeed if you can't wait, then grab https://github.com/spracing/betaflight/commits/bf-h7rf-wip-14 and cherry-pick the commits from #114

[2022-03-07 11:16] hydra commented on #11333
Blocked, waiting on the CPU load issue identified on https://github.com/betaflight/betaflight/pull/11380#issuecomment-1059946930 to be fixed first before retesting.

[2022-03-07 11:22] hydra commented on #11155
interesting! seems like the rise time of Motor 4 output isn't as good.  do you have any more zoomed-in scope traces showing the issue in more detail.  Have you reached out to the manufacturers of the ESCs and FCs for comment?

[2022-03-07 16:35] x4FF3 commented on #11155
Actually i did, as these screenshots were taken last week already, just didn't have time to post them. Here is a pic they send me today:
![photo_2022-03-07_17-31-48](https://user-images.githubusercontent.com/19995842/157076579-ce38b84d-9441-45a5-88ae-85ce3959f12b.jpg)

Seems on a proper oscilloscope the signal starts to rise earlier. Also they stated, they tested this already with multiple boards.

[2022-03-07 20:57] klutvott123 commented on #11262
@dnielsen Do you have both tx and rx wired to the flight controller? https://intofpv.com/t-psa-tbs-crossfire-tracer-rx-wiring-always-connect-the-rx-ch2-telemetry-wire

[2022-03-07 21:56] klutvott123 commented on #11396
Do you guys have CH2 connected to the FC? https://intofpv.com/t-psa-tbs-crossfire-tracer-rx-wiring-always-connect-the-rx-ch2-telemetry-wire

[2022-03-08 04:36] #11348 closed

[2022-03-08 08:20] x4FF3 commented on #11452
So, i looked at it again and it seems the port isn't configured properly.
In the `target.h` i do `#define LPUART1_TX_PIN PB11`. After flashing the firmware, when i list the resources, it is listed as `resource SERIAL_RX 10 B11`. When i free the resource and do a `resource SERIAL_TX 10 B11` LPUART1 is gone in the ports tab.

[2022-03-08 16:00] konehead commented on #11376
I have the same JHEMCU H743 AIO board and am experiencing the same issue.
Just wanted to add my name here, in the case you need any additional testers for this board; I'm happy to help.
Thanks to all for the hard work on betaflight!

[2022-03-09 01:16] ojwright845 opened #11464 "Mamba Basic MK4 H743 - cannot remap motors"
### Describe the bug

All motors spin and report dshot telemetry.
After changing motor directions all motors spin.
After changing motor order, either using motors tab or through cli, FC loses ability to spin 2 motors or read dshot telemetry.

### To Reproduce

Change motor order using betaflight motors tab or through cli.

### Expected behavior

Reassigning resources a00 - a03 should not effect ds

[2022-03-09 01:58] ojwright845 commented on #11464
I see Bi-directionnal DShot not working with Mamba H743 (BMI270) #11155, so I am closing this one

[2022-03-09 01:58] ojwright845 commented on #11464
I see Bi-directionnal DShot not working with Mamba H743 (BMI270) #11155, so I am closing this one

[2022-03-09 01:58] #11464 closed

[2022-03-09 02:07] ojwright845 commented on #11155
I have same setup as you, same issue. Can you please tell me what blheli32 version? I am running 32.8.3 testcode. You say switching to motor outputs 5-8 is a workaround, and I agree that should be fine for most people with 4 motors. Thoughts on setting resources a00 - a03 to none or leave as default? I only encountered the loss of 2 motor error after attempting to remap. On defaults it seems to wo

[2022-03-09 02:36] ojwright845 commented on #11155
+1 with same problem. Dual mpu6000 version. F55 ESC. Occasionally all 4 motors work but upon reboot 2 are gone again.

[2022-03-09 04:01] Ricky-Millar opened #11465 "CLI gps data rate command"
### Is your feature request related to a problem? Please describe

I am looking to increase the GPS data being sent over telemetry for a higher value, it seems to be around 2hz at the moment. I am using MAVlink if that changes anything.

the reason I want this is to make telemetry-based antenna trackers smoother.

### Describe the solution you'd like

I would love a CLI command that lets me change

[2022-03-09 10:03] MoppelMat commented on #11155
I have got my FC and ESC today and would like to help with my Scope.

Just to clarify: I am supposed to measure at the DShot pins going from the FC to the ESC correct? I am asking because I can not see how that has anything to do with the ESC attached. It is just the FC or not?

I have 4 channels, what should I measure? I saw a ESC-Sensor measurement from @LordGG ...

[2022-03-09 12:03] hydra commented on #11155
we had glitches on the H7 where the GPIO pin IO transitions from OUTPUT (from the FC) to input which @joelucid and I worked on together and we put a workaround in place to rectify that.  From the scope trace from @x4FF3 it appears that is re-occuring again.

This was the original fix: https://github.com/betaflight/betaflight/commit/6b0bca4ef5fae9466e2a3ea9fb391ec0f22c0fc9

Suggest that someone wit

[2022-03-09 12:17] hydra commented on #11155
The scope trace from @x4FF3 looks suspiciously like the one from the original problem report and scope capture from @joelucid here.

https://github.com/betaflight/betaflight/issues/8836#issuecomment-534027871

@x4FF3 can you confirm which DSHOT implementation you were using when the trace was captured DPWM or BITBANG?

[2022-03-09 15:36] x4FF3 commented on #11155
`dshot_bitbang = AUTO (default)`
![img_003](https://user-images.githubusercontent.com/19995842/157474861-bd06b954-387f-4a93-950a-6b97e36f1230.png)
`dshot_bitbang = OFF`
![img_004](https://user-images.githubusercontent.com/19995842/157475002-aceb5e94-ce51-4d50-a33e-ffef78f1feae.png)

[2022-03-09 17:44] Martivip commented on #11199
Issue still present

[2022-03-10 00:34] MoppelMat commented on #11155
I would like to post my findings here too if I may.

I can reproduce the problem on one motor out of 4. (motor 4)

I measured the motor outputs with and without dshot bitbang.

motor 1-3 with bitbang on: (auto)
![344682AA-45DF-408F-9893-1F6A7658E3B5](https://user-images.githubusercontent.com/55950637/157563117-ddbcc0c6-b8e1-4aaf-a97d-dca23fd21eba.jpeg)

motor 4 with bitbang on:
![8519FB4C-F153-45F

[2022-03-10 01:37] KevlarFPV commented on #11376
im having the same issue with the I flight Beast f7 aio v1.2 had to factory rest mine to work again hope there will be a fix to these issues.

[2022-03-10 09:28] hydra commented on #11155
It is clear to me that when the pin in DSHOT BITBANG mode is transitioned to INPUT that a glitch occurs after the last dshot bit that is sent.

@x4FF3 and @MoppelMat can you please confirm that your ESCs work ok when BITBANG mode is `OFF` and that you only have issues when it is `ON` (set it to `ON` EXPLICITLY, don't use AUTO to rule out any potential defaults).

@jflyper was the original author o

[2022-03-10 09:39] hydra commented on #11155
If someone could arrange getting me an FC + ESC combo that exhibits this behavior, by the time it arrives I might have time to work up a fix.  PM me via discord or slack if you are able to help.  Maybe someone at Diatone could oblige?

[2022-03-10 15:50] hydra commented on #11155
Also, this may be happening on other MCUs, but if the ISR latency of DMA transfer complete on the MCU is long it might not cause a problem as the signal may have been high for long enough for the ESC to sample the last bit correctly.  As the H7 is amaze-balls quick it's clearly more noticable. 😄

[2022-03-10 16:57] howels commented on #11376
Did your iFlight H743 AIO v2  fail to boot and fail to connect with configurator (requiring boot button to recover) or did you factory reset just to get back to default settings?

[2022-03-10 17:01] MoppelMat commented on #11155
I did new fresh measurements with a more fitting trigger (dropout):

Bitbang ON
![E61E3D8F-5403-4FD8-B42C-A0C0929451CF](https://user-images.githubusercontent.com/55950637/157714800-d3ee2874-f55f-446c-bc12-192672f3ce10.jpeg)

Bitbang OFF
![40C1C5C5-05B0-4CC0-948A-53EDB7D81C8E](https://user-images.githubusercontent.com/55950637/157714879-7f9d1ea1-3f07-454c-9730-5ea920dbcad0.jpeg)

interestingly it w

[2022-03-10 18:02] SteveCEvans commented on #11347
Yes

![image](https://user-images.githubusercontent.com/11480839/157726437-cf17b8aa-8291-4eae-8043-2a3568cf1ee9.png)

[2022-03-11 01:26] #11445 closed

[2022-03-11 11:20] hydra opened #11466 "Unable to directly compare `tasks` output from previous revisions."
### Describe the bug

Since #11446 and other recent scheduler changes users do not know they cannot make comparisons of the `tasks` output to output captured from previous revisions, nor do they know why and what changed.

From: https://github.com/betaflight/betaflight/pull/11446

This comment was added around the time the PR was merged and not enough time was given to address the updated descript

[2022-03-11 11:37] hydra commented on #11451
@haslinghuis No, this is not fixed by #11456 as https://github.com/betaflight/betaflight/pull/11457 is also needed.

[2022-03-11 13:19] hydra commented on #11155
To clarify my position, the fact that the last bit is not *specifically* held high for long enough for the ESC to sample the bit, indicates a BUG in the implementation and this should be marked as such.

[2022-03-11 13:54] haslinghuis commented on #11451
@hydra yes it was closed automatically as one of the PR's was merged.

[2022-03-12 10:56] hydra opened #11467 "Compilation broken when USE_RC_SMOOTHING_FILTER is not defined."
### Describe the bug

The build systems supports 'FEATURE_CUT_LEVEL', but level >= 6 results in failed compilation due to use of defined only present when USE_RC_SMOOTHING_FILTER is defined.

This is the offending change:

https://github.com/betaflight/betaflight/pull/10832#pullrequestreview-907986372

@daleckystepan Can you work up a fix?

### To Reproduce

Build with `FEATURE_CUT_LEVEL' >= 6

##

[2022-03-12 11:17] daleckystepan commented on #11467
Sure. I will take a look today.

[2022-03-12 11:35] hydra commented on #11155
ok, so I knocked up a potential fix, however my previous statement may be in error.

The unofficial spec, for DSHOT300, lists the timings at 2.50uS, and 1.25uS which result in signal transition offsets as:
always high = 2.50uS / 3.33uS * 100 = 75.00%
high or low, depending on bit = 1.25uS / 3.33uS * 100 = 37.50%

The bitbang dshot code actually gets the bit time and divides by 3 so the sample peri

[2022-03-12 13:10] hydra commented on #11155
Note: If DSHOT ESC authors changed adjusted their sampling periods as follows, it would be best and their ESC code would remain backwards compatible with DSHOT BitBang.  i.e. avoid the overlapping regions of the in-spec and out-of-spec implementations.

Current DSHOT Spec:
| Start | End | Region/Remarks |
|-|-|-|
| 0% | 37.5% | First state |
| 37.5% | 75% | Second state |
| 75% | 100% | Third stat

[2022-03-12 16:12] justinflipflops commented on #11155
@hydra unfortunately in my case it did not seem to resolve the issue.

[2022-03-12 18:10] MoppelMat commented on #11155
Can I run the STM32H743 binary on my MAMBAH743 for this test? Dont wanny fry something today…

[2022-03-12 19:32] hydra commented on #11155
@justinflipflops Can you please give details of the exact FC, ESC and ESC Firmware you are using?

@MoppelMat Can you please give details of the exact FC, ESC and ESC Firmware you are using?

My scope probes above are with no ESC connected.  What's important is the timing of the glitch that occurs after the last bit, which is now held (driven) longer.  The glitch occurs due to the transition from

[2022-03-12 19:43] MoppelMat commented on #11155
Sure!
It is the MAMBA MK4 H743 FC (BMI 270 gyro) with the MAMBA F55_128K ESC. The ESC is running 32.83 Beta FW MAMBA_F55_128K_F4201S_Multi_32_83.Hex
https://www.diatone.us/collections/basic/products/mamba-stack-mk4-h743-55a-6s-32bit-128k-stack

I will point Diatone to this PR. Thank you Dominic!
In the meantime I will build the FC back to the last version (I guess thats a good idea?) and run the E

[2022-03-12 20:01] hydra commented on #11155
@MoppelMat Yes it's interesting the some of the outputs work and some do not.  It indicates there is a difference in the IO circuitry for those pins.

From ST's H743 Datasheet DS12110 Rev 8
![image](https://user-images.githubusercontent.com/57075/158032993-6ab97344-4795-41f6-97c3-4c37c1a56c23.png)

The IO structure on the pins used by the OP's FC Mamba H743 (BMI270) are quite varied.
PA0 = FT_a
PA

[2022-03-12 20:06] MoppelMat commented on #11155
thats a very interesting read and matches with the findings!

yeah sure:

(mapped to outputs 5-8): (the Motor outputs 1-4 are just on A00 to A03)
# resource show
Currently active IO resource assignments:
(reboot to update)
--------------------
A00: FREE
A01: FREE
A02: FREE
A03: FREE
A04: GYRO_CS 1
A05: SPI_SCK 1
A06: SPI_MISO 1
A07: SPI_MOSI 1
A08: FREE
A09: SERIAL_TX 1
A10: SERIAL_RX 1
A11: USB
A

[2022-03-12 20:26] hydra commented on #11155
It *doesn't* match with the findings.  Motor 1 and 5 have the same IO structure, yet Motor 5 works and 1 doesn't.

Your board uses the same pins as the OP.

[2022-03-12 20:31] MoppelMat commented on #11155
for me, it's motor 4 that does not work.
What I meant with "matches the findings" is that there seems to be something different on these pins. If not logically to the MCU, it's maybe something electrically thats different. I was just happy that your explanation seems to direct in this direction. If its not, ok

[2022-03-12 21:48] #11375 closed

[2022-03-12 23:08] justinflipflops commented on #11155
@hydra FC is the dual mpu6000 version of the of the mamba H743 with the F65_128k ESC

[2022-03-13 11:03] Martivip commented on #11438
Hi @SteveCEvans, no it don't work I've tested today with the latest Development Master build no.2648.
I have two setups, one based on Ghost RC Link with STM32F745 (KakuteF7) target and one with ELRS RC Link together with BETAFPVF4SX1280 (ELRS SPI receiver on board) tagret.

For both setups my test observations are the same:
- after applying ACC trim roll, pitch adjustments via OSD stick command th

[2022-03-13 11:14] Martivip commented on #11233
Hi @SteveCEvans i've tested today with the latest Development build no. 2648 and still VTX management via ELRS RC together with ELRS SPIrx ELRS AIO FC board don't work as it should.
If there in no RC Link (TX is off) then I can apply VTX changes via BF Configurator.
If RC Link is established then if I change channel from R1 to R2 via VTX Administrator Lua script then change it becomes effective an

[2022-03-13 15:16] GregorPotrebujes commented on #11367
What I'm asking for here is an explanation/definiton of this READY_BEEP switch. Does anyone know where to find it?

[2022-03-13 22:47] ea-fpv commented on #11396
Hi, Glad to report back using this binary: [betaflight_4.3.0_STM32F7X2_norevision.zip](https://github.com/betaflight/betaflight/files/8233961/betaflight_4.3.0_STM32F7X2_norevision.zip)

Procedure followed:
1.  Replicated the symptom as reported on  #11428
3. Saved backup from [Presets] tab on Configurator: 10.8.0 (c9b7ed8f)
4. Flashed local firmware with provided binary and restored saved backup f

[2022-03-13 23:18] klutvott123 commented on #11396
@ea-fpv The behaviour you're seeing in the the screenshot of the receiver tab is exactly what it will look like when there's a baud rate mismatch between fc and rx. It then tries to negotiate the baud rate again and you can see that it succeeds eventually and the traces settle down. The strange thing is that with ```crsf_use_negotiated_baud = OFF``` the baud rate should remain at the default 42000

[2022-03-14 01:48] klutvott123 commented on #11396
@ea-fpv Thanks for testing. I reproduced the issues with slow updates. Made some changes. Have tested it with baud negotiation on/off telemetry on/off and have verified rx and tx baud rates with my scope. Here are updated binaries that should work properly

[betaflight_4.3.0_STM32G47X_norevision.zip](https://github.com/betaflight/betaflight/files/8241128/betaflight_4.3.0_STM32G47X_norevision.zip)

[2022-03-14 02:45] ea-fpv commented on #11396
Thanks @klutvott123! Your build seems to be heading the right way.

Just tested [betaflight_4.3.0_STM32F7X2_norevision.zip](https://github.com/betaflight/betaflight/files/8241130/betaflight_4.3.0_STM32F7X2_norevision.zip) and I am glad to report the following:

1.) Unable to reproduce the symptoms with the default cli option crsf_use_negotiated_baud = OFF. This time I made sure to reboot all compo

[2022-03-14 03:06] klutvott123 commented on #11396
@ea-fpv Thanks a lot for testing!

So with ```crsf_use_negotiated_baud = OFF``` there are no dropping channel values anymore? If so, it does indeed seem like this issue is caused by baud rate being too high as the baud rate used with the option off is the same as in BF 4.2.

The behaviour with baud rate negotiation ON is the same as the current master branch so that you're still seeing issues with

[2022-03-14 03:16] ea-fpv commented on #11396
Correct. Having the option set to OFF seems to fix this for me.

[2022-03-14 04:39] #11386 closed

[2022-03-14 04:39] #11383 closed

[2022-03-14 09:53] Drone65 opened #11470 "8j motor resource issue with BetaFPV f722 aio"
### Describe the bug

When the led strip is selected in the configuration tab betaflight 4.3 stops seeing motor output in the motors.

### To Reproduce

To reproduce this just turn led strip on and off and returning to the motors tab.

### Expected behavior

I expected to be able to turn ledstrip on to program leds. But this issue is preventing that.

### Configurator version

10.8 debug-ea6958f

[2022-03-14 12:06] Abulos commented on #11396
Hi @klutvott123

Thanks for looking at this.

Yes, both Tx and Rx wires on my crossfire receiver are connected to FC.

Tested 4.3 RC2 (again) and 4.3 RC3 (new) and was able to reproduce throttle dips when I turned telemetry=ON with both firmwares, Note my throttle dips are not at regular intervals. TIme between dips varies.

Tried your latest betaflight_4.3.0_STM32F7X2_norevision.zip on the bench.

[2022-03-14 22:43] PaulFPV commented on #11344
I had the same non disarm issue one week ago with my 7 inch. Perfect flight, prepared for landing but then the quad wasn't disarming. Burned 2 motors with the propellers stopped between the feet (still waiting for the replacement). Fortunately I had strong shoes and the battery was empty, so no injuries.

The setup
=========
FC: MAMBA Basic F722 MK3 with Betaflight 4.3 RC2
Radio: TX16s with Crossf

[2022-03-14 23:25] haslinghuis commented on #11073
Also recognized on H7FR on latest release

[2022-03-15 16:10] #11470 closed

[2022-03-15 18:42] tn2009 opened #11473 "Flysky IBUS telemetry does not work on 4.3"
### Describe the bug

Impossible arming drone. Communication with the receiver is constantly lost. TX16s and mobula6 crazybeef4s. When the connection is lost, you have to turn off and turn on the whoop.

The same is true on the IA6B receiver with matek f405ctr.

### To Reproduce

turn on the equipment and the quadcopter.

### Expected behavior

It works fine on BF4.2.11. Communication with the rec

[2022-03-15 22:12] #11451 closed

[2022-03-16 17:44] MoppelMat commented on #11410
I would really love if this got some more interest. The compass in BF is always bad and I would really really like if we could get more advanced features like Pos Hold or autoland with LIDAR.

Keep it up please

[2022-03-16 17:50] bakwc commented on #11410
Sory for the delay, I will be able to continue working on this issue in 1.5 months (moving from russia into another location, my drones left in russia, becasue of very strict government agents on russia border side. No joke - they interrogated me for half an hour when I was leaving the country).

[2022-03-17 21:33] swilkens opened #11478 "Spektrum sat fails to go into BIND mode using spektrum_sat_bind = 9"
### Describe the bug

When using the following in CLI;

`set spektrum_sat_bind = 9`
`save`

Then power cycling the FC, the spektrum satellite attached to UART 4 (RX4) fails to go into bind mode. I suspect the F722-SE board I am using has inverters on all UARTS, which - to my understanding - may be interfering with the bind signal to the sat receiver. Is this correct?

Is there a way around this?

[2022-03-17 22:49] swilkens commented on #11478
It does indeed seem like at least UART4 can't be used with `set spektrum_sat_bind = 9` to bind a spektrum sat receiver on this FC. Lessons learned.

I had to de-solder the receiver and force it into bind mode using an arduino.

Here's what I did for future reference.

- https://www.youtube.com/watch?v=2JEOO2ENBLg
- https://frobomind.org/web/doku.php?id=uas%3Ac2%3Aspektrum_dsmx_remote_receiver
- ht

[2022-03-17 22:49] #11478 closed

[2022-03-18 00:55] David-OConnor opened #11479 "Assign AnyLeaf manufacturer id"
### Is your feature request related to a problem? Please describe

Add AnyLeaf as a manufacturer; assign ID. Per [instructions here, section 2.3](https://github.com/betaflight/betaflight/blob/master/docs/TargetMaintenance/CreatingAUnifiedTarget.md). *"if the manufacturer is not listed, open an [issue](https://github.com/betaflight/betaflight/issues) and ask for a new id to be assigned"*

Name of t

[2022-03-18 04:36] #11343 closed

[2022-03-18 04:36] #11329 closed

[2022-03-18 04:36] #11276 closed

[2022-03-18 22:03] Abulos commented on #11396
[https://github.com/betaflight/betaflight/pull/11472](url)

[2022-03-18 22:06] Abulos commented on #11396
#11472

[2022-03-18 22:14] miguelwon commented on #11413
Hi,
I'm having a similar problem that can be related. I'm working in a setup where I want to control the FC through MSP (through an RPI and a Bluetooth PS4 DualShock controller).
Everything seems to work fine from the Receiver menu. I see the MSP commands are being received correctly and, from the Motor section, I read the correct PWM signal of 1000 in each motor when arming is off. Then, as soon

[2022-03-19 04:36] #11389 closed

[2022-03-19 18:16] jsk2084 commented on #11453
After additional testing in latest development builds, I've determined that enabling auto-config with this NamelessRC TinyGPS in ublox protocol prevents it from working. Flashing build #2579 from Dec 20th 2021 and enabling auto-config there fixes the issue.

Leaving auto-config disabled seems to be required, otherwise the gps module settings become incompatible. I'm not sure if any other GPS modul

[2022-03-19 19:07] haslinghuis commented on #11453
@TonyBlit any idea? There seems to be an issue with https://github.com/betaflight/betaflight/pull/10921

[2022-03-20 04:56] itwillbefun commented on #11409
The jumps you see aren’t me. I’m holding the throttle up. And then I’m holding the roll. I had to reflash to get the video and I’m on the road for a job so I used speedybee, but this also does it in the desktop config.

https://user-images.githubusercontent.com/7536425/159148801-5ef724f0-1f74-4585-abd9-9b86798efbc0.MOV

[2022-03-20 08:33] klutvott123 commented on #11409
try this please https://github.com/betaflight/betaflight/pull/11472. do you have the telemetry wire connected?

[2022-03-20 12:58] itwillbefun commented on #11409
seems to have worked!

[2022-03-20 17:09] Martivip commented on #11438
Hi @SteveCEvans ok anter instalation BF build no. 2653
I have two setups, one based on Ghost RC Link with STM32F745 (KakuteF7) target and one with ELRS RC Link together with BETAFPVF4SX1280 (ELRS SPI receiver on board) tagret.

- for ELRS Setup ACC trim rol and ich adjustments made via OSD are saved in FC is OK minor issue is that not always visual beeper is persented in OSD during adjustments
- F

[2022-03-21 04:36] #11080 closed

[2022-03-21 14:19] pitts-mo commented on #11221
Sorry I missed your inquiry @hydra,
Yes, I have since installed RC3 on all my quads. I can not recall observing the quirky control/OSD lag during flight with RC3. However, I do still regularly see weird control/OSD lag occurring prior to arming RC3. I am still utilizing serial ELRS 2.4ghz @150hz as prior to RC3 I found higher RC rates associated to notable increase in lag/weirdness.

I have not te

[2022-03-21 20:45] Combinacijus opened #11482 "RC Smoothing should be separate for each Rateprofile"
### Is your feature request related to a problem? Please describe

Same RC Smoothing is used for every Rateprofile. If we have Rateprofile for racing, freestyle and cinematic flying same RC Smoothing is not optimal and can't be easily switch using transmitter

### Describe the solution you'd like

Move RC Smoothing setting to PID Tuning -> Rateprofile Settings tab

From:
![image](https://user-imag

[2022-03-21 22:14] SupaflyFPV commented on #11482
I like the idea if its technically not too complicated.

[2022-03-22 04:36] #11309 closed

[2022-03-22 06:10] Quick-Flash commented on #11482
Wouldn't be "easy", but it also shouldn't be "hard".

[2022-03-22 07:14] AndroidGX commented on #11385
Any news of this issue ?

[2022-03-22 10:48] hydra commented on #11385
No-one appears to be investigating this.  I suspect no-one will until a method to reliably re-produce the issue is found.  Can you confirm that one of the logs your recorded DOES have evidence of the latency or not, and if so which log file and at what time index so that when someone does investigate this they will not have to trawl the history and logs as much.  i.e. make it easy for someone to h

[2022-03-22 11:52] AndroidGX commented on #11385
As previously said, all the recorded logs above can't show any latency issue, but sometimes it still appears in 2 of my quads while on dshot600 and when I try to record gyro_scaled. I can't do anything else but for me this issue is still present then. I'm now obliged to set dshot300 in my F7 cpus (which is sad), unfortunately.

[2022-03-22 12:09] klutvott123 commented on #11385
so this happens when logging? you're logging at a 1/1 rate and that's probably the reason. You shouldn't need to log at more than 1/4 at 8K unless you have very special needs. If you really need to log at such a high rate, you can have a look at the new ```blackbox_disable_``` options in cli that allow you to disable logging of the things you aren't interested in.

[2022-03-22 21:26] PaulFPV commented on #11482
for me it's a must.. this is why I proposed it here: [](https://github.com/betaflight/betaflight/issues/11152)

;)

[2022-03-22 23:01] #11396 closed

[2022-03-22 23:01] #11428 closed

[2022-03-23 00:19] Vanja-APD opened #11484 "For <512k targets, ESC passthrough for non-BL Heli ESCs ESCs fails"
### Describe the bug

Connection to passthrough ESCs using BF4.3+ fails with non-BL Heli ESCs due to a change in connection string format. The issue appears within RC1 of 4.3, appears to be a compile-time define (**USE_SERIAL_4WAY_SK_BOOTLOADER**) which affects the connection string format is now guarded by a flash_size check. Imagine below shows the changes.

![image_git](https://user-images.gith

[2022-03-23 00:54] DusKing1 commented on #11484
Removed due to firmware size

[2022-03-23 14:28] hydra commented on #11333
This re-occurred today while testing #11483

![image](https://user-images.githubusercontent.com/57075/159722634-a7f56d1b-c7e2-4ae8-90a5-738e1753e028.png)

Binaries and code for testing here: https://github.com/betaflight/betaflight/pull/11483#issuecomment-1076353640

[2022-03-23 14:40] hydra commented on #11333
And even more weirdly, without rebooting the FC the OSD magically resumed by itself:

![image](https://user-images.githubusercontent.com/57075/159724761-0b04db24-78a6-448f-b3ec-4f0b4bf3898e.png)

[code]

![image](https://user-images.githubusercontent.com/57075/159724998-d824d20b-4432-43d5-ac7d-54c0bcf7fcd4.png)

Further indicating a scheduling / roll-over bug in the scheduler.  Likely as some comp

[2022-03-23 17:02] Arne-W commented on #11155
Hi Guys - first of all I would like to thank @hydra for explaining how it should work and @MoppelMat for the measurements.
But what if the things we see are not the problem at all? The thing that made me wondering was @MoppelMat who described that the problem went away as soon as he connected the probe. So could it be possible that all the shots from the oscilloscope show some sort of artifact in

[2022-03-23 17:36] JamesKingdon commented on #11155
The probe adds some capacitance to the line which will act as a low pass filter. It might suggest noise on the signal lines is contributing to the problem. If you have some low value capacitors you could try connecting one between the signal line and ground and see if it behaves the same way. Something around 10pF would probably be worth trying.

[2022-03-23 18:03] JBKingdon commented on #11155
The probe adds some capacitance to the line which will act as a low pass filter. It might suggest noise on the signal lines is contributing to the problem. If you have some low value capacitors you could try connecting one between the signal line and ground and see if it behaves the same way. Something around 10pF would probably be worth trying.

[2022-03-23 19:28] LordGG commented on #11155
This discussion went beyond my knowledge ^^ But concerning the difference about non-working motors, it might be explained because I think I remapped my motors, my stack had 180° of rotation on Yaw axis (lipo pigtail goes to the front of the quad). That is probably why issue was on motors 1 and 3 for me, and 2 and 4 for you.

[2022-03-23 19:37] MoppelMat commented on #11155
Thats not it, I have the exact same rotation, and for me its always motor 4 and only motor 4. I think @Arne-W is onto something here. I do not know how to fix it in software, but I guess the idea of @JBKingdon is onto something. I would like to try that out, but I do knot know if I have the right capacitor around here. If no one else is having one on hand, I could shop one easily at a local store.

[2022-03-23 20:12] haslinghuis commented on #11155
What's the distance between ESC and FC, maybe need https://www.diatone.us/products/mamba-interference-shielding-fpc

[2022-03-23 22:43] Quick-Flash commented on #11155
@haslinghuis, I have this installed with a 3mm+ gap. Running into the same problem as @MoppelMat

[2022-03-23 23:05] haslinghuis commented on #11155
Please try at least 5mm as switching noise from ESC might cause problems.

[2022-03-24 01:51] Quick-Flash commented on #11155
Not likely as it happens when the motors aren't spinning. and when i say 3mm+, thats the closest the two boards ever get, the pcb are over 5mm apart.

[2022-03-24 02:00] Quick-Flash opened #11485 "Unable to acheive 2k logging on h7 fc without stutters"
### Describe the bug

While using the latest master, I cannot get 2k logging rate without stutters while using an 8k pidloop rate. I'm using an h7 fc that has plenty of capability to log at 2k.

### To Reproduce

To reproduce this behaviour flash the latest nightly and try logging at a 2k update rate while running 8k.

### Expected behavior

No stuttering of blackbox logging.

### Flight controlle

[2022-03-24 02:01] Quick-Flash opened #11486 "OSD freezes while saving, as well as configurator"
### Describe the bug

While using the latest master the OSD will freeze during a save and exit, or save and reboot and must be power cycled to come to life again. The when saving, especially saving and rebooting, but still while saving, the configurator will stop responding and the fc will freeze up. This is with an h743 fc that should have plenty of power.

### To Reproduce

To reproduce this beh

[2022-03-24 09:38] haslinghuis commented on #11486
@Quick-Flash Can you please test with https://github.com/betaflight/betaflight-configurator/pull/2846#issuecomment-1071618750. If issue persist we can look at the console.log to have a clue where to start looking.

[2022-03-24 10:08] thedvxl opened #11487 "LEDS not working properly on newer FURYF4OSD Versions, only Legacy Versions working correctly"
### Describe the bug

So my Problem is, that my LEDs only work on the Legacy Version of the FURYF4OSD for my Diatone Mamba F405 MK2. When I flash the other Versions (yes, I tried every version), only the first LED is permanently red, the third LED is flashing in seemingly random colors and the rest of the LEDs are completely off. But I really would like to use the newer Versions but still want to

[2022-03-24 14:49] Arne-W commented on #11155
@haslinghuis My test was on the bench - no motors connected at all. Moreover my boards were not stacked during the test.
I ordered some 10pF capacitors to test - hopefully they will arrive until weekend.
But it is still somehow strange that it worked with bf4.2.11 for some people. Another strange issue are the problems with Bitbang OFF. The signal looks very good but we have 99% error rate. So why

[2022-03-24 16:22] haslinghuis commented on #11155
Somehow I still think it's an compiler optimization issue. Will provide hex later with OPTION=DBG

[2022-03-24 16:45] Quick-Flash commented on #11155
Not really looking forward to flying with code that has been optimized in ways that will make it run slower as I cannot log at a 2k rate already on h7. See, #11485

[2022-03-24 16:47] Quick-Flash commented on #11486
After further testing it seems to be an issue with the save command. Both save, and save and reboot both run into this issue. Funny thing is that the saves always seem to work as expected, I just can't always get back into the main loop after a save and have to power cycle.

[2022-03-24 16:49] haslinghuis commented on #11486
Can you take a look at the console when it happens? F12 on Mac you need another combo to open chrome devtools

[2022-03-24 16:53] haslinghuis commented on #11155
Sure but at least we have a hint

[2022-03-24 17:13] haslinghuis opened #11488 "Kakute H7 Mini SPI Flash not working"
### Describe the bug

Device is configured to use SPIFLASH but does not show up in configurator GUI as option:
![image](https://user-images.githubusercontent.com/8344830/159983882-9b335ef3-49cc-418b-a699-20c235b5300c.png)

The resource needed for it to work shows:
[code]
The board uses the `Winbond 25Q128J / 25Q128JV` chip for blackbox.

### To Reproduce

Default:

![image](https://user-images.git

[2022-03-24 17:22] Quick-Flash commented on #11486
![image](https://user-images.githubusercontent.com/46289813/159974273-e0b97b22-7248-47bf-98a0-bf11c5557a29.png)

Then if I wait long enough this happens
![image](https://user-images.githubusercontent.com/46289813/159974364-39fb7cc3-6bd0-4836-99cf-22bba84546b9.png)

[2022-03-24 17:37] haslinghuis commented on #11486
Lot of MSP Code 105 is MSP_RC,
Timeout is dynamic between 250 and 2000 (before it as fixed at 1000ms).
Surprised this even ends up in a DFU connection (this is after save and reboot I assume)

[2022-03-24 18:04] Quick-Flash commented on #11486
Nope, I just went between the OSD tab, press save, go to pid tab, press save, repeat until it stops responding

[2022-03-24 20:16] haslinghuis commented on #11486
There is no spamming protection yet ;-)

[2022-03-24 20:17] Quick-Flash commented on #11486
happens when saving the osd sometimes, and sometimes after the first save. So unfortunately spamming protection won't help.

[2022-03-24 20:20] haslinghuis commented on #11486
Could not reproduce on Holybro Katute H7 Mini

[2022-03-24 20:27] haslinghuis commented on #11486
@kc10kevin happy to test some samples here together with @SteveCEvans

[2022-03-24 22:02] hydra commented on #11155
To recap, the MCUs have the problem due to the IO transition from OUTPUT to INPUT.  The non-BitBang has a different IO transition which is AF -> OUTPUT -> INPUT.  We can't do this, nor do we want to, for the Non-BitBang, and also ideally we want to remove the hack of using the OUTPUT transition from the non-BitBang (aka DShot DPWM) in the code and just go AF -> INPUT thus saving cpu and ISR cycles

[2022-03-24 22:27] hydra commented on #11155
@haslinghuis You could verify this fairly easily i think by adding an atomic block or dsb/isb instuctions into the code such that the compiler can't re-organize (optimize) as much of the code, you can then also compare the generated assembly too.

You can also probably verify this by simply connecting a debugger to an MCU and manually poking the GPIO MODER and watching the scope.

[2022-03-24 22:31] hydra commented on #11385
@klutvott123 I think @quick-flash was also having latency issues with logging even on a H743.  Probably related to #11485

[2022-03-24 23:38] Quick-Flash commented on #11385
no latency issues, flies fine, just stuttering in the logs. Just missing parts of the logs

[2022-03-25 04:37] #11399 closed

[2022-03-25 12:29] jan4uk commented on #11485
Same problem with my Mamba h743 dual mpu6000, ESC Mamba F60Pro 60A, crossfire
![image](https://user-images.githubusercontent.com/73912034/160120579-74731505-4931-42bf-af54-7e313f9c9281.png)

Something strange here:

# tasks
Task list             rate/hz  max/us  avg/us maxload avgload  total/ms   late    run reqd/us
00 - (         SYSTEM)     10       1       0    0.0%    0.0%         5      0

[2022-03-25 14:23] hydra commented on #11385
I'm guessing that the latency issue is likely with the scheduler not servicing the blackbox logging code like it used to, or that the there is some other issue with the updated spi code that uses the flash to log.  would be interesting to see if there is a difference between 1-bit spi, octo-spi flash, 1-bit sdio or 4-bit sdio.  certainly 4 bit quad-spi and 4-bit sdio on my H750 FC's worked at 8k(g

[2022-03-25 14:26] klutvott123 commented on #11385
@hydra Looks like a completely different issue to me. The issue described by @Quick-Flash has been a problem forever. My matekF722 has always had gaps in logs like that

[2022-03-25 14:58] hydra commented on #11385
@klutvott123 even on 4.2?

[2022-03-25 17:23] Arne-W commented on #11155
Ok so the hypothesis is that the H743 MCUs have a design problem which leads to the falling edge when switching from OUTPUT to INPUT. But isn't it strange that this problem does not happen on all pins that have the same IO structure and not on the same pins for all users? Don't get me wrong I just want to understand.

My other question is why does the DShot DPWM mode has such a high error rate alt

[2022-03-25 19:51] SteveCEvans commented on #11385
@hydra Good grief man. Quit with the unfounded digs at the scheduler. The scheduler doesn't "service" the blackbox logging code. That's called, as it ever was, from the PID task, which is called with better regularity now than it ever was.

![image](https://user-images.githubusercontent.com/11480839/160190807-e510dc17-9c91-42af-8966-c05948dd9115.png)

Gaps in the log are caused by the FLASH not re

[2022-03-25 21:05] hydra commented on #11385
My apologies, yes it was a guess. I stand corrected.  Thanks for refreshing my memory on where the BB logging was called from, I wasn't remembering correctly.  That code has 'just worked' for me for a number of years so have not had to look at it recently.  @thenickdude did such a great job on it!

Yes, I'm aware of the differences between write speeds, that's usually more of an issue on SD cards

[2022-03-25 21:18] AndroidGX commented on #11385
I did another 2 lipos today to test recording blackbox in 2kHz mode (GYRO_SCALED) and no issue so far.
This confirms then I have issue only when I record in 4kHz.

[2022-03-25 22:56] dinesh21400 commented on #11385
Not sure if this is related but after I updated my Crossfire to 6.17 I am having a 1s latency on my sticks to quad movements as well. I have two quads with this same issue. I'm using a TBS Tango 2 and have a Nano RX in both quads. Both have the same flight controller (Speedybee F7) and running BF 4.3 RC3. I wonder if it's related to the OPs issue?

I'm downgrading my crossfire firmware down to 6.0

[2022-03-25 23:04] haslinghuis commented on #11385
@dinesh21400 please try CRSF 6.17 with latest development firmware. Details:
[code]

[2022-03-25 23:08] dinesh21400 commented on #11385
This happened to me only after upgrading to 6.17. I did this yesterday using Agent M so I'm assuming it's latest firmware. Should I also do something else?

[2022-03-25 23:13] haslinghuis commented on #11385
Yes it needs the firmware in the link above available as development build.
Please try flashing:

![image](https://user-images.githubusercontent.com/8344830/160213402-b142ede3-325c-4535-84e6-feb8bf8ed2bf.png)

to see if latency is resolved with 6.17

[2022-03-25 23:18] dinesh21400 commented on #11385
Ok ill give it a try.

[2022-03-25 23:19] haslinghuis commented on #11385
Save your diff and use detect button to detect right target

[2022-03-25 23:20] klutvott123 commented on #11385
https://github.com/betaflight/betaflight/pull/11472 doesn't rely on a particular firmware version, and 6.17 doesn't need the PR to work. The PR and firmware 6.17 will both make the RX use CRSF V2. But I don't know if there are other issues with 6.17

[2022-03-25 23:39] dinesh21400 commented on #11385
I just tried with the build you said and used 6.07. It seemed to work fine on that. I'm now going back to 6.17 and going to try again.

[2022-03-25 23:41] dinesh21400 commented on #11385
Ok so that's what I thought. If I reproduce the issue with 6.17 again then I know foe certain that's what's happening. Hopefully I don't destroy my quad in the meantime.

[2022-03-25 23:46] haslinghuis commented on #11385
TBS is very safe - even while bench testing

[2022-03-26 00:29] dinesh21400 commented on #11385
Ok just did the test with 6.17. Have the issue. There is a ton of latency. Most noticable on flips. I almost crashed a couple times but was able to bring it safely down. I'm downgrading till this issue is resolved.

[2022-03-26 00:36] haslinghuis commented on #11385
Thanks for testing. @klutvott123 please take note.

[2022-03-26 00:45] Quick-Flash commented on #11385
The reason is that the bf4.3 has very aggressive scheduler code that will prioritize pid and gyro over everything else. Meaning that your rc command will not be processed because the scheduler is deciding to instead run the pid/gyro, and it won't run the rc command code even if it has time to, but thinks it would be to close to another gyro read. I'm hoping that these issues get resolved.

[2022-03-26 00:53] dinesh21400 commented on #11385
Thanks for that but how come it was running fine with RC3 on v 6.07? Shouldn't it affect both versions equally?

[2022-03-26 01:04] justinflipflops commented on #11155
I'm not sure if this helps at all but I decided to try something sort of unorthodox. In dshot_bitbang.c the two locations that check for DSHOT_TELEMETRY and send either INVERTED or NONINVERTED based on the define, I reversed this making bb dshot non inverted. My thought was maybe something isn't right with the hardware and instead of 1 and 3 working maybe 2 and 4 would work. Well to my surprise, 2

[2022-03-26 01:29] dinesh21400 commented on #11385
Just curious but I noticed force telemetry was turned on after FW update. I had turned this off in the past. Could having that on cause extra latency?

[2022-03-26 01:33] klutvott123 commented on #11385
@dinesh21400 Yes. It means it can switch down to 4Hz update rate. It's a likely explanation for the latency you're seeing.

[2022-03-26 01:38] dinesh21400 commented on #11385
I hate myself.  Thanks. I wish it wouldn't default to that after a FW update.

[2022-03-26 06:59] ss8688 opened #11489 "Frsky SPI RX can not saving changes with the lua-scripts"
### Describe the bug

SPI RX can not saving changes, but can read setting. Does this scripts suport SPI RX?

### To Reproduce

Save it

### Expected behavior

Saving ... Retrying
But not saved

### Flight controller configuration

[code]
[code]

### Flight controller

Crazybee f4fr

### Other components

Drone - mobula6 frsky spi
Betaflight 4.2.11
TX - tx16s
edgetx 2.6.0
betaflight-tx-lua-scripts

[2022-03-26 07:00] ss8688 commented on #11489
also see https://github.com/betaflight/betaflight-tx-lua-scripts/issues/304

[2022-03-26 11:31] klutvott123 commented on #11489
has it ever worked, or is it just with 4.2.11? is your tx module firmware up to date?
There's nothing in the scripts themselves that would prevent saving from working.

[2022-03-26 11:46] ss8688 commented on #11489
It can work with my another drone，which has a F.port rx and bf 4.2.1 .
This mobula6 is newly bought ,so I have only tested 4.2.11
It seems that eta75 Pro 2 [Betaflight 4.1.2] also have same problem. see see https://github.com/betaflight/betaflight-tx-lua-scripts/issues/304

[2022-03-26 11:47] ss8688 commented on #11489
And the [README.md](https://github.com/betaflight/betaflight-tx-lua-scripts#readme) seems have no informaion about SPI RX suport.

[2022-03-26 11:53] ss8688 commented on #11489
My module firmware is 1.3.3.7

[2022-03-26 12:02] klutvott123 commented on #11489
are you using D8 or D16 mode?

[2022-03-26 12:02] ss8688 commented on #11489
D16

[2022-03-26 14:00] klutvott123 commented on #11489
do all pages fail to save, or just some of them?

[2022-03-26 14:09] ss8688 commented on #11489
all pages

[2022-03-26 14:30] klutvott123 commented on #11489
all right, could be something wrong in the firmware then. Maybe try BF 4.3 as there has been some changes since 4.2.11.
I don't have any hardware with frsky spi rx so I won't be able to reproduce or troubleshoot this. The frsky spi and bf lua has always been a little hit or miss.

[2022-03-26 17:45] dududu76 commented on #11489
It doesn't work neither using D8 with the internal FrSky transmitter, a on Taranis X9D+. ( Tested on BF4.2.11 ).
It gets stuck at "Initilizing...". I can't even read values.

[2022-03-26 17:48] klutvott123 commented on #11489
you have to use D16. enable telemetry and "discover new sensors"

[2022-03-26 23:32] trnnwnnhe opened #11491 "OSD lagging"
### Describe the bug

OSD lagging firmware #2644 and newer. And CPU load +10% => firmware #2643 58% , #2644 70%

https://youtu.be/0uvn8yxY-2k

### To Reproduce

stm32f405  firmware #2644 and newer.

### Expected behavior

fix

### Flight controller configuration

[code]
[code]

### Flight controller

airbot omnibus f4

### Other components

_No response_

### How are the different components wired

[2022-03-26 23:47] JyeSmith opened #11492 "[Minor Bug] MSP_SET_VTXTABLE_POWERLEVEL"
### Describe the bug

This condition should use VTX_TABLE_MAX_POWER_LEVELS and not vtxTableConfig()->powerLevels.

If already user set or cleared to 0, then MSP can not add power levels above vtxTableConfig()->powerLevels.

https://github.com/betaflight/betaflight/blob/61f43fea9ea5dbd19d378b06ce8cf37b78d50ea6/src/main/msp/msp.c#L3273

### To Reproduce

Try and set a power level above the user set

[2022-03-27 00:34] JyeSmith commented on #11492
Again here it should be VTX_TABLE_MAX_BANDS.

https://github.com/betaflight/betaflight/blob/61f43fea9ea5dbd19d378b06ce8cf37b78d50ea6/src/main/msp/msp.c#L3237

And a guard here for VTX_TABLE_MAX_CHANNELS.

https://github.com/betaflight/betaflight/blob/61f43fea9ea5dbd19d378b06ce8cf37b78d50ea6/src/main/msp/msp.c#L3230

[2022-03-27 00:43] #11492 closed

[2022-03-27 03:36] ss8688 commented on #11448
frsky spi seems to have same issue https://github.com/betaflight/betaflight/issues/11489

[2022-03-27 10:47] Arne-W commented on #11155
Hi Guys - I probably found a fix for at least the Mamba Stack users. For me it seems to work but its **tested on the bench only**!
I reduced the GPIO_SPEED of the IO pins that are used for Dshot. For DShot 600 we do not need higher frequencies than 1Mhz  on those pins and therefore we do not need support for higher frequencies there.
You can find a test binary here:
[betaflight_4.3.0_STM32H743_289

[2022-03-27 12:46] haslinghuis commented on #11155
@Arne-W good find

Original:
https://github.com/betaflight/betaflight/blob/61f43fea9ea5dbd19d378b06ce8cf37b78d50ea6/src/main/drivers/dshot_bitbang.c#L754

Proposed:
[code]

[2022-03-27 13:34] MoppelMat commented on #11155
@Arne-W nice find!
I am on a field flying right now, I will do some scope measurements in the early evening (gmt+1+1)

[2022-03-27 15:49] etracer65 commented on #11492
No, it is correct as is. The `MSP_SET_VTX_CONFIG` message is sent first and that updates the max configured power level, band, and channel counts. Then the `MSP_SET_VTXTABLE_POWERLEVEL` and `MSP_SET_VTXTABLE_BAND` messages are sent to update the detail entries.

[2022-03-27 19:13] jan4uk commented on #11155
@Arne-W Yes, it is working. Sorry no logs, but i can confirm that bidirectional dshot is working on Mamba H743 2x mpu6000
Thank you!

[2022-03-27 19:20] MoppelMat commented on #11155
![SDS2504X Plus_PNG_1](https://user-images.githubusercontent.com/55950637/160297169-da0adc28-c567-4654-bdff-e03166911c6b.png)

Thats is how it looks now with (my usual) DSHOT300. It looks like that on all 4 outputs

[2022-03-27 19:33] haslinghuis commented on #11155
The last 4 outputs looks a little different as the 12 outputs before. Have quoted this in the other PR for reference. Thank you!

[2022-03-27 19:40] JyeSmith commented on #11492
Thanks Bruce.  I ended up piecing it all together and finding that, so I closed the issue.

[2022-03-27 19:41] JyeSmith commented on #11492
Here's a quick demo of a vtx setting up the table.

https://streamable.com/55z0el

[2022-03-27 19:45] Asizon commented on #11492
Wow @JyeSmith these are fantastic improvements, want to try this openvtx changes now!

Wow @JyeSmith these are fantastic improvements, want to try this openvtx changes now!

[2022-03-27 20:23] x4FF3 commented on #11155
Hi,

tested it on the bench with my new testsetup (6 motors), all 6 do work now!

[2022-03-27 21:03] JBKingdon commented on #11155
@MoppelMat is there any chance you could test with the intermediate values? I'm intrigued if the spike is gradually suppressed by the slower settings or if it suddenly appears at the _very_high setting - which might suggest a chip errata.

[code]

[2022-03-27 21:05] MoppelMat commented on #11155
If you may compile something for me, sure!
If have nothing set up to build it myself atm.

[2022-03-27 21:05] haslinghuis commented on #11155
Thanks @JBKingdon was about going to ask that

[2022-03-27 21:08] JBKingdon commented on #11155
Ah, probably best if we get @Arne-W to build - I have my own fork and would probably mess up if I try and build current master. :sweat_smile:

[2022-03-27 21:41] haslinghuis commented on #11155
#define  GPIO_SPEED_FREQ_LOW         (0x00000000U)  /*!< Low speed     */

[betaflight_4.3.0_STM32H743_norevision.zip](https://github.com/betaflight/betaflight/files/8358537/betaflight_4.3.0_STM32H743_norevision.zip)

#define  GPIO_SPEED_FREQ_MEDIUM      (0x00000001U)  /*!< Medium speed  */

[betaflight_4.3.0_STM32H743_norevision.zip](https://github.com/betaflight/betaflight/files/8358540/betaflig

[2022-03-27 22:07] MoppelMat commented on #11155
![SDS2504X Plus_PNG_3](https://user-images.githubusercontent.com/55950637/160302862-56461706-0e75-4b0e-99da-6bc21bcbd5ab.png)

![SDS2504X Plus_PNG_5](https://user-images.githubusercontent.com/55950637/160302908-ae293cff-1b42-4d7d-a61d-398655d07682.png)

![SDS2504X Plus_PNG_8](https://user-images.githubusercontent.com/55950637/160302967-3fd165ae-bf4a-4a45-ac6c-17e56b87bff1.png)

[2022-03-27 22:08] hydra commented on #11155
Ahh yes, i think we've done this in the past for something else. And yes it is a good idea.  I'll refresh my memory on the electrical characteristic differnces listed in the datasheet and can check on the scope here in a day or so.

[2022-03-27 23:50] justinflipflops commented on #11155
@Arne-W nice find! thanks to everyone for all of the work involved around trying to find a solution to this.

confirmed fixed for both my stacks with this change

[2022-03-28 00:22] SteveCEvans commented on #11155
Excellent work @MoppelMat. My logic analyzer setup simply didn't see that. Sometimes only a scope will do.

![IMG_0084](https://user-images.githubusercontent.com/11480839/160307761-f7fe1ae5-0516-4656-9fbe-c39bf4b13be4.jpeg)

[2022-03-28 02:43] SpencerGraffunder commented on #11465
In case you also want to update the rate between the GNSS receiver and the FC, it can be copied from how I did it in my gps lap timer branch here.
![unknown](https://user-images.githubusercontent.com/17893168/160317565-f9cfaa7e-5168-49fe-9ae5-6909999526be.png)
https://github.com/SpencerGraffunder/betaflight/tree/gps-lap-timer

It seems like most receivers (M8N, BN220, BN880) can do up to 18.8Hz.

[2022-03-28 08:38] Arne-W commented on #11155
Nice to hear that it works! @MoppelMat Thanks a lot for the measurements and @haslinghuis for the testbuilds which show the glitch getting worse the higher the output speed settings are. Looks somehow systematical?!

According to the datasheet of STMH7xx devices when setting the speed to `GPIO_SPEED_FREQ_LOW` the pin is able to drive 12Mhz with a load of 50pF (VDD 3.6V). This should be more than e

[2022-03-28 11:01] freasy commented on #10769
The solution to this is:

`
resource SDCARD_CS 1 none
resource FLASH_CS 1 D02
set blackbox_device = SPIFLASH
set flash_spi_bus = 3
save
`

[2022-03-28 18:11] #11467 closed

[2022-03-29 10:11] haslinghuis commented on #11402
Fixed in #11429

[2022-03-29 10:11] #11402 closed

[2022-03-29 17:40] haslinghuis commented on #11452
Thanks for the update.

[2022-03-29 17:40] #11452 closed

[2022-03-30 01:41] Kevc1 opened #11496 "clracingf4 goes into DFU mode when setting set_displayport_msp_serial"
### Describe the bug

For BF 4.3 RC 3, BF constantly goes into DFU mode.
Target is clracingf4. I have an HDZero TX5S.1 VTX  and wired to tx4/rx4 on the FC.

### To Reproduce

In ports tab turned I turn on MSP for UART 4.  I
n CLI and set osd_displayport_device = MSP, save and all is ok.
Go back into CLI and set displayport_msp_serial = 3. Save.
After doing this, whenever I connect to betaflight is

[2022-03-30 19:51] mituritsyn commented on #11485
is it same as #11458 ?

[2022-03-31 05:01] TonyBlit commented on #11453
I've been looking for some info about this gps without success, all I found is the barest user manual I've ever seen. I'd need to know what ublox module this is using. However, I fear this may not be using a module manufactured by ublox.
Anyway, I've ordered one from fullspeed and it will take one or two weeks to arrive.
In the meantime, if anyone with this gps is willing to help, you can reach me

[2022-03-31 06:04] shro70 commented on #10769
Thanks. I use the MATEKF722MINI target as suggested by SergPle

[2022-03-31 11:08] mrRobot62 commented on #11496
Question: did you check this strange behavior without connecting HDZero vTX, ESC, ExpressLRS?

If not, to avoid any circumstances around an issue with vTX, or ExpressLRS or ESC please remove this external devices.

1. Start with a naked FC, if this will work, than reconnect ESC - test again -
2. connect ExpressLRS - check - if it works as design, configure ExpressLRS -> check again (reboot, ....)

[2022-04-01 00:41] #11155 closed

[2022-04-01 02:32] justinflipflops commented on #11496
I have a similar issue. Only goes into DFU when you hook up via USB? If you power via battery first it boots fine and USB communication works as expected? Different board but same VTX. If so I'm going to dig into it some tomorrow and glad I'm not the only one.

[2022-04-01 10:33] haslinghuis commented on #11426
Betaflight firmware 4,3 is using CRSF v3. TBS has confirmed there are some issues.
We did not have a problem with 3 receivers on v6.07, The issue is addressed in TBS firmware V6,17

[2022-04-01 10:33] #11426 closed

[2022-04-01 12:19] howels commented on #11155
FYI this fixes the JHEH743 AIO board, apologies for the late update.

[2022-04-01 12:21] howels commented on #11376
I have added the JHEH743 (https://github.com/betaflight/unified-targets/pull/569) and combined with the fix to lower GPIO pin speed on H7 (https://github.com/betaflight/betaflight/pull/11494) this issue is now resolved.

[2022-04-01 12:21] #11376 closed

[2022-04-01 12:53] konehead commented on #11376
This is awesome that we now have an official target! Thank you.
I'm not sure the DShot issue is fixed though?  I updated my board with the new target with a full chip erase and enabled BDshot and I still have 100% errors on motors 1 & 3.  Using Bluejay version 0.16.
Is there something else I need to do?
Thanks,

[2022-04-01 13:39] howels commented on #11376
Have you enabled bitbang? I built BF from master today and together with BlueJay (Beacon Test version, not the latest version) the latest BF code spins all 4 motors with RPM data.

[2022-04-01 17:48] konehead commented on #11376
Apologies, the first time I tried only BF RC3 release.
I just tried the latest nightly build and everything is working perfect !!!
Thank you so much for this fix.  Really appreciate your time and effort.

[2022-04-01 18:19] howels commented on #11376
Was mainly the smarter people who understood how the motor pins behave on the H7 but big thanks to everyone involved!

[2022-04-02 10:55] matyas-brenner opened #11499 "Beeper is not working with Mamba MK4 H743, BF 4.2.11"
### Describe the bug

Beeper soldered to BUZ+ and BUZ- pads doesn't beep on any trigger.

I have betaflight 4.2.11 set to beep on a switch. When i flip the switch, blue gyro led blinks as it should, so I thing that betaflight is set correctly (Beeper mode is set and turns on a flip of a switch, all the switches in beeper configuration are turned on). The buzzer doesn't beep on any of the situation

[2022-04-02 11:02] matyas-brenner opened #11502 "Diatone Mamba MK4 H743, BF Configurator 10.7.2, UART1 shows twice in Ports tab"
### Describe the bug

UART 1 is shown twice in ports tab.
Only one react to configuration changes and after some reboots everything is turned off on both of them despite the fact, that one was set as SerialRX.

### To Reproduce

Just open Ports tab.

### Expected behavior

There should be one UART1

### Configurator version

10.7.2

### Flight controller configuration

[code]

### Add any other co

[2022-04-02 12:16] #11345 closed

[2022-04-02 12:32] franz4949 commented on #10380
@wildjokerss and others
Isn't there any progress on TBS side for adding a barometric alt field to its CRSF protocol?
Same problem I now have with an ELRS Matek Vario receiver, which has a barometric VSpd but no barometric Alt. And Matek is pointing to the limitation of the CRSF protocol with missing Barometric altitude sensor field/ID.

[2022-04-02 14:44] VancouverUmbrella commented on #10380
I'm in the same boat as @franz4949 above: The inability to get barometric altitude data from Matek vario receivers greatly reduces their usefulness for me. The same restriction applies to Matek CRSF-PWM converters.

Support at Matek informed me that, "I have seen CRSF V3 support Baro ALT, but ELRS and EDGETX don't support CRSF V3".

Can anyone at TBS comment on whether there's a resolution in sigh

[2022-04-02 16:55] Maxis666 commented on #11155
I fly today , whith workin bidir on on mamba h743 bmi270 , i use freq medium.

Flying perfect. Big thanks.

[2022-04-02 17:34] haslinghuis commented on #11409
Fixed in #11472

[2022-04-02 17:34] #11409 closed

[2022-04-02 18:27] haslinghuis commented on #11491
We are continuous updating firmware, please test with version below to see if the issue still exists:
![image](https://user-images.githubusercontent.com/8344830/161396404-32107f41-a408-49ba-ba12-b560d0fc07d4.png)

[2022-04-02 19:05] haslinghuis commented on #9886
This issue should be resolved.

![image](https://user-images.githubusercontent.com/8344830/161397652-0a5e3dbd-bb90-4cdb-af48-0b05f4f57561.png)

[2022-04-02 19:05] #9886 closed

[2022-04-02 19:06] haslinghuis commented on #9916
Fixed in https://github.com/betaflight/unified-targets/pull/292

[2022-04-02 19:06] #9916 closed

[2022-04-02 20:07] haslinghuis commented on #11485
Another MCU so like's a more general issue, Please continue here

Duplicate of https://github.com/betaflight/betaflight/issues/11458

[2022-04-02 20:07] #11485 closed

[2022-04-02 20:22] haslinghuis commented on #11440
@SteveCEvans any idea about this resource?

![image](https://user-images.githubusercontent.com/8344830/161399722-2015ddf3-680a-4bb1-8f96-6b33ae375a4d.png)

[2022-04-02 20:26] haslinghuis commented on #10380
Also see: https://github.com/betaflight/betaflight/pull/11070

[2022-04-02 20:50] haslinghuis commented on #11484
@daleckystepan @SteveCEvans I think this is important for the use case. How much memory did this save? Do we have room to get it back?

[2022-04-02 20:51] haslinghuis commented on #11356
Duplicate of https://github.com/betaflight/betaflight/issues/11438

[2022-04-02 20:51] #11356 closed

[2022-04-02 20:58] daleckystepan commented on #11484
Enabling `USE_SERIAL_4WAY_SK_BOOTLOADER` adds more than 1.5kB FLASH on F722.

[2022-04-02 21:01] haslinghuis commented on #11385
Everybody in this room please keep testing with latest development firmware and report back please.

[2022-04-02 21:11] haslinghuis commented on #11484
Yeah this really shows the end of 512K targets. Do we have still have some space left to support this method a little longer otherwise we can close it as `unsupported target` or `too old`? Is this not needed for AM32 etc?

[2022-04-02 21:22] AndroidGX commented on #11385
OK will do, I stay you guys tuned.
Thanks

[2022-04-02 21:23] daleckystepan commented on #11484
[code]
and
[code]

It will probably fit but it is very tough - we will not be able to add something more (and maybe more important). Ont the other hand it's regression. GCC11 will help us slightly.

[2022-04-02 21:28] haslinghuis commented on #11484
🤞

[2022-04-02 21:40] haslinghuis commented on #11333
Please test with latest firmware on non-PixelOSD display hardware

[2022-04-02 21:47] #11465 closed

[2022-04-02 22:00] haslinghuis commented on #11473
Please test with latest development firmware and report back.

[2022-04-02 22:15] haslinghuis commented on #10769
@freasy let's do it

[2022-04-02 23:53] haslinghuis commented on #11233
@Martivip please test again with latest development firmware and report back

[2022-04-02 23:57] haslinghuis commented on #11338
Please test with latest development firmware if issue still persists as it should be resolved.

[2022-04-02 23:59] haslinghuis commented on #11260
@corrado-c please check with latest development firmware available. (Don't forget to update configurator nightly first)

[2022-04-03 02:05] CMartin249 commented on #11233
I applied build 2662. Still having issues. ELRS VTX Admin feature does not get saved after changing the channel. This issue and #11448 appear to be related. A comment on that thread indicates saves are currently disabled on ELRS SPI due to disconnect issues.

[2022-04-03 05:03] KarateBrot commented on #11260
hi, but can I do some other tests?

In the new Betaflight Discord Server, channel `#roles`, you can subscribe as a `@Testers` to get news when something needs testing.

[2022-04-03 10:16] Martivip commented on #11233
@haslinghuis with Dev. build no. 2662 still unfortunately don't work via
**OSD :** when changing a channel from R1 to R2 I see in the googles that something going's on but after second or two it comes back to previously set R1. Another weird thing is if I repower FC after that above change, then I confirm in the googles  that channel is set to R2 but for few seconds is restores to R1 so definitely

[2022-04-03 10:18] Martivip commented on #11438
@SteveCEvans after installation BF build no. 2662 sill I facing the same issues :

I have two setups, one based on Ghost RC Link with STM32F745 (KakuteF7) target and one with ELRS RC Link together with BETAFPVF4SX1280 (ELRS SPI receiver on board) tagret.

for ELRS Setup ACC trim rol and ich adjustments made via OSD are saved in FC is OK minor issue is that not always visual beeper is persented in

[2022-04-03 15:42] tn2009 commented on #11473
Test latest development firmware and same. Communication with the receiver is constantly falling off.

[2022-04-03 16:48] uralm1 commented on #11499
Can you test it with
[code]
in cli? Mamba MK4 H743 config had this settings wrong, I got buzzer to life on 4.3rc3. Btw, it seems we should use at least latest master branch version for the H743 FC.

[2022-04-03 17:31] matyas-brenner commented on #11499
Thank you @uralm1.
after setting
[code]
beeper started to work.
`set beeper_frequency=0` was on by default. The two mentioned settings are changed.

I'm leaving this open, so that the values are set as default for Mamba MK4 H743.

[2022-04-03 20:05] haslinghuis commented on #6595
FPVFreerider Recharged works great here with Taranis X9D+ ACCST on Windows 10

https://itch.io/profile/haslinghuis.

[2022-04-03 20:05] #6595 closed

[2022-04-04 02:30] ctzsnooze commented on #11486
Can't reproduce with Configurator on my Mac, able to save as many times as I like without anything crashing.  F722 latest firmware, nightly Configurator.

[2022-04-04 02:35] ctzsnooze commented on #11482
We need to think about what should be in rateProfiles, what should be in Profiles, and what doesn't need to be in either.

This is a discussion for 4.4, not 4.3.

It's really hard to get any clear consensus, we have tried, so in the end someone will need to make a PR and propose, in it, whatever they want and why.

RateProfiles cost more memory than Profiles which cost more than not in either.  So

[2022-04-04 20:17] tn2009 commented on #11473
This my dump:

#

# dump

# version
# Betaflight / STM32F405 (S405) 4.3.0 Feb  1 2022 / 20:13:01 (3267f0417) MSP API: 1.44
# config: manufacturer_id: MTKS, board_name: MATEKF405CTR, version: b020e572, date: 2022-01-16T20:04:31Z

# start the command batch
batch start

board_name MATEKF405CTR
manufacturer_id MTKS

# name: -

# resources
resource BEEPER 1 C13
resource MOTOR 1 C06
resource MOTOR 2 C07

[2022-04-04 20:25] haslinghuis commented on #11473
Please replace dump with diff as it's TL:'DR

[2022-04-04 21:48] #11486 closed

[2022-04-04 22:47] mrRobot62 commented on #11486
will check this in collaboration with haslinghuis on my mac with some different FCs too (all F4 ;-) )

[2022-04-05 06:49] tn2009 commented on #11473
i update comment

[2022-04-05 11:15] sstteevvee commented on #11499
Thanks for the settings to use! I can confirm that on my Mamba MK4 H743 (firmware from the manufacturer was v4.3.0? dated 1 Nov 2021) I had success as well: beeper_inversion=on and beeper_od=off got the beeper to work.

For anyone else troubleshooting their setup: I also found that I had to have my particular model of beeper plugged in the right way around (polarity matters), and to have the batte

[2022-04-05 19:59] #11499 closed

[2022-04-06 06:39] trnnwnnhe commented on #11491
Tried #2663   firmware, it looks like problem is fixed.

[2022-04-06 06:58] trnnwnnhe commented on #11491
Firmware #2659 and later not have discribed bug.

[2022-04-06 15:00] joshuadavidson opened #11503 "Allow smaller/custom `blackbox_sample_rates` in 4.3"
### Is your feature request related to a problem? Please describe

Prior to 4.3 users were able to set custom black box logging rates via the `blackbox_rate_num` and `blackbox_rate_denom` settings. It appears as though [this PR](https://github.com/betaflight/betaflight/pull/9803) removed this customization in favor of a simpler,  fixed set of rates (1/1 - 1/16) via the new `blackbox_sample_rate`.

[2022-04-06 19:08] hydra commented on #11333
For those following, the fix is likely this:

https://github.com/betaflight/betaflight/pull/11459#pullrequestreview-931825788

For now I'm testing on hardware which is more likely to be affected by the issue that was fixed due to the clock-speed of the system, which on the H7RF is 520Mhz.

[2022-04-07 00:10] Sarge7527 opened #11505 "ELRS Passthrough Not Working on RC4"
### Describe the bug

ELRS firmware will build but not flash using Betaflight Passthrough feature.  Reverting back to RC3 solves the issue.

### To Reproduce

Tried several times, but flashing fails.

### Expected behavior

Flashing through passthrough working.

### Flight controller configuration

[code]
[code]

### Flight controller

Aikon F7 Mini

### Other components

_No response_

### How ar

[2022-04-07 06:42] AndroidGX commented on #11385
Hey, forgot to report back but I did tried with latest development firmware 3 days ago (before RC4) andI feel like there is much less latency, but still a bit so I still can't really freestyle with logging in 4kHz, but I feel the improvement.
I wll try with latest RC4 and report back soon 👍

[2022-04-07 17:11] thujones opened #11506 "Kakute H7 Mini 4.3-RC4 locks up when performing certain actions"
### Describe the bug

When using Betaflight 4.3-RC4, Flight controller appears to lockup after saving most configuration settings. Flash pattern appears to be 4/5 rapid flashes followed by 5 or so slow flashes. Non responsive until power cycled.

Note, however, settings that were applied do appear to stick

### To Reproduce

- Backed up 4.3-RC3 config via diff
- Full chip erase and flash with 4.3-

[2022-04-07 18:02] haslinghuis commented on #11506
Yes confirm - sometimes it works all the time other times there is no port detected after the reboot took place.

![image](https://user-images.githubusercontent.com/8344830/162267331-ac4774e9-c658-474b-ab9e-57e2713f82f2.png)

In this case Windows gives the following warning:

![image](https://user-images.githubusercontent.com/8344830/162267072-29829b55-2f73-449c-8938-2719faa01e31.png)

See also: h

[2022-04-07 18:38] thujones commented on #11506
Ahh, much appreciated. Ill keep an eye on that. Thanks!

[2022-04-07 19:43] jlhartley commented on #9886
Just to confirm after all this time, amazingly it is 4.3.0-RC4 that finally seems to resolve this issue (at least on the bench). I was following #11155 closely but I thought it was just a new issue with 4.3 that might not solve my problem. I could never make bidirectional DSHOT work with 4.2 or 4.1 with my SPRACINGH7EXTREME, even after trying F0 and F3 MCU based ESCs.

For future reference, if the

[2022-04-07 19:46] haslinghuis commented on #9886
Yes seems to have been a long road: https://github.com/bitdump/BLHeli/issues/410

[2022-04-07 20:15] hydra commented on #11333
The fix to the scheduler (https://github.com/betaflight/betaflight/pull/11459#pullrequestreview-931825788) appears to be the cause, I've not seen the task stall after about 12 hours of monitoring today.  I will continue to monitor it and will update this issue after I'm satisfied it's no-longer occurring.

[2022-04-07 20:22] hydra commented on #9886
@jlhartley yes, the H7EXTREME was the first H7 board to ship and we worked out the DSHOT non-BITBANG (DPWM) issues and found bugs in BlHeli that have been fixed.  The issue in #11155 applied to BITBANG DShot only, which might be the default in 4.3.0-RC4 for the H7EXTREME where it would have been DPWM for 4.1.

Please can you confirm the dshot variant (DPWM or BITBANG) that you used for your test t

[2022-04-07 20:29] hydra commented on #11338
@blockfeed Please test with https://github.com/spracing/betaflight/releases/tag/spracing-20220406-2041 which is rebased on `master` and includes a critical scheduler bug fix from #11459 and report back.

[2022-04-07 20:37] hydra commented on #11333
Typical!  Just a few minutes after writing my last comment I see it's stalled again...  Still something causing the issue!

[2022-04-07 21:33] hydra commented on #11333
The uptime is now: 14456 and the task has resumed by itself again.

@SteveCEvans Given that the scheduler eventually resumes the osd task, under what conditions would you expect a high anticipatedExecutionTime, which will never change due to the task not running, to cause the scheduler to resume the task?

[2022-04-07 22:12] PaulFPV commented on #11482
Thanks ctzsnooze for telling us about this problem.

To help me understand better:

By memory cost do you mean the eeprom because Rate profiles use more memory because they are 6, while PID profiles are just 3? .....Or RAM usage because rate profiles are always ready to be selected while another PID profile is just loaded with an fc reboot?

[2022-04-07 22:58] haslinghuis commented on #11505
Curious if `show all serial devices` in options tab in configurator 10.8 RC4 will make it work?

[2022-04-08 01:07] jlhartley commented on #9886
@hydra setting `set dshot_bitbang = OFF` results in 100% errors for all motors

![image](https://user-images.githubusercontent.com/15346663/162337990-2e2fdafd-72a4-4385-a7be-aff174a403c8.png)

whereas explicitly setting `set dshot_bitbang = ON` or leaving it on the default of AUTO works perfectly

![image](https://user-images.githubusercontent.com/15346663/162338406-4bc0d67d-5b5f-4fdb-91bf-3fb74ff

[2022-04-08 13:53] Bwsbmw opened #11507 "RC3 to RC4 Buzzer now activates 10-20seconds after arming, did not do it on RC3."
### Describe the bug

VIFLY Buzzer Beeps unexpectedly after arming. Updated from 4.3 RC3 to 4.3 RC4. Saved diff all to Notepad++, Flashed 4.3 RC4 on FuryF4OSD, and TalonF7DJI. Pasted in my diff all for those respective quads, saved. I compared the RC3 Dump, Diff, Diff All, vs. RC4 Dump Diff, Diff All. Both Match, but upon arming. The Vifly buzzer beeps quickly i believe 5 times, then slowly 3 time

[2022-04-08 21:34] AndroidGX commented on #11385
Ok finally tested in RC4 (in one of my two yet quads) and guess what ? problem finally gone !
No more issue while recording in 4kHz in GYRO_SCALED and dshot600 (8k/8k) ! 👍
What a very good news! very happy
I will try tomorrow in my second quad just to confirm but I feel confident.

Do someone else in this room did tried RC4 and please report if also resolved from you sides ?
'laters

[2022-04-08 23:52] haslinghuis commented on #11488
Also is an issue on 4.2.11

[2022-04-09 00:32] haslinghuis commented on #11385
Fixed in RC4

[2022-04-09 00:32] #11385 closed

[2022-04-09 00:41] haslinghuis commented on #11507
Please try: [betaflight_4.3.0_FURYF4OSD_2fd2e8eca.zip](https://github.com/betaflight/betaflight/files/8455911/betaflight_4.3.0_FURYF4OSD_2fd2e8eca.zip)

Also please try without:
[code]

[2022-04-09 04:05] dukevah opened #11508 "Firmware 4.3 RC4 doesn't detect GPS in HGLRC F411"
### Describe the bug

I have a working setup with ```BF 4.2.9``` and ```configurator 10.7.2``` 1. It detects the gps without any issues. Once I flash ```BF 4.3 RC4``` (using ```configurator 10.8.0RC4```), it doesn't detect the GPS. I follow exactly the same setting in both scenarios.

FC: ```HGLRC 16x16 FD411```
GPS: ```HGLRC M80```
I use ```UART 1``` for the setup (it is not a soft serial)

Thank

[2022-04-09 13:09] Martivip commented on #11438
for the BF 4.3 RC4 the same status as above

[2022-04-09 17:10] dezignhero opened #11510 "Firmware 4.3 RC4 Cannot exit turtle mode in HGLRC F722"
### Describe the bug

After flashing to RC4, I have to arm/disarm 2-3 times to get out of turtle mode.  This is a deal-breaker for races when we need to get back up in the air immediately.

### To Reproduce

Fly for a bit and land.  Enter OSD menu and change some settings.  Save & Exit.  Now attempt to turtle mode.
 You'll find you can't exit and rearm to acro mode immediately.  I have to arm/disa

[2022-04-09 17:13] dezignhero opened #11511 "Firmware 4.3 RC4 Motors Beep Multiple Times When Navigating OSD Menu in HGLRC F722"
### Describe the bug

The motors (set as buzzer) will beep when exiting the OSD menu when using Save & Exit (not Save & Restart!).  This did not occur for me on RC3.  Sometimes the motors will also beep when jumping in and out of menus on the OSD but not consistent as exiting.

### To Reproduce

Fly, land, enter OSD, fiddle with settings, select Save & Exit.  Get single motor beep (buzzer).

### E

[2022-04-09 17:18] dezignhero opened #11512 "Firmware 4.3 RC3 Some OSD Elements Disappears After Arming in HGLRC F722"
### Describe the bug

Sporadic bug but my OSD elements will occasionally disappear with the exception of display_name.  I have a switch the toggles some OSD elements off when armed for simplicity, however the ones that should stay for all OSD profiles disappear sometimes on RC3.  This happened maybe 2/10 flights on two different drones on RC3.

### To Reproduce

Using my diff, apply the OSD profil

[2022-04-09 17:22] tn2009 commented on #11473
On BF 4.3 RC4 same issue!!!

[2022-04-09 21:32] haslinghuis commented on #11473
Please test https://github.com/betaflight/betaflight/pull/11509

You can find the firmware here: https://dev.azure.com/Betaflight/Betaflight%20Nightlies/_build/results?buildId=6235&view=artifacts&pathAsName=false&type=publishedArtifacts

Select or detect your board in configurator in firmware flasher tab first (wait for it to load) and use the Load firmware local to select the downloaded STM32F405

[2022-04-09 21:34] haslinghuis commented on #11473
Please test with:
https://dev.azure.com/Betaflight/Betaflight%20Nightlies/_build/results?buildId=6235&view=artifacts&pathAsName=false&type=publishedArtifacts

Select or detect your board in firmware flasher tab and use load firmware local button to select STM32F405 from the download.

[2022-04-10 06:59] tn2009 commented on #11473
Installed about a minute later, the quadcopter began to beep. On OSD it is written "Rescue_SW"

Turning off and on the equipment does not help. Only disconnecting from the power supply of the quadcopter.

[2022-04-10 18:21] JAL513 opened #11514 "dshot_bitbang = off disables RPM Filter on FLYWOOF411"
### Describe the bug

set dshot_bitbang = OFF disables bidirectional dshot on FLYWOOF411.  BF 4.3 RC4 flashed through 10.8 RC4.

### To Reproduce

enable bidirectional dshot and then set dshot_bitbang = OFF, go back and check bidirectional dshot

### Expected behavior

CRAZYBEEF4DX does not disable bidirectional dshot when turning off dshot_bitbang.  I was expecting similar behavior, but don't kno

[2022-04-10 19:40] JAL513 commented on #11514
Not why or how it would impact things, but LQ of ELRS was very unstable with a new antenna.  At 500mw I was seeing LQ down in the 80s on the other side of my house.  Just incase it is relevant.

[2022-04-10 21:58] haslinghuis commented on #11514
Short analysis: difference here is gyro using dma or not. Status shows `Gyros detected: gyro 1 locked dma` in second case.

[2022-04-10 22:01] spanciu commented on #11487
I've been searching and trying out so many LED strips (mostly WS2812b), thinking that they are busted or that I did something wrong. This issue occurs to me as well, the only thing is that I cannot get any LEDs to light up at all.

[2022-04-10 22:37] haslinghuis commented on #11473
`Rescue_SW` indicates the rescue switch is in an unsafe position.
Please see this article for explanation of the beeping pattern: https://oscarliang.com/quad-arming-issue-fix/

[2022-04-10 23:08] haslinghuis commented on #11508
Please check:

![image](https://user-images.githubusercontent.com/8344830/162643822-2819e439-a876-4095-9ec3-b9117be3d51c.png)

And the next build for comparison.

[2022-04-11 01:59] dukevah commented on #11508
@haslinghuis can you elaborate on what you mean? is that a fix submitted as a part of that built? should I reinstall the firmware?

[2022-04-11 05:53] tn2009 commented on #11473
The switch is as it should be :) I repeat on 4.2.11 there are no problems. The problem is in firmware 4.3. I have a return home configured in case of disconnection with the receiver. I don't start the quadrocopter engines. I turn on the equipment, turn on the quadcopter. The equipment is connected to the quadrocopter receiver. I wait for about a minute and the signal breaks.

[2022-04-11 08:12] miromir237 commented on #11453
My Matek M8Q-5883 is also not working on Zeus HGLRC F722 board.

[2022-04-11 16:47] Remleyfpv opened #11516 "Mamba h743 forgets config and goes into DFU"
### Describe the bug

On bF 4.3 RC4 my h743 mamba FC randomly forgets its whole config and sometimes when i try to connect to it it is in DFU mode. And no the bootloader button is not pressed:)

### To Reproduce

I gues flash bf rc4 to mamba h743 fc. My build has HDzero in it and Elrs (IDk if that has something to do with it)

### Expected behavior

keep config and dont go in to DFU  mode unwanted

[2022-04-11 21:40] haslinghuis commented on #11438
Please test https://github.com/betaflight/betaflight/pull/11509

[2022-04-11 22:54] klutvott123 commented on #11487
Probably caused by https://github.com/betaflight/unified-targets/pull/462 where motor 3 was moved to dma 1 stream 2 which was used by LED_STRIP

[2022-04-11 23:06] klutvott123 commented on #11514
try `set dshot_burst = off`

[2022-04-11 23:12] klutvott123 commented on #11512
Can you try RC4, please

[2022-04-11 23:20] klutvott123 commented on #11455
Could be related to the CRSF V3 baud negotiation. We have disabled it in RC4 while we're working on fixing it with TBS. Could you try it and report back please?

[2022-04-12 00:46] limonspb opened #11517 "FrSky SPI D8 - significant range reduction starting from PR #11380"
### Describe the bug

Master branch starting from build # 2644 (PR https://github.com/betaflight/betaflight/pull/11380) has a significant range reduction for FRSKY SPI receiver with D8 protocol (FRSKY_D)
We got a report of that in Discord, then in Slack by another guy.
I was able to reproduce it with my whoop as well and narrowed it down to this PR:
https://github.com/betaflight/betaflight/pull/11

[2022-04-12 03:31] zxol commented on #7597
Due to the ambiguity of the interaction between the throttle curve and 3D mode, I think this should be tagged as a bug.  There is a safety concern for unintended take off on arm if the user has a throttle curve that will produce upward thrust when the throttle is within the deadband.  Any curve setting where midpoint is > 0.5 and expo > 0.1 can potentially cause this.

[2022-04-12 12:53] ltwin8 opened #11518 "iFlight Beast H7 V2 no SPI-Flash (BMI270 version)"
### Describe the bug

SPI-Flash chip not discovered. checked against older V1 board, here the flash is accessible for logging

### To Reproduce

fast RC4 IFLIGHT_H743_AIO_V2

### Expected behavior

dropdown on blackbox tab should let me select the onboard flash

### Flight controller configuration

[code]
[code]

### Flight controller

Flight Beast H7 55A V2 BMI270 version

### Other components

n

[2022-04-12 12:56] ltwin8 commented on #11518
Winbound 25Q128 seems to be build in (16MByte) did not find that defined in target.h of the FC

[2022-04-12 19:25] haslinghuis commented on #11518
Please test with:
[betaflight_4.3.0_STM32H743_norevision.zip](https://github.com/betaflight/betaflight/files/8475911/betaflight_4.3.0_STM32H743_norevision.zip)

First select or detect your board and then use local firmware button to choose the download to flash.

[2022-04-12 19:28] ltwin8 commented on #11518
Thank you, could you tell me what’s the difference?
I would like to know and understand the issue

[2022-04-12 19:32] PaulFPV commented on #8458
I think binding from CLI is a good idea (for example the button on your Nano diversity doesn't work, like mine in this moment).

Adding this feature is something already done in the TBS side or is a work for both TBS and Betaflight developers?

[2022-04-12 19:52] haslinghuis commented on #11518
Added line to /home/mark/dev/betaflight/betaflight/src/main/target/STM32_UNIFIED/target.h
[code]

[2022-04-12 20:11] haslinghuis commented on #11518
Can you look at the board which version is being used. I have one with 25Q128J / 25Q128JV.
This include only covers the 25Q128FV driver as we don't have drivers for the other variants of this chip in our code base.

[2022-04-12 20:14] ltwin8 commented on #11518
25Q128JVPQ it is I think

[2022-04-12 20:18] ltwin8 commented on #11518
tried your *.hex, sadly no success
[Bildschirmfoto 2022-04-12 um 22.17.55.zip](https://github.com/betaflight/betaflight/files/8476285/Bildschirmfoto.2022-04-12.um.22.17.55.zip)

screenshot attached

[2022-04-12 20:21] haslinghuis commented on #11518
Yes just failed test on Holybro Kakute H7 mini as it seems we need a new driver for this chip.

[2022-04-12 20:28] ltwin8 commented on #11518
i do not exactly know if it worked with the manufacturers firmware (some 4.3.0) I have a second quad with this board, but bought not at the same time (so maybe some quiet change?) there the flash is working its not upgraded yet

[2022-04-12 20:30] ltwin8 commented on #11518
works now! added

#define USE_FLASH_W25Q128FV

to betaflight-master/src/main/target/IFLIGHT_H743_AIO_V2/target.h

[2022-04-12 20:32] haslinghuis commented on #11518
Was assuming it was using STM32H743 unfied target, so it didn't :ok_hand:

[2022-04-12 20:34] ltwin8 commented on #11518
strange it did not.

created a fork and will pull-request it

[2022-04-12 21:11] haslinghuis commented on #8458
Don't know if there is any status on this but do agree.

Having one nano missing the boot button. Have to replace it as I need to do a recovery. Another nano is buried in the quad and the sixty9 has the boot button at the underside of the board, not using the casing on a 20x20 it's hard to press the button - using tweezers it just like eating Japanese food :grin:

[2022-04-12 21:31] klutvott123 commented on #11516
Did it happen on RC3? Did you do a full chip erase?

[2022-04-12 21:46] haslinghuis commented on #11518
@ltwin8 Thanks. Please report `resource show all` with the fix applied as I want to have a look at:
[code]

[2022-04-12 21:47] SteveCEvans commented on #11517
@KarateBrot The microwave trick is one I use a lot. Very effective.

@limonspb Testing using a CRAZYBEEF4R with both 4.2.11 and current master 642689dfc723c5c76adc75bdfaa218f60554ce44 I'm seeing no difference. Both links are stable until I shut the microwave door.

Does anybody have both a MATEKF411RX and a CRAZYBEEF4R to compare the two?

[2022-04-12 21:53] Remleyfpv commented on #11516
I did indeed not do a full chip erase when on rc3 flash to rc4 but since i have so that wasnt it.
It also did not happen on rc3 btw and tommorw will try flashing rc3 to see if that at least works

[2022-04-12 22:21] limonspb commented on #11517
On latest master my link is also stable till I get far or unscrew antenna. The link is not totally messed up just way smaller range.

[2022-04-12 22:50] SteveCEvans commented on #11517
Using the EdgeTx RANGE function (next to BIND in the first model settings page) I see RSSI drop to 0 with master, but not with 4.2.11. Something to chase now...

[2022-04-12 23:05] limonspb commented on #11517
@KarateBrot , @SteveCEvans just told me about the range check function in Edge TX LOL. It sits next to the bind button in the model settings. It reduces the range/power and i am able to reproduce the behavior with this one too.

[2022-04-13 00:29] Seedytim commented on #11516
I had same issue with matek h743 slim board  I had to reflash firmware to get it to work again

[2022-04-13 07:29] Remleyfpv commented on #11516
i will try reflashing :)

[2022-04-13 14:15] GregorPotrebujes commented on #11367
Just posting this message in order to keep the thread alive...
So have anyone experimented with this flag?
![image](https://user-images.githubusercontent.com/97458571/163200590-e86050e4-55fe-4678-bb7b-498a27f91b43.png)

[2022-04-13 14:31] klutvott123 commented on #11367
Please provide diff and the other requested information in the first post. Which BF version is this? Does it work with other versions?
Is it just the beep that doesn't occur? Does the GPS get a fix?

[2022-04-13 15:11] klutvott123 commented on #11438
I just tested with crossfire and ghost and it works. I don't have a beeper or OSD so I can't comment on that.
@Martivip ACC trim stick commands only works in angle or horizon mode. Is your ghost setup in one of these modes?

[2022-04-13 15:30] klutvott123 commented on #11367
Looks like that READY_BEEP hasn't been implemented in the gps code 🙂

[2022-04-13 18:00] dakoellis opened #11520 "Firmware 4.3 RC4 SmartAudio Intermittent Connection - Mamba F722 MK2"
### Describe the bug

This seems to be an issue introduced in 4.3, as I have no issues with SmartAudio in 4.2.11 (using the same backup file).  When connecting to Betaflight Configurator and going to the video transmitter tab, A vast majority of the time I get VTX Type: SmartAudio Unknown and Device Ready: No. in the past 3 days while troubleshooting, I've seen VTX Type: SmartAudio 2.1 and Device

[2022-04-13 19:14] klutvott123 commented on #11367
@GregorPotrebujes Could you please try this? https://github.com/betaflight/betaflight/pull/11521
It will play the ready beep when the gps gets a fix.

Relabeling this as a BUG

[2022-04-13 20:00] klutvott123 commented on #11392
@miguelwon Could you try this? https://github.com/klutvott123/betaflight/tree/fix-bmi160-driver
I don't have the hardware to test, but here's a STM32F411 binary with bmi160 driver included. bmi270 driver is removed to make it fit in flash.
[betaflight_4.3.0_STM32F411_bmi160.zip](https://github.com/betaflight/betaflight/files/8484321/betaflight_4.3.0_STM32F411_bmi160.zip)

[2022-04-13 22:22] klutvott123 commented on #11511
save and exit will do a write to flash which takes a while and with the new failsafe code in RC4 this can trigger a rx loss. should be better with https://github.com/betaflight/betaflight/pull/11509

[2022-04-13 22:25] klutvott123 commented on #11511
If you could try the latest development build and report back, that would be great. You don't have to fly it. Just test the OSD menu and see if it still beeps.

[2022-04-13 22:32] SteveCEvans commented on #11517
Spent some time bisecting between 4.2.11 and master, and the change is indeed at
[code]

[2022-04-14 11:49] miguelwon commented on #11392
I couldn't make it work. Tried to compile from your branch and I got the following error:

[code]

I have these definitions in `target.h`:

[code]

[2022-04-14 12:08] klutvott123 commented on #11392
I assume you have made a legacy target for your board. The unified STM32F411 with bmi160 driver included compiles just fine here in ubuntu on windows 10. Which clang version are you using? For Betaflight we're using version 10 I believe

[2022-04-14 12:56] dezignhero commented on #11512
@klutvott123 Haven't experienced this issue on RC4 yet but I encountered others so I had to reflash back to RC3.  I'll do more testing on RC5 once it's out and close this out if I don't experience it again.

[2022-04-14 12:58] klutvott123 commented on #11511
@dezignhero I just tested it myself and still get the RX_LOST beep when saving to flash. In RC5 the time it takes for rx loss to trigger is 100ms while in BF 4.2 it's 200ms. The time it takes to write the config to flash is roughly 200ms so this explains why it didn't do this before.

[2022-04-14 13:01] dezignhero commented on #11511
Thanks for the update!  Grrrr was really hoping RC5 would fix the issue.  I know it's not official release but generally I assume release candidates would imply a certain level of stability as opposed to development builds.  The last two RC4/RC5 have been rushed quite quickly compared to say the prior release candidates :(

[2022-04-14 13:11] klutvott123 commented on #11511
I'll look into it. I don't consider it to be a safety issue as writing to flash isn't allowed when armed, but it's annoying for sure and will leave people wondering what's going on. I believe the reason for this not being discovered by those doing the failsafe testing is that the craft has to be armed at least once since boot for this beep to activate when rx loss occurs and I suspect writing to f

[2022-04-14 13:16] dezignhero commented on #11511
Thanks @klutvott123 !  This got me thinking but I think these two might be related - https://github.com/betaflight/betaflight/issues/11510

Essentially if I try to turtle mode after saving & exiting OSD menu in RC4, I can't get out of turtle mode and the drone is unresponsive.  My guess is it might be failsafe related too.

[2022-04-14 13:40] miguelwon commented on #11392
Ok, the unified STM32F411 with bmi160 compiled. Even so, I'm not able to make it work. Sorry. Is not working with INAV either so perhaps is related to my hardware.

[2022-04-14 13:58] klutvott123 commented on #11511
Could you please try this? https://github.com/betaflight/betaflight/pull/11524

[2022-04-14 16:45] Martivip commented on #11438
@haslinghuis yes I confirm Acc calibration and trims works, the only issue is that Visual Beeper is not properly displayed in OSD, most of the time is not displayed at all :)

[2022-04-14 21:32] haslinghuis commented on #11438
This PR da0a42aed was solving the visual beeper in 4.3: https://github.com/betaflight/betaflight/pull/11359

For further investigation, the code is a little confusing as visual_beeper is also used for ledstrip.
So we are looking at `osd_warn_visual_beeper` not `ledstrip_visual_beeper`.

[2022-04-14 21:34] SteveCEvans commented on #11517
Actually, whilst it got a bit worse with that commit, even the commit before is a lot worse than 4.2.11.

With 4.2.11 when I got into range check mode the `rxSpiExtiHandler()` starts to get called a bit sporadically.

![image](https://user-images.githubusercontent.com/11480839/163480408-347ae999-01ec-4f61-81a6-bbb86019597d.png)

But with master, once in range check mode there is an interrupt, but

[2022-04-14 21:41] #11511 closed

[2022-04-14 23:21] haslinghuis commented on #11137
Please check with latest firmware / configurator

[2022-04-14 23:46] ctzsnooze commented on #11502
Is this only for the MK4 H743 ?

[2022-04-15 00:17] ctzsnooze commented on #11506
may be fixed in master - please test - by https://github.com/betaflight/betaflight/pull/11524

[2022-04-15 00:22] ctzsnooze commented on #11473
Please re-test with current master, if you have time.

[2022-04-15 00:28] ctzsnooze commented on #11455
Please test with current master.

[2022-04-15 00:49] ctzsnooze commented on #11438
I tested on an F722 and found that with stick-banging I can change the acc trim, the LED flashes, but the 'visual beeper' does not 'flash' in the OSD at the same time.

[2022-04-15 00:52] ctzsnooze commented on #11417
@howels Please re-test with master.
If fixed, please close this issue.

[2022-04-15 00:55] ctzsnooze commented on #11334
@hydra please confirm if this issue is still active in current master?
If not, maybe make a PR to address it?

[2022-04-15 01:05] ctzsnooze commented on #11416
@Hellfire82 please advise if this issue is fixed in current master and latest Configurator.

[2022-04-15 01:08] klutvott123 commented on #11438
The issue could be that showVisualBeeper is both set and reset before it's rendered.
https://github.com/betaflight/betaflight/blob/21c8d67e9545c9cee2de619ec0e19838de6eb57b/src/main/osd/osd.c#L1207-L1209

[2022-04-15 02:27] DusKing1 commented on #11137
ok I will try to arrange some tests for this

[2022-04-15 05:08] tn2009 commented on #11473
I'll check the new firmware.
Just two days ago, I checked that GPS was disabled, and the time of returning home was set to attack in case of signal loss. I just turned on the equipment and connected the battery to the quadcopter. I didn't start the engines. And literally after 2 minutes, the quadcopter lost contact and somehow started the engines itself!!!! And if I were testing on the street with

[2022-04-15 07:09] Hellfire82 commented on #11416
@ctzsnooze, @haslinghuis I am currently using configurator RC4 & I am still experiencing the same issues that I last mentioned on February 14th.
After my last comment, I was unable to find this thread for some reason (like it had been closed), so I couldn't provide any more feedback.

[2022-04-15 07:45] hydra commented on #11334
@ctzsnooze confirmed it's still an issue in master.  Yes, I can make a PR to address it. I'm currently unwell and haven't been able to work on any of my PRs recently.

[2022-04-15 07:46] #11417 closed

[2022-04-15 07:47] howels commented on #11417
issue was closed with RC4

[2022-04-15 08:10] AlexandreBonneau commented on #10936
I just got hit with this bug. And as an fpv noob, I think this case must happen pretty often;
I got a new quad, and instead of trying some rates, landing it, unplugging everything, plugging it in betaflight-configurator, change the rate, re-plug it, rinse and repeat, I used the rate profile switch to test 3 different ones at once.

Well, the stats are not saved indeed.

What's weird to me is that

[2022-04-15 09:19] tn2009 commented on #11473
I tested latest dev version 15.04.2022. The same thing. The quadcopter is constantly losing communication. Only disconnecting and connecting the battery helps.

[2022-04-15 11:52] howels commented on #10825
This should be closed, the creation of the new JHE F405 PRO AIO target resolved this issue.

[2022-04-15 12:07] #10825 closed

[2022-04-15 15:02] tn2009 commented on #11473
So I tested the latest firmware again. On mobula 6 crazybeef4fs, the connection doesn't seem to be lost anymore. Nice!

As for the Matek F405CTR, what is the problem I found. I have an AI6B receiver and IBUS telemetry is enabled on the first port. Because of this, the connection is constantly lost. If I turn off IBUS telemetry, then everything seems to be fine with the connection and the problem d

[2022-04-15 15:26] pzencar opened #11527 "4.3RC4 ELRS cannot regain control after failsafe (GPS rescue) because stick input is not registering therefore stick treshold cannot be reached"
### Describe the bug

## Problem description

When failsafe occurs and GPS rescue failsafe is set, during GPS rescue when connection is reestablished (RSSI and LQ values are back active), it is impossible to regain control no matter what I do. I found out (by adding stick overlay to OSD) that this is because when connection is back, no stick movement registers and therefore stick treshold cannot b

[2022-04-15 15:28] haslinghuis commented on #11527
Please try RC5

[2022-04-15 15:52] haslinghuis commented on #11416
Confirm issue is intermittent and still present. Still looks as USB driver or firmware issue.

[2022-04-15 16:13] klutvott123 commented on #11473
I see. Looks like telemetry for IBUS is handled in the rx task. when telemetry is sent this would probably cause the task to take longer than expected to run

[2022-04-15 16:14] pzencar commented on #11527
@haslinghuis Hm, RC5 does the same regarding sticks not registering, but whats worse, instead of `!FS!` mode, the quad goes to `ANGLE` mode when controller is disconnected and cant do anything when controller is back on. This means that the GPS rescue would not work if I tried to test in flight and I am not sure what it would do.

Beeper beeps when controller is disconnected and stops beeping when

[2022-04-15 16:26] klutvott123 commented on #11473
@tn2009 Could you try this, please?
[betaflight_4.3.0_STM32F405_norevision (2).zip](https://github.com/betaflight/betaflight/files/8496947/betaflight_4.3.0_STM32F405_norevision.2.zip)

[2022-04-15 16:54] haslinghuis commented on #11527
@ctzsnooze

[2022-04-15 17:06] haslinghuis commented on #11260
Please test with RC5

[2022-04-15 17:11] haslinghuis commented on #10769
Fixed in: https://github.com/betaflight/unified-targets/pull/582

[2022-04-15 17:11] #10769 closed

[2022-04-15 17:31] klutvott123 commented on #11473
Looking at your diffs, it looks like you're using 1 wire communication. The port config looks a little strange.
I believe it should be
[code]
The difference when disabling telemetry output in the ports tab as you described is that it will not be using a shared port anymore for rx and telemetry. I bet if you look at the configuration tab you'll find that TELEMERTY is enabled. Try disabling it.
Can

[2022-04-15 17:39] dantiel opened #11528 "adding new output system"
### Is your feature request related to a problem? Please describe

Hi Guys,
I need some programming help diving into the Betaflight codebase, theres a lot of code I understand only partially yet, but I for my project I want to introduce a new output system and I dont know how to tackle that. similar to bicopter or plane configuration I want to mix servo with motor output, but actually I want to ma

[2022-04-15 18:18] tn2009 commented on #11473
Same

[2022-04-15 18:21] tn2009 commented on #11473
receiver ia6b one IBUS wire is connected to RX2 the second wire is connected to TX1.
it only works when telemetry is enabled in the configuration and there is an IBUS on the first port.

[2022-04-15 19:20] klutvott123 commented on #11473
Reproduced. sort of. I'm using a flight controller with the rx/telemetry config just as yours with no receiver connected and it freezes on boot. In RC1 it works and RC2 freezes, so something went wrong there. I'll try narrowing it down further

[2022-04-15 19:36] matyas-brenner commented on #11502
I can't tell if it does happen only for MK4 H743.
It definitely doesn't happen for MAMBA APP F722 MK1.

[2022-04-15 19:59] haslinghuis commented on #11502
You might want to try out [RC5](https://github.com/betaflight/betaflight/releases/tag/4.3.0-RC5)

[2022-04-15 20:40] haslinghuis commented on #11199
@SteveCEvans please check my attempt to fix it in https://github.com/betaflight/betaflight/issues/11199

[2022-04-15 21:21] klutvott123 commented on #11473
I have done some bisecting between RC1 and RC2 and this is the first bad commit it says https://github.com/betaflight/betaflight/commit/9bdf9c11e9cfc3c14c1efe3409c829f6a538b700

I have further narrowed it down to a call to `rescheduleTask` here https://github.com/betaflight/betaflight/blob/9360ab1276c8b8b4307e4baebfbe8014032819c1/src/main/telemetry/ibus.c#L139

[2022-04-15 21:41] klutvott123 commented on #11473
The issue after the commit I referred to is that  `tasks` is now uninitialized until `tasksInit()` runs at the end of `init()`. Everything else is initialized before that, including telemetry. In the check state function for IBUS there's the call to `rescheduleTask` which goes wrong since the tasks array hasn't been initialized yet.

[2022-04-15 21:49] klutvott123 commented on #11473
@tn2009 Hopefully this will work. Could you try it, please?
[betaflight_4.3.0_STM32F405_norevision (3).zip](https://github.com/betaflight/betaflight/files/8498382/betaflight_4.3.0_STM32F405_norevision.3.zip)

[2022-04-15 22:49] Hellfire82 commented on #11416
@haslinghuis I am now using BF configurator RC5 & can confirm that all of the aforementioned issues are still present. There is nothing intermittent about this as all of the issues happen every time.
Correct me if I'm wrong, but if it was a USB driver issue, then I would have the same issues with BF configurator 10.7.2 (which worked perfectly when it was installed).
One thing I noticed with RC5 is

[2022-04-15 22:57] haslinghuis commented on #11416
Yes RC is a production build, only nightlies have the console.

Looking at related issues here:

- https://github.com/betaflight/betaflight/issues/11506
- https://github.com/betaflight/betaflight/issues/11416
- https://github.com/betaflight/betaflight/issues/11157

[2022-04-16 06:12] limonspb commented on #11306
@haslinghuis  can we add some special tag so that the bot does not close it?

[2022-04-16 07:41] tn2009 commented on #11473
Finally!!! Fixed!
Within 10 minutes, there was not a single break in communication. Please add this fix to the main firmware of BF 4.3 RC5. Thank you very much!

[2022-04-16 08:10] pzencar commented on #11527
@haslinghuis @ctzsnooze Rolled back to RC3 and everything works correctly. Upon controller turn off , it goes to GPS rescue failsafe and when controller is back on, the stick movement registers in OSD and I recover the control once I reach set stick threshold.

[2022-04-16 09:17] haslinghuis commented on #11527
@pzencar please try https://github.com/betaflight/betaflight/pull/11530

[2022-04-16 09:30] pzencar commented on #11527
@haslinghuis Can you please provide the FW files to load prior to flashing or elaborate how to flash it ? Have not tried to use any PR firmware before.

[2022-04-16 09:33] haslinghuis commented on #11527
11530: https://dev.azure.com/Betaflight/Betaflight%20Nightlies/_build/results?buildId=6277&view=artifacts&pathAsName=false&type=publishedArtifacts

11531: https://dev.azure.com/Betaflight/Betaflight%20Nightlies/_build/results?buildId=6278&view=artifacts&pathAsName=false&type=publishedArtifacts

[2022-04-16 09:53] pzencar commented on #11527
Thank you, 11530 seems to be working correctly on the bench without props! Thanks for the quick response guys, gonna try in flight today also. Only difference is that `mode` OSD field now displays `RESC` instead of `!FS!` when in GPS rescue failsafe, but failsafe warning is being displayed and functionally everything is correct so not sure if intended, just letting you know.

Should I also try the

[2022-04-16 10:03] haslinghuis commented on #11527
Yes please it seems an alternative to 11530 (so a bench test of 11531 is appreciated).

Also 11532 (build on top of 11531) seems to deal with the !FS!: https://dev.azure.com/Betaflight/Betaflight%20Nightlies/_build/results?buildId=6281&view=artifacts&pathAsName=false&type=publishedArtifacts

[2022-04-16 10:18] pzencar commented on #11527
11532 works the same way as 11530 from what I tested. Same `RESC` mode is displayed instead of `!FS!`.

However 11532 keeps beeping even when everything is connected and ARMed and not sure why, only changes I made was plug a fresh battery and turn off RC smoothing.

[2022-04-16 11:17] ctzsnooze commented on #11527
Flight mode should be RESC when the quad is in GPS Rescue mode. That’s the correct behaviour of the flight mode field.

You should also see RXLOSS during the Stage 1 period.

Can I clarify that you were able to successfully restore control by restoring the link during a true signal failure GPS Return?

[2022-04-16 11:22] ctzsnooze commented on #11527
Mode display will say !FS! only after drop or during and after Stage 2 Landing mode.

[2022-04-16 11:54] klutvott123 commented on #11473
@tn2009 Great, thanks for testing!
I'll get a PR up to address this soon

[2022-04-16 13:56] pzencar commented on #11527
@ctzsnooze Yes, just came back from flying (FW PR #11532)  and GPS rescue failsafe was used 7+ times both by turning off the controller and also naturally by signal loss due to range. Everytime regaining control worked like it's supposed to, control was regained after I moved the sticks the specified amount.

[2022-04-16 14:27] klutvott123 commented on #11473
PR to fix this is up https://github.com/betaflight/betaflight/pull/11533

[2022-04-16 14:57] klutvott123 commented on #11506
@thujones which compass is that module using? Can you try setting mag_hardware manually in cli to the compass that's on the module?

[2022-04-16 15:33] diogo-f commented on #11073
I'm having this problem and tried messing with partition file systems and solve it for now I think. The board I'm using is the  HBRO/KAKUTEF7(STM32F745).

I had to format with this tool [MiniTool Partition Wizard Free](https://www.partitionwizard.com/free-partition-manager.html), somehow windows format tool settings breaks compatibility with betaflight. Might be the allocation size but I choose de

[2022-04-16 15:41] #11473 closed

[2022-04-16 15:53] klutvott123 commented on #11520
@dakoellis DId it work on earlier 4.3 RC versions?

[2022-04-16 17:10] dakoellis commented on #11520
I just checked on RC1 and RC2 (and RC5 just for kicks) and no not working on any of those.  It's a new FC for me and the first I've tried 4.3 on

[2022-04-16 18:18] joshuabardwell opened #11535 "RXLOSS during flight triggers five+three beep code"
### Describe the bug

I've gotten two separate reports this morning of people flying either RC4 or RC5 (not able to verify which) where during flight they got a RXLOSS warning and the FC made the five+three beep code. Example: https://youtu.be/mwUJhmp30Hk

### To Reproduce

Be flying. Get RXLOSS during flight. Have a buzzer wired up.

### Expected behavior

Arming Prevention beep codes indicate wh

[2022-04-16 18:18] joshuabardwell commented on #11535
Since I know RXLOSS warning has been re-worked in the latest RC's I wanted to pass this back as I think it may be related. Sorry I don't have more information about the specifics.

[2022-04-16 21:12] #11527 closed

[2022-04-16 21:21] klutvott123 commented on #11438
At the slow rate the OSD task is running at there's no guarantee that we will catch the case where isBeeperOn() == true.
It would probably work if the beeper code set the visual beeper too. then reset it once rendered.

[2022-04-16 21:34] klutvott123 commented on #11438
@Martivip Could you try this, please?
[betaflight_4.3.0_STM32F745_norevision (2).zip](https://github.com/betaflight/betaflight/files/8500683/betaflight_4.3.0_STM32F745_norevision.2.zip)

[2022-04-16 21:45] klutvott123 commented on #11286
Just tested it with RC5 and it works fine. are you using the latest configurator?

[2022-04-16 21:55] #11286 closed

[2022-04-16 23:17] haslinghuis commented on #11510
Please test with latest development build or RC5

[2022-04-16 23:50] haslinghuis commented on #11535
Please use development build to verify.
Also https://github.com/betaflight/betaflight/pull/11532 might relax the issue here.

[2022-04-16 23:51] #11367 closed

[2022-04-17 01:34] ctzsnooze commented on #11527
@pzencar thank you so much for your careful testing.  I’m very grateful - and relieved.
I’d also appreciate feedback on 11532 if you could.

[2022-04-17 07:05] klutvott123 commented on #11484
If we were to include this again, we would only have to remove something else. I'm sure manufacturers and firmware developers can include it and compile on their own

[2022-04-17 07:52] klutvott123 commented on #10763
@Zuldan is this still an issue? If so try:
[code]

[2022-04-17 08:34] Martivip commented on #11438
@klutvott123 no still no visual beeper in OSD

[2022-04-17 10:01] SteveCEvans commented on #11517
@MJ666 You're the expert on this code; any insight would be most appreciated.

[2022-04-17 10:03] Martivip commented on #11438
@klutvott123 precisely speaking to sometimes it has been rendered but really rarely, most of the time not at all

[2022-04-17 10:23] SteveCEvans commented on #11517
I've tried reverting the following files to the 4.2.11 versions and that didn't help.

[code]

[2022-04-17 10:25] limonspb commented on #11517
But the PR https://github.com/betaflight/betaflight/pull/11380 did not change any of these files.
This PR is where the problem became real bad, didn't it?

[2022-04-17 10:34] SteveCEvans commented on #11517
Let me go back and compare AGAIN. I wasn't getting a clear night/day difference with PR https://github.com/betaflight/betaflight/pull/11380, but from 4.2.11 to master it really does make a difference.

[2022-04-17 11:06] SteveCEvans commented on #11517
OK, now getting consistent results with #11380.

A bodge fix for this is the below, reverting the call to `rxUpdateCheck()` to the RX checker routine. Now I'm onto something.

[code]

[2022-04-17 11:20] klutvott123 commented on #11438
@Martivip Thanks for testing. We'll have to look into this. It's a bit hard to test as I don't have VTX equipment so I can't actually see the OSD

[2022-04-17 17:13] klutvott123 commented on #11438
All right, I think this should work. It uses a latching approach. This lets the beeper set `showVisualBeeper` and it is only reset once the "****" has been drawn and the beeper is off.
[betaflight_4.3.0_STM32F745_norevision (3).zip](https://github.com/betaflight/betaflight/files/8502083/betaflight_4.3.0_STM32F745_norevision.3.zip)

@Martivip Could you try it, pelase?

[2022-04-17 17:31] Martivip commented on #11438
@klutvott123 Hi Ok it works, but sometimes when I applying ie. one step of ACC trim (direction it doesn't matter), instead of one blink "****" it blinks randomly couple of times two or three.

[2022-04-17 17:38] MJ666 commented on #11517
Will see what i can do. Normally im not flying D8 mode anymore since D16 was working well with latest code. Likely since #11380 is not changing any of the FRSky code D16 may also be affected. I did not upgrade any off my FRSky SPI based copters recently and i'm mostly an LOS flyer i would not even detect the range issue? If #11536 does not fix the problem i can take a look. There is also an SPI co

[2022-04-17 19:09] klutvott123 commented on #11438
Is this after bringing throttle back to zero?

[2022-04-17 19:11] Martivip commented on #11438
No just after Acc trim command before throttle low

[2022-04-17 19:17] Martivip commented on #11438
when I applying Acc trim command sometimes Visual beeper is randomly rendered twice and yes I know that throttle low will trigger visual beeper once again :)

[2022-04-17 19:34] Martivip commented on #11438
In general this one extra visual beeper render can mislead the operator that he made an increment by two steps instead of one. We need to keep in mind that visual beeper is mostly used without real beeper and that's why the visual beeper should be rendered only once per one increment step :)

[2022-04-17 20:45] jfrowies commented on #11535
I was one of the people that asked Joshua about the problem.

I can confirm that for me it was consistently happening in RC4 and I can also confirm it's fixed in RC5.

Flight controller
SucceX-E F4 V2.2 Flight Controller

Other components
SucceX-E 45A 2-6S BLHeli_S Dshot600 4-in-1 ESC
Caddx vista
ELRS receiver

I have now successfully tested that I don't hear the beeps anymore in any situations. I

[2022-04-17 20:50] klutvott123 commented on #11438
@Martivip I agree, the extra beep is not desired behaviour. I made some changes that hopefully will work
[betaflight_4.3.0_STM32F745_norevision (4).zip](https://github.com/betaflight/betaflight/files/8502412/betaflight_4.3.0_STM32F745_norevision.4.zip)

Thanks for helping testing this. Much appreiated. I really need to get some equipment so I can test this kind of stuff myself

[2022-04-17 21:17] Blue-RR commented on #11286
Sorry, forgot to update this. Correct, this issue can be closed. It works fine from RC3 on wards.

[2022-04-17 22:18] haslinghuis commented on #11535
Fixed in RC5

[2022-04-17 22:19] haslinghuis commented on #11535
Fixed in RC5

[2022-04-17 22:19] #11535 closed

[2022-04-17 23:13] #11073 closed

[2022-04-18 06:39] David-OConnor commented on #11479
Not stale

[2022-04-18 06:50] #11479 closed

[2022-04-18 06:51] blckmn commented on #11479
Merged.

[2022-04-18 07:26] pzencar commented on #11527
@ctzsnooze Ofcourse, rather thank you guys for quick response and great work you doing on this awesome project :)

[2022-04-18 08:19] Martivip commented on #11438
@klutvott123 Hi ok it works as it should right now, perfect !

one more thing, not related to this bug but maybe you can make a quick look, I'm notice that one Acc Trim increment (one beep real or visual beeper) is 2 value increments from the configurator perspective
<img width="312" alt="Zrzut ekranu 2022-04-18 o 10 10 29" src="https://user-images.githubusercontent.com/72009313/163778851-86bb18fb

[2022-04-18 12:55] klutvott123 commented on #11438
PR to fix this is up https://github.com/betaflight/betaflight/pull/11538

@Martivip Looks like the steps of two is hardcoded. Changes would have to be made to firmware and configurator. We'll have to investigate why it's like this before doing anything. Because this is not a bug, changing it would have to wait until BF 4.4. But I agree, it seems a little strange. https://github.com/betaflight/beta

[2022-04-18 13:08] Martivip commented on #11438
@klutvott123 Thank you very much for taking your time for this visual beeper issue :)
And I agree those hard coded increments should be reviewed, definitely to put in BF future releasses backlog.

[2022-04-18 13:40] klutvott123 commented on #11507
Does it still do it with RC5?

[2022-04-18 18:57] Martivip commented on #11438
@klutvott123 are you sure that steps of two are also hardcoded in configurator ? I'm asking because in configurator we are able to perform increments by one step not two

[2022-04-18 19:18] klutvott123 commented on #11438
Just checked and your right. It's just when doing the adjustment with stick commands

[2022-04-18 19:25] Martivip commented on #11438
@klutvott123 so I'm not pushing :) if you find some spare time then maybe you will be able to create quick PR for that

[2022-04-18 19:34] klutvott123 commented on #11438
I can do it, but it will still be for 4.4 🙂

[2022-04-18 19:35] Bwsbmw commented on #11507
I just tried RC5 on 2 different quads. One being the FuryF4OSD target. Put rxfail 5 back to default on both quads. Buzzer is no longer beeping after takeoff on either quad, and is working properly.

[2022-04-18 19:45] #11507 closed

[2022-04-18 21:32] haslinghuis commented on #11438
Issue will be closed automatically upon merging the fixing PR.

[2022-04-19 05:59] DusKing1 commented on #11137
Dshot works normally now.

But I found that OSD still have some problem.

[2022-04-19 05:59] #11137 closed

[2022-04-19 06:04] DusKing1 opened #11539 "[G4] OSD causes firmware lockup"
### Describe the bug

No matter which CPU clock is, when enable `OSD` feature via configurator or CLI, the FC will lockup after save and reboot

### To Reproduce

Flash latest G4 firmware (nightly build), enable OSD, then FC will lockup.

### Expected behavior

FC won't lockup and OSD can be used normally.

### Flight controller configuration

[code]

[code]

### Flight controller

AirFleetG4 dev

[2022-04-19 06:52] klutvott123 commented on #11539
Did it work in the previous nightly build?

[2022-04-19 06:53] DusKing1 commented on #11539
It worked before the SPI DMA

[2022-04-19 06:56] klutvott123 commented on #11539
this one https://github.com/betaflight/betaflight/pull/10909 ?

[2022-04-19 06:57] DusKing1 commented on #11539
Maybe much earlier than that.. I can't remember it exactly.

[2022-04-19 08:04] xsnoopy commented on #11310
Rotorflight is what you need. First release candidate is coming soon. Join the discord server, very active community.

[2022-04-19 17:41] Martivip commented on #11438
please do, but I don't understand why it must wait for 4.4  😑, the is not a new feature this is discrepancy removal between firmware and configurator 😄 that has been found.

[2022-04-19 19:59] pkarc commented on #11306
This sound interesting, now days using cinelifters and expensive cinema cameras, this would be pretty nice!

[2022-04-20 13:58] UglyBabyGaming commented on #11453
Target board: FLYWOOF745
board_name FLYWOOF722EVO???
are you sure you got the right target?

[2022-04-20 14:10] UglyBabyGaming commented on #9124
using throttle position could be an option for turtle or tree just like the 3d mode throttle down = reversed motors ; Turtle mode and full throttle could do Tree mode spinning motors in correct direction while using the turtle function

[2022-04-20 14:35] hugonaneix commented on #11453
that's a typo, the board name is FLYWOOF745AIO

[2022-04-20 19:53] #11438 closed

[2022-04-20 19:56] #11518 closed

[2022-04-20 20:14] haslinghuis commented on #11448
Please check with latest development build

[2022-04-20 22:03] haslinghuis commented on #11438
@Martivip please open a new issue report so we can assign it.

[2022-04-20 23:31] bike797 commented on #11448
I think. This bug may related with below code.
please check it.

https://github.com/betaflight/betaflight/blob/d08ab1c6e8dd40e390b4a38e5d1dddfe7e24a022/src/main/rx/expresslrs_telemetry.c#L293-L297

[2022-04-20 23:34] klutvott123 commented on #11448
Yes, that's the code that prevents the the eeprom write command from being handled. I'm currently working on a possible solution for it.

[2022-04-21 01:41] KenImhof opened #11544 "Function To Determine if Quad is Inverted"
### Is your feature request related to a problem? Please describe

I would like to implement 3d horizon mode to self-level when inverted, but need to determine if quad is upside-down.

### Describe the solution you'd like

Does BetaFlight have a function similar to iNAV to determine if upside-down.  The iNAV function is:

/*-----------------------------------------------------------
 * Detects if

[2022-04-21 05:47] hickscorp commented on #11206
Isn't it because `SET_HOMEPOINT_ONCE` is set?

[2022-04-21 08:09] Martivip opened #11547 "ACC Trim sticks input discrepancy in BF 4.3 RC5 firmware vs configurator"
### Describe the bug

I'm noticed that one Acc Trim command increment done by sticks command are 2 value increments from the configurator perspective. From configurator perspective there is possibility to perform the ACC trim increments by one single step.

I think that discrepancy stick commands vs configurator should be removed, via one ACC trim increment performed via stick command should be do

[2022-04-21 08:11] Martivip commented on #11438
@haslinghuis Done, Thank You

[2022-04-21 20:24] ArrasPilot opened #11548 "Very high CPU load when Flash Mamba F722 APP to 4.3"
### Describe the bug

Hello, use FC Mamba F722 APP (MAMBA F722 IC2). When I want to upgrade my Fc to version 4.3, the cpu load rises to 35% with I2C errors. If any preset is applied, the CPU load rises to 60% ..... (It heats up quite a bit). It does it to me with any version of 4.3...
Also, if I try motors one by one, everything goes well, but if I arm motors with the controller (TS16 with LRSExpr

[2022-04-21 20:26] haslinghuis commented on #11548
Please edit your comment to include the  `diff` and `resource show all` as requested when opening the issue.

[2022-04-21 21:39] haslinghuis commented on #11488
Duplicate of https://github.com/betaflight/betaflight/issues/11440

[2022-04-21 21:39] #11488 closed

[2022-04-21 22:50] SteveCEvans commented on #11440
The KAKUTEH7MINI FLASH device is reporting an ID of 0xEF3016 which we don't currently support. The fact that I get that far means the config is correct. Now trying to figure out what that device is.

The KAKUTEH7 FLASH device is not responding at all, so that may be more of a challenge.

[2022-04-21 23:01] SteveCEvans commented on #11440
I've faked the same config in the FLASH detection as a W25Q128 and I can write and read BB logs, but I need to confirm the FLASH geometry before raising a PR.

[2022-04-21 23:08] klutvott123 commented on #10144
This is probably because the cms initialization was moved so it wasn't initialized at the time when telemetry tried registering a disaplyport. This has been fixed and it should work in 4.3. Could you guys try it and report back, please?

[2022-04-21 23:13] SteveCEvans commented on #11440
Stripped off the con-coat and the mystery is revealed...
![IMG_0316](https://user-images.githubusercontent.com/11480839/164565965-90b5a695-3b98-4ccb-bd6d-52f2bce88812.jpeg)

[2022-04-21 23:13] klutvott123 commented on #8430
Fixed in https://github.com/betaflight/betaflight/issues/10220

[2022-04-21 23:14] #8430 closed

[2022-04-21 23:21] klutvott123 commented on #5588
previously the lua scripts would just set the time once and didn't care if it succeeded or not. The rtc routine has been improved in the new lua scripts so that it will keep trying to set the rtc until it gets a response from the FC that lets it know it succeeded so it should work with the latest lua version.

[2022-04-21 23:21] #5588 closed

[2022-04-21 23:34] SteveCEvans commented on #11440
I'm seeing four copies of each log. The device is behaving like a 32Mbit device, and the device ID ending in 16 suggests that is the case. Treating this as if the ID is 0xEF4016 gives a 4Mbyte FLASH that works as expected. Query of the device ID with Winbond technical support...

[2022-04-21 23:38] haslinghuis commented on #11440
🤯 Including https://github.com/betaflight/betaflight/pull/11537 did not solve it.

[2022-04-21 23:43] SteveCEvans commented on #11440
Try this image.

[betaflight_4.3.0_STM32H743_norevision.hex.zip](https://github.com/betaflight/betaflight/files/8535716/betaflight_4.3.0_STM32H743_norevision.hex.zip)

[2022-04-21 23:44] SteveCEvans commented on #11440
`flash_info` has been tweaked to dump the device ID. Let me know what yours reports.

[2022-04-21 23:52] haslinghuis commented on #11440
The hex solved the problem:

[code]

Still configurator thinks it has an SDCard though.

[2022-04-22 01:13] SteveCEvans commented on #11440
Oh dear. the FLASH is a W25X32, marked as a W25Q128.

https://www.winbond.com/resource-files/w25x32a_revb_080709.pdf#page14

[2022-04-22 01:45] #11517 closed

[2022-04-22 06:57] klutvott123 commented on #11544
ìsUpright` may be what you want

[2022-04-22 12:07] KarateBrot commented on #11440
@JPOVPhoto Bad news... this is not a firmware issue. Your onboard flash chip is not what it is supposed to be.

[2022-04-22 17:24] tn2009 opened #11551 "High CPU usage BF 4.3 tested by Crazybeef4fs and Matek F405ctr"
### Describe the bug

BF 4.3 (50%) has too much CPU usage compared to BF 4.2.11 (12%). The difference can be seen in the screenshots.
Tested by Crazybeef4fs and Matek F405ctr

Screenshots https://drive.google.com/drive/folders/1FuDME3pMiL_WcemTDsqJTkfdh-KLhpqr

### To Reproduce

Flashing BF 4.3

### Expected behavior

The CPU load should be as in BF 4.2.11

### Flight controller configuration

# d

[2022-04-22 17:27] klutvott123 commented on #11551
The way cpu usage is calculated was changed in 4.3. What you're seeing is normal

[2022-04-22 17:31] daleckystepan commented on #11551
Please read https://github.com/betaflight/betaflight/wiki/4.3-Tuning-Notes especially 8)

[2022-04-22 17:32] haslinghuis commented on #11551
![image](https://user-images.githubusercontent.com/8344830/164765203-c9f51ffd-a754-4fc9-953c-40f5d607220f.png)

[2022-04-22 17:39] haslinghuis commented on #11548
Please read: https://github.com/betaflight/betaflight/wiki/4.3-Tuning-Notes#betaflight-43-introduction

![image](https://user-images.githubusercontent.com/8344830/164766097-53600496-c2a5-446c-ad02-9d67a8a60a86.png)

[2022-04-22 17:39] #11548 closed

[2022-04-22 17:40] haslinghuis commented on #11551
Closing as duplicate of https://github.com/betaflight/betaflight/issues/11548

[2022-04-22 17:40] #11551 closed

[2022-04-22 17:41] KenImhof commented on #11544
That is great!!!!!

Thanks for your help.

[2022-04-22 17:41] #11544 closed

[2022-04-22 17:42] KenImhof commented on #11544
Thanks for your help and quick response!!!!!

[2022-04-23 01:47] Zuldan commented on #10763
@klutvott123 apologies for the delay. I got some time to test those settings today on the latest master image 22/04.

Tried the following combinations but the receiver is still not working.

set serialrx_inverted = OFF
set serialrx_halfduplex = OFF

set serialrx_inverted = ON
set serialrx_halfduplex = ON

set serialrx_inverted = OFF
set serialrx_halfduplex = ON

set serialrx_inverted = ON
set seri

[2022-04-23 08:18] klutvott123 commented on #10763
@Zuldan the diff you posted last shows no serial port configured like in the diff in the first post

[2022-04-23 08:52] Zuldan commented on #10763
The UART2 was configured for serial by default when I flashed it today. I’m guessing that’s why it’s not showing in the diff.

[2022-04-23 22:09] klutvott123 commented on #11334
If the options to reboot to bootloader in flash or rom had been added in addition to just regular reboot to default bootloader this wouldn't have been an issue.
The simple solution to  would be to add the missing code in the configurator to make the button reboot to bootloader in flash if one exists, and change the default behaviour of `bl` in cli

[2022-04-23 22:16] klutvott123 commented on #11334
I made a PR for discussion https://github.com/betaflight/betaflight-configurator/pull/2904

[2022-04-23 22:24] meoso opened #11553 "4.3 (2fd2e8eca) OSD PID Tuning D-Term modifies D_Max , not D"
### Describe the bug
OSD PID-Tuning D-Term modifies D_Max , not D.
[code]

### To Reproduce

OSD>PID>modify D, save/reboot.  D-Max is changed, not D

### Expected behavior

change Derivative, not D-Max

### Flight controller configuration

[code]
[code]

### Flight controller

BETAFPVF4SX1280

### Other components

_No response_

### How are the different components wired up

_No response_

### Ad

[2022-04-23 22:26] klutvott123 commented on #11553
D is now D max

[2022-04-23 22:51] klutvott123 commented on #11334
Logic in cli looks sound to me. It will use the bootloader in flash if available and no arguments are given https://github.com/betaflight/betaflight/blob/a0ed6b0f1d1c8eb022d4c789089e0fc5ff6c6a5f/src/main/cli/cli.c#L3568-L3592

[2022-04-24 02:09] #11334 closed

[2022-04-24 04:18] vincentpoont2 commented on #11440
Vince with Holybro here.

After the first production cycle, we found that there were a small percentage of the flash on the KakuteH7 Mini being W25X32, but marked as a W25Q128 (what it supposed to have). We immediately checked all our inventory and done reworked at that time, but now it looks like there may be a very small quantity of board with the W25X32 flash that was already shipped. All our K

[2022-04-24 04:33] KenImhof commented on #11510
If this problem still exists, it may be related to the isUpright(void) function always returning true.  I have validated the problem in both RC1 and the latest master branch on my Flywoo F411 as this function always returns true even if the quad is inverted. I have also tested the equivalent function in Betaflight 4.1-Maintenance and it functions correctly.   I am unable to further trace the probl

[2022-04-24 10:45] klutvott123 commented on #11510
@KenImhof I just tested here and it works. You have to set maximum arm angle to something less than 180 in the configuration tab. I'm not sure if the default for this value has changed. It may have been something different in bf 4.1

[2022-04-24 12:04] KenImhof commented on #11510
@klutvott123 good catch.  That was it.  I typically set the arming angle to 180 so I can arm in any position.  It is now working with an arming angle of 165 or less.
Thanks!!!!!

[2022-04-24 12:10] #11510 closed

[2022-04-24 13:11] randyyBro commented on #11286
Hello, Everyone. Sorry out of topic

Anyone have dump file.tx cli for jhemcu ghf13aio? My FC is No Gyro Issue after update firmware and forgot to backup my last firmware. If anyone have, may i have it?

[2022-04-24 15:02] #11553 closed

[2022-04-24 17:01] howels opened #11554 "Discussion of MSP abstraction for DJI OSD"
### Is your feature request related to a problem? Please describe

I am recording a conversation from discord. This is not a personal request but an attempt to record a discussion to aid discussion in the longer term and avoid chat topics being lost and needlessly repeated.
Many of the developers are familiar with the problems relating to DJI OSD, as laid on in the PR https://github.com/betaflight

[2022-04-24 20:51] bakwc commented on #11554
As a BF and DJI user who experienced **several crashes** because of missed warnings, I strongly disagree with the prior decision.

Current "hack":
 - Doesn't break any existing functionality
 - Has a low maintanance cost
 - Has no impact on arhitecture

I haven't seen any real argument why this should not be included in a BF. All arguments sounds like "this should be done on a DJI side" and "this

[2022-04-24 23:12] #11440 closed

[2022-04-25 00:35] Wy1c commented on #11520
I have the same FC and mine flys fine for 30 sec then shoots straight up and yaws by itself,  tried RC3 and 5 ?

[2022-04-25 00:38] klutvott123 commented on #11520
@Wy1c Could you open an issue for that and provide the requested iformation when doing so?

[2022-04-25 01:11] haslinghuis commented on #11455
Fixed in [4.3 RC6](https://github.com/betaflight/betaflight/releases/tag/4.3.0-RC6).

[2022-04-25 01:11] #11455 closed

[2022-04-25 13:26] PSi86 opened #11557 "Disable telemetry output while serial passthrough is active"
### Is your feature request related to a problem? Please describe

Telemetry output of the FC currently interferes with RX pass-through flashing leading to failed flashing attempts or even corrupted firmware on the RX. This happens especially with ESP based receivers, like ELRS is using but could potentially happen with every device.

### Describe the solution you'd like

Whenever serial pass-thro

[2022-04-25 22:20] haslinghuis commented on #11496
Any updates? Please check RC6

[2022-04-25 22:34] Kevc1 commented on #11496
Sorry, been too busy building, flying and running races now that GQ season is underway. When I get a chance I'll try RC6

[2022-04-26 14:30] ALFJAVIVI opened #11560 "problems with SPI FR"
### Describe the bug

With RC4, RC5 and RC6 RC problems with Spi Fr.
Rxloxx in Rc4 and RC5 at distances of 10 to 15m and with RC6 the distance is about 25m for an hour with which the RC works best is in RC3.
The FC is a crazybeex FR versions v1 and v2

### To Reproduce

that the rc signal is coo in 4.3 Rc3

### Expected behavior

that the range of the RC signal is coo Rc3

### Flight controller co

[2022-04-26 16:26] daleckystepan commented on #11560
Can you please send us log with RC6 firmware, debug mode set to `rx_timing`?

[2022-04-26 23:21] haslinghuis commented on #11199
@Martivip please test https://github.com/betaflight/betaflight/pull/11561

[2022-04-27 06:21] ALFJAVIVI commented on #11560
Good morning this fc crazybeex FR does not have a black box

El mar., 26 abr. 2022 18:26, Štěpán Dalecký ***@***.***>
escribió:

[2022-04-27 14:32] paulfrmn74 opened #11562 "problems with crsf 6.17 and rc5 and 6 rx loss within 100yards when never had that issue with rc4"
### Describe the bug

all my gear is up to date and flying in a spot i have had no issues until rc 5 and 6 crsf  rx loss. i have even tried 1w and still would get the rssi 1 start dropping then rx loss within 100 yrds. rc4 didnt have that problem for crsf. i also use frsky r9 and r9 is fine. no failsafes. something is going on with the crsf and rc 5 and 6

### To Reproduce

just fly with crsf and

[2022-04-27 16:04] Arne-W opened #11563 "Crash after throttle punch due to enabled Antigravity in PID settings - 4.3.0 RC5"
### Describe the bug

When doing a short throttle punch while simply hovering the quad completely freaks out. The only way to stop it is disarm.
Starting and hovering works perfect. Motors are cool. I was able to reproduce even after reducing the PID Master Multiplier to 0,1.

Most settings are default except the filter settings which were adapted for the BMI270.

Blackbox logs look like this:
![S

[2022-04-27 16:09] KarateBrot commented on #11563
What do you mean by "_the filter settings which were adapted for the BMI270_"? You don't need to change anything for the BMI270 in particular if you are using RC4 or later.

[2022-04-27 16:12] Arne-W commented on #11563
like this:
![Screenshot_20220427_181206](https://user-images.githubusercontent.com/7621911/165564007-de6b8c46-8f9c-42cd-8d38-b93c44d5504c.png)

[2022-04-27 17:50] klutvott123 commented on #11562
Please provide the information that was requested when opening the issue

[2022-04-27 20:41] KarateBrot commented on #11563
Hmm... but even the file where anti gravity is turned off, setpoint and gyro are not aligned at all. Something is very off...

[2022-04-27 21:39] Arne-W commented on #11563
_"But the filter setup looks overfiltered"_ may be - as those flights were the first one with this new built quad. I tend to overfilter and undertune during the first tests just to be on the safe side. You know - do some hovering and check motor temp, do some flips and rolls and look at the logs. That is how I normally start.
The misalignment of gyro and setpoint may be caused by the PID Master Mu

[2022-04-28 04:52] #11221 closed

[2022-04-28 09:40] Martivip commented on #11199
@haslinghuis for this test purposes I should download the unified KAKUTEF7 target file , from this : https://github.com/betaflight/unified-targets/tree/master/configs/default production repository ?

[2022-04-28 10:16] haslinghuis commented on #11199
@Martivip yes, but you have to apply this little patch to the config file: https://github.com/betaflight/unified-targets/pull/586

[2022-04-28 11:55] bike797 commented on #11560
my quad(SPI FR) is the same. Short range.

[2022-04-28 11:58] daleckystepan commented on #11560
Can you please paste your `diff`?

[2022-04-28 12:04] bike797 commented on #11560
`diff `

[code]

[2022-04-28 13:24] Arne-W commented on #11563
The Antigravity feature shall boost the I-Term of the PID during throttle pumps - could it be possible that the boost is too much? Looking at the logs you can see the integral part getting into saturation without any reason:
![LookAtIterm](https://user-images.githubusercontent.com/7621911/165759709-a5865925-aca4-4ab8-b607-85269c4f1019.png)

It somehow looks like the boost is not reduced anymore...

[2022-04-28 14:43] Martivip commented on #11199
@haslinghuis sorry my mistake I mean default config file, not unified Target
Im asking because @SteveCEvans mention here: https://github.com/betaflight/betaflight/pull/11012 that F745 FC configs thus need to be updated to use :)

[2022-04-28 16:08] haslinghuis commented on #11199
@Martivip KakuteF7 target config is not affected:
https://github.com/betaflight/betaflight/pull/11012#issuecomment-1110179104

[2022-04-28 18:01] Martivip commented on #11199
@haslinghuis ok after upload artifact from https://github.com/betaflight/betaflight/pull/11561 unfortunately still ```SPI_MISO``` 4 has not been assigned to a stream and that cause status ```gyro 1 locked``` instead of ```gyro 1 locked dma```
[code]

[2022-04-28 18:13] Martivip commented on #11199
@haslinghuis ok today is not my day OK after upload artifact from https://github.com/betaflight/betaflight/pull/11561 everything is OK. ```SPI_MISO 4``` has been assigned and gyro status is ```gyro 1 locked dma```
so the issue has been resolved :)

[code]

[2022-04-28 18:16] SteveCEvans commented on #11199
@Martivip That had me sat here with a FOXEERF745AIO scratching my head wondering why you still had `DMA2 Stream 0: SPI_MISO 1` rather than `DMA2 Stream 0: SPI_MISO 4`. Glad that's now sorted!

[2022-04-28 21:49] haslinghuis commented on #11416
Upon further testing my SpeedyBee F7 V1 Mini stack does have the same issue using default configuration, but intermittent.

Using TBS 69 here without LIPO attached so it's not powered / interfering with the reboot.

With 4,2.0 firmware and a very old configurator build from 31-12-2020 had to reboot 15 times to make it fail, on 4.3 firmware it fails a little more.

[2022-04-29 07:43] #11199 closed

[2022-04-29 08:09] Bruce-surf commented on #11516
same issue in Holybro Kakute H7 with RC6

[2022-04-29 18:11] PaulFPV opened #11570 "GPS Rescue Current altitude + initial altitude summed"
I haven't personally tested it but, if I understood correctly, when GPS rescue altitude mode is set to "current altitude" if rescue is triggered the altitude will stay the same and the drone will go back to home.... to me it seems more logical to sum to the current altitude the "initial altitude value"... and then go back home... there is a good probability that while raising altitude the signal c

[2022-04-30 02:31] pitts-mo opened #11571 "cli "defaults nosave" fails with ###ERROR IN set: INVALID VALUE### on some boards"
### Describe the bug

While using betaflight 4.3.0 RC 4,5,6 and their matching configurator RCs on my HGLRC OMNIBUSF4 and GEPRCF411_AIO boards I have noticed the CLI command defaults nosave is returning:
# resetting to defaults
###ERROR IN set: INVALID VALUE###

A subsequent diff all does appear to show board settings were reverted back to defaults _however I notice the old craft name is being pre

[2022-04-30 11:08] pitts-mo commented on #11571
Using an old Revolt board for testing I found the normal REVOLT firmware does not report error on defaults nosave. However if I load OMNIBUSF4 firmware onto that Revolt the defaults nosave command does report error.

[2022-04-30 11:13] pitts-mo commented on #11571
Loading generic STM32F405 onto Revolt board and attempting defaults nosave does not report error.

Issue with some unified target setting applications?

[2022-04-30 13:35] mitcht commented on #11246
I'm using the same hardware, just built a hex from master, and i'm getting dropouts at 20 feet still.

[2022-04-30 13:46] fallingcats opened #11572 "MATEKF405CTR identifies as legacy target MATEKF405"
### Describe the bug

MATEKF405CTR identifies as legacy target MATEKF405 even on newest firmware

### To Reproduce

Flash MATEKF405CTR board with the newest firmware (4.3-RC6) for that board.
Open "Update Firmware" in BF Configurator with a MATEKF405CTR board connected, it will still select the old MATEKF405 target that isn't supported anymore.

### Expected behavior

"Update Firmware" should sele

[2022-04-30 14:39] mitcht commented on #11560
This is "me too", but I can say I've just compiled a hex using master with target CrazyBeeF4FR as of the date of this post.  I can confirm dropout at 10m when using Frsky D 8 (Moblite7). I've tried overcloxk, normal clock, dshot_bitbang = true, less filters, attempt to lower cpu usage, tried forcing FrskyX (no luck) and just about every combination of things you could think of.  No luck.  Was fine

[2022-04-30 17:05] haslinghuis commented on #11572
Did you use BFC 10.8RC6? Also detect just reads the current `board_info` on the board.

[2022-04-30 22:26] klutvott123 commented on #11448
FIx here if anyone wants to try it https://github.com/betaflight/betaflight/pull/11573

[2022-05-01 00:13] klutvott123 commented on #11233
This should solve the issue when changing vtx settings through the betaflight lua scripts at least https://github.com/betaflight/betaflight/pull/11573

[2022-05-01 10:02] daleckystepan commented on #11560
Thank you for data. I will retest with your settings.

[2022-05-01 10:20] daleckystepan commented on #11560
![Snímek obrazovky 2022-05-01 v 12 19 20](https://user-images.githubusercontent.com/36531759/166141748-777e2496-9ff7-4f45-be9e-8ed8f51ca242.png)

Look at `debug[0]` peaks. Each peak means connection issue. It is nearly unusable on D8.

[2022-05-01 15:07] pitts-mo opened #11575 "Unified targets "defaults nosave" ###ERROR IN set: INVALID VALUE### incompatibility of settings/values between Betaflight firmware versions (4.2.12 - 4.3.0-rc?)"
### Describe the bug

Some of the allowed values firmware 4.3.0-rc? settings are no longer compatible with some of the settings found within unified target configs.

Should compatibility for established values be re-added to the firmware OR should we fork unified targets and update them for use with 4.3.X?

### To Reproduce

My test case:
-Revolt board
-loaded STM32F405 Firmware

(https://github.c

[2022-05-01 15:09] pitts-mo commented on #11571
This problem appears to be changes in allowed values of firmware 4.3.0-rc? that are no longer compatible with some of the values being set by unified targets.

Created new issue #11575.

Closing issue #11571.

[2022-05-01 15:09] #11571 closed

[2022-05-01 17:30] Joerg-H-Wagner commented on #11562
Hello. This does not belong to BF. Had the same issue on one of my quads. Depending on the distance, every second. Regardless if BF RC4,5 or 6. This procedure helped in my case: Open TBS Agent X or Lite on Radio. Go to Radio Settings and set Operational Mode from "Normal" to "Force Telemetry". If your receiver looses binding (LED is still red) even the radio is powered on, go again to the Settings

[2022-05-01 19:16] ASDosjani opened #11576 "Landing on sanity check fail"
### Is your feature request related to a problem? Please describe

Dear Betaflight Team, I know that this problem was the topic was brought up in the past, but I have an idea how to solve this problem. If the drone fails to locate enought satellite it would be good not to destroy itself by dropping out of the sky.

### Describe the solution you'd like

My solution would be to use landing mode as n

[2022-05-01 19:22] haslinghuis commented on #11575
Seems we need new config files for the `max7456_clock` setting or revert the name change if it was done in 4.3
[code]

The second part looks like using the wrong target as I didn't verify which target to use but there are two REVOLT legacy targets. Not sure if they work as I don't have the board.

[2022-05-01 19:40] haslinghuis commented on #7974
Fixed in #7984

[2022-05-01 19:40] #7974 closed

[2022-05-01 21:07] Joerg-H-Wagner opened #11577 "Heavy D-Term oscillations with BF4.3 RC6 and Diatone Mamba F55 128K BL32 55A ESC"
### Describe the bug

PID and Filtering are all set to default which is
perfect for my quad up to BF4.3 RC5.
In RC6 the D-Term shows spikes up to 450deg/s in Pitch
and 63deg/s in Roll. Or in BBE: oscillations from -34% to 37%.
The motor outputs have an overlay of the D-Term.
First I thought a damage of one motor during the flight.
But all motors are driven in the same way.
- Regardless if fixed 48

[2022-05-01 23:29] pitts-mo commented on #11575
Oops, I notice the error in my alternate GEPRCF411_AIO test is wrong/different than what I see on my actual GEPRCF411_AIO board.

corrected issue description with this info:

(https://github.com/betaflight/unified-targets/blob/master/configs/default/GEPR-GEPRCF411_AIO.config)
**GEPRCF411_AIO  unified target config load in CLI results in these errors:**
# set dashboard_i2c_bus = 1
###ERROR IN set:

[2022-05-02 00:14] haslinghuis commented on #11575
Dashboard is only available on targets > 512K. So more target changes needed here.

[2022-05-02 03:07] tenzmedia commented on #10748
Not sure if this still works since the thread is closed, but I also was thinking about what the benefit is of havin air mode on constantly instead of using it like JB said it in his video? Wouldnt that be a "better" solution for whoops as well as for freestyle quads? I mean if you're flying with throttle at lets say 35%, you dont need air mode anyway right? On a whoop, it results in wall-sucking w

[2022-05-02 06:24] Professor77 commented on #11560
I have the same issue with my Hamo Crazybeef4fr
Radio is frsky x-lite on D8. Have not tried it with Frsky X or LBT.

[2022-05-02 06:34] daleckystepan commented on #11560
Please retest with X2 mode. It is still not ideal but it seems to be better.

[2022-05-02 06:47] Xenogears33 opened #11578 "Mamba Stack FC F405 MK2 not working with Mamba Flashbang SW601"
### Describe the bug

MAMBA Flash-Bang LED Board SW601 are not lighting up nor saving inn BetaFlight

### To Reproduce

Email or Instructions

### Expected behavior

Help on how to connect the LED

### Flight controller configuration

[code]

[2022-05-02 12:00] fallingcats commented on #11572
I've used the nightly `v20220428.104-1` which calls itselft 10.0.8.0-debug fa66d2

[2022-05-02 12:05] fallingcats commented on #11572
`v20220428.104-1` seems not not have this issue, thanks

[2022-05-02 12:05] #11572 closed

[2022-05-02 13:02] joeyw007 commented on #11560
This is an odd duck of an issue. I had failsafe, not range issues with the following boards after fresh installing RC3, RC4 or RC5. The CrazybeeX FR v2.2, CrazybeeX FR v1.0, Crazybee F4 Lite, CrazyF411, CrazyF411 Pro, Nanohawk, Nanohawk X, Tinyhawk II FS, Tinyhawk II Race and Tinyhawk III boards. PR 11536 was hammered out, tested and merged which fixed the failsafe issue but apparently there is st

[2022-05-02 14:18] Xenogears33 commented on #11578
The information has been added as per your request.

[2022-05-02 18:42] hydra commented on #11334
@klutvott123 confirmed that the firmware logic does appear to be correct.  I just tested `bl` with no arguments on the H7RF and it reboots to the SP Racing bootloader.  Not sure exactly when that changed.  I'll check out the configurator side of things and comment/update as appropriate.

[2022-05-02 19:56] Joerg-H-Wagner commented on #11577
[btfl_004.bbl.csv](https://github.com/betaflight/betaflight/files/8605418/btfl_004.bbl.csv)
This log is recorded with Five33 Switchback HD, Ovonic 1600mAh 120C
and T-Motor 5150 3-blade, 660g total weight.

[2022-05-02 20:42] kakashi2018 opened #11580 "Flywoo F745 HEX not working with BF 4.3"
### Describe the bug

Flywoo f745 Hex not working with flywoof745 firmware

### To Reproduce

use flywoof745 hex FC with flywoo f745 firmware on BF 4.3. In motor tab although I set it to HEX x it is showing that current firmware only support 4 motor output give configuration to support for 6 motor outputs. THis was working fine on 4.2.11 firmware

### Expected behavior

Motor output should be conf

[2022-05-02 21:56] haslinghuis commented on #11580
Duplicate of https://github.com/betaflight/betaflight/issues/11205

[2022-05-03 08:05] ALFJAVIVI commented on #11560
So I understand that from RC6 to D8 the RC problems have been solved?
At the moment I am going in RC3 and D16 and for the moment everything
is fine to one that I do notice that the RSSI of the betaflight OSD is
not very stable since it goes up and down very fast to a point where I
have not had any RXLOXX moving away more than 100 meters has never
dropped the RSSI below 35.

El lun., 2 may. 2022 15

[2022-05-03 10:32] Martivip commented on #11233
@klutvott123 ok after upload firmware from #11573
With VTX Administrator band set to OFF the VTX management works well via OSD and BF Lua script 👍
And the VTX Administrator works too but right now it causes LQ drop to zero in few seconds interval :(

Generally good job 👍 another step ahead:) it look like only the VTX Administrator need to be fixed

[2022-05-03 11:49] haslinghuis commented on #11516
Seems related to
[code]
See also: #11496

[2022-05-03 11:52] pitts-mo commented on #11575
Thank you @haslinghuis

I renamed this issue and think we should leave this open in case another setting/value causes this.

potential unified targets issues/questions:
-script to check unified target settings and values are valid in firmware source?
-maintain different branches of unified targets to maintain compatibility with betaflight versions?

[2022-05-03 12:18] haslinghuis commented on #11575
Thank you @pitts-mo for reporting.
- A script would certainly come in handy here.
- Maintaining multiple branches may be a solution for future development, but currently the impact is small.

[2022-05-03 15:10] haslinghuis commented on #11580
Duplicate of: https://github.com/betaflight/betaflight/issues/11352

[2022-05-03 15:10] #11580 closed

[2022-05-03 16:31] PaulFPV commented on #11570
In "gps_rescue.c" I found that this value: "rescueAltitudeBufferM = 15" is added to the current altitude, so, if I understand correctly there is already a 15m added to the current altitude... but it's a value not available in the configurator.

So it could be made visible in the configurator (but I think it would be confusing to have this buffer value around).. or we could do what I proposed befor

[2022-05-03 16:42] SteveCEvans commented on #11580
@haslinghuis where should this be documented? OK if I add an entry for this FC under the Boards section in the Wiki? We’re going to get this issue cropping up again and again.

[2022-05-03 16:48] haslinghuis commented on #11580
Yes let's start putting it into the wiki if this is board specific. If it's more general it should be document in a new subject in the wiki first. Later it can be decided to put it into the docs folder.

[2022-05-03 19:44] Joerg-H-Wagner commented on #11577
Downgraded to RC4, nothing else changed.
Copter was kicked 10 Meters high and I disarmed immediately. At the landing an arm broke.
[btfl_005.bbl.csv](https://github.com/betaflight/betaflight/files/8613751/btfl_005.bbl.csv)
At the bench I checked motor directions and armed without the props. Everything was correct.
I will downgrade to 4.2.11. To be a test pilot is too expensive for me.

[2022-05-03 20:22] klutvott123 commented on #11577
I can't view your log files

[2022-05-03 20:45] Joerg-H-Wagner commented on #11577
To be able to upload files I added the suffix .txt. Remove .txt after Download to open it PID Toolbox or BBE.

RC6:
[btfl_001.bbl.txt](https://github.com/betaflight/betaflight/files/8614183/btfl_001.bbl.txt)

RC4:
[btfl_001.bbl.txt](https://github.com/betaflight/betaflight/files/8614187/btfl_001.bbl.txt)

[2022-05-03 21:42] joeyw007 commented on #11560
I ran debug mode on RX_TIMING and got this but I'm not having any issues at all
![Capture](https://user-images.githubusercontent.com/2248099/166571245-534ee4d2-24a5-4bc8-86d5-56dd178dbff0.JPG)
.

[2022-05-03 22:20] mitcht commented on #11560
Just how far should range for a CrazyBeeF4FR quad?  I was seeing 15-20m tops on two separate boards.  I just installed rc6 on one of them last night.  If 20m is "what to be expected"... well...

[2022-05-04 02:39] joeyw007 commented on #11560
I’m not sure exactly what the deal is. I was getting regular failsafes after RC3 in RC4 and RC5 on the CrazybeeX FR v2.2, Crazybee F4 Lite and the NanohawkX MatekF411 board. I mentioned it in Slack and one of the Devs was able to recreate the issue repeatably and said he found an issue. He went to work on some code, see PR11536. What he did fixed the failsafe issues for me. I’m assuming others mus

[2022-05-04 02:49] mitcht commented on #11560
I have even built master with the CrazyBeeF4FR target.  Same thing happens.

[2022-05-04 02:57] joeyw007 commented on #11560
Oh and to answer your question about range. Running RC6 with my radio in range test mode I’m getting 1 meter more consistently over RC3 or 4.2.11. The distance while the radio is in range test mode is around 15m and that’s through 3 walls. Outside, depending on conditions, range is much better considering it’s a short range protocol. I haven’t walked it off and measured it. I use D8 almost exclusi

[2022-05-04 02:58] mitcht commented on #11560
Completely forgot to mention I'm seeing 15m _outdoors_.

[2022-05-04 03:02] joeyw007 commented on #11560
Given some of the complaints I’ve seen in slack and on GitHub it appears there is an issue. I have no idea what the sample size is or if any of the devs are able to recreate these issues. I know that much won’t happen if they can’t. Is that 15m in range test mode or normal flight?

[2022-05-04 03:04] mitcht commented on #11560
Normal flight.  I could possibly tackle debugging and dev work (I am a software engineer heh) but I'm not really familiar with the Betaflight project.  I don't even know what files I'd want to target my changes on! Lots to learn.

[2022-05-04 04:07] Professor77 commented on #11560
I still havent tried my board on frsky X. I didnt update my radio to Accst
2.0 so I don't have X2 to test.

After moving most of my models to ELRS 900 there's just 1 other drone that
is still using Accst 1.0 rx so I might flash that one.

Anyway could it be an ACCST 1.0 issue?

The only other thing I can think of is that I replaced my SPI rx antenna
with a homemade one about a year ago after it go

[2022-05-04 11:49] stefan73 commented on #11554
Betaflight has in other areas greatly supported users with vendor-related "hacks" & extensions.
Two examples out of more:
#1 The support of the Flysky FS-ia6 receiver, which can be modified for a kind of IBUS protocol 'dialect'. Betaflight happily supports this "hack" in src/main/rx/ibus.c
#2 Video Transmitters, where the manufacturer (e.g. Matek) has screwed up the Tramp protocol and inverted the

[2022-05-04 11:57] joeyw007 commented on #11560
I don’t think it’s your antenna as long as it is the exact same length as the one that was chopped and the wire is the same impedence or very close. Basically use the kind of wire as was on it. But if it was fine before it should be fine now. FrSky_X is fine as far as I can see and no one is complaining of issues with it. Redpine even works great for people having D8 range issues. It only seems to

[2022-05-04 12:58] daleckystepan commented on #11560
Thank all of you that you are willing to help. Do you have any SPI RX board with blackbox or Openlager? It would be beneficial to have some logs from failsafed flight.

To clarify what's is going on and what changes have been made according to my understanding.
1) BF 4.2.x - baseline, default
2) BF 4.3 RC3 hopefully the same as previous
3) ELRS SPI changes that affected also FrSky.
4) Failsafe cha

[2022-05-04 13:12] mitcht commented on #11560
...
I keep threatening to buy an openlager.  Maybe its time.

[2022-05-04 15:02] SteveCEvans commented on #11560
With a bit of creativity one can add flash to support black box…

![B25A0D87-1AEA-4621-BC1F-7BDFC030833C](https://user-images.githubusercontent.com/11480839/166710189-1be23b7b-2106-4ae5-be9f-fd3b279ea33b.jpeg)

[2022-05-04 15:12] mitcht commented on #11560
I'm pretty sure I can't solder any chips on my board https://www.racedayquads.com/products/happymodel-diamondf4-aio-whoop-flight-controller-f4-fc-5a-1-2s-4in1-esc-25-200mw-vtx-choose-your-rx