[2016-10-21 05:13] #941 closed

[2016-10-21 09:39] borisbstyle commented on #1357
Fixed
https://github.com/betaflight/betaflight/commit/852ccebbf02b8a8861c4ce9d063a7162d9b5615f

[2016-10-21 09:39] #1357 closed

[2016-10-21 12:09] slawek89 commented on #1360
You can try to change demag in esc settings to High. I saw simillar problems with motors and this help.

[2016-10-21 12:24] raphaelcoeffic commented on #1277
@discoltk after trying out, it seems I was right: the receiver does not send its own packets (RSSI, etc...) on the wire, but only to the transmitter, over the air. Other sensors attached to the S.PORT bus should be readable without any issues. However, I'll focus on the S.PORT/MSP first, as this is something many people would like to have.

[2016-10-21 12:28] raphaelcoeffic commented on #1311
@ledvinap: do you think it makes sense to switch the normal smart port values off while  using MSP/smart port? That would definitely speed up the process.

[2016-10-21 12:33] discoltk commented on #1277
@raphaelcoeffic   Well, any improvement to the utility of the smartport interface is much appreciated.   If there is anything I can do to help the vario support along, please let me know.

Will the lua script interface be lower latency than the standard aux channel hack?

[2016-10-21 12:33] ledvinap commented on #1311
Smartport values may be sent with same sensor ID, so it should be enough to decrease update frequency (and even that may not be necessary).

[2016-10-21 12:39] andre92 commented on #1359
have you tried adjusting center throttle PPM on the ESCs in BL Heli Suite?
And what happens when you move the slider in the motors tab? There has to be some point that disarms the motors, that will be your center throttle.
You can calibrate the ESCs from 1000 to 2000 as normal.

[2016-10-21 12:39] raphaelcoeffic commented on #1311
I know, but still, if I send the MSP packets every 5th or 10th value, that might be quite slow on the other end.

[2016-10-21 12:40] raphaelcoeffic commented on #1311
basically, not cycling through frSkyDataIdTable anymore, as long as my send buffer for MSP data is not empty

[2016-10-21 12:45] ledvinap commented on #1311
Stalling telemetry when MSP packet is ready is good idea.
And maybe insert one telemetry packet after few (~10) MSP ones to prevent total telemetry stalling (some timeout may trigger otherwise), but that's not probably necessary ..

I have SPort telemetry implemented as priority queue in my CF clone (local branch), using it may help with bandwidth sharing (and IMO is cleaner than current telemetry

[2016-10-21 12:50] raphaelcoeffic commented on #1311
Thanks for the hint, I'll have look.

[2016-10-21 12:57] ledvinap commented on #1311
https://github.com/ledvinap/cleanflight/blob/local/src/main/telemetry/sport.c
probably not working now, it diverged too far from upstream ...

[2016-10-21 12:59] raphaelcoeffic commented on #1311
Thx, I'm currently looking at it. I like the send queue, I must say ;-) I want something very similar for MSP.

[2016-10-21 13:02] ledvinap commented on #1311
The send queue is there mainly for multi-packet messages (GPS). Much easier to implement them without complicating code.

[2016-10-21 13:10] RipperDrone commented on #1359
Thank you @andre92 for checking into this issue.

Yes, I have adjusted the center throttle PPM in BLHeli Suite, and it reads back 1500 on point. Nevertheless, motors have the true dead center sitting around 1460-1470.

When I move the sliders in the motor tabs of BLHeli (or BetaFlight), they start out at 1500, but motors are spinning already. I have to reduce throttle to ~1490, then they stop. Red

[2016-10-21 20:39] AndersHoglund commented on #986
Strange if this should be a gcc4 vs gcc5 issue. Certainly seem to appear that way...
Any difference with the Jenkins 3.0.1 release buiild using GCC 5.4.1 on http://andwho.sytes.net:8080/job/BorisB_BetaFlight/618/ ?

[2016-10-21 20:57] jflyper commented on #1029
Okay, tbs dev finally responded, and PIT mode behavior is now completely explained.

- The PIT mode can only be activated upon power up. Pit mode bits (In-Range or Out-Range) in Set Mode command are used to preset this behavior.

- The PIT mode can be canceled and transmission commenced by Pit mode running flag in Set Mode command.

- This operation will cancel the In-Range / Out-Range presets; it

[2016-10-21 21:05] jflyper commented on #1029
I think I'm going to implement an "operational model" scheme:

1. PIT oriented mode, in which unify will always power up with pit mode. The user must explicitly commence transmission before flight.
2. FREE mode, in which unify will always power up actively transmitting.

There will be an entry in the config menu to switch between the models.

[2016-10-21 21:06] Serbitor commented on #986
@AndersHoglund thanks for linking those builds. The GCC 5.4.1 build does still have the problem with baro reading drifting back to 0

[2016-10-21 21:21] AndersHoglund commented on #986
This is sooo weird. And I do not have any FC with baro for a debug session...
What happens when/if you update your gcc installation?

[2016-10-21 23:19] gc9n opened #1366 "Software Serial Combined with Led_strip"
i have the naze rev6

if i disable the Software serial i can enable the led_Strip,
but i loose smartport cause its on softwareserial 2

if i enable the Software serial , the led_Strip feature cannot be enabled -saved...

is there a problem i have the latest 3.0.1 firm

[2016-10-21 23:25] rayone commented on #1360
I have 2 small builds which are very similar and they both twitch **severely**, with motors getting hotter than BF2.9. The only difference in builds are the VTx and one has a PDB and the other doesn't.
Lux F3
RacerStar BLHeli_S (EFM8BB21F16, 48MHZ) on 16.4
RacerStar BR2205 2600KV

I've tried all refresh rates and Multishot/OneShot.
This issue is not present in 2.9, only 3.0 & 3.1.

One quad fell o

[2016-10-22 08:37] mikeller commented on #1366
No, there is no problem. Softserial and LED_STRIP can not be enabled at the same time, since they share the same pins.

[2016-10-22 09:14] mickFPV commented on #1360
I can also confirm that changing damag value to high was ineffective.  thanks for the suggestion.  I find it interesting that a lot of users see this issue at around low-mid throttle 1300 us.

[2016-10-22 11:19] AndersHoglund commented on #986
If you have the same result ( baro "OK" ) with both 4.9.3 and 5.4.1 then the problem lays somewhere else.
For the record, Jenkins uses this gcc:

    arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 5.4.1 20160609 (release) [ARM/embedded-5-branch revision 237715]

A bit odd that two gcc 5.4.1 release versions are slightly different.....

[2016-10-22 11:42] Serbitor commented on #986
I just downloaded the 2016-q2 toolchain from launchpad and when building with this version, the problem returns. Looks like an update to the 2016-q3 toolchain would be a good idea.

[2016-10-22 14:30] AndersHoglund commented on #986
Odd. Should only the 5.4.1 2016q2 introduce a derivative baro measurement value, as opposed to absolute value with 4.93 and 5.4.1q2. Really odd.

Anyway, I am preparing a PR for a SDK update. But there are side effects, binary images are slightly bigger. This causes CC3D and CC3D_OPBL targets to fail:

    $ tools/gcc-arm-none-eabi-5_4-2016q3/bin/arm-none-eabi-gcc --version
    arm-none-eabi-gcc (

[2016-10-22 15:51] Serbitor commented on #986
I agree that is is a strange one, and quite annoying that it breaks the smaller targets.

[2016-10-22 16:39] AndersHoglund commented on #986
Would be nice if some one else also could confirm those baro readout findings.

[2016-10-22 17:33] jflyper commented on #1029
@jasiucytrynowy If the vtx is onboard, or at least directly controlled by FC MCU, then SmartAudio has nothing to do with it.

[2016-10-22 19:21] mixMugz commented on #1271
![screen shot 2016-10-22 at 22 21 18](https://cloud.githubusercontent.com/assets/17923916/19621925/ea12c990-98a5-11e6-9f15-bc3c4b72d8b1.png)

[2016-10-22 19:22] mixMugz commented on #1271
Also check larson scanner on this config. Its table led grid 4x4

[2016-10-22 20:25] gaelj commented on #1271
Indicator function requires orientation to be set on each LED.

[2016-10-22 21:19] HorusDrones opened #1371 "Telemetry (Realtime)"
Hi betaflight community - this is not so much an issue but an idea I'd like to discuss and develop, if possible.

I've designed and am building a 'larger' quad for racing and there are some software and features I've found my self suddenly wanting for tuning and perfecting this new beast.

The quick and short of it is this: due to it's size and the inherent danger involved, tuning, operating and r

[2016-10-23 03:12] eder0009 opened #1375 "Connecting to betaflight with SP Racing F3 board"
Hey All,

I'm having trouble connecting to cleanflight or betaflight with a SP Racing F3 board.  I thought the problem was the FC board so I bought a new one today with the same problem.  I've flown this quad for 6 months with no problems and yesterday put on a furious FPV piggy back OSD and the problems have started.

The strange thing is I can connect a battery, see video, connect my radio to th

[2016-10-23 06:02] jasiucytrynowy commented on #1029
@jflyper my vtx is standalone and have MCU.

[2016-10-23 06:25] emaugain opened #1378 "Motor still spinning after disarm"
I was testing my upgraded zmr with a spracingf3mini and BF 3.0.1
During my session my quad dropped a few times from the air - i am still trying to identify why.
At one point, it dropped I disarmed but the motors were still spinning on the ground.

[LOG00068.TXT](https://github.com/betaflight/betaflight/files/546212/LOG00068.TXT)
![drop](https://cloud.githubusercontent.com/assets/5686183/19624521/a

[2016-10-23 07:02] jflyper commented on #1375
@eder0009
It sounds like a support request, which is not handled here.
I will help you in the rcgroup's SP Racing F3 thread.
Can you close the issue once you confirmed the thread?
[SPRacingF3 Racing board](https://www.rcgroups.com/forums/showthread.php?t=2387038&page=170#post36019936)

[2016-10-23 07:20] mickFPV commented on #1360
- tried a 1000 uF capacitor across the terminals with no luck

- finally, pulled the F/C dropped it into a functioning frame which had a Naze32, 20A little bee's and cobras motors, and that also showed severe twitching.

I think at this point this is a hardware issue, not a software related one.  This post can probably be closed off.

[2016-10-23 08:48] #1360 closed

[2016-10-23 09:04] mikeller commented on #1371
Hi Sherif. You might be interested in https://github.com/betaflight/betaflight/issues/1311 .

[2016-10-23 09:13] jflyper commented on #1371
I don't think so. He is proposing more versatile and immediate in-flight parameter manipulation. On the telemetry side, it means dozens of temperature sensors on battery, motors, escs, regs, multiple voltage sensors on parallel batteries. On the parameter manipulation side, it means ... well, I don't know, MOSFET gates to turn parallel batteries on and off?

[2016-10-23 09:20] HorusDrones commented on #1371
Even if we start without a dozen sensors, just the blackbox gyro streams with full access to flight control parameters would be ideal. Mikeller, thats a good place to start, but what I'm trying to accomplish is two fold. 1) Remove the dependency on the pilot to actively tune what they are flying. Having a tech that he or she can speak to in order to create a safe tuning and fly experience on large

[2016-10-23 09:30] jflyper commented on #1371
Gyro streams would eat up the bandwidth. How fat is the downlink?

[2016-10-23 09:33] HorusDrones commented on #1371
I think around 250kbps

[2016-10-23 10:28] mixMugz commented on #1271
Can you tell me please how to set up my configuration for property blinking?

[2016-10-23 10:44] mixMugz commented on #1271
Just checked now. Set up different led orientation for each led with indicator overlay and nothing. All leds blinking only on pitch down and roll right. No reaction on pitch up and roll left. Please fix it

[2016-10-23 10:46] mikeller commented on #1271
So you set the orientation (under 'LED orientation and colour'), so that the correct little direction arrows are shown for every indicator LED?

[2016-10-23 10:49] mixMugz commented on #1271
There is my last config. Still nothing. Work as previous message. (leds blinking only on pitch down and roll right)
![screen shot 2016-10-23 at 13 48 28](https://cloud.githubusercontent.com/assets/17923916/19625663/7dee1e72-9927-11e6-8aea-82ffcfef35ad.png)

[2016-10-23 10:50] mixMugz commented on #1271
Also. Why larson scanner for led 5,6,9,10 work only from 5 to 6 to 9 to 10, instead from 9 and 10 to 6 and 5?

[2016-10-23 14:30] DerDominik commented on #1029
Operation Mode sounds very good. What is the range in Pit Mode?
In my mind it's perfect if you alway start in Pit Mode after powering, and with switching into armed mode also the VTX switches into normal mode

[2016-10-23 14:33] eder0009 commented on #1375
Sounds good,  actually the board to flash using cleanflight last night and got everything set up besides the osd. I'll try setting up the osd with the ftdi and see if that works. Ftdi is coming in the mail

[2016-10-23 14:33] #1375 closed

[2016-10-23 20:32] alvarobeiste opened #1385 "USB problems after update"
Hello, yesterday I updated my brand new Naze 32 Rev6 to Betaflight 3.0, plugged it to the computer and everything worked OK, did this two times as I was setting things up, calibrating ESCs... Everything was good, but today I wanted to set up my receiver and when I plugged my board, the LEDs started working normally, as the FC does every time you connect it, but the PC doesn't recognize it. I have

[2016-10-23 20:36] mikeller commented on #1385
Two questions:
- is it a Rev6 or a Rev6b?
- did you ever plug in a battery while USB was connected?

(The reason for asking this, there is a slim chance on the NAZE32 Rev6 (not Rev6b) that the USB port gets fried by a voltage spike when plugging in the battery while connected on USB. I had this happen to one of mine.)

[2016-10-23 20:40] alvarobeiste commented on #1385
I think it's the normal Rev6, not Rev6b. I think what you are saying is probably right, because when you plug it in now you can feel the USB port and diodes placed near to it getting really hot, as if something was fried there.
I guess you couldn't manage to get it to work again, did you? :)

[2016-10-23 20:46] andre92 commented on #1359
I did some testing. Although I can not make sure your escs will calibrate to the right value for center throttle, you can still find your esc center value by testing, as you did. You can then change settings in Betaflight configurator to make sure it works correctly.

On the radio side, the flight controller uses mid_rc as neutral throttle point, with a deadband of 3d_throttle_deadband. By default

[2016-10-23 21:07] RipperDrone commented on #1359
Thank you for doing further testing. I confirm that ESCs have remained stubborn despite all attempts to get them settle at center value of 1500us. However, as stated in your post, BF can be adjusted to manage the ESC neutral setting (which in my case is around 1470) by adjusting 3d_center and 3d deadbands.

As another option, as per your suggestion, I have artificially increased BLHeli ESC setting

[2016-10-23 21:33] mikeller commented on #1385
Nope. But I got a free replacement from the supplier, since this seems to be a known (and rare) problem.

[2016-10-24 03:25] llambkin opened #1386 "OSD performance on REVO target"
Hello all,

 One thing that the REVO has been suffering from since the first release of 3.0, is that OSD performance is choppy, I have it set to UART6, and when I move the sticks to navigate the OSD, the cursor will jump one or two spaces, It is definitely target related, since I have put different FC's in the same craft, and also tried different Minim's also, I have also tried different firmwares

[2016-10-24 06:06] alvarobeiste commented on #1385
OK, so I'm going to assume my problem is the same that you had and try to get a replacement... Thanks for your help :)

[2016-10-24 06:06] #1385 closed

[2016-10-24 06:14] martinbudden commented on #1385
@alvarobeiste , if you are replacing a NAZE32, then I would seriously consider getting a more modern board, F3 based at least. Betaflight runs much better on an F3 (or F4) board, and more features are available.

[2016-10-24 06:16] alvarobeiste commented on #1385
@martinbudden Yeah, if I don't manage to get a free replacement I'm going for an F4 board, or maybe another Beta flashed Kiss :)

[2016-10-24 13:12] jflyper commented on #1386
@llambkin
I will take a look at it when #1352 is stable (I wonder if it reproduces on OMNIBUS F4).

BTW, if you are using the OSD config menu on Minim to tweak PID parameters, take a look at the #1352.

[2016-10-25 00:30] borisbstyle commented on #1094
This works now in 3.1 ;)

[2016-10-25 10:30] DerDominik opened #1393 "Automatic Current calibration"
Feature request for the current sensor

With the new integrated OSD feature it would be nice to integrate a automatic current calibration of the current meter.

In my mind it could work like:
You'll start the current calibration in the OSD and in first step you'll measure and enter the current while disarmed mode.
Next step, the motors will spin with 50% and you'll measure and enter the current.
N

[2016-10-25 15:12] jflyper commented on #1386
Yes, it reproduces on OMNIBUS F4 with an external Minim.

It is as if `rcData[]` (BF side) -> `MwRcdata[]` (MWOSD side) update is very slow for some reason.

Let me look into this a bit deeper.

[2016-10-25 18:12] llambkin commented on #1094
Yup, tested this last night. It works great. Any chance we can force the FC
to send the same data stream out of all PWM at the same time the way that
the KISS configurator does?

This way we can hit all ESC at the same time.

On 25 Oct. 2016 8:31 am, "borisbstyle" <notifications@github.com> wrote:

[2016-10-25 18:14] llambkin commented on #1386
Thanks. I did notice that the omnibus OSD works superbly, but didnt
understand why the REVO wasn't the same.

On 25 Oct. 2016 11:12 pm, "jflyper" <notifications@github.com> wrote:

[2016-10-25 18:19] jflyper commented on #1386
Sorry for the confusion.

I tested it with OMNIBUS F4 + MinimOSD, **not** with the integrated OSD, and got a choppy result.

I believe it has something to do with how fast the live RC channel data is transferred from FC to Minim. No details yet; thinking about how to investigate this.

[2016-10-25 19:57] mikeller opened #1396 "Defaults for beeper_od and beeper_inverted are wrong for NAZE rev6 in CLI 'diff'"
This is probably due to `hardwareRevision` being set incorrectly when creating the default values for `diff`.

[2016-10-25 20:01] mikeller opened #1397 "CLI 'resource' command is case sensitive for pin name"
Should be case insensitive to be aligned with the rest of CLI.

[2016-10-25 20:09] mikeller opened #1398 "CLI 'resource' command changes do not show in 'resource' output before reboot"
After assigning a resource with `resource [type] [number] [pin]`, a call to `resource` does not show the new assignment, before the FC is rebooted.

[2016-10-25 20:12] mikeller opened #1399 "Double assignment of resources doesn't give feedback in CLI"
If a resource is assigned to a pin that is already assigned to another resource the message that is returned does not indicate the double assignment.

Potentially we should return a warning to indicate the double assignment?

[2016-10-26 15:00] gamerpaddy opened #1408 "CC3D (CC) bricked after set enable_buzzer_p6 = ON"
after setting "set enable_buzzer_p6 = ON" the connection froze and i wasnt able to connect anymore over serial / usb.
Had to reflash betaflight using SWD port & STLink adaptor.
this function seems to be not available anymore in bf3.0, this could cause the error.

tried this on a CC3D (CopterControl) with Betaflight 3.0.

no additional information provided, it just froze and never went back up agai

[2016-10-26 16:10] AndersHoglund commented on #1408
Weird. Exactly what version was that?
I tried to reproduce on the 3.0.1 release, no issue. Other than I had to restart BFC after setting buzzer and saving. But that happens, and I don't think it has anything with buzzer to do.

    # get buzzer
    enable_buzzer_p6 = ON
    Allowed values: OFF, ON

    # version
    # BetaFlight/CC3D 3.0.1 Oct 18 2016 / 10:03:36 (48b7b4f)

[2016-10-26 16:27] HaseebNain opened #1409 "ADC Internal Pull Ups enabled messes with current/voltage sensors (F4 issue)"
I am working on a SPARKY2 variant that uses PC2 as its current sensing ADC GPIO, the F4 has the internal pull up enabled and is messing with the ADC readings.

Looking into system_stm32f4.c in "src/main/drivers" shows (lines 126-128)

    GPIO_InitTypeDef GPIO_InitStructure;
    GPIO_StructInit(&GPIO_InitStructure);
    GPIO_InitStructure.GPIO_PuPd = GPIO_PuPd_UP; // default is un-pulled input

I

[2016-10-26 16:40] blckmn commented on #1396
There's a target configuration function that should be executed for defaultConfiguration. Otherwise the default is incorrect.

[2016-10-26 16:41] blckmn commented on #1396
Just need to add a call to that (there's a define USE_TARGET_CONFIGURATION).

[2016-10-26 16:43] blckmn commented on #1386
It might be the uart - some don't have dma enabled.

[2016-10-26 19:18] mikeller commented on #1396
Ha, that function used to be called in `createDefaultConfig`, but it's not in there any more. Is there a reason that it shouldn't be called in there, @martinbudden?

[2016-10-26 19:51] HaseebNain commented on #1409
Looks like I was able to manually change the pull-up status by actively setting them to not use any pull-ups.

   	GPIO_InitTypeDef GPIO_InitStructure;
    GPIO_StructInit(&GPIO_InitStructure);
    GPIO_InitStructure.GPIO_PuPd = GPIO_PuPd_NOPULL; // default is un-pulled input

    GPIO_InitStructure.GPIO_Pin  = GPIO_Pin_2 | GPIO_Pin_3;
    GPIO_Init(GPIOC, &GPIO_InitStructure);

I'll try and make

[2016-10-26 19:52] #1409 closed

[2016-10-26 20:57] mikeller commented on #1409
@HaseebNain: Before you put any work into this, you should look into https://github.com/betaflight/betaflight/pull/1392 and the discussions around it. There is a major effort under way to enable custom resource allocation / configuration in 3.1., and the problem that you are trying to solve will likely be part of this solution.

But your always welcome to contribute, by bringing your use case into

[2016-10-26 20:58] mikeller commented on #1408
Could this be a case of different CC3D clones having slight differences in design?

[2016-10-26 23:35] llambkin commented on #1386
If that is the case, then that rules out my OSD being the cause for my D-Shot issue.

Although I was having the OSD issue since day one anyway.

-Liam

[2016-10-26 23:51] gamerpaddy commented on #1408
$M>ni$M>lÒÿÿa@
# get buzzer
enable_buzzer_p6 = OFF
Allowed values: OFF, ON

# version
# BetaFlight/CC3D 3.0.0 Sep 11 2016 / 00:28:09 (a21694b)

As soon as i do "set enable_buzzer_p6 = ON" it does not respond anymore and Serial connection will fail on reconnect.

I dont know if its a clone, does the "original" have a s.bus port underneath the PWM input (right next to the DSM port)?  If no, then

[2016-10-27 04:02] thatquadguy opened #1413 "bounce back after a roll"
Hi, i have an Alien 5inch frame with emax 30a escs, cc3d on 2.9bf and emax 2205 2300kv motors. Im having problems getting it to stop from bouncing back after a hard roll no matter how high i have D set to it still does it, I've ha an F3 board on 3.0bf and still the same problem. Any help to resolve this issue would be appreciated.

[2016-10-27 04:13] jflyper commented on #1386
@blckmn MSP messages to OSD are usually small and evenly spaced, so absence of dma would not be a problem. If dma has something to do with this issue, it may be the latency caused by setup time (I don't think it would matter, since it's fraction of a one character time).

[2016-10-27 06:24] mikeller commented on #1396
Actually no. When resetting a NAZE today i noticed that the values that it defaults to do not work for the rev6:

[code]

I.e. the defaults are recognised correctly, but when reset to defaults the wrong ones are chosen.

[2016-10-27 07:01] Cthutquz opened #1414 "betaflight_3.1.0-623 ( Fury F4 )"
betaflight_3.1.0-623 ( Fury F4 )
1 Save flash to file of blackbox does not work
2 Dump is not working

[2016-10-27 08:36] RespawnDespair opened #1416 "RSSI on Airbot Omnibus F3 Pro missing"
Hello,

i have purchased the Airbot Omnibus F3 Pro flight controller which is by all accounts an awesome package. What i SHOULD have checked upfront was the RSSI on the OSD.
There is some information, mainly on RCGroups, that should have made me realize this functionality is missing.

I can see in the target.h file for the OMNIBUS on line 144:
[code]

Basically meaning this has been disabled compl

[2016-10-27 13:39] lolorc opened #1417 "[wish] quanton target"
Hi there,

would you agree to add support for quanton ?
I know it's huge 50x50, but still i have 4 of those 2 are in minis (X220, zmr250)

I've been looking at https://github.com/rs2k/raceflight/commit/875599ef52f55edc9049593edb780b8dc6afbe82
@blckmn I guess it wouldn't be to hard to port quanton target to BF ?

TIA

[2016-10-27 21:40] vytautas-valaitis opened #1418 "beeper after battery connection"
When battery is connected, board (tested on naze rev5, spracingf3) sees voltage rising slowly (about 2 seconds). BAT_LOW and/or BAT_CRIT_LOW beeps once or twice. Maybe some timeout should be introduces before checking voltage.

[2016-10-27 21:51] mikeller commented on #1418
I think what you are hearing are the initialisation beeps. By the time the board has finished initialising the voltage on the Vbat pin should be stable, otherwise your wiring is most likely faulty.

[2016-10-27 23:43] mikeller commented on #1414
Thanks for your report.
Both of these are know issues that are currently being investigated.

[2016-10-27 23:43] #1414 closed

[2016-10-28 02:36] nathantsoi commented on #1416
there is currently only 1 adc supported and its in use (current sensor and voltage sensor), but if you're not using one of those just define RSSI_ADC_PIN to the pin that your not using, e.g. to use rssi instead of current:

[code]

to build this, checkout the master branch and `git reset --hard v3.0.1`, apply the patch and `make OMNIBUS`, it should install the toolchain for you automatically.

the

[2016-10-28 04:09] jflyper commented on #1386
@llambkin This is just my hunch; what if you enter the MWOSD config menu while connected to the Betaflight configurator?

[2016-10-28 04:35] llambkin commented on #1386
Will give it a go when I get home from work.

On 28 Oct. 2016 12:10 pm, "jflyper" <notifications@github.com> wrote:

[2016-10-28 06:50] vytautas-valaitis commented on #1418
No, I tested disabling/enabling bat_low and system_init beeper flags. I can see battery voltage rising slowly (2 secs) in betaflight configurator top right. Same thing on Taranis telemetry. It might be filter cap charging, or something.

[2016-10-28 07:03] mikeller commented on #1418
That looks like something is wrong with your wiring. Do you filter on the Vbat connection to the FC?

Telemetry is different, the refresh rates are low for things like battery voltage.

[2016-10-28 07:14] vytautas-valaitis commented on #1418
It's just standard Matek pdb and xm20a escs, no additional filtering.
I used to have audible voltage alert on Taranis just when new battery is connected. It always announced some nonsense. Fixed it by adding 2s delay. Tested with two different fcs (naze, spf3) on 3 or 4 builds. Going to make a video later and post more details on my setup if no one confirms this behavior.

[2016-10-28 08:21] RespawnDespair commented on #1416
Thank for your reply.

Are you implying that with 3.1 i will be able to use BOTH sensors? Current/voltage and RSSI?
Or just that switching between them will not require code modification??

[2016-10-28 08:27] mikeller commented on #1416
Currently two of them are available, current and voltage. You can repurpose either one of those for RSSI with a one line change (or depending on your RX you could have it send RSSI on a RC channel), or you could put in some more work to enable voltage, current, and RSSI to work concurrently.

[2016-10-28 08:30] RespawnDespair commented on #1416
Yeah, i found the solution of sending RSSI via Telemetry back to the transmitter and sending it back as a channel to the receiver, which then sends it to the FC where we can select the channel as RSSI input. For my current setup this will work, but i will look into modifying the source to allow direct RSSI input from the receiver module itself. Thank you for your comments. This issue can be closed

[2016-10-28 08:36] mikeller commented on #1416
Yeah that would work. The receivers that I use (openLRSng) allow for the RSSI signal to be sent as one of the PPM / serial channels directly by the receiver, which makes it an attractive option.
If that's not possible, then adding another ADC channel for RSSI is a good alternative, and 3.1 will allow for this.

[2016-10-28 08:36] #1416 closed

[2016-10-28 11:40] jflyper commented on #1393
How often do you calibrate your current meter?

[2016-10-28 12:03] llambkin commented on #1386
Ok, tested. No different. It still skips one or two spaces when moving the sticks.

[2016-10-28 12:37] borisbstyle commented on #867
this is planned for DSHOT

2016-08-01 19:51 GMT+02:00 Yamaford <notifications@github.com>:

[2016-10-28 13:42] borisbstyle commented on #1386
try without DSHOT

2016-10-28 14:04 GMT+02:00 Liam Lambkin <notifications@github.com>:

[2016-10-28 13:48] llambkin commented on #1386
Its been this way since release.

On 28 Oct. 2016 9:42 pm, "borisbstyle" <notifications@github.com> wrote:

[2016-10-28 17:54] jflyper opened #1423 "gcc linker (ld) confused?"
I'm experiencing strange errors from loader, errors telling that there was an unresolved symbols, but the specified file has nothing to do with the symbol.

See #1422's travis output for example:

[code]

The corresponding accgyro_mpu.c:163 is

[code]

Any thoughts???

[2016-10-28 18:20] blckmn commented on #1423
Have you done a clean and then try again?

[2016-10-28 18:22] jflyper commented on #1423
You can't expect cleaner than what travis does, can you?

[2016-10-28 18:30] jflyper commented on #1423
Okay, I could remove the unsolved symbol error; it was actually referenced from display.c.

So, the confused loader problem still remains. What should we do?

[2016-10-28 19:11] blckmn commented on #1423
If you make clean, you ensure you get all warnings.

Have you included all c files needed in mk ? Is a function named wrong compared to header file? Have you got an incorrect function name used somewhere.

[2016-10-28 19:36] stronnag opened #1424 "Forcing gcc version considered harmful"
This change does not encourage testing of latest commits on modern compilers.
[code]
OK
[code]
Oh well ...
[code]
back to stable ????
[code]
for the record, gcc 6.2.0 is reliable (whereas for iNav at least, earlier gcc 5.x produced dangerously buggy firmware), produces smaller images and has very useful link type checking.

Please reconsider this change, or make it optional, "You're not using the

[2016-10-28 22:29] JerryTitus opened #1425 "Set spektrum_sat_bind"
I'm receiving a "invalid name" whenver I try to use this variable in any form ( null, =0,= 5,=9.

FC= Omnibus F4 (version 0)

Builds= 3.0.0 and 3.0.1

When I do a dump, I don't see it in the listing either....  on other releases it shows up after "set sbus..."

---

set serialrx_provider = SPEK2048
set sbus_inversion = ON
set telemetry_switch = OFF
## set telemetry_inversion = ON

Regards, thank y

[2016-10-28 23:33] AndersHoglund commented on #1424
Well, yes could be less strict, maybe.  But you are making it harder than needed to fix
Edit make/tools.mk and change:

    $ git diff make/tools.mk
    ....
    -GCC_REQUIRED_VERSION := 5.4.1
    +GCC_REQUIRED_VERSION := 6.2.0

Reverting back:

    $ rm make/tools.mk
    $ git checkout make/tools.mk

Unfortunatatly launchpad.net has not yet released any prebuilt gcc6 packages, 6.0 is slated for 2

[2016-10-28 23:47] AndersHoglund commented on #1425
Seems spektrum sat bind is not supported on OMNIBUSF4, not enabled in the target files. Not shure why, but needs to be on a serial port with bi-directional data input line. If connected to serial port 1 that has an sbus inverter sitting in the way, then it is uni-directional and binding is not possible. The AIRBOTF4 is done wrong this way, and from what I have understood OMNIBUSF4 is similar. Have

[2016-10-29 00:09] JerryTitus commented on #1425
It has a spektrum connector, so there was at least intent!

I beeped the spektrum connector signal line out, and it is connected to RX1.

Doggone it.

Thank you for your help!

On Fri, Oct 28, 2016 at 7:47 PM, Anders Höglund <notifications@github.com>
wrote:

--

___________________________________________________________________________

Jerry Titus

[2016-10-29 01:49] jflyper commented on #1423
@blckmn The unresolved symbol was resolved.

Yes, it occurs with make clean; make.

Real problem I want to raise is "Unresolved reference pointed out by the loader is not referencing the symbol at all".

[2016-10-29 02:13] nathantsoi commented on #1425
With the one spectrum sat I've used, first I bound it to a standard
spectrum rx then just connected it to the FC.

On Fri, Oct 28, 2016, 6:09 PM JerryTitus <notifications@github.com> wrote:

[2016-10-29 05:08] llambkin commented on #1386
@jflyper, I would love to try your new code with the injection of the menu. But I am running development branch builds to get D-shot. Is is much effort to make a hex for the REVO for me to test, I will also have to flash my minim to suit right?

[2016-10-29 09:36] AndersHoglund commented on #1425
OK, same problem as with AIRBOTF4/FLIP32F4 then.
It would have been better if routed to RX3.

[2016-10-29 09:44] mikeller commented on #1425
You can always cut off the connector and solder the wires onto the UART3 pads. Plus you'll have to build custom firmware for it.

[2016-10-29 09:48] AndersHoglund commented on #1423
OK, what was the problem? Care to share so we all can learn ?

[2016-10-29 09:54] AndersHoglund commented on #1425
Add the same code as for REVO, and rebuild:

    src/main/target/REVO/target.h:#define SPEKTRUM_BIND
    src/main/target/REVO/target.h:#define BIND_PIN                PB11

And use RX3 in some way. Connect directly or cut and patch at the sat connector.

[2016-10-29 11:21] stronnag commented on #1424
Thank you. I think for my case a `make-bf` alias encapsulating dynamic definition of gcc version is the best approach.
I'd prefer informing rather than imposing a version, but it's no big deal.
Closing.

[2016-10-29 11:21] #1424 closed

[2016-10-29 11:24] davidh- commented on #1153
@MotoLab setting moron_threshold to 128 fixed it for me. Are there any negative implications by setting it to 128?

[2016-10-29 12:31] jflyper commented on #1423
@AndersHoglund
The loader says there is an unresolved symbol X, referenced in file Y, line Z.
The actual unresolved symbol X is referenced in file A, totally unrelated with Y or Z.

[2016-10-29 16:20] sambas commented on #1417
Colibri target should be same ase quanton

[2016-10-29 21:29] ledvinap commented on #1423
@jflyper : This is side effect of  LTO, all source files ale merged into larger blocks, compiled and linked. Reference to wrong .c file is probably a bug, but it's quite understandable ..

Disabling `-flto` (or grepping for the symbol) will help.

And LD stands for linker, not loader ..

[2016-10-29 22:09] AndersHoglund commented on #1423
@jflyper Been trying to recreate the problem, pulled your PR branch and can not find any external references to X. And STM32DISCOVERY builds just fine. Please advice what A means and how to re-create the problem, what commit has the problem and how was it fixed.

    $ git pull https://github.com/jflyper/cleanflight.git bfdev-osd-cms-separation-poc
    .......
    $ git checkout 1aaf2d9d47808dbd72

[2016-10-29 22:14] AndersHoglund commented on #1423
Never mind. Can re-create it at this point in history:

    $ git checkout 8816678333b3e1e2c684e14b0c295893b0204a07

Will look into it.....

[2016-10-29 22:22] blckmn commented on #1417
Yes colibri. If we need to do anything specific to quanton, then a quanton.mk can be added to the colibri target directory.

[2016-10-29 22:25] AndersHoglund commented on #1423
@ledvinap , You are absolutely correct. Removin lto makes the linker point out the correct file.
Annoying linker bug. Not sure what good -flto does and what harm it would do to remove it....

    $ git diff
    .....
    -LTO_FLAGS   = -flto -fuse-linker-plugin $(OPTIMIZE)
    +LTO_FLAGS   = -fuse-linker-plugin $(OPTIMIZE)
    .....
    obj/main/STM32F3DISCOVERY/io/display.o: In function `displayS

[2016-10-29 22:53] ledvinap commented on #1423
LTO allows compiling whole program (almost) as if it was one large C file - mailny function inlining over .c file boundaries and other global optimizations. It's fine to disable it for debugging purposes, but production code is considerably better with it ...

[2016-10-29 22:57] Copter38 opened #1429 "XRacerSPI with BF3.0.1 & BF3.1 Alpha: PPM_RX broken"
On XRacer 3.1 (SPI) target with BF 3.0.1 and PPM receiver all set to default parameters:
- when Multishot protocol is selected in synched mode, the PPM receiver signal traces in BF Configurator show regular spikes of about 300µs amplitude. Jitter of the PPM traces is otherwise normal (~1µs)
  ![image](https://cloud.githubusercontent.com/assets/23143799/19833191/8b858284-9e39-11e6-85f1-26c3a1e4b692

[2016-10-30 01:31] jflyper commented on #1423
@AndersHoglund @ledvinap Thanks for looking into this.
It's annoying, but can live with it. May be submit a issue to wherever appropriate?

P.S. I tend to call ld loader. Maybe I'm too old. Lived days with linking loader ;)

[2016-10-30 07:24] jaapp commented on #1311
This idea is amazing. It opens up so many possibilities. Such as leveraging the osd config menu so you have it on the taranis.

Also, for the first time, the flight controller could be aware of the date and time(as set on the taranis). Log files could be time stamped.

[2016-10-30 08:03] kitsen13 commented on #844
Hello, any news?

[2016-10-30 09:45] lolorc commented on #1417
Ok Thanks, I'll give it a try this evening. afair the flash size is slightly bigger on quanton (not a big deal)

[2016-10-30 10:12] AndersHoglund commented on #1423
OK, we keep lto for now. Seems to be related to know issue 10 in the TODO list:
https://gcc.gnu.org/wiki/LinkTimeOptimization

If absolutly needed we could have Makefile debug targets or a debug option without lto.

[2016-10-30 10:18] ledvinap commented on #1423
'DEBUG=1' builds disable LTO ...

[2016-10-30 10:38] AndersHoglund commented on #1423
Hehe, it's already there. And I am blind not to see it.. And you are also blind ;-) The syntax is:

    $ make DEBUG=GDB ....

It actually works too.

    make DEBUG=GDB STM32F3DISCOVERY_clean STM32F3DISCOVERY
    ......
    obj/main/STM32F3DISCOVERY/io/display.o: In function `displayInit':
    ./src/main/io/display.c:718: undefined reference to `displayCmsInit'

[2016-10-30 11:24] synFPV opened #1430 "Betaflight 3.0.1 Colibri Race V2.0 TBS Blhelis 25 ESC (pitch) flip issue"
Hey Guys,

i have issues on hard flips when i flip fast the copter gets out of control on roll axis is everything fine.
when i do slow flips or loops there is no problem but when i do it fast the copter makes its own moves.

i run 8khz gyro and 4khz pid with airmode, what could it be?

thanks for help

[2016-10-30 11:30] synFPV commented on #1430
ah and with Multishot

[2016-10-30 14:43] S7ud opened #1431 "disarm on impact"
A side effect of running a finely tuned quad into a relatively solid object is the quad flips out of control and even if you disarm as fast as you can it has already been launched into the air by a PID controller trying to deal with things that are uncontrollable. This has happened to me a couple of times and I'm sure I'm not the only one,

Can a safety feature be added where the Quad auto disarms

[2016-10-30 16:19] Arakon commented on #1431
This has been discussed a few times before. The biggest issue is the fact that very high rates will also cause huge G-forces, and that quite a few times nowadays, even if you hit a tree or something, the quad may spin around and then catch itself and allow you to save it. Automatic disarm would be a 100% crash in such a case.

This is mainly a case of training yourself and using switch disarm. My

[2016-10-30 17:33] jflyper opened #1432 "Look Ma! My VCP port is a zombie!"
I suspect that a VCP port that appear in `mspPorts[]` with non-NULL `port` does not always have valid VCP connection.

Is this true? And intentional?

Reference: #1422 ([comment](https://github.com/betaflight/betaflight/pull/1422#issuecomment-257166195))

[2016-10-30 17:56] jflyper commented on #1386
My 'clogging' problem was (pragmatically) solved (#1422 [comment](https://github.com/betaflight/betaflight/pull/1422#issuecomment-257166195)).

[2016-10-30 18:25] jflyper opened #1433 "Look Ma! There's no "BETAFLIGHT" !!!"
"Betaflight", "BETAFLIGHT" and "BetaFlight" are hard coded everywhere.

Is there any symbol or macro that generates this string?

I only found BETAFLIGHT_IDENTIFIER in msp/msp_protocol.h; feel somewhat guilty using this out side the msp. There is USBD_MANUFACTURER_STRING, but it's in .c.

[2016-10-30 18:31] ledvinap commented on #1430
Do you have blackbox log?

[2016-10-30 18:48] borisbstyle commented on #1430
Its the esc what desyncs.

Try upping min_throttle and see if you can make it go away.

Op 30 okt. 2016 19:31 schreef "Petr Ledvina" <notifications@github.com>:

[2016-10-31 02:51] jflyper commented on #1432
Did some further readings.

It turns out that `isUsbConnected()` (and `isUsbConfigured()`) are used to determine the state of the VCP connection, but the `isUsbConnected()` returns true when host PC recognizes the VCP, and does not reflect a state whether there's actually a connection over the VCP (e.g., configurator is connected).

[2016-10-31 03:57] Cagilaba commented on #1094
Great work guys. So just to confirm before I solder up. We can now use Befaflight passthrough to flash kiss ESCs?

[2016-10-31 06:08] jflyper commented on #1029
@DerDominik
Automatic tx commencing is actually a use case, but some may prefer to arming without tx commencing. May be another mode switch.

[2016-10-31 08:12] Cagilaba commented on #1094
Sorry just checked. Boris's post. We have to wait for 3.1 to drop.
Thanks again. Great job.

[2016-10-31 08:40] rodgerramjet commented on #1431
How about a mode you can assign to a switch that tells the quad you are landing and to disarm immediately on gyro spike?

then you could have a 2 pos switch with:
* Disarm / Landing mode / (autolevel?)
* Arm / Airmode

[2016-10-31 08:49] rodgerramjet commented on #1429
I have the same board and noticed I started getting motor chirping (BF 3.0)  on the bench when using multishot synced 8/4. Didn't happen with oneshot125. (BF 3.0) Multishot unsynced 8/4/8 also made the twitches go away... but I still have pretty noisy gyro traces on pitch and roll (but that could be my setup)

@Copter38  would these behaviours tie in with your findings above- they seem to.... apar

[2016-10-31 12:27] #1366 closed

[2016-10-31 12:44] Copter38 commented on #1429
@**rodgerramjet** I don't think the behaviors you are describing are related to this issue. I rechecked BF3.0.0 against the issue I reported and the PPM readings are all super clean. No spikes at all to be seen and the jitter in the PPM signals is limited to 1µs whether on Multishot synched or unsynched.

Looking at the history of changes, I have noticed that in release #594 (in between BF3.0.0 an

[2016-10-31 13:01] Copter38 commented on #1429
Ok, so in an attempt to track this down a bit further, I have downloaded and tested builds #593 and #594 for the X_RACERSPI target. The changes described in my previous message were introduced in build #594.

The results are pretty conclusive: build #593 is working perfectly (as was BF3.0.0) and build #594 is displaying the reported issue!

Could a developer please look into this. Many thanks in a

[2016-10-31 16:45] UncleMcNutz commented on #1035
x_racerspi

[2016-10-31 17:57] AndersHoglund opened #1437 "DSHOT blocks ESC passthrough."
Just noticed I had to disable DSHOT and select ONESHOT142 to be able to connect to ESCs and update to blheli_s 16.42. If my REVO is configured for DSHOT150 or 300, I get en error like this:
![dshot_blocks_passthrough](https://cloud.githubusercontent.com/assets/15121917/19865209/8f56e192-9f9b-11e6-98bf-679f104daef2.jpg)

[2016-10-31 18:19] raphaelcoeffic commented on #1311
@jaapp: yes, I'd love that (both of them). However, I'm a bit concerned with the achievable bitrate over SPORT. Not sure it would be enough to transmit all the menu names. We might have to trick a bit here.

[2016-10-31 18:27] borisbstyle commented on #1437
Yes I noticed this too. Lets say that I wasnt surprised :)

[2016-10-31 18:46] mikeller commented on #1437
If dshot causes a problem for the blheli tool, it can easily be fixed in the firmware, by switching to oneshot before entering flasher mode, and switching back when exiting.

[2016-10-31 19:08] HaseebNain opened #1439 "UART6 can not be used as default for SERIAL_RX (F4)"
Trying to create a default config file for a target and cannot set a specific UART as default for serial communication to the radio (Taranis).

I am looking into why this is.

Having a target specify

    #define DEFAULT_RX_FEATURE      FEATURE_RX_SERIAL
    #define SERIALRX_PROVIDER       SERIALRX_SBUS
    #define SERIALRX_UART           SERIAL_PORT_USART6

looking into lines 714 -716 in "src/mai

[2016-10-31 19:20] AndersHoglund commented on #1437
No surprise, not even strange. Just wanted to make a note about it.

[2016-10-31 19:59] mikeller commented on #1439
If you try to set the serial port function in the CLI (`serial 5 64 115200 57600 0 115200`), does it show up in the 'ports' tab? If not it's a configurator issue.

[2016-10-31 22:38] blckmn commented on #1437
yes - we need to update the shutdown esc to include killing off dshot.

[2016-10-31 22:46] HaseebNain commented on #1439
After setting it in the serial it does not seem to update the configurator, it is also not showing any stick movement in the "Receiver" tab.

[2016-10-31 23:02] mikeller commented on #1439
What do you mean by 'enabled in the configurator'? As in 'configured in the CLI'? All I wanted to make sure that this is indeed a firmware bug, and not a configurator bug.

And yes, setting a default in the firmware should be possible, not sure what is wrong there.

What target is this? If it's a new one, check to make sure `#define USE_UART6` is set and `#define SERIAL_PORT_COUNT` are right and `

[2016-10-31 23:09] HaseebNain commented on #1439
Enabled as in turning the toggle switch "on".

All target defines are correct and as the receiver can be seen communicating with the board when enabled in the "PORTS" tab.

I have modified the functionMask to actively define it for serial comm.

    serialConfig->portConfigs[5].functionMask = FUNCTION_RX_SERIAL;

in the resetSerialConfig() function in "src/main/config/config.c"

when checking #ser

[2016-10-31 23:16] mikeller commented on #1439
Stupid question, have you done a full chip erase, or otherwise reset your config to defaults after adding the code to modify the `functionMask`?

[2016-10-31 23:37] andymac4182 commented on #1035
This would be great since the Turnigy Evolution has been released. The RX that is released with vbat support only has up to 4s and a lot of people are running 5 and 6s

[2016-10-31 23:53] HaseebNain commented on #1439
Yep, I've been chip erasing and resetting to defaults just to be sure.

[2016-11-01 01:01] Serbitor commented on #986
@AndersHoglund i feel like an idiot right now.
I managed to get out for a test flight and found that my build was no better than the official one. Toolchain is not the problem you are right to be suspicious.
If I try 2.9.1 with accelerometer disabled the baro works. If I do the same on 3.0.1 the baro sensor constantly returns 0.

I ran a git bisect between 1da7883 (current master) and 0ef6c3d (2.9

[2016-11-01 09:13] AndersHoglund commented on #986
OK, good you are digging deeper into this.
Just to check, exactly what FC and baro is this? You mention both bmp280 and MS5611. What baro type does the cli "status" command report?

[2016-11-01 10:49] jflyper commented on #1439
AVOID_UARTx_FOR_ related?

[2016-11-01 11:34] patternseek commented on #1075
OP may be dead but dRonin isn't and uses OPBL. Also for the Revo mini in particular DFU mode means bridging pins on a chip which is beyond many people's soldering skills.

[2016-11-01 12:19] Serbitor commented on #986
My FC is SpracingF3Mini which has BMP280 baro. Behavior is the same on two
separate FC.

On Tuesday, 1 November 2016 02:13:14 GMT Anders H�glund wrote:

[2016-11-01 16:10] martinbudden commented on #256
@larryho5 , any chance of getting this fixed for the 3.1 release?

[2016-11-01 16:22] HaseebNain commented on #1439
Possibly? I wouldn't think so, only because UART6 can be set to SERIAL_RX through the configurator.

[2016-11-01 16:45] HaseebNain commented on #1439
When actively setting
    serialConfig->portConfigs[5].functionMask = 64; //The value of FUNCTION_RX_SERIAL

#serial in the cli shows serial "2 64 115200 57600 0 115200"

[2016-11-01 17:41] HaseebNain commented on #1439
So I tried setting each UART to FUNCTION_RX_SERIAL in the initialization loop

     uint8_t index;
    memset(serialConfig, 0, sizeof(serialConfig_t));

    for (index = 0; index < SERIAL_PORT_COUNT; index++) {
        serialConfig->portConfigs[index].identifier = serialPortIdentifiers[index];
		serialConfig->portConfigs[index].functionMask = FUNCTION_RX_SERIAL;
        serialConfig->portConfigs[i

[2016-11-01 18:33] ZeeHammar commented on #1429
I am experiencing the same issue on the F303 v3.1 and betaflight 3.0.1 running 8k/8k synced. On the receiver tab in betaflight I get sporadic 20us spikes (+20 and -20) on all channels, including AUX's. The spikes happen regardless of stick position.

I didn't think the issue was with betaflight until I saw this issue. I pulled my D4R out, resoldered everything, re-routed wires, and even tried usin

[2016-11-01 19:50] HaseebNain commented on #1386
I have had the UART itself lock up when communicating to the ATMEGA, this issue occurs when working with the OSD (often when switching between values/pages).

The only fix I've had is to reflash the F4 firmware, power cycling the board does not seem to fix the communication.

[2016-11-01 20:16] mikeller commented on #1439
What is your `SERIAL_PORT_COUNT`, and what `SERIAL_PORT_` defines do you have?

[2016-11-01 21:43] #1397 closed

[2016-11-01 21:43] #1398 closed

[2016-11-02 00:22] Jahnkeanater commented on #1345
Maybe you could tie this into the anti windup code. Whenever the I term is saturated on the pitch or roll axis have the FC hold min throttle up 30 points until the I term calms back down to prevent the oscillation after a flip from causing an ESC desync.

Just something to give the motor a split second to spool up before a demanding maneuver.

[2016-11-02 00:34] Jahnkeanater commented on #1413
Try increasing P instead of D. You may also want to try decreasing I.
You also want to make sure that when centering the sticks you are not over correcting.
Letting go of the sticks can cause the copter to oscillate because the stick is oscillating.

[2016-11-02 07:35] S7ud commented on #1431
@Arakon, sure flips and rolls can produce high g-forces but these would be classed an intentional moves and can be ignored. Violent unintentional or uncontrolled g-force spikes could be picked out as a trigger to disarm automatically.

I know its better not to crash and experienced pilots are much better at this than novices. but hey, if it saves someones face then its worth doing right?

[2016-11-02 07:39] digitalentity commented on #1431
I've been looking into the problem and you really can't distinguish between
intentional and unintentional motion. Beginning/ending any rapid maneuver
from FC point of view is the situation when craft is not doing what pilot
commands it to.

From FC point of view hitting a branch and going into rapid yaw rotation is
indistinguishable from pilot commanding a stop from rapid yaw pirouette -
in both c

[2016-11-02 14:10] jflyper commented on #1386
@HaseebNain Can you provide a bit more information?
- Board
- BF rev
- MSP port for OSD
- External OSD hardware and software rev

[2016-11-02 14:46] jflyper commented on #1311
I (temporary?) added a code to traverse the menu contents of the CMS to measure count and total size of the text labels (not counting text as a value).
ATM, there are 103 labels which adds up to 926 bytes (including terminating zero).
Adding intelligent vtx support will likely to add around two dozens of labels and 100 bytes of data.

[2016-11-02 14:48] raphaelcoeffic commented on #1311
Well, ok, so that would be around 10 seconds pure download time… We’de better not do that all at once!

[2016-11-02 14:52] DanNixon commented on #1311
What if the user uses BF configurator to save a file to their Taranis SD card which can then be read by the LUA script that provided the client?

This way there'd be local caching without long download times. The file could be versioned and the CMS disabled if the Taranis copy of the strings is out of date.

[2016-11-02 15:02] raphaelcoeffic commented on #1311
I think we should first get both features merged the way they are now, and we can then take it to the next step and try to make them work together, if you don't mind.

[2016-11-02 15:03] jflyper commented on #1311
No prob. That was our original plan :)

[2016-11-02 16:31] HaseebNain commented on #1386
Hey @jflyper

This is a new F4 target that uses the Scarab-OSD codebase.
Betaflight 1.0.1 for F4 firmware.
We are using UART1 (RX: PA10 and TX: PA9)

An ATMEGA328 is being used for all OSD operation.

This seems to happen whenever the configurator is not connected.

[2016-11-02 16:32] HaseebNain commented on #1386
Planning on using an Arduino to see the information sent from the F4 and see if maybe there is an issue with the way data is parsed by the OSD firmware.

[2016-11-02 16:34] jflyper commented on #1386
Assigning external UART for MSP and use an external Minim is easier. Is that what you mean?

[2016-11-02 16:36] HaseebNain commented on #1439
SERIAL_PORT_COUNT is set to 4.

I did try increasing the number to 6 and saw no effect on the default.

    SERIALRX_UART is set to SERIAL_PORT_USART6

[2016-11-02 16:55] HaseebNain commented on #1386
Yes that's what I meant, sorry about the confusion.

[2016-11-02 20:26] mikeller commented on #1439
Sorry, I copy / pasted the wrong snippet in my last comment. I meant to ask you about the `USE_UARTX` stanzas that you are defining. If you're looking at https://github.com/betaflight/betaflight/blob/master/src/main/io/serial.c#L55-L89 , you can see that these need to be matched to `SERIAL_PORT_COUNT`, or things will not work properly.

Also, it might help if you shared your branch, so others coul

[2016-11-02 23:17] emaugain commented on #1378
I'm suspecting it was my receiver - closing for now

[2016-11-02 23:17] #1378 closed

[2016-11-03 01:44] Justincrowe commented on #1430
Did upping the min_throttle fix it. i Am having the exact same issue. with multiple builds. min throttle is 1050. spaz out after zero throttle hard flips and rolls. only for a second and i can save it. except for the last time, broke my voodoo vdq210. :(

[2016-11-03 03:51] jflyper commented on #1311
Enabling S.PORT on telemetry is the only configuration procedure?

If that's the case, the bridge port is not visible from CMS, so there must be a dedicated (pseudo-) displayPort device for CMS to handle the bridge.

[2016-11-03 06:59] atomiclama opened #1448 "Custom mixer not giving PWM output"
Needed to move one of my motors to a different pwm output so as usual did the changes in the mixer.
Now I get no output from the PWM to the ESCs, well the ESC no longer initialise.

mixer custom
mmix load quadx
save

no longer works

[2016-11-03 07:13] mikeller commented on #1448
Version information would be helpful.

[2016-11-03 07:20] atomiclama commented on #1448
Yeah sorry just thought about that.
It was CC3D built from master 2nd November.

I'm going to go back through some versions and see where it came in.

Maybe something to do with the new IO mapping?

[2016-11-03 07:24] mikeller commented on #1448
Well possible that something with custom mixer loading doesn't yet quite line up with resource mapping. But the good news is that you shouldn't have to do the custom mixer song and dance to reorder your motors any more. Just use `resource motor X PIN` twice to swap the pins for your motors...

[2016-11-03 07:27] atomiclama commented on #1448
Thanks that was what I was going to look into to fix my problem, dead pin on uP.
But then spotted this problem. I'll have a look until someone else beats me to it.

[2016-11-03 07:35] borisbstyle opened #1449 "Fix issue with -flto optimiser"
Currently this optimiser flag is disabled due to some unexplained issues in DMA function.

See more info in this PR
https://github.com/betaflight/betaflight/pull/1444

[2016-11-03 07:48] atomiclama commented on #1448
Do you have a link to the nightly builds please, been a long time since I used stock FW.

[2016-11-03 10:24] raphaelcoeffic commented on #1311
That's right, I'm afraid.

[2016-11-03 11:41] ledvinap commented on #1449
for reference,, copy from https://github.com/betaflight/betaflight/pull/1444#issuecomment-258076388 by @borisbstyle

[2016-11-03 12:34] llambkin commented on #1437
-or- cant we push firmware over d-shot also? wouldnt it be quicker to digitally send the firmware? Or am I overcomplicating things?

[2016-11-03 13:10] atomiclama opened #1450 "Motor output PWM incorrect."
Testing local build from this master this morning. I can see that the pwm out on the CC3D is broken, no other targets to test on.

As you can see from the attached pic motors 0-2 have not been adjusted to the oneshot scaling and are outputting a 1ms pulse.

Motor 3 is correct.
![image](https://cloud.githubusercontent.com/assets/6804785/19967101/b449926a-a1c6-11e6-8f0f-479d684e72d3.png)

I have had

[2016-11-03 13:20] borisbstyle commented on #1450
looks like inverted for oneshot on 1-3

[2016-11-03 13:25] atomiclama commented on #1450
Nah it's the 1ms default pulse width.

[2016-11-03 13:26] atomiclama commented on #1450
Ok it's a conflict with TIM4 used for PWM input.
If I disable PWM rx and use serial rx then they are ok.

[2016-11-03 13:27] borisbstyle commented on #1450
@atomiclama Yeah thought something like that. But I cant remember that changed any recently?

[2016-11-03 13:28] borisbstyle commented on #1433
Where is it used? There is only one betaflight string I believe. Nothing else

[2016-11-03 14:42] jflyper commented on #1433
There are several.
- [https://github.com/betaflight/betaflight/blob/master/src/main/blackbox/blackbox.c#L1172](https://github.com/betaflight/betaflight/blob/master/src/main/blackbox/blackbox.c#L1172)
- [https://github.com/betaflight/betaflight/blob/master/src/main/io/serial_cli.c#L3611](https://github.com/betaflight/betaflight/blob/master/src/main/io/serial_cli.c#L3611)
- [https://github.com/betaf

[2016-11-03 16:29] synFPV commented on #1430
i upped min throttle to 1055 and its all fine now, thanks for the help!

[2016-11-03 16:40] martinbudden commented on #1433
There is now. See PR https://github.com/betaflight/betaflight/pull/1452

[2016-11-03 16:41] KillerUAV opened #1453 "SPRacing FC no communication with BETAfc Stuck in Boot Mode"
I have been working on this for all this week,>>>I AM NO NOOB TO THIS EITHER >>4years full time with UAV and mini quads.>> OK so I have an SPRacing FC that is not communication with the Cleanflight or BetaFlight Configurator.  I have all the correct functions checked and double checked so unless I am missing something new there is an issue.   Serial rx is configured on UART3 Sbus selected in Confi

[2016-11-03 16:44] jflyper commented on #1433
Thanks!

[2016-11-03 16:44] #1433 closed

[2016-11-03 17:32] jflyper opened #1454 "Entering CLI on LTO-less binary wedges FC"
Recent change has introduced an issue that entering cli with configurator wedges FC. Reproducible with targets SPRACINGF3, OMNIBUS and OMNIBUSF4.

Starting bisect now.

I think it's -flto ... #1444

Related: #1449

EDIT
My environment: MacOSX 10.11.6, gcc-arm-none-eabi-5_4-2016q2

[2016-11-03 17:55] jflyper commented on #1453
@KillerUAV I think this is a support request. Can you come to the SPRACINGF3 support thread @RCG?

[https://www.rcgroups.com/forums/showthread.php?t=2387038](https://www.rcgroups.com/forums/showthread.php?t=2387038)

[2016-11-03 19:16] mikeller commented on #1450
Could it be that any of the resource reshuffling done for DShot is causing this? Or another undesired side effect of disabling link time optimisation?

[2016-11-03 19:19] mikeller commented on #1437
@llambkin Not sure if adding a second protocol to flash firmware is useful. Having one protocol that is supported by all hardware seems to be less prone to getting broken. And firmware updates are something that you do not perform very often, so having them take a couple of minutes should be acceptable.

[2016-11-03 20:16] mikeller commented on #1448
http://andwho.sytes.net:8080/job/BorisB_BetaFlight/lastSuccessfulBuild/artifact/obj/

[2016-11-03 21:07] #1453 closed

[2016-11-03 21:56] blckmn commented on #1450
It is most likely the code to prevent timer conflicts

I only tested it on PPM, will have a quick look and see if it is working for PWM

[2016-11-03 21:59] blckmn commented on #1450
Actually ... there is no code to prevent timer clash for PWM. if you use PWM you only have standard (1ms) output allowed...

[2016-11-03 22:05] blckmn commented on #1450
I am thinking we disable PB6 for input as a default on CC3d - it can be remapped if needed.

[2016-11-03 22:45] borisbstyle commented on #1449
@ledvinap
issue fixed!
https://github.com/betaflight/betaflight/commit/7100454a1d26582e9830056600c3d4b015c36b4c

[2016-11-04 09:42] atomiclama commented on #1450
Ok so this is a known limitation of the CC3D and similar.

Would it be worth putting a block on setting oneshot if PWM is set.
Or a change in default RX method as oneshot is enabled as default.
Or just a note in the wiki.

[2016-11-04 09:46] borisbstyle commented on #1450
No that can probably be resolved by rearranging the timers. Will have a
quick look and let you test

Saying that I think nobody should be using PWM nowadays ;p

2016-11-04 10:42 GMT+01:00 Andy <notifications@github.com>:

[2016-11-04 09:51] borisbstyle commented on #1437
Actually the firmware update is already digital :D.

2016-11-03 20:19 GMT+01:00 Michael Keller <notifications@github.com>:

[2016-11-04 09:53] atomiclama commented on #1450
Agreed but some people still are.

I only spotted this as I was testing out the resource mapping on a default build on the bench. Would have missed it if I had gone straight to my quad with iBus

Yeah sure I'll test it.

[2016-11-04 09:58] borisbstyle commented on #1450
@atomiclama Thats indeed a danger you get now. Nobody is even testing PWM on all targets. Even I dont have PWM setup to test. I expect many issues in there on various targets. Its just waste of resource supporting PWM.

[2016-11-04 09:58] borisbstyle commented on #1450
btw I agree configurator would disallow PWM on targets with expected issues

[2016-11-04 13:27] borisbstyle commented on #1413
Upgrade to 3.0.1 and try default settings.

Usually tuning issue should not be an issue here on github.

[2016-11-04 13:27] #1413 closed

[2016-11-04 14:32] Aileron8 commented on #1429
I have been experiencing this issue since I received my first Xracer-V3.1 back on BF2.9, 3.0, and now 3.1. I have always avoided the motor twitches by using MultiShot & cranking LT's up to 8K/2K/32K, unsynced of course.

[2016-11-04 15:06] ZeeHammar commented on #1429
I confirmed the 20us spikes were no longer present on the receiver tab when using OneShot42 synced (8k/8k) and the 3D craft representation is no longer moving around.

I do seem to now have some motor oscillations at high throttle that I didn't  have before despite having my PID's set quite low. But I suspect that may be unrelated to this issue.

[2016-11-04 15:07] FinalFrag commented on #1359
These are my settings on Aikon 30A BLHeli_S ESCs.

set 3d_deadband_low = 1464
set 3d_deadband_high = 1520
set 3d_neutral = 1492
set 3d_deadband_throttle = 5

In BLHeli I keep them at 1000 - 1500 - 2000

No idea why the neutral is 8 below where it should be, but I can confirm there is something "wrong"

[2016-11-04 15:31] borisbstyle commented on #1454
@jflyper That has been reverted yesterday. Try again. Dont forget to clean before compiling!

[2016-11-04 15:32] borisbstyle commented on #1450
also try unsynced pwm! it might work!

[2016-11-04 15:34] jflyper commented on #1454
Yes, Sir!  As clean as a night before the Big-bang, Sir!

[2016-11-04 15:38] #1454 closed

[2016-11-04 16:19] Cthutquz opened #1458 "New build betaflight_3.1.0-655-3b50641 ( Fury F4 )"
Save flash to file of blackbox does not work

[2016-11-05 01:02] nigelsim opened #1461 "Baro on NAZE32 REV6 stops in 3.0.1"
Using a NAZE32 REV6 the barometer works in 3.0.0 but doesn't in 3.0.1.

[2016-11-05 02:03] tac07 commented on #1418
I think i'm observing the same behaviour here.

Beeping pattern on plugging in the Battery goes something like this:
.......--   .  .  .

Disabling BAT_CRIT_LOW makes the bootup silent.

naze rev5
barebones PDB (no filters or such, only a 5v voltage regulator for the FC)

[2016-11-05 06:09] martinbudden commented on #1311
Actually, I see it as an advantage having a displayPort over smartport, and it should be in an independent module. We need to get the CMS code merged before this, but that shouldn't bee too long now.

[2016-11-05 07:23] oliv98 opened #1463 "BrainFPV RE1 flipping over"
Hi folks, having some strange issue with RE1, DYS20A, BF 3.0.1,Tmotor F40, 4S

just finished mounting the quad and I had some strange behavior in angle mode. Did it twice.
The quad is just flipping over without me doing anything significant stick input while hovering since a minute.
I've included blackbox log, this is at the end of the last log(the 10th). Any help appreciated.

[blackbox_log_2016-

[2016-11-05 12:10] Miniwen commented on #1461
Actually for Naze32 rev6 barometer and magnetometer are disabled since version 3.0 of Betaflight (flashinf 2.9.0.1 brings them back as well as CLI comands )changing sliders under configuration tab doesn't make any difference. CLI comands not recognized.

[2016-11-05 13:44] mikeller commented on #1461
Yes. Support for barometer and magnetometer was removed from NAZE in 3.0 since this target was running out of flash space, and new features like the new PID controller and filters needed additional space.

[2016-11-05 14:17] raphaelcoeffic commented on #1311
@martinbudden I'll start as soon as the LUA config script is done, and the CMS code is merged.

[2016-11-05 14:45] martinbudden commented on #1311
@raphaelcoeffic , great. There is still a bit to do on the CMS code, but it's almost there now.

[2016-11-05 14:48] raphaelcoeffic commented on #1311
No worry, I'm not yet done with the normal setup LUA script either ;-) Maybe a couple of days?

[2016-11-05 15:08] martinbudden commented on #1311
Yes, at least a few days

[2016-11-05 15:21] Miniwen commented on #1461
And which FC's still support Baro and Mag? SPF3 does?

[2016-11-05 16:32] brat002 opened #1468 "Sparky 2 accidentally stops motors"
BF 3.0.1
Sparky 2.0
Kiss ESC 30a
D4r-II PPM
No vbat/rssi connected
ACC/Gyro enabled. No any other settings.
4khz loop time
After 5-10 seconds of flight in angle mode 1/2/3 motors accidentally stops and led on Kiss is not light on. Looks, like ESC cant detect PWM signal. Motors still not spin until controller is reboot.
Before BF I used Dronin firmware and it worked as expected.

[2016-11-05 19:21] mikeller commented on #1461
The small flash size problem and removal of features so far only occurs on flight controllers with an F1 CPU, the F3 and F4 CPUs that are used have more flash.

[2016-11-05 19:30] micmax79 commented on #986
I'm running a F3 Racing Deluxe "clone" from Banggood (Product ID: 1060619) with MS5611 pressure sensor. I'm also getting strange Baro readings. If I move my quad up and down, I can see the height difference in the sensors tab. As soon as I keep the quad in the same position, the readings start drifting in the negative direction. I'm quite sure that the drift is not a temperature drift as the F3 bo

[2016-11-05 19:44] Serbitor commented on #986
@micmax79 can you disable the accelerometer and test the barometer again please

[2016-11-05 20:11] micmax79 commented on #986
@Serbitor If only Baro is enabled, the height is **always** zero. I2C Error is still 1.

[2016-11-06 02:19] jflyper opened #1470 "MSP_CANVAS or else"
This is for discussion of whether to allocate a new MSP message type MSP_CANVAS (this particular name is subject to change, perhaps MSP_DISPLAYPORT) to support display port abstraction on OSDs on serials and other transports.

Before CMS and associated drivers (#1422) get finalized, I would like to hear community's comments/opinions on whether to allocate a new MSP message for sending CMS text dra

[2016-11-06 04:04] ChrisWithem opened #1471 "sbus not working in 3.0.1 on Flip32 Omnibus (F3)"
I recently received a Flip32 Omnibus FC, promptly updating the f/w to most recent (3.0.1) but was unable to get sbus to work.  I'm using a Futaba T10CHP tx with FrSky TFR4SB rx.  After toggling ON "Serial RX" on UART3, and confirming Receiver Mode and Serial Receiver Provider were correct, I still failed to get any activity on the Receiver tab.  Even tried re-flashing and full-chip-erase.  I event

[2016-11-06 04:33] mikeller commented on #1470
I think it's a good idea. `MSP_OSD` cannot easily be repurposed, since it's being used by legacy OSD devices, and will probably be so for a while.

We could probably avoid using a new MSP code by reallocating `MSP_SPECIAL_PARAMETERS = 98`, which was only used in a hack to support the by now retracted (due to a dangerous bug) release 2.9.0.

[2016-11-06 04:35] mikeller commented on #1468
Are you using PWM as the FC - ESC protocol? If so, this is a duplicate of #1450.

[2016-11-06 04:41] mikeller commented on #1458
Yes, there is something wrong with jumbo frame support for the moment for dataflash download. Will look into this when I get around to it.

[2016-11-06 04:47] mikeller commented on #1450
The problem is we are talking 20+ features times 20+ boards times a dozen or so firmware versions, which makes for a staggering number of feature combinations that the configurator would have to know about. My hope would be that the to be decided upon 'return supported hardware features' command on the FC would return 'supported / unsupported' and 'permanent / dynamic', forcing the configurator to

[2016-11-06 05:01] jflyper commented on #1471
This looks like a support request. Can you close this and come the RCG thread? You can copy & paste the question.

[Omnibus F3AIO](https://www.rcgroups.com/forums/showthread.php?t=2711617&page=47#post36128027)

[2016-11-06 09:14] llambkin commented on #673
Hello @basdelfos, are you able to rebase your build on the current master? I would like to test your code with D-shot

[2016-11-06 09:18] llambkin commented on #1437
Is it also blocking escprog? I have just done a build on my REVO, and I cant flash KISS ESCs using the escprog command.

[2016-11-06 09:24] llambkin commented on #1094
Is it possible to make the FC send the same stream out all PWM outputs? this would save some time. The KISS firmware does it, so I dont see why we couldnt do it also. I dont see any reason not to have it, its not like you run different firmware on each ESC.

[2016-11-06 09:42] mikeller commented on #1094
@llambkin:

I believe @sambas has implemented this already?

[2016-11-06 09:47] TheAngularity opened #1473 "latest commits bf 3.1.0 - make process shows errors and ledstrip does not work"
checked out latest commits ... make target SPRACINGF3EVO brings following errors and the led strip is not working anymore 👎

[code]

[2016-11-06 09:58] brat002 commented on #1468
No, I use D4r-II with PPM output.

[2016-11-06 10:11] llambkin commented on #1094
Yeah build 658 on the Jenkins server mentions inverted multiple output. I
figured thatd work with KISS FC since it has the inverter buffers onboard.

Is there a different command that does all ESCs already in 3.1?

On 6 Nov. 2016 5:42 pm, "Michael Keller" <notifications@github.com> wrote:

[2016-11-06 11:11] basdelfos commented on #673
@llambkin Done. You can pull this PR: https://github.com/betaflight/betaflight/pull/1457

It was a quick rebase, it builds but have not tested it yet. Have to go off to a testflight for an upcoming FPV event. Impression: https://youtu.be/lwk1S_ILotk

[2016-11-06 11:20] martinbudden commented on #1470
Althought the MSP message types are scarce, they are there to be used and this is certainly a worthwhile usage of them. Repurposing an existing type, as @mikeller points out, is problematic.

So I think we should allocate a new MSP message type.

[2016-11-06 11:41] digitalentity commented on #1449
@borisbstyle interesting, why disabling LTO fixed this.

[2016-11-06 11:41] #1449 closed

[2016-11-06 11:43] geebles opened #1475 "Current master for 3.1.0 does not work with SERIALRX (and maybe more?)"
Hi, when using the latest 3.1.0 master branch (e.g. build here http://andwho.sytes.net:8080/job/AndWho_Betaflight/382/) with target SPRACINGF3, with SERIALRX on UART3, set to either SPEK1024 or SPEK2048, on the 'RX' tab when the radio is powered on ALL channels change to '988' (minimum value) and remain there until the radio is powered off (where they jump back to their failsafe positions).

Other

[2016-11-06 12:17] AndersHoglund commented on #1475
Confirmed on REVO. Spektrum Sat works fine on 3.0.1.
With 3.1 I it is broken. I get a value of 988 on all channels. Turning Tx off results in 1500 on R/P/Y, 885 on Throttle and 988 on all remaining AUX. So there is some connection, makes failsafe (?) kick in.

    # diff
    # version
    # Betaflight/REVO 3.1.0 Nov  6 2016 / 13:04:50 (578bf91)
    # map
    map TAER1234
    # serial
    serial 2

[2016-11-06 14:06] artempolikarpov opened #1476 "beeper -ON_USB command turns off beeper at all"
Board: SPF3 Evo brushed
STR:
Set beeper -ON_USB and save

ACR:
Beeper doesn't work by switch.
Beeper doesn't work for LOW BATT warning and other beeper modes

If set beeper ON_USB back - beeper works fine

[2016-11-06 14:15] ChrisWithem commented on #1471
Whoops.  Sorry about that.  Will do.

On Sun, Nov 6, 2016 at 1:01 AM, jflyper <notifications@github.com> wrote:

[2016-11-06 14:16] #1471 closed

[2016-11-06 14:21] brat002 commented on #1468
I lowered D and looks like problem solved.
Default D is too large.

[2016-11-06 17:17] Noctaro commented on #1450
hmmmm.....agreed, but lots of the available china multicopter come with PWM receiver and PWM esc on a CC3D setup... I wonder if this could have something to do with the "rolls of death" thats occuring at full stick deflection rolls on my CC3D with PWM transmitter and PWM ESC? (running unsynced at 400hz)

[2016-11-06 19:53] jflyper commented on #1470
Okay, what about the name? MSP_CANVAS is already a history now :) MSP_DISPLAYPORT?

[2016-11-06 20:09] blckmn commented on #1473
https://github.com/betaflight/betaflight/pull/1478 resolves this.

[2016-11-06 20:52] mikeller commented on #1476
I am assuming you are flying 1S batteries? If so, try setting `battery_notpresent_level` in CLI to someting like 27 (2.7V).

[2016-11-06 21:13] TheAngularity commented on #1473
@blckmn
not really ... errors are done but ledstrip not working :(

[2016-11-07 03:37] Fr12r commented on #1035
Slowing switching over, the FlySky system. It's really good system for mini quads. None of the receivers have a separate pin for telemetry but all support iBus.

[2016-11-07 04:15] andymac4182 commented on #1035
I believe this one is meant to have Telem https://hobbyking.com/en_us/turnigy-ia6b-v2-receiver-6ch-2-4g-afhds-2a-telemetry-receiver-w-sbus.html. Hopefully someone releases a RX with telem soon. There will be a big market with FlySky stuff getting some push behind it.

[2016-11-07 06:45] blckmn commented on #1473
Can you output the results of the `resource` cli command?

If LED_STRIP is not listed, can you reset your settings.

[2016-11-07 08:15] TheAngularity commented on #1473
here the output ... i think all is good

[code]

[2016-11-07 11:45] ta33ers opened #1484 "Issue with motor 3, and 4 being reversed. CLOSED"
I am still having issues with motors 3, and 4 being switched. I have a Seriously Dodo Rev3, I installed betaflight 3.1, which I built from source, as the configurator was only loading 3.0.1. I apologize if this has been ask, and answered, as I have done several searches, and found a closed entry, that stated this had been corrected. Thanks to all, and may you have a good day.

[2016-11-07 12:00] ta33ers commented on #1484
Sorry, too little sleep, and too little PAYING ATTENTION, everything is working, I truly appologize.

[2016-11-07 12:01] #1484 closed

[2016-11-07 12:28] Guidus93 opened #1485 "BF 3.1.0 Piko BLX (Kombini) - cant save Dhsot setting"
Hei, is there someone that have flashed bf 3.1 and tested dshot? I've flashed kombini with bf 3.1,aikon 0a with dshot 16.42 and using configurator 1.8.5, in the configurator I can see dshot protocol but cant save it,in the cli the dshot protocol are not allowed values in pwm motor protocol... I've read a lot on rc group and seems that problem is because the fc is not support by dshot for the momen

[2016-11-07 13:16] borisbstyle commented on #1485
When dshot is not supported on the board it will jump back. It is desired behaviour until dshot is supported

[2016-11-07 13:16] #1485 closed

[2016-11-07 13:49] llambkin commented on #1470
Hahaha, I just cloned a build tonight. It seems that MSP_DISPLAYPORT wins :D

[2016-11-07 14:58] marcroe commented on #1035
I think we should try to make iBus telemetry work somehow. Even though the TGY-iA6C has come out, the IA6B is not dead yet, especially because of its good range and the ability to support more than 4S battery voltage over telemetry as mentioned.
The guys over at Cleanflight are almost there. They're still dealing with the echo on the serial line (RX and TX are tied together), but otherwise it seem

[2016-11-08 00:57] Armand9x opened #1489 "X-racer F303 can't turn off Blackbox on Betaflight 3.0.1"
I have it switched off with the tab and I also typed "feature -Blackbox" to no avail. It still records when armed.

[2016-11-08 00:57] andymac4182 commented on #1035
Thanks @marcroe. Hopefully this will help push FlySky/HobbyKing to release a RX with better support for miniquads.

[2016-11-08 07:14] wggitts opened #1493 "Ability to manually specify serial port"
On OpenBSD 6.0-current using Chromium 54.0.2840.87 (I don't think versions matter), I am not able to manually specify the serial port. the dropdown just says "Manual" and doesn't allow me to specify /dev/ttyXX

There may be an advanced mode to enable this, but I'm not aware of how.

[2016-11-08 07:47] mikeller commented on #1493
Does it work if you manually enter your serial port device in the input box to the left of the dropdown?

(Also, what is the name of the device in OpenBSD 6.0?)

[2016-11-08 08:11] RBeaubien opened #1494 "mAh meter doesn't work in KISS build"
Turning on KISS option, using OSD attached current sensor, the mAh counter always reads 0.  When building for CleanFlight/BetaFlight, it works properly.

[2016-11-08 09:11] andymac4182 commented on #1494
Which OSD are you using? Sounds like an OSD issue.

[2016-11-08 09:23] RBeaubien commented on #1494
It's one I am designing.  The current sensor itself is working properly (connected to ADC1[Pin 24]) and is showing the correct amperage when compiled under either CLEANFLIGHT, BETAFLIGHT or KISS, but the mAh value never updates when compiled for KISS.

[2016-11-08 10:17] AndersHoglund commented on #1475
Re-test on latest master HEAD ( 3fe8e4b) , Serial Sat Rx still very broken on REVO and SPRACINGF3.

[2016-11-08 10:21] TheAngularity commented on #1473
@blckmn
output from your latest pr #1490 ... ledstrip still does not work

[code]

[2016-11-08 11:50] TheAngularity commented on #1473
@blckmn
searching on jenkins and found the the last build where the ledstrip still works
[betaflight_3.1.0-656-537e4ce](http://andwho.sytes.net:8080/job/BorisB_BetaFlight/656/)

[2016-11-08 13:48] raphaelcoeffic commented on #1311
![image](https://cloud.githubusercontent.com/assets/1050031/20101437/488e64ec-a5c2-11e6-94ab-919d58db645e.png)
![image](https://cloud.githubusercontent.com/assets/1050031/20101443/50a4c202-a5c2-11e6-918f-8d16da63b961.png)
![image](https://cloud.githubusercontent.com/assets/1050031/20101450/598e2e12-a5c2-11e6-891f-45fe5ec7fc70.png)

[2016-11-08 14:53] skullq commented on #1475
I also have same issue in 3.1.0 build#666 . Flip32 F4(REVO). Spektrum Sat on UART1 doesn't work and all values on receiver tabs got to 988. Going back to 3.0.1 with same setup no issue.

[2016-11-08 15:51] llambkin opened #1497 "D-Shot Beepedy Beep Beep after save and reboot BF 3.1.0"
Hello all,

I noticed that when I hit save and reboot in CMS or Configurator, the KISS 24's beep like there is something wrong. I think it is a failsafe. The ESC's arm and work correctly but on disarm, they go back to beeping again.

Is there some way we can tell the FC to reset the ESC's after the FC boots? This might stop the beeping. I am sure that the KISS FW wont have this problem because the

[2016-11-08 16:18] llambkin commented on #1311
WOW! This stuff is next level :D GREAT WORK :D

[2016-11-08 16:20] llambkin commented on #1311
Is there any changes to the wiring to make this work @raphaelcoeffic? do we just need the RX telemetry wire connected, or both the TX and RX for s.port?

[2016-11-08 16:43] raphaelcoeffic commented on #1311
If you have Smart Port Telemetry working, you're good to go. OpenTX 2.2 is required as well.

The corresponding LUA script should be ready very soon.

[2016-11-08 21:50] raphaelcoeffic commented on #1311
As long as smart port telemetry is already working for you, you're covered.

[2016-11-08 23:02] #1494 closed

[2016-11-09 02:24] stupport81 commented on #1475
PPM RX input on SPRacingF3 target not working for me on 3.1.0 build 666. 3.0.1 is working fine.

[2016-11-09 07:52] jflyper commented on #1470
Yeap :)

[2016-11-09 07:52] #1470 closed

[2016-11-09 14:30] phredieFPV opened #1508 "No roll pid authority REVO betaflight 3.0.1"
I can't work out what the cause of this is. Reflashing the board fixes it for a while but within the next 2-3 flights the issue will start again.

Stick commands work but the quad will not hold its attitude on the roll axis. Blackbox log shows that without stick inputs motors 1&3 and 2&4 are always the same value (see attached blackbox log and dump), The blackbox log is of me manually roll/pitch/y

[2016-11-09 16:52] Cthutquz opened #1510 "#679 (09.11.2016 11:41:04) passthrough not working"
#679   passthrough not working

[2016-11-09 17:11] blckmn commented on #1510
Any more details? FC / ESCs method use etc

[2016-11-09 17:13] blckmn commented on #1461
It may be possible to add baro back in future if there's  some other lesser used functions that are more sacrificial to free up space.

[2016-11-09 17:13] #1461 closed

[2016-11-09 20:37] mikeller commented on #1461
Not sure how much value is in that though. All the (acro-) NAZEs that I've used, the baro readings were always going all over the show, making the data all but useless.

[2016-11-09 20:52] nigelsim commented on #1461
I guess the best outcome for this ticket would be that this been noted in the NAZE notes page. The only time I ever actually used the baro on 3.0.0 was to help get a sense of the height using the telemetry. I never actually did baro mode.

[2016-11-09 21:05] AndersHoglund commented on #1475
Tried serial rx on REVO again, same result. Started testing with a fresh flash and "Reset Settings", only added UART3 Serial Rx, Spektrum2048. Still fails.
Then added a few things, DSHOT150, LED-strip. No change.  From what I can see there is no DMA conflict. Resource list output:

    Currently active DMA:
    DMA1 Stream 0: FREE
    DMA1 Stream 1: MOTOR3
    DMA1 Stream 2: MOTOR1
    DMA1 Stream

[2016-11-09 21:18] martinbudden commented on #1475
@AndersHoglund , I'm suspicious of this PR https://github.com/betaflight/betaflight/pull/1162 , in particular this line: https://github.com/betaflight/betaflight/pull/1162/files#diff-2da41031eb7d7f076567ebda42e5223eR151

Do you have an RSSI channel set? If not, could you try setting one and see if that fixes the proplem.

[2016-11-09 21:31] Copter38 commented on #1429
The issue originally identified with PPM RX has been tracked down as far as BF3.0.1 goes (thanks to @mmiers). More details on this are available [here](https://github.com/betaflight/betaflight/issues/1227).

However, a quick test of Jenkins alpha builds 667 et 680 for the XRACER_SPI target shows that PPM_RX does not work on these BF3.1 Alphas. These tests were done on firmware with all parameters

[2016-11-09 21:32] AndersHoglund commented on #1475
Maestro! You have got something there. RSSI ch was "disabled".
RSSI ch 1 did not help. but RSSI ch 12 did. But it also needed a re-boot. Just changing channel does not help.

[2016-11-09 21:41] martinbudden commented on #1475
@AndersHoglund , can you try this to see if it fixes the problem - https://github.com/betaflight/betaflight/pull/1513.

Hopefully it should work if RSSI ch is set or disabled.

[2016-11-09 22:12] AndersHoglund commented on #1475
Yes, PR #1513 fixes this issue.
Solution available on master from commit (458de15f910f234160c25a8c8c1334575f20839d) ,and
Jenkins build 682, http://andwho.sytes.net:8080/job/BorisB_BetaFlight/682/

[2016-11-09 22:19] martinbudden commented on #1475
Closing, fixed by PR https://github.com/betaflight/betaflight/pull/1513

[2016-11-09 22:19] #1475 closed

[2016-11-09 22:51] TheAngularity commented on #1473
merged latest commits ... now i'm on b2ad1a2 but ledstrip still does not work

any news @blckmn fixed this bug

[2016-11-10 00:09] Shadow-MasterTf opened #1516 "Build #683 PPM not working"
PPM not working on spracingf3

[2016-11-10 00:47] brycedjohnson commented on #1448
Custom mixer also did not work for me to swap around pins.  Using build 682 - http://andwho.sytes.net:8080/job/BorisB_BetaFlight/682/

Going to try the resource motor x pin next

[2016-11-10 00:56] brycedjohnson commented on #1448
Swapping motors with the resource motor x pin works pretty slick!

[2016-11-10 02:34] CFBronson commented on #1425
omg really.......

[2016-11-10 02:47] nathantsoi commented on #1425
i think only the ppm/s.bus port has the serial inverter, the uart1 pin on the bottom and the dsm port dont go through the inverter.

https://nathan.vertile.com/blog/2016/10/12/omnibusf4/#receiver

[2016-11-10 09:59] raymonkroeze opened #1519 "Can't remap motor outputs in bf3.1"
I wanted to try Dshot. But motoroutput 3 doesn't work on my FC so i have to remap the motoroutputs. In BF3.1 i can remap but i can't load the custom mixer and save. On spracingf3 target.
Anyone an idea why?

[2016-11-10 10:05] atomiclama commented on #1519
There is a problem with  the custom mixer at the mo

https://github.com/betaflight/betaflight/issues/1448

please use the resource mapping to map to a different pin.

[2016-11-10 10:20] raymonkroeze commented on #1519
thanks for the fast reply! Fixed it! This works amazing!!!!!

[2016-11-10 10:25] atomiclama commented on #1519
As this is a duplicate issue can you close it please.

[2016-11-10 10:28] #1519 closed

[2016-11-10 10:43] raymonkroeze opened #1521 "another remapping/resource Dshot bug"
If I use resource to change motorpins i can't use Dshot and vice versa! Anyone has an idea why?

[2016-11-10 11:44] raphaelcoeffic commented on #1311
So here is the PoC setup script. It does not cover much functionality, but it works so that PIDs can be configured.

@martinbudden Is it now time to start the integration with the CMS?

[2016-11-10 11:54] borisbstyle commented on #1521
Usually most targets only have motor 1-4 for dshot available.

[2016-11-10 12:01] raymonkroeze commented on #1521
I kinda expected this already.. I will order a new FC. Thanks for the reply!

[2016-11-10 12:17] martinbudden commented on #1311
@raphaelcoeffic , the CMS changes have all been merged in, so yes, it's now time to start integrating this.

[2016-11-10 12:19] raphaelcoeffic commented on #1311
any hints or pointers? Does smartport need to become a mspPort?

[2016-11-10 12:28] martinbudden commented on #1311
You should create a displayport over your smartport, similar to the way there is a displayport over the `MSP_DISPLAYPORT` command. See https://github.com/betaflight/betaflight/blob/master/src/main/io/displayport_msp.c to get started

If you have any problems, just ask.

[2016-11-10 12:57] Cthutquz commented on #1510
Sorry it's my fault.   passthrough  working only oneshot !

[2016-11-10 12:57] #1510 closed

[2016-11-10 18:20] HaseebNain commented on #1386
It seems that the information is not the issue.

I have attempted different speeds, assuming that the F4 is simply too fast for the ATMEGA but saw no improvement over the different preset MSP speeds in config.h

I am wondering if it is worth reworking the MSP in the OSD firmware, perhaps constantly taking in MSP_RC information as it does now, but once the config menu is enabled, only taking MSP_RC

[2016-11-10 19:07] martinbudden commented on #1386
Have you tried changing the serial task priority and period?

Try in `fc_tasks.c` try setting `staticPriority` for `TASK_SERIAL` to `TASK_PRIORITY_MEDIUM` and `desiredPeriod = 1000000 / 200`. I'm not proposing that as the final solution, but changing it will show if it is a priority issue.

[2016-11-10 20:25] TheAngularity commented on #1473
nice 👍 ... @blckmn latest #1524 fixed the ledstrip bug on my evo ... thx

[2016-11-10 20:39] blckmn commented on #1473
That's great news. Credit goes to @sambas for the discovery of the fix. Seems there's a slight difference in how the DMA controller functions between F1, F3 and F4. A few gotchas.

[2016-11-10 20:39] #1473 closed

[2016-11-10 22:37] HaseebNain commented on #1386
I just tried it and noticed no significant improvement.

I tried High priority and still had no impact.

This does not seem to be a priority issue, however it was definitely worth checking out.

[2016-11-11 00:48] CFBronson commented on #1425
Thanks for the reply but... there is still no way to bind it with the GUI
correct? I have to use a ppm rx to bind the sat first?

On Wed, Nov 9, 2016 at 9:47 PM, Nathan <notifications@github.com> wrote:

[2016-11-11 06:21] blckmn commented on #1439
https://github.com/betaflight/betaflight/pull/1527

It is because if a serial port is not defined, then there will be a mismatch between the port config index, and the usart identifier enum value.

[2016-11-11 08:17] martinbudden commented on #1386
I wasn't too hopeful that it was a priority issue, but it's worth eliminating that possibility.

[2016-11-11 08:25] martinbudden commented on #1458
Closing, this is a duplicate of https://github.com/betaflight/betaflight/pull/1499

[2016-11-11 08:25] #1458 closed

[2016-11-11 08:30] TheAngularity opened #1531 "dshot on spracingf3evo"
after select dshot and reboot - the fc hangs up and usb is not recognizing.
only dfu mode and reinstall firmware with full chip erase brings the fc back to working.
any suggestions whats wrong :((

[2016-11-11 09:23] #1418 closed

[2016-11-11 10:12] TheAngularity opened #1532 "uncontrolled warning led flashing and buzzer beeps in faster frequency"
@mikeller latest #1479 /  afc8704 have crazy new warning effects
after disarmed a while the led flashing red more then 6 times and when i use the buzzer and the ledstrip-beeper it beeps and flash in a more as faster frequency (like a stroboscope)

[2016-11-11 11:02] jflyper commented on #1386
I think we should stop the guess work and start working on more technical way.

I would start by hooking up a logic analyzer to (1) PWM port of the S.BUS receiver, (2) UART TX and (3) UART RX. MWOSD will be modified with a code to echo selected channels, or state machine variables on serial. This output will be interleaved with MSP requests, but should have minimum effect.

With this setup, we can

[2016-11-11 14:42] andymac4182 commented on #1531
Looks like this is a known bug. https://github.com/betaflight/betaflight/wiki/BetaFlight%20and%20Dshot#fc-targets-with-dshot-code-added-but-in-need-of-testing

[2016-11-11 15:10] martinbudden commented on #1386
@jflyper , it would be great if you could do that.

[2016-11-11 17:42] jflyper commented on #1423
Okay, I'm closing this.

[2016-11-11 17:42] #1423 closed

[2016-11-11 20:48] blckmn commented on #1437
This should now be resolved.

[2016-11-11 22:00] spudw opened #1537 "Multishot RGB LED Motor Clicking"
I recently swapped out my old ESCs for ones that support MultiShot and I noticed a strange behavior.  When MultiShot is selected and I turn on my RGB LEDs I get a clicking sound from my motors.  It only seems to happen with MultiShot which leads me to believe it is a CPU/loop/timing issue.  I am running BetaFlight 3.0.1 on a RMRC Dodo Rev 3b board with MRM 20a Zues (LittleBee) ESCs and using a 4kh

[2016-11-11 23:34] spudw commented on #1537
Issue subsides, but not completely, when CPU load is reduced (running 2khz Gyro and 2khz PID).

[2016-11-12 00:25] andymac4182 opened #1538 "Include Dockerfile to allow people to build in a consistent environment"
It would be great if there could be a Dockerfile included as part of betaflight that would give a standard environment to build the code with. Someone has perviously created one but it appears to be out of date. https://github.com/mikeller/docker-betaflight-build/blob/master/Dockerfile

[2016-11-12 05:19] andymac4182 commented on #1538
I have updated the docker file and confirmed it can build the current code. https://github.com/andymac4182/betaflight/blob/docker-build/Dockerfile

This will ensure that no matter which operating system people are using as their main OS they can build the code in a reliable way without installing anything other than docker.

[2016-11-12 14:06] mikeller commented on #1538
Can you please submit a pull request against https://github.com/mikeller/docker-betaflight-build ?

[2016-11-12 15:27] marcroe commented on #1035
Check out my branch on https://github.com/marcroe/betaflight/tree/iBusTelem if you want to test iBUS telemetry. I tested it on the bench and it seems to work reliably. I will fly with my changes as soon as it's less windy.

There are two variables one can set in the CLI:
`ibus_report_cell_voltage` and `ibus_task_period_micros` The first one specifies if VBAT is divided by the number of cells. Seco

[2016-11-12 16:18] AndersHoglund commented on #1437
BLHeli passthrough works fine on REVO now. Thnx.

[2016-11-12 16:18] #1437 closed

[2016-11-12 17:06] Fr12r commented on #1035
The weather is great here. If you can get me an SPRacing Hex I can test it today on my iBus rig.

Fred

[2016-11-12 18:29] marcroe commented on #1035
@Fr12r Here you go: https://github.com/marcroe/betaflight/blob/master/downloads/ibusTelem/betaflight_3.1.0_SPRACINGF3.hex
I just rebased my branch.
If it is eating to much CPU, increase ibus_task_period_micros from 500us to something lower than 1000us via command line (btw, telemetry does not work when you are in command line mode. took me a while to figure that out).
Good luck :)

[2016-11-12 18:30] UltiFix opened #1541 "Can't Flash Betaflight 3 to CC3D Atom"
I have tried it with the FTDI adapter and the main port. It just says failed to open serial port

Is it possible for you guys to make a .opbl file like with 2.9? I dont mind if you remove some features like LED, telemetry, battery voltage and stuff.

[2016-11-12 18:34] m88tow opened #1542 "QX90 Betaflight and Flysky FS-I6 Possible?"
Well I have flashed my board with Betaflight instead of the cleanflight since so many said that it would fly much better. That was a process in and of itself to get it working and flashed properly. Now my next question is that I bought this thing to still fly even when its cold now that its getting close to winter so I can use it primarily indoors. I purchased it with the Flysky FS-I6 already boun

[2016-11-12 18:38] Fr12r commented on #1035
Sounds good. Will test in a few hours and report back

Fred

[2016-11-12 18:44] marcroe commented on #1035
@Fr12r Awesome :) Be careful, though. I just did a test hover indoors and it all worked fine until I got a failsafe. 2.4GHz is very saturated where I live, so it doesn't have to be related to the changes, but yeah.. still a bit worrying..

[2016-11-12 19:05] Fr12r commented on #1035
Will do. This is a test quad so no worries if something goes terribly wrong

Fred

[2016-11-12 19:19] marcroe commented on #1035
Ok, great!
I'd suggest setting `set ibus_task_period_micros =  1000` It still seems to work reliably (on an IA6B) and does not consume as much CPU. Default is 500, which is what the code from cleanflight uses.

[2016-11-12 21:12] AndersHoglund commented on #1541
Locate the Boot Loader pads on the FC, not sure where they are on an Atom. Short them by a solder blob or a wire..
Connect FTDI-USB to main port and PC, make sure the FC got power. Start BFC and select the "Firmware Flasher" tab, Select FC (1), select firmware (2), select "No reboot seq" (3), select "Manual Baudrate 115200" (4). Load firmware (5) and finally hit "Flash Firmware" button (6). Done.

[2016-11-12 21:18] Fr12r commented on #1035
Very successful first test with the settings you provided and TGY-i6S (correct alarms on correct sensor), no issues to report after a few packs.

Also tested with IA6C, but it looks like to RX with the VBAT ports are hard-wired and don't take external iBUS in (unless I can go direct to another pad). Do you think it's possible to use a single UART for this since it's the same protocol?

[2016-11-12 22:07] blckmn commented on #1439
This has been tested as ok on the bluejay. Serial is now the default on it (uart6)

[2016-11-12 22:07] #1439 closed

[2016-11-12 22:08] blckmn commented on #1493
Can we pop this one into the Configurator issues list?

[2016-11-12 22:08] #1493 closed

[2016-11-12 22:51] m88tow commented on #1542
Never mind I got that part figured out.

I got everything working on the laptop but nothing works on the quad itself. The goofy thing is when I first connect into beta flight all I see on the simulated quad is 3 arms only 2 of which have props on them. Something is really goofy here

[2016-11-13 01:43] UltiFix commented on #1541
Thanks, it ended up working after some fiddling.

First off you have to have rx to tx and tx to rx. And you can't have the fc plugged into your pc. Even if you choose the port of the ftdi. It works if you only have the fc plugged into the usb port enough to get power but not get signal. Weird.

Whatever, I got it working and it flies. Thank you!

[2016-11-13 01:44] UltiFix commented on #1541
Just curious where is the OPBL varient for cc3d?

[2016-11-13 03:41] stupport81 commented on #1516
I mentioned this in #1475 but it was ignored. I should have created a new issue. PPM works fine using 3.0.1 patch1. But has been broken since at least build 660.

[2016-11-13 05:11] mikeller commented on #1542
Looks like your Betaflight configurator installation is screwed up. Try uninstalling it and then reinstalling it.

[2016-11-13 05:45] mikeller commented on #1035
@marcroe: What is the reason for the 2 kHz that the iBus telemetry task is run at? This sounds a bit excessive for telemetry.

[2016-11-13 05:47] mikeller commented on #1538
Fixed in https://github.com/mikeller/docker-betaflight-build/commit/e390d9c0e5269a18e41450265067e11fc641477c

[2016-11-13 06:10] nhadrian opened #1545 "Allow negative value for 'current_meter_offset'"
Hi,

I'd kindly ask you to modify **current_meter_offset** to signed integer and let user set up positive and negative values.

Here is the reason.
I'm using Beerotor F3 controller with Beerotor PDB. When the copter is idle, the current meter displays _0,10A_ but the measured value is _0,42A_. This error continously presents (ie. when the measured current is _7,00A_, the displayed current is aroun

[2016-11-13 07:10] cdmanbg commented on #1084
New thread is opened in RCgroups for this, it contains now all the documentation needed for implementing serial telemetry.

https://www.rcgroups.com/forums/showthread.php?t=2775731

[2016-11-13 07:11] cdmanbg commented on #1034
Spektrum Serial telemetry docs now released by AndyKunz and Miguel Alvarez , you can find RCgroups thread here:

https://www.rcgroups.com/forums/showthread.php?t=2775731

[2016-11-13 07:41] blckmn commented on #1084
I have these receivers now, and will be implementing it shortly.

[2016-11-13 08:21] martinbudden commented on #1084
I've just looked at the licence agreement, see . Unfortunately it is not GPL compatible.

I **strongly** suggest do not implement Spektrum Telemetry until it is released under a GPL compatible licence.

It is good that Spektrum have taken a step towards opening their protocol. However if they want their protocol to be included in GPL software, then they need to release it under a GPL compatible li

[2016-11-13 08:24] blckmn commented on #1084
Good pickup @martinbudden  - I will reach out to spektrum and see if they will adjust.

[2016-11-13 10:54] brat002 commented on #1463
Try to lower your pids. I had same issue with sparky 2 board.

[2016-11-13 11:25] AndersHoglund commented on #1541
Of course you have to connect everything correctly.
The OP Boot Loader takes up too much memory space. Therefore the betaflight OPBL variant has been stripped down to fit and is functionally crippled, no BF-PidC etc etc. On the github release page it is in the binaries.zip file.

[2016-11-13 12:51] #1532 closed

[2016-11-13 17:02] UltiFix commented on #1541
Oh OK, thanks!

[2016-11-13 17:02] #1541 closed

[2016-11-13 17:13] brycedjohnson opened #1548 "RMDO dshot not working on build 706"
Supposed to be pin compable with SPRACING but doesn't appear to work.  SPRACING hex on dodo is working fine.

May need this in the target.h on RMDO that is in the spracing target.h?

#define USE_DSHOT
#define REMAP_TIM17_DMA

// UART1 TX uses DMA1_Channel4, which is also used by dshot on motor 4
#if defined(USE_UART1_TX_DMA) && defined(USE_DSHOT)
#undef USE_UART1_TX_DMA
#endif

[2016-11-13 17:44] borisbstyle commented on #1548
Yeah it needs remapping indeed.

[2016-11-13 19:16] jflyper commented on #1386
Okay. I think there is something wrong with serial output in REVO(-ish) targets.

Target: OMNIBUS F4
Firmware: 3.0.1 Release

Looking at the MSP request-response sequence, responses are periodically corrupted.
Attached is the Saleae capture.
<img width="1116" alt="msp_corrupt_f4" src="https://cloud.githubusercontent.com/assets/14850998/20248043/5ab8b422-aa1f-11e6-9d3b-b56438fbdf7f.png">
Here, Chan

[2016-11-13 20:07] jflyper commented on #1386
The similar corruption can be observed by connecting UART6 to configurator via FTDI and switching to  the receiver tab.

[2016-11-13 22:26] m88tow commented on #1542
Ok I will try that and report back, thanks for the tip.

[2016-11-13 23:10] m88tow commented on #1542
Ok so I tried to uninstall it and reinstall it. I still have the same thing going on. I also downloaded cleanflight and got in there and it looks exactly the same. At this point I don't have any clue I have been messing with this stupid thing off and on for the better part of a day and a half now.

[2016-11-13 23:32] llambkin commented on #1386
Luckily serial RX doesn't talk MSP. Because that would be devastating.

On 14 Nov. 2016 4:07 am, "jflyper" <notifications@github.com> wrote:

[2016-11-13 23:37] mikeller commented on #1542
Can you please reopen this issue in the betaflight-configurator repo: https://github.com/betaflight/betaflight-configurator/issues

[2016-11-13 23:37] #1542 closed

[2016-11-13 23:45] #1538 closed

[2016-11-13 23:47] mikeller commented on #1386
From the look of it this is related to #1499.

[2016-11-13 23:48] andymac4182 commented on #1034
Is this a duplicate of this https://github.com/betaflight/betaflight/issues/1084#issuecomment-260172929 ?

[2016-11-14 00:25] marcroe commented on #1035
@Fr12r Great to hear that it works. I wasn't too successful. I only have a TGY-i6 to test (I normally use Frysky) and while it displayed the telemetry data on the TX display just fine, I was only able to fly for two minutes or so before I got a failsafe, which happened three times in a row. This let's me conclude that the code is not working properly - or the TGY-i6S and TGY-i6 are different? Were

[2016-11-14 00:38] jiekchenid opened #1552 "naze32 只有在baseflight 刷2015-5的固件正常"
。naze32 只有在baseflight  刷2015-5的固件正常，GPS，电调都正常。。。cleanflight  betaflight 刷完固件都不正常，都不能校准电调，也检测不到GPS,甚至刷他俩最新的固件，都无法校盘罗盘和水平，按钮都是灰色的。是什么原因，校准时电调时，通电，电机总是进入编程模式，是不是因为我的板子太老了。。刷betaflight 刷一个老的固件能校准水平和罗盘，但是校准不了电调，，油门最大，一通电，电机的响声不是校准模式，而是某个编程模式！！！！！GPS也检测不到。。。。。。但刷回baseflight 就一切正常。

[2016-11-14 00:40] mikeller commented on #1035
That seems to be an odd constraint for a protocol that uses a relatively low bandwidth. But if that's what it is we'll have to live with it.

[2016-11-14 02:07] blckmn commented on #1552
Google translate (if anyone can translate better please do):
naze32 only baseflight brush 2015-5 firmware normal, GPS, ESC are normal. . . cleanflight betaflight brushing firmware is not normal, you can not calibrate power transfer, can not be detected GPS, they even brush the latest firmware, it can not compass disc and school level, the button is gray. What is the reason, when the calibration ES

[2016-11-14 02:08] jflyper commented on #1386
@llambkin I think Serial RX was lucky because it doesn't transmit.

Oh, so, telemetry could be broken, too???

[2016-11-14 02:20] llambkin commented on #1386
Could be. I haven't tested due to lack of inversion on F4. That and I am
using all UARTs. OSD, serial RX and now ESC serial.

On 14 Nov. 2016 10:08 am, "jflyper" <notifications@github.com> wrote:

[2016-11-14 04:53] martinbudden commented on #1034
Closing, duplicate of https://github.com/betaflight/betaflight/issues/1084

[2016-11-14 04:53] #1034 closed

[2016-11-14 04:59] mikeller commented on #1386
Now that you're saying it I am getting errors in telemetry anyway, and until now I've attributed that to openLRSng dropping telemetry data if the 19200 baud radio link is saturated, but who knows...

[2016-11-14 07:51] MJ666 opened #1553 "Serial port for SerialRX will not get activated anymore in actual master"
The serial port will not set to SerialRX anymore (ports page) but the serialRX feature is still active (configuration page). Here are the assignments for the AlienFligthF4 wich are affected.:
https://github.com/betaflight/betaflight/blob/master/src/main/target/ALIENFLIGHTF4/target.h#L165-L166

Here is the part when it should be activated:

https://github.com/betaflight/betaflight/blob/master/src/m

[2016-11-14 08:17] metalnow commented on #1552
briefly speaking, he said his naze32 only can run baseflight v. 2015-5. cleanflight and betaflight won't work on his machine.

[2016-11-14 09:11] TheAngularity commented on #1531
@blckmn
now on latest commited version ... using `resource MOTOR 4 A06` ... com port lockout is fixed 👍
but the motor 1 is not seen on dma list ... little request - can we also see the motor number on the resource list ... so far i have not tested the motors ... using lb20a-s and look for another solution without remove the cap
[code]

[2016-11-14 09:25] borisbstyle commented on #1531
@TheAngularity Motor 1 does not have DMA resources on this target unfortunatelly. You will have to use another PIN for motor 1 and remap the motor to it.

[2016-11-14 12:25] mikeller commented on #1553
Potentially caused by #1527. Any ideas, @blckmn?

[2016-11-14 13:22] Cthutquz opened #1554 "Baro betaflight_3.1.0-709 8 8 32000 Dshot150 -two motors on the left do not work"
KKNGF4:Flash:6000:No Baro betaflight_3.1.0-709-32c87d2
Racerstar RS30A V2 30A Blheli_S ESC OPTO 2-4S Support Oneshot42 Multishot ( G_H_30_REV16_43.HEX )
8 8 32000 Dshot300 -work
8 8 32000 Dshot150 -**two motors on the left do not work**, two motors are working right
8 4 32000 Dshot150 all are working properly

[2016-11-14 15:42] lunohod commented on #1554
I've got the same issue with DTFc (@ build 702) + Aikon 30a V1.
Dshot600, 8k/4k: right motors work fine, left motors do not spin up.
Dshot300, 8k/4k: All motors spin up, left motors occasionally desync (the copter jumps in the air).

[2016-11-14 18:33] blckmn commented on #1553
Ah. I think we just need to add that the port is enabled. I'll take a look.

Note this tested ok on a bluejay- which I've now moved to using serial (uart6 / sbus) as default not PPM

[2016-11-14 19:59] marcroe commented on #1035
It's a really badly designed protocol.
It also should be combined with the serial RX in a reasonable way. There's no way to support iBus serial RX and iBus telemetry on just one port at the moment, because we don't know if the receiver can send messages on both wires at the same time.

[2016-11-14 20:06] mikeller commented on #1035
Ouch. I assumed it would at least combine serial Rx and telemetry into one (but even then the low latency requirement doesn't make sense). At least there seem to be efforts to make FrSky available on some of these TX: http://fishpepper.de/projects/openground/

[2016-11-14 22:45] blckmn commented on #1531
@TheAngularity try turning off the LEDSTRIP...

[2016-11-14 22:53] blckmn commented on #1531
Actually belay my last. This should fix it: https://github.com/betaflight/betaflight/pull/1558

TIM2_CH1 clashes with TIM15_CH1. Moving Motor 3 to TIM2_CH3.

[2016-11-15 00:00] blckmn commented on #1548
https://github.com/betaflight/betaflight/pull/1562 will sort this one out.

[2016-11-15 02:45] AJSNetworks opened #1563 "Full Throttle Backflip at ARM with HGLRC FC"
Hello,
I recently rebuilt a quad from a RTFQ F3 board to HGLRC F3 AIO V3.1.

I copied the working config over from the old fc to the new fc and during arming test without rotors I noticed very aggressive Yaw oscillation and dropped yaw from 35 to 10 which eliminated the problem.

I put the rotors on, powered the quad up and upon arm with zero throttle it rapidly went full throttle on M1 and M3 cau

[2016-11-15 03:21] jiekchenid commented on #1552
现在的问题时，我可以刷betaflight固件了，但是刷完betaflight_3.0.1_NAZE这个版本后，，固件不支持mag baro 在配置页面这两项都选了，，，我的硬件是naze32 rev5 10dof

[2016-11-15 03:50] jiekchenid commented on #1552
刷了2.9.1固件后，，一切都正常了

[2016-11-15 04:00] metalnow commented on #1552
does anyone have naze32 rev5 10dof board to test mag and baro in 3.0.1 ? @jiekchenid  said those are only working in 2.9.1. please help.. thanks.

[2016-11-15 04:13] blckmn commented on #1552
In 3.0.1 they were disabled due to space constraints. 3.1 is introducing the baro back, but still not enough for the mag yet.

On 15 Nov. 2016, at 15:00, metalnow <notifications@github.com> wrote:

does anyone have naze32 rev5 10dof board to test mag and baro in 3.0.1 ? @jiekchenid said those are only working in 2.9.1. please help.. thanks.

—
You are receiving this because you commented.
Reply to

[2016-11-15 05:47] metalnow commented on #1552
@blckmn got it. thank you.

@jiekchenid 3.0.1 有空間不足的情況，所以不支持 mag, baro. 3.1 的 baro 會有，但mag可能還沒有辦法。

[2016-11-15 08:56] andre92 commented on #1563
could you verify correct board alignment and motor wiring order? Blackbox indicates the copter backflipped, yet it gave full throttle to back motors, which should stop it. Since that only accelerated the backflip, that indicates either the motors aren't wired correctly (front and back swapped), or the board alignment needs to be set properly (enable ACC and verify correct position of 3d model)
Mak

[2016-11-15 09:16] TheAngularity commented on #1531
@blckmn
turning off the LEDSTRIP is not an option ... but latest merged commits now seems to work ...  using only `resource MOTOR 4 A06` again ... motor 1 now listet under dma and on all lists the motor numbers are seen ... thx for your work ... i think we can this issues closed now 👍

[code]

[2016-11-15 09:16] #1531 closed

[2016-11-15 10:02] blckmn commented on #1516
https://github.com/betaflight/betaflight/pull/1564 fixes this. Once merged please let me know if it does not. I have tested this on a BlueJayF4. There was indeed an issue, now resolved.

[2016-11-15 10:03] blckmn commented on #1548
Please test and report back so this may be closed if resolved.

[2016-11-15 11:20] ps915 opened #1566 "Resource Remappin dont work"
I tryied to change the Beeper Out Pin, but with no success.
tested on target: SP F3 2.2 AiO and also AIR32 (FlyingLemon)
I tryed these commands with no luck:

resource BEEPER B5
resource BEEPER B05
resource BEEPER OUT B5
resource BEEPER OUT B05

I also did not forget to hit save

(Screenshot will show B04)
![123](https://cloud.githubusercontent.com/assets/3420935/20303885/db1771f8-ab2d-11e6-95a4-2

[2016-11-15 11:45] AndersHoglund commented on #1566
Resource remapping will be available in 3.1 You seem to be on 3.0.0

[2016-11-15 12:02] ps915 commented on #1566
Where can i get V3.1
tested it on the latest 3.0.1 Also dont work
![123](https://cloud.githubusercontent.com/assets/3420935/20305044/c79e238c-ab33-11e6-8e1e-4870a3be6a06.PNG)

[2016-11-15 13:05] blckmn commented on #1566
Latest builds are available here:
http://andwho.sytes.net:8080/job/BorisB_BetaFlight/lastSuccessfulBuild/artifact/obj/

[2016-11-15 13:05] #1566 closed

[2016-11-15 14:03] jiekchenid commented on #1552
thanks everyone!

[2016-11-15 14:25] jiekchenid opened #1567 "naze32 can't support neo-6m gps"
大家好，为了让我的naze32  rev5 10dof 支持mag baro 我刷了naze2.2.0的固件，但是不管是这个固件还是最新的固件。都不支持gps.....但是我用baseflight就可以支持。。。难道也是因为空间使用问题？

hey guys.naze3.0.1&.naze2.2.0 both cant support neo 6mgps..also..cause space?

so iwant a support mag baro gps  hex...just betaflight or cleanflight can use modes friendly

[2016-11-15 14:26] digitalentity commented on #1567
Try INAV https://github.com/iNavFlight/inav

[2016-11-15 14:27] jiekchenid commented on #1567
最新的固件也不支持 oneshot125  .只有在pwm 下才能校准电调。。。但很旧的baseflight固件就能支持oneshort

[2016-11-15 14:31] digitalentity commented on #1567
@jiekchenid it does support everything up to Multishot. Please read the release notes.

[2016-11-15 14:31] #1567 closed

[2016-11-15 15:07] sgcdialler opened #1568 "Disappearing OSD on Omnibus F3"
The OSD disappears on the Omnibus F3, corresponding to large power spikes (associated with hard/fast maneuvers with active-breaking enabled on ESCs). This appears to be the same issue that occurred with Matek HUBOSD PDB boards. Both the HUBOSD and the Omnibus use the MAX7456 chip to provide the OSD function. HUBOSD runs the STOSD firmware, which fixed the issue in v3.2. Now, instead of disappearin

[2016-11-15 16:09] nathantsoi commented on #1568
What kind of escs are you using?

On Tue, Nov 15, 2016, 7:07 AM sgcdialler <notifications@github.com> wrote:

[2016-11-15 16:34] sgcdialler commented on #1568
Littlebee 30A-S BLHeli_S

[2016-11-15 17:35] MJ666 commented on #1553
I found the source of the problem. Likely some more targets are affected. The useage of the SERIALRX_UART has changed by the commit below and corrected some odd behaviour from the past.

https://github.com/betaflight/betaflight/commit/0ebaef175ecc88c6008d917b31e675c58ef530f5#diff-d7ecdbee607f4619a513374bcc4fd179

The real serial port used for the AlienFligth F4 target for the RX is on UART2. In th

[2016-11-15 18:23] mikeller commented on #1553
Good find, @mj666. If it affects all VCP targets then finding them is easy, just grep for `USE_VCP` in `target.h`.(it's almost all targets anyway). Fixing all of them will be a bit of work, but in my opinion it's worth it, because it reduces the mix of 0 based and 1 based counting of the serial ports.

[2016-11-15 21:51] Cheredanine commented on #1554
@lunohod,
You issue is typical of cap smoothing on the signal input of the escs, find the right cap and remove it, it will be fine for dshot, although no guarantees your PWM will be smooth

OPs issue may be different as faster protocol works

@Cthutquz
Have you tried reflashing with a different build? Been running since first Dev releases, had the issue you were describing once, reflashed with a l

[2016-11-15 22:56] Shadow-MasterTf commented on #1516
Yes great work PPM is now working again on the spracingf3 thanks now I can finally test DSHOT ;)

[2016-11-15 23:35] dmccue commented on #1065
Have xracer f303 v3.1 with 3.0.1 and can confirm you can get smartport on uart 1.  Something to be aware of is that telemetry isn't sent unless armed.  Can either get telemetry when armed and betaflight configurator access when disarmed but not both.

[2016-11-16 00:18] #1552 closed

[2016-11-16 00:50] blckmn commented on #1553
I think we definitely want to clean up the targets. I'll have a look tonight, and raise a PR

[2016-11-16 00:50] #1516 closed

[2016-11-16 00:51] blckmn commented on #1548
@brycedjohnson any luck on this one?

[2016-11-16 00:53] jiekchenid opened #1571 "some advice"
我觉得开发者们都太过专业，，好的产品应该尽量贴 近小白用户，保留GPS，一键上手最好,就像乔布斯当年拿施乐技术创造了电脑一样，以前放在室验室的产品，经过精简，优化贴近用户，让产品进入更多人的手中，现在玩这些飞机，门槛太高了，要配置各种硬件，计算各种重量，优化各类参数，为什么就不能一键设置，让新手初次操作时，一键起飞，一键降落，一键悬停等，先感受飞行的乐趣。竞技太过专业，毕竟这项事业还没普及开来，等参与的人多了，竞技才有更多的人看，推动航模好的发展。

I think the developers are too professional, and good products should be close to the newer as far as possible, retain the GPS, a key to get started t, like Steve Jobs then

[2016-11-16 01:09] brycedjohnson commented on #1548
Haven't had a chance to test yet... Just got home.  I'll do that right now.

On Nov 15, 2016 6:51 PM, "J Blackman" <notifications@github.com> wrote:

[2016-11-16 01:25] Vadhvis opened #1572 "EMAX Skyline32 + OSD - BFOSD Compatibility"
Any details about BFOSD compatibility with this board?

[2016-11-16 01:36] mikeller commented on #1572
According to this the on board OSD runs minimOSD, i.e. it comes with its own MPU:

https://oscarliang.com/skyline32-osd-f1-f3/

This means it does not run BFOSD. But there are several projects under way to better integrate minimOSD  with Betaflight.

[2016-11-16 01:36] brycedjohnson commented on #1548
Yup worked for me.  Thanks for getting that in there.

Tested with build 714 which had up to commit 819925b4caadafe68049077d90bf235fd1fca15d.

[2016-11-16 01:36] #1548 closed

[2016-11-16 01:49] Vadhvis commented on #1572
According to the [official site](http://www.emaxmodel.com/fpv-controllers/emax-skyline32-osd-flight-controller-acro.html) it runs MW_OSD

Does this change anything?

[2016-11-16 01:58] mikeller commented on #1572
You're right. The OSD firmware is actually `MW_OSD`, the hardware is called minimOSD. So this is the same really, it's not the main MCU that is running Betaflight that is driving the OSD hardware.

[2016-11-16 02:01] Vadhvis commented on #1572
I see, thank you very much

[2016-11-16 02:01] #1572 closed

[2016-11-16 07:45] Jahnkeanater commented on #1571
The purpose of betaflight is to innovate and optimize the control loop to make these things fly as good as possible. Look 2 years back and you can see the difference. If you want GPS take a look at "iNavFlight". And if you want more stable code try "Cleanflight". If you are looking for something easy then you are better off buying something like a DJI NAZA. This firmware is developed for DIY hobby

[2016-11-16 08:05] Jahnkeanater commented on #1554
I am having the same issue as OP. Motors 3 & 4 will not arm at 8k with Dshot150. This could be as simple as the capacitor but I wonder if maybe it is a timing issue with 8khz and Dshot150?
I tested Dshot300 and had no issues after 1 flight.
Revo betaflight_3.1.0-714-819925b
BusyBee2 ESCs

[2016-11-16 18:26] MJ666 commented on #1553
Have started working on this.

[2016-11-16 18:52] AJSNetworks commented on #1563
End user issue. I configured motors to APMs motor positions rather than the CF/BF positions, hence the eradicate behavior.

Thank you reviewing my issue.

[2016-11-16 18:52] #1563 closed

[2016-11-16 18:53] MJ666 commented on #1553
PR #1577. hope I catched everything.

[2016-11-16 20:25] blckmn commented on #1408
This is no longer an issue in 3.1 - the P6 is removed in favour of resource mapping.

[2016-11-16 20:25] #1408 closed

[2016-11-16 22:21] jorgemigalves76 opened #1578 "SPRacing F3 EVO BF3.1 #715 DShot problem"
After select DShot 150, 300 or 600 and saving config, the FC dont boot anymore. Need to put in dfu and reflash. Anyone with same issue? Thanks.

[2016-11-16 22:41] trendab opened #1579 "BF 3.1.0 716 Revolt build -- beeper to be inverted"
Flew BF 3.1.0 716 tonight on my Revolt. All works well, except that I had to invert the beeper using CLI, as it was constantly on.

[2016-11-16 22:57] MJ666 commented on #1553
Fix is merged.

[2016-11-16 22:57] #1553 closed

[2016-11-16 22:57] blckmn commented on #1579
Once this https://github.com/betaflight/betaflight/pull/1580 is merged that issue should be resolved.

Thanks to you for the feedback. :)

[2016-11-16 23:35] trojanGoat opened #1581 "LED lights not working on REVO"
I'm following a thread on RCGROUPS.  People have suggested that the led signal has been moved to motor 5.  I've gone ahead and connected the led to motor5 and still no lights are working.  Not sure if this is a betaflight or hardware issue.

https://m.rcgroups.com/forums/showthread.php?t=2731917&page=39#post36213798

[2016-11-17 03:29] Loswave opened #1582 "BMP180 fails to connect to Flip32 Omnibus F4"
With the sensor connected to the i2c bus on the device it will register 2 i2c errors on boot, but will not see the barometer. I have verified the barometer works fine with an arduino.

I'm assuming this is an i2c issue with the flip32 omnibus f4.

I am running betaflight 3.0.1.

I have verified proper wiring.

I have an oscilloscope with bus decoding built in and would be happy to do any testing t

[2016-11-17 04:43] Calrc opened #1583 "BIG IDEA!!"
I was pondering an idea.  On the receiver page you are able to see all your channels functioning within the GUI.  How hard would it be to use your transmitter via your FC in your craft as a game controller for flight simulators? Is this something that could be included in Betaflight?

[2016-11-17 04:51] mikeller commented on #1583
You don't need to modify Betaflight for this. All you need to do is write a virtual HID driver for your operating system that polls the stick positions from the craft through MSP and uses them to emulate a game controller. Doing this is well outside the scope of the Betaflight project, but if you decide to give it a go yourself we'll be happy to assist.

[2016-11-17 04:56] nathantsoi commented on #1582
could you post a picture? i'm pretty sure the omnibusf4 doesn't have a
baro, the omnibusf4v1 has a bmp280 on spi. the binary for the v1 isn't in
the main repo yet, i'm working on hardware detection if you want to help
out /w testing?
https://github.com/nathantsoi/betaflight/tree/target/obf4-hw-rev

On Wed, Nov 16, 2016 at 7:29 PM Loswave <notifications@github.com> wrote:

[2016-11-17 06:41] jflyper commented on #1583
@Calrc There are products you can connect your transmitter to your PC and make it look like a game controller, both wired and wireless. Many flight simulators already support this kind of device.

[2016-11-17 07:39] andre92 commented on #1583
I think he means for transmitters that cannot be connected to PC at all (no usb or anything). In that case it would indeed need to go via the flight controller using some driver that understands MSP and polls the FC for radio channels.

[2016-11-17 07:43] Loswave commented on #1582
Shoot, I'm sorry, I was trying to make sure I included all details then missed a big one. This is an external sensor I was attempting to connect. I know it was supposed to work on other boards and I just assumed it would on this as well, which may well be my mistake.

I know I read it was doable on old naze acro boards so for some reason I just assumed it was universal without thinking it through

[2016-11-17 09:44] #1417 closed

[2016-11-17 10:32] AndersHoglund commented on #1583
http://www.simstick.co.uk/
https://hobbyking.com/en_us/wireless-9-in1-simulator-adapter.html
http://www.banggood.com/20-In-1-USB-Simulator-For-RC-G6_5-Phoenix-4_0-XTR-VRC2-FMS-p-89810.html
etc etc
It is very easy to modify the last USB dongle for wireless, solder a piece of cable with a servo connector to GND, +5V and PPM inside the dongle and use your favourite PPM Rx. Been there, done that.
http

[2016-11-17 10:32] #1583 closed

[2016-11-17 15:10] jflyper commented on #1582
@Loswave I2C support on OMNIBUS F4 is planned in the 3.1.

@nathantsoi
Two things regarding the I2C support on OMNIBUS F4.

1. Pin assignment
Current target.h specifies I2CDEV_1 which I believe goes to RC_CH1 and RC_CH2, but pin map suggest that I2C is shared with UART3 which requires I2CDEV_2. Am I confused in some way? Ofcourse, if i/o resource allocation will include this kind of remapping, the

[2016-11-17 16:43] AndersHoglund commented on #1581
LED-strip on my REVO works fine using motor 5 output. Just select LED-strip feature and then some LED pattern.

    # version
    # Betaflight/REVO 3.1.0 Nov 17 2016 / 17:33:20 (135231f)

    # feature
    Enabled: FAILSAFE LED_STRIP BLACKBOX

    # led
    led 0 4,15::CO:2
    led 1 5,15::CO:2
    led 2 6,15::CO:2
    led 3 7,15::CO:2
    led 4 8,15::CO:2
    led 5 9,15::CO:2
    led 6 10,15::CO:

[2016-11-17 22:30] TheAngularity opened #1592 "unreadable dump and diff output"
@AndersHoglund
your #1586 removed all standalone zeros from dump and diff output ... please fix quickly

diff output:

[code]

[2016-11-17 22:46] AndersHoglund commented on #1592
Ouch. On it.

[2016-11-17 23:06] AndersHoglund commented on #1592
Reverted commit. Sorry for the mess...

[2016-11-17 23:22] TheAngularity commented on #1592
thx 👍 ... closed now

[2016-11-17 23:22] #1592 closed

[2016-11-17 23:23] #1579 closed

[2016-11-17 23:43] mikeller commented on #1592
Not your fault. The compiler warning is wrong, since `d /= base` can yield 0 for non-0 values of `d` with ints. I was going to fix the same spot as well...

[2016-11-18 00:07] AndersHoglund commented on #1592
Well, cppcheck was correct. I just did a too Q&D (quick &dirty) fix. Could have spent some more time on it. The revert was also a bit of a panic to get some piece. Now I have a much cleaner and leaner version of those two conversion funcs. A lot of redundancy removed. They where really over worked and overcomplicated, fooled me..
Not sure I dare to PR the new version....  Well, OK. #1593.

[2016-11-18 00:21] Jahnkeanater commented on #1578
SPRACINGF3EVO - Locked out Comm port fixed (build 708?). Must move MOTOR 4 to new pin assignment (CLI = resource MOTOR 4 A06). Then solde ESC for motor #4 to motor output #5, fixes DMA conflict with motor outputs 2 and 4. See: https://github.com/betaflight/betaflight/wiki/Betaflight-specific-CLI-commands#resource-remapping-command-v31

[2016-11-18 00:39] mikeller commented on #1581
@AndersHoglund Is there documentation on this "diode in series"-mod? I wasn't aware that such a thing is needed, but I've had irregular behaviour in the past that I put down to voltage problems.

[2016-11-18 00:44] trojanGoat commented on #1581
No I haven't done the vcc to led strip.  I didn't realize that was required.  Can you send a link?

[2016-11-18 00:44] blckmn commented on #1578
Yes - this issue has been fixed in later builds.

[2016-11-18 00:44] #1578 closed

[2016-11-18 00:49] mikeller commented on #1592
I don't think it was, `d == 0` was possible without a division by zero being triggered in `dgt = num / d`, since `d /= base` in between can very well change d from non-zero to zero for int.

#1593 looks good.

[2016-11-18 01:22] jflyper commented on #1386
I think it's the serial black box that is most violently hit with this one.

[2016-11-18 01:24] mikeller commented on #1386
@jflyper: Probably. But serial BlackBox is more or less legacy anyway, since it cannot keep up with today's loop times.

[2016-11-18 01:25] jflyper commented on #1386
OpenLeger?

[2016-11-18 03:12] jflyper commented on #1386
So, is anyone working on this issue? After d-shot is stable?

[2016-11-18 10:58] jflyper commented on #1568
@sgcdialler How are you powering your cam?

[2016-11-18 14:39] AndersHoglund commented on #1581
Since some/most of our FCs are only driving high output signals to 3.3V, there is a problem with LED-strips requiring a high level of at least 0.7*VCC (0.7*5=3.5V). Lowering VCC with a diode in series is the easiest fix. Might also work with a pullup or a transistor buffer,  have not tried that. My Adafruit Neopixel is connected with a diode in series. Built into the cable.
This a well known probl

[2016-11-18 15:36] #751 closed

[2016-11-18 15:56] llambkin commented on #1386
What? D-shot isnt stable??? Ive even switched back to using my GoPro instead of the Yi.....

[2016-11-18 19:56] jorgemigalves76 opened #1596 "http://andwho.sytes.net:8080/job/BorisB_BetaFlight/ - OFFLINE"
Is the site offline?
http://andwho.sytes.net:8080/job/BorisB_BetaFlight/

Another link?

[2016-11-18 21:06] AndersHoglund commented on #1596
Up again.

[2016-11-18 21:07] #1596 closed

[2016-11-18 21:44] hydra opened #1597 "ESC telemetry implementation architectural design."
ok, I might be missing something here, but `escTelemetryPort` is never used other than to hold a serial port reference, it's never used to read or write from.

That being the case I don't think the implementation of ESC telemetry follows the same pattern as other telemetry providers.

Telemetry providers in CF/BF collect information from the FC and SEND data via a serial port.

ESC telemetry is th

[2016-11-18 21:46] hydra commented on #1597
@martinbudden @ledvinap @borisbstyle @basdelfos

Would love some feedback on this architectural issue.

[2016-11-18 21:56] hydra commented on #1597
ok, so I did miss something, the use of the ISR for receiving telemetry :smile: `escTelemetryDataReceive`.

However, the architectural issue still stands.

The implementation of the ESC telemetry feature goes against the design of the 'telemetry providers'.

What you need is a 'telemetry collector' design.

I consider the current implementation a bit of a hack, issues are already coming up, such a

[2016-11-18 22:30] blckmn commented on #1597
Thinking about this - the ESC is really acting as a sensor. The protocol is just serial. Perhaps the same pattern as per other sensors.

In theory we should really consider support for making the FC a master in a set of sensors. Supporting smart-port etc.

[2016-11-18 22:42] mikeller commented on #1596
@jorgemigalves76: Thanks for letting us know that jenkins was down. But can I suggest that you use gitter (https://gitter.im/betaflight/betaflight) or slack (register at http://185.87.186.121:3000/) for notification about transient problems in the future? This is more efficient than opening / closing tickets everything something is down.

[2016-11-19 00:45] blckmn commented on #1399
https://github.com/betaflight/betaflight/pull/1598

returns a warning - double assignment is valid though - so only a warning is applicable, not prevention.

[2016-11-19 01:00] blckmn commented on #1396
https://github.com/betaflight/betaflight/pull/1599 should sort this one

[2016-11-19 01:01] #1581 closed

[2016-11-19 01:02] #1571 closed

[2016-11-19 01:03] blckmn commented on #1229
Can you please test: https://github.com/betaflight/betaflight/pull/1599

[2016-11-19 01:38] mikeller commented on #1396
This was fixed by @mj666's fix to the init order to put hardware detection before loading / creating the config. Sorry for not closing it.

[2016-11-19 01:38] #1396 closed

[2016-11-19 06:11] #1448 closed

[2016-11-19 14:15] jorgemigalves76 opened #1603 "SPRACING F3EVO continue not booting after selecting DSHOT #725"
With the board only connected to usb, with default values of release 725, boots ok. After select Dshot, the board dont boot and need to reflash. Any help?

[2016-11-19 15:07] janlebelg commented on #1229
i love to test

bud i am a noob in compiling s

o is it posible to send me the "betaflight_3.1.?_NAZE.hex" file ore link please

i wil test in 24H aftre reseaving the file

regards jan

De : J Blackman [mailto:notifications@github.com]
Envoyé : samedi 19 novembre 2016 02:04
À : betaflight/betaflight
Cc : janlebelg; Author
Objet : Re: [betaflight/betaflight] beeper (#1229)

Can you please test: #15

[2016-11-19 16:52] jorgemigalves76 commented on #1603
After move Motor4 to A06 and disable Motor5, the board seems to be ok. Thank you!

[2016-11-19 16:52] #1603 closed

[2016-11-19 19:18] sgcdialler commented on #1568
Cam and VTX are both powered by 12V reg on the PDB. Just the overlay disappears, the video stream is fine.

[2016-11-19 22:10] glenb2 opened #1611 "Receiver signal not being seen in Configurator in #729 for BeeBrain target"

[2016-11-19 23:01] jflyper commented on #1568
I believe it is not a software issue.

(3) If you don't have ground connection between CAM-OSD and OSD-VTX, please add them.
(4) CAM going undervolt produces flickering overlay. Review your power system.

If these don't fix your problem, please come to the
[RCG OMNIBUS F3 thread](https://www.rcgroups.com/forums/showthread.php?t=2711617&page=50#post36233251).

[2016-11-19 23:35] mikeller commented on #1611
A bit more information would be helpful.

[2016-11-19 23:55] mikeller commented on #1229
http://andwho.sytes.net:8080/job/BorisB_BetaFlight/730/artifact/obj/betaflight_3.1.0-730-d9a8655.zip

[2016-11-20 03:04] hippyengineer opened #1612 "Lost transmitter connection to board and beeper activates around 1180 on RMDO, Build 718/730"
Build 718 and 731 BF 3.1 loaded to RMDO caused connection between Frsky XSR and RMDO to be lost. Testing DYS XS20A for Dshot (cap removal) and found that the beeper started a constant signal after 1180-1250 for all motors, whether on Dshot 150 (single motor esc cap removed and loaded A_H_70 16.43) or Oneshot 125 (no caps removed, A_H_70 16.45).

[2016-11-20 04:22] mikeller commented on #1612
What protocol (SBUS / PPM) do you use for the connection between the Rx and the FC?

[2016-11-20 04:33] hippyengineer commented on #1612
SBUS

[2016-11-20 06:04] digitalentity opened #1615 "Enabling DSHOT hangs up AIRHEROF3 board"
Switching ESC protocol to DSHOT (any speed) causes the AIRHEROF3 board to hang on boot.

[2016-11-20 06:05] digitalentity commented on #1615
@borisbstyle any idea where to look for the bug?

[2016-11-20 06:06] blckmn commented on #1615
What build? As there was a hardfault in earlier builds that's now been resolved.

[2016-11-20 06:07] digitalentity commented on #1615
Current `master` branch - 049afb3d7a9dc4e2d5a748dca5878152dc8d292f

[2016-11-20 06:41] digitalentity commented on #1615
@blckmn I managed to fix the hang-up by converting `target.c` to use `DEF_TIM` macro, but now another two issues:
1) motor output 2 is silent, no signal there (pwm/oneshot works).
2) 6-motor configuration still hangs up the board.

Can you advise where to dig?

[2016-11-20 07:00] digitalentity commented on #1615
@blckmn never mind, fixed.

[2016-11-20 09:14] #1615 closed

[2016-11-20 14:09] glenb2 commented on #1611
Steps:
Flash 729 to BeeBrain v.1d (Spektrum)
Go to Receiver tab in Configurator 1.8.4
ISSUE - Observe that all signals remain at defaults although the receiver is bound and controls are being moved
Flash 3.0.1 to BeeBrain v.1d (Spektrum)
Go to Receiver tab in Configurator 1.8.4
EXPECTED - Observe that all signals behave as expected when controls are moved

[2016-11-20 15:17] jflyper opened #1623 "CMS: DISPLAY(DASHBOARD) feature without OLED hardware causes massive I2C errors"
When DISPLAY(DASHBOARD) feature is turned on, displayport_oled will automatically registers itself with CMS regardless of the existence of the actual hardware, which causes massive I2C errors when the (nonexistent) OLED is selected as an active CMS displayport.

It can pragmatically avoided by not turning on the feature, but not failsafe.

[2016-11-20 17:20] martinbudden commented on #1623
Fixed by PR https://github.com/betaflight/betaflight/pull/1624 - Only register dashboard with CMS if hardware is present

[2016-11-20 17:43] jflyper commented on #1623
@martinbudden Fixes the problem. That was quick :)

[2016-11-20 18:11] #1623 closed

[2016-11-20 20:46] mikeller commented on #1611
Stupid question, did you make sure that 'Serial RX' and 'Spektrum' are both selected in the configuration tab in configurator when running 3.1?

[2016-11-20 21:37] glenb2 commented on #1611
BeeBrain uses PPM, but I tried anyway and that doesn't seem to work either.  The exact same config on 3.0.1 is not working on 3.1.  Tried on 735 just now.

[2016-11-21 00:31] jflyper opened #1627 "Assignment of a function to a resource gives a warning that the resource is used by the function"
[code]

[2016-11-21 00:33] mikeller commented on #1627
Is servo 2 scizophrenic? ;-)

[2016-11-21 00:36] jflyper commented on #1627
I would rather call it depersonalized :o

[2016-11-21 01:09] blckmn commented on #1627
Index offset was incorrect. Have sorted that now in https://github.com/betaflight/betaflight/pull/1618

[2016-11-21 12:53] wolkstein opened #1629 "ACC X Y Z vibration measurment on telemetry output"
hello,
this is more a feature request than an issue.

i am a relative new betaflight user. i use for many years ardupilot in most of my copters. ardupilot has an nice feature to measure vibrations.  i personally never will missing this, after i noticed how useful it is. you can get an high pass  filtered output from your acc 's to measure vibrations from the system. the high pass filter remove all

[2016-11-21 13:58] braeden123 opened #1630 "[Feature Request] Commence ESC beeps upon failsafe"
It would be great to have a option that beeped the ESCs when a copter entered failsafe or had a mode in which ESC beeping could be activated by an Auxiliary channel. This would be beneficial for those who fly without a beeper and would work to alert location within a short distance.

I don't know if this is currently implemented or even feasible, but I figured its worth bringing it up.

[2016-11-21 14:12] janlebelg commented on #1229
beeper ok
did no maiden flight
it is reaning kats and dogs her
bud I dit not see anything wrong
gread job

tested this vertion
# Betaflight/NAZE 3.1.0 Nov 19 2016 / 22:23:07 (d9a8655)

[2016-11-21 14:12] #1229 closed

[2016-11-21 14:27] flounderscore commented on #1630
That would be a question for the ESC hardware developer (BLHeli).
Currently, the FC can't to anything about it.

I have the beeper timeout in blheli set to ~1 minute, i.e. after disarming
the escs start to beep after 1 minute. If you're stuck waiting on the
starting line for a race, I just do a quick arm/disarm to reset the timer.

On Mon, Nov 21, 2016 at 8:58 AM, Braeden Smith <notifications@gith

[2016-11-21 14:40] martinbudden commented on #1630
Actually, this is probably possible with DShot, since that protocol has a facility for sending commands to the ESC. @blckmn - I'm not familiar with the DShot commands, is beep among them?

[2016-11-21 15:01] lichtl commented on #1630
Yes. Should be possible with Dshot (KissFC / KissESC) do already support this. Not sure about the implementation in BLHeli and the other Dshot ESC's

Of cause it require some checks to not "beep" while flying.

[2016-11-21 15:10] flounderscore commented on #1630
Someone once proposed to use a low us window for analog escs, e.g. 800-900 us = beep, but again, someone would have to implement that in blheli.

[2016-11-21 22:01] trojanGoat opened #1631 "disarm motors when lipo hits low voltage"
Hi Betaflight team,

I know there's a low voltage cut off that lands the copter,  but I'm not exactly sure how that works.  It seems like I'm still killing my batteries.  This is more of a problem on the qx90 micro when I dont' have a beeper or osd.  Is there a way to get the motors to completely disarm when the voltage is at a certain level?

Maybe I just need to raise my low voltage cut off?

[2016-11-21 22:09] blckmn commented on #1630
Definitely with DSHOT we can disarm the motor, and then start playing a variety of tones! :)

[2016-11-21 23:04] mikeller commented on #1631
Probably using a timer on your transmitter (or on your phone or a kitchen timer ;-)) is the best way to avoid killing batteries.

Depending on the Rx you got on your QX 90, you could also try this in order to get telemetry feedback of the battery voltage to your Tx:

https://sites.google.com/a/042.ch/mikesthings/home/getting-telemetry-on-an-eachine-qx-95

[2016-11-21 23:46] trojanGoat commented on #1631
That's a great idea,  I've setup timers before, that is only good if you fly at a consistent rate.  I don't have telemetry unfortunately.  My only other idea is to solder an led light to the buzzer feed.  Either way I'm just looking for a way to prevent my lipos from prematurely dying off.

[2016-11-22 00:35] hydra commented on #1597
yes, i came to similar concolusions, the escs are just sensors, they closest related sensor is the gps sensor and we certainly don't deal with the GPS sensor as a telemetry provider. 😄

So, if we're in agreement here whats the next step to fixing this?

[2016-11-22 01:11] blckmn commented on #1597
I'll raise a PR this weekend moving it around a little - for discussion - and it is very similar to GPS so I can see it being based on that.

[2016-11-22 06:32] martinbudden commented on #1597
Yes, the ESC is acting as a sensor here. No need for a 'telemetry collector', since all sensors potentially act in that role.

@basdelfos , can you rename `esc_telemetry.c` to `esc_sensor.c` and move it to the `sensors` directory? And also get rid of the `escTelemetryPort` from your code?

[2016-11-22 06:59] Jahnkeanater commented on #1631
Maybe disabling the motors on brushed targets isn't a bad idea. Or set the brushed motor output to check if Vbat is critical.

I think most people prefer their quads not to fall out of the air randomly.

[2016-11-22 07:16] Jahnkeanater opened #1632 "IBUS Telemetry"
Any chance that IBUS telemetry will be implemented in the next stable build? Looks like CleanFlight has it working. :)

It would be cool if we could get ESC telemetry to display on the new turnigy/flysky radios.

[2016-11-22 08:06] basdelfos commented on #1597
OK, I will fix this in the upcoming days.

[2016-11-22 09:03] blckmn commented on #1597
Thats great @basdelfos

[2016-11-22 09:18] blckmn commented on #1632
I'll have a look into this one.

[2016-11-22 10:32] andymac4182 commented on #1632
I think this is a duplicate of https://github.com/betaflight/betaflight/issues/1035

[2016-11-22 11:03] Szpero opened #1633 "AIR32 (Lemon) voltage scaller not working"
Voltage source connected to L/G pins. Voltage reading are working - value depends on input voltage value.
Problem is with scaller itself so user cant adjust readings to correct values.
Changing even from 0 to 255 doesnt affect on final shown value.

[2016-11-22 11:31] mikeller commented on #1633
Where do you read the final shown value from? If it's from the configurator 'configuration' tab, are you aware that you have to hit 'Save & Reboot' for the changed scaling to take effect?

[2016-11-22 11:34] Szpero commented on #1633
Configurator software connected by USB.
If I remember well it was something about 25.5v. Swapping cables between amount of cells had influence on value.
On every change of scaller I saved it and FC was rebooted. I didn't noticed change on small values so I tried 0 and 255 value without effect.

[2016-11-22 11:55] mikeller commented on #1633
Ok. A reading of 25.5V (255 * 0.1V) means that your voltage scaling is so far off that you are over the limit for this display to work. Also, a scaling of '0' means the battery voltage input is not used for voltage calculation at all. I would suggest that you test again with values of 1 and 10 for the scaling. If these both come out as 25.5V then the battery voltage input on your board is broken.

[2016-11-22 14:55] #1627 closed

[2016-11-22 14:55] Szpero commented on #1633
Closing case.

Different PC, fresh install of bF and L/G connected to lab power supply.
Don't know why but now scaller is working and all is trimmed to correct values.

Thanks for support.

[2016-11-22 14:55] #1633 closed

[2016-11-22 15:38] Szpero commented on #1631
Timer is for most cases enough:
- 8520 motors + 55mm ladybird. I'm using simple rule. Ah x 10 - 1 = minutes. So for 0.6Ah I'm flying for 5minutes. Its fits well within 500-750mah lipo range.
- 1020 motors + 65mm gemfan. Rule same but -2 minutes. Those ones are really lipo killers. Even graphene 1s starting to be warm.

Telemetry: working well and go along with tutorial from link above.

One more i

[2016-11-22 19:41] HaseebNain opened #1635 "Smartport Telemetry still not working on F4 targets?"
I have been working on getting smartport working on F4 targets.

Because the F4 does not natively support UART inverting, I used the taulabs inverting circuit on UART3 in an attempt to get some sort of S.PORT connection.

![image](https://cloud.githubusercontent.com/assets/9420015/20537462/7f941aac-b0aa-11e6-80ce-5e84e7debe5a.png)

I have attempted to turn off inversion "telemetryConfig->telemetry

[2016-11-22 19:45] HaseebNain commented on #1635
@blckmn Were you able to use a similar inversion circuit to get your BlueJayF4 working with Smartport?

With this circuit I was able to use an arduino to push a PWM signal and saw it inverted through an oscilliscope but was never able to get it to establish SBUS without using your workaround.

[2016-11-22 20:00] mixMugz commented on #1271
So. Any news?

[2016-11-22 20:21] HaseebNain commented on #1635
Could the issue be related to #1386 and #1499 as UART (msp) information seems to be inconsistently corrupted as shown by @jflyper?

F4 msp TX and RX
![image](https://cloud.githubusercontent.com/assets/9420015/20540406/596e16be-b0b6-11e6-8624-264dbe04d548.png)

compared to the F3 msp TX and RX
![image](https://cloud.githubusercontent.com/assets/9420015/20540434/72eed75e-b0b6-11e6-92dc-74bc3246485e.

[2016-11-22 21:46] blckmn commented on #1635
@HaseebNain it is possible the MSP corruption is similar issue for smartport.

However I would check that the bi-dir option is not on for smartport in F4 - otherwise the RX pin is effectively muted, and everything goes through the TX (hence why the 1 wire option works).

[2016-11-22 22:36] Hazakins commented on #1635
@blckmn would that be in the UART driver code?
Thanks

[2016-11-22 22:39] mikeller commented on #1271
Not really. Looks all correct to me. I was hoping that @gaelj could shed some light onto this (no pun intended).

[2016-11-22 22:55] gaelj commented on #1271
Hi, simply because it was implemented by making the animation follow the
LED numbering.
On Tue, 22 Nov 2016 at 23:39, Michael Keller <notifications@github.com>
wrote:

[2016-11-22 23:14] HaseebNain commented on #1635
Smartport by default has BIDIR enabled.

In smartport.c ("src/main/telemetry/telemetry.c" line 334):

    portOptions = SERIAL_BIDIR;

I changed this to

    portOptions = SERIAL_NOT_INVERTED;

and also set

    telemetryConfig->telemetry_inversion = 0;

in config.c ("src/main/fc/config.c" line 369)
to account for the hardware inversion. Still no signs of Smartport communication with the serial se

[2016-11-22 23:51] mikeller commented on #1271
@gaelj but do you have any clue as to why @mixMugz ' indicators are not working as they should? For what I can tell from the screenshot, the orientation is set correctly.

[2016-11-23 01:58] HaseebNain commented on #1635
Cleanflight it seems was able to get smartport working with the dual invertor circuit.

https://github.com/cleanflight/cleanflight/issues/818

@netsplits I see that you were able to get smartport working with Cleanflight using a dual invertor inversion circuit. Is there anything with the Betaflight smartport code that seems to be out of order when compared to the firmware you worked with? The firm

[2016-11-23 05:00] Jahnkeanater commented on #1632
That's from 4 months ago though. Hydra finally released IBUS telemetry in the stable build 12 days ago. I don't think it would be too hard to get it working now.

[2016-11-23 06:02] andymac4182 commented on #1632
@Jahnkeanater If you read the latest comments someone has got it working in Betaflight it just needs to be pulled in.

[2016-11-23 21:02] basdelfos commented on #1597
@martinbudden, see https://github.com/betaflight/betaflight/pull/1646 for changes i made. Can you review this pr.

[2016-11-24 03:40] LightningStalker opened #1649 "F3 Omnibus intermittently does not arm on 3.1 Dshot"
I'm encountering this issue where I need to cycle power to get it to rearm.  It seems to arm once after a reset, but if it's disarmed it won't rearm again until another power cycle.

[2016-11-24 04:18] Zethyl opened #1650 "LED Strip not working right on Omnibus F3 Pro with SK6812 LEDs"
Issues with LED Strip on OMNIBUS F3 Pro target OMNIBUS 3.0.1

board has a dedicated LED Strip connector

15 LEDs total. #0-8 are a strip connected to the strip of #9-#14 by thin servo wire

SK6812 RGBW LEDs

-no control of led #12+, always white
-random control of #0-11, if i set all to red i get R,G,B,R,G,B,R,G,B,R,G,B,W,W,W if i set to white i get all white, if set to blue i get B,R,G,B,R,G,B,R,

[2016-11-24 04:27] Zethyl opened #1651 "External I2C magnetometer (on GPS PCB) not working on Omnibus F3 Pro"
Issues with external magnetometer on OMNIBUS F3 Pro target OMNIBUS 3.0.1

Betaflight does not recognize the magnetometer and there are no CLI parameters to specify the type.

[2016-11-24 09:08] AndersHoglund commented on #1650
I assume you have read the documentation on LED-strips, if not do that: https://github.com/cleanflight/cleanflight/blob/master/docs/LedStrip.md
I also assume you have tried the required series diode modification, described in doc above:

If all that is done and you still have problem, there might be a compatibility problem between the supported WS2811/WS2612 LED types and your SK6812. There are sl

[2016-11-24 14:20] Zethyl commented on #1650
Yes, I have read the documentation. I have also installed a diode. Still having issues.

Is this a problem with the timing or due to the fact that these are RGBW?

[2016-11-24 14:55] AndersHoglund commented on #1650
Do not use USB to power the LEDs. Use a separate +5V regulator from flight pack. LED-strips usually draw too much power.
I have only tested WS2812B and I have not measure the signal timing, so I really do not know if SK6812 are fully compatible. Compare the specs, and get some WS2812 and try them. Dirt cheap on BG. http://www.banggood.com/5Pcs-CJMCU-8-Bit-WS2812-5050-RGB-LED-Driver-Development-Boa

[2016-11-24 17:42] nhadrian opened #1653 "Add battery capacity warning settings"
Hi,

I'd like to ask an option to set users warning limit for battery capacity readings. For example add a **battery_capacity_warning_limit** parameter between 0 ... 100 values (ie. 10 by default) that represents remaining capacity warning limit setting. Also please include this type of warning for different telemetry protocolls.

The reason is that using battery voltage for alarm is not too accur

[2016-11-24 17:57] AndersHoglund commented on #1650
Interesting co-incidence. Got my 5 pcs of WS2812  from BG today. And they work just fine without the series diode mod. Seems to be a difference where the Adafruit Neopixel WS2812B is more sensitive than those cheap WS2812 (non-B).

[2016-11-24 19:48] fishpepper opened #1655 "serialpassthrough on an sbus/frsky telemetry port broken"
I am trying to use serialpassthrough for a port that shares sbus and frsky hub telemetry (both non inverted).

There was a bug in the serial port init for parity modes, this should be fixed by
https://github.com/betaflight/betaflight/pull/1654

I open the port with
serialpassthrough 2 100000 rxtx
With this patch the transmission looks valid on a scope. Unfortunately the serialpassthrough does not

[2016-11-25 01:03] thompsbp opened #1657 "Suggestion: Blackbox dataflash continuous wrap."
I think it would be awesome to have the option of having blackbox wrap continuously over onboard dataflash storage.

Currently blackbox will stop logging once dataflash memory is full. It would be awesome if blackbox could wrap and keep writing data overwriting the oldest data. This would allow blackbox to be kept permanently on. In the event of a crash or other interesting event the last 'x' seco

[2016-11-25 01:08] mikeller commented on #1657
Unfortunately this is not possible for onboard data flash storage, due to the maximum speed of erasing the flash being lower than the write speed.

[2016-11-25 01:08] #1657 closed

[2016-11-25 02:08] jflyper commented on #1651
@Zethyl
I2C is not supported in 3.0.1 for OMNIBUS target.

I will be available in 3.1.

[2016-11-25 02:29] mikeller commented on #1653
Hi Adrian.

Couple of points:
- the warning you are proposing will obviously be dependent on the battery capacity that is configurred in the firmware, and hence not work properly for users that use batteries of different capacity on the same craft;
- the mAhDrawn / remaining battery capacity is already sent via telemetry feedback;
- as a conclusion, it is probably easiest (and already possible) to

[2016-11-25 03:39] Zethyl commented on #1651
I am glad to hear its in the next release, thank you.

[2016-11-25 03:39] #1651 closed

[2016-11-25 04:00] nhadrian commented on #1653
Hi, thanks for your feedback. Of course this type of warning needs properly configured current monitoring and battery size. But since the battery size is 0 by default, that means once the battery size is configured by user in cli, user knows what is doing, so this type of warning will be relevant. If the default warning level will be 0%, there is probably no need for extra parameters switching dif

[2016-11-25 04:27] Zethyl commented on #1650
The diode did not change the behavior with the SK6812 either.

I just came to the realization that the distributor I purchased this strip from may not exactly know what they are selling but here is a link to what I purchased. [](http://a.co/eZ4K310) They appear to be 32-bit RGBW LEDs like this [p2757_SK6812RGBW_REV01.pdf](https://github.com/betaflight/betaflight/files/612494/p2757_SK6812RGBW_REV01

[2016-11-25 07:13] #1545 closed

[2016-11-25 10:24] hahatou opened #1659 "3.1.0 745 REVO full thr Motor damage"
3.1.0 745 REVO full thr Motor damage

[2016-11-25 11:19] fishpepper commented on #1655
this is fixed by https://github.com/betaflight/betaflight/issues/1660

[2016-11-25 11:19] #1655 closed

[2016-11-25 12:52] slawek89 commented on #1635
Can anyone tell me how it is with SmartPort?
Single connection work with F4 targets (simply connect to the UART TX and inversion on)?
Is it something else, when we combine the input and output (any additional options?).
It is necessary to add hardware inversion TX and RX or it can be done via software?
PS. Sorry for dumb questions but i'm not good with software magic.

[2016-11-25 13:03] limhyon opened #1664 "Blackbox issue with 8k/8k settings?"
Hi,
I had a trouble of unknown twitches, but the twitch was gone when I turned off the blackbox.
I reckon that the problem was because of blackbox, it was trying to store data in 8k.
Was there any issue related to this?

[2016-11-25 13:09] limhyon opened #1665 "Accelerometer diable problem"
Procedures to repeat

1. Enable accelerometer.
2. Enable angle mode.
3. Make sure angle mode is working.
4. Disable accelerometer without removing angle mode.
5. Still angle mode is working, even though the accelerometer is disabled.

[2016-11-25 15:09] jflyper commented on #1635
@slawek89 That sounds like a support question. Please come to the RCGroups' thread. Which board are you using?

[2016-11-25 15:11] jflyper commented on #1659
@hahatou Please elaborate.

[2016-11-25 15:16] jflyper commented on #1665
@limhyon
It doesn't reproduce.

(1) What is your board and firmware version?
(2) Did you Save & Reboot after Step 4?

[2016-11-25 15:41] jflyper commented on #1664
@limhyon Can you supply us with at least:
(1) Your board
(2) Your storage type

[2016-11-25 15:44] hahatou commented on #1659
I use OS125 test 3.1.0 full thr motor twitch , use Dshot normal~

[2016-11-25 19:20] MJ666 opened #1667 "The initalisation of the serial RX configuration is not working properly"
Looks to be during an cold start the UART table is not initialized and the assignment of the serial RX is not working. Please see here:

https://github.com/betaflight/betaflight/blob/master/src/main/fc/config.c#L784-L794

and also here #1656

[2016-11-25 19:50] MJ666 commented on #1659
@hahatou very nice detailed description of te problem you have. What kind of answer do you expect?

[2016-11-25 20:53] AndersHoglund commented on #1650
OK, 6812 is incompatible and not supported. Closing.

[2016-11-25 20:53] #1650 closed

[2016-11-25 22:32] MJ666 commented on #1667
fixed with #1668

[2016-11-25 23:20] #1667 closed

[2016-11-26 05:03] jflyper commented on #1664
P.S.
If you are recording at 1:1 on 8k, it's just a waste of everything. 2k effective is enough, 1k is fine for most cases.

[2016-11-26 11:57] andre92 commented on #1659
Please tell us which flight controller, which esc, battery voltage etc.
Blackbox and CLI dump also welcome.

[2016-11-26 13:13] slawek89 commented on #1635
Actually I design my own F4 board for few friends. So I would like to know what hardware place on it. On other F3 boards SP works fine to me.
I want to use only frsky xsr and I don't know if I have to place only inverter on TX or circuit like in first post.

[2016-11-26 13:21] fishpepper opened #1675 "problems running gdb on F3 target"
I have two problems using gdb on F3 targets:

1) i have to disable VCP, otherwise i get stuck in an endless usb irq etc loop - any hints?

2) i have to comment out the line 196 of adc_stm32f30x.c:
`while (ADC_GetCalibrationStatus(adc.ADCx) != RESET);`
Otherwise i get stuck at this line.

Has anyone experienced the same? Could this be caused by not having the reset line connected to my stlink?
I on

[2016-11-26 13:28] jflyper commented on #1635
@slawek89 You have to consider a couple of factors:

1. S.PORT is a bi-directional protocol.
2. Half-Duplex mode turned on by S.PORT support code connects RX to TX internally, and RX pin will be ignored.

Above collectively suggests that if you are going inverter way, the inverter must be bi-directional, and requires some non-trivial circuit similar to the one shown in the first post (I say simila

[2016-11-26 13:43] jflyper commented on #1635
@HaseebNain

No, that is not **IDLE**, but **DLE** (Data Link Escape). The lines you are looking at is trying to encode data bytes that has special meaning in data framing control so they are not mis-read as framing control at the receiving end (e.g., What if you want to send a byte that represents end of the frame as a part of the data, etc.)

Transmission timing is controlled by the receiver (or

[2016-11-26 15:19] borisbstyle commented on #1659
You read the manual about os125 and you know the looptime limits with it?

[2016-11-26 16:31] MJ666 opened #1676 "The 3d_deadband_throttle is changed from 50 (default) to 1000"
This will always happen if the BF configurators configuration page is saved even if there is noting changed. not sure if this is related to the firmware or the configurator itself. Using 3.1 build from today with configurator 1.8.4. Could not really find anything in the firmware wich could cause this.

[2016-11-26 20:28] cngreg79 commented on #1148
Same issue with Revo Acro

[2016-11-26 20:43] MJ666 commented on #1676
I can only see the initialization in config.c and writing the parameter via MSP. This are the only two locations where it is written to this parameter directly from the firmware code. Likely the value will be changed from the configurator?

[2016-11-26 22:38] gaelj commented on #1650
pitty the branch wasn't merged at the time... i'll rebase it some time

[2016-11-27 10:50] jeffwhu opened #1679 "3.0.1 pikoblx issue"
Just got kombini FC and flashed it to pikoblx 3.0.1, ,my quad I put it on was uncontrollably yawing, checked all settings in betaflight and taranis everything good.
Ref laser the FC to pikoblx 3.0.0 and the problem went and flies good now, not sure why 3.0.1 wouldn't work.
Just an advisory or has anybody else had the same issue?

Jeff

[2016-11-27 12:20] jflyper commented on #1679
@NightHawk32 Is PIKOBLK target properly maintained?

[2016-11-27 12:29] RipperDrone commented on #1635
Pls let a noob understand what you are going for, @HaseebNain:

There is no way around the need for a hardware telemetry signal inversion if we want to use it on an F4 FC (like Omnibus/Flip) UART3 port, since only UART1 is inverted and used for S-Bus / receiver.

We can do an S.Port receiver hack (described in rcgroups) to get it to work.

The purpose of what you are trying here is to implement a

[2016-11-27 12:51] jeffwhu commented on #1679
Don't know what you mean by"target properly maintained"?, sorry

[2016-11-27 13:13] martinbudden opened #1681 "For disscussion - RTOS for betaflight"
This issue is to discuss the use of an RTOS with betaflight. Pros/cons, which RTOS to use etc.

[2016-11-27 13:14] NightHawk32 commented on #1679
@jflyper I think it is. I am not aware of any big issues about this target.
Just took one of my Kombinis and flashed 3.0.1 again to see if I can reproduce this issue. Everything behaves as expected.
@jeffwhu Can you check if the yaw issue is caused by strange sensor values or by issues regarding rx input?

[2016-11-27 13:17] jeffwhu commented on #1679
Had a look at sensors all appear fine, rx input correct.
Flashed 3.0.0 to kombini and works fine.

[2016-11-27 13:58] jflyper commented on #1681
Additional items to consider:
- Migration strategy; disruptive, non-disruptive, etc.
- Bus resource scheduling?

[2016-11-27 14:01] ledvinap commented on #1681
(copy from related threads)
With RTOS, current system may run as single thread - scheduler and all. This will allow to use current simple model that ignores proper synchronization.
Parts of code may be moved to separate threads eventually:
- interrupt handlers may be simplified/partly moved to task.
- bus arbitration
- gyro + PID + motor control - proper synchronization of control inputs (RC, atti

[2016-11-27 14:03] slawek89 commented on #1635
@jflyper
Thanks for explanation. One question. SmartPort won't work on F4 targets like in F3?
So there is only one way to work SP (reciever hack)?

[2016-11-27 14:08] ledvinap commented on #1681
Ad bus resource - One possibly quite easy way is to run separate thread for each bus, calling driver-supplied functions.
The thread will decide which driver shall get the bus (priority/round-robin based) and call drivers function.
Bus request called from this function will simply preempt until data are ready, so implementation will be almost identical to current code with almost free background pr

[2016-11-27 14:10] jflyper commented on #1635
@RipperDrone All correct.

@slawek89 F3 has internal inverters on all USART channels. F4 has none thus requires external inverter wherever the signal is inverted.

Why F3 has them and F4 doesn't? Because F3 is newer than F4, and someone at ST micro found out it would be useful to have them when they started to design F3.

[2016-11-27 14:41] slawek89 commented on #1635
@jflyper Just out of curiosity, it is possible to make software inversion on F4 or it is impossible?
Sorry if it isn't question for this place.

[2016-11-27 15:30] TheAngularity opened #1682 "all empty resource from NONE to A00???"
@mikeller @martinbudden
the latest #1622 fills empty resources from NONE to A00 ... I think that should not be so

before merge:
[code]

after merge:
[code]

[2016-11-27 18:55] HaseebNain commented on #1635
@ripperdrone Correct, the hardware circuit has been implemented and tested to work. While the hardware hack works, it isn't ideal.

I'd like to see if software inversion is possible, which might be easier said than done. Or at the least just get the hardware circuit + firmware working so the community can simply use any F4 board and enjoy S.Port without having to go through the hack.

[2016-11-27 19:15] mikeller commented on #1653
Implemented by #1658.

[2016-11-27 19:15] #1653 closed

[2016-11-27 19:46] basdelfos opened #1685 "Changing values with MSP over SmartPort are not stored into EEPROM"
When using the LUA script on a Taranis to change PID values, they seem not being stored into EEPROM. Changing PID values works, but after reconnecting the lipo, the changed values are restored to original value before changing it with the LUA script.

Steps to reproduce:
1. Install BF 3.1 (build of master of date 2016-11-27) and BFSetup.lua on a Taranis.
2. Start LUA script on the Taranis.
3. Chan

[2016-11-27 20:57] blckmn commented on #1681
I quite like this incremental approach proposed by @ledvinap Having each bus in a thread will require some effort in the elimination of the while loops (the request - wait - receive) releasing cpu whilst in the wait state. Device (or DMA) ISRs can then be used on the receive and to synchronise.

[2016-11-27 21:05] QuadroBro opened #1689 "3.1 Nov 27th build... YIKES"
This build is a disaster from a PID's perspective. Nothing but high freq oscillations until I tuned P's to low 30's I's to low 20's and D's to 10/12. Even then, there was crazy propwash on hard turns. I had to give up on tuning when I realized that D setpoint weight was having no effect whatsoever.

Additionally, has anyone else noticed that the ability to tune via the OSD disappeared??? I'd be mo

[2016-11-27 21:06] QuadroBro commented on #1659
If he's running the 11/27 build, that may explain it.

[2016-11-27 21:27] borisbstyle commented on #1689
D setpoint is not meant to tune oscillations with it, but stick feel.

Did you erase eeprom?

[2016-11-27 21:38] ledvinap commented on #1681
@blckmn : Not sure what 'while loop you mean;. Current code code accesses bus only when actively using it (busy-waiting for result), but lets other tasks run when waiting for processing / new data.

Every RTOS will have some I2C/SPI driver implementation.
In I2C case it would be great way to get rid of current (ugly) code.
SPI flash will benefit greatly from DMA, other performance gains will be pr

[2016-11-27 21:51] blckmn commented on #1681
@ledvinap check out bus_spi and i2c both have while loops waiting for response following request.

The issue is reads from these are blocking... rather than genuinely using the ISRs.

[2016-11-27 22:06] borisbstyle commented on #1681
So what rtos would be the best choice?

Also on F1 boards we are running out of flash size.

[2016-11-27 22:06] ledvinap commented on #1681
@blckmn : Yes, but bus is not released in this time - RTOS may preempt bus thread during this time (once for each bus read/write op). From point of view of driver nothing is changed(but current code must be moved into separate function that is executed in bus thread) , RTOS and non-blocking bus driver implementation will handle the rest ..

[2016-11-27 22:15] basdelfos commented on #1685
Confirmed this also on the workbench with BFC. Values are saved while lipo or USB is connected. After disconnecting/reconnecting lipo and/or USB, the values are reset to initial value. Same applies to the rates.

[2016-11-27 22:25] Faduf commented on #1635
You can maybe use softserial, like it is done on many F1 boards.

[2016-11-27 22:25] mikeller commented on #1682
It's weird that this changeset would affect the resource allocation. But it could have been caused by the config becoming stale. Have you tried resetting the config to defaults to see if it still shows unassigned functions as assigned to A00?

[2016-11-27 22:30] blckmn commented on #1681
@ledvinap blocking on bus yes that remains - but at the moment it's effectively blocking CPU too. RTOS I'd expect the while loop to relinquish control of CPU and use ISR to signal re-entry required.

[2016-11-27 22:32] blckmn commented on #1681
Even at 10mhz SPI, we are wasting 16+ CPU cycles on an F4 waiting for a byte. i2c is worse... much much worse.

[2016-11-27 22:46] ledvinap commented on #1681
@blckmn : RTOS yields current thread in I2C function (read/write). When transaction is complete, ISR wakes the thread (makes it runnable), thread execution continues when no higher priority thread wants to run.
This is hidden inside I2C driver functions and transparent from point of calling code. There is no explicit yield/resume ...
(maybe we just don't understand each other ... )

[2016-11-27 22:50] martinbudden commented on #1681
OK, I'm going to go against the grain here.

Why do we want an RTOS, other than because it gives us a nice warm fuzzy feeling?

When we talk about RTOS, we are talking about an RTOS kernel. They typically provide:
1. a priority based task scheduler,
2. a minimalistic memory management subsystem,
3. a set of timers,
4. some task synchronization facilities ie semaphores/mutexes

Which bits of that d

[2016-11-27 22:52] ledvinap commented on #1681
@blckmn : Also speed is in bits per second, byte rate is eight time lower ... Task switch time is comparable, but full switch is necessary only after full transaction ...

[2016-11-27 22:52] blckmn commented on #1681
Im referring to the inefficiencies that exist right now - going to RTOS will alleviate this as you say - one of the key benefits in my view. I'm pretty sure we are on the same page - I'm all for moving ASAP - and taking the approach you suggest.

[2016-11-27 22:56] blckmn commented on #1681
Yes you're right so it's actually about 130cycles wasted at 10mhz spi. Which is why CPU use goes through the roof if you do nothing but lower spi speeds...

[2016-11-27 23:02] blckmn commented on #1681
@martinbudden my vote for a move is purely background tasks - though that said rewriting the spi and i2c drivers to free up CPU can be done but it means moving mpu, baro code etc to not expect blocking calls.

[2016-11-27 23:05] ledvinap commented on #1681
@martinbudden :
Preemptive scheduling is quite fast - task selection is same as in cooperative case, task switching only needs to save/restore registers. ~1.3us is achievable for context switch, 600ns seems possible on F4.

Coding with cooperative scheduler is simpler, but mostly because you are ignoring dependencies. Blocking interrupts to sync with IRS code may be less efficient then proper pree

[2016-11-27 23:14] martinbudden commented on #1681
@ledvinap , when I speak of the overhead of pre-emptive scheduling, I'm not talking about the time taken for task switching, I'm talking about the overhead of managing access to shared data. Data is shared all over the place in betaflight. If we had pre-emptive scheduling we could have things like the PID task interrupting the RX task when, say, half of the RC channels had been updated.

[2016-11-27 23:20] martinbudden commented on #1681
@blckmn , you say "so it's actually about 130cycles wasted at 10mhz spi.". I say: "so what?". CPU cycles are not a scarce resource for us, so it does not really matter if we waste a few.

Don't forget our goal is high performance, not high efficiency. Often high performance comes at the cost of reduced efficiency. Let's not forget our priorities here.

We waste lots of RAM as well. Take for exampl

[2016-11-27 23:34] blckmn commented on #1681
Yes that's true @martinbudden - but we are pushing the F3 now harder and harder - so CPU will (you might say is - at higher gyro rates) become scarce. I'm all for not prematurely optimising. I'm actually happy to look at updating the spi i2c drivers to free up some CPU - even before rtos - if it helps.

[2016-11-27 23:53] mikeller commented on #1676
I think it is an off by one error in the MSP message format, so it's inbetween the two. ;-) But to my recollection we had this exact bug fixed in the past, and this is probably a regression.

[2016-11-27 23:54] rotcehdnih commented on #1676
Watch out MJ666 3D mode is very broken in 3.1 after some mixer changes  , Please watch this video to see the current issues that are being worked on ..

https://www.youtube.com/watch?v=U42MLzdquhI

[2016-11-28 00:17] jflyper commented on #1635
Softserial may work, but it's a cycle hog.

[2016-11-28 00:58] digitalentity commented on #1681
We will free up a lot of CPU if we do proper asynchronous background bus operations. I'm slowly moving towards making this happen. Hopefully, after having INAV 1.4 out of the door I'll look deeper.

@martinbudden RTOS will make things more organised in the long run, but the whole design of the system will have to change to make use of RTOS efficient, otherwise we will suffer a huge performance pen

[2016-11-28 01:55] jflyper commented on #1635
Is there any SmartPort master emulator that I can use to debug SmartPort slave code? Something that runs on Arduino, may be?

[2016-11-28 03:30] QuadroBro commented on #1689
@borisbstyle It said erasing, so I'm assuming so. If it's not setpoint, then I'm not sure what it is as it feels like the pid's have been amplified considerably. Again, this is on 3 quads (2x omnibus F4 and 1x omnibus F3 Pro). I saw another thread stating the dude blew a motor today and, granted, he was running the wrong protocol, but I'm pretty sure if I ran at stock pids for more than a few minu

[2016-11-28 06:57] slawek89 commented on #1635
Maybe you can use this:
http://www.rcgroups.com/forums/showthread.php?t=2245978

[2016-11-28 07:23] LightningStalker commented on #1649
This appears to be fixed in the latest build.  Thanks.

[2016-11-28 07:23] #1649 closed

[2016-11-28 07:23] martinbudden commented on #1681
Exactly. We can't just shoe-in an RTOS and expect to get automatic benefits.

Agreed.

Don't get me wrong, I'm not against the idea of an RTOS in principle, I just disagree with the idea that using one will "magically" make betaflight better. Converting to an RTOS will involve a huge amount of work just to get to where we currently are.

[2016-11-28 07:26] LightningStalker commented on #1632
This would be nice to have in my Turdigy i10

[2016-11-28 07:27] digitalentity commented on #1681
@martinbudden I believe we have had this discussion in Cleanflight repo about a year ago and came to same conclusion - RTOS in principle is good, but is not a Holy Grail that will magically make the firmware better.

IIRC, after that discussion our cooperative scheduler was born.

[2016-11-28 07:34] jflyper commented on #1635
@slawek89 This is good. Will try it. Thanks!

[2016-11-28 08:16] ledvinap commented on #1681
There are quite a lot of possible methods to do this. For example double-buffering data into PID task should be quite easy. Or passing messages through queue(single-element queue is almost equivalent to double-buffering). Even using mutex (ideally with priority boost to prevent priority inversion) to protect shared data access should not be that hard to implement.

[2016-11-28 08:18] TheAngularity commented on #1682
both config are resetting to defaults and that the output after this

[2016-11-28 08:22] Linjieqiang commented on #1635
![image](https://cloud.githubusercontent.com/assets/10217966/20660891/d43e1932-b586-11e6-99d8-cf0a392a1128.png)
Was this circuit correct?

[2016-11-28 08:28] ledvinap commented on #1681
Main advantage of RTOS in short-term is manageable bus arbitration/bus transaction in background + proven I2C bus driver. This will have quite small impact on current code base. And performance of I2C targets will be greatly improved.

In medium-term, gyro task separation may improve performance and simplify the code.
Splitting long interrupt handlers into task + small ISR will make new functions

[2016-11-28 09:10] blckmn commented on #1682
It looks like there's no check in printResource for if the iotag_t is valid...

[2016-11-28 09:14] andymac4182 commented on #1035
@marcroe Any updates on this?

[2016-11-28 09:15] sasofpv commented on #1689
I experienced same issue today with build #759 with Soul F4 and Aikons 20A (16.5) with DSHOT300.

Crazy high oscilation. I reflashed board and left default PIDs with same results. I was previously running build #737 without any issues.

[2016-11-28 09:28] martinbudden commented on #1689
@QuadroBro , could you give a link to the build you used that has the problems?

And if you have time, it would be great if you could track it down to an exact build, ie something like build 753 works, but build 754 doesn't work. This would greatly help in fixing the problem.

[2016-11-28 09:33] ledvinap commented on #1682
Also `DEFIO_TAG_ISEMPTY` is internal abstraction, IO is designed so that both `ioTag_t` and `IO_t` evaluate to false when empty - `if(io)` / `if(tag)` is correct way to test for non-empty tag/io

[2016-11-28 10:08] blckmn commented on #1682
https://github.com/betaflight/betaflight/pull/1693 just added this but won't be able to test on hardware until tomorrow.

[2016-11-28 10:18] 2black0 commented on #1631
1. timer
2. volt telemetry
3. osd

[2016-11-28 11:01] jflyper commented on #1635
@Linjieqiang I believe it does what it was designed to do, but currently has some trouble interfacing to smartport code in BF.

[2016-11-28 11:13] TheAngularity commented on #1682
merged your latest #1693 ... flashed ... after resetting back to defaults the unassigned functions shows NONE back again ... thx @blckmn

[2016-11-28 14:27] llambkin commented on #1597
WOW! lots of stuff going on here. is it possible to use frsky hub telemetry stuff work if the FC is a master of a set of sensors? I have a frsky lipo monitor that pulls individual cells and spits out hub telemetry data. Its a bit of a waste of a uart tho just for that.....

[2016-11-28 16:21] Linjieqiang commented on #1635
@jflyper So I want use this cricuit in my fc board to support S.port.The BF can support it later.

[2016-11-28 16:25] sasofpv commented on #1689
I will try to find exact build  when weather gets better...

[2016-11-28 17:29] jflyper commented on #1635
@Linjieqiang At your own risk. And also note that you would need some additional arrangement unless you designate a UART specifically for S.PORT.

[2016-11-28 17:35] Linjieqiang commented on #1635
Yes.I designate the UART3 specifically for S.PORT.Is it ok?

[2016-11-28 17:44] HaseebNain commented on #1635
@jflyper Yea that would be fine, I just started looking over that RCGroups thread too. Let me know whatever and whenever you want to debug anything!

[2016-11-28 18:29] martinbudden commented on #1689
That would be great.

[2016-11-28 18:41] #1679 closed

[2016-11-28 20:06] MJ666 commented on #1689
I was flying an build from Saturday's master on 4 different AlienFlight F3/F4 based controllers without seeing any issues. Two Quad and two Hexacopters.

[2016-11-28 20:50] rodgerramjet opened #1695 "Safer arming mechanism to prevent accidental arming"
Unfortunately i have a spektrum so cant setup 2 switch arming like you can using taranis's mixer- as far as i can tell.

There doesnt seem to be a way to set this sort of condition in the bf configurator's modes tab- you can add multiple 'or' conditions but not 'and' conditions. Is it possible to get this?

Or if its simpler - an option something like having to arm twice (within 2 seconds) after y

[2016-11-28 20:55] mikeller commented on #1597
@llambkin that's a good idea actually. It's not something that is currently supported, but I think it would make sense to add a 'FrSky Hub feedback' sensor source. Since FrSky Hub uses one way communication, it would then be possible to use one serial port for FrSky in / out, with Rx listening to sensor data, and tx sending the combined sensor data / firmware data to the RC Rx.

[2016-11-28 21:36] mikeller commented on #1631
Closing this, solutions outlined in discussion.

[2016-11-28 21:36] #1631 closed

[2016-11-28 21:47] #1682 closed

[2016-11-28 22:01] mikeller commented on #1695
What is the reason you cannot use switch arming with your Tx? (Sorry, I don't know spektrum.)

One potential option for making stick arming more secure would be to require the sticks to be held in the 'arm' position for a certain amount of time (2 seconds). Your thoughts?

[2016-11-28 22:58] rodgerramjet commented on #1695
@mikeller

Just for clarity- i can use switch arming but no option to make it a '2 switch' process for safety (eg bump tx accidentally)

Ive searched the net on how to setup a 2 switch arm with my dx8 and cant find any info.

Taranis has plenty of guides on how to do it- it allows you to setup logical switches which i dont think spektrum does. Heres a bardwell vid on taranis setup https://youtu.be

[2016-11-28 23:23] Hazakins commented on #1635
@jflyper I could possible help too. I have a XSR and a Revo f4 with this circuit wired up.

[2016-11-28 23:48] flounderscore commented on #1695
Depending on what Spektrum TX you have, it is possible. Create a mix for your arming channel (mix it with itself) and use your secondary arming switch to enable the mix.

That approach works fine for me on a DX7s (although I use it to have two disarm switches, flight mode and throttle hold - trying to mimic my heli setup).

[2016-11-28 23:56] mikeller commented on #1695
@rodgerramjet As an alternative to @flounderscore's suggestion (and not knowing if the spektrum firmware supports this), you could also create an additive mix of 2 switches and scale them down to 50%. This would then effectively be transmitted as a '4 position switch' on the channel, allowing you to assign the 'both up' range to arming.

[2016-11-29 00:21] codygarvin commented on #1635
I am working with @HaseebNain on trying to get this circuit to work. My only questions is that due to the wiring of this circuit anytime the MCU is transmitting down UART TX it's going to be reading a duplicate of the data being transmitted back into UART RX. Does the code already ignore the RX buffer during TX writes? Since the drive side of the TX inverter is on the gate side of the RX inverter

[2016-11-29 00:24] jflyper commented on #1635
@codygarvin That's what I was wondering for few days (see [comment ](https://github.com/betaflight/betaflight/issues/1635#issuecomment-263064157)).

You can embed some assignments into debug[] variables to see how states are transitioning. Can you do this?

[2016-11-29 00:37] HaseebNain commented on #1635
We haven't used debug[] before but can look into enabling and using it to see the state changes.

[2016-11-29 00:46] codygarvin commented on #1635
@jflyper So does the SPORT receiver ask for telemetry data and the MCU processes the request and responds? Or does the MCU just feed out the data with appropriate headers and the receiver just replies with handshakes? Either way, the code will definitely have to ignore or block bytes on the RX line when using TX. Even if you went with a 2-channel XOR implementation for inversion you run into the s

[2016-11-29 01:25] rodgerramjet commented on #1695
@flounderscore @mikeller

wow thanks for your help- you guided me in working this out using mixing on DX8... i didn't realise using the same channel was the way

I set the settings to GER->GER (my arming switch).. rate -125%.... offset -95%... Sw Mix1 (the other switch)

Cheers.... I'll close this issue.

[2016-11-29 01:25] #1695 closed

[2016-11-29 01:33] jflyper commented on #1635
It's a request (receiver) - response (fc) protocol.

First few steps of `debug[]` debugging would be:
- Call count for `smartPortDataReceive`.
- Count `smartPortDataReceive` flagging `smartPortHasRequest`.
- Call count for `smartPortSendPackage`.

[2016-11-29 01:39] jflyper commented on #1635
@Linjieqiang

It's your board and your decision to dedicate some resource for some specific purpose...

[2016-11-29 01:46] jflyper commented on #1635
@codygarvin And don't forget to turn off the `SERIAL_BIDIR`.

You folks don't have logic analyzers?

[2016-11-29 03:11] marcroe commented on #1035
@andymac4182 On my test rig (consisting of Flysky i6 and ia6b RX) which I use to let friends and novices fly I get a failsafe ever so often. The transmitter loses connection with the RX and I have to power-cycle the RX. Since this only happens if I run my branch with iBus telemetry suport, I think something is not yet implemented quite right. I would like to cross-check by running the cleanflight

[2016-11-29 03:20] Linjieqiang commented on #1635
How about using softSerial to implement the S.port?@jflyper

[2016-11-29 03:23] jflyper commented on #1635
@Linjieqiang Read this [comment](https://github.com/betaflight/betaflight/issues/1635#issuecomment-263158760).

SoftSerial is my last option.

[2016-11-29 03:50] RBeaubien commented on #1597
I have been following this thread with interest.  I am designing a new AIO FC and want to add ESC telemetry pads.  The KISS FC has these connected to UART3 TX. Is the consensus here is to do the same or have I missed something?  Just trying to get a head start on a potential future feature of ESCs.

[2016-11-29 03:52] Linjieqiang commented on #1635
Oh forgive me for not seeing clearly. But for F4 board ,SoftSerial for S.port is a nice solution.

[2016-11-29 04:15] mikeller commented on #1597
@RBeaubien I think it would make more sense to connect them to the RX of an UART (for F3 it should be possible to use the TX, if the UART is set to bidirectional, but there is no benefit to this really).

[2016-11-29 04:22] RBeaubien commented on #1597
I would agree, but it looked like an attempt was being made to duplicate the KISS method.  Wanted to avoid adding a "never implemented" feature if at all possible.  I still have a couple of weeks before I have to come to a final decision.  Hopefully a decision on the correct type of pin to connect to will be decided by that time. :-)

[2016-11-29 06:47] mikeller commented on #1597
On second thought, I am not even sure if adding pads for ESC telemetry is really required at all. After all, users with KISS ESCs can just select the UART of their choice, and connect all ESC feedback lines to this UART's Rx pad. There is probably better use for board space than adding distinct pads for ESC feedback that all go to the same MPU pin (if nothing else, add pads for more MPU pins, allo

[2016-11-29 07:08] martinbudden commented on #1597
I can see a convenience argument for ESC telemetry pads. It would make the build easier and neater, but as you say at a cost of build space. However, different people prefer different things, so it could be nice to have a board with this option in the marketplace.

[2016-11-29 07:16] RBeaubien commented on #1597
I have plenty of space.  This is a AIO for an Alien frame.  If this is going to be a supported feature, I would like to add the pads to my board.  Just sorta hoping some decision is made before I need to commit to production.

[2016-11-29 07:53] MJ666 commented on #1676
The 3d_deadband_throttle problem is solved by #1694. Thanks to @mikeller .

[2016-11-29 07:53] #1676 closed

[2016-11-29 09:24] benwilliamson86 commented on #1689
I am having same issue. Flashed approx 12 hours ago. Its like someone cranked the P waay to high even though its on defaults. Running Dshot on 2206 Tornado T2's.

[2016-11-29 09:56] andymac4182 commented on #1597
@RBeaubien Can't wait to see. Any idea how long till you have pics / specs up?

[2016-11-29 09:58] basdelfos commented on #1597
If you have 'plenty' of space, than it would be the most convenient to add the pads for ESC telemetry near the signal and gnd pads for the ESC. Than also add separate pads for UART3 TX and RX. That way users who do not use ESC telemetry can use UART3 for other purpose.
Maybe you can also take a look at the new LUX V2, it uses a bigger package of the STM32F3 with more resources and UARTs. That way

[2016-11-29 10:25] RBeaubien commented on #1597
@basdelfos  My plan was pads near the escs, and a jumper pad to give 2 options to connect (or not connect) them to the F4.

@andymac4182 It will be F4 CPU with ICM-20689 MCU, BlackBox RAM or SDCard, and OSD all connected via SPI.  Probably not out till January.

[2016-11-29 10:41] basdelfos commented on #1597
@RBeaubien Nice configuration, will it be Alien only or standard 36x36 format?

[2016-11-29 10:43] RBeaubien commented on #1597
Alien only.  PDB on that is structural.

[2016-11-29 10:45] basdelfos commented on #1597
I know, that why I asked. That also confirms why you have plenty of space.

[2016-11-29 10:47] sasofpv commented on #1689
I tested again with build #763 (quick hover test in garage) and problem seems to be gone. I need to tested it again but looks OK (I experienced oscillation on build #759 during hover test too).

Does it have anything to do with PT1 filter initialization?

[2016-11-29 10:56] mikeller commented on #1597
@RBeaubien: Now I can see your point about wanting the pads - didn't make much sense to me for a 36 squared board. :-)

[2016-11-29 11:05] hydra commented on #1597
I think we can close this issue now, it's gone off-topic and the work has been done.

[2016-11-29 11:05] #1597 closed

[2016-11-29 11:08] hydra commented on #1675
your oscillator might be dead/dying on the FC.

[2016-11-29 11:32] martinbudden commented on #1689
Yes, the failure in the PT1 initialisation could have caused exactly these symptoms.

@QuadroBro , can you retest with the latest build and confirm the problem is fixed?

[2016-11-29 13:30] benwilliamson86 commented on #1689
Fixed for me. Many thanks.

[2016-11-29 13:52] fishpepper commented on #1675
The strange thing is that when i do not run gdb everything works as expected. VCP works, the target starts up and the fc is working fine. Can someone confirm that a gdb session is working fine with a vcp enabled target?

[2016-11-29 14:20] jflyper commented on #1685
I can't reproduce this.

[2016-11-29 15:04] sasofpv commented on #1689
I flew a couple of lipos today with #759 and it works great. No issues at all. Even blackbox logging and transfering log to computer works now. :)

Thank you!

[2016-11-29 15:55] Hazakins commented on #1635
@Linjieqiang Softserial would be nice as a backup, but like @jflyper mentioned we dont want to use the MCU overhead.

[2016-11-29 16:07] Linjieqiang commented on #1635
@Hazakins So can you come up with the perfect solution?

[2016-11-29 16:13] Hazakins commented on #1635
no, i cant but these guys are working on it. If your dead set on softserial you may want to open a feature request and start working on it there.

[2016-11-29 16:36] Linjieqiang commented on #1635
Absolutely,I want to use hardware usart to solve the S.port but if has no idea I only choose softserial to solve it.

[2016-11-29 16:40] AndersHoglund commented on #1675
I just had an Eclipse/GDB/Segger/J-Link session with a F4 Revo clone. Found the VCP MSP jumbo frame bug that way, #1683 . Power from VCP USB, J-link USB adapter only has Clk, IO and gnd connected to SWD port. Mine don't even have a reset line...
Can't recall I did anything special when installing the Eclipse plugins, but it was quite some time ago.

[2016-11-29 18:08] hydra commented on #1675
yeah, all works fine here @fishpepper

[2016-11-29 18:33] MJ666 commented on #1675
Im also using Eclipse Neon, STLinkV2 (Discovery Board F3/F4), OOCD and GDB on Windows 10 for debugging. The AlienFlight F3 and F4 both are VCP targets and I debug the code in my development environment without problems. For the AlienFlight F3 I use the Discovery F3 board itself and for the AlienFlight F4 I have an Core405 board with sensors and some additonal hardware connected to debug and "simul

[2016-11-29 18:59] fishpepper commented on #1675
thanks for your posts. i got it working.... I was using st-util as a gdb server the whole time. Seems like this does not work reliably. I switched to openocd and not i can debug without any issues!
I found it very strange that the adc code was getting stuck, probably some registers are not initialised/cleared with the st-util server :-\

[2016-11-29 19:00] #1675 closed

[2016-11-29 21:43] HaseebNain commented on #1635
@jflyper Yea, all tests I've run have been with BIDIR set to SERIAL_NOT_INVERTED.

Unfortunately we don't have a Logic analyzer, so for debugging purposes I've been using the status LEDs on the boards. We also have an oscilloscope that we can use to count and check the general state of bits and information being transferred.

Looking into getting a Logic Analyzer, any recommendations?

[2016-11-29 21:56] AndersHoglund commented on #1635
https://www.saleae.com/

[2016-11-30 00:41] QuadroBro commented on #1689
Fixed for me as well using the build from this morning. I pasted my old pids back in and it flies great!!!

[2016-11-30 03:50] jflyper commented on #1635
@HaseebNain

I'm confused.
[https://github.com/betaflight/betaflight/blob/master/src/main/telemetry/smartport.c#L323-L332](https://github.com/betaflight/betaflight/blob/master/src/main/telemetry/smartport.c#L323-L332)
[code]
Here, the assignment to portOptions should be 0  (or `SERIAL_UNIDIR`).
Inversion setting (`SERIAL_NOT_INVERTED` and `SERIAL_INVERTED`) is don't care.
So, make sure portOptions

[2016-11-30 07:33] #1689 closed

[2016-11-30 07:33] borisbstyle commented on #1689
You cant see the build number when connecting to the board.

Issue closed as it seems resolved

[2016-11-30 07:58] martinbudden commented on #1689
Thanks for testing everyone.

@QuadroBro , to get the build number, type `version` in the CLI, you'll get something like:
[code]

That last number in brackets is what is needed to identify the git submission.

[2016-11-30 09:00] basdelfos commented on #1685
Did you try to reproduce it on a KISS FC too? Could be target specific.

[2016-11-30 11:53] jflyper commented on #1685
No KISS FC here.

[2016-11-30 17:01] HaseebNain commented on #1635
@jflyper Are you located in the US? Maybe we could let you borrow our XSR and Taranis for debugging purposes?

[2016-12-01 06:15] jflyper commented on #1635
@HaseebNain Unfortunately, I'm not in US (or anywhere near)...

[2016-12-01 08:01] blckmn commented on #1635
Once I am back home I can take a look at this.

I have an inverter circuit on the BlueJay so it can be used for testing.

[2016-12-01 09:31] TheAngularity opened #1718 "Massive increase in file size"
using targed SPRACINGF3EVO ... merged latest commits from 2f0f23e to 8af1508
now the file size has increased by 220KB ... before file size is 471KB after merging it have 691KB
i think there is something wrong :((

[2016-12-01 09:35] Wind0r commented on #1718
The filesize increase is on purpose.
Betaflight now do loop unrolling and other stuff. This grows the binary but reduce cpu time.

[2016-12-01 09:43] TheAngularity commented on #1718
Wow, ok ... there are the 256KB flash almost full
Further I've seen the gps and mag were removed from the evo ... is that right

[2016-12-01 09:48] martinbudden commented on #1718
Yes, ROM is now becoming an issue on F3 targets.

Closing this.

[2016-12-01 09:48] #1718 closed

[2016-12-01 09:49] Wind0r commented on #1718
GPS is removed from all F3 targets and Mag is also removed from the evo, but this stuff is work in progess.
I think within the next weeks/months binary size will shrink again and those features maybe come back.

[2016-12-01 09:51] martinbudden commented on #712
@blckmn , can this issue be closed now? I presume it has been superceded.

[2016-12-01 09:56] martinbudden commented on #673
Closing, implementing in separate PR.

[2016-12-01 10:20] TheAngularity commented on #1718
I do not miss it ... from me we can also removed the baro ;)
also a very impressed reduced cpu time ... now i can use the highest pid loop with an cpu load from 37%

[2016-12-01 10:20] #673 closed

[2016-12-01 14:38] #712 closed

[2016-12-01 14:38] #1450 closed

[2016-12-01 14:39] #1274 closed

[2016-12-01 14:41] #1277 closed

[2016-12-01 14:44] #1152 closed

[2016-12-01 14:45] blckmn commented on #1157
I'm going to close this as I'll introduce preInit and postInit in a PR

[2016-12-01 14:45] #1157 closed

[2016-12-01 21:31] marcodcribeiro opened #1726 "tbs bulletproof 25a dshot"
Hi,

I flash my SP3 with 3.1.0 and with aikon esc with Dshot300 works fine. But with my TBS the esc dont make full inicialization.

Any one with this issue on TBS ESC?

[2016-12-01 21:43] Cheredanine commented on #1726
Tbs have issued a two lager, if you contact their support they will send it over, their bulletproof v2s work up to dshot300, dshot600 requires a cap removal, this has been my experience too

[2016-12-02 05:40] beachbreak opened #1728 "blheli configurator bricked esc's flashing thru spracingf3/Bf 3.1.0"
flashed my foxeer f303 with BF 3.1.0 775
went to flash my xs 30A (no caps) with Bheli using configurator...both previously worked with earlier dshot FW....and during the flash, esc stopped loading, and now unable to reflash...bricked.
tried with a different esc/same FC, same deal, stopped flashing quarter way through.

[2016-12-02 11:23] jaakfpv opened #1731 "3.1 - DSHOT - SPRacing F3 EVO/MINI - Motor 4 not arming on DSHOT mode."
Motor 4 is not arming when BF configuration is set to DSHOT mode.
When same build is set to Multishot, motor is arming correctly.
Issue repro on both Mini and EVO boards.

Running Gemfan Maverick ESC.

Build: betaflight_3.1.0-783-7775749

[2016-12-02 11:30] martinbudden commented on #256
Deferred to 3.2, since no response from @larryho5

[2016-12-02 11:55] momo2xlc commented on #1731
Supposed to use pin 5 in case of dma conflict and  reassign, like Boris wrote

[2016-12-02 12:48] jaakfpv commented on #1731
Thanks for the info.

[2016-12-02 13:33] TheAngularity opened #1732 "gyro data recording not readable"
today i make a test flight ... no special happenings noticed ... super fluid flight ... copied blackbox data
and now whats wrong??? ... cant not processing the gyro data ... something is wrong with the gyro data recording ... imho battery data is also wrong (see statusbar on screenshot)

here is a screenshot and the blackbox file: [LOG00008.TXT](https://github.com/betaflight/betaflight/files/62721

[2016-12-02 14:01] martinbudden commented on #1732
PR https://github.com/betaflight/betaflight/pull/1715 - Moved sensor global data into sensor_s structs also changed the way blackbox data was written. Now the data written to blackbox is in degrees per second, when previously it was raw data.

There are two possible fixes:
1. Changed betaflight back to writing raw data
2. Change the blackbox view to use degrees per second.

I favour the second. @b