[2016-06-07 01:34] PiManASM opened #454 "Allow radio to create logic high/ low on GPIO pins"
Would it be possible to have a radio channel drive output a logical high/ low on the GPIO pin?

Thanks
PiMan

[2016-06-07 08:40] G-FPV commented on #322
There seems to be a lot of consistency with the issues faced here, don't think its coincidence :)   My Lux, RS2205 2600,LB30 & QAV180 issues has been solved now, I isolated FC from standoffs with a series of methods, my quad flies great now and battery life is up 3 fold as a result.  Interestingly my SPF3 died on my QAV210 last week and  I got some readymadeRC Dodo`s to put on (LB20,Cobra 2300) ,

[2016-06-07 12:13] GenCodeInc opened #455 "Vortex Pro - STM32 Timeout during verification"
On my Vortex Pro during the load firmware process I get STM32 Timeout during verification about 90% of the time.  I went back to 7.1x and did not see that issue.

It still seems to work fine but wanted to let you know.

![stm32](https://cloud.githubusercontent.com/assets/3945575/15857090/77304dba-2c87-11e6-9125-ad3827d10a1f.PNG)
.PNG)

[2016-06-07 13:03] borisbstyle commented on #455
I have seen this. Not firmware related. This is configurator and vortex. No big deal as the flashing always works

[2016-06-07 13:03] #455 closed

[2016-06-07 14:45] GenCodeInc commented on #455
Yup, all 1.8 seems to work good on the Vortex Pro, thanks!

[2016-06-07 16:03] RipperDrone commented on #352
Great, looks like it should be fixed then.

[2016-06-07 19:36] lunddahl commented on #454
This would probably not be very hard to accomplish, however it would be a pain in the ass to maintain compatibility with every board supported, as the CPU pins is not just floating freely on all boards.

You will also have to inspect every hardware carefully to secure that the output state is as wanted during the power up process. People will put dangerous things on those outputs eventually.

[2016-06-07 20:27] PiManASM commented on #454
What I would like to be able to do is emulate the FX799T button from my radio in order to change the channel on the VTx without access to the button. It seems like it should be possible with either a transistor or perhaps just a straight wire.

Where I have mine mounted now it's hard to reach the button, but near the FC.

[2016-06-07 20:33] Snapsh00t3r commented on #415
Still not working on 2.7.1 or 2.8 with Naze32 rev6 and FrSky XSR unfortunately. Works fine when going back to 2.6.1.

[2016-06-07 21:19] timdonovanuk commented on #440
It seems like something in the BF algorithms is making P gain go crazy even when yaw is under min_check. In the blackbox logs, you can't even see the yaw rc input, but here is how that weird shuddering manifests as soon as you give it a bit of yaw on the ground at 0% throttle. In this pic I've done yaw to the left a bit and then yaw to the right a bit:

<img width="945" alt="2016-06-07 22_17_58-cl

[2016-06-07 21:25] borisbstyle commented on #440
Try beraflight 2.8
Op 7 jun. 2016 23:19 schreef "timdonovanuk" <notifications@github.com>:

[2016-06-07 21:25] timdonovanuk commented on #440
This is on 2.8.0

[2016-06-07 21:42] mikeller commented on #454
Hi @PiManASM.

You might be able to make this work by using a spare PWM output and a PWM to analog converter like this one: http://electronicdesign.com/analog/simple-circuit-turns-pwm-digitally-adjustable-precision-reference , and setting up a switch in your TX's mixer to output the right signal levels to drive the output to the right voltage for low / high.

[2016-06-07 22:13] fkam18 opened #457 "naze32 rev5 2.8 horizon mode violent flip over"
My setup was working fine in 2.8 rc2 but on 2.8 in particular in horizon mode any slight roll movement will flip the whole drone violently left and right and even flipping over crashing straight to the ground that sort. I tried to hover it a few inches above ground but the same. It just flips over with blades digging in the mud.

It's straight from flashing no tuning at all.

[2016-06-07 22:26] borisbstyle commented on #457
Will be fixed in 2.8.2

[2016-06-07 22:42] fkam18 commented on #457
Thank you so much.

[2016-06-07 22:42] #457 closed

[2016-06-07 22:51] borisbstyle commented on #440
https://dl.dropboxusercontent.com/u/31537757/betaflight/betaflight_2.8.1.zip

[2016-06-08 09:39] TonyLeyland opened #458 "Extra safeguards for switch arming"
I've noticed the following when using switch arming:

1) Place throttle stick away from zero position
2) Arm the copter with switch
3) Motors do not spin
4) Bring throttle back down to zero
5) Motors start to spin !

As an extra safety feature how about the following:

At step 5 the motors do not spin. The only way to get the motors to spin would be:

a) Put throttle to zero
b) Arm the copter with

[2016-06-08 10:01] KiteAnton commented on #458
This can be solved easy in the transmitter.
1. Use a sticky switch in the Tx and only allow it to enable when both the physical switch is in its armed state and the throttle is at the bottom.
2. The sticky switch should be disabled with only the switch and no conditions for the throttle value.

[2016-06-08 12:30] LeChuck71 commented on #458
Hm, sorry but that does not make sense to me.
Isn't it already a safety feature that the motors don't spin up while throttle is in a none zero position and the copter ist armed via switch? Otherwise you could arm at max throttle and the copter would go off after you switched "on" ;)

I've set up my TX that all switches have to be i a default position on switching "on", so I can not mistakenly have

[2016-06-08 15:05] ashwindt opened #459 "SP F3 Mini - XSR Telemetry (Smartport) does not work"
Frsky Smartport doesn't work in version 2.8 for SP F3 Mini. I tried to resolve by changing UART (from UART2 to 1 and 3), changing to different board (SPF3m), but did not work. It's working on the latest cleanflight and version 2.4.1 from betaflight. My transmitter is the Taranis with new XJT firmware to support XSR from frsky.

[2016-06-08 17:14] borisbstyle commented on #447
there are 2 things. Yaw jump during yaw and yaw jump on stops.

yaw D only helps on stops and rate and yaw p limit during yaw.

[2016-06-08 17:36] RipperDrone commented on #447
Yaw jumps (which by my understanding is quad popping up = burst in uplift) are still quite strong on Yaw Stops. During yaw, height is maintained quite well.

I tried playing with yaw D from 0 to 40, no perceivable change in behavior.

Only occurs in instant yaw stops / let joystick bounce back to center. When doing smooth yaw stops, it's all fine.

[2016-06-09 00:19] mike-levenick opened #461 "Feature Air Mode not activating properly?"
Perhaps I'm just misunderstanding it, but I'm not sure the new air mode feature is working properly.

Steps to recreate:

0) REMOVE PROPS
1) Turn on feature airmode
2) Set air mode activation level to something reasonable like 1300
3) Make sure your props are still removed
4) Arm quad (motors do not spin)
5) Throttle up beyond air mode activation point (I have taken throttle to 80% and held it the

[2016-06-09 03:40] mike-levenick commented on #461
After setting air mode back to a switch today, I'm relatively certain feature air mode isn't doing anything at all, and that the reason it felt like it was before was because you increased PID authority at low throttle even outside of air.

I put it back on a switch, and my zero throttle rolls were SIGNIFICANTLY faster than when I had the feature enabled.

[2016-06-09 04:34] extraReal commented on #45
I am having the same exact problem. I'm on the Mac also running the latest release of betaflight (2.7.1). I flashed betaflight and got it to connect to cleanflight with no issue the first time. Did a save / reboot once and it worked. Then I lost connection to cleanflight and had to power cycle the board to get it to reconnect. Once it was reconnected I noticed the settings change didn't take.

Tri

[2016-06-09 05:02] isilcala commented on #461
I can confirm my TL130H1 with NAZE has the same behaviors. Seems Airmode is not properly activated.

[2016-06-09 12:25] borisbstyle commented on #461
any blackbox logs? Blackbox tells you if the airmode is activated or not

[2016-06-09 12:28] borisbstyle commented on #458
This is a perfect safety feature actually. Throttle must be zero to arm!

But this doesnt make sense? You arm on stick, but you describe switch?

[2016-06-09 12:30] borisbstyle commented on #447
Lower your yaw rate for less jump ;)

Actually the jumps are not a big deal. For snappy yaws there is always a jump depending of the copter. When you yaw hard just go zero throttle. Thats the practical case

[2016-06-09 12:30] borisbstyle commented on #450
It will be supported soon

[2016-06-09 12:30] #444 closed

[2016-06-09 12:30] #440 closed

[2016-06-09 12:31] #439 closed

[2016-06-09 12:43] mike-levenick commented on #461
Unfortunately the powercube does not have a built in blackbox. I'm relatively new to logging, can I store the same info with tethered logging via USB? Otherwise I have an F3 I may be able to flash this evening that I think has BB, the quad is in pieces, but should be able to log inputs/outputs from the FC just fine.

I do have a video of flips/rolls comparing feature air mode to air mode on switch

[2016-06-09 13:31] TonyLeyland commented on #458
Sorry for confusion, I tried to make it easy to read but I made a mistake since it was late. Please ignore the sentence "I've noticed the following when using **stick** arming", it should of read "I've noticed the following when using **switch** arming:"

If you now re-read my statements it should hopefully make sense and if you try what I'm saying I think you will agree that it's a bit of an issu

[2016-06-09 18:12] RipperDrone commented on #447
Ok, thank you for giving direction to me. Will close this thread

[2016-06-09 18:12] #447 closed

[2016-06-09 19:01] martinbudden opened #463 "Default branch should be renamed to `master`"
It seems there has been a bit of a reorganisation. Let's take advantage of this to rename the default branch `master`. I've been caught out a few times by accidentally rebasing a PR to `master` rather than `betaflight` and I bet I'm not the only one...

[2016-06-09 22:46] borisbstyle commented on #463
yeah was thinking that too. Maybe we can do that.

[2016-06-10 04:25] Tomcatt commented on #450
Thank you, busy B!!

[2016-06-10 06:32] blckmn commented on #463
given this is still a fork of cleanflight, might need to add a cleanflight_master branch to ensure separation (cherry picking etc)?

[2016-06-10 07:32] borisbstyle commented on #463
the divergion did became big for even simple cherry picks, but I indeed
kept the original cleanflight master to be easily able to work on both
projectd.
Op 10 jun. 2016 08:33 schreef "J Blackman" <notifications@github.com>:

[2016-06-10 12:12] #450 closed

[2016-06-10 12:30] purplehazezzz opened #470 "CC3D betaflight has a mind of its own"
Hi, I just finished my backup built. first the setup:
Martian V2 220 frame
Litllebee 20A blheli (thought version14.0)
Cobra 2204 2300KV
CC3D betaflight 2.8
oneshot125 enabled
damped light enabled
Orange dsm sbus receiver
Luxfloat

Oke first of all it fly's great, slow rolls and flips no problem. But when I flip fast or when I roll fast it goes out of control.

Like when i whant to do a really fast

[2016-06-10 18:23] fkam18 commented on #457
Oh just for your information, the 2.8 rc2 works perfectly on horizon/angle and rate  I just re-tested and am using.

[2016-06-10 20:10] borisbstyle opened #472 "Compressing on Autobuild"
@AndersHoglund
Would it be possible to compress all files in a zip/tar file after autobuild?

[2016-06-10 22:50] AndersHoglund commented on #472
Sure, I'll look into that... Probably needs a specific build-step, or a new plugin. Now all artifacts are just archived automatically by Jenkins by a simple tick in a checkbox. Don't think there is a builtin compress option.

[2016-06-10 22:50] jeto commented on #470
What are your rates and expos? Did you notice super expo is on by default in 2.8.

[2016-06-10 23:43] AndersHoglund commented on #472
Second thought.... Github releases are not distributed compressed. Maybe we should keep things the same in all (both) places, not confusing the users.

[2016-06-11 01:04] AndersHoglund commented on #472
Done.
Next Jenkins build artifacts will be only downloadable as a "betaflight_<version>-<build-no>-<git-rev>.zip" -file. For example: "betaflight_2.8.0-212-ae2e483.zip", OK?

I could publish all build artifacts as well, *.zip, *.bin and *.hex, not only the zip archive. Then people could choose, single binary or all of them zipped up.
/A

[2016-06-11 07:45] RipperDrone opened #476 "Throttle issues..."
Throttle attitude has somehow changed since 2.8.1:

1. Max throttle seems to not unleash full power anymore (SP3Racing, DYS SN20A, DragonFly 1806 motors) - like stuck at 70% max. Likewise, hovering has shifted to 50% throttle whereas it has been around 50% before.

2. When swapping btw Level and Rate mode, there is an offset in throttle of ~30% between each other. Cannot be compensated by throttle

[2016-06-11 09:13] AndersHoglund commented on #463
This is a sensitive issue. Just a deafult "master" is a bit too generic. We need to separate "cleanflight/master" and "betaflight/master". Especially when having multiple remotes. I have 3 in my local repo; my own github repo (cloned from betaflight), cleanflight and betaflight. In my local repo I also have a "hydra_master" nicknamed branch because I was not sure what "master" (cloned from betafli

[2016-06-11 12:23] ashwindt commented on #459
I have updated to 2.8.1 now everything is working fine!

[2016-06-11 12:23] #459 closed

[2016-06-11 12:46] martinbudden commented on #463
@AndersHoglund , agreed that confusion can occur.

However master refers to the branch, not the fork. Generally every fork has a master branch which is treated differently by GitHub. And suppose hydra created a branch called "development" (which is certainly possible), then we'd have to deal with two branches named development in different forks. And although unlikely, there is nothing stopping hy

[2016-06-11 19:32] borisbstyle commented on #472
Zip is fine I think. The list is getting too long....lol.

Thanks for fixing it man!
Op 11 jun. 2016 03:04 schreef "Anders Höglund" <notifications@github.com>:

[2016-06-11 19:34] borisbstyle commented on #476
Nothing changed in throttle actually.

Must be something else. Do you have a blackbox?
Op 11 jun. 2016 09:45 schreef "RipperDrone" <notifications@github.com>:

[2016-06-11 23:44] RipperDrone commented on #476
Then I have to carefully review my motors - maybe there's a short / low resistance issue limiting the rpm_max for one motor, forcing the others to slow down as well...

For now, I'll close this issue report item...

[2016-06-11 23:44] #476 closed

[2016-06-12 05:09] tannewt opened #481 "F4 ESC passthrough is flaky."
I'm running a custom build of the development branch on my own F4FC and passthrough is flaky. It reads the ESCs (Aikon SEMF 30A) ok but the flash usually dies midway. Its possible its a hardware issue but I doubt it.

My next step is to use a similarly designed F3FC to test passthrough with the same base code (awesome!). Pass through worked on that hardware with older versions of Betaflight.

[2016-06-12 07:22] tannewt commented on #481
Passthrough works fine on the F3FC with the new code. I'll take a look into the F4.

[2016-06-12 08:01] tannewt commented on #481
@4712 any guesses or pointers? BLHeliSuite log is:
[code]

[2016-06-12 08:34] mr2web commented on #457
I'm experience very high over-sensitivity in my controls when going into Horizon mode. In Acro and Air mode everything is just fine. I'm using PID crtl 1 (0 in cli) with LUX. my version of 2.8.1 rc1. I did not experience this in 2.8.0.

[2016-06-12 08:43] tannewt commented on #481
One last thing. If I type into the CLI reasonably fast it seems I can hang it. My guess is a fault somewhere in the VCP code that pass through tickles pretty easily.

[2016-06-12 09:09] 4712 commented on #481
Can I try with cc3d Revo?

[2016-06-12 09:13] blckmn commented on #481
@tannewt the vcp4 code currently passes one byte per packet - seriously inefficient - so it needs to be updated to use a full packet.

@4712 yes - there is a revo target now, though I can't test it yet as I don't have one.

[2016-06-12 17:39] martinbudden opened #486 "All targets need testing"
There have been some quite pervasive changes in betaflight to do with adding F4 support and the IO driver updates. While these have been done with care, there is always the possibility of mistakes having been made. I don't imagine anyone making the changes has access to more than a handful of different flight controllers, so not all of the changes have been tested.

This issue is a placeholder for

[2016-06-12 18:02] RipperDrone opened #487 "2.8.1. Rateprofile dump/restore still not right..."
Checked rateprofile in 'dump all' CLI listing. It does still not show the active rateprofile (e.g. rateprofile 0) as last command, instead it says:

**'# restore original rateprofile selection
rateprofile 2'**

Somehow it does not write the current rateprofile into the dump...
Using RC1.

[2016-06-12 18:06] nathantsoi commented on #486
awesome work all! here's the list of targets to test. I'll try to test some f3 targets today.

(re-gen with: `find src/main/target/* -type d -exec sh -c 'echo - [ ] $(basename {})' \;`)

- [ ] ALIENFLIGHTF3
- [ ] ALIENFLIGHTF4
- [ ] BLUEJAYF4
- [ ] CC3D
- [ ] CHEBUZZF3
- [ ] CJMCU
- [ ] COLIBRI_RACE
- [ ] DOGE
- [ ] EUSTM32F103RC
- [ ] FURYF3
- [ ] FURYF4
- [ ] IRCFUSIONF3
- [ ] LUX_RACE
- [ ] MOT

[2016-06-12 18:09] nathantsoi commented on #487
btw, i'm working on a new configuration tool & command line thingy that will remove the need for the cli :)

it will be a while, since i need to re-emplement a bunch of stuff, but the cli will turn into a bunch of client-side terminal commands that operate off msp instead of the text cli thing.

lmk if anyone knows angularjs and wants to help

![screen shot 2016-06-12 at 11 08 27 am](https://cloud

[2016-06-12 18:16] RipperDrone commented on #487
sry, don't know angular... (what???). It's ok to work around the bug so long...

[2016-06-12 19:14] mikeller commented on #487
Hi @RipperDrone.

This is weird, I've tested this on my HW and it works fine. One thing you need to keep in mind is that the rateprofile setting is stored **per profile**, so there is two `# restore original rateprofile selection` in the output of `dump all`:

[code]

i.e. the last `# restore original rateprofile selection` you see in the dump is not necessarily the rateprofile that will be active

[2016-06-12 19:18] mikeller commented on #486
@martinbudden: Happy to help with flight testing. Are these changes in the `betaflight` branch already, or should we build from the `development` branch? (Also, a script (or instructions) to build all targets that are currently meant to build on a branch would be appreciated.)

[2016-06-12 20:19] RipperDrone commented on #487
I see. However, after dump all, reload dumped data sequence into CLI command line, the last command is rateprofile 2, therefore when I enter 'rateprofile' CLI says 'rateprofile 2'.

My profiles before dumping were profile 0 & rateprofile 0

[2016-06-12 20:38] mikeller commented on #487
@RipperDrone:

Ok, looks like the end of the `dump all` output gets cut off for you then, there should be more lines after the `rateprofile 2`:

[code]

(Explanation for the `rateprofile 2`: This is the rateprofile that is set for your profile 1.)

What FC hardware are you using?

[2016-06-12 21:16] RipperDrone commented on #487
SP3Racing

[2016-06-12 21:27] RipperDrone commented on #487
I double-checked the suspect behavior step by step:

1. In CLI, FC response to command 'profile' is: 'profile 0'
2. response to 'rateprofile' is: 'rateprofile 0'

So everything looks alright, FC is set to profile 0 & rateprofile 0..

Then continuing in CLI with:

'dump all' --> dumps all data, data ends with following lines:

'**# restore original rateprofile selection
rateprofile 2

# restore ori

[2016-06-12 21:33] borisbstyle commented on #486
@martinbudden
Flight testing is the least of my worries.

It is the stuff with IOs.....serial comm and all other features what I
would like to see tested.

For example just before I went away for holiday I quickly tries dev branch
on my COLIBRI_RACE and the leds were not working, but everything seemed
fine.

Not sure if that was fixed later.
Op 12 jun. 2016 21:18 schreef "Michael Keller" <notifica

[2016-06-12 21:35] #487 closed

[2016-06-12 21:45] martinbudden commented on #486
@borisbstyle , when I said "flight testing" I sort of meant "go out and fly it and report any problems", but I guess I wasn't specific enough.

When I was cleaning up the makefiles and targets I noticed quite a few of the targets wouldn't build because not all the pins had been converted to the new IO system. I corrected these, so everything builds, but of course mistakes could have been made by m

[2016-06-12 21:46] mikeller commented on #487
@RipperDrone: Yes there is an issue with the the FC losing some lines when a dump is pasted into the CLI for restore. This is a problem that can only be solved in the cleanflight configurator, and there is a fix, but I am not sure if this fix is in the current release yet.
In the mean time, to avoid this the workaround is to split the dump into blocks, with each block having `profile X` as the las

[2016-06-12 21:52] RipperDrone commented on #487
Great, will do ;-) Thank you very much.

[2016-06-13 00:49] 4712betaflight commented on #481
Can confirm the issue with the REVO.

[2016-06-13 05:04] tannewt commented on #481
Ok, I played around with the VCP code but am still having the reliability issue. I'll polish it up this week but here is an intermediate commit (d0a21b0d5f6c0d808c1791c71088e3428107dd9b) in case someone wants to pick it up overnight (I'm in Seattle, WA USA).

[2016-06-13 09:56] mikeller commented on #486
Just gave 3.0 a quick spin on my NAZE32 rev 6.

The IO seems to be mostly working, except for the beeper, which does not work at all.

Also, after about 30 seconds flight time, the motors suddenly stopped, and the craft dropped out of the sky. Unfortunately I did not record logs at the time, and now the craft needs repairs before I can do more testing...

[2016-06-13 10:06] borisbstyle commented on #486
Those are great test results.

I do recommend more bench testing before real flying on this one. Let it
fly without props etc. If it survives that it will work in air as well.
Op 13 jun. 2016 11:56 schreef "Michael Keller" <notifications@github.com>:

[2016-06-13 10:53] mikeller commented on #486
I **did** give it a quick spin with props off to verify all TX input and gyro stabilisation were working before I took it outside. But apparently the spin wasn't long enough, or the dropout was triggered by something like gyro input...

[2016-06-13 11:09] AndersHoglund commented on #463
Yepp, that is the way with distributed SCM....

I have added a Jenkins "BorisB_BetaFlight_Development" job. Seems this is the integration-branch where the action is now and where CI is really needed, The betaflight-branch is the release-branch. [http://andwho.sytes.net:8080/job/BorisB_BetaFlight_Development/](url)

[2016-06-13 11:29] jm-wijnholds commented on #256
@borisbstyle Any idea with version of BetaFlight will support BST again? would be great to use the current sensor of my powercube for my minimOSD :).

[2016-06-13 13:38] borisbstyle commented on #256
Doesnt it all work in 2.8.1?
Op 13 jun. 2016 13:29 schreef "jm-wijnholds" <notifications@github.com>:

[2016-06-13 15:18] DaTwo commented on #256
As far as I can tell no. Still no way for betaflight to read the current sensor on the cube.

[2016-06-13 15:56] borisbstyle commented on #256
You need to report that to TBS and they will probably fix it soon
Op 13 jun. 2016 17:18 schreef "DaTwo" <notifications@github.com>:

[2016-06-13 16:10] larryho5 commented on #256
@DaTwo , Sorry, i will do that later, just don't have time yet.

[2016-06-13 18:35] skaman82 commented on #422
done. see https://github.com/betaflight/betaflight-configurator

[2016-06-13 18:35] #422 closed

[2016-06-13 19:16] mikeller commented on #422
Nice work, @skaman82. When are we going to see this in the Chrome Web Store?

[2016-06-13 19:53] skaman82 commented on #422
Thanks. That is up to @borisbstyle

[2016-06-13 20:01] borisbstyle commented on #422
When I get home I need to work on implementing new MSP commands and make those things accessible in the configurator.

I will need some help from @skaman82 too ;p

[2016-06-13 20:06] mikeller commented on #422
I can help too, let me know what you need.

[2016-06-13 20:20] skaman82 commented on #422
@mikeller your help is welcome!
see: https://github.com/betaflight/betaflight-configurator/issues/4
and
https://github.com/betaflight/betaflight-configurator/pull/2 (boris comment at the bottom)

[2016-06-13 20:36] marcodcribeiro opened #498 "Betaflight 2.8.1 - Dead Roll"
Hi,

I put this version in my SPRacing, and begining have deadroll when fast yaw turns.
With the 2.8.0 i dont have deadroll.

Motor: SE2205
ESC: XM30a
FC: SPRacing

[2016-06-13 20:38] borisbstyle commented on #498
set anti_desync_power_step = 5000
Op 13 jun. 2016 22:36 schreef "marcodcribeiro" <notifications@github.com>:

[2016-06-13 20:42] marcodcribeiro commented on #498
Hi Boris,
I Seed that the 2.8.1 came with the anti_desync_power_step = 0, and i try put anti_desync_power_step = 10000 and have the same problem

[2016-06-13 20:54] borisbstyle commented on #498
Than your esc is faulty if it totally desyncs
Op 13 jun. 2016 22:42 schreef "marcodcribeiro" <notifications@github.com>:

[2016-06-13 20:55] marcodcribeiro commented on #498
any solution in the ESC? Recalibrate again? Flash again?

[2016-06-13 21:01] #296 closed

[2016-06-13 21:14] borisbstyle commented on #498
which one is it?

- Increase min throttle in betaflight a bit
- Lower startup power in blhelisuite of the esc if it is possible
- blacbox it
Op 13 jun. 2016 22:55 schreef "marcodcribeiro" <notifications@github.com>:

[2016-06-13 21:16] marcodcribeiro commented on #498
I Will Try.
I have Multishot and will try with oneshot125 too

tks.

[2016-06-13 23:15] tannewt commented on #486
LED toggling wasn't working until 46941032 afaik. On my own FC i2c isn't working and passthrough isn't working. i2c work for anyone else?

[2016-06-14 06:00] blckmn opened #499 "EUSTM32F103RC broken"
Could be the recent makefile updates, however I'll take a look at it tonight.

[2016-06-14 06:02] blckmn commented on #438
These have been changed in 3.0. Now you have the option of BRUSHED as a motor_pwm_protocol (along with the previous others).

Can you please confirm this issue still exists in the development branch?

[2016-06-14 06:31] martinbudden commented on #499
Fixed.

[2016-06-14 06:38] blckmn commented on #499
Too fast. Awesome thanks. make all now works :)

And you had the 500th pull request!!!!

[2016-06-14 06:38] #499 closed

[2016-06-14 06:47] blckmn opened #502 "IRCFUSIONF3 target broken"
Missing isinverted in timers in target.c
ibus and jetixbus is pulling in serial4way, and failing.

[2016-06-14 12:13] blckmn commented on #502
Solved.

[2016-06-14 12:13] #502 closed

[2016-06-14 12:15] blckmn opened #506 "SINGULARITY target broken"
Last one in the make all.

Seems something to do with vtx.

[2016-06-14 15:22] marcodcribeiro commented on #498
Hi Boris,
I have try with OneShot (new oficial Blheli) but same problem.
So i Increase Min throttle in Beta, lower from 0.75 to 0.38 in blheli and set ppm min and ppm max in blheli same value to the four ESC (when calibrate not all ESC have the same values).
with this changes and 3 batteries i dont have the problem.
I will try more batteries tomorrow and give feedback.

My blackbox and video:  htt

[2016-06-14 15:23] martinbudden commented on #506
Fixed in PR https://github.com/betaflight/betaflight/pull/507

[2016-06-14 15:23] #506 closed

[2016-06-14 17:59] martinbudden opened #511 "In sensors/initialisation.c selectMPUIntExtiConfig needs to move to target directory"
The code at https://github.com/betaflight/betaflight/blob/betaflight/src/main/sensors/initialisation.c#L85-L240

needs to be converted to the new IO system and refactored and moved to the `target` directory.

This continues the process of being able to add targets without altering core code.

[2016-06-14 19:25] blckmn commented on #511
Oh. I thought I'd done that already. Hang 5 it's even easier - can be done using a define under the new io except for hardware revisions. Which can be in target dir.

[2016-06-14 20:10] mikeller commented on #486
Tested some more, and came across this as part of `dump all` on a vanilla 3.0 configuration:

[code]

[2016-06-14 20:22] blckmn commented on #511
https://github.com/betaflight/betaflight/pull/512 but the bulk of it is assigned merely by the MPU_INT_EXTI pin definition

[2016-06-14 21:30] Mattawonga opened #513 "desync problem maybe ? idk"
after alot of testing, i found out a weird problem on my new build.
dys xms30a and se2205/2300kv , tried betaflight 2.6.1 and 2.7.1
blheli 14.4, 14.5 , 14.6 and multishot 14.5, 14.6
at first i tought it was my Lux fc creating this trouble, but after swaping in a new Dodo rev3 in hope of better result, same problem is still there!!
when i try to fly more aggresive with fast stick reaction, my quad

[2016-06-14 21:37] Mattawonga commented on #513
more blackbox information

[blackbox_log_2016-06-14_173348.TXT](https://github.com/betaflight/betaflight/files/315006/blackbox_log_2016-06-14_173348.TXT)

[2016-06-14 21:41] marcodcribeiro commented on #513
Hi,

I have same setup (ESC and Motor) and same problem.
I change some settings (Boris input) and last lipo no problem.

So, do this:

[2016-06-14 21:47] maybeyes commented on #274
Yeah! it would be great! Someone can do this?

[2016-06-14 21:56] trojanGoat commented on #513
I'm no blackbox expert, but it looks like overall your Pitch and Roll values are oscillating a lot before the crash happens.

http://imgur.com/wTEDaSc

I have the same issue as you and I messaged Joshua Bardwell

He says... If It's always the same motor spinning up, it's likely a hardware issue with the esc or motor.  In my case it changes which means it's likely to be some sort of timing, demag o

[2016-06-14 22:32] blckmn commented on #511
Just merged this in

[2016-06-14 22:32] #511 closed

[2016-06-14 22:39] MJ666 commented on #486
Have tested the BlueJayF4 target last days quite intensively and make a few flights nearly every day. i use an modified target with SDCard disabled and SPI flash enabled (BlueJayF4 Rev1). Here are the actual problems I have seen:

-    CLI dump is missing major parts. Single commands and small output of a few lines are ok (like tasks). Sometime ther I something still in the buffer an will only com

[2016-06-14 22:44] blckmn opened #515 "Move sonar target specific code to target directory"

[2016-06-15 05:55] martinbudden commented on #515
See PR https://github.com/cleanflight/cleanflight/pull/1970 - this should be easier with the new IO.

See also this PR https://github.com/cleanflight/cleanflight/pull/1907 , which should be fixed at the same time.

[2016-06-15 12:23] blckmn commented on #515
@martinbudden @borisbstyle ready for review.
https://github.com/betaflight/betaflight/pull/520

[2016-06-15 14:35] shyney7 commented on #268
As I mentioned above I calibrated the gyro but after that it starts to drift.
I was hoping that this issue would be solved in future releases but it's still happening.
I've tried it with the newest 2.8.1 release and this issue is still occuring.
Here is a post from me on rcgroups about this and it seems to be a issue that is afecting many scisky users. [http://www.rcgroups.com/forums/showthread.ph

[2016-06-15 15:44] marcodcribeiro commented on #498
Hi,

So make this changes:
Blheli:
 - Startup Power: 0.38
 - Motor Timing: Med/High
 - Demag compensation: High
 - PPM Min Throttle : 1020
 - PPM Max Throttle: 1980

Betaflight:
 - anti_desync_power_step = 1000
 - Min Throttle: 1060
 - Max Throttle: 1940

5 Lipo without any deadroll. more lipos tomorrow to see.

[2016-06-15 16:49] VirtualEnder commented on #486
Just flashed and tested the Revo F4 clone and everything seems good! Baro and Mag were even working and recognized on the bench.  Serial works fine, ports works fine.  The only bug I see is that it doesn't reboot properly in the configurator, I just have to manually disconnect and reconnect though and it's fine. Also setting looptime from the GUI didn't seem to work, but when I set it from the CLI

[2016-06-15 18:00] borisbstyle opened #521 "Add new MSP commands"
Since the new configurator is on the roadmap we need to add new MSP commands.

Think about filters...some new rate commands and many other beraflight specific commands

[2016-06-15 18:30] RipperDrone opened #522 "2.8.0/2.8.1 Baro --> motor control, noise/vibration issue"
I have two SP3Racing ZMR250's now, issue with Baro noise/low frequency vibrations confirmed on both.

This only happens when **Baro** is on (foam covered on both quads).
It surely confirms earlier observations that from 2.8.0 onwards, thrust in conjunction with Baro=ON seems to show bad performance

- strange low-freq humming / noise when throttling up >20%
- considerably less thrust, e.g. needs a

[2016-06-15 19:42] borisbstyle commented on #522
The vibrations were always there but before 2.8 the pids were lowered at
low throttle and now not anymore ;)
Op 15 jun. 2016 20:30 schreef "RipperDrone" <notifications@github.com>:

[2016-06-15 20:04] RipperDrone commented on #522
@borisbstyle
Humming gets more pronounced @ higher / max throttle even. Not a particular low throttle issue. Quad is NOT instable to fly either. Just lacking thrust/power and humming like a bumblebee ;-)

If you think it's PID's, what's your recommendation how to compensate for it, just to give it a try and verify? I tried changing ALT/VEL PIDs from very low thru very high - no improvement... othe

[2016-06-15 20:07] marcodcribeiro commented on #498
I fix the min and max in Blheli, but when calibrate in clean and go to blheli again some esc dont have the same min and max, for exemple ESC 1 (min: 1020, max: 1980), ESC 2 (min: 1024, max: 1992)

[2016-06-15 20:07] borisbstyle commented on #522
use the same filter settings as in 2.7.1

gyro_lowpass and dterm_lowpass and try again
Op 15 jun. 2016 22:05 schreef "RipperDrone" <notifications@github.com>:

[2016-06-15 20:16] RipperDrone commented on #522
Just tried it, no difference. Nothing to do with gyro_lowpass / dterm_lowpass, obviously...

[2016-06-15 20:18] trojanGoat commented on #498
K.. I already tried doing that.  I haven't lowered startup power, but I don't see how this affects flight performance.  Isn't it meant for large props?.  I will try it one more time.  Did you end up sticking to Oneshot or Multishot?

[2016-06-15 20:45] marcodcribeiro commented on #498
I end up with Oneshot.
But now i try one motor at time in cleanflight with HOME and END key, and sometimes the ESC reboot.

So i go back to 14.4 testing and thats ok for now.

[2016-06-15 23:08] mike-levenick commented on #461
[black-box-and-CLI-dump.zip](https://github.com/betaflight/betaflight/files/317356/black-box-and-CLI-dump.zip)

Here's a zip of 2.8.1 running on F3 with:
Feature airmode ON - Motor stop ON - Airmode activation set to default 1350
Feature airmode OFF - Air mode on switch
Feature airmode ON - Motor stop OFF - Airmode activation set to default 1350

The CLI dump is from the last test of airmode ON mo

[2016-06-15 23:11] mike-levenick commented on #461
I"m also willing to do any additional testing or logging you need. The only quad I have on 2.8.x with blackbox is the F3, but can do non-blackbox tests with the powercube/calibri quad as well.

[2016-06-16 01:57] mikeller opened #525 "FC doesn't initialise properly / doesn't arm, NAZE32, 3.0.0"
With latest in 3.0.0, I noticed that about 50% of the time when a battery is connected, the FC does not seem to initialise properly. It looks normal, and reacts to mode switches and stick input (as displayed on LED), but it won't arm (switch arming). As a workaround, when this happens, using the sticks to 'change' the profile to the one that was already active the last time it had been powered on

[2016-06-16 01:58] mikeller commented on #486
Beeper for NAZE32 is now fixed in #523. But there seems to be a problem with initialisation on power-up: #525.

[2016-06-16 02:09] nathantsoi commented on #525
does this ever happen on usb only? (wondering if i can bench test w/o a battery?)

[2016-06-16 02:16] mikeller commented on #525
I did not notice any problems when I was working on the quad and had it connected on USB. But then, when this happens, the FC seems to be working fine, except that it does not arm. So it could well have happened, I would not have noticed.

[2016-06-16 05:07] blckmn commented on #521
We need a motors command, for setting up the pwm_rate, and protocol

[2016-06-16 06:25] KiteAnton commented on #458
@TonyLeyland I understand your point/concern but this seems to be of low priority to fix in FW. You (or anyone else) are always free to make a PR and then it can be discussed again, but closing this issue for now.

[2016-06-16 06:25] #458 closed

[2016-06-16 06:40] KiteAnton commented on #295
Things like this can sometimes be easier to fix in the transmitter instead, that will reduce the complexity of the FW. I suggest you use a sticky switch on your transmitter (possible with a two switch activation) and then add a warning sound for when the switch are in wrong position without the sticky switch being active. This will prevent the use-case you mentioned above.

This is an old issue so

[2016-06-16 06:40] #295 closed

[2016-06-16 11:36] astajic opened #529 "Smart port issue X4R, SPracing EVO"
Hi after download 2.8.1, set up my port as usual and I had a issue reading the voltage on my taranis, double check everything, but still the same. Re start the taranis and the quad and get the voltage back but just for few sec, then nothing.
Re flash with the 2.7.1 and the voltage back on my taranis, no more problem.

[2016-06-16 13:09] KiteAnton commented on #529
@astajic could you provide more information. I have ran many batteries on 2.8.1 on a SPracingF3 (not evo) without problem:

- Can you reproduce the error
- What is your dump settings,
- What is your CPU usage, other features enabled?

[2016-06-16 14:04] astajic commented on #529
I've got to fly this afternoon but I will try again tonight
Cheers

[2016-06-16 18:52] RipperDrone commented on #529
not an issue on my SP3Racing

[2016-06-16 19:44] padmanek commented on #529
@RipperDrone Do you have EVO? @astajic specifically says EVO.

[2016-06-16 19:58] astajic commented on #529
Yes I tried with sp racing no problem, I've got the issue only with evo

[2016-06-16 20:59] RipperDrone commented on #529
no sorry, got the SP3 Racing Std / non-EVO

[2016-06-16 21:09] voroshkov opened #531 "Is it possible to set looptime via CLI?"
It looks like setting looptime via CLI doesn't work.
I tried:
a) looptime 500
b) set looptime=500
none seems to work.

Is it a bug or a feature?
Is it possible to add a possibility to set looptime via CLI?

[2016-06-16 21:20] KiteAnton commented on #531
It is no longer possible to set looptime directly in CLI. Use the configurator GUI to change looptime.

[2016-06-16 21:27] mikeller commented on #531
@voroshkov: However, it is possible to control the loop time from the CLI, by setting `gyro_sync_denom`, see http://www.rcgroups.com/forums/showthread.php?t=2464844&page=1176 .

[2016-06-16 21:27] borisbstyle commented on #531
yes it is

gyro_sync_denom
and
pid_process_denom
Op 16 jun. 2016 23:20 schreef "KiteAnton" <notifications@github.com>:

[2016-06-16 22:21] blckmn opened #533 "Add support for REVO nano target"
The REVO nano uses a 100mhz STM32F411 processor.

[2016-06-16 22:24] blckmn commented on #533
@jtotham you might be interested in testing this once completed.

[2016-06-16 23:22] trojanGoat commented on #498
I also went back to 14.4 and no more desync problems.

[2016-06-16 23:33] marcodcribeiro commented on #498
Today i have try other change and now no problem with 14.6 and beta 2.8.1.
So e do this:
 - blheli 14.6 and make the calibration with blheli tab.
 - go to cleanflight and test one motor at time with HOME and END key.
 - see what motor do this: https://www.youtube.com/watch?v=PwhsReiCnHk.
 - in this motor or motors go to blheli and see if they have motor direction inverted.
 - if so put to normal a

[2016-06-16 23:33] marcodcribeiro commented on #498
Closed

[2016-06-16 23:33] #498 closed

[2016-06-17 00:34] blckmn commented on #533
https://github.com/betaflight/betaflight/pull/534 has the code to add this. If we need OPBL support simply drop a REVONANO_OPBL.mk file in the directory.

[2016-06-17 00:41] blckmn opened #535 "Hardware Revisions - should a build specifically deal with a hardware revision"
At the moment there is a code associated with detecting hardware revisions etc - which is needed in a lot of places.

Suggestion for discussion:
Now that we have a new target directory based setup, would it be suitable to use the same (i.e. alternate targets) for hardware revisions.

e.g. NAZE_REV4.mk, add the REV4 define to device flags (adjust target.h based on the define), and then strip out an

[2016-06-17 01:13] blckmn commented on #535
https://github.com/betaflight/betaflight/pull/536 is an example :)

[2016-06-17 01:19] blckmn commented on #535
NOTE: we would still need to have the target specific configuration options, but any if hardware_revision == x could be removed and replaced with a #ifdef

[2016-06-17 01:24] blckmn commented on #535
An example would be main.c:

`#ifdef USE_SPI
#ifdef USE_SPI_DEVICE_1
    spiInit(SPIDEV_1);
#endif
#ifdef USE_SPI_DEVICE_2
    spiInit(SPIDEV_2);
#endif
#ifdef USE_SPI_DEVICE_3
#ifdef ALIENFLIGHTF3
    if (hardwareRevision == AFF3_REV_2) {
        spiInit(SPIDEV_3);
    }
#else
    spiInit(SPIDEV_3);
#endif
#endif
#endif`

Would simply become:
`#ifdef USE_SPI
#ifdef USE_SPI_DEVICE_1
    spiInit(SP

[2016-06-17 01:33] mikeller commented on #535
Wouldn't this be a step backwards in reality?

It would go from a system where one binary was enough to support multiple revisions of the same target, to a system where you'd have to build / test / distribute separate binaries for different revisions of the same target.

Or to ask the other way round: What would be the benefits of this?

[2016-06-17 02:40] MJ666 commented on #535
I think for me the goal for the detection was to use an single firmware for the different revisions. The user don't need to know which revision he is using and can simply flash the firmware for his board. Would be simple to have individual targets per revision but an hassle für the user.

[2016-06-17 03:23] mikeller commented on #535
@MJ666: Totally agreed. That's why I am questioning if moving the detection to compile time is a good move.

[2016-06-17 03:31] blckmn commented on #535
Yeah I'm on the fence (hence discussion). There's benefits both ways.

[2016-06-17 03:41] mikeller commented on #535
@blckmn: What's the advantages you see to having revision specific binaries?

[2016-06-17 03:56] martinbudden commented on #535
@blckmn , I'm with @MJ666 and @mikeller , here. For the user it's much easier if they don't have to worry about which revision of the board they are using. For developers it's probably easier too, since there won't be questions like "I flashed my Naze board and now it doesn't work" or "How do I find out which revision my board is?"

[2016-06-17 04:23] blckmn commented on #535
Yes definitely it is much better for the user. So what are the thoughts on how we move this code out of main.c?

[code]

Perhaps an initConfig_t structure (rather than individual ones) that if USER_HARDWARE_REVISION_DETECTION is turned on, calls into the targetInitConfig(&initConfig) and any adjustments are made there - before subsequently calling init for the device?

[code]

[2016-06-17 04:36] blckmn commented on #535
Or do we have a targetSpiConfig(&spiConfig) routine - (and routines for any other device group, e.g. ADC, I2C, LED etc).

[2016-06-17 04:52] martinbudden commented on #535
@blckmn , generally a data-driven approach is better than a code-driven approach. So I think we should avoid the introduction of target callbacks where possible. In `config.c` the set of possible target-specific changes is large, so the use of callbacks is appropriate. Here I think the set of target-specific changes is small, so I think we can solve the problem by careful analysis and judicious ch

[2016-06-17 05:13] #533 closed

[2016-06-17 05:13] #515 closed

[2016-06-17 06:16] blckmn commented on #535
Hi @martinbudden in that case - given the call backs - should we add whether or not spi3 is enabled / disabled as an option in config.c (and as such everything in main.c is effectively driven by config?)

This then simply makes use of the call backs that would need to exist already, and converts main.c into data driven. A simple config reset forces the target detection, writes the config to flash,

[2016-06-17 06:18] blckmn commented on #535
Given it is already 90% config driven anyway ...

[2016-06-17 07:15] martinbudden commented on #535
Yes, I think moving it into config is probably the way to go.

I am, however, a bit wary of doing to much work in this area just at the moment. Changes to init and config can accidentally break things, and I don't think either of us have the hardware or the time to test all the different boards.

We are already in the desirable position whereby new targets can be added by just adding a new target

[2016-06-17 07:18] blckmn commented on #535
ok - sounds good. We can turn focus to getting the various boards tested and working correctly and getting the v3.0 release out there.

[2016-06-17 07:19] blckmn commented on #525
I have a rev5 (with SWD connected) and a rev6 - so will test this on the weekend.

[2016-06-17 07:49] martinbudden commented on #132
Closing, as marked as 'wontfix'.

[2016-06-17 07:49] #132 closed

[2016-06-17 08:01] KiteAnton commented on #383
@MasterZap can you make this into a PR ?

[2016-06-17 08:03] KiteAnton commented on #409
@tekmunkifpv can you (or anyone else) make a PR for this and then it can be reviewed/discussed again.

[2016-06-17 08:05] KiteAnton commented on #387
This seems to be fixed so I close the issue.

[2016-06-17 08:05] #387 closed

[2016-06-17 08:12] KiteAnton commented on #407
Is this still active, also in 14.6 and 2.8.1 ?
Else we should close this issue.

[2016-06-17 08:16] KiteAnton commented on #385
Old issue and also stated unlikely to be added. I close this one, if someone wants to make a PR for the KISS onewire telemetry then do so and it can be reviewed/discussed further then.

[2016-06-17 08:16] #385 closed

[2016-06-17 09:06] nathantsoi opened #539 "development question: logging system load & 100% utilization on startup"
my apologies if this already has been asked and answered.

working on the osd code, i've noticed that every time i reboot the fc, for a few seconds after bootup, the `averageSystemLoadPercent` goes into the 700's for a bit (which can now be seen from the OSD)

maybe this is a silly question but does anyone know why this is? should it be addressed? and could this be related to: https://github.com/b

[2016-06-17 09:26] blckmn commented on #539
Is this a target with SD card? There is an issue with SD card taking a while to detect and settle.

[2016-06-17 09:27] nathantsoi commented on #539
ahhh, cool. yep, that's pry it. sd card is not currently present... but it has a slot.

[2016-06-17 09:27] #539 closed

[2016-06-17 09:28] martinbudden commented on #539
I don't know why this occurs, but it should probably be investigated. It may be unimportant, or it may be like Cliff Stoll's [$0.75 accounting error](https://en.wikipedia.org/wiki/The_Cuckoo%27s_Egg).

You can view debug values in the configurator - set `debug_mode` to use them. `CYCLETIME` looks like the value to use. If not, you can temporarily change the instrumentation in the code to suit your

[2016-06-17 09:37] blckmn commented on #539
I suspect it's if a card is not present it goes through a numbers of attempts. I'm pretty sure there's a nasty blocking loop in there ...

[2016-06-17 11:00] Peksy commented on #531
ok and which code is for looptime 2500 ?

[2016-06-17 11:03] hydra commented on #535
I agree that it is too much hassle for developers to provide and support each hardware revision with a new binary. And too much uncertainty for users too.  Not sure how much first 1st line support you guys do with new users but I'm sure that we're all busy enough already, I know I am.

Would suggest stabilising the betaflight codebase so the we can get things merged and with the OSD support in CF

[2016-06-17 11:27] KiteAnton commented on #531
@Peksy it is no longer possible to set looptime > 1000 us. Only allowed settings are multiplier (1-8) of 125us. Check the [wiki](https://github.com/betaflight/betaflight/wiki/Betaflight-specific-CLI-commands) for deeper knowledge/info.

[2016-06-17 11:50] Peksy commented on #531
KiteAnton thanks for explanation.

[2016-06-17 11:56] #531 closed

[2016-06-17 13:32] blckmn commented on #535
Cool. Thanks for the discussion.

[2016-06-17 13:32] #535 closed

[2016-06-17 16:51] skaman82 commented on #400
See also https://github.com/betaflight/betaflight-configurator/issues/8 for Configurator changes

[2016-06-17 21:13] supermotodr commented on #529
I have sp racing f3 and f3 evo f3 is fine but evo only works on default looptime 2khz if I go to 4k looptime no fc telemetry,really annoying not able to use faster looptime.also with evo cannot calibrate esc but can with f3.

[2016-06-18 00:37] VirtualEnder commented on #486
Ok, I tested my Emax variant of the BlueJay and it has all kinds of issues.

1. Output #4 on oneshot 25 outputs a signal about 35uS longer than #1-3.  When I switch to multishot it goes away and all outputs are fine.
2. The align_gyro and align_acc commands don't work.  They save properly and the show the correct values in the CLI, but they don't actually change the board orientation.  Setting boa

[2016-06-18 00:42] RC-Slater commented on #486
does that looptime deviation when you first connect last for approximately 15 seconds? If so it could be the issue with the software constantly checking for SD card. Try with an SD card inserted and see if it still happens.

[2016-06-18 01:00] VirtualEnder commented on #486
yes, it's about 15 seconds, but this variant doesn't actually have an SD Card slot. :( Maybe later on I'll try to compile one with the SD card support disabled.

[2016-06-18 02:30] ChrisMcD opened #542 "Unable to set profile 3 (GUI), profile 2 (CLI)"
I have been unable to set profile 3 in the GUI (it just jumps back to Profile 1). When trying via the CLI, I can successfully change between profile 0 and profile 1, but when I type profile 2 I simply get: # profile 2

rather than for example

#profile 1
profile 1

[2016-06-18 03:23] kc10kevin commented on #486
That is the SDCard settling issue.  With it defined in the target, it is searching for the SDCard.   Even if there is not an sdcard slot on the board.
It tried 8 times at 2 second intervals.
This is something that affects all SDCard targets when no SDCard is present in the slot.
Something that needs to be addressed quickly.

Easy fix in the code is to change the delay between retries down to 200ms

[2016-06-18 03:31] VirtualEnder commented on #486
This doesn't explain the 100% MCU usage at 8khz/8khz though, that combined with the lack of rotation support makes me think there is still something going on with the IMU driver on this target.  I would be interested to see if it is just this Emax FC, or if the genuine BlueJay has the same issues.  Unfortunately I only have this one here. Anyone else tried the genuine BlueJay?

[2016-06-18 04:17] Jahnkeanater opened #543 "rx range bug?"
When the radio outputs a value slightly out of the 1000-2000 range the flight controller appears to go into failsafe? All the channels go to 1500 until all channels return to the 1000-2000 range.

Spektrum radios only output 1050-1950 and reserve +/- 50 for sub trims. This can be adjusted using the rxrange command but achieving 1000-2000 is still difficult without overshooting. Spektrum radios eve

[2016-06-18 04:21] MJ666 commented on #486
I'm flying an BueJayF4 Rev1 since a while with an custom build of nearly dayly firmware updates. I build the firmware with SPI flash support insted of the SDCard. The FC is build into the copter upside down and I dont have an issue with the related CLI commands. I use oneshot125 with Kiss ESC's and have not seen problems (I dont have measured the pulses). I have not played with the looptime yet si

[2016-06-18 05:14] nathantsoi commented on #486
@tannewt how can you tell i2c is breaking and on what target? my spracingf3 seems ok. thanks for confirming passthrough isn't working, it isn't working for me either. i'm looking at that now

[2016-06-18 05:21] nathantsoi commented on #486
@4712, re passthrough programming. any advice?

![screen shot 2016-06-17 at 10 20 21 pm](https://cloud.githubusercontent.com/assets/399770/16169180/b3ae5ed0-34d9-11e6-8eb0-9324e31c2644.png)

[2016-06-18 05:41] tannewt commented on #486
@nathantsoi Its my own FC that will be released in a couple weeks hopefully. It uses i2c to read an EEPROM with configuration info and that wasn't working last I checked. I plan on circling back to it in a couple days after I wrap up test jig stuff. It could be my code so don't worry about it now. Knowing it works for you means its likely on my end. I had to add another i2c read method for longer

[2016-06-18 06:18] ozzymuppet commented on #400
Agreed. I'm surprised this isn't already implemented?

The default arming colors don't make sense to me, so I'd love the ability to change them.

[2016-06-18 07:14] KiteAnton commented on #542
The number of profiles has been reduced to save memory. It is only 2 profiles available.

[2016-06-18 07:15] #542 closed

[2016-06-18 07:26] KiteAnton commented on #529
Seems like your evo is using to much cpu @4KHz and then the scheduler discontinues the lowest prioritized tasks (e.g. Led strip and telemetry).

Check the outcome from 'status' and 'tasks'. If you haven't already disable unused hardware like acc/mag/baro etc that might use up unnecessary CPU.

[2016-06-18 08:07] Arakon commented on #543
rx_min_usec and rx_max_usec set the point at which the signal is considered invalid and trigger failsafe.
And those are by default >100 points above and below 2000/1000.

[2016-06-18 09:31] supermotodr commented on #529
sorted my s port problem,wrong pid denom in cli now getting telemetry right up to 8k looptime.
still cant calibrate esc though even after changing looptime back to 1k.

[2016-06-18 10:21] KiteAnton commented on #543
@Jahnkeanater what values is sent from the radio when this happens ? If it is outside the values Arakon mentioned then this is not a bug/issue, it is a designed feature that allows the FC to go into failsafe when rx is out of range.

[2016-06-18 12:38] #529 closed

[2016-06-18 12:44] #543 closed

[2016-06-18 15:06] rocketr0n opened #546 "Telemetry not working 2.8.1"
Hi,

Cant seem to get telemetry working with x4r over sbus on the sp racing f3.

any know issues?

[2016-06-18 15:18] rocketr0n commented on #546
edit, never mind I found the problem.

[2016-06-18 15:18] #546 closed

[2016-06-18 18:53] RipperDrone commented on #522
found 2 more pilots experiencing the same issue - here is one:

https://www.facebook.com/groups/betaflight/permalink/292984484384645/?comment_id=293049527711474&reply_comment_id=293335174349576&notif_t=group_comment_reply&notif_id=1466200137568320

[2016-06-18 19:37] KiteAnton commented on #449
The gui and Fw is not synced with possible adjustment functions. I think there are quite few people using betaflight with the need for those inflight adjustments.
If anyone are interested to make a PR for this then go ahead, I close this issue since there is no bug/issue with the FW.

[2016-06-18 19:37] #449 closed

[2016-06-18 23:02] borisbstyle commented on #521
https://github.com/betaflight/betaflight/commit/8353659c73844c2336d99729c7c7a861d8b84ce2

[2016-06-18 23:20] blckmn commented on #521
@borisbstyle - you could probably skip use unsynced, as it won't be needed from V3.0 onwards...

[2016-06-18 23:23] borisbstyle commented on #461
In this log
Switch-airmode-motor-stop.txt

Your throttle never went above 1350!

[2016-06-18 23:25] borisbstyle commented on #461
In all other (feature) logs air mode seems active!

[2016-06-18 23:35] nathantsoi commented on #486
ok, esc passthrough programming on f3 is fine, my minimosd was plugged into the msp port and powers on when the battery is connected :)

my f3 test quad wobbles like crazy i cant even get it off the ground. it may be a tuning issue, but looking at the blackbox, it seems like angle mode is enabled, even though i have not flipped the angle mode switch. does anyone else see this? i'll dig into the co

[2016-06-18 23:39] borisbstyle opened #548 "Motor Timers F4 targets"
@blckmn
I see that development branch doesnt have modified motor timing for F4 targets. That is required for testing.

So basically the F4 needs a separate preprocessing definition.

[2016-06-18 23:40] borisbstyle commented on #548
I can add those too when I get my Blue Jay running

[2016-06-18 23:57] blckmn commented on #548
@borisbstyle the timing is calculated based off SystemCoreClock - its certainly flying ok, and timing looks good on scope...

[2016-06-19 00:01] mike-levenick commented on #461
@borisbstyle , the log switch airmode motor stop does not have throttle above 1350 because I had airmode on a switch in that one, and I turn airmode on and off with the switch. Because motor stop is on in that one, you can tell I flip the switch to turn airmode on at roughly 12 seconds in.

The other two have feature airmode on, so it is not on a switch, and so I increased the throttle to get it t

[2016-06-19 00:03] borisbstyle commented on #548
@blckmn
I actually changed the multishot timing to 72Mhz. But I guess it should be fine as it is probably dividable  by 2 for F4

[2016-06-19 00:03] #548 closed

[2016-06-19 00:04] blckmn commented on #548
Yes I saw that :) I'll check it out to make sure its ok.

[2016-06-19 00:06] blckmn commented on #481
@4712betaflight do you have any thoughts on this one? If not I can look at the difference between VCP and VCP4 code, and see if VCP4 can be moved to using either similar or same code.

[2016-06-19 00:07] borisbstyle commented on #461
@mike-levenick
Even with airmode on switch airmode really gets activated above throttle
threshold! It works exactly the same as the feature, but the one can be
disabled in air and the other one is always enabled ;)

2016-06-19 2:01 GMT+02:00 mike-levenick <notifications@github.com>:

[2016-06-19 00:09] mike-levenick commented on #461
@borisbstyle that's odd. If that's the case, why is it that the motors begin spinning at min throttle when I flip my airmode switch? Nothing else changes, but I flip my airmode switch, and the motors spin at min throttle (even with feature motor stop turned ON).

[2016-06-19 04:50] 100xanoff commented on #513
It seems that this is a problem with this - https://github.com/bitdump/BLHeli/issues/159
One variant - do not use a software reverse engines in BLHeli, change wires

[2016-06-19 06:13] 4712 commented on #481
I would think it is a VCP issue.

To be sure, one could cross test using main port.

[2016-06-19 06:40] blckmn commented on #481
@4712  totally agree its almost certainly a VCP issue :) it works fine on VCP (F1 and F3 targets), just not VCP4 (F4 targets).

[2016-06-19 08:44] AndersHoglund opened #550 "Betaflight 3.0.0 high CPU usage."
Betaflight 3.0.0 high CPU usage.
I noticed very high CPU load with 3.0.0. on  Flip32F3 (SPRF3 clone) compared to 2.8.1.

With default settings (erased when flashing), CPU:13%
Adding only 250us/4kHZ : CPU:77%
Adding all my basic settings and features: CPU:100%

Doing exactly the same test with 2.8.1 I get CPU:6%, CPU:9% and CPU:11%.

Something is not well with 3.0.0....
See attached files for more

[2016-06-19 09:27] #472 closed

[2016-06-19 11:29] blckmn commented on #550
Does it settle after a set amount of time (say 45seconds?)? or stay high?

There's no SD card on that one is there?

[2016-06-19 12:22] AndersHoglund commented on #550
It stays constantly high. No SD-card, onboard SPI-flash.
Both tests done on the bench with a bare board, only Spek-Sat connected. Does not seem to matter whether Tx is on or not.

[2016-06-19 12:32] AndersHoglund commented on #550
Same on a SPRF3 BG clone as well.

[2016-06-19 13:38] borisbstyle commented on #550
Can you check "tasks"  to see what task is responsible?
Op 19 jun. 2016 14:32 schreef "Anders Höglund" <notifications@github.com>:

[2016-06-19 13:52] AndersHoglund commented on #550
Well, tasks are in the attatched "bf300_cpu_load.txt".
The only thing I can see different in 281 vs 300 is the PID task,  ~140us vs ~250us.

[2016-06-19 13:57] borisbstyle commented on #550
@AndersHoglund 250 is not enough to run 4K. That generates high CPU load probably

[2016-06-19 14:05] AndersHoglund commented on #550
Yeah, 250 is really too much even on 2kHz.
Is it only me seeing this? Using my own Jenkins builds for test. Could someone confirm or reject this issue, using a build in another environment. Mind you, I used my Jenkins builds in both the 281 and 300 tests .

[2016-06-19 14:49] Wesstone opened #553 "Save issues in "Configuration" tab"
I just flashed my rev3a Dodo with the 2.8.1 Spracing hex.  Im using an XSR sbus receiver with smart port telemetry.
In the "Ports" tab...
I selected smart port on UART2 and turned Serial RX on for UART3 then saved.
Everything saved fine.
Then I go into the "Configuration" tab, select Serial RX and Sbus, turn telemetry on, set my min/max throttle and save.  Except the only thing that saves are the

[2016-06-19 14:50] 100xanoff commented on #513
I helped replacing wires

[2016-06-19 14:55] arrowcircle commented on #553
Same problem with clone SP F3.
Flashed 2.8.1 Release, got problem with configuration tab save.
Reverted back to 2.8.1 RC1 version and all is ok

[2016-06-19 16:25] zac59 opened #554 "Betaflight 2.8.1"
I can't select tricopter, after save, return quadcopter.

I return to v.2.8.1-RC2 all ok
Naze32

[2016-06-19 17:14] Wesstone commented on #513
Im having a similar issue with the Aikon sefm Blheli_s escs.  Ive been troubleshooting intermittent death rolls for three days now.
Nothing is fully fixing this issue.  Ive tried everything I seen suggested on three different forums and here and it will temporarily correct the issue but comes back either in a different form or as the exact same issue.
currently i have
rs2205 2600kv
Aikon SEFM 30a

[2016-06-19 17:46] skaman82 opened #555 "Naze 32 rev6 issue with Motor Stop, LEDs and so on"
After flashing 2.8.1 I can't activate following options in the configurator:

Motorstop
Oneshot
LED Strip
Serial rx

[2016-06-19 17:59] borisbstyle commented on #555
Oneshot125 isnt a feature what can be activated.

There is a fast_pwm_protocol cli command to choose one.

Thats what needs to get in the configurator.
Op 19 jun. 2016 19:46 schreef "Albert Kravcov" <notifications@github.com>:

[2016-06-19 18:00] borisbstyle commented on #555
Also the configurator has issues with saving anyway due to the extra
commands I added which are not there in the configurator yet.
Op 19 jun. 2016 20:00 schreef dreambb1982@gmail.com:

[2016-06-19 18:03] Slavvkko commented on #555
Boris, but we cannon save not only extra commands. See previous issues.

[2016-06-19 18:29] borisbstyle commented on #555
That all has to do with the same issue

Boris, but we cannon save not only extra commands. See previous issues.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/betaflight/betaflight/issues/555#issuecomment-227011261>,
or mute the thread
<https://github.com/notifications/unsubscribe/AKQlhCSKQQSCi4tO2x86F9qVGnMA_jebks5qNYRygaJpZM4I

[2016-06-19 19:06] marcodcribeiro commented on #513
change te reversed to wire insted blheli.
works for me

[2016-06-19 19:31] bluesign2k commented on #553
+1 for similar issues with most items reverting back after clicking save on config tab. I've found that settings can be changed and saved when using CLI. I also find that I can change the looptime to 500 us and save succusfully (checked by unplugging and re-plugging and checking settings), then unplug again and go fly, then plug in again to download blackbox after flight and the looptime is back t

[2016-06-19 19:37] borisbstyle commented on #553
Re-uploading 2.8.1 with the fix in 5minutes

[2016-06-19 19:37] #553 closed

[2016-06-19 19:38] borisbstyle commented on #554
Re-uploading 2.8.1 release with the fix

[2016-06-19 19:38] #554 closed

[2016-06-19 19:46] borisbstyle commented on #550
I will start testing/debugging soon.

[2016-06-19 20:05] DUNcANPELTENBUrG commented on #513
Same here! Problem solved by changing motor direction in BLHeli to normal on all 4 DYS XMS30A's and changing motor wires to change motor direction.

[2016-06-19 20:59] KiteAnton commented on #513
This seems unrelated to betaflight fw so I close this issue.
If it is not reported to blheli already you should add an issue there instead.

[2016-06-19 20:59] #513 closed

[2016-06-19 21:34] Wesstone commented on #513
Except... I rolled back to 2.7.1 and have NO issues with no "workarounds" necessary.  Flew four packs.  Motors still reversed via software.  Reload 2.8.1 r2 and issues return.

[2016-06-19 21:47] borisbstyle commented on #513
@Wesstone
Try 2.8.1 final

[2016-06-20 06:59] DUNcANPELTENBUrG commented on #513
@Wesstone In this case it's a DYS XMS30A / BLHeli issue. NOT a BetaFlight issue. Changing things in BLHeli or on the esc itself is not a workaround. The issue is addressed in the BLHeli WiKi as well.

[2016-06-20 08:30] ninnux commented on #322
I have a strange issue with LUX, BF2.7.0, LB pro 20A, 2500kv skitzo motor. Default PID, gyro_lowpass and dterm_lowpass, rc_rate=90. Original o-rings mount.
https://youtu.be/t0bIquAFRCo at 5:08 my quad roll left autonomously...
Someone can help me understand if it is MPU6500 issue?
Thank you to @borisbstyle a lot for his work.
Nino

[2016-06-21 07:12] MasterZap commented on #383
I solved this instead w. a script on the radio side, so I personally do not need this any more. It would still be a great feature, though.

[2016-06-21 07:35] #383 closed

[2016-06-21 09:34] MJ666 commented on #486
Here is some update on my recent testing’s:

BlueJayF4 Rev1: Lots of flight testing during last days. Using KISS ESC’s (12A V1.2, LPF disabled via solder bridge) with Oneshot125 and an LemonRX sat. No issues during 30-40 batteries over the last 1.5 weeks. The only known issue is the non-working CLI Dump (partially missing output). This problem looks to be only affecting F4 targets. Looks also simi

[2016-06-21 09:49] martinbudden commented on #486
From a quick glance it looks like `target.h` should define
[code]
rather than
[code]

Does that seem right. If so can you try it and report back?

[2016-06-21 15:01] borisbstyle commented on #486
@blckmn
I am thinking to add back the unsynced_pwm option as this comes nice in the new configurator.

I still didnt have much time to test with 3.0, but will start this soon. I first want to polish the 2.8 stuff to add all these crazy cli options into configurator.

[2016-06-21 15:01] #555 closed

[2016-06-21 17:00] dgddustin commented on #177
when will the kiss fc finally be supported? the kiss firmware sucks balls right now and i absolutely love betaflight and would love to run it on my kiss fc instead of switching fc's

[2016-06-21 17:02] tannewt commented on #177
The target is checked into the development branch but probably still needs testing.

[2016-06-21 17:03] deepimpactio commented on #177
Tell us how you really feel lol
On Jun 21, 2016 12:00 PM, "dgddustin" <notifications@github.com> wrote:

[2016-06-21 19:03] blckmn commented on #486
@borisbstyle no worries, it does make it clear I guess. When I fix up the merge I'll pop it back in.

[2016-06-21 19:04] MJ666 commented on #486
@martinbudden This fixed the I2C issue of the AlienFlight F3 V1. Thanks, sometimes I'm blind. :)

[2016-06-21 19:08] blckmn commented on #486
@mj666 @martinbudden the definition issue with i2c dies highlight an inconsistency in naming. Some have _pin others don't. e.g SPI versus LED versus i2c might need a future cleanup

[2016-06-21 21:47] martinbudden commented on #486
I agree we should sort out this consistency in naming. Inconsistency in naming can result in silly, but hard to track down bugs.

[2016-06-21 21:50] dgddustin commented on #177
Ill be a tester lol just shoot me the firmware! I dont really kno how to use this site

[2016-06-21 21:57] martinbudden commented on #177
The plan is to have a KISSFC target as part of the 3.0 release. There is a KISSFC target in the development branch - this supersedes the version in the betaflight_kiss branch. It builds but is totally untested - I don't have a KISS FC. Anyone is welcome to build this and report back any problems.

[2016-06-21 22:09] dgddustin commented on #177
could you build it and send me a link? like i said i do not know how to use this site all that well or i would do it and test.

[2016-06-21 22:15] AndersHoglund commented on #177
Everything commited to the betaflight development branch is built here: [http://andwho.sytes.net:8080/job/BorisB_BetaFlight_Development/](url) . Please feel free to download the build artifacts zip file.

[2016-06-21 22:18] dgddustin commented on #177
when clicking on the like it says page not found

[2016-06-21 22:24] AndersHoglund commented on #177
Try again, some strange handling of links. Or copy & paste this URL http://andwho.sytes.net:8080/job/BorisB_BetaFlight_Development/

[2016-06-21 22:50] dgddustin commented on #177
i had to copy and paste thanks, also iv successfully downloaded firmware files and i created a dfu file and loaded it onto the kiss fc and guess what it works!!!!!!!!! i am now working on changing the motor order from Kiss's motor order to betaflights order then i will test flight and report back thanks

[2016-06-21 23:15] martinbudden commented on #177
I think you can just set the mixer to "QUADX1234". Not sure if you can do this in the configurator, but I'm pretty sure you can do this in the CLI.

[2016-06-21 23:42] AndersHoglund commented on #550
Re-checked CPU load after the latest 2.8.1 to 3.0.0 merge/re-base. Still high CPU load and slow PID task. Looks like this after flashing with full chip erase on a SPRF3 BG clone :

    # version
    # BetaFlight/SPRACINGF3 3.0.0 Jun 22 2016 / 00:34:09 (5d385d0)
    # status
    System Uptime: 32 seconds, Voltage: 0 * 0.1V (1S battery - NOT PRESENT), CPU:14%
    CPU Clock=72MHz, GYRO=MPU6050, ACC=M

[2016-06-21 23:46] dgddustin commented on #177
to late now haha its done and flying i just need to add alittle  more filtering

[2016-06-22 02:06] dgddustin commented on #177
Ok so I now have it flying but am having issues with I term and d term. I have major dropping in pitch and roll when punching out and I have I term at like .055 for both pitch and roll. Also I having issues with lots of bounce back after flips and roils and I have d term at almost 60 for both pitch and roll. That seems like a lot with no fix to the issue. I'm using luxfloat

[2016-06-22 02:23] JakeStorch opened #559 "RC Smoothing"
Add RC smoothing back in please.

[2016-06-22 02:26] #559 closed

[2016-06-22 05:27] borisbstyle commented on #177
I think the dev branch first needs to be rebased/merged with the 2.8.1 to
get better tuning, but also other things need to be verified on this target
as well.

Thanks for testing. Are you using SBUS by the way?
Op 22 jun. 2016 04:06 schreef "dgddustin" <notifications@github.com>:

[2016-06-22 07:56] tannewt commented on #486
My i2c issue on my F3 was also the _PIN suffix plus the change from USART1_TX_PIN to UART1_TX_PIN which by default was my i2c data line. :-(

[2016-06-22 08:58] blckmn commented on #486
Ok. I'll clean them up.  What's the verdict pin or no pin in the naming?

[2016-06-22 09:03] tannewt commented on #486
I was gonna offer to clean them up too after we decide. I vote no pin because longer term we should just define pins and not periphs and clocks. So, there will be nothing to differentiate against.

[2016-06-22 09:13] dgddustin commented on #177
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; }  Okay let me know when or if some things change so I can test them. 🤓
Yes I'm using Frsky xsr with sbus 

Sent from Yahoo Mail for iPhone

On Wednesday, June 22, 2016, 1:27 AM, borisbstyle <notifications@github.com> wrote:

I think th

[2016-06-22 09:54] tannewt commented on #177
Weren't they already merged?
https://github.com/betaflight/betaflight/commit/897aab9c86609aa6497675ede77ec21de73cd1a3

On Wed, Jun 22, 2016 at 2:13 AM dgddustin <notifications@github.com> wrote:

[2016-06-22 10:01] martinbudden commented on #486
I'm not sure about pin or no pin. I started cleaning it up with no pin myself, and the code didn't look quite right. After all PB4 (say) is a pin, and it encapsulates all the info about that pin.

So, @blckmn , can you hold off a little while and let me think about this a bit more. Doing the cleanup is a bit of a tedious activity, so it's worth spending a bit of time thinking about it first.

One

[2016-06-22 10:42] mikeller commented on #486
Fixed my tricopter tonight, put 3.0.0 onto it, and gave it a quick spin on the bench and then outside. The yaw PIDs seem to be off compared to 2.8.0 that I was flying before the tail servo burnt out, but apart from that it was flying fine.

One thing that I noticed was that the servo mixer configuration initially dumped as those crazy values that I'd reported earlier on. This seems only to be happ

[2016-06-22 11:05] blckmn commented on #486
@martinbudden Good feedback. I'll make that change a pull request tonight.

[2016-06-22 11:06] blckmn commented on #550
@AndersHoglund does the SPRF3 clone use VCP or have a usb serial chip on board?

[2016-06-22 11:08] blckmn commented on #481
I have a temp fix for this (I don't like it - but will need to spend some more time on it). Seems the VCP on F4 floods the PC with packets. Similar problem as fixed in the CLI.

https://github.com/betaflight/betaflight/pull/560

I've also moved it to the new IO.

[2016-06-22 11:14] blckmn commented on #486
@martinbudden have added that change to the vcp_fixes pull request. I am with you as it needs more thought. Although in the target.h file having a PA1 describes the pin and is obvious.

BUT

Elsewhere reading the code it is hard to see that I2C_SCL or LED0 are a pin definition (PA1 becomes hidden).

So I am on the fence.

[2016-06-22 11:20] martinbudden commented on #486
That's the thing, in the `target.c` file it is obvious. But in the driver code it can get confusing.

[2016-06-22 19:54] AndersHoglund commented on #550
SPRF3 has the CP2102 USB-serial on UART1, no VCP,

[2016-06-22 19:59] gaelj commented on #400
Any chance the parameter group feature of cleanflight will be ported here first ?

[2016-06-22 20:25] tannewt commented on #486
Anyone get i2c working on an F4? I'm struggling to get it working and I'm making it worse by trying to change it to support two byte subaddresses for reading EEPROM. Looks like we're using the F1 code but I'm not sure its that simple since its doing register checks and such.

[2016-06-22 20:47] savaga commented on #550
My dev board has similar issue with 2.8.1 @ 8khz/8khz:

[code]

But it seems ok with latest 3.0.0 @8khz/8khz:

[code]

[2016-06-22 20:56] MJ666 commented on #486
On my F4 dev board (AlienFlight F4 test board) I have an baro connected to I2C wich is working. Also my BlueJayF4 has an working baro connected to I2C.

[2016-06-22 22:19] tannewt commented on #486
Hrm. Must be my code then. I tried changing subaddress to two bytes but the
event interrupt handler is complex.
On Wed, Jun 22, 2016 at 1:56 PM MJ666 <notifications@github.com> wrote:

[2016-06-22 22:48] phlakvest commented on #298
I think I'm having a similar problem with a Naze32 Rev5. I installed Little Bees running blHeli 14.5, and had a couple instances where in a fast double/triple roll the copter keeps rolling.

[2016-06-22 22:48] phlakvest commented on #298
I think I'm having a similar problem with a Naze32 Rev5. I installed Little Bees running blHeli 14.5, and had a couple instances where in a fast double/triple roll the copter keeps rolling.

[2016-06-22 23:14] phlakvest commented on #298
I noticed the same issue on my F-303 with LittleBees (Blheli 14.5, Super_expo enabled, Airmode on, Rate 75). The first time I thought it was pilot error, but after the third time I looked for more info, and found this post.

I was able to capture it on video and blackbox if that helps. (The video/log has modified PIDs, but it happened on stock pids also.)

I think it actually was about to stabiliz

[2016-06-22 23:19] blckmn commented on #481
@tannewt the temp fix is now merged, can you please let me know if it solves it for you?

[2016-06-22 23:23] borisbstyle commented on #461
@mike-levenick
Airmode overrules the motor stop. But I see that there is indeed a small dependancy from switch in some scenarios.

I will fix that in 2.8.2

[2016-06-22 23:27] iconicj commented on #298
That's probably BLHELI 14.5, which had a really bad desync bug. Upgrading to 14.6 helped

Happy Connecting. Sent from my Sprint Samsung Galaxy S® 5

-------- Original message --------
From: phlakvest <notifications@github.com>
Date: 06/22/2016  4:48 PM  (GMT-07:00)
To: betaflight/betaflight <betaflight@noreply.github.com>
Cc: iconicj <junk@coloradopast.com>, Comment <comment@noreply.github.com>
Su

[2016-06-22 23:37] #521 closed

[2016-06-22 23:39] phlakvest commented on #298
Sorry, mistyped. I was running 14.6.

[2016-06-22 23:52] simonsais commented on #298
Never change a running system 😉
Am 23.06.2016 01:40 schrieb "phlakvest" <notifications@github.com>:

[2016-06-23 02:03] phlakvest commented on #298
Here is one without super_expo to rule that feature out.

https://www.youtube.com/watch?v=t2bEW1aJJ90
https://app.box.com/s/72guy2pflbnkdjslmnknw901gkphwvh9

It's a new build, so unfortunately I can't rule out hardware, or step back before the problem started.

[2016-06-23 06:24] MJ666 opened #563 "Problems with lates PWM changes and brushed FC's"
I have seen some strange behavior since latest pwm changes last days (adding the use sync pwm output back). If I change the mixer the brushed AlienFlight controller activate all the motors and it will go in infinite loop always trying to start motors and will not finish the configuration. USB power will shutoff and he cycle will start again. Checking the config afterwards in CLI the motor_pwm_prot

[2016-06-23 06:56] rav-rav opened #564 "Derivative from interpolated RX Input"
In the newest releases calculation of the derivative factor has been changed to use interpolated input values. I don't think this is the right approach, as I have quite unpredictable and incorrect results on my quad.
Unfortunately it's not possible to disable this calculation or adjust it.

rcInterpolationFactor is based on magic numbers from here:  https://github.com/betaflight/betaflight/blob/be

[2016-06-23 07:03] tannewt commented on #486
@MJ666 Which baros are they? I'd like to look at their I2C calls.

It seems like its a multibyte read thats causing me issues. Heres the end of the signal where it should continue to read but it appears the master doesn't ACK the slave. The previous packet set up the read with two bytes like I need and single byte reads worked earlier. The EEPROM isn't the problem because it works fine connected t

[2016-06-23 07:08] rav-rav opened #565 "Looptime scaling in the PID loop"
There will always be some jitter in time between gyro loops and consequently PID loops. Sometimes there will be a little more time between updates and sometimes less.
Calculations in the PID loop are supposed to compensate for looptimes, but don't take into account this jitter.

The function used to obtain dT always returns the same constant value. Is there a reason why this is used instead of the

[2016-06-23 07:28] martinbudden commented on #522
@borisbstyle , I think this may be to do with the optimisation of the call to `updateRcCommands` that happened a while ago. Cleanflight had a similar problem caused by a similar optimisation.

If this is true then PR https://github.com/betaflight/betaflight/pull/566 should fix the problem.

@RipperDrone , could you build and test this?

[2016-06-23 08:24] isilcala commented on #461
I believe mike-levenick was saying, if now airmode really gets activated above throttle threshold even when it's on a switch, then the motors should not begin spinning at min throttle. Once the throttle go above the threshold then airmode overwrites the motor_stop. But that's not the case what mike-levenick and me have been able to see.

airmode on feature:

1. when first armed, throttle = min, mo

[2016-06-23 08:35] borisbstyle commented on #461
No thats dangerous. When you fly with airmode ON motor stop is always
overruled. Airmode ON doesnt mean it is active yet.

Imagine not knowing if airmode is activated or off and still disabling
motors in air and crashing.
Op 23 jun. 2016 10:24 schreef "isilcala" <notifications@github.com>:

[2016-06-23 08:37] borisbstyle commented on #461
so short summary.....when airmode switch is on motor stop is already
overruled.

What do yoh want to make your motors start at 1350 and shoot your quad in
the air :)
Op 23 jun. 2016 10:36 schreef dreambb1982@gmail.com:

[2016-06-23 11:16] Nandox7 opened #571 "CHANNEL_FORWARDING not working in SP3Racing FC"
Hi,

Enabling this feature in a SP3Racing FC doesn't forward the AUX[1-4].
Tested using several Betaflight versions including the current one 2.8.1 in QuadX mixer mode.

The expected behaviour would be that channels Aux[1-4] would be forwarded to Motor/PWM pins 5 to 8.

(Tested the same setup on a Naze32Rev5 and it worked as expected.)

PS: I'm using PPM RC input

[2016-06-23 11:19] borisbstyle commented on #571
did you enable aux channels with max_aux_channels?
Op 23 jun. 2016 13:16 schreef "Nando" <notifications@github.com>:

[2016-06-23 13:52] mike-levenick commented on #461
@borisbstyle - correct.

Dead horse being beaten, I think Boris gets it.

I am using "are the motors spinning" as a diagnostic test, since the motors do (and I believe should) spin at min throttle when air mode is activated, even if motor stop is on.

When I use switch, it seems to work correctly. If motor-stop is on, and I activate airmode via switch, the motors begin to spin at min throttle, tel

[2016-06-23 14:31] borisbstyle commented on #461
@mike-levenick
Yes, but the feature thing is also being fixed in 2.8.2. Feature airmode will fully overrule motor stop

[2016-06-23 14:36] borisbstyle commented on #565
@rav-rav
Actually this is minimizing jitter. Making dt adoptable to jitter just gives more jitter! It is really just meant to adopt the same PID's to different looptimes.

When you send command to ESC it can take between 0 and 128us before that one starts applying it to the motors. Also all calculations are based on the latest gyro sample, which is always on time! Even if you receive gyro sample l

[2016-06-23 14:37] borisbstyle commented on #564
2.8.2 has both issues tackled!

I made the refresh rate configurable, which is safer solution

[2016-06-23 14:37] #564 closed

[2016-06-23 14:54] laurynas-karvelis opened #572 "Cannot set "telemetry_inversion" to Off state."
Hi all,

Using Betaflight 2.8.1, I've got this odd situation on the XRacer 303 v2.1 board (F3 chip) with 3 UART ports available. My connections on the board: USB and S.Port Telemetry on UART1, UART2 - OSD TX/RX, UART3 - Sbus. The problem, as I `set telemetry_inversion = Off` on console and then `save`, once the board is restarted, it reverts `telemetry_inversion` param back to `On` state.

Is this

[2016-06-23 15:16] Nandox7 commented on #571
No I have not.
I followed the same process as I was doing previously in the Naze32 that is just enabled the feature in the UI.

[2016-06-23 15:19] rav-rav commented on #565
Yes, then it makes sense to use a constant value. I was not sure if this was the case or if the actual time when the sample is taken was changing. Thanks for explaining.

[2016-06-23 15:19] #565 closed

[2016-06-23 15:53] laurynas-karvelis commented on #572
Just figured it out. Went to read the source code inside [smartport.c](https://github.com/betaflight/betaflight/blob/betaflight/src/main/telemetry/smartport.c#L141), and what I've found that SmartPort needs 57600 baud.

Now UART1 configuration by default is set with MSP 115200 baud, and Telemetry column defaults baud to AUTO. What I think is happening, once the board detects that it's not connecte

[2016-06-23 15:57] isilcala commented on #461
so the bug actually is motor_stop was not correctly overruling by airmode at min throttle, besides that the feature airmode was working well, am I understanding this right?

and as always, thank you so much for bringing us this great betaflight :)

[2016-06-23 15:59] mike-levenick commented on #461
The bug was that feature airmode was not correctly activating air mode under the circumstances that it should.

Motor stop was used by me purely as a diagnostic test, as the motors should not ever be stopped when air mode is active. If the motors are stopped, air mode is not correctly activated.

[2016-06-23 16:09] isilcala commented on #461
I see this commit:
https://github.com/betaflight/betaflight/commit/9160a2adbc1a6167632d74f280738a5e7eca9187

read the code we can see the bug is motor_stop was not correctly deactivating, but from your description and your blackbox log (thank you for that, my F1 board doesn't feature blackbox) the bug was airmode was not correctly activating. seems there is still a gap there.

[2016-06-23 16:14] mike-levenick commented on #461
To clarify, airmode should overrule motor stop.

If you have motor stop active, and sit at min throttle, the motors are stopped. However we don't ever want the motors to stop spinning with air mode on. So if feature motor stop is on, and air mode is active, the motors will spin at min throttle.

His comment "fix motor stop not being deactivated with airmode feature" means that airmode is not corre

[2016-06-23 17:29] tannewt commented on #572
So, do you actually need inversion off? Its impossible to turn off with the F3s because of this code: https://github.com/betaflight/betaflight/blob/betaflight/src/main/config/config.c#L891

Sounds like you actually have another issue with the UART settings. Did you arm (with props off) to test it? I'm not exactly sure how the serial port sharing code works.

[2016-06-23 17:34] laurynas-karvelis commented on #572
@tannewt, you are right, I didn't have to turn telemetry_inversion off completely. My only problem was that if USB and SmartPort being used via UART1, then, not only MSP needs to be enabled on it, but on the Telemetry column, choosing SmartPort you also need to pick 57600 baud too. That's the important part.

Once the board is restarted and armed, you can now see telemetry data with VBAT and other

[2016-06-23 17:38] tannewt commented on #486
So, I figured one issue out. The I2C timeout is really short! The F3 code uses I2C_LONG_TIMEOUT at every stage of the I2C transaction while the F1/F4 code uses I2C_DEFAULT_TIMEOUT (aka I2C_SHORT_TIMEOUT) for the whole transaction! I'm hitting this issue because:
1. I'm doing longer reads and the timeout doesn't scale.
2. The F4s run faster than the F1s so the busy loop takes less time.

Lastly, I'

[2016-06-23 18:09] RipperDrone commented on #522
@martinbudden , sounds like you spotted a very likely fix for the Baro issue. I'll be happy to do the test/verification but am still lacking some skills how to do the build.

I've done a decent amount of C++ coding long time back, but am not familiar with this environment here. Where can I find some instructions how to build specific interim versions from Pull Requests? Pls give me some guidance -

[2016-06-23 18:49] martinbudden commented on #522
If you known how to use git the process is quite easy (once you have set up the build environment). Clone the betaflight repository, merge in my changes and then type `make SPRACINGF3` on the command line.

If you don't know how to use git, than I think the simplest thing to do would be to clone the betaflight repository (just use the clone button in github) and hand edit in my changes - they are

[2016-06-23 19:06] RipperDrone commented on #522
Should do, will try. Thanks a lot. Not experienced with Git, will try the 2nd route…

Von: Martin Budden [mailto:notifications@github.com]
Gesendet: Donnerstag, 23. Juni 2016 20:50
An: betaflight/betaflight <betaflight@noreply.github.com>
Cc: RipperDrone <reinhard.plietsch@web.de>; Mention <mention@noreply.github.com>
Betreff: Re: [betaflight/betaflight] 2.8.0/2.8.1 Baro --> motor control, noise/v

[2016-06-23 20:16] RipperDrone commented on #522
Hi Martin,

spent another hour trying to set up the environment, still having limited understanding. Current setup is GitGui, GitBash and a nice GitHub Desktop interface.

Have cloned-merged your commit #566 and actual betaflight onto my local Windows 10 computer. Still can’t figure out how to build from there. All command line attempts in Git Shell or Git CMD do not offer option to build.

Am I m

[2016-06-23 20:49] KiteAnton commented on #550
I get the same issue on a SPRacingF3,

[code]

[2016-06-23 20:52] KiteAnton commented on #359
Old issue, closing since seems unrelated to FW issues.

[2016-06-23 20:52] #359 closed

[2016-06-23 20:54] KiteAnton commented on #352
Fixed in #453

[2016-06-23 20:54] #352 closed

[2016-06-23 20:55] KiteAnton commented on #303
Old issue, closing since no bug.

[2016-06-23 20:55] #303 closed

[2016-06-23 21:10] martinbudden commented on #522
@RipperDrone , I've attached the file here:

[betaflight_3.0.0_SPRACINGF3.hex.zip](https://github.com/betaflight/betaflight/files/330813/betaflight_3.0.0_SPRACINGF3.hex.zip)

[2016-06-23 21:13] #255 closed

[2016-06-23 21:13] KiteAnton commented on #255
Related to #400

[2016-06-23 21:21] AndersHoglund commented on #550
Thanks for the confirmation Anton.
Betaflight 2.8.2 is still some 100us average faster with the PID task:

    # version
    # BetaFlight/SPRACINGF3 2.8.2 Jun 23 2016 / 02:10:24 (4c59769)
    # tasks
    ......
    1 - (PID) max: 226us, avg: 143us, rate: 998hz, total: 7sec
    ......

What does this look like on other F3 based FC's? I have only BG SPRF3, X-Racer v1 and Flip32F3. All SPRF3 clones,

[2016-06-23 21:29] KiteAnton commented on #298
@phlakvest, by looking at your video it looks the same as a lot of these ESC "desync" problems. Your ESC/motor probably misses to keep the prop spinning enough and the small glitch is what you experience. Try raising your min_throttle and test by changing the anti_desync_power_step parameter (read more in the wiki).

[2016-06-23 21:31] #312 closed

[2016-06-23 21:39] KiteAnton commented on #326
Low priority for GPS support and no actual FW issue so I will close this issue.

[2016-06-23 21:39] #326 closed

[2016-06-23 21:40] RipperDrone commented on #522
@MartinBudden,

thank you, I flashed your file onto my SPRACINGF3, since then I can’t get a USB connection made anymore, nor can I re-flash. Do I need a specific BetaFlight Configurator version? Tried with the latest Betaflight Configurator, tried 20+ times. Even downgrading to BF2.8.1 does not work anymore.

Any idea what’s going on now? USB connect has been flawless so far.

Have to set some par

[2016-06-23 21:43] KiteAnton commented on #343
@MBR595 & @Arakon, is this issue still active ? Is the problem still present in latest 2.8.1 sw? Otherwise please close your issue.

[2016-06-23 21:51] #407 closed

[2016-06-23 21:54] martinbudden commented on #522
I'm not sure what the problem is. Have you flashed other 3.0 development versions, or is this the first one you've tried?

[2016-06-23 21:54] RipperDrone commented on #522
Seems like weird things going on – after 50+ attempts including reset jumper, different combinations of Flash on Connect, No reboot sequence etc., I finally managed to flash the FC back to 2.8.1. Treid to up to 3.0.0 again, same result: No USB Connect anymore, no re-flashing without setting jumper and playing some 20+ times with plugging in/out USB and different port settings.

Seems like 3.0.0 wi

[2016-06-23 21:54] RipperDrone commented on #522
1st ever.

Von: Martin Budden [mailto:notifications@github.com]
Gesendet: Donnerstag, 23. Juni 2016 23:54
An: betaflight/betaflight <betaflight@noreply.github.com>
Cc: RipperDrone <reinhard.plietsch@web.de>; Mention <mention@noreply.github.com>
Betreff: Re: [betaflight/betaflight] 2.8.0/2.8.1 Baro --> motor control, noise/vibration issue (#522)

I'm not sure what the problem is. Have you flashed o

[2016-06-23 21:58] KiteAnton commented on #413
Old issue and solution given already by Arakon, closing.

[2016-06-23 21:58] #413 closed

[2016-06-23 22:01] martinbudden commented on #522
@RipperDrone , well thanks for trying anyway. It looks like there are some USB problems that need fixing....

[2016-06-23 22:06] KiteAnton commented on #470
@purplehazezzz could you provide more info regarding your issue/behavior? Video/blackbox? Did you see jetos comment and are you aware of the super expo feature?

[2016-06-23 22:10] KiteAnton commented on #572
@laurynas-karvelis, good finding. Please close this issue if you consider it solved.

[2016-06-23 22:13] MJ666 commented on #550
i did some testing here. The AlienFlight F4 test board with default settings shows normally 2% CPU usage. If there is no SDCard inserted the CPU usage goes to 7% for a while and is calming down to 2%. With inserted SDCard it is always 2%. With Gyro update frequency of 4kHz is will go to 7-8% but with 8kHz it goes to 100%. It also looks to be the MPU6500 is running with the lowest SPI bus Clock? Th

[2016-06-23 22:14] RipperDrone commented on #522
you're welcome - yes seems to do with timing for serial USB connection. Whenever you have a BARO-fixed version available pls let me know when I can help test it. In parallel, I will try to see if I can find out how to set up a Win 10 build environment under GitHub (are you using CygWin?) to introduce mods into local builds for testing in the future...

[2016-06-23 22:23] resokk commented on #550
@MJ666 the same result on BlueJayF4

[2016-06-23 22:32] #572 closed

[2016-06-23 22:40] blckmn commented on #550
I'll up the SPI rate and submit a PR for testing

[2016-06-24 01:01] tannewt commented on #481
@blckmn Unfortunately it still doesn't work for me. Reading and writing settings are OK but flashing new firmware hangs the board with the progress bar around 30%. I'm using Windows 10, BLHeliSuite 16114600 and Aikon SEMF ESCs.

Its the cmd_DeviceWrite_Gen[Flash] stages thats 5632 bytes that fails with "COM Timeout Error".

[2016-06-24 01:15] phlakvest commented on #298
Good call kite. I had turned min throttle down so it would fall faster. I turned it back up to stock, and so far I haven't been able to duplicate the problems.

[2016-06-24 02:04] blckmn commented on #481
@tannewt could you increase the delay to 100 and see if that works?

[2016-06-24 02:07] tannewt commented on #481
Yup, will do. My email is scott@chickadee.tech if thats easier to
coordinate over (its hosted by Google so hangouts works too.)

On Thu, Jun 23, 2016 at 7:04 PM J Blackman <notifications@github.com> wrote:

[2016-06-24 02:26] tannewt commented on #481
Still no, hangs in the same spot. Could be something with my setup.

[2016-06-24 02:51] isilcala commented on #461
yes I believe we are on the same page now. thank you both.

[2016-06-24 02:57] blckmn commented on #481
If it is hanging in the same spot every time then I would suspect a problem with an ESC perhaps. Can you try flashing them individually?

I did notice that occasionally (not very often) the BlHeliSuite would have a not responding on the progress dialog, but the led indicator on the FC was still flashing showing data xferring. After it finishes flashing the dialog box came back to life and all was

[2016-06-24 03:00] tannewt commented on #481
I had a single one selected when it didn't work. I'll try later tonight
with my F3 board to make sure the ESCs all work. I think they all have at
one point or another.

On Thu, Jun 23, 2016 at 7:57 PM J Blackman <notifications@github.com> wrote:

[2016-06-24 04:19] xeroorc opened #575 "naze32 flyskyi6a pwm"
using betaflight on naze32 but unable to even throttle my reciever  and motors. connection all checked and should be correct.
all bars not moving. please help

[2016-06-24 04:28] blckmn commented on #563
Thanks @MJ666 I'll have a look tonight.

[2016-06-24 05:19] MJ666 commented on #550
I did some testing with the actual SPI standard clock (11.5Mhz). This is working for me even with long wiring on my test environment. Here the CPU will be only 17% with the 8kHz gyro update. With 5.25MHz the CPU load is 19%.

[2016-06-24 06:35] martinbudden commented on #522
Yes, it's certainly worth you learning how to set up the build environment. I'm using a Mac myself.

[2016-06-24 06:40] tannewt commented on #481
All of the same ESCs flashed just fine through an F3 FC.

[2016-06-24 07:51] rav-rav commented on #571
You need to enable FEATURE_SERVO_TILT to enable output to other channels.
Then you can use CHANNEL_FORWARDING to forward your inputs.

This really should be reworked.

[2016-06-24 08:38] Nandox7 commented on #571
I may be wrong but at some stage i tried that as well.
Well i tried a lot of things. :)
Smix, servo, ...

I started looking at the code and i wonder if there isnt some conflict in
the conditions checking.
There are specific rules set for the SP3Racing.
On Jun 24, 2016 08:52, "rav-rav" <notifications@github.com> wrote:

[2016-06-24 08:41] rav-rav commented on #571
I have a SP3Racing FC and use channel forwarding to activate a lost plane beeper on my PDB via a switch on my TX. Works fine, but I'd have to check the exact settings. I don't have access to my quad right now however.

[2016-06-24 08:54] Nandox7 commented on #571
Would appreciate that.
I need it for the same purpose, i use a Matek 5-in-1 that has buzzer
builtin but needs a PWM input to control it.
On Jun 24, 2016 09:41, "rav-rav" <notifications@github.com> wrote:

[2016-06-24 10:09] blckmn commented on #563
@MJ666 https://github.com/betaflight/betaflight/issues/438 highlights the issue in 2.8.x also.

I have a suspicion that the issue will only occur the first time you flash, and you need to reset settings or save settings with battery disconnected at least once.

[2016-06-24 11:00] rav-rav commented on #571
I think also servo 1 and 2 are bound to pin 7 and 8. 5 and 6 can not be used.
Did you try those?

[2016-06-24 11:18] Arakon commented on #343
It seems to be acting normal in 2.7.1 and 2.8.1.

[2016-06-24 11:32] mikeller commented on #522
@RipperDrone: Don't know if you still need it, but the next person having similar problems might find it useful: I've built a docker container that should make building Betaflight easy on any platform that can run docker: https://hub.docker.com/r/mikeller/betaflight-build/

[2016-06-24 11:34] MJ666 commented on #563
#438 was related to wrong default settings for the AlienFlight targets and was fixed. The problem now happens with the brushed copters also with no battery connected. Motors will be powernd by USB also but the current draw will make the USB port to switch off and the FC can not strart properly untill all motors get disconnected. it will affect all of the brushed FC's and many users even solder mot

[2016-06-24 11:42] KiteAnton commented on #343
Ok good. I close this, reopen or create new if problem occurs also in 2.8.1 or later.

[2016-06-24 11:42] #343 closed

[2016-06-24 11:58] blckmn commented on #563
Hey @MJ666 does this problem occur if full chip erase is done on flashing?

[2016-06-24 11:59] MJ666 commented on #563
will not happen during flashing and resetting the config. It only happens when the mixer is changed.

[2016-06-24 11:59] blckmn commented on #563
Aha. Ok thanks. Will check now.

[2016-06-24 12:00] blckmn commented on #563
What mixer do you change to?

[2016-06-24 12:01] MJ666 commented on #563
To "Hex X" have not tried anything else.

[2016-06-24 12:03] Nandox7 commented on #571
I have it connected to Motor pin 8 so that would work with AUX4.
At some stage i tried and set rules for all servos using smix and later the
servo command.
For last i plugged a servo from M5 to M8....and had no luck.
But i may have tried to move M5 with Aux1, M6 with Aux2 and so on...
I'll try it again.
On Jun 24, 2016 12:01, "rav-rav" <notifications@github.com> wrote:

[2016-06-24 13:40] blckmn commented on #550
Can we please recheck these targets now that the SPI speed has been updated :+1:

[2016-06-24 14:36] rav-rav commented on #571
I'm using AUX4 to control the beeper. It is connected to motor pin 7, will beep at 1000 and does not like signals over 1500.

Here's what I'm using:
`
feature SERVO_TILT
feature CHANNEL_FORWARDING
servo 0 1000 1500 1500 90 90 100 7
`
The last line means that AUX4 is used as input and a min value of 1000 and a max value of 1500 is forwarded to servo 0.
Servo 0 means motor pin 7.
Servo 1 is motor pi

[2016-06-24 15:11] AndersHoglund commented on #550
BG SPRF3 seems unaffected, same as before. PID task taking 250us :

    # version
    # BetaFlight/SPRACINGF3 3.0.0 Jun 24 2016 / 16:54:29 (fefd34d)
    # tasks
    ....
    01 - (PID) max: 330us, avg: 248us, rate: 950hz, total: 29sec
    ....

Not that strange, as it does not have SPI connected gyro/acc.

[2016-06-24 15:26] borisbstyle commented on #550
you guys need to start profiling the code.

split the code sections in multiple sections and measure the timing to get
closer to the code section what decreased the performance.
Op 24 jun. 2016 17:11 schreef "Anders Höglund" <notifications@github.com>:

[2016-06-24 15:38] blckmn commented on #550
SPRF3 incorrectly had VCP enabled. Not sure if it's a cause, but it's now disabled with latest merge. I'll start looking in the morning now I have a clone working.

[2016-06-24 16:25] AndersHoglund commented on #550
VCP has nothing todo with this issue. Checked the latest merge (fefd34) .

[2016-06-24 19:44] barthalamu opened #578 "Add support for data flash chip on the DTFc target"
I tried installing a flash chip I pulled off a bad Dodo FC and it's not recognized in the configurator, it only shows blackbox as being available for serial logging. I noticed it wasn't defined in the DOGE target.h file. Any particular reason?
Could someone please enable data flash on the DTFc? Or at least tell me how to change the target file to add it and compile myself? I'm not a good enough co

[2016-06-24 20:08] dgddustin commented on #177
has there been any updates to the kiss target?

[2016-06-24 20:25] tyinthesky opened #579 "Throttle Jump at full Yaw stick"
On all three of my quads with SPRF3 boards i get a throttle spike into and out of full yaw stick movements and need to run lower than 85 for a rate when i usually run 110? anyone? Betaflight 2.8.1 and blheli 14.6

[2016-06-24 20:26] tyinthesky commented on #579
still have spike at 75 and gets really bad over 85

[2016-06-24 20:30] borisbstyle commented on #579
Lower even more. The new yaw is much much faster.
Op 24 jun. 2016 22:26 schreef "tyinthesky" <notifications@github.com>:

[2016-06-24 21:15] Nandox7 commented on #571
Bingo. Just changed to use M8 instead and it is working now.
Thank you!

I'd still say the feature is not working as it should but at least this
works as a decent
workaround in the mean time.

-Nando
Sent from my Sinclair ZX81

On 24 June 2016 at 15:37, rav-rav <notifications@github.com> wrote:

[2016-06-24 23:15] RipperDrone commented on #522
Thank you. Tried it for some hours now:

-       Installed docker on Win 10

-       Cloned betaflight to my user directory

-       Tried to invoke your script as per instructions

Result on Powershell console: make: *** No rule to make target 'clean'.  Stop.

Did I miss a step here?

Von: Michael Keller [mailto:notifications@github.com]
Gesendet: Freitag, 24. Juni 2016 13:33
An: betaflight/betaf

[2016-06-24 23:50] mikeller commented on #522
Hi @RipperDrone.

The error message suggests that you were not in the Betaflight source directory (the one that you'd cloned from GitHub). Also, I noticed that there was an error in the documentation, referencing NodeMCU where it should have been Betaflight.

[2016-06-25 00:35] blckmn commented on #578
It is in the target.h for v3

[code]

Can you compile it? Otherwise I can send you a HEX.

[2016-06-25 00:40] blckmn commented on #563
Hi @MJ666 looking at the scope after setting brushed. There is always a little pulse on save. I don't need to change the mixer to get it. The pulse occurs after save though, and on reboot. I get the pulse if pulling NRST down and rebooting the FC - its only tiny - but it could cause a problem. Do you think this could be the issue? or am I looking at it wrong.

[2016-06-25 01:29] conkerkh opened #581 "Level Mode Broken on 2.8.2 & 2.8.1"
Basically as written in title, quad doesn't react to changes of Pitch or Roll, it's yawing only.

[2016-06-25 01:45] mikeller commented on #578
This could help you to get set up to build with your own modifications: https://hub.docker.com/r/mikeller/betaflight-build/

[2016-06-25 03:48] llambkin commented on #177
I have a weird issue where I loaded mixer quadx1234, and now I cant do anything. I have no copter in the setup page, and I cant click on anything else. I will reflash and see if I can reproduce.

[2016-06-25 04:00] conkerkh commented on #581
I traced the issue it's due to the fact that from 2.8.1 there is rcsmoothing enabled. Since I'm using my custom RX_MSP transmitter/receiver it doesn't have any rxrefreshrate value, this causes issues with smoothing.

[2016-06-25 04:45] llambkin commented on #177
OK, I puttied into the quad and changed the mixer back to quadx, and the gui now responds. I tried remapping the motor outputs using a custom motor mix, and it doesnt appear to work. Also VBAT doesnt work. I think I might wait for more work to go on before I try again.

[2016-06-25 05:41] llambkin commented on #177
Alright! I now got the mmix sorted. For anyone else trying to get it going, and quadx1234 doesnt work for you, here is the mmix numbers required to get it off the ground:

mixer CUSTOM
mmix reset
mmix 0 1.000 1.000 -1.000 -1.000
mmix 1 1.000 -1.000 -1.000 1.000
mmix 2 1.000 -1.000 1.000 -1.000
mmix 3 1.000 1.000 1.000 1.000
smix reset

[2016-06-25 06:38] MJ666 commented on #563
Some very short pulses should not be an problem. But if the FET's get active longer the motors will start and USB power will cut off. Ideally we should not have anything on the outputs except the signal defined by the motor_pwm_protocol. I checked the useunsync motor output code and this may also influence the timers. Likely it should be on for brushed motors. I need to do some new test here.

[2016-06-25 08:15] RipperDrone commented on #522
Thank you - slowly getting there:

Sorry to bother you again, but clone is detected now (I had wrapped the user directory name in quotes while not having spaces in my username, therefore the docker command went into Nirwana).

Now compilation is running, however some warnings occur saying

warning: /usr/lib/gcc/arm-none-eabi/4.9.3/../../../arm-none-eabi/lib/armv7-m/libm.a(lib_a-sf_lrint.o) uses 4-

[2016-06-25 08:20] RipperDrone commented on #522
The documentation on how to parametrize your script for a certain platform is not clear to me:

Do I have to enter ‘docker run -e "<parameter>=SPRACINGF3" –e‘

and then (indicated by the ‘…‘) concatenate the rest of the build command?

Thanks,

Reinhard

_____________________

Options

You can pass the following optional parameters to the Docker build like so docker run -e "<parameter>=value" -e .

[2016-06-25 08:35] tannewt commented on #481
Well, mine is more random now. Still haven't pinpointed one thing. I believe I fixed one bug where the rx buffer size of 256 is being encoded into a uint8_t as 0 and hanging a read.

It may also be that we're ACKing faster than the host is listening for the ACK. That results in us continuing through the loop thinking we've ACKed and trying to read.

@blckmn the delay you added is at the end of the

[2016-06-25 08:36] tichiyasu commented on #322
I am having this issue to a worse degree than I have seen in previous videos. Here is my setup...
ESCs: Cicada 30A Blheli_s (running multi shot)
FC: DTFc
Motors: Emax 2205 2300kv red bottoms
Frame: Unibody 183 X

It's worth noting that I can't use the O-ring trick because my fc has a top plate with a camera mounted to the top. The twitches do seem artificial, but are reduced when I hold the the qu

[2016-06-25 08:49] mikeller commented on #522
Hi @RipperDrone.

That's good success indeed, looks like your build system is working now. The compiler warnings are normal. The documentation is indeed not very clear, I will look into improving it.

[2016-06-25 08:58] RipperDrone commented on #522
Hi @mikeller

I just completed testing of your commit #566 on SPRACINGF3. You nailed it! No more humming / low throttle throughput when BARO is on. Looks like this commit should be merged into future builds!

[2016-06-25 09:01] 4712 commented on #481
@tannewt I tested BLHeli and BLHeli_S and SimonK bootloader as well..
The response of the ESCs is always fast. If there is any lag in the FC, the communication will fail.
The timing on the BLHeliSuite side is not that important. There is always the io buffer of the system involved. Also the failure mostly occur while writing to the flash not while reading (byte flow to the ESC).

Today or tomorrow

[2016-06-25 09:53] gaelj commented on #400
Working on it.

[2016-06-25 10:04] gaelj opened #582 "Custom Hex file flashing issue"
First of all I apologize for opening an issue for this, but this problem is stalling my work on the LED strip port and I cannot find what is wrong.
I'm using Eclipse and Cygwin in windows 7 and SPR F3 and SPR F3 EVO boards.
I have absolutely no problem compiling and flashing both Cleanflight and iNav to both boards, be it from Eclipse or by running the fake travis build script in Cygwin.
Betafligh

[2016-06-25 10:12] resokk commented on #550
On new version everything seems much better (BlueJay F4):
System Uptime: 96 seconds, Voltage: 159 * 0.1V (4S battery - OK), CPU:19%
CPU Clock=168MHz, GYRO=MPU6500, ACC=MPU6500
Cycle Time: 130, I2C Errors: 0, config size: 1096

00 - (SYSTEM) max: 1us, avg: 0us, rate: 9hz, total: 0ms
01 - (PID) max: 4547us, avg: 84us, rate: 3846hz, total: 113sec
 - - (GYRO)  rate: 7692hz
02 - (ACCEL) max: 18us, avg:

[2016-06-25 10:25] TheAngularity commented on #582
I had the same problem the VCP Port was not working.
Now i'm using cygwin and a toolchain not greater as 4.9 and the custom hex is working very well.

[2016-06-25 10:44] gaelj commented on #582
@TheAngularity, thank you very much. Using Toolchain 4.9 fixed it.

[2016-06-25 12:21] MJ666 commented on #563
Have done some mor testing. Looks to be after changing the mixer the motor_pwm_protocol seting is messed up:

this is how it looks at the beginning:
`# set pwm
use_unsynced_pwm = OFF
Allowed values: OFF, ON

motor_pwm_protocol = BRUSHED
Allowed values: OFF, ONESHOT125, ONESHOT42, MULTISHOT, BRUSHED

motor_pwm_rate = 32000
Allowed range: 200 - 32000

servo_pwm_rate = 50
Allowed range: 50 - 498
`
an

[2016-06-25 16:32] barthalamu commented on #578
Cool! Thanks!
Yeah, I can compile (Followed the build instructions for Mac), but embedded stuff is over my head.  ;)
Also wasn't sure which pin was being used for flash, since I noticed other targets used GPIO12, but the DTFc uses that for the baro..

[2016-06-25 16:44] carlylea opened #584 "roll_yaw_cam_mix_degrees causing odd roll/pitch"
I have experienced an issue where the roll and pitch rates are different when adding in roll_yaw_cam_mix_degrees.  When I set up my quad using 0 degrees of mix, the quad will roll and pitch at virtually the same speed, but once I add roll mix, the quad will roll much slower (at least half the roll rate with 35 degrees of mix).  Is this something I just have to deal with in my roll rate number?  Th

[2016-06-25 16:54] borisbstyle commented on #584
Well you mix them together. Of course that rate will change as roll means
yaw + roll.
Op 25 jun. 2016 18:44 schreef "carlylea" <notifications@github.com>:

[2016-06-25 16:56] MJ666 commented on #582
Makeing the change from this PR https://github.com/cleanflight/cleanflight/pull/2120 will also make it work with latest compiler.

[2016-06-25 18:05] gaelj commented on #582
It would be nice to fix this. Re-opening the issue :)

[2016-06-25 18:16] tannewt commented on #481
@4712 Ah OK. That must not be it then. Why would delays in the MCU loop help then? The timeout for the ACK read is five seconds, right? That seems like an awful lot of lag from the MCU.

I submitted #585 to remove the possibility of buffering ourselves into an infinite loop.

[2016-06-25 19:35] FieserKiller commented on #584
but, is that not a bug?
In my opinion roll/yaw rates should be calculated after roll_yaw_cam_mix_degrees was applied.

[2016-06-25 19:58] MJ666 commented on #582
Have merged the related PR.

[2016-06-25 20:07] #582 closed

[2016-06-25 22:19] borisbstyle commented on #581
RX_MSP is missing refresh rate. You can set it manually in the next release

[2016-06-25 22:19] #581 closed

[2016-06-25 23:20] borisbstyle commented on #550
My first board testing.
NAZE target. CPU usage is exactly the same like on 2.8. It simply runs fine!

[2016-06-25 23:30] borisbstyle commented on #550
Second Target:
Colibri Race: Keeps rebooting. Reboot cycle

[2016-06-25 23:30] borisbstyle commented on #550
It actually suddenly started to work now

[2016-06-25 23:32] borisbstyle commented on #550
Also COLIBRI_RACE target runs normal CPU! No difference with 2.8

[2016-06-25 23:39] ps915 opened #589 "Rate Calculator in Betaflight Configurator"
Is it possible, to get the rate calculator into Betaflight Configurator?

[2016-06-25 23:40] borisbstyle commented on #589
Yes sometime when there is time for that it will be added

2016-06-26 1:39 GMT+02:00 ps915 <notifications@github.com>:

[2016-06-25 23:40] borisbstyle commented on #589
This is a configurator issue and not betafligjt

[2016-06-25 23:40] #589 closed

[2016-06-25 23:45] AndersHoglund commented on #550
Well, it all depends on how you define "normal" and "runs fine"....
Did a quick check on my NAze32 and there is a 100us difference in the PID tasks here too between 2.9.0 and 3.0.0, average 240us vs 335us

    # version
    # BetaFlight/NAZE 3.0.0 Jun 25 2016 / 22:15:52 (bbdf593)
    # status
    System Uptime: 17 seconds, Voltage: 0 * 0.1V (1S battery - NOT PRESENT), CPU:4%
    CPU Clock=72MHz, G

[2016-06-26 00:04] borisbstyle commented on #550
@AndersHoglund
How come I didnt see the difference?

Let me check again on the naze

[2016-06-26 00:05] borisbstyle commented on #550
3.0
[code]

[2016-06-26 00:06] borisbstyle commented on #550
2.9

[code]

[2016-06-26 00:07] borisbstyle commented on #550
Accelerometer was disabled and Gyro/Pid set to 2.6khz in this case

[2016-06-26 00:13] borisbstyle commented on #550
Using 4.9 2015 ARM compiler

[2016-06-26 00:15] borisbstyle commented on #550
I also tried with ACC enabled etc and I get exactly same results on any settings

[2016-06-26 00:17] borisbstyle commented on #550
3.0

[code]

2.9
[code]

[2016-06-26 00:31] borisbstyle commented on #550
I tried a huge list of targets and none of them have performance decrease! In fact there is a sligh performance increase.

So guys what are we looking at? Compiler version? I know there was an issue with newer compilers with VCP

[2016-06-26 00:46] RcSam commented on #268
Count Me In to this problem. Doing whatever I can but can't get it to fly normal. Please someone post as soon as possible if he/she found a solution to this

[2016-06-26 00:57] blckmn commented on #550
VCP fixes are in merged this morning. I think the issue was SPI and i2c speed. Which was resolved this morning (Aust time). So it might just be a case of some needing to pull the latest code.

[2016-06-26 07:43] KiteAnton commented on #550
Just tried this again on a SPRacingF3 in latest betaflight branch and the issue seems to be fixed, CPU is "normal" again.

[code]

[2016-06-26 07:56] borisbstyle commented on #550
Great

We can continue further with flight testing.

I am also curious to different features. PWM, SBUS, LEDs etc.
Op 26 jun. 2016 09:43 schreef "KiteAnton" <notifications@github.com>:

[2016-06-26 07:57] borisbstyle commented on #550
After we verified stuff I will start announcing beta releases to the public
to try out.
Op 26 jun. 2016 09:56 schreef "Boris B." <dreambb1982@gmail.com>:

[2016-06-26 08:28] 4712 commented on #481
@tannewt I guess #585 could be one part of the solution. I will check...

[2016-06-26 08:37] tannewt commented on #481
I hope it helps. The f3 would suffer from it too though. I figured it
couldn't hurt either way.

You were right that it wasn't the timing. I confirmed today that the
acknowledge packet never reached the windows box with a sniffer.

I'm still stumped as to why it's not working. It seems it hangs in the read
byte calls. My next line of investigation was going to be interrupt safety
of the receive le

[2016-06-26 09:14] AndersHoglund commented on #550
OK, but with a warning. Max 4/2/2kHz on F3's .
A bit of a downgrade it will be.

[2016-06-26 09:36] borisbstyle commented on #550
f3 spi runs fine 8/8
Op 26 jun. 2016 11:15 schreef "Anders Höglund" <notifications@github.com>:

[2016-06-26 09:59] AndersHoglund commented on #550
Yepp, all is well on the development branch. There was some SPI and I2C commits I beleive.
Good job guys. Case closed.

For the record:

    # version
    # BetaFlight/SPRACINGF3 3.0.0 Jun 26 2016 / 04:20:07 (eb55c91)
    # status
    System Uptime: 28 seconds, Voltage: 0 * 0.1V (1S battery - NOT PRESENT), CPU:6%
    CPU Clock=72MHz, GYRO=MPU6050, ACC=MPU6050.n
    Cycle Time: 504, I2C Errors: 5,

[2016-06-26 09:59] #550 closed

[2016-06-26 11:41] skaman82 commented on #486
Just tried flashing BF 3.0 to my SPracing F3 boards. The Acro version work fine, but the Deluxe version doesn't boot at all. Only shorting the boot pins and reflashing with 2.9 helps.

[2016-06-26 11:57] 4712betaflight commented on #481
@tannewt Bingo! #585 together with #594(#595) seems to do the job for me here with the REVO.
Why didn't we have issues on F3 targets?... or did we form time to time?

[2016-06-26 12:14] 4712betaflight commented on #481
@blckmn Why do we need
`#ifdef STM32F4
       delay(50);
#endif`?
It does not work without for me, somethings else seems to be still wrong with the VCP4 IO buffers...

[2016-06-26 12:30] E120103016 opened #596 "2.9.0spracingf3.hex.CLI SET airmode-activatt-throttle=10310"
今日使用BF2.9.0程式發現一個很奇怪現象.可能是個BUG.在CLI裡面SET airmode-activatt-throttle=10310.理論上可以調整數據１０００－２０００．不可能會產生１０３１０．把它修改為１３５０以後．如果你在１．３版配置器上ＰＩＤ再一次設定保存（按ｓａｖｅ）．再回ＣＬＩ裡你會發現又恢復為SET airmode-activatt-throttle=10310．所以我相信不久ＢＦ又會重新改程式．

[2016-06-26 12:43] KiteAnton commented on #596
Can you please take this in English instead?

[2016-06-26 12:49] RipperDrone opened #597 "COMPASS HMC5883 - causing crashes in v3.0.0 when enabled"
Tried 3.0.0-358 on my SPRACINGF3 - there's still s/t wrong with the USB serial protocol handler. Same happened with a previous development version.

I have the serial port configured as usual 115k/COM5 - doesn't connect anymore. I had to flash back to 2.9.

Side Note: Using looptime=500 (default), serial bus com btw RX and FC and FrSky direct telemetry over X4R-SB (no OSD).

Side effect: Once flas

[2016-06-26 13:00] E120103016 opened #598 "2.9.0 spracingf3.hex.CLI SET air mode-activated throttle = 10310"
Today, the use of BF2.9.0 program found a very strange phenomenon may be a BUG. In the CLI inside SET airmode-activatt-throttle = 10310. Theoretically you can adjust the 1000-2000 data. Unlikely to produce 10310. It later revised to 1350. PID again if you save settings (press save) on the Configurator Version 1.3. Where you will find a return to CLI and return to the SET airmode-activatt-throttle

[2016-06-26 13:03] martinbudden commented on #596
Google translate says:

[2016-06-26 13:04] martinbudden commented on #596
Closed, replaced by issue https://github.com/betaflight/betaflight/issues/598

[2016-06-26 13:04] #596 closed

[2016-06-26 13:18] borisbstyle commented on #598
that was a configurator bug. Please download the latest configurator
Op 26 jun. 2016 15:00 schreef "許桐芳" <notifications@github.com>:

[2016-06-26 13:21] borisbstyle commented on #486
I had something simillar with colibri race. But lux race target worked
there. I guess there is some feature broken used on those targets
specifically
Op 26 jun. 2016 13:41 schreef "Albert Kravcov" <notifications@github.com>:

[2016-06-26 14:10] E120103016 commented on #598
THANK!

[2016-06-26 14:15] FPV-Junkie opened #599 "BF Configurator 1.4 PIDs tab bug?"
Downloaded and installed the latest BF configurator 1.4 today and there seems to be an issue when trying to read the PIDs, the configurator just sits waiting for data.
Video posted to FB Betaflight group
https://www.facebook.com/martin.crosbie.18/videos/10207915536943521/

[2016-06-26 14:20] MJ666 commented on #486
@tannewt at the AF F4 I have an BM280. here looks to be also a problem now it is detected but I2C errors are counting and the sensor reading looks to be not correct. the BJ has an MS5611 and this is working.

[2016-06-26 15:15] borisbstyle commented on #599
upgrade to 2.9
Op 26 jun. 2016 16:15 schreef "FPV-Junkie" <notifications@github.com>:

[2016-06-26 15:19] llambkin commented on #177
Well, all good on my end. I have flown about 12 packs through it so far, and its going good. All I need now is Telemetry and Vbat and I am a happy man.
Sample footage and blackbox working :D
https://www.youtube.com/watch?v=bhA3OeGlq-E

[2016-06-26 15:33] tannewt commented on #481
No way! I can't believe I missed that! Great find! I'll test it shortly on
my stuff.
On Sun, Jun 26, 2016 at 5:14 AM 4712betaflight <notifications@github.com>
wrote:

[2016-06-26 16:00] 4712 commented on #481
But, I'm afraid it is not the whole solution...

[2016-06-26 16:06] FPV-Junkie commented on #599
Cheers Boris, that seems to have resolved this issue..

Thank you

[2016-06-26 16:06] #599 closed

[2016-06-26 16:13] tannewt commented on #481
Oh no! I hope you know the rest. :-)
On Sun, Jun 26, 2016 at 9:00 AM 4712 <notifications@github.com> wrote:

[2016-06-26 16:41] tannewt commented on #486
@MJ666 The BMP280 does longer i2c read calls. My guess is that they
timeout. Try increasing I2C_DEFAULT_TIMEOUT.
https://github.com/chickadee-tech/betaflight/blob/ckd_targets/src/main/drivers/bus_i2c.h#L22

I also have a debug statement that seemed to magically fix things too:
https://github.com/chickadee-tech/betaflight/blob/ckd_targets/src/main/drivers/bus_i2c_stm32f10x.c#L199

On Sun, Jun 26, 2

[2016-06-26 19:29] salzamt opened #601 "mid throttle sets all rc center values"
hi,
I just set the middle throttle value in betaflight configurator 1.3 and 1.4 to 1440 as this is 50% throttle on my rc. this set the mid_rc to this value. due to that, all rc channels assumed 1440 as center. I dont know if this is the wanted behaviour but if so, middle throttle is kind of a misleading name for this option, took me a while to find that out.
feel free to just close this issue if t

[2016-06-26 19:41] MJ666 commented on #486
@tannewt i will give this an try when im back. I will be traveling for busines for the next week and can not do any testing.

[2016-06-26 19:42] tannewt commented on #486
I'm in the same boat for the next ten days or so.
On Sun, Jun 26, 2016 at 12:41 PM MJ666 <notifications@github.com> wrote:

[2016-06-26 20:31] blckmn commented on #597
Does anybody else have this error? @AndersHoglund you have a SPRACINGF3 yes?

[2016-06-26 20:31] blckmn commented on #578
@barthalamu did you manage to get this one resolved?

[2016-06-26 21:34] RipperDrone commented on #597
I have 2 quads, both SPRACINGF3, same behavior on both. Went back to 2.8.2 with them...

[2016-06-26 21:41] SoulPictures opened #607 "Blackbox with OpenLog - lots of corrupted and empty Files on 2.9.0"
Sense flashing mit Motolab to 2.9.0 my OpenLog crates a lot of empty and corrupted files, sometimes up to 30 within one pack.

Setup:
2 nearly Identical Quads

- Motolab Cyclone 8k/8k/8k,
- OpenLog (SanDisk16GB Extreme & Transcend 600x)
- Aikon SEFM
- X4R (via SBUS & S-PORT)

Using 2.8.1 RC1 and 2.8.1 "Full" there was only one File per Boot including all flights.

Datalogging rate was set to 1/16

[2016-06-26 21:42] gaelj commented on #597
No problem on an EVO.

[2016-06-26 22:00] AndersHoglund commented on #597
Yes I have a few SPRF3 clones running 3.0.0. builds 358 and 359. No USB connection problem.

[2016-06-26 22:07] AndersHoglund commented on #597
@RipperDrone , are you using latest BFC 1.4 ? If not, try it.

[2016-06-26 22:09] #598 closed

[2016-06-26 22:10] borisbstyle commented on #584
No its not a big. You choose to mix the 2 axis. If the rates are not the same. Lets say yaw is slow rate and you mix it into roll than roll will be slowed down too

[2016-06-26 22:11] RipperDrone commented on #597
@AndersHoglund: Yes, using BFC 1.4. Both SP3s don't connect anymore.
Timing out without making the connection. Tried all sequences of plugging USB in, restarting BFC 1.4, different options in no reboot sequence, flash on connect, manual baud rate (default = 256k), full chip erase. No way. Was perfectly okay in all firmware versions thru 2.9.

[2016-06-26 22:11] borisbstyle commented on #601
Why do you set mid throttle to 1440 actually? The name says itself......mid throttle is center throttle.

[2016-06-26 22:11] #601 closed

[2016-06-26 22:12] borisbstyle commented on #597
I can connect all of them without issues. Maybe you were using too new compiler

[2016-06-26 22:12] #584 closed

[2016-06-26 22:13] borisbstyle commented on #578
I will close this one guys to prevent cluttering

[2016-06-26 22:13] #578 closed

[2016-06-26 22:14] RipperDrone commented on #597
@borisbstyle: I didn't compile it myself, downloaded from Jenkins build - don't know their compiler version. Regarding USB connection you don't think anything has been changed? (e.g. I read about a commit dealing with u_int8, u_int32 buffering...)

[2016-06-26 22:15] #579 closed

[2016-06-26 22:25] AndersHoglund commented on #597
I use exactly the same binaries from the Jenkins builds.
For the record: gcc/arm-none-eabi/4.9.3 in use.

[2016-06-26 22:36] blckmn commented on #597
There was a change to uint32_t for buffer counters - but if it was a problem it would affect all targets (it is in core code - not target specific).

Can you download the latest. Previously there was an issue with VCP being enabled for SPRACINGF3, but it uses a USB-serial chip - VCP has since been disabled - but that was 4-5 days ago.

Is yours a genuine SPRACINGF3? it could be that the FC is cras

[2016-06-26 23:01] RipperDrone commented on #597
I have 2 Banggood SPRACINGF3's. They are each connected to a FrSky X4R-SB receiver over serial bus, then there's a buzzer and one telemetry pin (SmartPort) for FrSky X4R simple telemetry.

4-5 days ago might fit, since all versions <3.0.0 have worked properly, and 3.0.0 dev never worked on both SPRF3's.

Yes, the FCs seem to be crashing / stalling on reboot - BFC 1.4 just says connecting... and th

[2016-06-26 23:04] RipperDrone commented on #522
@mikeller have you changed any content of the prebuilt docker package to compile betaflight?

I tried to compile the actual 3.0.0 dev today, but wasn't lucky:

docker run -e "PLATFORM=SPRACINGF3" --rm -it -v //c/Users/Reinhard/Documents/GitHub/betaflight:/opt/betaflight mikeller/betaflight-build

yields:

docker: An error occurred trying to connect: Post http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.24

[2016-06-26 23:08] robyvalis opened #608 "beta 2.9......drone goes crazy!!!!!!!! spracingf3"
I now installed on two drones beta 2.9, take off the drones go crazy and do somersaults 3000 ... much problem grve, the My two equal drones mount a fc spracing f3, esc Littlebee pro, emax rs engines, with the beta 2.8. 1 did not have this problem.

[2016-06-26 23:09] blckmn commented on #481
@4712betaflight yes - i needed it to be there for it to work for me also. There are delays in the serial_cli also to prevent dropped packets when sending large quantities of info. It seems that these packets are dropped by the configurator, as they are transmitted by the FC. The configurator needs fixing to process inbound packets faster (the only speed limit is USB - as it is VCP).

Could it be a

[2016-06-26 23:13] mikeller commented on #522
@RipperDrone: I haven't changed anything, but it looks like dockerhub, where the docker repo is hosted, is having problems of some sort. Even though I have set the repo to be public, it asks me for authentication before being allowed to pull updates from the repo.

I hope this is only transient...

[2016-06-26 23:19] gaelj commented on #597
If you tilt the board, does it's red LED start blinking ? If so, the software is running, meaning only the USB is a problem.

[2016-06-26 23:21] RipperDrone commented on #522
@mikeller - for some reason it's back to live, working again. Don't really know what it was, but anyway thanks a lot!

[2016-06-26 23:23] RipperDrone commented on #597
Yes, it does.

[2016-06-26 23:26] RipperDrone commented on #597
BFC 1.4 says 'serial port successfully opened with ID:6' in the status line, however BFC 1.4 does not switch to the config tabs - just shows the 3 tabs welcome, documentation and flashing. Top right button says 'connecting' and seems to not complete the USB connect process. I can still press 'connecting...' and it will revert back to 'connect', so BFC 1.4 itself is not frozen.

[2016-06-26 23:28] salzamt commented on #601
because it says "Middle Throttle [RC inputs center value]". thought for 3d I might give the throttle the real center value, which is 1440 on my RC. didnt know its affecting all channels.

[2016-06-26 23:42] blckmn commented on #597
@RipperDrone the latest i mean pull the latest code and compile or use the latest hex from jenkins (i.e. this morning).

Do you have a link to the FC on banggood? it is possible there is a pin mapping issue.

[2016-06-26 23:49] RipperDrone commented on #597
@blckmn I have cloned the altest code and built the 3.0.0 dev myself just 10mins ago and tried again - still doesn't connect.

Here's a link to the FC: http://www.banggood.com/Upgrade-NAZE32-F3-Flight-Controller-Acro-6-DOF-Deluxe-10-DOF-for-Multirotor-Racing-p-1010232.html

I've got the 10DOF version, 2 of them. Pinout so far has been in perfect accordance with the documentation I found on the SPR

[2016-06-27 00:09] gaelj commented on #597
What version of GCC did you build with ?

[2016-06-27 00:14] gaelj commented on #597
See https://github.com/iNavFlight/inav/pull/314

[2016-06-27 00:32] blckmn commented on #608
have you a filter enabled?

[2016-06-27 00:35] blckmn commented on #563
Hey @MJ666 i think this is sorted now yeah, with your changes to the configurator?

[2016-06-27 00:46] mikeller opened #609 "VBAT monitoring broken for NAZE on 3.0"
It looks like VBAT monitoring is broken (voltage reported as 0 V in configurator, CLI and telemetry) after #551 for NAZE rev6 on 3.0, despite the fact that `FEATURE_VBAT` is enabled.

[2016-06-27 01:04] borisbstyle commented on #608
Post your dump of settings alwas when you open an issue. Dont compare different drones. Downgrade to 2.8.1 and verify it its still issue. Sounds like you didnt assembly something properly

[2016-06-27 01:05] borisbstyle commented on #607
Sounds like bad connection

[2016-06-27 01:35] maxsymba opened #610 "I-Shaped F3 Controller from banggood"
Hi.

I bought two http://www.banggood.com/I-shaped-F3-10DF-Flight-Controller-5V-2A-BEC-Bent-Straight-Pins-For-RC-Multirotors-p-1047005.html
In stock it flashed by modified BF SPRacingF3 2.3.4
But it can't flashed by clean BF SPRacingF3, nor by 2.3.4, nor by last versions.
FC can't start.
But... it seem that it can be flashed by BF SPRACING MINI firmwares.
Nevertheless there are some troubles with

[2016-06-27 01:52] blckmn commented on #597
@RipperDrone can you put this into the Target file:

[code]

and rebuild?

[2016-06-27 02:18] blckmn commented on #597
I have a suspicion that it is the MAG that cannot handle the over clocking on the i2c bus.

[2016-06-27 03:24] blckmn commented on #610
You can try the ZCOREF3 target. It looks to be similar.

[2016-06-27 04:19] MJ666 commented on #563
Yes, problem solved. Closing.

[2016-06-27 04:19] #563 closed

[2016-06-27 05:36] KiteAnton commented on #298
Problem seems to be fixed, closing.

[2016-06-27 05:36] #298 closed

[2016-06-27 05:43] KiteAnton commented on #409
@micworg has something started for this, could you wrap it up to a PR ?

[2016-06-27 05:46] KiteAnton commented on #470
Old issue and no response from author, closing.

[2016-06-27 05:46] #470 closed

[2016-06-27 05:53] 4712 commented on #481
@blckmn I don't think so...
It is a handshaking controlled by the host. So, 263 bytes per package max. And BLHeliSuite timeouts with empty package.

[2016-06-27 05:59] KiteAnton commented on #454
If someone wants to make a PR for this go ahead, but be sure to maintain compability as mentioned above. Since it is an old issue and no one hasn't really jumped on the idea yet then I will close this for now.

[2016-06-27 05:59] #454 closed

[2016-06-27 06:05] KiteAnton commented on #436
@chilly24 have you found a solution to your problem yet? If so can you comment and/or close this issue?

Since this seems to be more related to failing hardware and not related to betaflight FW I would suggest this issue should be closed.

[2016-06-27 06:08] micworg commented on #409
Look here: http://www.rcgroups.com/forums/showthread.php?t=2681167 .. the code is very quick and dirty and just my personal solution. I will try to make the code more general and elegant ..

[2016-06-27 06:10] blckmn commented on #481
Hmmm.... USB packet size is restricted to 64 for USB full speed - 12mb/s (63 usable as one byte is reserved).

Are you saying the return packet from ESC/FC to HOST is 263 bytes? The VCP4 has a buffer of only 20 bytes, before a flush - this could be easily increased.

It doesn't explain why the delay allows it to work.

[2016-06-27 06:17] 4712 commented on #481
Sorry, 264 bytes max exactly...
And it does not work reliable with the delay.

[2016-06-27 06:44] tannewt commented on #481
@4712betaflight We don't see this on the F3 because the lower level buffer is limited to 64 bytes. (https://github.com/betaflight/betaflight/blob/betaflight/src/main/vcp/hw_config.c#L54) The F4 one is 1024 bytes.

[2016-06-27 06:50] blckmn commented on #481
@tannewt I'll test it by sending 64 bytes at a time max tonight and see if it works ok without the delay. Without the delay for me it randomly dies, with the delay it works for me - so perhaps if I can get it working without the delay we are closer.

[2016-06-27 06:58] tannewt commented on #481
Was it flaky for you even after the fix from @4712betaflight? My code (https://github.com/chickadee-tech/betaflight) also has some delays in it but I'll take them out once I'm back from my trip. I flashed four ESCs today without a hiccup.

The delay calls may actually be useful because its reducing the likelihood of concurrency issues. The receiveLength variable is updated in complex ways rather t

[2016-06-27 07:05] 4712 commented on #481
@tannewt Yes it stays flaky, mostly it stops when reading back to verify.
@blckmn I reduced the read/write buffer to 16 and it failed while writing.

Debugging with ST-Linkv2 suspended showed it hanging at
`GPIO_TypeDef* IO_GPIO(IO_t io)
{
    ioRec_t *ioRec = IO_Rec(io);
    **return ioRec->gpio;**
}`
in io.c.

Screenshot shows log in BLHeliSuite..

![screenshot_83](https://cloud.githubuserconten

[2016-06-27 07:28] tannewt commented on #481
Thats the new IO code. Do you have a full backtrace? I'm surprised that it would fully hang there.

[2016-06-27 07:31] DanNixon opened #611 "SD card not working on SPRacing F3 EVO"
Having an issue getting any SD cards to be recognised by Betaflight using the SD card slot on the SP F3 EVO.

The cards I have tried are both formatted FAT32 (using [SDFormatter](https://www.sdcard.org/downloads/formatter_4/)) and both have worked using Cleanflight 1.13 on the same board.

When I apply power and go to the _Blackbox_ tab in configurator I get the blue "Starting SD" status for a aro

[2016-06-27 07:49] 4712 commented on #481
No idea how to get the backtrace...

[2016-06-27 07:50] tannewt commented on #481
Are you in gdb? Its "bt".

[2016-06-27 07:55] 4712 commented on #481
I use ChibiStudio and gdb... where to execute "bt"?

[2016-06-27 07:58] tannewt commented on #481
Ah, I use gdb from the command line so "bt" short for "backtrace" in the gdb prompt. The backtrace should show all the functions that called it.

[2016-06-27 07:59] 4712 commented on #481
Ok found it, need to type simply in the console window... will try

[2016-06-27 08:08] tannewt commented on #481
I've gotta go to sleep. Its late here and I'm getting up early. Good luck @4712! Thanks for looking into it!

[2016-06-27 08:08] 4712 commented on #481
542-interpreter-exec console bt
~"#0  0x08012456 in IO_GPIO (io=0x109920) at ./src/main/drivers/io.c:64\n"
#0  0x08012456 in IO_GPIO (io=0x109920) at ./src/main/drivers/io.c:64
~"#1  0x00111108 in ?? ()\n"
#1  0x00111108 in ?? ()
~"Backtrace stopped: previous frame identical to this frame (corrupt stack?)\n"
Backtrace stopped: previous frame identical to this frame (corrupt stack?)
542^done

[2016-06-27 08:10] 4712 commented on #481
@tannewt good night!

[2016-06-27 08:22] blckmn commented on #481
I'll be the second shift once I'm home :) I'm keen to see this working now that I'm soldering allESCs to the FC ;)

[2016-06-27 08:26] gregorg commented on #177
is ESC passthrough available and working ?

[2016-06-27 08:39] 4712 commented on #481
Can we turn off any other task in scheduler for testing?

[2016-06-27 08:54] llambkin commented on #177
Hmmmmm, havent tried that one. I will stick it on my other KISS beast and give it a try. I am doubtful, the KISS FC uses 5v PWM drivers, so maybe not/ever. I will report back here.

[2016-06-27 09:10] blckmn commented on #481
Hey @4712 we definitely have a buffer overrun. It is killing the IOrecs, hence the hang on IO_GPIO.

[2016-06-27 10:43] AndersHoglund commented on #597
@RipperDrone , I2C overclocking was introduced on the development branch in Jenkins build #50, Try build #49 and #50 and we will know to some degree that this may be the cause.
http://andwho.sytes.net:8080/job/BorisB_BetaFlight_Development/changes

[2016-06-27 11:06] AndersHoglund commented on #597
A common problem with I2C is that clock stretching is not implemented. I had a look in the "driver/bus_i2c_soft.c" file, and sure enough, no clock stretching is implemented. However, this driver is not in use. We use the hardware i2c master. Need to check if there is a known problem with this piece of HW or if it may be a driver/config problem. So far only found this: http://www.eevblog.com/forum/

[2016-06-27 11:56] llambkin commented on #177
Thats a big negative on the ESC passthrough. It uses a virtual com port, and 5v PWM drivers, I am doubtful that we will get passthrough support with the KISS FC.... :(

[2016-06-27 12:08] robyvalis commented on #608
Entering CLI Mode, type 'exit' to return, or 'help'

# dump

# version
# BetaFlight/SPRACINGF3 2.9.0 Jun 25 2016 / 23:43:54 (3d9b180)
# dump master

# mixer
mixer QUADX
mmix reset
smix reset

# feature
feature -RX_PPM
feature -VBAT
feature -INFLIGHT_ACC_CAL
feature -RX_SERIAL
feature -MOTOR_STOP
feature -SERVO_TILT
feature -SOFTSERIAL
feature -GPS
feature -FAILSAFE
feature -SONAR
feature -TELEMETR

[2016-06-27 12:08] anakin323 opened #612 "betaflight 2.9.0, cannot disable oneshot 125 on Naze32"
I tried to turn off oneshot 125 through GUI, and use command "feature -oneshot125" but nothing happened. Waiting for new update to fix this issue. Thank you.

[2016-06-27 12:25] AndersHoglund commented on #597
PR #613 issued.
@RipperDrone please test the linked SPRF3 firmware with this PR, I2C clock stretch enabled.
https://dl.dropboxusercontent.com/u/11080368/betaflight_3.0.0_SPRACINGF3_PR613.zip

[2016-06-27 12:49] blckmn commented on #481
I've confirmed that nothing else appears to be running whilst in the 4way loop.

[2016-06-27 13:02] 4712 commented on #481
Try: "Connect" and then repeatedly "Check" with no ESC connected. Will hang after 5-10 attempts.

[2016-06-27 13:04] borisbstyle commented on #608
looks good. must be you connected something improperly. Check motor order
and prop direction
Op 27 jun. 2016 14:08 schreef "robyvalis" <notifications@github.com>:

[2016-06-27 13:05] borisbstyle commented on #612
there is no issue.

just use betaflight configurator and not cleanflight configurator ;)
Op 27 jun. 2016 14:08 schreef "anakin323" <notifications@github.com>:

[2016-06-27 13:16] blckmn commented on #481
That's exactly the symptom and test I've been doing. I too get the io.c corrupt stack. The iorec address  is a bogus address well above any used memory. But it's the exact same address each time. Very odd.

[2016-06-27 13:23] 4712 commented on #481
I compiled BLHS with heartbeat timer 50ms. No issue...

[2016-06-27 13:41] 4712 commented on #481
After heartbeat sending each package 64 bytes, it hangs at
 usbVcpAvailable(serialPort_t *instance)

220-interpreter-exec console bt
~"#0  usbVcpAvailable (instance=0x200028dc <vcpPort>) at ./src/main/drivers/serial_usb_vcp.c:70\n"
#0  usbVcpAvailable (instance=0x200028dc <vcpPort>) at ./src/main/drivers/serial_usb_vcp.c:70
~"#1  0x08013af6 in serialRxBytesWaiting (instance=0x200028dc <vcpPort>) a

[2016-06-27 14:03] 4712 commented on #481
Sorry RX_LED stays on...

[2016-06-27 14:09] tannewt commented on #481
The corrupt stack could be due to a buffer overrun on the stack. Not sure
why the read would hang still. Did the buffer fill all the way up?
On Mon, Jun 27, 2016 at 7:03 AM 4712 <notifications@github.com> wrote:

[2016-06-27 14:11] 4712 commented on #481
No sorry, no hang, it loops, and it seems to miss an RX byte...

[2016-06-27 14:56] thatquadguy opened #614 "RC expo 2.9"
I just updated my F3 to 2.9 from 2.7 and used all the same settings, flew it today and it was not as responsive as before. I've heard that there might be a problem with the rc expo in the betaflight configurator. Is this my problem or is it something else?

[2016-06-27 15:05] borisbstyle commented on #614
read 2.8 release notes you skipped. Rates are different now and there is a
link for rate calculator.

remove rc expo entirely and tune with rate and rc rate
Op 27 jun. 2016 16:56 schreef "thatquadguy" <notifications@github.com>:

[2016-06-27 15:07] thatquadguy commented on #614
Ok thanks.

Sent from my iPhone

On 28 Jun 2016, at 1:05 AM, borisbstyle <notifications@github.com<mailto:notifications@github.com>> wrote:

read 2.8 release notes you skipped. Rates are different now and there is a
link for rate calculator.

remove rc expo entirely and tune with rate and rc rate
Op 27 jun. 2016 16:56 schreef "thatquadguy" <notifications@github.com<mailto:notifications@github.com>

[2016-06-27 15:45] robyvalis commented on #608
Ora funziona...dopo essere ritornato prima a cleanflight 1.11.0 poi a 1.12.0 poi alla 1.13.... e poi direttamente a beta 2.9... e quasi funziona... poi muovo le impostazioni salvo...rimetto le impostazioni come erano...salvo...e  ...funziona.... la fc racing f3 di banggood ha problemi nei flash

[2016-06-27 16:01] llambkin commented on #177
I did more testing this evening. The RX3 TX3 pads on the bottom of the board line up to uart3 in the Betaflight Configurator. So all UARTs are accounted for. UART 1 is on the top corner simply labelled as RX TX, and UART 2 is in 2 places, one being the PPM/UART pads and the other on the underside of the board.

Id like to know how they got the extra inputs for individual telemetry from ESC's and w

[2016-06-27 16:53] llambkin commented on #177
I have done some probing on the voltage dividers that come off the battery input. It pins out to pin30 (PB11) on the F3 chip. I would make the changes myself, but I dont know how to do it.

[2016-06-27 16:57] HorusDrones opened #616 "VTail issue on 2.7.1 with LUX & SPF3 Clone"
I have experienced two crashes due to unresponsive flight controllers using the VTail mix. I've spoken to Dominic about as well, however in these instances when we have been flying acro. While doing flip and rolls, the flight controllers have suddenly become unresponsive to input. This issue does not persist after the crash, which makes it even more interesting. Both frames, after a prop swap and

[2016-06-27 17:14] RipperDrone commented on #597
@AndersHoglund @blckmn You guys are great - I2C clock stretch resolves the problem. Confirmed twice.

In detail:
- Flashing from 2.8.2 to 3.0.0 (I2C clock stretched mod version) running as usual
- after flashing, no USB connect (freezes in connecting...)
- closing & restarting BFC 1.4 and cycling USB connection (off/on)
- now connecting works, several times with no issues
- doing a reflash from he

[2016-06-27 17:20] martinbudden commented on #177
@llambkin , are you sure it's PB11 - the preliminary code for the KISS FC says it is on PA4.

Also, I've just looked, and UART3 RX is on PB11.

[2016-06-27 17:23] RipperDrone commented on #597
@AndersHoglund @blckmn Thank you guys for isolating the problem and even supplying a ready-made patched firmware for testing. My apologies I couldn't respond earlier, working late these days...

Result of I2C clock stretch: Part success!

- flashed to this firmware - no problem
- then tried to connect - freezing at connecting... like before
- then closed and restartet BFC 1.4 - USB connect working

[2016-06-27 17:30] llambkin commented on #177
I noticed after I had a poke about the code. There is a divider on the board that pins out to there, however I currently have my OSD working on UART3, so the initial code is correct for that.
The voltage divider in question is on the under side of the board, right next to the + input and it pins out to the 3rd pin in from the bottom right of the chip.

[2016-06-27 17:36] AndersHoglund commented on #597
Try update BFC to 1.5.

[2016-06-27 17:39] RipperDrone commented on #597
BFC 1.5 = same, trying reboot computer now...

[2016-06-27 17:41] AndersHoglund commented on #597
Are there any LEDs flashing when the FC does not connect? Like normal flashes when board is moved, or five fast followed by some long flashes (those are error codes).

[2016-06-27 17:43] RipperDrone commented on #597
Did a hard reset of my computer. Now the FC showed 5 fast flashes, followed by 4 (?) long flashes, then no flashes anymore. After this sequence, connect was ok.

On the other hand, when the FC showed 5 fast flashes and then nothing else, connect was NOT possible. Does this give you a direction?

[2016-06-27 17:46] RipperDrone commented on #597
Now I seem to slowly see the pattern:

- upon hard reset, connecting the USB cable triggers 5 fast flashes then slow flashes --> USB connect then is ok. I can also do 20+ disconnect/reconnect cycles no problem.
- once plugging the USB cable out and replugging in: 5 fast flashes only --> no more USB connects possible, even upon closing/restarting BFC 1.5

[2016-06-27 17:52] AndersHoglund commented on #597
Did you flash with "Full Chip Erase"?
Error codes are here: https://github.com/betaflight/betaflight/wiki/Frequently-Asked-Questions#why-does-my-flight-controller-blinkbeep-lots-of-times-when-powering-up-
Not sure how to interpret that as this list is "1" -based but the codes in system-h are "0"-based.....

[2016-06-27 17:54] RipperDrone commented on #597
After next hard reset I tried to watch the LED code indetail:

Red LED blink code when connecting USB cable: 5 short blinks - 2 long blinks - 3 short blinks - 2 long blinks --> USB connect working

Without even trying to launch BFC 1.5, I then unplugged and replugged the USB cable: 5 short blinks only ---> NO connect

Needs a computer hard reset to get back to normal...

[2016-06-27 17:55] RipperDrone commented on #597
@AndersHoglund Yes I always flash with full chip erase.

[2016-06-27 17:59] AndersHoglund commented on #597
What if you power up on battery and BEC, no USB connected ? Same blinking ??

[2016-06-27 18:10] gaelj commented on #597
@RipperDrone I know this may sound crazy, but, just to eliminate the possibility, could you check you have the problem with different USB cables ?

[2016-06-27 18:10] RipperDrone commented on #597
One more lead found: My previous analysis on the needs for a computer hard reset seems to be a coincidence only: If I let the FC USB-disconnected just sit there for about a minute and then try to plug in USB again, it always works the 1st time.

However, when I then unplug and replug USB, it's broken again. Seems there is some capacitance that kills the USB connection? As mentioned before, not any

[2016-06-27 18:11] RipperDrone commented on #597
tried 3 different cables and 2 different ports on my computer - all the same...

[2016-06-27 18:15] RipperDrone commented on #597
Red LED blinking pattern when connecting battery without USB and without Radio Transmitter:

1 long - 3 short - infinite long (not linking to transmitter)

When transmitter is on, blinking pattern is like when connecting successfully to USB (long, short-short-short-long-long-long).

If we need to write further on blinking patterns: Let's use "-" for long, "." for short, so pattern above would be:

[2016-06-27 18:19] RipperDrone commented on #597
When I'm connected and try a CLI dump, interface in BFC 1.5 says packet errors: 1, I2C error: 2

[2016-06-27 18:23] borisbstyle commented on #597
those errors only happen during boot. no big deal from what I see
Op 27 jun. 2016 20:20 schreef "Reinhard" <notifications@github.com>:

[2016-06-27 18:25] AndersHoglund commented on #597
OK, what if you power up with battery and let the FC startup, and then connect USB and BFC ?
I' lost. Not sure what I am looking for. This test may show that some of the i2c devices onboard may be powered only from the ESC rail, not the USB power. But then, why would 2.9.0 run without problems...
Puzzled and out of ideas....

[2016-06-27 18:27] RipperDrone commented on #597
@blckmn Completing your former suggestion to mask the I2C out completely - no remedy...

@RipperDrone can you put this into the target.h file for SPRACINGF3:

#ifdef I2C1_OVERCLOCK
#undef I2C1_OVERCLOCK
#define I2C1_OVERCLOCK false
#endif
and rebuild?

[2016-06-27 18:29] RipperDrone commented on #597
@AndersHoglund Tries to connect battery (ESCs signal low beep, then high beep)

THEN connect USB and fire up BFC 1.5, trying to cnnect - no connect

[2016-06-27 18:32] RipperDrone commented on #597
If blinking error codes (1 long blink after 5 short blinks) are related to sensors: How can I disable gyro/mag/baro sensors in a build and eliminate those as potential factors?

[2016-06-27 18:39] gaelj commented on #597
@borisbstyle I dug out my SPRF3 (hobbyking) board, updated my BF and BFC repos to the very latest development versions, compiled the hex in Eclipse as usual and flashed it.
Now when I connect the board by USB (nothing else connected to the board, fresh default erase/flash parameters) the red LED flashes 5 times very fast, then stays dark even if I tilt the board.
The COM port is created and can be

[2016-06-27 18:41] RipperDrone commented on #597
2nd path: If quad has to sit USB-unplugged for about 2mins before being able to successfully connecting again: Is there any watchdog timers in the virtual COM port interface / driver which block the com buffer for a given wait time and only release after this?

[2016-06-27 18:42] RipperDrone commented on #597
@gaelj Congrats, so you can replicate the problem now. Did you try just to let your FC sit USB-uplugged for 2 mins and then try to plug it back in and re-connect? Works for me...

[2016-06-27 18:46] RipperDrone commented on #597
Here is a new key finding: When soft-switching off MAG, I can unplug/replug USB without any issues! Seems the MAG sensor (readout / timing?) is part of the issue.

[2016-06-27 18:47] gaelj commented on #597
I don't think I have exaxctly the same problems as you.
Over here I think that my board is frozen, except for the USB / COM port, which I can open. But after that there is no communication.
Whatever I do it always behaves in the same way.

[2016-06-27 18:49] gaelj commented on #597
BTW mine is the deluxe version as well.

[2016-06-27 18:52] RipperDrone commented on #597
@gaelj Still believe we are having similar issues: When I plug in (with BARO, ACCEL, MAG ON, I get 5 short blinks, then nothing. Status line in BFC 1.5 says 'serial port ID:xxx, but does not get to the point of logging in and giving the device ID, Can't do any further communication then (button on top right stays in 'connecting...' state).

However, if I let the quad sit there for 2mins USB-unplug

[2016-06-27 19:05] RipperDrone commented on #597
Confirmation: After switching MAG off in BFC 1.5, I can CLI dump out data and read back in data without any issues. Even read in older 2.8 dumps where I manually changed to mag_hardware parameter to NONE. As soon as I read in a dump that has mag_hardware = AUTO in it, the read sequence will complete, but the reboot will fail.

Plugging USB out and waiting for 2mins then replug in allows for one re

[2016-06-27 19:11] RipperDrone commented on #597
Ok, what are your timings - mine are 2khz/2khz. Maybe if timing gets tighter, FC stmmbles over MAG readout / CPU load more severely...

[2016-06-27 19:21] gaelj commented on #597
I haven't ever managed to open the configurator so all the settings are default from clean flash.

[2016-06-27 19:23] RipperDrone commented on #597
@gaelj BF 2.7 / 2.8 were ok?

[2016-06-27 19:28] gaelj commented on #597
Didn't try those but 2.9 is OK.

[2016-06-27 20:55] AndersHoglund commented on #597
Good, you seem to habe narrowed it down to the Mag compass. My guessing now is that there is some config error in the new io system, causing i2c bus to be in a state where the mag does not have either sufficient power or speed to drive SDL or SCL  lines. Some open drain, pull-up or similar issue.
Those that understand the new io system should have a look at the io pin configurations and compare to

[2016-06-27 21:18] blckmn commented on #597
Does the spracingf3 have external pull up resistors? If not it's easy enough to enable the internal weak ones - I'll post code here shortly.

[2016-06-27 21:20] martinbudden opened #624 "Convert betaflight to use parameter groups for configuration storage"
See https://github.com/cleanflight/cleanflight/pull/2034 and related PRs.
- [ ] 1. Parameter groups EEPROM migration PR https://github.com/betaflight/betaflight/pull/1407

[2016-06-27 21:26] blckmn commented on #597
@AndersHoglund @gaelj @RipperDrone I just merged this for a test to the development branch. Can you pull it, compile and tell me if it works?

https://github.com/betaflight/betaflight/pull/625

[2016-06-27 21:29] blckmn commented on #597
https://www.dropbox.com/s/tjxhnf6qctexm7p/betaflight_3.0.0_SPRACINGF3.hex?dl=0

[2016-06-27 21:30] martinbudden commented on #177
I don't have a KISS FC, so I'm afraid I can't check board traces.

[2016-06-27 21:35] blckmn commented on #481
I got that occasionally aswell. sits there looping. waiting... there is a omment on 4way code about perhaps a timeout, but if things work it shouldn't fail there.

be nice if there was an ACK NACK mechanism so if a packet fails, it can drop, resend and have another go again.

[2016-06-27 21:36] RipperDrone commented on #597
@blckmn I didn't see your last post, built the .hex myself based upon your #625 pull up resistors mod. Bad news, doesn't help.

[2016-06-27 21:47] AndersHoglund commented on #597
OK, but old and new drivers both had "GPIO_PuPd_NOPULL" configured.
Could there be a conflict, some other unrelated driver hitting the i2c GPIO pins?
I do not have the "Delux", only the "Acro". No mag, baro etc and hence I do not see the problem.
But I will flash anyhow, to see if there are any other ill effects. Stay tuned....

[2016-06-27 21:52] RipperDrone commented on #597
@blckmn I downloaded your compiled file and tried as well, just to be sure - same result.

Interestingly, with your version, I now have to short out the bootloader pins of the FC (like @gaelj ) to be able to flash. With the old driver, I just had to wait for the FC to settle (some capacitor charge?) unplugged, then it would be flashable again.

Sry, have to take some sleep now (midnight in local t

[2016-06-27 21:52] RipperDrone commented on #597
@AndersHoglund I'd put a 99.999% bet you won't notice any issues with MAG missing on your acro...

[2016-06-27 21:52] martinbudden commented on #597
@AndersHoglund , @blckmn , I think this pull-up resistor thing may not be the issue. I checked and the pins seem to be configured the same as Cleanflight, which does not have this problem. So I think the issue is probably something else.

[2016-06-27 21:55] mikeller commented on #624
Happy to start working on this one, how do you want to organise this, @martinbudden?

[2016-06-27 22:01] AndersHoglund commented on #597
Is the mag on I2C bus #2 , or are everything on #1?  Schematics anyone?

There are also i2c discussions and debugging going on in other issues as well. the big "all targets need testing" #486 . This is one more issue on that subject I think.

I am also having a fight with a CC3D board, not  booting with 3.0.0 . Blinking .....-- (two long ones) Works fine with 2.9.0. (This is why I have been a bit

[2016-06-27 22:03] martinbudden commented on #624
@mikeller , generally it's not a good idea to have too many changes going on at once. I don't think there is any point starting on this until the F4 port is complete, that's why I've marked it as 3.1.

Also, @borisbstyle has not commented on this yet, so he may have other priorities.

[2016-06-27 22:06] mikeller commented on #624
Fair enough. Totally agree on 'not too many changes at once'. I wish there was a better roadmap for Betaflight, that would enable devs like me to pick up things high up on the to-do list.

[2016-06-27 22:10] martinbudden commented on #597
@AndersHoglund , I agree - there seems to be an underlying problem in 3.0.

But tracking down any one of these small problems might reveal the underlying problem...

[2016-06-27 22:44] blckmn commented on #624
I think we can start using issues, milestones and assignments to help out with that @mikeller

[2016-06-27 22:45] blckmn commented on #597
Just realised the delux is using an HMC5883 and it has EXTI interrupts when data is ready, so this might be an issue. If it is causing a hardfault.

[2016-06-27 23:46] mikeller commented on #624
@blckmn:

Sounds like a plan.

I would like to contribute, but without any oversight it is difficult to identify useful chunks of work outside of the odd bugfix, and even then all work is running the risk of being duplicated by another dev for lack of knowing who does what.

[2016-06-28 00:29] blckmn commented on #610
This controller almost certainly has the HMC5883 compass. There is an issue, and hopefully it is resolved by https://github.com/betaflight/betaflight/pull/626

[2016-06-28 00:30] blckmn commented on #610
I am closing this and it can be talked about in this issue: https://github.com/betaflight/betaflight/issues/597

[2016-06-28 00:30] #610 closed

[2016-06-28 00:32] blckmn commented on #597
I may have found the problem: https://github.com/betaflight/betaflight/pull/626 is a fix. Seems I missed it in the IO conversion. Apologies guys.

[2016-06-28 00:33] blckmn commented on #612
set motor_pwm_protocol is the command (or the new GUI as @borisbstyle has indicated).

[2016-06-28 00:33] #612 closed

[2016-06-28 01:36] llambkin commented on #177
I do have a spare board outside of a craft, I will have a further probe
into it tonight and see if I can try my hand at compiling something that
works, at the very least I will identify the pins and report back here.
On 28 Jun 2016 5:30 AM, "Martin Budden" <notifications@github.com> wrote:

[2016-06-28 02:36] tannewt commented on #481
Doesn't usb already ack and nack?
On Mon, Jun 27, 2016 at 4:35 PM J Blackman <notifications@github.com> wrote:

[2016-06-28 05:16] 4712 commented on #481
Back and ask. Never needed before...
Where do we loose the bytes in the VCP???

[2016-06-28 05:42] RipperDrone commented on #597
@blckmn It's A LOT better:

After flashing, FC does not connect immediately. Restarting BFC 1.5 and it boots.

Trying USB unplug/replug-then-connect several times --> if FC settles unplugged for ~10s it connects fine. If I go faster: no connect like before.

So at least it's a great workaround, requiring some restarts of BFC 1.5 and having enough patience for the FC to 'settle' (whatever it does w

[2016-06-28 06:30] RipperDrone commented on #597
@blckmn One question to better assist testing: How can I pick proposed files out of your blckmn:development branch / commits and merge them into a branch of mine for testing - what's the most efficient procedure:

branching my own BFDev container, then copying over all (in this case = 9) files individually and compile

OR

wait for your commit reaching betaflight:development branch and start testi

[2016-06-28 06:45] RipperDrone commented on #597
.zip downloaded your latest commit 5a10e75... repository files and built for SPRACINGF3. No change in behavior yet...

[2016-06-28 06:45] gaelj commented on #597
You can do a Git Merge of blckmn's branch over yours.

[2016-06-28 10:11] TorbanDallas opened #627 "Failsafe don't stop Motors on Air Mode"
I've updated from BF 2.8 to 2.9, always used Failsafe Stage 2 Drop. Now on BF 2.9 the Motors don't stop spinning on Failsafe. I've tryed both Options for using the Air Mode (Air Mode always on and Air Mode on AUX Switch). Even on Stage 1 with Set Values for the AUX Channel the Motors don't stop spinning on Fail Safe.

[2016-06-28 10:59] AndersHoglund commented on #597
@blckmn , Please don't forget to revert #625 also

[2016-06-28 11:07] blckmn commented on #597
@AndersHoglund sorted in https://github.com/betaflight/betaflight/pull/626

[2016-06-28 12:22] borisbstyle commented on #627
when you disable feature airmode it should work right?

Make sure the switch is off....i mean switch should not go to airmode
position during failsafe.
Op 28 jun. 2016 12:12 schreef "TorbanDallas" <notifications@github.com>:

[2016-06-28 12:22] borisbstyle commented on #627
btw did you wait long enough? Failsafe timers.
Op 28 jun. 2016 14:22 schreef "Boris B." <dreambb1982@gmail.com>:

[2016-06-28 12:46] llambkin commented on #177
OK. I was reading the chip wrong.
Apparently it is on PA0
Here is an image of where the dividers go to.
https://drive.google.com/open?id=0B1_e81Muw9i6YnQ5RUphOGpJVVE

And looking at the pinout reading of an F303. That is PA0. I might have a go at coding and see if I can make the changes myself by doing a git pull, and see if I can get my head around compiling into a hex.... No better time to learn

[2016-06-28 12:55] TorbanDallas commented on #627
On disabled Airmode it should work yes.
Switch is off. I've tried the Failsafe by shutting down the Transmitter - like i always used to do bevor.
I was waiting the Failsafe timer, right. On Failsafe the Motors turn down to the Airmode Speed but don't stop to spin. Even tried all possible Options and even got help by a friend - he didn't find any mistake on my settings. But he's still using BF 2.8.

[2016-06-28 13:25] mikeller commented on #177
@llambkin:

If you are struggling with building the firmware on your setup, this might help:

https://hub.docker.com/r/mikeller/betaflight-build/

[2016-06-28 14:59] llambkin commented on #177
Well.... I cracked it..... It is on ADC1 PA0.
How do I make the change to be submitted to the code?
Or can someone with rights do this?

[2016-06-28 15:11] martinbudden commented on #177
@llambkin , I'll submit a change this evening.

[2016-06-28 15:16] llambkin commented on #177
Cool, do you know if we can use VCP passthrough programming for ESC's? it is using a similar setup to the SPRF3, but I believe that it has 5v PWM drivers for the motor outputs. Do you know if this will pose a problem or not?

[2016-06-28 15:54] llambkin commented on #177
I have gone through the motor order page (in target.c) and redefined the motor outputs to match up with how people have their KISS crafts set up (also matches the PWM# on the motor output pads)

The motor order is:
    PWM7  | (MAP_TO_PPM_INPUT << 8),
    PWM3  | (MAP_TO_MOTOR_OUTPUT << 8),
    PWM2  | (MAP_TO_MOTOR_OUTPUT << 8),
    PWM4  | (MAP_TO_MOTOR_OUTPUT << 8),
    PWM1  | (MAP_TO_MOTOR_OU

[2016-06-28 16:24] llambkin commented on #177
Can someone please look into this:
http://ultraesc.de/downloads/KISS_telemetry_protocol.pdf
And see if we can implement it? Even if we can use it as a source of combined amperage (instead of having to have a separate current sensor, say have a checkbox "KISS ESC Telemetry"

I will see if I can find out where on the board the Telemetry comes in on the CPU

We may even be able to use it with other F

[2016-06-28 16:46] llambkin commented on #486
I have been flying my KISS FC for a few days now (probably about 10-15 packs) and its flying great! I do have to say it is good to be back :D I am sure that a LOT of people are getting frustrated with the KISS code, and will move back to Betaflight once 3.0.0 is stable.

I have added some stuff to be fixed (Vbat, motor order etc.) by @martinbudden on that thread. I dont know where the pinouts for

[2016-06-28 18:02] RipperDrone commented on #597
@AndersHoglund @blckmn @borisbstyle

Congrats, breakthrough with #626, tested on SPRACINGF3!

- flashed firmware including PR #626 --> reboot working now for the first time with FW 3.0.0!
- unplugged / replugged USB cable several times, tries reboot after each reconnect --> works 100% now
- tried CLI save/reboot, dump, read dumps --> all working now!

@gaelj Maybe you want to verify with your setu

[2016-06-28 19:37] martinbudden commented on #177
@llambkin , can you raise the KISS ESC telemetry protocol as a separate issue - it is to do with KISS ESCs, and as you point out, could be used with other FCs.

[2016-06-28 19:55] martinbudden commented on #177
@llambkin , I've updated the KISS target to use VBAT as you specified and also fixed the motor order.

Can you retest this and confirm it all works OK?

As for using VCP passthrough for programming the ESCs, I'm not a hardware guy, so I'm not really sure. As I understand it the KISS FC uses FETs to buffer the PWM output and this probably precludes the use of serial passthrough, but I think it also

[2016-06-28 19:58] FlyerFpv opened #629 "Beta 2.9.0 Issue in Roll"
Hi,
I installed the new 2.9 after flying with 2.8.1.I switched because the 2.8.1 with prop wash problems.So I switched to 2.9.0 to test, I dont like it, too much propwash. I had a problem with the roll movement with 2.9.0, this never happened to me backward.
[Video](https://www.youtube.com/watch?v=aNJOgWL0ZqQ)

[2016-06-28 20:06] martinbudden commented on #486
@llambkin , there is now a feature in betaflight that prevents arming if the CPU is overloaded. This might be what is happening when you set your KISS FC to 4khz. Use the `status` and `tasks` commands int the CLI to see if this is the case.

[2016-06-28 20:25] borisbstyle commented on #609
@blckmn
Is this solved? Otherwise I will test it

[2016-06-28 20:28] blckmn commented on #597
Merged in now thanks @martinbudden - so will close this. Thanks all for testing. I don't have an spracingf3, so appreciate your patience.

[2016-06-28 20:28] #597 closed

[2016-06-28 20:34] borisbstyle commented on #629
That looks like a real ESC desync. Raise your min_throttle a bit and set demag to high. That might help it.

[2016-06-28 20:34] #629 closed

[2016-06-28 20:34] blckmn commented on #611
I'll start investigating the code for this one. It's possible the wrong SPI is configured, or the card detect is not right.

[2016-06-28 20:35] borisbstyle commented on #624
Yes we should start using milestones more.

But realize that we changed a lot....I mean like really a lot. I will try to get 3.0 testing done soon. We need some public testing too.

[2016-06-28 20:38] blckmn commented on #609
I haven't looked at it yet, I can probably do it tonight if you like, just about to start work :)

[2016-06-28 20:45] FlyerFpv commented on #629
Thanks Boris, but it its very strange because never happened with others versions.

[2016-06-28 21:07] trojanGoat opened #630 "Motors jittering on low throttle"
Here's the setup:
Betaflight 2.9 on spracing f3 @ 4khz
Multishot 14.6 on little bee 30a
rs2205 / 2300kv

The motors are jittering on low throttle, even when min throttle is set to 1100 the jitters still happen.  If I throttle up even higher, the motors smooth out and it seems to fly fine. If the throttle drops while it's in the air, the quad will crash.

This problem happens with airmode / no airm

[2016-06-28 21:13] borisbstyle commented on #630
lower yaw P and/or yaw filter. I think your ESC's produce too much noise due to damped light. Try also for once without damped light

[2016-06-28 21:13] #614 closed

[2016-06-28 21:45] SoulPictures commented on #607
You were right, sorry found a broken cable, has connection but loses connection as soon as vibrations occur....

[2016-06-28 21:45] #607 closed

[2016-06-28 22:45] gaelj commented on #597
Works for me too !

[2016-06-28 22:57] blckmn commented on #481
It would appear to be the VCP. Given it is waiting for a byte that never appears. This weekend I will setup a test rig, and hammer the VCP and have the board simply portforward via another UART and look for dropped packets going in either direction.

[2016-06-28 23:33] mtnmikev opened #631 "2.9 flash erased my settings."
Cyclone fc running 2.8.1 flashed 2.9 without full chip erase checked and it did a full chip erase.

[2016-06-29 02:04] pharaohrs opened #632 "Yaw drift to right Naze32 rev's 5 and 6 Beta 2.9"
I'm experiencing a yaw drift on beta 2.9 .

Same settings on 2.8.1 are OK .

Checked all center points , trims , rates ...

Is like the bug on nazes on 2.7 release fixed on 2.7.1
Maybe like a gyro cal issue or gyro reset .

Tomorrow I will do more tests .

[2016-06-29 05:49] martinbudden commented on #624
@borisbstyle , indeed - a huge amount has changed for 3.0.

[2016-06-29 09:01] blckmn commented on #609
https://github.com/betaflight/betaflight/pull/633 fixed.

[2016-06-29 09:11] zac59 opened #634 "don't motor_stop on Air Mode"
when air mode enable, my motors turn.

However, feature airmod and feature motor_stop are enable

naze32 rev 5

[2016-06-29 09:13] borisbstyle commented on #634
thats normal. Airmode overrides motor stop otherwise you can never have air
mode :)
Op 29 jun. 2016 11:12 schreef "zac59" <notifications@github.com>:

[2016-06-29 09:14] zac59 commented on #634
ok.... Thank

[2016-06-29 09:38] mikeller commented on #609
Yes, that fixes it. Thanks heaps, @blckmn.

[2016-06-29 09:38] #609 closed

[2016-06-29 12:44] llambkin commented on #177
So..... I updated and still get this.
![untitled](https://cloud.githubusercontent.com/assets/3177909/16452287/3befd8d2-3e3a-11e6-8e71-01b9b7b49a03.png)

[2016-06-29 13:04] #634 closed

[2016-06-29 13:18] martinbudden commented on #177
@llambkin , the flag for serial passthrough is not set for the KISS FC, so of course it won't work.

As I said, it may be possible to get it working, but it needs someone who understands how the FETs are connected on the KISS FC to do so.

If you want, you can try adding the `#define USE_SERIAL_4WAY_BLHELI_INTERFACE` flag to the KISS `target.h` file and rebuilding, but I very much doubt that will

[2016-06-29 13:25] llambkin commented on #177
Okie dokie, I did that, and it still doesnt work. So I guess I will leave it at that. I also thought I'd mention that the Vbat is not enabled by default and the stock scale is incorrect. I have changed mine to 164 to make it accurate. Can this be defined to make it default?

[2016-06-29 14:16] martinbudden commented on #177
@llambkin , I've defined the default VBAT scale to be 164, and set the feature on for KISS. I've also defined the default receiver as PPM.

Can you rebuild and check this is all OK?

[2016-06-29 15:00] llambkin commented on #177
Jenkins beat me to the build :D
I can confirm that VBAT is working and to the correct scale. The default of PPM is not working. I think this is because KISS FC switched the serial port UART2 into a PPM input depending on which RX was selected. I dont know if Beta/Cleanflight is capable of doing this. All of my other crafts use RX serial, but my test bed has a D4R-ii running PPM

[2016-06-29 15:10] trojanGoat commented on #630
Hi Boris,

The lower yaw P and filter didn't really do much.  I tried lowering yaw to 40 and yaw filter down to 40 and tried raising to 200 as well.  Turning off damped light got rid of the jittering but who wants to fly without damped light :(

In BLHeli raising demag compensation to high and adjusting motor timing to med-high seems to have made it worse.

I turned OFF pwm dither, that seems to h

[2016-06-29 15:51] pharaohrs commented on #632
Drift corrected on trim by hour .

[2016-06-29 16:12] AndersHoglund commented on #486
CC3D does not boot with 3.0.0. Should it be reported here or an issue of it's own maybe?
All I get is 5 short and 2 long blinks, FAILURE_MISSING_ACC.
Using CC3D.hex, (non OPBL), and flashing via main port. Last test on development branch,  Jenkins build 68 (2f10c77).

[2016-06-29 16:31] robschii commented on #631
same by me, but i have found another bug maybe?

i can not restore my setting with a backup from 2.8.1   **or 2.9.0.**

[2016-06-29 16:42] martinbudden commented on #486
@AndersHoglund , I think this should be reported as an issue on its own.

[2016-06-29 16:54] martinbudden commented on #177
@llambkin , what do you suggest should be the default RX setting?

[2016-06-29 17:02] AndersHoglund opened #636 "CC3D does not boot with 3.0.0"
CC3D does not boot with 3.0.0.
All I get is 5 short and 2 long blinks, FAILURE_MISSING_ACC.
Using CC3D.hex, (non OPBL), and flashing via main port. Last test on development branch, Jenkins build 68 (2f10c77).
Betaflight 2.9.0 Stable works OK

[2016-06-29 17:03] AndersHoglund commented on #486
OK, CC3D issue #636

[2016-06-29 17:42] TomTuckers opened #638 "Sp3 Evo Glitches"
*Issue help please,
been flying fine since my build around a month ago
until now I'm getting a strange glitch and the back end twitches every 10s or so its really frustrating because I'm unsure what I'm looking for to fix the problem.

Frame 220 Thug
Littlebees 20amp
Emax Rs 2205
Sp3 Evo
Frsky rx
Running beta flight 2.8.1 its like its on rails until now my glitches have started

Any help appreciat

[2016-06-29 17:43] gaelj commented on #636
Possibly related to https://github.com/betaflight/betaflight/issues/597 which was solved in PR https://github.com/betaflight/betaflight/pull/626.
Does your build contain this PR ?

[2016-06-29 17:54] gaelj commented on #636
Actually no, that PR solved a MAG problem, yours is ACC related. But maybe the root cause is similar.

[2016-06-29 18:03] AndersHoglund commented on #636
Those I2C problems are probably unrelated, and yes #626 is on the dev branch since yesterday and included in later builds. I would suspect some similar IO-issue with SPI perhaps... Spent a few hours trying to see what the diff 2.9 -> 3-0 is. Nothing found yet though.

[2016-06-29 20:30] le3dmax commented on #638
I was having some weird glitches as well, end up I had a problem with my
frsky receiver.
Changed it now it's all good.

RX dropouts at 0:56, 1:18 and 1:52
 https://www.youtube.com/watch?v=USD966qLx0c

RX dropouts at 1:32
https://www.youtube.com/watch?v=Pn0yobZNHSo&t=0s

On Wed, Jun 29, 2016 at 1:43 PM, TomTuckers <notifications@github.com>
wrote:

--
Leandro Dantas
http://www.le3d.com

[2016-06-29 21:14] trojanGoat commented on #630
Seems like this issue has already been posted... closing ticket  I will mount fc and motors on orings

https://github.com/betaflight/betaflight/issues/322

[2016-06-29 21:14] #630 closed

[2016-06-29 22:23] jrumbelow opened #640 "LED and Serial RX"
Hi guys. is there any way I can use serial rx and led strip, im using graupner sumd on rc4 and led lights rc5. Im on a naze 32. Thanks jrumbelow

[2016-06-29 22:27] TorbanDallas commented on #627
i still don't know why Failsafe doesn't work on BF 2.9. Nothing on my settings or Hardware was changed.  I was trying around and found out, that BF doesn't notice when my receiver (Storm S603 Spektrum compatible) loses transmission. It looks like the receiver is sending the positions of my Transmitter sticks from the time at the binding process. So i've found a work around. I was turning down my T

[2016-06-30 02:18] Rossbow commented on #486
Just testing a Fury F4 on betaflight_3.0.0-dev-69-94f95d6
I can not seem to get telemetry working correctly my Taranis is reading 7.6v
Is this an issue or do I need to look at my hardware ?

[2016-06-30 02:20] llambkin commented on #177
For default usage, I believe that we should use RX serial (SBus). Not only
because most use FRsky stuff, but also because its attached directly to
UART2.

I will do further investigation into the pads next door to the RX input and
see if we can use that with PPM, then we can put instructions specific to
KISS into the wiki showing which pads do which function. I'd like to find
the softserial pads a

[2016-06-30 02:22] trojanGoat commented on #322
I'm going back to BLHeli 14.4 and see if it does anything.

[2016-06-30 03:14] blckmn commented on #486
Hi @rossbow that looks like it's the battery in the taranis itself. If it's coming via telemetry it would say VFAS... Have you run the discover new sensors yet?

[2016-06-30 03:55] mtnmikev commented on #631
Turns out this is normal.

[2016-06-30 04:00] bhowiebkr commented on #322
I just finished building and flying a new armattan f1-5 build with SPracing Evo, Emax 2205 2600kv, Dal tri blades, DYS XM30a esc. The yaw twitching makes it unflyable. I’m going to try soft mounting the FC with the help of some sorbothane and see how much that helps.

Also I’m running BLHeli 14.6 and I’ve reversed two of my motors. Is there any definite issues with software reversing the motors vs

[2016-06-30 04:16] deepimpactio commented on #322
There is a known issue with DYS XMS30A ESCs. If you reverse motor rotation
using wires instead of by software it has remedied the situation for many
others. I reported this to Josua and he shared on DYS Facebook group and
many others suffered from same situation and it was corrected.

https://www.facebook.com/groups/458305244355600?view=permalink&id=533510223501768
On Jun 29, 2016 11:00 PM, "Bryan

[2016-06-30 04:36] Rossbow commented on #486
Hi@blckmn  yes you are correct about the battery in the taranis but there is also no vfas voltage shown beside it, the firmware in my taranis does not have discover new sensors I just enable fas in the telemetry menu and it normally works, well it does on my 5 other quads with F3 boards.
Not sure why this won't work

[2016-06-30 06:11] TomTuckers commented on #638
![screen shot 2016-06-30 at 07 09 03](https://cloud.githubusercontent.com/assets/19501042/16478443/a38cc62e-3e91-11e6-8bcc-8fc4afb43f8c.png)

 This is a screen shot of what I'm thinking is gyro yaw?
I'm a new to Blackbox stuff so still unsure what to look for

[2016-06-30 07:12] KiteAnton commented on #627
Seems to be more of a tx/RX setting issue. If the receiver does not send something different to the fw when loosing connection to the tx then there is no way for the FW to know when to activate failsafe. If the receiver supports it then it is recommended to set it to "no pulses" at failsafe (for taranis this is done in the tx settings).

[2016-06-30 07:12] #627 closed

[2016-06-30 07:21] KiteAnton commented on #631
Yes this is intentional, if the settings aren''t backward compatible then a forced erase will occur after flashing.

[2016-06-30 07:21] #631 closed

[2016-06-30 07:23] #436 closed

[2016-06-30 07:28] KiteAnton commented on #608
@robyvalis I would suggest you post in english otherwise only a limited amount of people will understand you.

Ran your comment through google translate and the issue seems fixed, closing.

[2016-06-30 07:28] #608 closed

[2016-06-30 07:40] martinbudden commented on #177
@llambkin , I've updated the KISS target to use default to RX serial, SBus. Can you check this is OK?

[2016-06-30 12:19] pharaohrs commented on #632
On Rev6 , luxfloat the yaw drift is more noticeable . i need six or seven points on taranis trim to correct it .

[2016-06-30 13:56] #632 closed

[2016-06-30 14:39] trojanGoat commented on #322
I also had this issue:  https://www.youtube.com/watch?v=CXu10dpcSWk
Solution:  http://imgur.com/tQKjIQo
Using dampers to remove vibration from FC works

[2016-06-30 15:27] tichiyasu commented on #322
Update: it is indeed the gyro's fault. When I spin up the motors with the motor tab and then switch to the sensors tab, I see periodic spikes which go off the chart. Basically the data the gyro is reporting is completely useless to betaflight since it's wrong. Is there a way we can notify the manufactures of these units that their devices problematic?

[2016-06-30 16:12] bhowiebkr commented on #322
I think invensense knows about the faults of the MPU6500 when it comes to vibration. If you mean FC manufactures totally! For example didn’t the SP racing guys know about the issues with the gyro in the F3 board by the time they were designing the EVO?

[2016-06-30 16:22] tichiyasu commented on #322
what's very odd is that my friend is running an evo on the same frame, with the same motors as me, pretty identical ESCs too. No issues at all... Maybe the problem lies with specific batches of the MPU6500? Or possibly the FC manufacturing process?

[2016-06-30 17:38] bhowiebkr commented on #322
Hey Boris, Are you doing any the sensor fusion stuff like kalman filter on the FC microcontroller? Or using the DMP output from the MPU?

[2016-06-30 18:16] borisbstyle commented on #322
betaflight uses biquad filter for gyro no kalman. Kalman is too much delay.

you cant filter the low frequency twitches actually.
Op 30 jun. 2016 19:40 schreef "Bryan Howard" <notifications@github.com>:

[2016-06-30 18:53] blckmn commented on #636
I'll have a look this weekend. Though I don't have a cc3d to test.

[2016-06-30 18:54] borisbstyle commented on #486
I hope to get some test results this evening. Been crazy busy with other stuff lately :D

[2016-06-30 18:55] borisbstyle commented on #636
I broke my only CC3D a while ago :(

@gaelj
Did you try both .bin and .hex?

[2016-06-30 19:02] gaelj commented on #636
Sorry I don't have any cc3d.

[2016-06-30 19:03] carebear482 commented on #486
Revo nano wont boot up with betaflight

[2016-06-30 19:15] gaelj opened #643 "MAG not detected on SPRF3 EVO"
This is not new to 3.0.0, 2.9.0 had it also. Haven't checked previous versions.
MAG is detected on CF and INAV on the same board.

[2016-06-30 19:18] Arakon commented on #643
It's disabled because it simply doesn't work right. There are a few issues with the Evo that would need fixing/implementation.

[2016-06-30 19:35] RuKeBo commented on #636
I am having the same issue with a Motolab Tornado.  I need to boot to DFU mode and reflash with 2.9.

[2016-06-30 20:11] #643 closed

[2016-06-30 20:29] AndersHoglund commented on #636
OK, MOTOLAB is also SPI_MPU6000.
Are there any FC with SPI gyro working OK ?

Read somewhere that CC3D_OPBL also behaves the same. No real surprise though. Have not put op bootloader back and test that one myself.

[2016-06-30 20:52] MJ666 commented on #643
It was working on an AlienFlight F3 V2 prototype with an MPU9250 (SPI connection) after my last updates some days ago? Most of the exiting AF F3 V2 boards have an MPU6500 only. I would expect it to work on the Evo also when it will be activated in the firmware? At the moment the driver is even not build in to the Evo target. Ned's to be enabled in the taget.h file an recompiled. It's not yet worki

[2016-06-30 21:15] Rossbow commented on #486
Thanks  @borisbstyle
I flew a few batteries on the Fury F4 yesterday and it flys close to perfect on the default P's I tried raising them a little but it was not required, only needed to raise I term a few points everything elese seems to work fine except for telemetry.
Thank you all for you effort, it is appreciated

[2016-06-30 21:17] gaelj commented on #643
I see. Thanks for the info ! Hoping it will get merged soon.

[2016-06-30 23:43] blckmn commented on #636
I have a sort of SPRACINGF3 clone that is working fine, it has a 6500 connected via SPI.

The x-racer is also SPI.

[2016-06-30 23:59] borisbstyle commented on #636
No tornado is mpu6050 actually.

Motolab cyclone works fine on 3.0 as I tested it last evening. Nothing
wrong with mpu6000
Op 1 jul. 2016 01:43 schreef "J Blackman" <notifications@github.com>:

[2016-07-01 00:04] blckmn commented on #636
MPU6050 is i2c only...

[2016-07-01 01:04] blckmn commented on #636
CC3D also had the compass issue - can we confirm that its been tested on the latest build?

[2016-07-01 01:28] blckmn commented on #636
Also FuryF3 is a CC3D look alike no?

[2016-07-01 03:05] Austinthemighty commented on #640
yeah, just hit the led switch on the configure page, neer the bottom

[2016-07-01 09:41] borisbstyle commented on #486
Ok guys finally took some time testing things yesterday on different targets. I have to say that I totally love the new IO structure. So much cleaner, easier to review target differences and adding new targets. Huge step IMO. I want to take everyone who contributed and especially @martinbudden and @blckmn.

I havent been able to test CC3D yet. Hope someone else can dig into it. CC3D has always bee

[2016-07-01 10:33] AndersHoglund commented on #636
My CC3D is "6DOF" or "Acro"-only. No Mag nor Baro.
Even if I had a 10DOF it would not possible to test Mag since the board does not even start up, fails in acc/gyro detection.

I have tried checking all pin definitions, CS etc. And I can't see any diff from 2.9.0. But there is surely a diff somewhere.... probably a trivial thing once found.

[2016-07-01 15:22] Davhed opened #646 "PID Tuning tab says "waiting for data""
For the last couple of days the Betaflight Configurator won't load my PID tab on any of my quads. The Cleanflight configurator loads them just fine, and I can make changes with stick commands, so the FCs seems to be in fine shape. It's only a problem with the PID tab. Every other tab loads just fine.

[2016-07-01 15:23] #646 closed

[2016-07-01 15:32] nathantsoi commented on #636
If we add an f1 startup script that includes the hard fault debugger and
add the flag specified in the makefile this should make the error easy to
find. I can do this when I have a few min or if someone wants to try it
out, look at:

https://github.com/betaflight/betaflight/pull/374/commits/46a49f61470e4a34adc5998ae05fc966b4d65d41

On Fri, Jul 1, 2016, 3:33 AM Anders Höglund <notifications@github.

[2016-07-01 16:17] borisbstyle commented on #636
what exactly isnt happening?

Is gyro not being detected? 2 flashes and than reboot?
Op 1 jul. 2016 17:33 schreef "Nathan" <notifications@github.com>:

[2016-07-01 16:19] pinchtune commented on #322
I just had a successful maiden and then a total of 7 FPV tuning flights on my new Shen Drones Mako build with LUX FC. I didn’t have any issues. I had read about all the problems, so I prepared ahead of time. I dampened the crap out of everything. I have o-rings at the top and bottom of all motors, the motors themselves are super smooth (Skitzos), I have o-rings at the bottom under the FC mounting

[2016-07-01 16:35] AndersHoglund commented on #636
Exactly. Five quick/short and 2 long flashes. Continuously, it seems. I interpret that as FAILURE_MISSING_ACC.

[2016-07-01 16:55] RuKeBo commented on #636
I am not sure of the beep tones on mine (Tornado), but 5 quick and 2 long seems correct as I recall.  After that, my computer doesn't recognize that the board is there, does not show up in Device Manager, thinks it's some unknown USB device.  I tried everything to get it to recognize it but couldn't get it to work.  If I unplug it and plug it back in, the beep tones start again.

[2016-07-01 18:02] borisbstyle commented on #636
fix should be easy than. Probably some typo in target.h definitions for
gyro/acc definition I guess

I am not sure of the beep tones on mine (Tornado), but 5 quick and 2 long
seems correct as I recall. After that, my computer doesn't recognize that
the board is there, does not show up in Device Manager, thinks it's some
unknown USB device. I tried everything to get it to recognize it but
couldn't

[2016-07-01 18:42] RipperDrone commented on #522
@mikeller forgive my ignorance, but I keep getting the 'time skew detected' warning messages every time I'm using your script. How can I avoid this? (just a nuisance, compiled .hex files seem ok...)

[2016-07-01 18:44] GuybrushX opened #647 "Adjustments get deleted when you disable them"
Hi,

I'm very new to tunable quads but I think it would be a nice feature if the Adjustments would be saved even when they get disabled.

For example I did set up some in flight adjustments on different channels for PID tuning. I wanted to disable them, do some testing and re-enable them -> all my adjustments were gone and I have to set them up again.

I'm using an Eachine Racer 250 with Betafligh

[2016-07-01 19:46] WreckingBall commented on #322
Doge DTFc has exactly the same issue as naze32 rev6 and lux. FC needs soft-mount unless you want to disable active braking.

My setup - ShenDrones Mako, Doge DTFc with BF 2.9.0, RG20+ with Blheli 14.6 OS125, emax red bottoms RS2205-2300kv, 5045 DAL triblade props.

[2016-07-01 20:35] G-FPV commented on #322
I`ve posted my solution earlier but again... Board isolation is magical, try get the board on a base plate that's not touching stand-offs but at the same time, a soft mount is useless too and the movements of the quad is so harsh you get wind up in rubber! My quad now flies perfectly and the Betaflight tune is simply perfect!  I also bought a RM-Dodo which shouldn't have these issue`s but it still

[2016-07-01 20:58] tichiyasu commented on #322
It would almost be easier to de-solder the gyro, and soft mount it on the FC. Than you could build the rest of your quad as if nothing is different

[2016-07-01 22:54] mikeller opened #648 "PWM output for motor 3 doesn't work for mixer 'TRI' in 3.0 / NAZE rev 6"
On the latest build of 3.0, the output for motor 3 does not work when mixer 'TRI' is selected.

- tried swapping over ESC connections to check if it was an ESC / motor problem: It's always the ESC / motor connected to PWM 5 (motor 3 for tricopter) that doesn't spin;
- downgraded to 2.9.0: all motors work as expected

It also has to be said that 3.0 worked just fine on this tricopter with builds up

[2016-07-01 23:16] WreckingBall commented on #322
Thanks for replies guys, I was able to solve the problem by following your advice and removing the standoffs completely. Even though I prepared and bought several different things like rubber glue/double-sided tape/putty I don't need to mount the board at all. Turned out the FC sits nicely on a battery strap and is held in place by wiring to escs. Was amuzing to find that out. Test flight showed n

[2016-07-01 23:23] pinchtune commented on #322
^^^ Careful that is doesn't shift under flips and rolls. That would REALLY through the copter off.

[2016-07-01 23:29] WreckingBall commented on #322
Yeah, I thought about it too, the wires hold it in place pretty good. Also the aeropod doesn't let it move anywhere. Thanks for the warning!

[2016-07-02 05:34] quisha commented on #640
Same question... cant seem to use SOFTSERIAL and LED_STRIP at the same time.  Possible???

[2016-07-02 07:06] martinbudden commented on #636
Well, I've had a look and I can't see any obvious mistakes in the `target.c` or `target.h` files.

[2016-07-02 07:10] blckmn commented on #481
Ok - I have fixed up VCP, and I think I have it solid. Will post PR shortly.

Now my only error is periodically a blow up in the esc command processing, it looks like there's no buffer overflow protection on the 256 byte data buffer, and if an esc misbehaves it goes feral...

[2016-07-02 07:28] martinbudden commented on #486
Don't forget @ledvinap , who had the original idea and did all the implementation for the new IO.

And, yes, the new target structure with the `target.c` and `target.mk` files makes reviewing and adding targets much easier. Eventually I would like to get to a position where there are no target specific `#defines` in the main code at all. We are gradually there...

[2016-07-02 07:47] 4712 commented on #481
@blckmn could you explain "blow up"?
I think buffer can not overrun, because the protocol will read the length as one byte, which is max 0=256.

[2016-07-02 09:26] gregorg commented on #177
@martinbudden : default SBUS is OK, however default RX serial not. I have to configure port UART2 to Serial RX and then RX serial in receiver mode to get it working.

[2016-07-02 09:32] blckmn commented on #481
still trying to work it out. I'm using a spare LED to indicate where it has blown up. By blow up - I am talking about the stack corruption.

I have it now that the only issue is stack corruption. I can get it repeatedly - after a few attempts - but never on the first initialisation - restarting (power cycling) the ESCs gives good results - for a period.

[2016-07-02 09:40] blckmn commented on #486
Absolutely the original EXTI and the basis for the IO was @ledvinap :+1:

[2016-07-02 09:46] jrumbelow commented on #640
personally i think i have blown my leds. i cant get them to work on the ppm mode now as they were before.

[2016-07-02 09:54] borisbstyle commented on #647
copy them from the cli so you can paste them back
Op 1 jul. 2016 20:44 schreef "GuybrushX" <notifications@github.com>:

[2016-07-02 10:39] lhphuccc opened #650 "SPR F3 2.9.0, Quad yaw and roll when cut throttle."
Hey guys,

I went out to day with a new build. Right after i punch up and cut throttle, the quad yaws to the right and rolls left slight. I was on Float PIDC, quickly changed to Integer after that but still experience the same issue. I'll post a link in the comment below to the DVR footage.

Has anyone bumped into this before ? Please let me know how you solve this or what could be the issue.

Che

[2016-07-02 11:16] blckmn commented on #481
I think I have eliminated VCP issues. I am now getting the very same error using FTDI via UART1 consistently. The code path enters:

[code]
crashes, with both the LEDs (TX and RX on)

[2016-07-02 11:30] gregorg commented on #177
Some more testing:

- failsafe is OK
- voltage scale is more accurate at 160
- VFAS is not transmitted through the telemetry
- buzzer is not working

[2016-07-02 11:43] GuybrushX commented on #647
Well that seems a bit complicated but works - if I know the right variables :-) I think I should back up the aux values, don't I?

May I ask you where your focus is with that project? Getting as much features as you want and/or having a nice GUI with most CLI commands easily accessible? I prefer a good GUI with tooltips and some hints on using them and with some really advanced features which are

[2016-07-02 12:33] llambkin commented on #177
I can confirm with the Buzzer, it pins out to PB13 on the CPU as per the target.h. It goes through some sort of driver, then to the CPU, I dont know what is required to make it work.

@gregorg , I have not been able to get the Buzzer working here either.
Also, were you testing your voltage scale through your PDB or from your battery? there is voltage drop on a PDB if you have a video filter in pla

[2016-07-02 12:37] lhphuccc commented on #650
This is the cut of my DVR

https://youtu.be/06aZBoscWb8

[2016-07-02 12:41] gregorg commented on #177
I have a pdb with a filter, however I was testing directly with a capacity controller on the JST-XH lipo pins.

Getting the buzzer to work is an important feature, I understand the lack of information, I will ask Felix directly.

[2016-07-02 13:11] KiteAnton commented on #647
No aux is for the modes tab. adjrange is for adjustments.

[2016-07-02 13:14] llambkin commented on #177
VFAS is working for me here, on UART 1, the AUX pin it was on on KISS, is not assigned as a UART.

[2016-07-02 13:14] KiteAnton commented on #650
Have you verified, at least twice, that you have airmode enabled?

[2016-07-02 14:21] lhphuccc commented on #650
Hello there,

I set my Airmode and Arm to 1 Aux switch and and i checked it a few times at the field too as i was changing the PIDs and PID Controller ... doesnt seem to help :((

[2016-07-02 14:33] martinbudden commented on #177
@gregorg , I've updated voltage scale to 160 and set serial RX to use UART2 by default.

Can you test and make sure it is all OK?

[2016-07-02 14:35] Tomcatt commented on #486
Thank you for adding the REVO_OPBL to the list.  I'll install it and test it out for you guys the first change I get.

Maybe one day you could add the OPLM to it but, small steps.

[2016-07-02 22:22] dgddustin commented on #177
Okay so I have my kissed alien 5in flying great but one thing I have noticed is when I go punch out high in the sky and hold full right or left roll to flip it will do just that but if I keep holding it and trying to keep flipping like 3 to 5+ times it's starts slowing down dramasticly almost to stopping. It might stop but I haven't let it get that far before I release roll and everything is fine

[2016-07-02 22:25] blckmn commented on #481
FYI: I have been using cheap DYS BlHeli (Opto) 20A ESCs for this testing as I have killed 4 already. They become non responsive, and completely unrecognisable by BLHeliSuite - might be able to recover them flashing directly.

They are Atmel with SK BootLoader.

The stack corruption occurs whilst inside the esc4wayProcessCmd (but may not be it causing it of course) every time. The corruption result

[2016-07-02 22:27] blckmn commented on #481
Back Tracing does not work, as it claims possible stack corruption.