[2017-07-10 09:27] chriswhiteuk commented on #2919
No problem, I appreciate the help! It may be that the issue is with the receiver or the radio. Just trying to narrow things down. Although it's making me consider switching to FrSky even more...

[code]

[2017-07-10 09:44] jflyper commented on #3484
Can you measure the supply voltage for the LED?

[2017-07-10 09:46] mikeller commented on #2919
No smoking gun there, sorry. :-(

[2017-07-10 09:50] chriswhiteuk commented on #2919
No problem, thanks for taking a look!
In that case I can only assume the problem is with the receiver or the radio. I'll do some more digging from that side. Otherwise it's time for a Taranis!

Thanks again.

[2017-07-10 11:01] TheIsotopes opened #3486 "BF3.2.0 - no more rx input"
since [jenkins build #1445](http://andwho.sytes.net:8080/job/BorisB_BetaFlight/1445/) i have no more rx input on all my copters ... using serialrx and sumd
@martinbudden imho #3460 makes this issue

[2017-07-10 11:19] mikeller commented on #3486
@TheIsotopes: can you test to see if #3486 fixes it?

[2017-07-10 11:24] TheIsotopes commented on #3486
ok, will test #3487 ... until soon

[2017-07-10 12:18] jflyper commented on #3465
Hmm... I can't reproduce the working condition...

[2017-07-10 12:55] #3486 closed

[2017-07-10 12:55] martinbudden commented on #3486
Fixed by PR https://github.com/betaflight/betaflight/pull/3487

[2017-07-10 15:19] DeepnineRC commented on #3484
There is no led voltage pad, but the 5V pads around are at 4,8V. The unify hv is running directly from battery.

[2017-07-10 15:44] jflyper commented on #3484
Hmm... if PA0 doesn't work, there is nothing you can do.

May be we better summon @flyinglemonfpv

[2017-07-10 15:49] flyinglemonfpv commented on #3484
In target there is no definition for softserial so any resource moving will not working.
@DeepnineRC
Please mail to me, I will do something for you.

[2017-07-10 16:13] DeepnineRC commented on #3484
I got it working!!!! Took me just 4 hours :-)

I added timers in target.c:
    DEF_TIM(TIM4,  CH2, PB7,  TIM_USE_MOTOR | TIM_USE_LED,   1, 0),  // VTX.DTA
    DEF_TIM(TIM4,  CH1, PB6,  TIM_USE_MOTOR | TIM_USE_LED,   1, 0),  // VTX.CLK

And  TIM_N(4) to target.h

Now resource serial_tx 11 b06 and resource serial_tx 11 b07 are working with smartaudio.

@flyinglemonfpv
Thank you for your offer, maybe

[2017-07-10 16:28] jflyper commented on #3484
@DeepnineRC Yes. Unused side of hardware UARTs can be used as timer pin, provided it is associated with a valid pin and the timer is not occupied with some other function.

[2017-07-10 16:35] DeepnineRC commented on #3484
Sorry! Yes i can build my own stuff, but i can't get git working. Not more than git pull for new stuff... :-)

How can i check if a timer is used by something else?

[2017-07-10 16:57] jflyper commented on #3484
Ground rule is that if one of channels of a timer is used for some function, then other channels can only be used for the same function.

For example, the current KIWIF4, `timerHardware` is

[code]

Then, suppose you are using quad mixer, which use four timer channels marked `TIM_USE_MOTOR`. `TIM2` and `TIM3` are used for motors, and no other function can use these timers.

And quite interestingly

[2017-07-10 22:48] jumatic commented on #2893
Also have this issue with 2 boards. Omnibus F4 Pro V2 and the Nano F4 V2. It drifts down to about -4. Inflight i have after some seconds of flight +4m near the ground i started at.
![baro drift nano v2](https://user-images.githubusercontent.com/25280351/28043456-3ffe06f4-65d2-11e7-97c0-ee863bf8314c.jpg)
![baro drift nano v2 -2](https://user-images.githubusercontent.com/25280351/28043491-68501b60-6

[2017-07-10 23:45] NoBadDays commented on #3470
So, not one of you egg heads know how to make betaflight firmware flasher usable on win 10?
I find that kinda hard to believe.  I know it's a known issue, yet no one here wants to help with it?
And this is why people hate betaflight.

[2017-07-11 00:05] sdotfpv commented on #3465
also around the time the blackbox was working had some kind of error locked up my sd card had to get a new one.. so yea dnt even know when the last time it would have been working.. im assuming its working on other targets right?

[2017-07-11 01:11] slowthisbirddown opened #3490 "Little Bee 20A (original) motor twitch in 3.2"
Oneshot or Multishot I can't get motors to stop twitching. Even after calibration. Revert to 3.1.7 and it's perfectly fine. I use a matek board and he recreated the issue himself. Please advise. Thank you.

[2017-07-11 01:36] nathantsoi commented on #3470
Hey @NoBadDays. Sorry to hear you're having trouble. Everyone here is helping out, volunteering their valuable time, for free. We'd greatly appreciate it if you would post some logs, dig into the code, maybe do some debugging or even just google a bit more. I'm sure when you find the answer, posting here could be useful to other people.

Do note that every time you post an issue like this, for thi

[2017-07-11 01:36] #3470 closed

[2017-07-11 06:56] maverikou opened #3493 "KIWIF4V2 - LED_STRIP"
The setup:
EMAX Bullet 30A ESCs
KIWI F4 v2
Nothing else connected.

When LED_STRIP is enabled and DSHOT is selected, motors 1 and 4 do not spin.

DMA streams do not overlap:
[code]

[2017-07-11 07:25] jflyper commented on #3493
https://github.com/betaflight/betaflight/issues/3484#issuecomment-314168506

[2017-07-11 07:35] maverikou commented on #3493
@jflyper So the question is, why is LED on TIM2 in the first place? @flyinglemonfpv?

[2017-07-11 07:58] McGiverGim commented on #3490
I've similar problema in Omnibus F4 Pro with Little Bee 20A for blheli_s (I don't know if original or not).

My problem is worst, it never worked in OneShot or D-Shot, only works with multishot, but this is surely another different problem.

[2017-07-11 08:18] jflyper commented on #3493
@maverikou And I further noticed that PA0 can not be assigned to TIM2_CH1. This while line is a hoax 😢

[2017-07-11 08:24] mikeller commented on #3493
I guess typo. Should probably be TIM5_CH1.

[2017-07-11 08:26] jflyper commented on #3493
@mikeller I'm suspecting it and trying to make a corrected firmware, but there is something else I feel fishy about this. DMA stream/channel allocation is really messed up.

@maverikou Can you tell us which version of firmware you are running?
And, can I see outputs from "resource" and "resource list"?

[2017-07-11 08:27] mikeller commented on #3493
@jflyper: What is messed up about it?

[2017-07-11 08:39] jflyper commented on #3493
@mikeller Timer/channel and DMA stream doesn't match for motor 4.

[2017-07-11 08:49] jflyper commented on #3493
47f4d81 PLUMF4 was added. PA0 as TIM5_CH1.
f8ea32d "KIWI V2 LED issue", KIWIF4V2 was added. PA0 still TIM5_CH1.
529b89c "Fixed KIWIF4 DSHOT DMA conflict". PA0 changed to TIM2_CH1.

[2017-07-11 08:57] mikeller commented on #3493
Yeah, there's been a bunch of change for this board to make Dshot work.

[2017-07-11 09:06] skorzo commented on #2178
@jflyper   Yesterday I tried PWM6  and it works OK with Smartaudio, or at least by now.

This afternoon I'm going to do more tests on the field, I hope that everything goes ok. Probably I was a little obssesed with the issue referring problems on softserial default pads and the need of a resistor, and I didn't give it a chance.

Thanks!

[2017-07-11 09:07] jflyper commented on #3493
Moving M2 and M3 to TIM1 or TIM8 and keep LED on TIM5 would be the solution...

[2017-07-11 09:47] maverikou commented on #3493
This is with LED_STRIP off:

Betaflight / KIWIF4V2 3.2.0 Jul 10 2017 / 15:06:30 (491ecba)

resource BEEPER 1 A08
resource MOTOR 1 A03
resource MOTOR 2 B00
resource MOTOR 3 B01
resource MOTOR 4 A02
resource LED_STRIP 1 A00
resource SERIAL_TX 1 A09
resource SERIAL_TX 3 B10
resource SERIAL_TX 6 C06
resource SERIAL_RX 1 A10
resource SERIAL_RX 3 B11
resource SERIAL_RX 6 C07
resource INVERTER 1 C00
reso

[2017-07-11 09:49] jflyper commented on #3490
My LB20 doesn't even respond to protocols other than OS125 😩

[2017-07-11 10:37] jflyper commented on #3493
@maverikou Can you try this?

[betaflight_3.2.0_KIWIF4V2-new_timer_mapping.hex.zip](https://github.com/betaflight/betaflight/files/1138563/betaflight_3.2.0_KIWIF4V2-new_timer_mapping.hex.zip)

Current `timerHardware` is:
[code]

[2017-07-11 10:48] jflyper commented on #2178
@skorzo
You know, it's written in the BF wiki...

https://github.com/betaflight/betaflight/wiki/Unify-Smartaudio

Just wire the SmartAudio wire to a free TX port, hardware UART or software serial. (There are some compatibility issues reported; if you have any problems, search the net before going into the BF github repo and cry for help.)

[2017-07-11 17:09] fishpepper opened #3496 "wiki: DSHOT calibration"
I am always reading references on how important it is to calibrate dshot escs.

The wiki has this text in it:

Why is that? It's useless. The only thing I could possibly imagine this to help is when you change to oneshot mode by accident. So at least it should be added that you DO NOT calibrate dshot this way and that this is just a security measure in case something/you switch back to oneshot...

[2017-07-11 17:09] slowthisbirddown commented on #3490
Has to be related. Hope the devs see this.

[2017-07-11 17:29] mikeller commented on #3496
I think you have to see this text in context. The sentence immediately before it reads:

This makes it implicitly clear that this is just a precaution for the case when the protocol is unintentionally switches to OneShot (e.g. config reset).

I vote for clarifying the statement by stating the reason.

[2017-07-11 20:23] TwoToneEddy commented on #2220
This is definitely still a problem, I have the same issue and always have had.

[2017-07-11 21:58] Buster51873 commented on #2544
I have the official Betaflight F3 Omnibus board and I am still having this exact same problem. Downgrade to older Betaflight and everything works just fine. Can you please have this fixed?

[2017-07-11 22:05] DieHertz commented on #2544
No, we can't reproduce it and as a result can't fix it.
What software you're using, is it BLHeliSuite or BLHeli Configurator for Chrome? If it's Chrome, which Chrome version do you have, which drivers you're using for your FC and maybe other details you could provide?
So far there's no clear pattern in how this issue occurs, except it appeared somewhere in 3.1.x. Even F1 are affected by at least 1

[2017-07-11 22:10] Buster51873 commented on #2544
Using BLHeliSuite, I dont know the drivers. But hey at least we know where it started 3.1.x

Is there no way to revert the code for the pass though to the old version of that section to see if that fixes the problem. Then the code can be analyzed to see where it all went wrong?

[2017-07-11 22:25] Buster51873 commented on #2544
Id love to help.

If it happens again what can I do to give you the information you need?

[2017-07-11 22:26] DieHertz commented on #2544
Passthrough code has not changed :-)
Lots of other parts have :-(

[2017-07-12 01:58] jt6064 opened #3498 "Betaflight F3 OSD"
When trying to access on-screen menu from new Betaflight F3 running 3.1.7 with the stick commands I do not get the menu to appear.  Instead, the PID profile changes.  The buzzer sounds each time I enter the stick command (1 time for profile 1, 2 times for profile 2, etc...).  The board is working perfectly otherwise.  I am able to configure the OSD to my liking in the configurator.  I get solid vi

[2017-07-12 02:33] BombD123 commented on #3458
Got it, okay so in the future it sounds like I should transition to an F3+ model.  For now (in case anyone else runs into the same issue and really needs to use an F1 board), I went into the firmware and disabled all sanity checks for the SUMD protocol / forced it to set values on each channel in order to help me debug.  I was able to observe the values I wanted to be set, but slightly off; it tur

[2017-07-12 02:33] #3458 closed

[2017-07-12 04:14] jflyper commented on #3498
What is your stick mode?

[2017-07-12 07:03] fishpepper commented on #3496
I know.. But the web is full of comments that a calibration will affect dshot as well :-\

So what about this:

[2017-07-12 09:47] jt6064 commented on #3498
I fly mode 2.  I go to mid throttle, yaw left and pitch forward.  The same commands work on all my other quads running MinimOSD with the exception of the yaw direction to enter the menu.

[2017-07-12 10:14] mikeller commented on #3496
Compromise:

[2017-07-12 11:44] thetobby opened #3499 "SPRACINGF3 - hardware/gyro fault or software issue"
Hi, Thanks for all the hard work you guys do.
I am sorry if this issue is wrongly submitted.

I seems to get random spikes of roll and can't figure out what is happening.
-Works fine spinning up with propellers while holding it down in motor tab.
-Stock Pids, tried 4k and 2k, Dshot 150/300,Betaflight 3.17 and 3.2 (adaptive filtering active) gitclone
[sample.zip](https://github.com/betaflight/betaf

[2017-07-12 13:54] jflyper commented on #3498
@jt6064
Profile switching all have different combinations.

https://github.com/cleanflight/cleanflight/blob/master/docs/Controls.md

If your CMS invocation stick combination really switch profiles in the way you described, you have something really weird going on in your board.

[2017-07-12 14:20] jt6064 commented on #3498
You're absolutely right about that.  I've got Gremlins living rent free in my board!  I need someone to help me get them out...

[2017-07-12 14:21] jflyper commented on #3498
@jt6064 Which version of BF are you running atm?

[2017-07-12 14:38] jt6064 commented on #3498
I'm running 3.1.7.   Based on the the published stick commands, it looks like the board isn't seeing mid throttle for some reason.  The stick command to change to PID profile 2 is low throttle, yaw left and pitch forward.  This is very close to the OSD menu of throttle middle.  I wonder why it's not seeing mid throttle?  I know throttle values aren't fed to the board when disarmed not matter the t

[2017-07-12 15:11] AndersHoglund commented on #3498
You might have throttle cut in your Tx when disarmed. I usually have that for double safety, but of course that did not work with CMS on BFF3. Had to remove throttle cut in Tx so FC sees mid throttle even when disarmed.

[2017-07-12 15:57] jt6064 commented on #3498
Great idea!  I never considered that.  I'll try that and report back shortly.  Thank you.

[2017-07-12 18:09] brycedjohnson commented on #3496
I think it originally got into the wiki because of a blheli_s dshot early release had a bug in it that accidentally used the calibrated analog values as an offset.   Old bug workarounds tend to linger a long time even after it was fixed...

[2017-07-12 18:11] brycedjohnson commented on #3478
Also you can turn on and off features in the OSD itself if you get to the field and accidentally left a bunch of stuff on!

[2017-07-12 22:20] jt6064 commented on #3498
You are a genius, Anders!  That was the problem.  Throttle cost was inhibited and now everything works like it should.  Thank you, sir.

[2017-07-12 22:20] #3498 closed

[2017-07-12 22:24] thetobby commented on #3499
Seems I wrongly submitted this after all. I'll see myself out.
Source: https://github.com/betaflight/betaflight/blob/master/CONTRIBUTING.md

[2017-07-12 22:24] #3499 closed

[2017-07-12 22:52] jrholdsworth opened #3505 "Matek f405 fc is not showing in the fc list."
Matek issued a .hex file but that is all I can find. Can I still flash firmware with the file even tho the fc does not appear in BF configurator?

[2017-07-13 00:51] #3505 closed

[2017-07-13 01:33] slowthisbirddown commented on #3490
Fixed the issue by lowering the idle throttle command to 800. Anything above and motors will always twitch

[2017-07-13 02:02] jflyper commented on #3498
Still have ton of stuff to learn!

Happy props!

[2017-07-13 03:00] jflyper opened #3507 "BFF3 Softserial timer collision with motors and led strip"
There are problems with the current timer channel assignment.
1. Enabling SOFTSERIAL1 (PB1, TX) collides with motors 3 and 4 on TIM8.
2. Enabling SOFTSERIAL1 (PB0, RX) collides with led strip on TIM1.

I would suggest using TIM3_CH3 (PB0) and TIM3_CH4 (PB1) instead.
Thoughts?

Ref:
https://github.com/betaflight/betaflight/blob/master/src/main/target/BETAFLIGHTF3/target.h#L71-L72
[code]

https://gi

[2017-07-13 03:36] kmitchel commented on #2731
@martinbudden Any tips for tuning threshold? With superexpo around ~83 it will not let me snap roll.

[2017-07-13 06:17] borisbstyle commented on #3507
I believe this is done to support dshot on m5 and m6. I cant remember exactly, but you can give it a try

[2017-07-13 06:21] jflyper commented on #3507
Okay, the `timerHardware` is further broken:

3. PWM7 and 8 was (iirc) intended as aliases of UART2_{RX,TX}, in which case they should be PA3 and PA2.

[2017-07-13 06:22] heikkoe commented on #2852
I too experienced something like this - upgraded to 3.1.7 and started getting the random glitches. Log attached, session 3/3 in the end has a few of those where motor1 just flats out to max.
[BLACKBOX_LOG_20170711_105853.bfl.zip](https://github.com/betaflight/betaflight/files/1144222/BLACKBOX_LOG_20170711_105853.bfl.zip)
Downgraded to 3.1.6 and can no longer reproduce.

[2017-07-13 06:23] jflyper commented on #3507
@borisbstyle

IC...

[2017-07-13 06:56] riquezjp opened #3508 "BF 3.2 - PID profiles show wrong profile. doesnt save every time."
If I go into the OSD & select PID 3 & look at the PID, then go back & change to PID 2 & then look at PID 2 it will say PID 2 but it will show me PID3
If I go to #1 first & then look at #2, it will show me #1 again.

If you make changes to the PID & select "save & reboot" it may or may not save. I havent worked out why it dosnt always save. it maybe to do with moving the sticks during the reboot  -

[2017-07-13 08:22] markgibbons25 commented on #3508
I have this issue too but since I haven't tried OSD on 3.1.x I wasn't sure if it was a bug or not. I think the work around is that you must always use roll right to save and get back to the main menu and then roll right to save & exit.

[2017-07-13 08:30] riquezjp commented on #3508
I do not have these issue in 3.1.6, but in 3.2 there are a lot of new options. & of course, it's still in dev...

There are also a couple of other OSD glitches i've noticed, but haven't had chance to catch them for sure yet.
Your last flown PID seems to change sometimes.
For example if I fly PID 3, then change battery, i might then be flying PID 1 next time :-o

I also think sometimes when changin

[2017-07-13 11:56] #3478 closed

[2017-07-13 12:10] mikeller commented on #3490
Reopening this, because artificially lowering the idle throttle is a workaround, and there still is a bug causing this, and we want to keep track of this.

[2017-07-13 12:18] mikeller commented on #3496
Amended emphasis.

[2017-07-13 12:18] #3496 closed

[2017-07-13 12:35] mikeller commented on #3508
I think there was a bug with stick commands being recognised while OSD was active. Could this be a case of your OSD PID changes being interpreted as profile switching commands?
As far as I can remember, this bug was fixed. Can you try again with latest 3.2.?

[2017-07-13 12:55] riquezjp commented on #3508
Watching the DVR video you can see that the page says "Profile 2" but its showing the PID for profile 3 (or profile 1), which ever you last viewed.

So, just to be clear -
• enter OSD & view Profile 2 (Roll P is 44)
• back & view Profile 3 (Roll P is 45)
• back & view Profile 2 (it says Profile 2, but the PID displayed is Profile 3)

[2017-07-13 16:22] ohshout opened #3512 "Building SITL as target on x86 desktop requires ARM toolchain?"
Hello! I'm new to betaflight/cleanflight. I followed this tutorial: SITL in gazebo 8 with ArduCopterPlugin and it gave me an error:
make: arm-none-eabi-gcc: Command not found
make/tools.mk:294: *** **ERROR** arm-none-eabi-gcc not in the PATH. Run 'make arm_sdk_install' to install automatically in the tools folder of this repo.  Stop.

I understand that the native firmware runs on ARM, but why the

[2017-07-13 16:31] mikeller commented on #3512
No, this is indeed a bug in the makefile, this check should be suppressed for the SITL target.

For now, just comment out this line to get it going:
https://github.com/betaflight/betaflight/blob/master/Makefile#L82

[2017-07-13 18:51] ohshout commented on #3512
@mikeller Thanks, that works! Is the patch just as simple as:
  81 # include the tools makefile
  82 ifeq ($(TARGET),$(filter $(TARGET), $(SITL_TARGETS)))
  83   include $(ROOT)/make/tools.mk
  84 endif

I've tested it. It works. Should I submit the patch?

[2017-07-13 19:07] maverikou commented on #3493
@jflyper Need a bit more time to fix the quad before testing the new mapping. Hopefully tomorrow.

[2017-07-13 19:26] ThomasH3 opened #3513 "AnyFC F7 - external sensor and I2C not working"
Hi
I've connected a magnetometer and a PDB with VBAT and current sensor to my AnyFc F7.
It seems I2C and ADC Input (vbat and current) are not recognised. the wiring  is correct.
Is there anything else then the part of the "configuration" tab which I need to enable ?

[2017-07-13 19:40] maverikou commented on #3493
FWIW here's the resource output of the 2nd firmware you posted.
Motors 2 and 3 don't work at all.

[code]

[2017-07-14 02:03] chime13 commented on #3433
Flash with 3.1.6 or 3.1.5.
3.1.7 is known to cause these issues on many builds.

[2017-07-14 02:07] jflyper commented on #3493
@maverikou
Can you try the non-dshot protocol?

@blckmn
I wonder why motor 2 = TIM1_CH2(N) is not using DMA2_ST2 ...

Oh, I will push a PR for this, too.

[2017-07-14 02:32] jflyper commented on #3513
@ThomasH3
Can we see results of CLI commands "resource" and "resource list"?

[2017-07-14 05:28] ThomasH3 commented on #3513
A00: MOTOR 4
A01: MOTOR 1
A02: SERVO 2
A03: MOTOR 2
A04: MPU_CS
A05: SPI_SCK 1
A06: SPI_MISO 1
A07: SPI_MOSI 1
A11: USB
A12: USB
B05: MOTOR 3
B06: LED 2
B07: LED 1
B08: SERVO 1
C00: ADC_BATT
C01: ADC_CURR
C04: MPU_EXTI
C10: SERIAL_TX 4
C12: SERIAL_TX 5
D02: SERIAL_RX 5
D06: SERIAL_RX 2
D12: I2C_SCL 4
D13: I2C_SDA 4
E07: SERIAL_RX 7
E08: SERIAL_TX 7
E11: SPI_CS 4
E12: SPI_SCK 4
E13: SPI_MISO 4
E14:

[2017-07-14 06:00] jflyper commented on #3513
Oh... I see what's going on with I2C.

The firmware enables I2C on I2C4, which is connected to (non-existent?) MS5611.
As I look at the schematics, I2C pad/TH is I2C2, and that is not enabled.

@ThomasH3 Two questions.
Do you have MS5611 installed?
What kind of external sensor(s) are you connecting?

[2017-07-14 06:29] potaito commented on #2545
I would absolutely love this, would also like to control a drone with betaflight + onboard comptuer imitating a receiver.

[2017-07-14 06:41] ThomasH3 commented on #3513
No barometer installed. I'm trying to connect a neo-7m gps module with compass. Gps is working

[2017-07-14 06:45] jflyper commented on #3388
Related #3490

[2017-07-14 06:48] jflyper commented on #3490
@blckmn It's #3365.

[2017-07-14 07:35] jflyper commented on #3513
@ThomasH3
We are moving to #3515.

[2017-07-14 07:35] DzikuVx commented on #3513
@jflyper in INAV we "fixed" this problem by creating a temporary target for those banggood clones without baro BTW

[2017-07-14 07:37] jflyper commented on #3513
@DzikuVx Gees, I never thought there were ones with baro installed!!! Are they common?

[2017-07-14 07:39] DzikuVx commented on #3513
@jflyper no, not so much. But @sambas has one for sure and also I know about one other case. Probably the case without baro is majority of the boards

[2017-07-14 07:50] jflyper commented on #3513
We can deal with variations as we proceed with "configurable XXX" :)

[2017-07-14 08:44] ThomasH3 commented on #3513
Inav fw upload is not working I can only load cleanflight and betaflight. Do you have any idea why external current is not been detected?

[2017-07-14 08:44] Dutchy-79 commented on #2850
Sure hope this will be in a new update, My card is unreachable in my hexacopter setup. I will have to take it apart te get to the card.

^^BTW, Frsky Taranis also shows up as 2 drives

[2017-07-14 08:47] wind0r commented on #3513
Because banggood cloned a board that never was released and never official supported :-)

[2017-07-14 09:36] LuctenFinger opened #3516 "CLI command 'resource' problem"
Once upon a time , i use CLI command resource to remap my motor, it works well.

Now I want to remap UART 3 , but it fail .

Is it not impossible to remap UART ? or it is work-in-progress?

My board is Omnibus F4 AIO V1.

# RESOURCE
resource BEEPER 1 B04
resource MOTOR 1 B01
resource MOTOR 2 B00
resource MOTOR 3 A03
resource MOTOR 4 A02
resource PPM 1 B14
resource PWM 1 B14
resource PWM 2 B15
reso

[2017-07-14 09:42] Arakon commented on #3516
You can't reassign hardware serial to different pins, there's actual hardware on the chip for these ports that can't just be moved.

[2017-07-14 09:58] richard-scott commented on #3490
I think I also get this issue too, but didn't think it was a bug.

I get this because my RX reports radio jitter onto the FC for my throttle signal... The single value it is reporting is never still at low throttle (other stick positions its fine). At low throttle the signal jumps about between 997 to 1003... When it jumps above 1000 the ESC thinks the motor should move.

I didn't think that was a

[2017-07-14 13:53] DanNixon commented on #3508
Most of the issues you mention are fixed in the referenced PR.

I've been unable to reproduce the PID profile being different when power cycling. The only case where this will definitely happen is if you select "Exit" on the main menu (rather than either "Save" option) or unplug the battery while still in the CMS.

[2017-07-14 13:55] #3433 closed

[2017-07-14 13:57] MWolschlager commented on #3433
Seems like the flight controller was on its way out. I tried to flashback to 3.1.6 and it "bricked" itself. Wouldn't install firmware wouldn't let me back into betaflight setup. Tried jumping boot pins no success. Got a Betaflight F3 and all is right with the world.

[2017-07-14 14:12] riquezjp commented on #3508
OK great Dan! Thanks.
I look forward to catching up soon, been working on my tune... then will get the next bus to BF3.2 😉

[2017-07-14 15:27] LuctenFinger commented on #3516
thanks anyway

[2017-07-14 20:20] sgcdialler opened #3524 "Feature Request: Change debug mode from OSD menu"
Just a simple addition I would think. It'd be nice to change the debug mode from the OSD menu for those times where you keep meaning to turn on notch debug but never remember until you're at the field again.

[2017-07-14 21:30] spuder commented on #2544
I can reproduce this consistently.
Looking at the diffs between October 18th 2016 (3.0.1) and January 25th 2017 (3.1.0) returns 30 pull requests where the code change is most likely. 8 of them reference esc passthrough.

30 merge requests related to esc's

https://github.com/betaflight/betaflight/issues?utf8=%E2%9C%93&q=%20is%3Amerged%20esc%20merged%3A2016-10-18..2017-01-25%20

8 merge requests re

[2017-07-14 23:36] seeul8er opened #3525 "[Feature Request] Allow for more than 4 AUX channels on MSP_SET_RAW_RC"
**Even cheap 50€ RCs have up to 6 AUX channels. With the increasing number of configuration options more AUX channels come in handy.**
As it is a digital serial protocol more channels are not as problematic as with analog or PWM radio controls. Make better use of the benefits offered by MSP_RC compared to traditional RCs.
MSP_SET_RAW_RC is very useful in combination with external hardware (like Ra

[2017-07-15 00:02] djwally commented on #2315
i have the same problem, but for me not working on any firmware in betaflight and cleanflight.
You solved it?

[2017-07-15 01:31] jflyper commented on #3525
@seeul8er It looks like the `MSP_SET_RAW_RC` does accept up to `MAX_SUPPORTED_RC_CHANNEL_COUNT` already. Did you give it a try?

[2017-07-15 06:59] LuctenFinger commented on #3516
I have several sensor such as GPS, baro, sonar, but there s only UART 1 , UART3, UART6 on my board

but UART 1 is use by SBUS, UART3 is use by i2c, so I have only 1 UART port to use.

this is despair.  is there any way to use these sensor all together?

[2017-07-15 07:54] martinbudden commented on #3508
Closing, fixed in PR https://github.com/betaflight/betaflight/pull/3518

[2017-07-15 07:54] #3508 closed

[2017-07-15 08:53] DieHertz commented on #2544
Looks like you haven't browsed through your search results :-) Searching by PR name is generally useless, you have to perform code search on the files of interest.

[2017-07-15 09:46] Dutchy-79 commented on #2631
Also had a weird problem
Hex built with Matek F405-AIO and blackbox @ 1khz
Arming and flying fine, Then disarm and only a few motors spin and the others twitch

Turning DMA Off fixed it.

[2017-07-15 10:27] noslen1225 opened #3531 "Flashing Firmware on SP Racing F3 on a Mac"
I am new to building quads and new to using Betaflight.  Seeking some help flashing the firmware on my flight controller.

I installed the Google Chrome Betaflight app and am running version 3.1.1. I do not have Clean flight installed on my laptop or any other files for Betaflight such as the Zadig or CP210x drivers.  Not sure if I need any of that.

I have an SP Racing F3 Flight controller and ri

[2017-07-15 10:29] #3531 closed

[2017-07-15 10:55] seeul8er commented on #3525
Just tested it and it does 5 AUX channels over MSP without a problem. So I guess this is solved :grinning:
Read something about a max of 4 channels because of legacy support or something some while ago. Should have checked it in the first place!

Thank you!

[2017-07-15 10:55] #3525 closed

[2017-07-15 13:09] DanNixon commented on #3524
I can see that being pretty useful. I'll take a look at some point today.

[2017-07-15 13:13] Arakon opened #3533 "Font issue BF OSD"
![vlcsnap-2017-07-15-15h11m51s686](https://user-images.githubusercontent.com/12016360/28239599-0f643e2c-6970-11e7-9293-23ee473b1066.png)
There seem to be 1 or 2 pixels in the top left of the letter "E" when using the betaflight font.

[2017-07-15 13:14] Arakon commented on #3516
Softserial will work for GPS, for example.

[2017-07-15 13:54] DanNixon commented on #3512
This also applies to the unit tests too. That patch would also cover that case as the `TARGET` variable would be (or at least should be) an empty string when running the tests.

[2017-07-15 15:14] LuctenFinger commented on #3516
thx a lot !

[2017-07-15 15:14] #3516 closed

[2017-07-15 19:03] ethomas997 commented on #3222
So, is the plan to have the vtx_band/vtx_channel/vtx_power settings work with TBS SmartAudio?  How would the SmartAudio-VTX option be enabled?  Is anyone working on this aspect of it currently?  I'd really like to see it implemented for SmartAudio VTX.

--ET

[2017-07-15 19:21] dronebrulee commented on #2852
Same here - Betaflight / SPRACINGF3EVO 3.1.7, brushed micro build would pull hard to the right on throttle punch.  Downgraded to 3.1.6 and all is works well now.  My CLI diff:

# Betaflight / SPRACINGF3EVO 3.1.7 Apr  3 2017 / 22:28:08 (e1c4b5c)
name KK 100 brushed

feature -RX_PPM
feature -TELEMETRY
feature -CURRENT_METER
feature -RSSI_ADC
feature -BLACKBOX
feature -TRANSPONDER
feature -SDCARD
fea

[2017-07-15 19:57] Fpv4tw commented on #3246
My Quad locks in the air, too. And it drives me crazy.
I already changed 2 ESCs, the pdb, the FC and the OSD.
Now my Setup is:
Carbon Blackout mini h frame
Omnibus F4 Pro V3
pdb matek
Frsky XSR
FT952 VTX
Pz0420h cam

Log of last flight with crash:
[https://www.dropbox.com/sh/nv6e7yvzkf66bmv/AACJqr1EbWYBNZ8UqJItLlsha?dl=0](url)
In the end is the crash (obviously duh) and I immediately disarmed afte

[2017-07-16 04:43] sdotfpv commented on #3416
Here is the blackbox data also included the vid to go along

[2017-07-16 04:44] sdotfpv commented on #3416
[LOG00002.zip](https://github.com/betaflight/betaflight/files/1150836/LOG00002.zip)
Log

[2017-07-16 04:45] sdotfpv commented on #3416
cant add the video file to large ill try to make it smaller

[2017-07-16 04:48] sdotfpv commented on #3416
@nathantsoi
[Blackbox1.mp4.zip](https://github.com/betaflight/betaflight/files/1150839/Blackbox1.mp4.zip)
video file
[LOG00002.zip](https://github.com/betaflight/betaflight/files/1150840/LOG00002.zip)
blackbox log

[2017-07-16 06:58] OtterNas3 opened #3537 "Channel Forwarding / Servo Tilt"
Setting up Servo_0 as AUX3 in the Servo's tab,
then hit "Save"
Switching to any other Tab and back to Servo's Tab and the setting is gone again.

Tested on Matek F405, SPRacing F3, DYS F4, Omnibus F4
Used old and new Configurator.

Betaflight / MATEKF405 3.2.0 Jul  9 2017 / 01:51:41 (9303716)

[2017-07-16 08:15] Arakon commented on #3533
Closing since I realized this is a configurator issue.

[2017-07-16 08:15] #3533 closed

[2017-07-16 08:41] jflyper commented on #3537
For development firmware, use development version of configurator.
(Read Readme.md in the configurator repo.)

[2017-07-16 09:01] jflyper commented on #3507
#3535 finalize the change.

[2017-07-16 09:01] #3507 closed

[2017-07-16 11:40] #3524 closed

[2017-07-16 12:12] #3537 closed

[2017-07-16 12:13] OtterNas3 opened #3540 "Servo Tab not saving"
Setting up Servo_0 as AUX3 in the Servo's tab,
then hit "Save"
Switching to any other Tab and back to Servo's Tab and the setting is gone again.

Tested on Matek F405, SPRacing F3, DYS F4, Omnibus F4
**Used old and developer version Configurator**.

Betaflight / MATEKF405 3.2.0 Jul 9 2017 / 01:51:41 (9303716)

[2017-07-16 12:47] jflyper commented on #3513
#3515
Activated I2C2 and made it default.
Onboard I2C4 and associated baro (MS5611) will become accessible again when #3530 is finished.

@ThomasH3 Can you close this?

[2017-07-16 13:14] #3420 closed

[2017-07-16 13:23] jsweeney91 opened #3542 "Motors stopping briefly on punch outs"
During punch outs the motors temporarily stop spinning. Beeper isn't signalling RX_LOSS or anything so I don't think it's failsafe, had replies from people with the same situation:
https://www.facebook.com/groups/rotorriot/permalink/859664410855199/?comment_id=859666047521702&reply_comment_id=859675447520762&notif_t=group_comment_reply&notif_id=1500210247853175
and somebody else has a video with t

[2017-07-16 13:41] Arakon commented on #3542
The group is closed, no way to see the video.
But with the second video, that's a classic desync. Considering hundreds of people don't have this issue, it's likely to be a hardware problem/hardware combination issue or wrong settings.

[2017-07-16 13:45] DzikuVx commented on #3513
@ThomasH3 you might want to open an issue in INAV project about being unable to flash AnyFC F7.
https://github.com/iNavFlight/inav
I was flashing mine few days ago so I suppose there is something fishy going on there

[2017-07-16 14:11] #3513 closed

[2017-07-16 16:17] MiddleMan5 commented on #3246
I should of responded with my update.

I tried upgrading to a 3.2.0 nightly and have not had the issue since. It's not exactly scientific, I haven't flown it in the exact same method since.

I've also changed:
- Practice Fields
- Disable SD card logging
- Physically removed SD card

My thought on the field is that it's possibly some kind of strange radio interference due to all of the fricking cel

[2017-07-16 19:28] spiffy59 opened #3543 "Motor test mode not working after loading 3.2.0"
I flashed betaflight_3.2.0_FF_FORTINIF4.  I have no responce in motor test mode.  I can select the "i agree tab" but the master or single sliders won budge.  Flashin back it 1.7 works fine

[2017-07-16 19:30] Fpv4tw commented on #3246
Hi Middleman5,
I'll try your version and leave a comment about how it flew.
Gimme a week to find some time to do so ;)

Thx and have a nice week.

[2017-07-17 00:04] jflyper commented on #3222
@ethomas997 SmartAudio is still enabled by ports tab config. Band, channel and power are the minimal set that will be supported.

[2017-07-17 01:41] jflyper commented on #3543
@spiffy59 If you are using development version of the firmware, you have to use corresponding development version of configurator.

You can close this.

[2017-07-17 01:57] spiffy59 commented on #3543
can i get location for the development version of betaflight? i am new to this

[2017-07-17 01:59] jflyper commented on #3543
@spiffy59
Development versions are not recommended for non-experts...

[2017-07-17 02:44] spiffy59 commented on #3543
wow pretty rude.   I have been coding for thirty years.  I got into this hobby to learn something new.  I have invested my own money and my own time to learn.  Where do you come off passing judgment?
I am going to ask again. where do i find find development version of beta flight?  If you dont want to help please keep quiet

[2017-07-17 03:15] jflyper commented on #3543
@spiffy59 Sorry, no offense. I just wanted to say that this is not a place for support.

You can download the latest dev BFC from betaflight-configurator repo. (Go back up one level and you'll find it.)

[2017-07-17 03:26] spiffy59 commented on #3543
thank you.  i will keep that in mind in the future.

[2017-07-17 03:58] andrejpodzimek commented on #955
@sebest Pardon my ignorance, but how can telemetry work "on AUX1"? All howtos about SmartPort telemetry I've stumbled upon just say that you need both RX and TX to make it work, i.e., at least two pins. [Here's a SoftSerial configuration](http://fpvlab.com/forums/showthread.php?46100-New-FrSky-XSR-%96-3-8g-%96-buy-it-now&p=781540&viewfull=1#post781540) of that kind. And then there's [the well-know

[2017-07-17 07:12] basdelfos commented on #955
@andrejpodzimek the links you refer to are mainly old information. In the meanwhile there BF firmware changed so that bi-directional softserial is possible. SmartPort is a bi-directional protocol, but it doesn't send and receive at the same time. Sending and receiving is done after each, that's why there is also only one wire at the receiver side.

I don't know which FC you are using, but dependin

[2017-07-17 07:50] wind0r commented on #3543
nightly releases need nightly configurator

if you click on wiki in the top bar and not issues nearly a lot of questions like pre build nightlys and stuff are answered there. this like nightlys is even on the first site. this is to keep the issue tracker clean.

btw issue tracker. could you please close the issue since it already got answered

@jflyper wasn't rude. he only was careful. with only r

[2017-07-17 08:26] mhenrichsen commented on #3007
Would love this!

[2017-07-17 13:03] andrejpodzimek commented on #955
@basdelfos Many thanks for the info. The CLI command you mention sheds more light on many of my RX/TX questions. I wasn't sure whether a SoftSerial would work with only the TX part configured, i.e., whether Betaflight would figure out what to do or just silently refuse to use a port that doesn't have an RX pin.

The board I'm using is a BlueJayF4 revision 3, [described here](https://github.com/bet

[2017-07-17 14:06] jsweeney91 commented on #3542
@Arakon would a desync not cause a roll of death? the only other hardware apart from the powercube that's relevant would be the motors

[2017-07-17 14:08] jsweeney91 commented on #3542
and how likely is it that all 4 motors would desync simultaneously ?

[2017-07-17 14:22] Johnnygeek commented on #3108
never hurts to start new
reflash BF
rebind rx
test

[2017-07-17 14:25] basdelfos commented on #955
The pins described here are specific to other targets, every target has different pinlayout and probably doesn't work in your case.
If you don't use them, you could free the resource on motor pads 5 or 6 (B00/B01) and assign softserial to one of those pads and test is it will work. If you want to know which pins are connected to motor pads 7 and 8, you will have to ask the manufacturer or figure o

[2017-07-17 14:52] sabshire commented on #3108
Has anyone tried with the motor stop setting he is using (not spinning on arm, which is not the norm).  Could it be related somehow?

[2017-07-17 15:33] #3449 closed

[2017-07-17 18:25] dragonclips commented on #2196
Where i can know all timers and mapping resources?

[2017-07-17 19:24] jsweeney91 commented on #3542
@Arakon 2:11 of this video:
https://youtu.be/8BiBlWJV-qA

[2017-07-17 20:15] Arakon commented on #3542
Could still be failsafe.. I agree desync on all four is unlikely. Failsafe doesn't trigger unless the signal is lost for more than 0.5 seconds, a very brief loss of signal could do this. If you can, post a blackbox log of it happening.

[2017-07-17 20:39] Je47 commented on #3542
I experienced something similar and it was my throttle value going beyond the fail safe max check by just a couple digits( only happened when really mashing the stick up). trimmed the throttle back and it was fixed.
-check receiver values min/max and failsafe check value

[2017-07-17 21:38] jsweeney91 commented on #3542
@Arakon perhaps but it only happens during punchouts. I don't currently have a blackbox recorder but I'll try to get one

[2017-07-17 21:41] jsweeney91 commented on #3542
@Arakon confirmed not failsafe as RX is set to hold last values, tested on bench too

[2017-07-17 22:02] jflyper commented on #2196
https://github.com/betaflight/betaflight/blob/master/src/main/target/SPRACINGF3/target.c

[2017-07-18 00:21] knockoutperformance opened #3550 "dshot1200 not working correctly on spracing f3"
dshot600 seems to work ok, a little noisy through motors. (sounds faintly like an old dial up modem, though)

dshot1200 does not spin mtr 4 with master control, mtr2 and mtr3 individual tabs run funny or not at all.

remapping like the spracingf3 evo on the dshot wiki does not work either, tried many other combos, with little success. got it close, but not close enough, then dug into the dma timer

[2017-07-18 01:46] #3543 closed

[2017-07-18 08:18] wind0r commented on #3108
the diff shows that you have failsafe stage 2 disabled.
maybe stage 1 is broken and no one noticed since every person has stage 2 enabled?

[2017-07-18 10:00] mastrogippo commented on #2442
Can you guys make it EXTREMELY CLEAR in the documentation, or even in the GUI with all the red banners, maybe in the GPS tab? I spent all evening debugging it and only now found this. I'll go on recompiling from source :)

[2017-07-18 11:08] basdelfos opened #3553 "[Feature request] As a user I want to be able to copy profile settings to another profile to edit settings"
As a user I want to be able to copy profile settings to another profile to edit settings.
Please assign this issue to me, I put this on my todo list.

[2017-07-18 11:24] add1ct3dd commented on #3108
So what setups does this ACTUALLY affect? Lots of people saying not to use 3.1.7 because of it, but not real any solid evidence in here as to what causes it. I've done the above (powering on without transmitter on) lots of times no issues. Does this affect certain receiver protocols or what?

[2017-07-18 11:43] Woody9999 commented on #3108
Please go back and read my original and follow up comments. They have specific details on the symptom and my settings.
This has also been repeated on two quads, and after new flash of firmware.
Video also submitted above.

It may well be caused by my particular configuration settings, but I don think the goal is to have air mode stay on in fail safe.

[2017-07-18 12:15] wind0r commented on #3108
looks like airmode stays enabled in stage 1. that should be changed. but this is that way for a long time since noone disabled stag2.

what is your reason that you disabled failsafe stage2? your diff shows you disabled it.
in stage 2 airmode get disabled. i can not think about any reason to disable stage2

[2017-07-18 12:37] Woody9999 commented on #3108
I disabled stage 2 since I wanted the quad to just drop in failsafe, and didn't see anything in stage 2 I needed.

[2017-07-18 12:41] add1ct3dd commented on #3108
But that is exactly what Stage 2 does if you set Drop?

Looks to me like there is an issue, yes, but it is far from what was everyone freaking out over (and the main issue is incorrect user configuration).

[2017-07-18 13:13] Woody9999 commented on #3108
Incorrect user configuration??
I just disabled a setting I don't need.

If air mode on in GUI and stage 2 failsafe off don't work together (which I do not know is true), then maybe the settings should be exclusive.

[2017-07-18 13:16] add1ct3dd commented on #3108
You said you wanted it to drop, Stage 2 does exactly that by default ? :) if it ain't broke don't fix it kind of springs to mind.

It's good that bugs like this are found, but imo it is also a demonstration of looking too hard into configuration stuff - it drops by default and works, which is why it's been reported so few times.

Anyway I'm out, glad it's been discovered, soon resolved, and can be

[2017-07-18 13:42] Woody9999 commented on #3108
Feels like assumptions are being made about stage 2, without verifying that is the root cause.

[2017-07-18 13:50] sabshire commented on #3108
Feels like people should read: https://github.com/martinbudden/betaflight/blob/master/docs/Failsafe.md

[2017-07-18 14:40] jflyper commented on #2442
@mastrogippo It's not that easy as GPS support availability depends on targets and firmware revisions...

[2017-07-18 14:53] wind0r commented on #3108
the root cause is that you expect stage 1 to do the stage 2 work..

stage 1 is only for a short outtage. the quad will work as setup and you hope that rx link comes back.
stage 2 is then after x,x sec to drop or land the quad..
if you disable stage 2 it is your own fault! everything workes like setup

[2017-07-18 15:02] jflyper commented on #3550
@knockoutperformance
Why do you want to run dshot1200 on F3?
I think it's way overkill for 16K pid freq.

Am I missing something?

[2017-07-18 16:46] mikeller commented on #3553
I think it would make more sense to do this in configurator, and not in the firmware.

[2017-07-18 17:20] basdelfos commented on #3553
So, do not implement this in the OSD only from the configurator?

[2017-07-18 18:35] dragonclips commented on #2196
thank you

2017-07-18 0:03 GMT+02:00 jflyper <notifications@github.com>:

--
____________________________________________________________________
*DragonClips Ltd.  *
                  *by  DvD*
*____________________________________________________________________*

[2017-07-18 18:49] chime13 commented on #3553
A "copy Profile _n_ to Profile _x_" function in CLI would be easiest to implement

[2017-07-18 19:31] knockoutperformance commented on #3550
I really didnt want to run dshot1200, was happy with 300. But one of my old esc's died, and it was time for some upgrades. I got new esc's that can run dshot1200 and telemetry. Only had an spracingf3 deluxe to test with, wanted to make sure they worked correctly before buying an nerof7.

Glad i did check , one esc was fualty.

Yeah, overkill on the sprf3.

With timer changes, between dshot600 and

[2017-07-18 19:51] marlboro opened #3560 "Build using PlatformIO?"
I am a long time developer and I love this firmware and send out a huge thank you to all involved.  Quite simply fantastic work by all!

Anyway, prior to getting into FPV I was doing some embedded development for STM32 using Platform IO and it proved to be excellent.  It's free, cross platform, has integrated debugging, and is open source.  In my case, I use the version built for VSCode, but the n

[2017-07-18 19:59] wind0r commented on #3560
i do not know stuff about platformio if you want to use VSCode as a editor you can use this tutorial from @blckmn : https://blck.mn/2017/07/visual-studio-code-building-and-debugging-betaflight/

[2017-07-18 20:43] Woody9999 commented on #3108
Please go back and read the information I posted and then let me know.
If disabling mode 2 is an issue, then make it where mode 2 can't be disabled.
Mode 1 is all I want and need for my racing quads.
I can't deal with a failsafe condition causing the quad to spin the motors uncontrollably.

[2017-07-18 20:50] carloscampos775 commented on #3305
Updated the RX firmware to current. Still the same issue

[2017-07-18 20:56] hydra commented on #3490
is this fixed in master now?

[2017-07-18 21:00] sabshire commented on #3108
I find it amusing that you are so adamant about this.  You've done two things that are quite unsafe..  You have motor stop enabled (I really don't understand why this is even allowed to be honest), and you have disabled part of the failsafe.  What is your issue with enabling stage 2?

[2017-07-18 21:01] DanNixon commented on #3108
@Woody9999 You definitely DO need stage 2 configured, this is the stage at which the motors are stopped and the quad falls (assuming the drop procedure is set).

Stage 1 only attempts to maintain the current attitude in the hope that the RX link comes back after a short period of time (i.e. in stage 1 the failure is potentially recoverable).

Stage 2 is activated when it is determined that the fai

[2017-07-18 21:17] blckmn commented on #3490
Sure is

[2017-07-18 22:00] peteoz commented on #2714
for all the valid reasons given above I'm glad to see this is getting implemented. I like to take my performance quads (BF FW) to the mountains and do some long range flights, wouldn't want to run iNav either. TBS Core Pro with GPS module does the job (in terms of getting all the GPS info on OSD) but it's just not practical to fit on "normal" size quads, with TBS gear you would typically need some

[2017-07-19 01:00] jflyper commented on #3550
@knockoutperformance Okay, I understood your intensions.
You can close this once your challenge is over 😉

[2017-07-19 02:46] #3550 closed

[2017-07-19 03:18] sjhstone commented on #2091
Same problem here using parallel PWM receiver. Will arm when gyro sampling rate and PID loop rate are set at 2.67k/1.33k.

[2017-07-19 07:59] jflyper commented on #2091
@sjhstone Can you be more specific about your setup? It has been more than a half year since this issue was opened, and seems like the issue was fixed in patch releases since the thread has been quiet. Your problem may be different.

[2017-07-19 08:36] dovcharov commented on #2714
You don't need SDA and SCL pads for GPS solely. SDA and SCL are needed for compass module built into GPS modules like BN-880 or UBLOX-M8N. Check Omnibus F4 AIO - it has SDA/SCL pins.

Please note. Betaflight does not support autonomous (GPS and Compass-assisted) flights. Betaflight focuses on racing performance, and GPS support in it is rudimentary.

My initial request for adding GPS coordinates d

[2017-07-19 08:37] isilcala commented on #3088
@BlackJohnny not configuring a switch to BlackBox means it will be 'always on'. the other note is the frequency should not exceed 2K or most of the sd cards would not be able to catch up. Typically set it to 1K is a good balance spot.

[2017-07-19 09:58] peteoz commented on #2714
@dovcharov Thanks for the detailed info. I only build freestyle/acro quads and I'm not interested in autonomous flights. iNav is not suitable for my flying needs, I run only Betaflight FW. I can fly even with my long range 5inch quad 2.5km away (and my 6inch or 7inch get even further) and losing the quad at that distance in difficult terrain would make it very difficult to find without last known

[2017-07-19 12:01] dovcharov commented on #2714
Exactly that's why I requested this feature. I understand your case.

Note, that for altitude display in Betaflight, you need barometer as well. I connected GPS module to betaflight FC (my FC is witout baro), but I never saw any altitude (at least in Betaflight up till 3.1.7). It does not know yet how to take GPS altitude, and display it in OSD. maybe version 3.2.0 will have some new code for GPS-

[2017-07-19 17:09] pnu commented on #2729
This would very useful. Another use-case (for correct date/time in FC) would be to enable adding it on OSD. That would help in synchronizing the tuning session DVR footage with bb logs, and other events.

[2017-07-19 17:26] pnu commented on #2729
@mikeller - I think the file naming scheme could remain the same (ie. no issue with 8.3 names), but use the time to initialize the file creation time on filesystem, somewhere around here https://github.com/betaflight/betaflight/blob/master/src/main/io/asyncfatfs/asyncfatfs.c#L2603

[2017-07-19 19:46] DanNixon commented on #3108
Ok, so here is what I hope to be a fairly complete description of why this specific setup caused the issues you are facing.

When you enable MOTOR_STOP and disable failsafe stage 2 and you have an unrecoverable RX loss (e.g. TX fault, RX disconnected, etc) your craft immediately enters failsafe stage 1.

In stage 1 the Y/P/R inputs are kept centered and the throttle is kept low. You also have your

[2017-07-19 20:29] sawmrad opened #3566 "BF3.2 on BFF3 FC - Front Left Motor Spins Up After Saving on Configuration Page"
Repeatable issue on BF3.2.
Betaflight F3 FC. When pressing save and reboot, Front left motor spins up for 1 second and stops. Not full throttle but enough to hurt someone. I had no props on and was holding quad by the bottom plate.

Unsure why this occurs. Never happened on 3.1.X.

Any help appreciated.
Using nightly from yesterday.

[2017-07-19 22:13] brucesdad13 commented on #3108
Great explanation. Thanks @DanNixon 👍

[2017-07-19 22:27] wind0r commented on #3108
@Woody9999  Please go back and read the information people posted!
Do not be that Ignorant and belief what people tell you. You want Stage 2 enabled.

How you can insinuate that we did not read your post. Failsafe is under Expert Settings. You may not want to toggle that switch!

You can disable Stage 2 since for Fix Wings and other builds that are not Quads Stage 2 isnt that what people want some

[2017-07-19 22:58] Woody9999 commented on #3108
Now you're just being condescending and disrespectful.
I point out a situation that needs attention and you basically call me ignorant.

[2017-07-20 01:26] famtory commented on #2031
I have same problem.

[2017-07-20 01:50] jflyper commented on #3566
@sawmrad Can you specify the build number (on andwho) or commit number (printed with `version` cli command)?

[2017-07-20 04:16] BayaroX commented on #3155
@blckmn - Any news for us? Still working on this problem? Could you find/fix something?

[2017-07-20 14:19] madchiller commented on #3191
Not sure if it's related or if I should start a new thread.  Today I tried the latest build #1484 e0a7594 and when I select 32khz and hit save and reboot.  The option is unchecked and not saved.... Was it disabled?  Using configurator 3.1.2

[2017-07-20 14:21] Cheredanine commented on #3191
@madchiller
Which flight controller?

[2017-07-20 14:25] madchiller commented on #3191
Sorry. Omnibus F7.

[2017-07-20 14:37] krich1987 opened #3574 "BF 3.2 - OSD Menu unresponsive"
I tried making changes to PIDs in the OSD, but it won't respond to any inputs after getting into the menu. This was on the 7/19/17 build of BF 3.2, running on a BFF3.

[2017-07-20 14:42] jflyper commented on #3574
Keep your left stick dead center.

[2017-07-20 15:21] wind0r commented on #3191
@madchiller this happens if the gyro do not support 32khz
since the board has 2 gyros you need to select the icm one first.. default gyro is the mpu6000 (you can check this with typing status in cli)
you need to use the cli and write 'set gyro_to_use = 1' and 'save'
then reboot and type status in cli and check if now the icm gyro is selected

[2017-07-20 15:27] madchiller commented on #3191
Oh shoot. I knew this... Just early, not enough coffee, I and forgot...
Thank you!

On Jul 20, 2017 11:22 AM, "Steffen Windoffer" <notifications@github.com>
wrote:

[2017-07-20 15:40] krich1987 commented on #3574
I don't think I was even touching the left stick (M9 gimbals, too, so I doubt it's jitter). In one case I was able to scroll down one step before it froze.

[2017-07-20 15:41] madchiller commented on #3191
OK, Well I can confirm that i am also seeing 100cpu load with 32khz enabled.  Now I'm struggling to turn it off.  May have to reflash.

[2017-07-20 16:29] jflyper commented on #3574
@krich1987 Please try it.

[2017-07-20 16:41] cycoconutz commented on #3574
had the same issue, centering left stick worked for me.

[2017-07-20 16:44] krich1987 commented on #3574
I just realized that releasing the left stick will only center yaw. I'll try centering throttle as well next time.

In any case, this should be changed to behave like the menu on 3.1.X.

[2017-07-20 17:21] DanNixon commented on #3574
@krich1987 Requiring mid throttle for the CMS was to prevent accidental triggering of "legacy" stick commands.

[2017-07-20 17:32] pkulka commented on #3475
I have the same issue with no voltage working. I have tried everything you have talk about. Do y'all have any other ideas or am I just missing something

[2017-07-20 17:52] jangrewe opened #3576 "BF 3.2 - OMNIBUSF4SD Barometer not working"
Hi, i just flashed a recent build of BF 3.2 to my Omnibus F4 Pro v3, and the barometer doesn't work - it was fine in BF 3.1.7

[code]
[code]

I've tried setting `baro_bustype = spi` and `baro_hardware=bmp280` (and of course the baro is enable on the configuration page), but it is greyed out in the Sensors page and shows 0.0 in the OSD.

[2017-07-20 18:21] spuder commented on #3566
Are your running multishot, oneshot or dshot? This sounds like an ESC calibration issue.

[2017-07-20 20:27] madchiller opened #3579 "B.F. 3.2 Flip 32 Omnibus F7 - no sbus, dump in cli causing lockup"
Using Flip32 Omnibus F7.    Today I tried the latest build #1484 e0a7594

This is a new build...    So far I'm getting no response from my RX.  Unit powers and is bound.  Using RX1 on uart1.   Configurator shows no input.   Serial is enabled on uart1.

Also whenever I do a dump command in cli.  Everything just locks up.  If I click elsewhere in the configurator the screen just show,waiting for dat

[2017-07-20 20:29] madchiller commented on #3579
DUMP FILE:

2017-07-20 @ 09:07:34 -- Running - OS: Windows, Chrome: 59.0.3071.115, Configurator: 3.1.2
2017-07-20 @ 09:33:26 -- Serial port successfully opened with ID: 2
2017-07-20 @ 09:33:26 -- MultiWii API version: 1.35.0
2017-07-20 @ 09:33:26 -- Flight controller info, identifier: BTFL, version: 3.2.0
2017-07-20 @ 09:33:26 -- Running firmware released on: Apr 26 2017 22:55:35
2017-07-20 @ 09:3

[2017-07-20 20:32] jflyper commented on #3576
You can make it work by
[code]
You can leave `baro_hardware` to `AUTO`.

The reason behind this phenomenon is that OMNIBUSF4SD target has both I2C and SPI variants of BMP280 defined. The choice was exclusive prior to #3530, but the PR made it possible to have both drivers to be configured, and defaults to I2C version as to give external sensors priority. This behavior might be changed during RC ph

[2017-07-20 20:42] jflyper opened #3580 "Introducing modality into stick commands"
CMS stick command detection had been strengthened since 3.1.7 so that left stick must be centered while navigating with right stick, to prevent accidental detection of existing stick commands.

Since then, there has been increasing number of complaints that CMS navigation freezes  after entering the menu, and more are expected during 3.2RC phase.

So, here is the problem statement.

**_Should we i

[2017-07-20 20:43] jflyper commented on #3574
#3580

[2017-07-20 20:47] Niko-La commented on #2566
@FPVlog I downloaded theNaze32 hex file and uploaded Betaflight for 3.1.6 using local firmware.  Then I set receiver for MSP RX Input.

Is there anything else I must do to send motor commands via USB?

I can get IMU, and Attitude data using the pyMultiWii library and python script but I can not send MSP_SET_RAW_RC commands.

I know the code was working fine with cleanflight in Q42016 firmware.

I

[2017-07-20 20:51] DieHertz commented on #3580
I think we should introduce stick command "context" or even a stack of contexts, allowing the same stick commands being used for different purposes based on which screen we're currently on.

[2017-07-20 20:52] madchiller commented on #3579
Also after flashing this board today i can no longer to seem to get it load the bootloader...

[2017-07-20 21:03] madchiller commented on #3579
well,  After doing reset settings... The RX now works.  Dump in CLI now seems to reboot the FC wen I click out of CLI.

[2017-07-20 21:04] jflyper commented on #3579
@madchiller Can you do CLI `defaults`?

[2017-07-20 21:13] madchiller commented on #3579
CLI Dump no longer hangs, but if i click on say Ports..  It reconnects to the FC.  Still cannot get bootloader working.

[2017-07-20 21:16] spuder commented on #2982
@Dmulg Do you mean that you reenabled notch filters? Wouldn't disabling notch filters make your motors hotter?

[2017-07-20 21:23] jflyper commented on #3475
Don't restore dump from 3.1.x to 3.2.

Start from scratch.

[2017-07-20 21:26] jflyper commented on #3579
This is a common and standard behavior for every FC.

This has nothing to do with the firmware, as BOOT0 is sensed by MCU's internal boot loader long before BF firmware runs.

[2017-07-20 21:34] madchiller commented on #3579
@jflyper   Well.  I worked earlier today and now NO LOVE after firmware update....  Im trying to zadig it, but so far no love..

[2017-07-20 22:26] madchiller commented on #3579
@jflyper   Thank you for your help.. I managed to knock it into DFU mode using the Impulse Driver Fixer tool.  Did a full chip erase and things seems to be working well.  I guess this can be closed...

TY

[2017-07-20 22:29] madchiller commented on #3191
On Flip32 Omnibus F7    16K/16K gives about 68 percent CPU.

16k/ 8k gives about 25 percent CPU, gonna rock this for now

[2017-07-20 23:45] jangrewe commented on #3576
Thanks, it works with your configuration. Is there any chance this could be statically defined for this board (later on), as - i guess - all Omnibus F4 with SD should be identical?

[2017-07-21 01:08] WesBur13 opened #3581 "A first time startup/setup for beginners."
I see that Immersion has a setup on the Vortex quads and RaceFlight has a setup thats a simple easy to use. Could we implement something like that to the BF configurator?

Features could include:
RX type
SmartAudio/Tramp
Board orientation
Motor Order setup
Rxrange setup
Possibly more?

[2017-07-21 02:02] jflyper commented on #3576
I'm thinking about it ...

[2017-07-21 03:58] jflyper opened #3583 "Dropping support for GYRO chip integrated MAG"
We currently support two gyro chip integrated mags; AK8963 (MPU9250) and AK8975 (MPU9150).

I would like to drop support for these mags toward 3.2 or 3.3 or 4.0, because current (3.2) bus device abstraction is not good at handling nested buses.

- Are there targets that depend solely on these mags?
There are 19 or so targets that currently configure AK8963 or AK8975. Are these vital for these  tar

[2017-07-21 04:34] #3579 closed

[2017-07-21 04:56] wind0r commented on #3581
Yes. Why shouldn't it be possible? Feel free to submit a pull request :-)

[2017-07-21 05:26] MJ666 commented on #3583
As you can see there are many FC making use of the integrated mag. Even if this is not the perfect solution it will work after. In general having a mag somewhere separate will be quite useful i have seen quite some setups where an FC integrated mag is working quite well and does not show interferences. This really depends how the copter is build. I think we need to find a way to make this work wit

[2017-07-21 05:56] martinbudden commented on #3583
I'm not in favour of dropping support.
1. It's an indication that our bus abstraction needs improving. So we should improve it.
2. Integrated mags aren't totally useless - it depends on the construction of the aircraft. (But agreed, they are suboptimal compared to external mag.)
3. I've heard of gyro chips with integrated barometers (ICM-20789 https://www.invensense.com/products/motion-tracking/7-

[2017-07-21 07:49] stellarhopper opened #3585 "BF3.2 on BFF3 FC 100% CPU load with dynamic filter"
If I turn off dynamic_filter, the load drops to ~45%. I have most other features turned off. I did have crash_recovery set to on, but even without that, the load fluctuates between 95% and 100%.

[code]

Full config dump:
https://hastebin.com/yamexowene.pas

Commit ID: e955fa9

[2017-07-21 08:12] jflyper commented on #3583
@MJ666 @martinbudden
Okay. I'm convinced. I'll probably extend appropriate device structure (busDevice_t or magDev_t) to include pointers to register read/readBuffer/write function pointers for the bus the device resides. Let me give it a try.

@MJ666
Yes, I'm totally aware of #3215, and was kind of waiting for it to be merged before working on configurable compass to save you some work 😉

[2017-07-21 08:33] martinbudden commented on #3585
@stellarhopper , dynamic filter is very processor intensive, so if you want to use it on F3 you'll probably need to reduce your gyro/pid loop. Try 8K/4k or 4K/4K.

[2017-07-21 10:40] rav-rav commented on #3585
Gyro loop of 4k is max when using dynamic filtering.
This seems to happen a lot, maybe the gyro loop should be adjusted automatically.

[2017-07-21 10:44] jflyper commented on #3580
@DieHertz Woo, isn't that over engineered?
I was thinking exposing `cmsInMenu` bool and referencing it at the beginning of `processRcStickPositions` to proceed or not.

[2017-07-21 11:23] borisbstyle commented on #3585
We could indeed add a guard against it

Op 21 jul. 2017 12:41 schreef "rav-rav" <notifications@github.com>:

[2017-07-21 11:52] wolverin3 commented on #3585
I'm using Betaflight F3 FC on BF 3.2 with Dynamic Filtering, 8k/8k, DShot600, several features enabled (telemetry, LED strip and OSD). CPU usage at 55% and it is flying without any issue.

[2017-07-21 11:53] wolverin3 commented on #3585
I'm using Airmode too, but on switch. CPU usage might be higher, but everything seems to be okay.

[2017-07-21 11:56] wolverin3 commented on #3585
I noticed this in your snapshot, it might actually caused you the problem?

Filesystem: Fatal - no FAT MBR partitions

[2017-07-21 11:59] wolverin3 opened #3587 "Notch Filter 2 bug"
Hi guys,

I think I found a bug. Running BF F3 with BF 3.2. If I adjusted Notch Filter 2 from 200 to 100 via the OSD and Save/Reboot... it will save it as 0. Luckily I didn't burn my Cobra motors, maybe due to Dynamic Filtering in action.

Thank you.

[2017-07-21 12:03] wolverin3 commented on #2846
I can arm ny quad now with BF 3.2 nightly build but my SmartAudio v1 still does not work.

[2017-07-21 12:04] borisbstyle commented on #3587
Thats no bug. 0 means disabled as you are trying to give it invalid setting.

Notch filter has 2 settings. Notch cutoff and notch filter frequency. The cutoff frequency alwas has to be lower. In case you have cutoff higher it will disable itself.

[2017-07-21 12:04] #3587 closed

[2017-07-21 12:08] wolverin3 commented on #3587
My bad... thank you.

[2017-07-21 12:09] Vidalcris opened #3588 "Crash Recovery"
Hi,
I know this is still a beta feature but as i was trying it there is something i dont understand..
When i activate the feature, i'm not anymore able to do fast flips :-/
Look like the feature think that i just crashed and try to level.
With crash_gthreshold = 500 its working better but still got the problem when i combine a fast roll+pitch at the same time.
My FC is a Omnibus F3.
My Pitch/Roll

[2017-07-21 12:10] Vidalcris commented on #3588
Mhm i'm just thinking that my accelerometer is disabled.. maybe that dont help the feature to work correctly ..

[2017-07-21 12:59] Vidalcris commented on #3588
Ok so i increased my P and now with crash_gthreshold = 500 it work perfectly and it detect crash wonderfully !
I have to say this feature is really awesome ^^

[2017-07-21 13:54] rav-rav commented on #3585
Hm, maybe you are right.
01 - (       GYRO/PID)   6250     130     109   81.7%   68.6%    201731
Average runtime is 109µs so that would fit into 8kHz.

This does not seem right though:
05 - (         SERIAL)     98  101419       3  994.4%    0.5%       382

[2017-07-21 15:00] lunohod commented on #3585
@wolverin3 could you please upload your diff dump?

[2017-07-21 16:03] bizmar commented on #3475
There's something to this. I have a F4 PRO running "DYSF4PRO 3.2.0 Jul 21 2017 / 09:13:41 (9ee4ba4)". I set it up form scratch, copying from screenshots. And my voltage was not working. Then I read the above comments. And switched from DSHOT600 to Multishot. Rebooted and the voltage worked. Switched back to DSHOT600 and it still works. I'll keep you posted if it continues to work. :)

[2017-07-21 16:27] martinbudden commented on #3588
Can you post some blackbox logs, both of it working well and it not working well.

[2017-07-21 16:32] Vidalcris commented on #3588
I'm doing those test on my 2inch quad and there is no memory for BB unfortunately :-/
I will try with my 5inch tomorrow but i'm afraid ;)

Dont you think that the problem is the time necessary to have the gyro reflecting the command ?

[2017-07-21 16:33] martinbudden commented on #3585
@rav-rav , not 8kHz gives 125us per gyro loop. Which means that gyro runtime + max other runtime must be less than 125. So this won't work at 8kHz.

The `tasks` table indicates this, `GYRO/PID` being throttled, it is running at 6250, whereas it should be running at approximately 8000.

[2017-07-21 16:42] martinbudden commented on #3588
The crash detection works on the error rate, that is the difference between the commanded rate and the rate measured by the gyro. So increasing P should lessen the problem, as you pointed out.

Note that if you `set crash_recovery = BEEP` then the beeper will sound when the quad enters crash recovery mode, so you can tell if the mode is activated. So you could set the threshold high do  some fast

[2017-07-21 16:50] Vidalcris commented on #3588
About time, i mean there is a delay between the command and the rate mesured by the gyro.
I mean there will always be a delay as there is always an error like you said ;)

[2017-07-21 18:05] brucesdad13 commented on #3583
Both my targets use MPU-9250 and I'd prefer to keep integrated mag support awhile longer ;)

[2017-07-21 18:48] wolverin3 commented on #3585
@lunohod , here it is:

# diff
# Betaflight / BETAFLIGHTF3 3.2.0 Jul 18 2017 / 20:57:50 (cd5e57e)
name Wolverine
resource PPM 1 NONE
resource SERIAL_TX 11 B07
resource ESCSERIAL 1 NONE

feature LED_STRIP
feature DYNAMIC_FILTER
serial 0 32 115200 57600 0 115200
led 0 4,1::CW:10
led 1 5,1::CW:10
led 2 6,1::C:10
led 3 7,1::C:10
led 4 8,1::C:10
led 5 9,1::C:10
led 6 10,1::CW:10
led 7 11,1::CW:10
aux 0

[2017-07-21 19:30] sith31 opened #3591 "Remaping ledstrip to current sensor"
Hi I have a micro omnibusf4 of 20x20 without current sensor input, would it be possible to remap the pins to use the pin of the uart-tx1 or the ledstrip to use it as input of external current sensor? I have tried with the resource command but it always appears to me as invalid. Thank you

[2017-07-22 01:02] jflyper commented on #3591
@sith31
BF3.2 will support ADC input remapping.

[2017-07-22 02:33] andrejpodzimek opened #3592 "Baro doesn't work on BlueJayF4"
I soldered the optional baro sensor onto the BlueJayF4 board, [this one](https://www.aliexpress.com/item/MS5611-01BA03-SENSOR-new-and-original-free-shipping-500BP/32460242247.html?spm=a2g0s.9042311.0.0.qoa9Ia). However, it just doesn't work in Betaflight 3.1.7. Baro is on in Configuration, `baro_hardware` is set to `MS5611` (it didn't work with `auto` either). After an all-nighter with a multi-met

[2017-07-22 02:43] andrejpodzimek commented on #3592
And BTW, there's no BARO among tasks.

[2017-07-22 04:10] andrejpodzimek commented on #3592
I've just built and flashed the current master. The baro still doesn't work, but I noticed a few extra options in the CLI (`baro_bustype`, `baro_i2c_device`, `baro_i2c_adress`). The address was 119 by default. I also tried 118, because there's a pin that can change the least significant bit, according to the datasheet. (I think that pin is low, because GND is connected to it inside the BlueJayF4.)

[2017-07-22 05:37] jflyper commented on #3592
@andrejpodzimek If flashed 3.2, checkout if `resource list` contains any `I2Cx` lines. If there is, then set `baro_i2c_device` to `x`. `baro_i2c_address` is 118 or 119. (0xee and 0xef are 8-bit representation of 0x76/118 and 0x77/119.)

[2017-07-22 06:18] blckmn commented on #3592
Also look in configurator bar for any i2c errors

[2017-07-22 06:42] braders2k commented on #2953
So.. I'm getting confused.. I setup 2 friends quads with revolt (V2) and XM+.. run the duplex command and works fine.. without having to bridge tx & Rx together?????? But if I try desolder the Rx/tx on my quad it don't work???

Makes no sense and wondering what the bells going on lol..

I'm getting not as smooth RC command when checking BB logs.. thinking maybe something to do with this fix? Just

[2017-07-22 09:08] andrejpodzimek commented on #955
I’ve heard about the multimeter theory a number of times already, but I don’t think it’s practically feasible to figure this out using a multimeter. More often than not there’s quite a substantial resistance along the way between a pin and a pad. For the debug pad, for example, resistance toward STM32’s pins varies between 8 kiloohms and tens of megaohms. There is no obvious direct connection and

[2017-07-22 09:42] Vidalcris commented on #3588
Oh you just updated the default crash_gthreshold to 500 :) And also verify that accelerometer is on so i see that my report was usefull i'm happy XD lol
Seriously i feel better if you think that 500 is a good value for crash_gthreshold !

[2017-07-22 09:56] martinbudden commented on #3588
Yes, your report was useful, thanks.

I'm always happy to make updates based on user feedback.

[2017-07-22 09:59] mrcat opened #3595 "Diff and dump show only active profile and rateprofile"
Hello. I found a small bug. If you use more than one profile and rate profile, 'diff' and 'dump' command show only active profile and rate profile. Other profiles is not show in the output.

[2017-07-22 10:07] Vidalcris commented on #3588
Just another question :
Here is a BB exemple where we can see that the error on this quad is around 700deg/s :
https://image.ibb.co/dGKJX5/2017_07_22_11_49_19_Betaflight_Blackbox_Explorer.jpg

Can we say that for now a quad with a big error like this will not go in crash recovery because we will have to put a crash_gthreshold around 800.
Maybe a crash_delay(ms) for crash detection could work ?
As

[2017-07-22 10:15] DieHertz commented on #3595
That's intended behaviour, there is `diff all` for other profiles.

[2017-07-22 10:15] #3595 closed

[2017-07-22 10:59] Vidalcris commented on #3588
What do you think about this : (i'm a noob so dont be rude XD)

            if (pidProfile->crash_recovery && sensors(SENSOR_ACC)) {
                    // Here this is only the test for crashDtermThreshold i dont really know how this part work ;)
                if (motorMixRange >= 1.0f && ABS(delta) > crashDtermThreshold) {
                    inCrashRecoveryMode = true;
                    cra

[2017-07-22 10:59] sadownik commented on #2532
@jflyper

how difficult would it to add Lorace frequencies to betaflight and the lua script? Could you provide updated files for people compiling the target on their own?

[2017-07-22 12:06] blckmn commented on #3512
I think this is now resolved. Can you please confirm - and if not then reopen?

[2017-07-22 12:06] #3512 closed

[2017-07-22 12:08] blckmn commented on #3155
https://github.com/betaflight/betaflight/pull/3598

@BayaroX can you please pull that request and see if it is BST causing the issue. I am travelling at the moment, and don't have a COLIBRI to test with. If its BST then I will look into where the problem is with that code. Thanks :)

[2017-07-22 12:36] Zaniix opened #3599 "BF 3.2 - CL_RacingF4-Buzzer makes motors stutter when armed"
Dhsot 1200
Armed motors then hit buzzer switch, motors stutter
Dshot Buzzer should be disabled when armed, but it appears to try and beep the motors even when armed.
I think this could be a serious issue in flight if someone accidentally hits the buzzer switch

[2017-07-22 17:26] rcquad808 commented on #2953
@braders2k

What betaflight firmware you flashed and which pin did you use on the fc?

[2017-07-22 17:33] braders2k commented on #2953
@rcquad808 Using revolt V2 (skitzo) bf 3.1.7 with xm+.. exactly same as what I put on my friends quads but didn't need to solder the tx/Rx pads what is confusing?

[2017-07-22 18:12] sheaivey opened #3602 "LED_Strip - Color Override by CRSF or other protocols"
I would like to implement override control of the LED strip by receiver commands.

At the moment CRSF would be the initial protocol to support this but I think depending on the protocol this could be adapted to work with others.

First we would need to modify the LED_Strip to accept two commands **reset()** and **setHSV()**.
**Reset()**: removes any override color and defaults back to user configu

[2017-07-22 19:22] rcquad808 commented on #2953
That is confusing. Yeah don't know what exaclty the problem with revolt v2.

[2017-07-22 20:28] Cocobeasdad commented on #3542
Running 3.1.7 on an F3 mantis board, 3s, stock PIDs, 5" props, 30a flycolor blheli_s running Dshot125.  Unbalanced props, cheap plastic frame, baby beast motors (Proverbial V8 motor install in a 75 Ford Pinto).  During punch outs quad would roll left and yaw counterclockwise until throttle reduced.  Incremental throttle increase would not produce this.  Went back to 3.1.6 and problem went away.  S

[2017-07-22 22:37] andrejpodzimek commented on #3592
i2c errors show 0 all the time.

In `resource` I can see the following:

    resource I2C_SCL 1 B06
    resource I2C_SDA 1 B07

However, `resource list` shows this (no `I2C_SDA` anywhere):

    B06: I2C_SCL 1
    B07: FLASH_CS

This looks surprising. Could it be a resource conflict of some sort?

[2017-07-22 23:36] andrejpodzimek commented on #2282
Thanks for this informative report/thread. I just hit this problem on a BlueJayF4 and this sheds some light on it. I'm building a hexacopter. I got 2 ESC modules, 20A 4-in-1 and a 20 A 2-in-1, both from Lumenier. I wired everything, flashed the latest BLHeli that enables DShot into all 6 ESCs and guess what, motor 1 won't spin, although all the other motors work perfectly fine. So I searched throu

[2017-07-23 03:54] jflyper opened #3605 "BF3.2 My baro and mag are not detected anymore"
There has been a drastic change in the way that baro and mag are configured and detected. This change was necessary to make baro and mag configuration more flexible. Unfortunately, the change made it hard to maintain full backward compatibility with earlier configurations.

If you experience your baro and/or mag not being detected after updating to pre-3.2 (build 1476 and later), please report her

[2017-07-23 06:07] martinbudden commented on #3588
@Vidalcris , can you attach the full blackbox log for this flight?

[2017-07-23 08:06] Vidalcris commented on #3588
@martinbudden Sure here it is : https://www.dropbox.com/s/za60385lhb7hn60/LX5%20Log.BFL?dl=0

This is a old log of my LX5 with F60 2450kv - ESC30A (pretty heavy build around 420g without lipo)
I sold this model some weeks ago.

[2017-07-23 10:19] benchamin23 commented on #1568
I have the same issue on my wing. I use the Wraith32, although I have powered my VTX directly by battery with an LC filter and my cam is powered by my VTX.

[2017-07-23 14:35] BayaroX commented on #3155
@blckmn - I cant compile a BetaFlight release myself. Im willing to test, but i need a compiled build (hex or something else) for download and flashing it to my colibri v2.

[2017-07-23 14:58] AndersHoglund commented on #3155
Pulled and build it for you:
[betaflight_3.2.0_COLIBRI_RACE- a4de1df.zip](https://github.com/betaflight/betaflight/files/1168153/betaflight_3.2.0_COLIBRI_RACE-.a4de1df.zip)

For reference, sources on this branch: https://github.com/AndersHoglund/betaflight/tree/bst_disable

[2017-07-23 15:07] andrejpodzimek commented on #3605
I’ve jist had quite a bitter experiments with 2 of the devices you mentioned, both on BlueJayF4.

I reported a baro problem in #3592. But now I tried to flash old Betafight 3.0.1 and baro still didn’t work, so it’s probably unrelated.
- Type: MS5611
- Externally connected: depends on the definition (soldered onto the board’s 8 pads meant for that purpose)
- Bus: I2C (PS pin is connected to 3.3 V i

[2017-07-23 15:19] andrejpodzimek opened #3610 "Current ADC sensor on BlueJayF4 doesn’t work"
To get current readings directly on BlueJayF4 revision 3, I installed [this current sensor](https://www.sparkfun.com/products/9028) and wired it to my BlueJayF4’s ADC pads (current signal, voltage signal, ground). For this 90A module, a scaling value of 366 has been recommended somewhere on the web. However, I’m getting completely bogus readings between 0.27 A and 0.45 A, pretty much at random, un

[2017-07-23 15:45] AirBreak69 commented on #3605
Same experience with my original REVO. I tried an old build 1169: baro works with some sporadic data errors.
I added these lines in target.h to create a custom build of build 1497.
#if defined(REVO)
#define BARO
#define USE_BARO_MS5611
#define USE_I2C
#define USE_I2C_DEVICE_1
#define MAG
#define USE_MAG_HMC5883
#define MAG_HMC5883_ALIGN       CW90_DEG
#endif
Result: larger hex-files are generated,

[2017-07-23 16:46] maverikou commented on #3599
Confirming this happens.

[2017-07-23 17:38] BayaroX commented on #3155
@AndersHoglund - Thanks a lot! Downloaded this build, flashed it - it is working fine!   :)
@blckmn - Looks like BST causes the reboot-loop btw the problem.

[2017-07-23 20:39] Jdog-glossop opened #3611 "motor calibrate problem?"
Anybody help me
I updated Betaflight 3.1.7 and blheli and now the start up tone is out of sync if I try to calibrate them it sounds good till I put a battery to it. It sounds out of sync again?
cheers Jamie

[2017-07-23 21:50] jflyper commented on #3605
@andrejpodzimek @AirBreak69 Thanks for your reports. I'm actually looking for cases that the new code doesn't detect baro and mag that were working with 3.1.7.

[2017-07-24 02:03] jflyper commented on #3583
I have the first attempt in #3613.

[2017-07-24 02:26] andrejpodzimek commented on #955
Sadly I can't use motor pads 5 and 6, because then I wouldn't be able to control motors 5 and 6.

As for the debug pad on BlueJayF4, SmartPort doesn't work on it. [I described the details here.](https://github.com/betaflight/betaflight/pull/2597#issuecomment-317303038)

It may be the case that the debug pad lacks a timer or other hardware needed for softserial. Then the only remaining option might

[2017-07-24 07:58] DanNixon commented on #3611
Providing the quad flies fine the start up tone being out of sync isn't usually a problem, there is nothing keeping these beeps in sync, the startup beeps are only indicative of the ESC initialising.

GitHub is for discussion and questions around the development of Betaflight. For general questions around configuration and RC flying, please go to RCGroups.

[2017-07-24 10:44] riquezjp commented on #2609
I was going to suggest a similar thing. I'd rather see Amps with no decimals on the OSD.
When we are flying mini-quads at least, Amps will go from 20 to 80 in under a second the .34 is pointless.
I just want to concern myself with noticing if I will reach the ESC limit 100A or 120A etc.

[2017-07-24 14:49] dbrokenbone opened #3616 "burn BFF3 regulator 5v"
bff3 wont turn on with lipo, i have to use external regulator. which transistor should i replace?

[2017-07-24 14:54] PScott1 opened #3617 "diff showdefaults not working"
The showdefaults option for diff and dump isnt working...On nightly for 3.2

[2017-07-24 15:00] DanNixon commented on #3617
The subcommand is `defaults`, both `dump defaults` and `diff defaults` work.

[2017-07-24 15:53] jflyper commented on #3616
@dbrokenbone Betaflight github repo is a place to report and/or discuss software isssue, problems and enhancements. For hardware support, please contact your distributor or visit an appropriate thread in RCG.

Ref:
https://www.rcgroups.com/forums/showthread.php?2795213-Betaflight-F3-Flight-Controller-OSD-PDB-SD-card-BEC-current-sensor

[2017-07-24 18:12] Jdog-glossop commented on #3611
Cheers Dan

[2017-07-24 21:45] AirBreak69 commented on #3605
@jflyper I wasn't shure, what you where asking for. 3.2.0 build 1169 is prior to build 1476. So I thought it were helpfull...
But in addition I tested for you on my REVO all versions i found on my PC, just starting with defaults plus mag and baro enabled:
3.1.6: Mag and baro working fine. No sporadically disrupted data.
3.1.7: Mag and baro working fine. No sporadically disrupted data.
3.2.0 build

[2017-07-24 22:28] #3493 closed

[2017-07-24 23:14] andrejpodzimek commented on #3610
BTW, BF 3.1.7 has this *"legacy Multiwii MSP current output"* option. When I tick that, I do get some current readings every now and then, a few numbers that look reasonable appear for a few seconds. But only for a few seconds. Then it mostly falls back to 3.0A or the like and stays there. Without that option I'm getting ~0.3A and no sign of any real values. BF 3.2 (at least the latest master that

[2017-07-24 23:54] #1755 closed

[2017-07-24 23:55] #1961 closed

[2017-07-24 23:56] #2020 closed

[2017-07-24 23:56] #2100 closed

[2017-07-25 05:09] jflyper commented on #3605
@AirBreak69 Your board is not a REVO, but some AIRBOTF4 or FLIP32-F4, isn't it?

[2017-07-25 06:38] dbrokenbone commented on #3616
thanks...

[2017-07-25 06:38] #3616 closed

[2017-07-25 07:06] nsccap commented on #3108
I don't see how the current information on how failsafe stage1 and stage2 in the configurator failsafe tab could be improved to make this more clear, can you @Woody9999 help?

It currently says that stage1 happens at [list of conditions] and results in [set of channel configurations] being maintained/applied. Then after guard time it will enter stage2. Which has drop or land options.

I'm genuinel

[2017-07-25 07:34] DanNixon commented on #3108
@Woody9999 You did disable failsafe, stage 1 and stage 2 are not two separate failsafe systems, they are part of a single failsafe mechanism. More importantly stage 2 is the part that actually makes the quad fail in a safe manner.

While the configurator help may not be perfect, I really cannot see why you thought disabling stage 2 was the right thing to do.

[2017-07-25 11:49] PeteG-FPV commented on #2731
Have been testing this out, it's working so good, about 30 hits with gates now and it intervened on 28. On the other 2 occasions I went into the infinite yaw spin. Wasn't able to get BB log of it, but will endeavour to do so.

[2017-07-25 12:04] Woody9999 commented on #3108
If stage 2 is a requirement, then if you would like my input, I would suggest that there is no option to turn it off.
To me, stage 1 is like receiver based failsafe, where when signal is lost the channels go to a predetermined position. That's really all I need, and if I recall correctly, is what we had for failsafe in the past before introduction of stage 2, right?

It would seem that not everyon

[2017-07-25 12:26] DanNixon commented on #3108
That is a valid point. See #3562

Yes and no. It is similar in operation but not equivalent. It it certainly not all you need (i.e. you definitely do need stage 2).

In stage 1 you cannot disarm via a box mode setting (which is news to me too and maybe not ideal behavior). However keep in mind that stage 1 is designed to keep the craft in the air in the hope of a RX link recovery, stage 2 is what

[2017-07-25 17:13] Woody9999 commented on #3108
@DanNixon I really do appreciate you taking the time to provide detailed feedback to my questions. Very helpful for sure.
I will also remove the fallback settings for stage 1 and just rely stage 2 to disarm and drop.

I did notice that with stage 2 enabled, the beeper beeps at a different cadence than it does with stage 1 configured to turn on the beeper. That's a function of the system to alert t

[2017-07-25 17:24] DanNixon commented on #3108
@Woody9999 Yes the beep pattern indicating failsafe is different from the BEEPER mode.

[2017-07-25 17:24] AirBreak69 commented on #3605
@jflyper Sorry, I do have these FCs: NAZE, SPRACINGF3EVO, AIRBOTF4, DYSF4PRO and REVO.
The REVO is an original CC3D Revolution - original as chinese warez can be ;-)

[2017-07-25 18:14] jflyper commented on #3605
@AirBreak69

Oh... it's my bad. Baro and mag support for REVO had been accidentally dropped back on Jun 16, 2017, as a part of #3229. I'm going to resurrect them. See #3624.

[2017-07-25 18:32] jflyper opened #3625 "SPI part of busDevice_t should be extended with clock divisor for the device"
Devices that are sharing an SPI bus is currently setting it's own clock divisor during initialization of the device. This is an error prone approach. MAX7456 driver tries to overcome this problem by setting/restoring the clock divisor before/after each bus access, but it restores to a pre-defined divisor which is not alway correct for other devices on the bus.

One possibility is to extended the `

[2017-07-25 19:23] ledvinap commented on #3625
@jflyper : It should work quite fine for spi, changing speed should be fast and may be triggered only when necessary. Bus arbitration may be a bit of problem eventually. And bud abstraction is still quite shallowm it may be easier to improve it before touching this.

With I2C this will be much more dangerous - slow devices may go out of sync when they see fast transaction (and there is no CSN to h

[2017-07-25 19:39] Yamaford commented on #3588
Raised gyro thold to 400 rates are 90RC/80Srates. flew this morning and it did fine for 2 packs until I tried yaw left roll right real hard. It didn't like that. I raised it to 500 but lowered srates a little just because they needed to slow down a tad bit anyway. I'm still tuning for 5s now so I don't have the rates exactly where I want them yet.

Long story short, 500 works. I haven't hit any tr

[2017-07-25 20:15] Vidalcris commented on #3588
With the latest BF3. 2 you should be able to lower threshold to 200.
With throttle threshold =350.

_Sent from my HONOR PLK-L01 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 21:33] didimau opened #3628 "BF3.2 MatekF405 CRSF dont work"
when i pick CRSF Protocol i dont get a signal ... sbus works

[2017-07-25 22:44] jflyper commented on #3628
@didimau Did you rewire to TX pin?

[2017-07-25 22:51] jflyper commented on #3625
@ledvinap Yeah, we can't fiddle with I2C.

[2017-07-25 23:51] didimau commented on #3628
yes i did its on tx4

[2017-07-25 23:56] didimau commented on #3628
i solved it .. it was the pin on the unify :o anyway thanks for answering :)

[2017-07-25 23:56] #3628 closed

[2017-07-26 02:46] jcutcher01 opened #3629 "Crash Recovery Occurred While OFF"
Flashed betaflight_3.2.0_OMNIBUSF4SD-3-46532de91.hex on my Flip32 Omnibus F4. I tried a hard flip maneuver and the quad leveled out and wouldn't allow me to pitch or roll. I verified crash recovery is off. I flashed betaflight_3.2.0_OMNIBUSF4SD-4-b13f96d29.hex and verified in CLI that I do not have it enabled. I will update this issue report when I am able to fly again.

[code]

[2017-07-26 05:38] mactac commented on #1793
I am using the most current version, and I am seeing the same problem.

[2017-07-26 06:58] Saxin commented on #3329
I'm experiencing somehow similar behavior on x2 Omnibus F4 V3 which were bought directly from myairbot (the designer and manufacturer). https://store.myairbot.com/flight-controller/omnibus-f3-f4/omnibusf4v3.html

Tried 3.1.6 , 3.1.7 and 3.2

Build #1: Uart6 - SBUS, Uart1 - Smart Port, Uart3 - Tramp HV (V1.26) telemetry.
Build #2: Uart6 - SBUS, Uart3 - Smart Port, Uart1 - Tramp HV (V1.26) telemetry

[2017-07-26 07:20] jflyper commented on #1793
@mactac The thread is closed, and issue was resolved. If you really have a problem, it can be fixed by using the up to date dev version of the configurator. If not, please submit a new issue.

[2017-07-26 07:27] digaus commented on #3329
@Saxin
Normally SBUS should be on UART1 since it has the inverter for it.
UART1 -> SBUS
UART3 -> SmartPort (inverted hack)
UART6 -> Tramp HV

You can also swap Tramp HV and SmartPort. Worked perfectly on all UARTS

[2017-07-26 07:31] Saxin commented on #3329
This is not a pro - this is Omnibus F4 V3.
Take a look in the wiki [Omnibus SD](https://github.com/betaflight/betaflight/wiki/Board---OMNIBUSF4)
Please edit your post to avoid confusion.

[2017-07-26 07:31] digaus commented on #3329
Already did... so did you get the uninverted SmartPort signal?

[2017-07-26 07:33] Saxin commented on #3329
Telemetry is working perfectly, yes XSR + **uninverted** signal.

[2017-07-26 08:26] #1386 closed

[2017-07-26 08:27] Saxin commented on #3585
@borisbstyle et al.

Is it really necessary to adjust notch filters at full rate ?
Per my understanding this can be given as parameter with respect to loop speed (same as BB log rate) this will allow older targets to enjoy this fantastic feature without breaking a sweat.

Min limit can be enforced to eliminate bandwidth reduction.

[2017-07-26 08:34] jflyper commented on #1582
@Loswave
- Configurable I2C has been implemented and merged.
- Configurable barometer device has been implemented and merged.

As BMP180 is a drop-in replacement for BMP085, you can now add `USE_BARO_BMP085` to see if your BMP180 will work or not.

[2017-07-26 08:39] #2178 closed

[2017-07-26 08:55] Vidalcris commented on #3629
There is no information about crash recovery in this dump..
There is at test verifying that the option is ON before crash detection so that is not possible imo..

Can you share the result of "get crash" ?

[2017-07-26 09:28] borisbstyle commented on #3585
@Saxin What do you mean with "adjust notch filters at full rate"?

[2017-07-26 09:39] Saxin commented on #3585
@borisbstyle

I didn't looked at the code... yet from this issue I got impression that you are performing FFT and adjusting dynamic notch at each PID loop cycle - this is what I mean when saying "adjust notch filters at full rate"

[2017-07-26 09:49] wind0r commented on #3585
@Saxin FTT is done with each Gyro Cycle

[2017-07-26 09:52] Saxin commented on #3585
Ok, so my proposal holds even more now - is this needed ? what are you doing with all that bandwidth ?
The notches are usually located sub 500 Hz ....

[2017-07-26 09:54] wind0r commented on #3585
Feel free to Implement FTT unsynced from Gyro Loop!

[2017-07-26 10:53] rav-rav commented on #3585
FFT is not calculated in each loop cycle as a whole. The calculation is already split into 4 steps in order to reduce CPU time per cycle.
This means it takes 12 gyro loop cycles to calculate FFT for all 3 axis. That's why each axis is updated at 333Hz when running 4kHz.

One such step takes up to 25µs. If you run at 8kHz all operations (gyro, pid, rx, osd,...) need to finish in 125µs.

If you don'

[2017-07-26 11:05] andy7x77 opened #3631 "BF3.2 CRSF telemetry"
CAPA shows the static value from Configurator -> Power & Battery -> Capacity (mAh) instead of mAh used
Thanks! (;

[2017-07-26 11:28] martinbudden commented on #3585
@Saxin , as @rav-rav says, FFT calculation is already split into steps and each step must complete within one gyro loop. Splitting it into more steps would make the calculation less efficient and so detriment the performance on F4 and F7 processors. If you want to use dynamic notch on F3, then you need to reduce your gyro update rate to 4kHz or less.

I'm closing this issue, since it is a limitati

[2017-07-26 11:28] #3585 closed

[2017-07-26 11:39] jcutcher01 commented on #3629
Correct that's why I was stumped. I was flying circle patterns so I could land and check motor temps. I had pitch roll Yaw. Then I took off again and my first freestyle test was throttle punchout and hard front flip. The quad refused and self leveled and I lost all control. I landed and retrieved my quad. It was suggested that crash recovery occurred. Unfortunately I flashed 3.1.7 back so I could

[2017-07-26 11:51] Saxin commented on #3585
Okay thanks for the clarification.

[2017-07-26 11:59] jcutcher01 commented on #3629
Also my dump is from DIFF.

[2017-07-26 12:03] Vidalcris commented on #3629
Mhm wait for a reply from @martinbudden because i cannot understand how this could happen ...
(If this is a diff then crash_recovery is off. so yeah ...)

[2017-07-26 12:22] jcutcher01 commented on #3629
I also set anti gravity to 4000. In 3.1.7 it's 4.

[2017-07-26 12:39] Vidalcris commented on #3629
If you still have crash parameters in 3.1.7 you should reflash with full chip erase.

[2017-07-26 12:45] jcutcher01 commented on #3629
I never used the feature. When I flashed 3.2.0 I set all of my parameters again from the start. I always perform a full chip erase. However, since I am downloading the HEX file manually instead of use the configurator to download, is it possible that a manual hex flash did not perform a full chip erase. I seem to recall the switch was grayed out. I will check at lunch time today (US East).

[2017-07-26 13:32] Saxin commented on #3329
@nathantsoi - I will appriciate if you can take a look at this issue, maybe it's some definition if the target file as UARTS changed a bit for OB V3 and up.

thanks.

[2017-07-26 14:47] Woody9999 commented on #3108
I did find a use for leaving the beeper fallback setting to turn on.
It provides audible alarm if the receiver has no signal, ie wrong model selected in tx or tx not on.

[2017-07-26 15:21] jflyper commented on #3329
@Saxin
SmartAudio (Unify 5G8 PRO) is working on OMNIBUS F4 V3 / UART3.

OMNIBUS F4 V3
Betaflight / OMNIBUSF4SD 3.2.0 Jul 24 2017 / 23:40:49 (35f35fd94)
UART3_TX SmartAudio
UART6_RX SBUS

[code]

I can't think of any changes that made F4V3 incompatible with SmartAudio. It must be on your particular  hardware and setup. Is your setup new, or it has been working some time in the past?

[2017-07-26 15:59] Saxin commented on #3329
I will test also TBS unify, I'm also in the dark here , it's 2 setups , new setups, both with same FC and tramp hv , I've tried both uart 3 and 1 on both .... as mentioned today morning tried with soft serial and it works perfectly.

[2017-07-26 20:52] TyTechSci opened #3635 "Omnibus F7 and DSHOT 600-1200 Spins Two Motors"
Omnibus F7 hooked up to Lumenier OPTO Silk 32bit 30A escs
Using BF Configurator 3.1.1 and 3.1.2
Using BF 3.2 firmware from factory then updated to 7/26/2017 #6 version

When running DSHOT 1200 only motors 1&2 will spin when activated in configurator.
When running DSHOT 600 only motors 3&4 will spin when activated in configurator.

Dump file attached.
[dump.txt](https://github.com/betaflight/betafl

[2017-07-26 22:11] basdelfos commented on #3553
See PR: https://github.com/betaflight/betaflight/pull/3636
And configurator PR: https://github.com/betaflight/betaflight-configurator/pull/566

[2017-07-26 22:20] AirBreak69 commented on #3605
@jflyper Please look at #3624: You have to correct a typo in that PR in order to get baro and mag back into life on a REVO.
Tried this with a custom build using 8K/8K/dshot600/ibus: Sensor are working, but some glitches can be found in the sensors view (may be specific to my board).

[2017-07-26 22:53] jflyper commented on #3635
@TyTechSci
Just tested with the current. They spin without a problem.
Did you do "defaults" and immediately test motors WITHOUT restoring settings?

[2017-07-26 22:54] jflyper commented on #3605
Where is the typo?

[2017-07-26 22:59] AirBreak69 commented on #3605
@jflyper There's small but significant typo in line 239 of target\REVO\target.h:
Change
#define I2C2_SDA PB9
into
#define I2C1_SDA PB9

[2017-07-26 23:00] jflyper commented on #2846
@wolverin3 What is your Unify?

[2017-07-26 23:06] jflyper commented on #3605
@AirBreak69 Fixed.

Can you try other settings? WIth and without turning on your TX.

[2017-07-26 23:08] TyTechSci commented on #3635
Did defaults, it put it to oneshot 125, motors spun up. None of the dshot protocols work now.

[2017-07-26 23:09] wolverin3 commented on #2846
Tbs unify 5g8 with smartaudio v1. The earliest version.

Sent from my iPhone

[2017-07-26 23:10] jflyper commented on #3635
@TyTechSci Set it to dshot, completely power down and power up again.

[2017-07-26 23:12] TyTechSci commented on #3635
I could kiss you... or betaflight you... whatever. DSHOT 1200 working now! Thank you so much. Did I miss some literature somewhere to figure this out on my own?

[2017-07-26 23:13] jflyper commented on #2846
@wolverin3 Product URL please?

[2017-07-26 23:26] jcutcher01 commented on #3629
Good news! Full chip erase solved my problem. Today I flew 3.2.0-4 with PT1, both notches 0 and dynamic filtering on. Flew awesome.

[2017-07-26 23:26] #3629 closed

[2017-07-26 23:27] jflyper commented on #3635
No, you didn't miss anything. I don't think there is a mention of power cycling when switching to dshot (and back) is sometimes necessary.

Happy props now :)

[2017-07-26 23:27] wolverin3 commented on #2846
http://team-blacksheep.com/products/prod:unify_pro_hv_sma

Sent from my iPhone

[2017-07-26 23:32] jflyper commented on #2846
I think that device speaks V2...

And should be compatible with the current firmware...

[2017-07-27 00:28] wolverin3 commented on #2846
Mine is the earlier version, serial no below 1,000... it is v1.

Sent from my iPhone

[2017-07-27 02:15] jflyper commented on #2846
@wolverin3 I'm sorry, we have to scope your signal to do something beyond this point.

[2017-07-27 03:26] #3635 closed

[2017-07-27 07:42] jflyper commented on #2846
@wolverin3 I've tested the functionality of SmartPort (V1) over software serial on STM32F303CC PB7 using an OMNIBUSF3 and a bread board based dev env, and they both worked without a problem, suggesting your problem is not a software related one.

These are the relevant lines from cli "diff".
[code]
And these are required for me to manipulate CMS
[code]

By entering these 7 lines of config followed

[2017-07-27 07:50] jflyper commented on #2846
@wolverin3 If you vrx is capable of receiving audio and you have something to monitor the audio output, it would add a bit of information to your investigation work.

You should hear pulsating noise on audio.
Ref:
https://www.youtube.com/watch?v=YuOZ0XNma1A

[2017-07-27 09:23] swilkens opened #3641 "BF 3.1.7 UART not working when powering bluetooth device after powering the FC?"
I use a bluetooth module connected to UART1 on my BFFC3 board running at 115200 baud. The +5 supply to the Bluetooth module runs through a simple switch that allows me to power the bluetooth module just when I want to to be powered. Using the bluetooth connection, I configure the firmware using an android app on my phone (EZ-GUI), which uses MSP commands.

In the past (on a naze32 rev. 5 running c

[2017-07-27 09:47] libwtf opened #3642 "[SPF3evo, BF 3.1.7] resource remapping issue"
bug or user error?

while soldering a XSR receiver to a SPF3evo /me did not think all too much.

connected s.port to the TLM- (tx2) and sbus to the PPM-pin (rx2)...so i goofed it and can't use sbus and s.port-telemtry on UART2 at the same time....idiot me :-P
but instead of re-soldering i tried out resource remapping. now i'm not sure if i just use it wrong or if this is a bug..

while BF confirms

[2017-07-27 09:52] jflyper commented on #3642
@libwtf Need to see the result of the mapping by `resource list` before commenting.

[2017-07-27 10:51] jflyper commented on #3641
@swilkens I have just tested the same setup using CRIUS_BT (same as HC-06) module and OMNIBUS (F3) board flashed with 3.2, using UART1, connecting to the BT module from regular BFC configurator using serial emulation port of BT interface.

I had no problem of connecting to the FC as long as the BT module is powered. There is no constraint on when or how the BT module is powered. Only care I took w

[2017-07-27 11:15] swilkens commented on #3641
@jflyper I replicated your setup (using a pc with a bluetooth dongle in stead of my phone) and I see the same problem.

1. Power FC and Bluetooth at the same time
2. Verify that I can connect on both PC (bf configurator) and phone (EZ-GUI)
3. Unpair
4. Power off bluetooth dongle on UART1, maintain power on FC
5. Power bluetooth dongle back on
6. Pair on PC (works)
7. Attempt to connect on BF Confi

[2017-07-27 11:23] libwtf commented on #3642
ok, makes sense then. thank you.

[2017-07-27 11:23] #3642 closed

[2017-07-27 11:46] jflyper commented on #3641
@swilkens

Scoping will help a lot.

Yeap.

[2017-07-27 13:43] Vidalcris commented on #3629
If u had make the "get crash" as is asked for sure the parameters were corrupted..
But anyway if that work its cool.

[2017-07-27 15:57] wolverin3 commented on #2846
Noted with thanks.

Btw, does this work in BF 3.1.7 too or just 3.2 only?

Sent from my iPhone

[2017-07-27 16:39] jflyper commented on #2846
Better to do it with 3.2.

3.1.x does not support V1; it sort of works (like becoming online), but that's it.

[2017-07-27 16:54] jflyper commented on #3631
They is it called CAPAcity if the value should be amount of electricity consumed?

Capacity is "the total amount that can be contained or produced".

[2017-07-27 17:22] swilkens commented on #3641
@jflyper scope confirms the HC-05 module is completely silent on its TX after power cycling the HC-05 while the FC is connected and powered. The module HC-05 module is completely fine if I then power cycle the FC as well as the module though. Seems something is wrong with the HC-05, I'll hook it up to a programmer and see if I can figure out what's up.

Either way, thanks for taking the time to re

[2017-07-27 17:22] #3641 closed

[2017-07-27 20:28] AirBreak69 commented on #3605
Thanks so far, no probs with the current PR. Unfortunately the board currently is "copterless".
Maybe i can do some lab tests the next days...

[2017-07-27 20:50] swilkens commented on #3641
Actually @jflyper two small verification questions:

1. Did you power the bluetooth module from a +5 from the FC or from an external regulator? You say no constraint on how the HC-06 was powered, did you try with the on board +5 as well as an external +5?

2. Do you have a way to get the bluetooth module into AT mode and check the UART settings on your bluetooth module? Mine is on 115200,1,0 (chec

[2017-07-27 21:26] RunningPenguin opened #3646 "3.1.7 - SPRacing F3mini Dshot not working on channel 4"
Hello,

I build a new quad with the SPracing F3mini board and Kiss 24A ESCs. I updated the ESCs to FW 1.0.2 through FTDI cable.
Then I updated the FW of the ESCs with serial passthrough - works perfect for me when the fastmode is deactivated. Thanks for these very cool feature!

After that I enabled Dshot for testing purposes and motor 4 was not spinning and the LED didn´t light up.
I swapped the

[2017-07-28 00:01] wolverin3 commented on #2846
Yes, like you said, it seems my soldering joint is the problem, looks fine visually, wasted so much of my time.

Btw, although I can get it online now and change the frequency, but it seems not to save it after reboot. It is always using unknown freq (unable to scan) after rebooted and I need to manually change the freq again if I want to fly the quad. Is this the prob that you mentioned when usin

[2017-07-28 00:19] jflyper commented on #2846
Exactly.

V2 supports pit mode, and there is a command code that investigate frequency set for the pit mode. The 3.1.7 driver use this command code to obtain the frequency during initialization. Unfortunately, this command code is interpreted as set frequency command by V1 devices, that throws V1 devices into unknown frequency during the initialization.

https://github.com/betaflight/betaflight/bl

[2017-07-28 05:25] jflyper commented on #3646
@RunningPenguin
As of 3.1.7, motor 4 (PWM4) of SPRACINGF3MINI is not capable of being used as Dshot output.

There may be an alternative pin you can use. Can paste output lines from CLI command "resource list"?

[2017-07-28 07:07] wolverin3 commented on #2846
Done, flashed BF 3.2 nightly and it is working perfectly.

You are the man @jflyper!

Thank you so much for your kind reply and for your expertees.

Cheers bro!!

Sent from my iPhone

[2017-07-28 08:21] jflyper commented on #2846
@wolverin3 That is good to hear. Happy props now! :)

[2017-07-28 08:54] RunningPenguin commented on #3646
Ah thanks, didn't know that. Now it makes sense that the motor4 output didn't work with version 3.1.0 and 3.2.0 also.

Output of "resource" there were no command with "list"

# resource
resource BEEPER 1 C15
resource MOTOR 1 A06
resource MOTOR 2 A07
resource MOTOR 3 B08
resource MOTOR 4 B09
resource MOTOR 5 A02
resource MOTOR 6 A03
resource MOTOR 7 A00
resource MOTOR 8 A01
resource PPM 1 B04
resou

[2017-07-28 09:06] jflyper commented on #3646
Hmm... 3.1.7 should accept "resource list". Can you try again?

[2017-07-28 09:09] RunningPenguin commented on #3646
Hi yeah my fault.

# resource list
IO
A00: FREE
A01: FREE
A02: FREE
A03: FREE
A04: ADC_BATT
A05: FREE
A06: MOTOR 1
A07: MOTOR 2
A08: FREE
A09: FREE
A10: SERIAL_RX 1
A11: FREE
A12: FREE
A13: FREE
A14: FREE
A15: FREE
B00: RX_BIND
B01: SYSTEM
B02: FREE
B03: LED 1
B04: FREE
B05: USB_DETECT
B06: I2C_SCL 1
B07: I2C_SDA 1
B08: MOTOR 3
B09: MOTOR 4
B10: FREE
B11: FREE
B12: SDCARD_CS
B13: SPI_SCK 2
B14: SP

[2017-07-28 09:35] jflyper commented on #3646
Ah, I wanted dshot enabled, but this serves the purpose.

Okay, try this

(1) Rewire your motor 4 to PWM8.

(2) Use the following command to remap motor 4 to PWM8

[code]

[2017-07-28 10:24] RunningPenguin commented on #3646
Thank you so much. It did the trick.
For others you have to use the port declared with "7" on the top side of the PCB this is PWM8 like marked on the bottom side of the PCB.
With the above commands and Port7 DShot is working on SPracing F3mini and 4 motors.

[2017-07-28 10:30] hydra commented on #3646
could you provide a config dump so that others reading this can see what you did?

[2017-07-28 10:37] RunningPenguin commented on #3646
I ignored one warning that A01 is already used by Serial_TX 11.

soldered ESC/Motor4 to PWM8 (label mismatch on the PCB top side).
reset to default.
`resource motor 8 none
resource motor 4 a1
save`

it gave me a message that A01 is already used by "SERIAL_TX 11" ignored that and worked with DShot150, DShot300, DShot600.

Here is the dump.

# dump
# Betaflight / SPRACINGF3MINI 3.1.7 Apr  3 2017 / 2

[2017-07-28 10:41] jflyper commented on #3646
@RunningPenguin

Good to hear that. Happy props now :)

@hydra
Timer assignments may need some review for SPRF3MINI. There are too many DMA collisions.
[code]

[2017-07-28 10:51] jflyper opened #3650 "Per use based allocation of serial buffers"
Issue status: For discussion

Some random observations:
1. Current serial buffer allocation size are uniform on both rx and tx, and the size follows the largest of all possible rx or tx buffer requirements.
2. Buffer allocation is done in device level during `init`.
3. Half-duplex or simplex applications don’t need one of the rx or tx buffers.
4. Serial RX protocols with ISR callback doesn’t even

[2017-07-28 11:15] ledvinap commented on #3650
One possibility is to require caller of serialOpen to provide own buffers. But that will reduce memory usage only when there isn't too much modules using serial ports ...

[2017-07-28 12:24] TheIsotopes opened #3651 "BF 3.2.0 - SPRacing F3 Evo logging on sdcard motor 1 stops turning"
using latest jenkins build 1513 ... if i will fly with 4k/4k and logging on sdcard motor 1 stops turning 3 - 4 sec. after arming ... deactivate blackbox or remove sdcard before arming and motor 1 not stops
but if i will fly with 8k/4k and logging on sdcard i do not have this issue

edit:
investigated now and found the last running build without this issue - it's build 1486
imho [jenkins build 1487

[2017-07-28 15:19] derekmoc opened #3652 "15x15mm Eachine TeenyCube FC. Any no hope of telemetry?"
Hi all,
Foolishly assumed that all FCs came with a smartport option these days and bought one of these

https://www.banggood.com/15x15mm-Eachine-TeenyCube-Spare-Part-F3-6Dof-Betaflight-2-4S-Flight-Control-with-5V-BEC-p-1135796.html?rmmds=search

Just realized there is no mention of telemetry or smartport anywhere.  Its a long shot but can I use the Led Strip somehow by remapping resources?

[2017-07-28 16:12] jflyper commented on #3652
Do this
[code]

[2017-07-28 17:01] Jdroid9 opened #3653 "Spracing f3 evo brushed issue"
I accidentally flashed my sp racing f3 evo brushed with the f3 evo binary.  I went and configured it with no issue before I realized that I flashed the wrong binary.  So I went back and flashed the f3 evo binary and now it is locked up and will not connect to my flight controller.  I have tried re-flashing it several more times.  Is it recoverable or is it dead?

[2017-07-28 17:14] jflyper commented on #3653
@Jdroid9 Is there a firmware (binary) for "sp racing f3 evo brushed"? Never seen one before.

[2017-07-28 17:45] Jdroid9 commented on #3653
You are supposed to flash the f3 evo brushed with the f3 evo binary.  And I meant to say that it wont connect to the configurator now.  Sorry about that.

[2017-07-28 19:52] pango opened #3654 "BF3.2 DYS F4 not flying"
I've installed the hex file for the omnibusf4 Target on my DYSF4 from Build #4 .
All RC Inputs are visible in the receiver tab. And Throttle in the OSD.
After the quad is armed it does nothing.
It does not react to any RC input.
Blackbox Log and CLI Dump can be found here:
https://drive.google.com/drive/folders/0B3_cYIppuywuemZ0TWl1Rll3NE0?usp=sharing

[2017-07-28 20:04] wind0r commented on #3654
Configuration Issue.
Cutoff is set to 0. Arming isnt possible which that value,

[2017-07-28 21:01] pango commented on #3654
Ok, looks like I messed up the cutoff and the normal filter value.
I chaned it and now the quad reacts to my input.

[2017-07-28 21:01] pango commented on #3654
Maybee one should prevent users like from dooing that by not allowing a value of zero for the notch filter cutoff?

[2017-07-28 21:02] #3654 closed

[2017-07-28 22:30] jflyper commented on #3653
What are the nature of binaries that is wrong and correct?

And ... I'm still confused. Is this what happened?

(1) After the first flash with wrong one, you could connect to your FC.

(2) Then flashed with correct one, and you couldn't connect to your FC any more.

(3) After that, you can flash the correct one, presumably using BOOT0 button/pad, but you can't connect to your FC.

[2017-07-29 02:19] jflyper commented on #3650
It's one way of doing it.

But the buffers still has to be allocated dynamically within the serial port user.

8. Who allocates the buffer: (1) users of serial ports (2) `openSerial`, being passed with size request, or  (3) device level open, being passed with size request.

[2017-07-29 03:05] jflyper commented on #3650
9. Current serial port users and buffer requirements (Needs amendment)

| Module | Rx | Tx | Note |
|---------|---|---|------|
| Blackbox |   |   |   |
| CLI |   |   |   |
| GPS |   |   |   |
| SmartAudio | 11  | 7  |   |
| Tramp | 16 | 16  |   |
| MSP Serial |   |   |   |
| CRSF | 0  | 36  |  ISR callback, CRSF_FRAME_SIZE_MAX |
| IBUS | 0  | 6  | ISR callback  |
| JETIEXBUS | 0 | 0 | ISR callback

[2017-07-29 03:10] derekmoc commented on #3652
Thanks jflyper,

No luck with your suggestion, tried "resource serial_tx 11  A08" as well as "resource serial_tx 11 a8" as the led_strip resource used A08.  Dump of _pre_ your changes below.

Receiver is the XSR-M and I have tested it on a different FC (EMAX Femto) and battery cell voltage comes through fine on A4 as well as vfras and all the other usual things.

2017-07-29 @ 00:21:44 -- Running -

[2017-07-29 03:32] derekmoc commented on #3652
Thanks jflyper, that was a great help, at first I couldn't get it to work then I realized I still had smartport turn enabled on UART2.  Also changed 'resource serial_tx 11 a8' to 'resource serial_tx 11 A08' as that what was allocated to the led_strip, not sure if I needed to though.

Thanks again for your help, feeling the Betaflight love.

[2017-07-29 04:24] jflyper commented on #3652
@derekmoc All set now?

[2017-07-29 06:50] chime13 commented on #3553
I tried Configurator 3.1.2 hoping that the function would be implemented but the new buttons don't show up....I used the last updated messages.json....

[2017-07-29 06:53] AirBreak69 opened #3656 "Build 1515 does not save CLI settings"
@martinbudden  @blckmn Build 1515 falls back to defaults. No settings given by CLI are stored after "save" command.
After "save" it reboots and the defaults are back.
I'm using a DYSF4PRO. Last build i positively tested was 1513.

[2017-07-29 07:28] TheIsotopes commented on #3656
can confirm this on revolt and spracingf3evo :(

[2017-07-29 07:35] Arakon commented on #3656
And Omnibus.

[2017-07-29 08:28] Vidalcris commented on #3656
@TheIsotopes you tried 1514 without any problems right ?

[2017-07-29 10:30] derekmoc commented on #3652
Works great now, thanks again for the help.  Have put a link to this on rcgroups

[2017-07-29 10:31] #3652 closed

[2017-07-29 10:40] Arakon opened #3657 "Some OSD settings not available in CLI?"
Horizon Sidebar setting doesn't seem to appear in a diff or full dump, or "get".
Same goes for the timer setting (warning time i.e. for armed time), it's always 10 by default even after pasting a dump.
I can change them by using the configurator.

[2017-07-29 10:57] DanNixon commented on #3657
What firmware version are you using (if its 3.2 then what Git revision)?

[2017-07-29 11:12] blckmn commented on #3656
This is now resolved with the next build. Thanks for letting us know :)

[2017-07-29 11:12] #3656 closed

[2017-07-29 12:17] martinbudden commented on #3650
@jflyper , sorry, I think I overwrote your GPS TX value in the table.

[2017-07-29 12:24] digitalentity commented on #3650
Are we going to end up having `malloc` and heap?

[2017-07-29 12:25] #2613 closed

[2017-07-29 12:26] DieHertz commented on #2613
Feature is in master for a while and works for many people. There's more to be done, e.g. rework software PWM version to hone it for F4/F7 and also allow hardware PWM timer sharing, but it'll take some time.

[2017-07-29 12:39] martinbudden commented on #3650
The idea was just to use `malloc` in the initialisation. However I agree that this is potentially a lot of work, may introduce errors, and will use more FLASH. Something to investigate for 3.3.

My personal view is that we can save a lot of RAM by more careful setting of buffer sizes etc, and we should do that first. If we still find we don't have enough RAM then we can look into `malloc`.

An ini

[2017-07-29 13:02] jflyper commented on #3650
It's too early to talk about implementation details, but I was thinking of managing serial buffer by equally divided blocks (say, 64B, by looking at the table above), and use an allocation bitmap for simplicity. Drawback of the bitmap approach is that a user has to remember how much memory it claimed, but this could be handled entirely with in `serial.c`.

[2017-07-29 14:12] TheIsotopes commented on #3651
new update ... using now build 1517 but the issue still exists

now i'm going from dshot150 to dshot300 and there seems to be no more problem ... bench test was successful ... can someone explain this ... hope the later flight test runs without problems

[2017-07-29 14:24] Arakon commented on #3657
Literally any Git revision. It's been happening in any build of 3.2.0 for several weeks for me, last one I tried it with being 402de03bd402ff6d6e5260dff404e934118cfeb3.

[2017-07-29 15:25] DanNixon commented on #3657
Timer configuration is stored in the `osd_tim1` and `osd_tim2` settings, this stores the entire configuration (source, precision and alarm threshold) so is not easily manipulated via the value alone. (it is done this way to save flash space)

Horizon sidebars are missing, I'll add that now.

[2017-07-29 15:57] #3588 closed

[2017-07-29 16:17] Jdroid9 commented on #3653
That is exactly what happened.

[2017-07-29 17:20] #3617 closed

[2017-07-29 20:25] pechovic commented on #3134
Hi guys, did you go out with this item yesterday? Seems like it's not working. I reported the issue in the betaflight-configurator project https://github.com/betaflight/betaflight-configurator/issues/573

[2017-07-29 23:13] chime13 opened #3669 "Configurator 3.1.2 Rateprofile selection is broken"
Symptom:
Under PIDs tab, Rateprofile box defaults to last setting and remains there no matter what input is made.
Normally, I can toggle rates from my TX using an assigned AUX. 3.1.2 no longer responds to Rateprofile selection.
I did do not have this issue on 3.1.1 and confirmed in 3.1.2
Downgraded to 3.1.1 until issue is resolved

[2017-07-29 23:19] sqweezr commented on #2220
I have the same problem, but if i now flash without a full chip erase, it reboots and wont start. I can only see it in DFU mode. How can i fix this?

[2017-07-30 02:10] mxnew2004 commented on #3599
I have the dys f4 board.  I can confirm that when you activate the beeper my motors twitch while not armed.  It's as if the beacon is being activated by the buzzer.  I have not noticed the motor twitching issue while the quad is armed.

[2017-07-30 03:41] blackkstar1 opened #3671 "Helix Mwosd no longer reading data on 3.2"
The vtx osd firmware reads no data once you upgrade to betaflight 3.2 for the Impulserc Helix.

[2017-07-30 04:29] adrianmiriuta opened #3672 "build environement broken after STM driver update"
---------------------------------------
%% (size optimised) vtx_rtc6705.c
make[1]: *** No rule to make target 'lib/main/STM32F30x_StdPeriph_Driver/src/stm32f30x_comp.c', needed by 'obj/main/KISSFC/stm32f30x_comp.o'.  Stop.
make[1]: *** Waiting for unfinished jobs....
%% (size optimised) vtx_tramp.c
----------------------------------------

[2017-07-30 04:55] jflyper commented on #3671
@blackkstar1 Can you check the MSP assignment to the UART port that is connected to the OSD?

[2017-07-30 06:15] blackkstar1 commented on #3671
Man, good call.  I completely forgot to check.  Msp was turned off on uart 3.  I turned it back on and its reading the data again.  Sorry for the goof and troubles.

[2017-07-30 06:15] #3671 closed

[2017-07-30 07:19] TheIsotopes commented on #3651
after test flight with dshot300 the issue is gone ... imho i think with dsot150 was  desync problems ... just wonder why dshot150 with 4/4 makes problems and dshot150 with 8/4 did not  ... closed now

[2017-07-30 07:19] #3651 closed

[2017-07-30 08:24] AirBreak69 commented on #3672
I got rid this by simply deleting all intermediate files below the \obj\main folder.
By this you make a clean compilation.
Additionally you can do: make clean

[2017-07-30 08:28] DieHertz commented on #3672
This is indeed caused by leftovers from your last build before updating. This is generally the case with building any software, whenever you update toolchains do a clean

[2017-07-30 08:28] #3672 closed

[2017-07-30 08:32] DieHertz commented on #3669
Thanks for your report.
BF configurator has it's [own](https://github.com/betaflight/betaflight-configurator) repo, please report configurator-related issues there.

[2017-07-30 09:38] doobran commented on #2846
Hi all! I have just got my V1 Unify working as well thanks to these comments! The only problem I am having now is that when even you repower the quad and the BFF3 OSD loads it puts the unify into a mode where I cannot see anything on any channel. I have PIDflight and when it reads the settings it says the VTX is still on the channel I left it. To get the image back I have change the channel to ano

[2017-07-30 09:56] AirBreak69 opened #3673 "Accelerometer reading on F4's in configurator/sensor: factor 2"
Don't now, if correctly placed here and really relevant:
Noticed that in configurator/sensor the accelerometer readings are doubled on F4's (DYSF4PRO, REVO).
F3/F1's (LUX_RACE, NAZE) are OK.
My "fear": If not only a scaling problem towards MSP the levelling algorithms may be affected.
In blackbox files the values are OK (1g=1g).
Checked with the latest build 1523 but occured months ago.

[2017-07-30 10:14] agmorpheus opened #3674 "OSD but no Video"
I have the betaflight f3 (software version 3.17), a TBS Unify Pro HV and a Foxeer Cam. I wired all like on this plan: https://blog.seidel-philipp.de/wp-content/uploads/2017/03/Betaflight_F3_Flight_Controller_Anschlussplan_Wiringplan.jpg
The problem now is, that I have a clear OSD but only a snowy video. I don’t know whats the problem. Can someone help me?

[2017-07-30 10:22] wind0r commented on #3674
Sounds like broken wire or cam.
Since the OSD is working the chip is fine.

[2017-07-30 10:26] jflyper commented on #3674
@agmorpheus Betaflight github repo issue is for reporting and discussion of making Betaflight software. For issues related to particular hardware setup, please consider using appropriate thread in RCG.

https://www.rcgroups.com/forums/showthread.php?2795213-Betaflight-F3-Flight-Controller-OSD-PDB-SD-card-BEC-current-sensor

[2017-07-30 10:26] #3674 closed

[2017-07-30 11:27] jflyper commented on #3673
I've confirmed it with F7, F4 and F3. Only F1 is unaffected.

Since the blackbox is showing the correct value, I suspect it caused by conversion process in MSP.

[2017-07-30 12:09] RipperDrone opened #3675 "Update 3.1.x --> 3.2 today's and last weeks Nightly: New Port Enumeration"
I know upgrading is not supposed to preserve all old settings, but still many users will fall for this little trap: After restoring BF 3.1.x diff into latest 3.2, ports will be enumerated with an offset (or maybe a new port has been added in btw existing ones):

On my Omnibus F7 target, Serial RX has been moved from UART1 to UART2 after restoring. Maybe UART2 was not shown before or it has just be

[2017-07-30 12:13] RipperDrone opened #3676 "BF 3.2 - props spinning full throttle for 3-4 seconds without arming"
Any idea which state could produce this?

Just found one BF early adopter in Germany reported deep prop cut injuries, he's in hospital now... I asked him for his diff and setup to know more...

Have BF 3.2 running on 3-4 quads now, no such thing ever happened...

[2017-07-30 12:16] wind0r commented on #3676
Those pictures arent appropriate in a bug tracker.

Without Information nothing can be done.
Some Radio misbehaving or using the broken binary from yesterday which didnt saved configs.

[2017-07-30 12:20] RipperDrone commented on #3676
Pic deleted. Some information has been shared in the meantime:

- he did a full flight, no probs
- landed, disarmed on switch -> motors off
- RC was still on. He approached the quad (presumably with the RC in his hand) and lifted it up from the ground
- all of a sudden props started spinning high for a few secs, then stopped

Sounds like Failsafe might have kicked in due to proximity of RC to quad

[2017-07-30 12:23] Arakon commented on #3676
I've been flying 3.2.0 on 3 different quads in the past few weeks and never saw anything like this happening.
That includes picking up the copter in the same hand as I was carrying my transmitter (turned on), so it was literally inches from the receiver.

[2017-07-30 12:25] dennismatovich opened #3677 "F4 boards and spektrum receivers"
Currently experiencing trouble using f4 revolt v2, f4 dys, f4 matek boards with spectrum receivers. The 2 receivers telemetry and non-telemetry both work perfect on f3 boards, these receivers will only light up solid when attached to the f4 board without a transmitter being on.  All tech support suggestions fail with same result or no light on receiver at all. Not once has the receiver entered "bi

[2017-07-30 12:31] DieHertz commented on #3675
No way to do that, CLI is for power users who understand possible consequences

[2017-07-30 12:39] DanNixon commented on #3676
@RipperDrone I was about to say "failsafe can never arm a disarmed quad", however after testing it appears that if a user sets their stage 1 failsafe to set the aux channel used for arming to within the ARM box range then the quad will arm if the RX link is lost.

This may have been what happened, however I'd expect this to come up in bench testing.

I'd like to see his `diff` if you get it to con

[2017-07-30 12:55] jflyper commented on #2846
@doobran

If you had that much time for typing, you could read few comments up.

[2017-07-30 12:55] #2846 closed

[2017-07-30 13:12] jflyper commented on #3673
Wait... It's acc/gyro chip dependent...

[2017-07-30 13:23] jflyper commented on #3673
It's this one
Added runtime setting of gyro SPI pin #2586

But I don't see anything peculiar...

[2017-07-30 13:27] #3675 closed

[2017-07-30 13:55] doobran commented on #2846
Wow, no need to be rude. I found the comment, I missed it before. Ill try that solution now.

[2017-07-30 14:04] RipperDrone commented on #3305
which version is your 'current fw'? There are different 'current' versions around for download...

[2017-07-30 14:11] chime13 commented on #3669
I used the link provided in BFC to report the issue. (Last line in “Contributing” paragraph)  Maybe someone should write the correct link to avoid these issues

[2017-07-30 14:13] jflyper commented on #3677
@dennismatovich If you are trying to get your receiver into bind mode while connected to F4's serial RX connector, which usually have uni-directional inverter, it won't work.

This is a limitation brought by F4 design and board design. BF3.2 will give you some option to overcome this limitation (but not universal, since uni-directional inverter can't be modified by software to do bi-directional in

[2017-07-30 14:47] partoco opened #3680 "What could be causing the motors to move randomly when the dron is disarmed?"
https://www.youtube.com/watch?v=uoZ-hZpFmBA

Quad: Armattan chamaleon
Fc: cl_racing f4
Receiver : turnigy ia6c
motors:Armattan OOmph 2206/2300 KV
betaflight 3.2.0

[2017-07-30 15:36] RipperDrone commented on #3676
nuffn special...

# diff
# Betaflight / SPRACINGF3 3.2.0 Jul 20 2017 / 15:41:34 (20748dc)

feature -RX_PPM
feature -TELEMETRY
feature -TRANSPONDER
feature RX_SERIAL
map TAER1234
serial 2 64 115200 57600 0 115200
aux 0 0 2 900 1300
aux 1 4 2 900 1300
aux 2 13 0 900 1300
aux 3 26 1 1650 2100
aux 4 28 2 900 1300
set gyro_sync_denom = 2
set baro_hardware = NONE
set serialrx_provider = SPEK2048
set mot

[2017-07-30 15:38] RipperDrone commented on #3680
Which motor protocol?

Typically had this when ESCs were not calibrated correctly and even "zero" motor output was above ESC min_PWM so motors started twitching...

[2017-07-30 15:40] Ozzy33 commented on #3680
You left out an important piece of info, what esc and esc FW are you running? If they are Atmel based, this is the old Atmel chirp bug, lower min_thro to ~980 or even lower.

[2017-07-30 15:47] DanNixon commented on #3680
What is the Git revision of the firmware you are using, there used to be an issue with jitter on the motor outputs affecting analog motor protocols earlier on in 3.2.

[2017-07-30 15:55] DanNixon commented on #3676
Unless it was just bad failsafe settings on the RX/radio then. I don't use Spektrum so not sure what it would default to.

[2017-07-30 15:58] jflyper commented on #2846
@doobran Sorry, I wanted to be funny 😅

[2017-07-30 16:25] DieHertz commented on #3676
There actually is something special, this guy (and probably other Spektrum users) has ARM on 900-1300.
When his Rx goes into failsafe, it may as well output a 900-something signal on aux channel instead of no-pulses or low-width pulses.

[2017-07-30 16:47] partoco commented on #3680
Hi all, the protocol i am using is dhot 600 and the firmware of the esc is the ch25, 16.6, but i think i found the bug.

The first thing that I have done is to make sure that I have the channels well separated from each other and do not overlap between them. After I have separated the buzzer (it comes integrated in the racing of armattan) Of the arming channel, leaving it only one chanel to arm an

[2017-07-30 16:51] DanNixon commented on #3680
@partoco So it only happens when the buzzer is on?

In that case it may just be a result of the beeper being forwarded to the ESCs (via DShot commands).

Usually a small amount of motor actuation is expected but not enough to actually spin the motor, you could try reducing the strength in BLHeli (IIRC it is called "beacon strength" but check this before making any changes).

[2017-07-30 16:54] partoco commented on #3680
Effectively, it occurs only when the buzzer is active. Thank you, I'll look at what value it is

[2017-07-30 17:13] AirBreak69 commented on #3673
@jflyper Thanks for investigating. You may be right, indicates to MPU6000+SPI
DYSF4PRO: ACC=2g, MPU6000, SPI? (no I2C listed in resource)
REVO: ACC=2g, MPU6000, SPI (board schematic), I2C for mag/baro
AIRBOTF4: ACC=2g, MPU6000, SPI? (no I2C listed in resource)
LUX_RACE: ACC=1g, MPU6500, SPI? (no I2C listed in resource)
OMNIBUS(F3,OSD,bruhed): ACC=2g, MPU6000, SPI? (no I2C listed in resource)
SPRAC

[2017-07-30 18:34] arock12 commented on #3580
Im having this exact problem right now. Everytime i enter the osd menu it freezes. Any fixes?

[2017-07-30 18:40] jflyper commented on #3580
@arock12 If you read the message immediately above yours, you should understand the fix is on the way 😉

[2017-07-30 18:44] DieHertz commented on #3580
@jflyper I'm fine with it, just thinking big from the begging)

[2017-07-30 19:22] partoco commented on #3680
The value of beacon strength is 80

[2017-07-30 19:43] Ozzy33 commented on #3680
go update your BFC, they just updated it this morning.

[2017-07-30 19:48] partoco commented on #3680
Yes thanks. Was updated to 3.1.3, but the same thing is still happening

[2017-07-30 19:53] dennismatovich commented on #3677
Thank you @jflyper for response.   I can bind the receiver and radio without the f4 boards, when wired to these boards the link is broken between receiver and radio, the problem exists without binding...

In my quest to finish this build with an f4 board and spectrum receiver combo, my findings are: The Omnibus F4 Pro team figured this problem out and have a specific spectrum jst port, when the re

[2017-07-30 20:52] DERBYJ opened #3684 "BF 3.2 motolab has no motor #1 signal"
No motor  signal on motor #1 pad for Motolab target. Had to remap to motor 5 and it worked.
here is a CLI list after flash.  Did it on both of my Cyclone V 1.2 after flashing BF 3.2.  Both quads worked before the flash.

# resource list
IO
A00: BEEPER
A01: FREE
A02: FREE
A03: FREE
A04: MOTOR 1
A05: ADC_BATT
A06: MOTOR 2
A07: FREE
A08: FREE
A09: I2C_SCL 2
A10: I2C_SDA 2
A11: FREE
A12: FREE
A13: FRE

[2017-07-30 21:28] techcoast opened #3686 "Beeping codes"
So, I have a couple of quads that have similar problems. Both beep continually after being plugged in regardless of having voltage meter turned off, but will still fly just fine.  Is there a code somewhere that tells me what the error is so I can get these beepers to turn off?! Neither have VBat or Current meter enabled. One is an SPF3 and the other is a DYS F4. Thanks!

[2017-07-30 21:52] basdelfos commented on #3553
@chime13 this PR and the BF PR are not merged yet, therefor it is not available yet.

[2017-07-30 22:51] swilkens commented on #3676
AFAIK Spektrum receivers program their failsafe positions for all channels during the binding:
https://www.spektrumrc.com/Technology/SmartSafe.aspx

If we assume he had his arm switch on low during the bind and further assuming he had the ARM mode in the firmware set to the low range, a loss of signal on the receiver could drop the channel to the failsafe and trigger the ARM.

[2017-07-31 00:33] carloscampos775 commented on #3305
FW# 170619

From: Reinhard [mailto:notifications@github.com]
Sent: Sunday, July 30, 2017 10:05 AM
To: betaflight/betaflight <betaflight@noreply.github.com>
Cc: Carlos Campos <carloscampos775@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [betaflight/betaflight] Taranis - "Sensor Lost" (#3305)

which version is your 'current fw'? There are different 'current' versions around for downlo

[2017-07-31 00:34] jflyper commented on #3677
@dennismatovich You mean you just can't receive any RC input with spek?

[2017-07-31 00:39] jflyper commented on #3686
@techcoast Betaflight github is a place for reporting issues and discussion for making Betaflight software better. Can you redirect your question to an appropriate thread in RCG? You can start with DYS thread, where I will be with you.

https://www.rcgroups.com/forums/showthread.php?2856541-DYS-F4-OSD-BEC-AiO-Flight-controller

[2017-07-31 00:39] #3686 closed

[2017-07-31 00:49] dennismatovich commented on #3677
on three different f4 boards there is no communication between receiver and transmitter, on the omnibus f4 pro it works great.  The 2 receivers do not have srxl and they are not satellite receivers, if that helps...

[2017-07-31 01:12] #3580 closed

[2017-07-31 01:17] jflyper commented on #3677
@dennismatovich

Are you saying
(1) RC receiver does not link with RC transmitter, or
(2) RC receiver links with RC transmitter, but there is no RC command stream received by FC?

[2017-07-31 02:16] dennismatovich commented on #3677
1

[2017-07-31 03:38] jflyper commented on #3684
@DERBYJ

TIM3 CH2, assigned to PA4 (motor 1), does not have DMA capability, and that is why motor 1 does not work with Dshot if this is your case, and the board wiki has a line for this.
https://github.com/betaflight/betaflight/wiki/Board---MOTOLAB#faq--known-issues

If this is not your case (non-dshot), please do a full chip erase when you flash, or execute "defaults" on cli and see if it makes a

[2017-07-31 04:26] mactac opened #3687 "3D mode enabled but turned off does not function properly"
If 3D mode is enabled, but turned off via modes by a switch, FC does not function exactly the same as if 3D mode is disabled.

In other words, if 3D mode is enabled, but you use a switch to turn it on and off, and you turn it off, it should act the same as a normal quad with 3D mode turned off.

Among other things, I noticed that the motors spin faster when armed that without 3D mode enabled.  Als

[2017-07-31 04:34] jflyper commented on #3677
@dennismatovich Doesn't that mean your receivers are not bound to transmitters? I'm not a Spek user, but my guess is that receivers links to transmitters regardless of FC presence if they are bound properly.

[2017-07-31 05:38] michael-blue2 opened #3688 "Frsky L9R RSSI OSD"
I have been trying to get my rssi on my betaflight f3 board by using the l9r receiver but without luck. I have connected only the signal wire from the back of the receiver to the pd of the betaflight but if i am correct that is a digital signal not analog. Is there a way around that?

[2017-07-31 06:51] jflyper commented on #3688
@michael-blue2 I think this is a support request. Can you redirect your problem statement to the appropriate thread in RCG?

https://www.rcgroups.com/forums/showthread.php?2795213-Betaflight-F3-Flight-Controller-OSD-PDB-SD-card-BEC-current-sensor

[2017-07-31 07:11] RipperDrone commented on #3305
Have you enabled any additional sensors like GPS which might be misfiring or not be present at all?

[2017-07-31 07:13] RipperDrone commented on #3676
...but it still sounds like all the AUX channels should hold their last status (which was disarmed state as per his description)

[2017-07-31 07:13] RipperDrone commented on #3680
Have you tried setting min_throttle to <980?

[2017-07-31 07:14] RipperDrone commented on #3680
verified your RC in Betaflight Configurator that it actually outputs a proper range from 1000-2000us?

[2017-07-31 07:15] RipperDrone commented on #3680
set min_check to >1050?

[2017-07-31 07:19] partoco commented on #3680
Hello ripper. betaflight configuration, this is how I came from armattan. I'm going to check that

[2017-07-31 08:01] swilkens commented on #3676
After hooking up my Spektrum sat receiver I can confirm that a loss of signal (turning off the radio) will result in:

Throttle - Fully low regardless of failsafe or previous stick position.
Yaw, Pitch, Roll - Positions set at binding stage (mid stick in my case)
AUX1 / AUX2 switches - holds the last command, doesn't seem affected by receiver fail-safe

This doesn't match with the website which st

[2017-07-31 08:09] wind0r commented on #3676
@swilkens your result is exaclty what betaflight is doing when a failsafe is detected but i think we also need to check the Spektrum Radio Config.
I think similar to Frsky you can enable a failsafe mode on raido/receiver where channels got changed to user defined values. That could arm a quad.
Every Receiver should be bound with Failsafemode "No Pulse" (i dont know the spektrum name for that)

[2017-07-31 08:23] DanNixon commented on #3680
I think we should rule out the DShot beeper before suggesting potentially irrelevant fixes.

@partoco Try setting the beeper strength in BLHeli to zero and testing again, this should disable ESC beeping using the motors and will confirm if my theory was correct.

[2017-07-31 08:24] swilkens commented on #3676
@wind0r Clearly I haven't had my coffee yet, previous results was stage1 setting the channels - not the actual receiver.

Doh! I'm hooking up a scope to a separate receiver to understand the actual fail safe behavior.

Additionally - I wouldn't be surprised if a satellite receiver doesn't offer fail-safe features, as these are usually connected to a main receiver. Do we know the exact receiver the

[2017-07-31 08:58] TheIsotopes opened #3690 "custom Firmware without ESC-Sensor"
i'm testing a firmware without ESC Sensor ... removed ` #define USE_ESC_SENSOR` from `common_fc_pre.h` and `target.h` ... but if i going to bf configurator power & battery tab and using `Onboard ADC` i become a very long `Voltage Meter` list (see sreenshot) ... maybe there are over 200 entries of `Battery` and also the `Serial link status` indicator flashes like crazy ... is this a bug from firmwa

[2017-07-31 10:56] basdelfos commented on #3690
Most of the credit about the new Power & Battery tab goes to @hydra ;)
But I recently did a rework of layout for the tab.

I will have a look into this to verify it is a configurator or firmware bug.

I expect that the serial link status flashing like crazy is a result of the long list of battery entries.

[2017-07-31 11:27] dennismatovich commented on #3677
I believe the autobind feature with the two receivers changes how they work with FC. Normally a bind plug is used and no problems with most spectrum receivers. When autobind receiver is used now the fc controls the state of bind not the bind plug, which is great until f4 boards popped up...

[2017-07-31 11:45] DERBYJ commented on #3684
@jflyper
I will just assign pin like I did on first FC I flashed.
Thank you much!!!!

[2017-07-31 11:45] #3684 closed

[2017-07-31 12:32] jflyper commented on #3677
@dennismatovich

Can we talk on a single FC and simple satellite receiver to make this conversation more efficient?
Which setup uses satellite? Or, do you have any preference on which FC you want to tackle first?

[2017-07-31 13:27] dennismatovich commented on #3677
I'm looking forward to the new release.

Yes great idea, I have the matek f405 on my bench and a spm4648 spectrum serial quad receiver.

Side note: I received support from matek on spectrum receiver issue,  using a remote satellite receiver in dsm2 mode was successful on rx1 rx2 rx3 rx4 and rx5.

[2017-07-31 13:33] jflyper commented on #3677
Okay, so far, so good. What's next? 4648 in telemetry mode?

[2017-07-31 13:47] dennismatovich commented on #3677
the 4648 is basic no telemetry, its a 3.3v serial receiver, reason for use is lightweight and has antenna diversity.  I will wire it to 3.3v, ground and rx2 for first test.

[2017-07-31 15:04] alfag4 commented on #3680
Some days ago when i installed BF 3.2 i had the same issue.
My FC is an Omnibus F4 Pro V3 - DShot600 with external buzzer. After some investigations i discovered that removing the buzzer from the Aux channel solved the issue but in this manner i cannot use the beeper so i revert to 3.1.7.

Try to completely remove the beeper from any aux channel

[2017-07-31 15:14] partoco commented on #3680
DanNixon, I'm going to prove that having happened, thanks for your time, really

alfag4, that is the temporary solution that I have chosen. Separate the buzzer from the arming channel and use it only when necessary. a greeting

[2017-07-31 15:15] jflyper opened #3692 "Tramp HV incompatibility issue with F4 hardware UARTs"
Issue reminder.

There has been multiple recent reports of Tramp HV not working with F4 hardware UARTs. Most claims that NONE of the UARTs work. The VTX itself works without a problem when connected to a software serial port.

[2017-07-31 15:55] dennismatovich commented on #3677
Went to chrome store launched betaflight configurator 3.1.3, connected to matek f405 and setup normal spektrum settings: **ports page** - port uart2 as serial rx, **config page** - spektrum serialrx, spektrum 2048, blackbox, osd.
save and reboot. The picture attached is result - no light at all on rx.
  The dx8g2 transmitter is not turned on during tests.

[2017-07-31 16:31] gubernator46 commented on #3676
Don't know if this information will be helpful:
We had a similar issue with the quad of my Kids lately. The quad was disarmed and one of the twins had the receiver in his hand, while the other one was picking up the quad.
For about a second (maybe shorter) the motors startet to spin.
Fortunatly the one holding the quad droped it fast.
After that I ranted the one holding the receiver, because I tho

[2017-07-31 16:45] dennismatovich commented on #3677
![screen shot 2016-11-06 at 01 07 50](https://user-images.githubusercontent.com/30570309/28788135-2f2aaae6-75ed-11e7-9a85-421a95daf65e.jpg)
Looks like after wiring this so many times I switched the 3.3 and signal wire. Found this a minute ago to check my connections...  So after that I now can bind to the receiver but in dsm2 only, that is a success to some level but not dsmx yet.  firmware -
 ver

[2017-07-31 17:44] digaus opened #3695 "Kakute F4 SmartPort getting worse over time"
Have the Kakute F4 and afte while I do only get sporadic values... same Bug seems to be present on the AOI version (same target). Have latest reciever FW and reciever was working fine another F4 before. So this seems to be a problem with the build in inverter of the Kakute board. Either software or hardware (I hope SW). Another user made this video showing the problem: https://youtu.be/yOPyDSde-eA

[2017-07-31 18:26] X-FOOT opened #3696 "3D mode goes immediatly full throttle"
i tested with Dshot 300  & multishot, before that, i first calibrated the escs in normal mode, thereafter set them to (reverse)bidirectional so that they spin correct
and enabled 3D mode
as soon as i arm the copter with the throttle stick in center and when i move the stick up and down the motors switch transition immediatly full throttle cw to ccw.

 i tested all kind of settings a whole day long

[2017-07-31 19:11] basdelfos commented on #3690
Something definitely goes wrong in the fw. Current firmware master reports 249 voltage meters with `MSP_VOLTAGE_METERS` when `#define USE_ESC_SENSOR` is removed or undefined.

[2017-07-31 19:12] basdelfos commented on #3690
Btw: why do you need a firmware without ESC Sensor?

[2017-07-31 19:21] fishpepper opened #3698 "automatic stylechecker for the fc code?"
Have you ever though of using an automatic style checker for betaflight?
I use cpplint a lot for my projects such as OpenSky (https://github.com/fishpepper/OpenSky/).
It really helps with many people working on the code and makes contributing much easier.
The initial setup (and the initial rework to be fully compliant to one owns style) is pita but once setup its really nice to have!

[2017-07-31 19:32] Tschingis opened #3699 "KISS CC board spins motors if powered up with arm switch turned on during power up"
Hi,

I have the following problem with my kiss cc driven copter when using latest bf3.2 builds:

reproduction:
- copter off, remote control off
- switch on remote control (taranis)
- turn on arm switch
- connect battery to copter
- copter initialises and motors start to spin

expected behaviour:
- copter initialises, motors do not spin
- disarm/rearm to start motors

I have this bug found in commi

[2017-07-31 19:33] TheIsotopes commented on #3690
Only to test a super stripped small firmware ... everything deactivated which i not use ;-)

when testing the firmware i noticed this issue ... can you fix this or we need to ask someone else?

[2017-07-31 19:43] DanNixon commented on #3699
Please provide a `diff` not a `dump`.

[2017-07-31 19:44] DanNixon commented on #3698
Just to add to this I like to have an automated format tool too (personally I like clang-format).

[2017-07-31 19:55] DieHertz commented on #3698
I prefer `clang-format` with K&R style as well.

[2017-07-31 20:54] basdelfos commented on #3690
I can fix this, it's on my todo list

[2017-07-31 20:55] jumatic commented on #3676
Had this issue also, but only one single time it happend, some time ago. And i am also a Spektrum user. Dont know which firmware it was, always when connecting up the Naze to BF with battery, the motors started spinning for 1 or 2 seconds while disarmed with multishot. Then a new FW came up and this problem was gone.
After that i finished my built on a 400 quad with 8" props, made a testflight, di

[2017-07-31 21:38] Tschingis commented on #3699
`
# diff
# Betaflight / KISSCC (KISS) 3.2.0 Jul 31 2017 / 18:04:21 (94e1c9e76)

aux 0 0 0 1800 2100
profile 0

rateprofile 0

# `

[2017-07-31 22:08] jumatic commented on #3676
Tried some scenarios. Only thing what i found is, if you adjust the failsafe valid pulse range near to the aux switch disarm range, and also have minimum throttle at 1000 where the motors dont spin, you pull down throttle stick and disarm, it is not. So you may think its disarmed and try to pick it up it will spin up. It will spin faster certainly with airmode active. I think this happend to me. S

[2017-07-31 22:34] DaEmpty commented on #3699
I have 2 copters with BF 3.2 with this behavior (XRacer and KissCC).
A third copter with Lux V2 Race and with a nightly build from last week does not have the problem.

# diff
# Betaflight / X_RACERSPI (XRC3) 3.2.0 Jul 31 2017 / 21:12:06 (dc06fc0d6)

feature -RX_PPM
feature RX_SERIAL
map TAER1234
serial 2 64 115200 57600 0 115200
aux 0 0 0 1375 2100
set serialrx_provider = SBUS
set min_throttle =

[2017-07-31 23:14] flint723 opened #3701 "BLheli passthrough doesn't work with BF 3.2.0 #37 on Naze rev5"
When I try to connect with BLheli configurator I get this message:
"This firmware version does not support BLHeli passthrough. Please upgrade to a newer version using a FC Configurator specific to your firmware."  Maybe this is BLheli configurator problem not BF, I don't know.

-Naze rev5 had 3.1.7, pass through works.
-I flashed 3.2.0 #24, #27, #37(the release candidate), none work.
-I flashed ba

[2017-07-31 23:59] claytonbakerjr opened #3702 "BF3.2 Radiance no #1 motor spin"
This morning I attempted to flash 3.2 onto my Furious Radiance board using this file: betaflight_3.2.0_FF_RADIANCE-37-dc06fc0d6.
Calibrated ACC and then Calibrated ESC's. All tones were normal during calibration. Even tones upon solid power on. In BF Configurator (I am running 3.1.3) I went to test each motor individually and #1 motor would not spin up yet the other 3 did fine. Opened BL Heli conf

[2017-08-01 00:35] jflyper commented on #3701
@flint723 BLHeli pass through has been dropped for 3.2 on NAZE target, because of the flash size constraints.

[2017-08-01 00:38] jflyper commented on #3702
@claytonbakerjr FF_RADIANCE is not supported target of the BF3.2.

[2017-08-01 00:52] jflyper commented on #3695
@digaus Have this setup worked before? Is the receiver is full working condition? I'm trying to isolate the source of the problem.

[2017-08-01 01:15] jflyper commented on #3677
Go for 3.2RC1, and after flashing, enter this cli command

[code]

You may want to try this also
[code]

Ref:
https://github.com/betaflight/betaflight/wiki/Spektrum-Satellite-Bind-for-3.2

[2017-08-01 01:28] flint723 commented on #3701
Ok thanks.

[2017-08-01 01:28] #3701 closed

[2017-08-01 01:53] noahsenesac opened #3703 "Quad can't connect"
Just got into the hobby and bought the FuriBee F90 miniquad. When I try to plug it into my computer and I try to connect it to BetaFlight, it won't work. I've already downloaded all the drivers, and don't know what to do now

[2017-08-01 03:00] jflyper commented on #3703
@noahsenesac It looks like a support request. The Betaflight github is a place for reporting and discussion for making Betaflight software better. Please redirect your request to the appropriate place; RCG thread for example. Thank you in advance.

https://www.rcgroups.com/forums/showthread.php?2771733-FuriBee-F90-90mm-Wasp-Mini-RC-Racing-Quadcopter

[2017-08-01 03:30] jflyper commented on #3702
@MJ666 Any comments?

[2017-08-01 03:41] #3703 closed

[2017-08-01 05:28] digaus commented on #3695
Not with the Kakute F4 nur with an Omnibus F4 and an F7. On Kakute it stops working after some time.

[2017-08-01 06:08] digaus commented on #3695
Also when Softserial is active (Motor 5 and 6) the LEDs are behaving odd.

[2017-08-01 06:10] Fritzekodi opened #3705 "It will not connect to my quad."
when i plug it in and click "connect," it says it failed to open port. please help! what am I doing wrong?

[2017-08-01 06:26] jflyper commented on #3705
@Fritzekodi This looks like a support request. The Betaflight github issues is a place for reporting and discussion for better Betaflight software. Please redirect your request to appropriate support channel,
such as an thread for your particular quad or controller.

Ref:
https://www.rcgroups.com/forums/search.php

[2017-08-01 06:32] jflyper commented on #3695
@digaus Your motor 5 output have timer collision with LED_STRIP. You can't use motor 5 nor softserial over this port when LED_STRIP is enabled. If you are running SmartPort over software serial and the software serial is on motor 6 (provided you are not using PPM; PPM also has a timer collision with motor 6).

[code]

[2017-08-01 06:38] digaus commented on #3695
I am running Softserial for the Split. Thats why I have RX in TX SS or is the split able to communicate bidirectional?

[2017-08-01 06:39] digaus commented on #3695
Could I use motor 5 for RX and motor 6 for TX?

[2017-08-01 06:59] jflyper commented on #3695
I don't think so.

Only if you are not using LED_STRIP.

[2017-08-01 07:04] jflyper commented on #3695
@digaus The title is running SmartPort. So, we were talking about different situation all this time. I'm disappointed...

[2017-08-01 07:05] digaus commented on #3695
Nono smartport is still the issue :) but led also

[2017-08-01 07:09] jflyper commented on #3695
Disable your LED and run softserial over motor 5 and 6. Run whichever you like, SmartPort or RC Split, but not both.

[2017-08-01 07:16] digaus commented on #3695
Kakute has a dedicated SmartPort pin which has a build in inverter. So I have SBus und UART3, SmartPort on UART1 and SmartAudio on UART6. For Split I now use SS on motor 5 and 6.

LED issue is related to SS nur SmartPort still does not work correctly only for short Time.

[2017-08-01 07:22] jflyper commented on #3695
@digaus

SmartPort: I suspect your SmartPort inverter is not functioning properly.

RC Split: It should work over software serial on motor 5 and 6 if LED and PPM are both disabled.

[2017-08-01 07:26] digaus commented on #3695
Yes but that would mean that a lot of Kakute F4 are faulty if it is the inverter...

Yes Split is working fine without LED.

[2017-08-01 07:29] jflyper commented on #3695
I have a F4 based FC with bidirectional inverter which does work stably for hours.
It must be your inverter or the receiver.

[2017-08-01 07:42] RipperDrone commented on #3676
Closing, since PRs have been created / merged by DanNixon to double-lock arming and to introduce toggle arming need when throttle is >min (to avoid unintentional arm when throttle is lowered back to min)

[2017-08-01 07:42] #3676 closed

[2017-08-01 08:51] martinbudden commented on #2537
Fixed byhttps://github.com/betaflight/betaflight/pull/2833

[2017-08-01 08:51] #2537 closed

[2017-08-01 08:54] martinbudden commented on #1198
Implemented in PR https://github.com/betaflight/betaflight/pull/3000

[2017-08-01 08:54] #1198 closed

[2017-08-01 08:57] martinbudden commented on #2816
Fixed by merge from CF.

[2017-08-01 08:57] #2816 closed

[2017-08-01 09:04] martinbudden commented on #3016
@borisbstyle , has this been fixed?

[2017-08-01 10:09] digaus commented on #3695
Contacted Holybro for more Infos regarding a possible design flaw...
Just one more question, could I use the RSSI pad (C01) for SS or for the LED?

[2017-08-01 10:11] #3657 closed

[2017-08-01 10:11] Noseflight commented on #3576
hi jangrewe, I can only tell you i have the asgard v2 , and have to use also omnibusf4sd target and as far as i know i dont have a barometer on it :)

[2017-08-01 10:31] jflyper commented on #3695
Unfortunately, no. It can not be associated with a valid timer channel.

[F405RG_PC0.pdf](https://github.com/betaflight/betaflight/files/1190268/F405RG_PC0.pdf)

[2017-08-01 10:53] #3576 closed

[2017-08-01 11:00] claytonbakerjr commented on #3702
Thanks, since I am not that in depth with the programming I am not really sure what to reply with. So in the email I seen a reply that the Radiance is not a supported target, that being said will it be removed? Was the PIN swap meant to accommodate a DSHOT Config by chance? I will be moving forward with the PICOBLX target to determine if other items start to show themselves. Thanks Appreciate the

[2017-08-01 11:00] riquezjp opened #3710 "3.2 rc2, logging rate disabled, cannot change."
Not sure if this is a configurator issue (3.2.0) or rc2.
I flashed & set up for DYSF4 (using dysf4pro target), no problems. I set onboard flash & 1khz logging.
I went out flying, great - recorded BB data, no problems!
However, when downloading the data later I noticed the **logging rate drop down box is blank** & if i change it & save, it returns to blank  - when i click on the dropdown it has "di

[2017-08-01 11:29] Tschingis commented on #3699
Hi, I like to add some more information since i have taken a look at the target.h/c for kisscc and kissfc where only some hardware defines differ, which could not explain the different behaviour of kissfc and kisscc on the same sourcecode build.

The kisscc has an X4RSB receiver and the kissfc has an XSR receiver attached. I do not have looked into the bootup sequence of betaflight but what me bot

[2017-08-01 12:07] spacebubi opened #3711 "RGB LED strip not workin programmed"
LUX V1 lumenier, esc Tmotor F30a Dshot 600
after program LED strip, like in  all past build , i use "Throttle" on arm state flag

[2017-08-01 12:18] #3711 closed

[2017-08-01 12:21] jflyper commented on #3702
@claytonbakerjr Sorry for the e-mail, which was based on the initial search for the target directory; turned out that the FF_RADIENCE is a sub-target of FF_PIKOBLX. So, it is supported.

[2017-08-01 13:42] claytonbakerjr commented on #3702
@jflyper thanks for the clarification :)

[2017-08-01 13:52] borisbstyle commented on #3710
@basdelfos @martinbudden Any ideas?

[2017-08-01 14:04] wolverin3 opened #3712 "Unable to disable Blackbox logging"
Hi guys,

I noticed this problem in RC2 but not in RC1.

I'm unable to disable Blackbox Logging for PikoBLX and Betaflight F3 hex.

I'm using BF Configurator 3.2.0.

Thank you.

[2017-08-01 14:34] riquezjp commented on #3710
configurator 3.1.2 does not have this issue.

[2017-08-01 14:53] martinbudden commented on #3710
@riquezjp , can you repro using "full chip erase" and see if problem persists?

@borisbstyle - perhaps we should have upped the MSP version.

[2017-08-01 14:56] riquezjp commented on #3710
It does it on 2 quads. The other is using jenkins #1440
Using configurator 3.1.2 it works fine on both quads, so it must be the configurator?

[2017-08-01 14:58] martinbudden commented on #3710
Did you do "full chip erase"?

[2017-08-01 15:04] riquezjp commented on #3710
I have not since your comment no. not yet. but I did full chip erase when flashing this morning.

[2017-08-01 15:14] riquezjp commented on #3710
re-flashed but the json restore doesnt work, so will set up again.
At the moment the logging rate dropdown is working though.

[2017-08-01 15:35] andrejpodzimek commented on #3610
It just started working, which is confusing. I'm getting current readings that look reasonable. What contributes to the confusion is the behavior of the sensor under low current. On idle it always shows around 0.3 A and doesn't change. As the motors spin up a little bit, the reading suddenly jumps a bit past 1 A and gets updated fairly often and increases all the way up to ~30 A as power increases

[2017-08-01 15:35] #3610 closed

[2017-08-01 16:26] bentley91687 opened #3713 "receiver tab all values at 0"
hey im trying to connect a taranis qx7 using the x4r sb . i got the tx and rx binded properly and setup up serial and sbus rx in the port and config tab but when i go to the receiver tab all the values are zero instead of the 1500 they are usally. equipment is-betaflight f3,taranis qx7,x4r sb. any help with this issue would be great thanks

[2017-08-01 16:49] jangrewe commented on #3576
@Noseflight I was using the OMNIBUSF4SD target, as you can see in my first post, but it's working now without any manual adjustment, thanks to the changes made by @jflyper.

[2017-08-01 17:31] MJ666 commented on #3702
Please see my comments at #3158. Likely it is the non DSHOT version of the Radiance and need an remap for PPM and MOTOR1.

`resource motor 1 A04`
`resource ppm A07`

For using this with DSHOT the ESC likely need to be connected to the PPM pin as recommended for the PikoBLX. Furious FPV will make an statement at there website wich target will be used for there individual FC's.

[2017-08-01 17:37] jflyper commented on #3713
@bentley91687 Let us know your BF version and BFC version.

[2017-08-01 17:58] DieHertz commented on #3712
Enabling blackbox logging doesn't work as well. BlueJay F4 Mini, off by default, can't set to SPIFLASH, resets after reboot.
Trying to `set blackbox_device = spiflash` in CLI provides no echo-output and freezes the board.

[2017-08-01 17:59] claytonbakerjr commented on #3702
Thanks @MJ666

[2017-08-01 18:01] kylea19 opened #3714 "Gyro/accel noise while sitting on table"
I just built up a quad with a new Betaflight F3 FC. When trying to tune it, there is a very noticeable high frequency vibration when flying, no matter what the maneuver (even just hovering). I spent days and many packs trying to tune it out to no avail.

   I searched around and found some videos on motor vibrations affecting the Accel/Gyros during flight, and even though I have brand new, never u

[2017-08-01 18:16] Arakon commented on #3714
That's not massive vibration, that's tiny. You probably have some device (your PC, for example) gently vibrating the table. To give it some scale: Gently tapping a finger on my desk where the FC is sitting on a soft mousepad causes the values to jump to 12-18.

[2017-08-01 18:20] Arakon commented on #3712
I can disable logging for SPRF3EVO by using the CLI, but not the 3.2.0 configurator.

[2017-08-01 18:26] DieHertz commented on #3712
There seem to be multiple issues with it, trying to investigate.

[2017-08-01 18:27] claytonbakerjr commented on #3714
@kylea19 I tend to agree with @Arakon. If you are seeing something in flight then it is possible that you may need to filter some items. When you say "sandwiched" are you stating that you are using something like O Rings to soft mount the board? Are you also soft mounting the motors? I used to use O Rings but switched to the rubber dampeners. That made a big difference.  Joshua B has some good inf

[2017-08-01 18:41] kylea19 commented on #3714
Hey guys, thanks for the quick replies. I agree its not a massive vibration (that's why I put it in quotes haha) I've watched a lot of Josh's videos and it seemed like he was getting values of less than .01 when he ran his motors up to full speed one at a time. My FC seems to be sensing values above 1 while just sitting there. Is it possible that the older version of clean flight he was using uses

[2017-08-01 18:45] Arakon commented on #3714
Make sure he wasn't using an older version, which measured ACC and not gyro.. gyro shows A LOT higher values.

[2017-08-01 18:45] dennismatovich commented on #3677
Before entering those I checked my radio and manually selected dsmx 11ms for this model and tried binding with success on dsmx 11ms.  This f405 is now communicating properly with spm4648 spectrum receiver using betaflight configurator 3.1.3 and matek hex firmware.

[2017-08-01 18:46] DieHertz commented on #3712
Suspect this check to be the culprit:
[code]

Also found an inconsistency with `p_denom` value sending from BFC and reading in firmware.

[2017-08-01 19:02] jflyper commented on #3677
Cool ;)

[2017-08-01 19:06] Drewlrox opened #3716 "Kiss fc target esc telemetry should be on tx"
Hello, some time ago somebody over at the slack channel created a version of 3.1.7 for me that had the esc telemetry set to read on tx rather then rx and it works fantastic with the existing telemetry pads on the kiss fc without needing to do any sort of re soldering. I think this should be either an option or the default for kiss fc as thats how people will have them wired, This will allow them t

[2017-08-01 19:11] halninekilo commented on #3050
Just flashed the RC and discovered that I am no longet able to select ESC Sensor and IRC Tramp simultaneously for UART 3... pretty sure that worked before, trying it now just rests the ports config to zero.

This leaves me only with UART6 which does not seem to work :(

Any suggestions? Should I resource map UART2? Where to?

I really don't wont to give up the ESC telemetry or the Tramp support, o

[2017-08-01 19:32] DieHertz commented on #3712
Fixed In #3715 and https://github.com/betaflight/betaflight-configurator/pull/

[2017-08-01 19:38] beeb opened #3717 "Blackbox log stopping suddenly, followed by awful oscillations and no control"
Hey all,

I think this issue might not specifically be related to 3.2 because it happened yesterday on 3.1.7 too. My quad behaves sometimes very strangely when subjected to high throttle values or propwash. First, blackbox logging suddenly stops and then the quad goes into horrible oscillations during about 500ms to a second, time during which I have no control over the quad and the throttle seems

[2017-08-01 19:39] DieHertz commented on #3717
Try disabling `sdcard_dma`

[2017-08-01 19:40] beeb commented on #3717
Will try thanks! Can you enlighten me about what this command does?

[2017-08-01 19:41] DieHertz commented on #3717
Disables use of DMA for blackbox writes, it will decrease maximum logging rate, but it seems like we still have an issue with SDCARD DMA clashing with something else, e.g. motor updates.

[2017-08-01 19:42] beeb commented on #3717
Okay, good to know. This command allowed me to find this seemingly related issue : https://github.com/betaflight/betaflight/issues/2631

[2017-08-01 19:49] wolverin3 commented on #3712
Does this means that BF Configurator 3.2.1 will be out soon?

[2017-08-01 20:01] DieHertz commented on #3712
Not necessarily, releasing a new version for each fix will take us far in terms of numbers. We have to wait a bit for fixes to accumulate.

[2017-08-01 20:09] DieHertz commented on #3710
There was a related bug described #3712, now fixed.

[2017-08-01 21:19] rodgerramjet commented on #1695
looks like BF 3.2 added this as a mode :)

[2017-08-01 21:24] KenImhof commented on #3696
I am have the same problem with 3D mode transitioning from Normal to full throttle reversed.  Motors go directly from the 3D Deadband High (1550MS) to the minimum throttle (1500MS) just as the throttle stick goes slightly below center stick.

[2017-08-01 21:27] AirBreak69 commented on #3673
I checked with #3679 changes on DYSF4PRO, REVO, OMNIBUSF4SD.
@jflyper @martinbudden Thanks for digging deeply.

[2017-08-01 21:27] #3673 closed

[2017-08-01 21:27] lichtl commented on #3716
Just use
`set esc_sensor_halfduplex = ON`

[2017-08-01 22:38] andrejpodzimek commented on #2282
For the record, DShot can be configured for all 6 motors! @jflyper came up with [a solution](https://www.rcgroups.com/forums/showthread.php?2593106-BlueJayF4-STM32F4-based-FC/page69#post38018598). No hardware modifications are needed! I've just flown my new hexacopter with DShot 600 for the first time. That's awesome, to say the least. These settings should be the default. (Or alternatively, it mi

[2017-08-01 23:32] mactac opened #3719 "[FEATURE REQUEST] Voltage/Current meter calibration in OSD config"
Getting the voltage and current meters set up properly can be a long, iterative affair.  Fly a pack, land, check voltage with  known good meter, connect computer, adjust scaling, repeat until correct.

it would speed things up immensely if we could access the scaling values via the OSD config.

[2017-08-02 00:32] jflyper commented on #3050
@halninekilo

It couldn't have been a case (it is impossible to share a port with ESC sensor and Tramp).

You have your Tramp connected to TX3 pad, you were probably running software serial on PB10 for Tramp.

[2017-08-02 02:37] halninekilo commented on #3050
Went to check and you are right, Tramp is soldered to TX6 but doesnt react to input.

[2017-08-02 07:40] #3712 closed

[2017-08-02 08:23] jflyper commented on #3050
@halninekilo I think your have a issue to be supported, and this is not an appropriate place for support activity (Betaflight github issues is a place for discussions on making Betaflight software better.) Can you summarize your issues and post it to the OMNIBUS F7 thread in RCG where I can help you?

[2017-08-02 08:23] #3050 closed

[2017-08-02 08:48] halninekilo commented on #3050
Sorry, but I think I disagree... UART6 not working on the Omnibus F7 target in the BF 3.2 RC should fall under the category of "making Betaflight software better" (at least for Omni F7 owners).

I went back to http://andwho.sytes.net:8080/job/BorisB_BetaFlight/1430/ and it's working like it did before.

[2017-08-02 09:47] Saxin commented on #3329
@jflyper

Cross checked - TBS Unify pro works, while Tramp HV doesn't.
Related to #3692

[2017-08-02 09:48] Saxin commented on #3692
Same here - I confirm that Tramp HV doesn't work on HW UARTS on Omnibus F4SD target , works on soft serial, TBS unify pro doesn't suffer same issue.

Related to #3329 .

[2017-08-02 10:23] swilkens opened #3721 "[FEATURE SUGGESTION] Arming sequence"
With the discussions about arming and suggestions to complicate the arming sequence, I had an alternative idea.

What if we beep out an "I AM GOING TO ARM MYSELF IN x SECONDS" signal before we actually arm. This could be included in the BUZZ / ESC BEEP / LEDs and whatever the user may or may not have available. It's a relatively small impact on the code, fairly KISS and puts the responsibility wit

[2017-08-02 10:49] DanNixon commented on #3719
Sounds perfectly reasonable, I'll take a look.

[2017-08-02 11:40] ctzsnooze opened #3722 "Suggestion : scale PIDs to cell count"
An idea was raised on rcgroups to reduce PIDs automatically when a higher cell count battery was connected.

Boris pointed to the existing code in mixer.c where the vbatCompensationFactor was called an then simply multiplied the mix (up when VBat fell).  See:

https://github.com/betaflight/betaflight/blob/master/src/main/flight/mixer.c#L600
https://github.com/betaflight/betaflight/blob/master/src/

[2017-08-02 11:41] #3273 closed

[2017-08-02 12:44] Saxin opened #3723 "Attitude error during hard deceleration aka throttle blip, throttle cut"
I'm using 3.2 RC2 (I've experienced same behavior on 3.1.6) on 2 quads, during hard deceleration from fast forward flight - attitude isn't maintained within reasonable limits, with pitch developing major error and rolls follows.

Steps to reproduce:
1. Install BF 3.2 RC2
2. Adjust PID's, I've tested both aggressive and relaxed PID tunes (log attached here is for the more relaxed case)
3. Adjust an

[2017-08-02 13:09] #3677 closed

[2017-08-02 15:45] Saxin commented on #3723
Related to #3394

[2017-08-02 16:46] Drewlrox commented on #3716
Are you positive that works? When asking the person if there is an easy way to change this they said it could only be done before compiling the firmware. Also the betaflight wiki recently linked to a newer guide on getting it working and it shows resoldering. If it was this simple why does the wiki tell people to resolder?

[2017-08-02 17:10] fishpepper opened #3725 "A generic serial OSD / VTX / CAM protocol - openTCO"
After having a chat with DieHertz and Azol (runcam) we were thinking it would be great to have an open documented and lightweight serial OSD / camera / vtx protocol.
As this will have to move a lot of data to the OSD this protocol has to be as lightweight as possible.
My suggestion is based on what I use on my tinyOSD project right now.

I would suggest the following:
https://github.com/fishpepper

[2017-08-02 17:35] ledvinap commented on #3725
@fishpepper : You should consider packing multiple commands into single frame - most screen updates are done as sequence of operations and overhead for single-command operation is not that important. This will allow more packet-level metainfo without significant overhead (larger CRC/reliable packet synchronization/...)

This can be done at command level (place deviceId in packet header and append

[2017-08-02 17:40] ledvinap commented on #3725
BTW: here is very interesting way to get constant-overhead packet markers (1 byte per packet + 1 byte per 255 non-zero bytes): http://www.stuartcheshire.org/papers/COBSforSIGCOMM/ . Command sequence can be always resynchronized and implementation overhead isn't that bad ...
(and the idea is so nice it should be implemented somewhere ;-) )

[2017-08-02 17:44] nathantsoi commented on #3725
this sounds fantastic. i was also hoping we could wrap up off-board control and other features in a lightweight, well versioned protocol

i was playing around with doing this in protocol buffers a while ago in [protocol buffers)[https://github.com/nanopb/nanopb]

also, http://lcm-proj.github.io/ came up in discussion, idk how much we want to talk about transport vs. only doing serialization at thi

[2017-08-02 18:19] #3702 closed

[2017-08-02 19:13] robschii opened #3727 "cli setting save error"
when i will save some settings in cli mode i get this error, also @ osd font upload

bf3.2.0 rc2

fc omnibusf4   flame f4 hlgrc

![image](https://user-images.githubusercontent.com/17159193/28890400-454caece-77c7-11e7-955e-cfa0e3143b34.png)

[2017-08-02 19:27] adrianmiriuta opened #3728 "SPIFLASH blackbox log download ERROR"
Download SPI blackbox logs does not work any more.
I am getting files with 0 bytes size.
And  a message that the Download was ok!

[2017-08-02 19:32] daro6 commented on #3727
I have the same issue with my Betaflight F4 (no SD).
Version: Betaflight / BETAFLIGHTF4 (BFF4) 3.2.0 Aug  2 2017 / 10:35:03 (11f1de561)

OSD does not show anything!

[2017-08-02 19:55] DieHertz commented on #3728
Possibly a duplicate of #3712, can you check it and close your ticket if the issue was fixed?

[2017-08-02 20:09] mactac commented on #3719
Thanks Dan!

On Aug 2, 2017, at 3:49 AM, Dan Nixon <notifications@github.com<mailto:notifications@github.com>> wrote:

Sounds perfectly reasonable, I'll take a look.

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/betaflight/betaflight/issues/3719#issuecomment-319638005>, or mute the thread<https://github.com/notificatio

[2017-08-02 20:53] RipperDrone commented on #3723
confirmed on 2 latest builds Omnibus F7 and F4, both BF 3.2. Hard throttle cuts cause nose pitch down and slight yaw right. Not pronounced on older copters (with both BF < 3.2 and weaker motors)

[2017-08-02 21:20] lichtl commented on #3716
Yes. I've tested this some days ago. This is the minimal diff I've stored.

`
feature SOFTSERIAL
feature TELEMETRY
feature ESC_SENSOR
serial 2 1024 115200 57600 0 115200
serial 30 32 115200 57600 0 115200
set motor_pwm_protocol = DSHOT600
set current_meter = ESC
set battery_meter = ESC
set esc_sensor_halfduplex = ON
`

[2017-08-02 22:22] chriswhiteuk opened #3730 "Spektrum SRXL Telemetry not working for some Transmitters"
After struggling to understand why I could not get Telemetry from the Betaflight F3 FC to my Spektrum DX6 via a Spektrum 4649t receiver, I think I may have found a reason as to why.

According to the below thread on RCGroups, Betaflight is outputting to the receiver using the "PowerBox" sensor. While this works on the DX9 transmitter, it is not included on other models including the DX6. According

[2017-08-02 23:47] 2black0 opened #3731 "BF Configuration 3.2 incompatible with BF3.0.1"
I have a board Femto F3 (SPracing F3Evo / SPEV) in my emax babyhawk
flashed with BF 3.0.1

the last update of BF Configuration was 3.2, I dont mention it before
I need to connected with Configurator cause just install RX Flysky A8S (Ibus) so I set it with configurator and I have found 2 bugs :
1. In tab Configuration, whatever I set serial protocol for receiver, even sbus, ibus, or anything, after

[2017-08-03 00:04] 2black0 commented on #3713
the configurator is not suit with your BF version, for simple solution is, if you are using older BF firmware (ex : 3.0.1) you need run older configurator too, just install the older one

yeah, we know 3.2 is big different with before, so do the configurator

[2017-08-03 00:05] 2black0 commented on #3713
![image](https://user-images.githubusercontent.com/9410351/28900244-0c70a224-781a-11e7-9a11-a079bbf235d9.png)

I have 2 different version of Configurator, the latest (will update automatically while there is an update) and the older one

[2017-08-03 00:08] 2black0 commented on #3731
maybe for the solution (cause I think 3.2 is totally different with the old one), release configurator only for 3.2 and keep the older one, or need to push people to flash the latest betaflight firmware?

[2017-08-03 00:10] jflyper commented on #3727
@robschii I can't reproduce the problem with OMNIBUS AIO F4 (1st gen); both CLI saving and font uploading.

 Which version of configurator are you using?

[2017-08-03 00:23] jflyper commented on #3050
@halninekilo Can you submit a new issue? Your issue is out of context of this thread.

[2017-08-03 00:52] #3406 closed

[2017-08-03 00:52] #2989 closed

[2017-08-03 01:14] KenImhof opened #3733 "3.2RC2 Not Detecting Mag"
I have tried both the internal mag on an SP3 Deluxe FC and the mag on an M8N connected to an Omnibus F4 FC.

[2017-08-03 01:32] jflyper commented on #3733
@KenImhof Did you do full erase? If it doesn't fix your problem, please move to #3605? Thank you in advance.

[2017-08-03 01:32] #3733 closed

[2017-08-03 02:12] KenImhof commented on #3733
Yes, I am doing a fully erase.  I have also confirmed that iNAV correctly finds the Mag with the exact same hardware configuration.

From: jflyper [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 6:33 PM
To: betaflight/betaflight <betaflight@noreply.github.com>
Cc: KenImhof <KenImhof@roadrunner.com>; Mention <mention@noreply.github.com>
Subject: Re: [betaflight/betaflight] 3.2RC2

[2017-08-03 02:16] KenImhof commented on #3605
I am also having this problem with not finding the Mag on both a SP3 Deluxe fc with built-in Mag and with an M8N external Mag connected to Omnibus F4 fc.  I have verified problem exists in both 3.1.7 and 3.2RC2.

I have also confirmed that iNAV correctly finds the Mag with the exact same hardware configuration.

[2017-08-03 02:42] jflyper commented on #3605
@KenImhof My apologies. Your problem is not the problem we are discussing here, as yours are not detecting them with 3.1.7 either. I suspect you are not enabling your MAG on configuration tab.

[2017-08-03 02:55] KenImhof commented on #3605
I have selected Mag on the configuration tap and it is connected to UART-3 on the Omnibus F4 FC.

From: jflyper [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 7:43 PM
To: betaflight/betaflight <betaflight@noreply.github.com>
Cc: KenImhof <KenImhof@roadrunner.com>; Mention <mention@noreply.github.com>
Subject: Re: [betaflight/betaflight] BF3.2 My baro and mag are not detected any

[2017-08-03 02:58] KenImhof commented on #3605
I have selected Mag on the configuration tap as listed below and it is connected to UART-3 on the Omnibus F4 FC.

From: jflyper [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 7:43 PM
To: betaflight/betaflight <betaflight@noreply.github.com>
Cc: KenImhof <KenImhof@roadrunner.com>; Mention <mention@noreply.github.com>
Subject: Re: [betaflight/betaflight] BF3.2 My baro and mag are

[2017-08-03 05:32] Cthutquz opened #3734 "Fury F4 BlackBox only CD card"
There is no possibility to select onboard flash, if you select onboard flash option is not saved

[2017-08-03 05:39] DieHertz commented on #3734
Duplicatie of #3712

[2017-08-03 05:39] #3734 closed

[2017-08-03 06:11] robschii commented on #3727
I use the bf configuratior 3.2.0

[2017-08-03 06:14] robschii commented on #3727
Some settings saved but when I copied some commands from text file it isn't saved. Specially profile rates

[2017-08-03 07:31] wind0r commented on #3731
Releasing new apps isnt possible anymore so your Solution doesnt work.
But you can still download the older version here as a zip and install it.

[2017-08-03 07:40] 2black0 commented on #3731
Thanks @wind0r
Yep, maybe just give notice in new apps or in github readme, what version of BF firmware is compatible with the apps,

I think its bad for some people, they dont wanna upgrade the firmware (maybe just get best setup and no have problem with current firmware) but apps update automatically, and while do setting with the configurato current setting was broken (we dont know what will ha

[2017-08-03 08:49] dynaspy opened #3735 "Safety BUG in PREARM mode feature"
When using pre-arm mode on a switch, if the arm switch is already active then pressing the pre-arm switch will arm the quad. There should be a check that the quad is not already armed and must be set to disarmed before the pre-arm switch will allow you to arm. It should not arm unless pre-arm switch is activated FOLLOWED BY the arm switch activation.

[2017-08-03 10:29] andrejpodzimek opened #3737 "mag_declination gets truncated in the 3.2 configurator"
I set `mag_declination = 218` in the CLI (which should be the right value for Zürich). However, the Configuration tab displays this value as 2.10. Saving settings from the Configuration tab stores also the truncated / incorrectly rounded value of `mag_declination`. This can be reset to 218 using the CLI — but the value will only last until the next save operation on the Configuration tab.

[2017-08-03 10:31] andrejpodzimek commented on #3737
My locale settings are `cs_CZ.UTF-8`, just in case it happens to be related due to some decimal points versus commas.

[2017-08-03 11:00] DanNixon commented on #3735
Good catch, I'll take a look.

[2017-08-03 11:14] jflyper commented on #3605
@KenImhof Do you still have a problem?

[2017-08-03 11:44] Saxin commented on #3016
@martinbudden this one I think - 41d8455b5336f7141e63c6c670b48ba0f9366c12

[2017-08-03 13:01] KenMurphy opened #3739 "OSD bug with pre-arm + request"
If the quad refuses to arm due to the pre-arm not being activated the OSD flashes 'load' as the reason for not arming. This is misleading, took me a bit of messing around to find the real reason after immediately forgetting I setup the new pre-arm feature.

Request:
If the pre-arm is activated and you arm then disarm, the quad won't re-arm until the pre-arm toggles states from inactive to active a

[2017-08-03 13:07] wind0r commented on #3739
If i remember correctly the OSD 'load' issue should be fixed with the newest release and will be in rc3.

the request you have is something you should setup in your radio. you can mix the 2 switches to one there and do other fancy stuff

[2017-08-03 13:08] DanNixon commented on #3739
The issue with the flag name was fixed in #3709

[2017-08-03 13:11] KenMurphy commented on #3739
@DanNixon Thanks, I must have missed it. Any thoughts on the pre-arm request? I would like to avoid doing it in the radio for simplicity but if others feel differently then I guess I'll have to. I don't think I'm the only one that would like to be able to re-arm while using pre-arm though, especially when racing.

[2017-08-03 13:12] DanNixon commented on #3739
Having prearm on a momentary switch seems the easiest solution if you don't want to do much configuration on the radio.

[2017-08-03 13:13] KenMurphy commented on #3739
My momentary switch is the same across all my quads (voltage callout) so I would prefer not to change it.

[2017-08-03 13:14] DanNixon commented on #3739
It can just as easily do both. (I'm in the same boat, my momentary switch does voltage and RSSI)

[2017-08-03 13:16] 1banger opened #3740 "Motors won't arm if attitude of quad is not flat"
Trying to launch at racing quad angles does not work. Just sits there and beeps. Once set back to a level
attitude, motors arm fine.

This is not an issue in 3.1.7. Have to have quad in a flat attitude to arm motors. I have attached a dump for more information.
[BTFL_cli_20170803_090809.txt](https://github.com/betaflight/betaflight/files/1197280/BTFL_cli_20170803_090809.txt)

[2017-08-03 13:17] KenMurphy commented on #3739
I know it can, its just not really the behavior I'm looking for. I basically want to be able to set my pre-arm once at the beginning of a pack and then not think about it until the end of the pack. Getting throttle to 0 and the arm switch back in position is enough to ensure that yes, I really do want to re-arm imo.

[2017-08-03 13:21] Transam2k4 commented on #3740
Go to the cli and type:

get small_angle

If might be that the default small angle is less than what its sitting. I typically set my small_angle to 180 so that i can arm and try to get unstuck from a tree. type in the cli

set small_angle = 180
save

[2017-08-03 13:23] andy7x77 commented on #3631
I hope this makes clear what I mean. thank you!
![beta](https://user-images.githubusercontent.com/4527962/28923755-5a311f30-785f-11e7-98e4-f0351808dd8e.png)

[2017-08-03 15:06] KenImhof commented on #3605
Yes, this is still a problem.

Thanks,

From: jflyper [mailto:notifications@github.com]
Sent: Thursday, August 3, 2017 4:15 AM
To: betaflight/betaflight <betaflight@noreply.github.com>
Cc: KenImhof <KenImhof@roadrunner.com>; Mention <mention@noreply.github.com>
Subject: Re: [betaflight/betaflight] BF3.2 My baro and mag are not detected anymore (#3605)

@KenImhof <https://github.com/kenimhof>  Do y

[2017-08-03 15:12] 1banger commented on #3740
Thank you. I'll give that a go and report back.

[2017-08-03 16:03] adrianmiriuta commented on #3728
works again
thx

[2017-08-03 16:03] #3728 closed

[2017-08-03 18:25] MJ666 opened #3742 "AlienFlightF7 SPI Baro BMP280 does not work anymore with actual master since a few days."
Unfortunately my F722 development board is broken and debugging is not working anymore. Still be able to flash and put in DFU mode. The ST-Link itself also looks to be working. Waiting for an replacement.

[2017-08-03 20:19] AirBreak69 commented on #3605
@jflyper Looks simular to my REVO problem - you remember?
Looking at INAVs target.h of the SPRACINGF3 i find:
#define USE_I2C
#define I2C_DEVICE (I2CDEV_1) // PB6/SCL, PB7/SDA
On REVOs target.h you had to add/activate the pin definitions:
#define USE_I2C_DEVICE_1
#define I2C_DEVICE              (I2CDEV_1)
#define I2C1_SCL                PB8
#define I2C1_SDA                PB9
On SPRACINGF3s target

[2017-08-03 20:26] chriswhiteuk commented on #2919
Potential fix
https://github.com/betaflight/betaflight/pull/3743

[2017-08-03 20:58] KenImhof commented on #3605
I will give this a try this evening.

Thanks,

From: AirBreak69 [mailto:notifications@github.com]
Sent: Thursday, August 3, 2017 1:19 PM
To: betaflight/betaflight <betaflight@noreply.github.com>
Cc: KenImhof <KenImhof@roadrunner.com>; Mention <mention@noreply.github.com>
Subject: Re: [betaflight/betaflight] BF3.2 My baro and mag are not detected anymore (#3605)

@jflyper <https://github.com/jflype

[2017-08-03 21:53] libwtf commented on #3727
i see these errors alot too - but normally it saves the changes ok....

try uploading the fonts while lipo is plugged in, did the trick for me :-)

lumenier lux f4 osd / configurator 3.1.2-3.2 / different bf 3.2builds

[2017-08-03 22:46] TyTechSci commented on #2220
Same issue here. Can connect fine to configurator, flashing says "Failed to open serial port"

[2017-08-03 23:16] KenImhof commented on #3605
Adding those two lines to the SPRACINGF3 target.h did fix the problem.  The MAG is now working.

Thanks,

From: AirBreak69 [mailto:notifications@github.com]
Sent: Thursday, August 3, 2017 1:19 PM
To: betaflight/betaflight <betaflight@noreply.github.com>
Cc: KenImhof <KenImhof@roadrunner.com>; Mention <mention@noreply.github.com>
Subject: Re: [betaflight/betaflight] BF3.2 My baro and mag are not de

[2017-08-03 23:59] jflyper commented on #3742
@MJ666

Do you have any pointer (build#, commit#) to the last working one?

[2017-08-04 01:10] jflyper commented on #3605
@KenImhof
Since you have issues in both 3.1.7 and 3.2.0, they are not the subjects here.
Here are tips, and if you can't resolve the issues, please relocate to respective threads in RCG.

**OMNIBUSF4**

- 3.1.7 does NOT support I2C on UART3/I2C headers.
- 3.2 does support I2C on UART3/I2C headers. Enter the following commands into CLI.
[code]
Be sure NOT to enable anything for UART3.

If this does

[2017-08-04 01:16] jflyper commented on #3605
@KenImhof
Since you have issues in both 3.1.7 and 3.2.0, they are not the subjects here.
Here are tips, and if you can't resolve the issues, please relocate to respective threads in RCG.

**OMNIBUSF4**

- 3.1.7 does NOT support I2C on UART3/I2C headers.
- 3.2 does support I2C on UART3/I2C headers. Enter the following commands into CLI.
[code]
Be sure NOT to enable anything for UART3.

If this does

[2017-08-04 01:50] KenImhof commented on #3605
The following resource settings fixed the MAG not being recognized by the Omnibus F4 Pro FC:
resource i2c_scl 2 b10
resource i2c_sda 2 b11

The MAG was also fixed on the SP3 Deluxe FC by adding these two lines the SPRACINGF3 target.h file:
#define I2C1_SCL PB6
#define I2C1_SDA PB7

Thanks,

From: jflyper [mailto:notifications@github.com]
Sent: Thursday, August 3, 2017 6:17 PM
To: betaflight/betafl

[2017-08-04 02:09] Fauropitotto opened #3746 "Bug with DYSF4PRO target with 3.2 RC2"
Flashing to this removed access to the Battery Voltage and Current sensor panels on the configuration screen, and the battery tab causes the board to hang. The voltage displayed on the OSD shows 0.0V, with no activity on the current sensor as well.

Flashing the DYS F4 back to the 3.1.7 OmnibusF4 target brought back all of these features.

Has anyone else seen this with the DYS F4 AIO (fc/pdb/osd

[2017-08-04 02:12] Fauropitotto commented on #3746
Was this never addressed from #3475 several weeks ago?

[2017-08-04 02:22] KenMurphy commented on #3723
I have the same issue with an Omnibus F4. I have swapped motors and ESCs in an effort to fix the problem. It pitches forward and yaws on full throttle->low throttle drops. PID changes do not help.

[2017-08-04 02:26] jflyper commented on #3746
@Fauropitotto Since there is nothing wrong with the 3.2-RC2 DYSF4PRO target and vbat/current meter and access to battery tab of BFC, I regard this as support request. Please redirect your problem to the thread in RCG. Thank you in advance.

![betaflight_-_configurator](https://user-images.githubusercontent.com/14850998/28951636-496a8ff8-7907-11e7-9f2a-8715df15b6fa.jpg)

![betaflight_-_configurator

[2017-08-04 02:30] jflyper commented on #3746
@Fauropitotto Since you already have the problem statement in the RCG thread, I will close this for now.

[2017-08-04 02:30] #3746 closed

[2017-08-04 03:06] jflyper commented on #3742
@MJ666 I checked it out. There is something wrong with the MS5611 (SPI) driver that is preventing the BMP (SPI) to be probed correctly. I will look into this.

For the short term solution, you can force the BMP280 (SPI) detected by `set baro_hardware = BMP280`.

[2017-08-04 04:03] jflyper commented on #3742
@MJ666 Solved. #3747

[2017-08-04 04:43] Saxin commented on #3723
@RipperDrone , @RipperDrone - please make effort to attach log files and provide times of occurrence so devs. can take a look , thanks guys.

[2017-08-04 05:18] jflyper commented on #3592
Problem solved.

Ref: #3732

[2017-08-04 05:18] #3592 closed

[2017-08-04 05:18] #3574 closed

[2017-08-04 05:20] jflyper commented on #3625
LL for SPI has inline functions for setting clock polarity, phase and divisor. This is great...

[2017-08-04 06:57] RipperDrone commented on #3723
Ack 🙂 weather is bad so logging will take some time.

Occurrence: Anytime, after every hard throttle cut, irrespective of flight manoeuvres of flight history...

[2017-08-04 09:36] jaapp opened #3749 "[FEATURE REQUEST] Cap the throttle value during failsafe stage 1 to 1/4 throttle max"
We had a failsafe incident in our flying group. The quad was running betaflight 3.1.7 with the default 'failsafe' settings. Precisely during a high speed turn (at roughly max throttle), the flightcontroller went into failsafe stage 1 for a full second and kept the throttle at roughly the max value.

Within a second the quad traveled 60 meters, nearly missing one pilot at ~30cm distance at 120km/h

[2017-08-04 09:47] ledvinap opened #3750 "VelociDrone GPL code"
It seems that https://www.velocidrone.com/ is using betaflight code, but I can't find sources anywhere.
Backporting VelociDrone changes can improve BF/CF SITL ...

Can someone who owns VelociDrone request the sources?

[2017-08-04 10:19] MJ666 commented on #3742
Its working again. Thanks.

[2017-08-04 10:19] #3742 closed

[2017-08-04 11:21] libwtf commented on #3646
same goes for SPf3 evo (the one with SD-slot), no dshot on motor4

[2017-08-04 12:28] jflyper commented on #3646
@libwtf
Connect your motor 4 to motor 5 output (PWM5) and issue the following command.

[code]

[2017-08-04 12:36] 1banger commented on #3740
That worked. Thanks for the help!

[2017-08-04 12:36] #3740 closed

[2017-08-04 13:07] fbohmann commented on #3750
i bought velocidrone, what exactly shall i ask them?

[2017-08-04 13:33] fiveangle commented on #3750
https://github.com/batcavegames/csharp_betaflight_port

[2017-08-04 13:34] chowonpapa opened #3751 "KISS fc with betaflight 3.2 motor 3, 4 sometimes don't spin"
KISS fc  with betaflight 3.2(ESC kiss 24a) motor 3, 4 sometimes don't spin.
PWM UNsync option can not help this.
However When I down grade to 3.17 It works perfect.
Anyway I go back to 3.17 for now.

[2017-08-04 13:39] zhangyu0615 opened #3752 "Matek F405 using BF 3.1.7 or 3.2 going crazy vibrate"
my quad hardware configuration:
FC:Matek F405 (with ICM20602 gyro IC)
ESC:Airbot 35A 6S with BLHeli_32
Motor:EMAX RS2306 2750KV
Receiver:Frsky XSR
SDCard: 2GB

BF Configuration:
PID&Notch: base on bf instruction, well tuned
ESC Protocol: DSHOT1200
Loop Time:8k/8k
Anti_gravity: Off
VBAT PID: Off
BBLog: log always

I tried both 3.2 or 3.1.7 version. the problem is my quad will going crazy vibrate wh

[2017-08-04 16:33] beeb commented on #3717
Hello all, coming back to say that I flew 6 packs today without any problem occurring, thanks to `sdcard_dma` being disabled. Confirming this as a temporary fix.

[2017-08-04 16:35] pl4hh opened #3753 "Weird OSD display instead of "Main Batt Usage""
After having flashed to RC2 yesterday and doing a complete resetup (no restore or cli dump import)
I noticed some weird gauges instead of the bar which is supposed to show Main Batt Usage.
Check out my settings and inflight screengrab to see what i mean.
Also those gauges change, so i think it must be some other display element, not showing in the configurator?

[https://imgur.com/a/CAHL5](https:/

[2017-08-04 16:36] DanNixon commented on #3753
You need to update your font via the Configurator.

[2017-08-04 16:43] pl4hh commented on #3753
oh. did not knew that, i was thinking that a complete flash would do that ;)
lemme check.
yeah that did it. thanks!

[2017-08-04 16:43] #3753 closed

[2017-08-04 17:08] spuder opened #3754 "USB beep value ignored - Betaflight F3 (3.2-RC)"
Disabling the USB beep on a betaflight F3 flight controller doesn't disable the beep when USB is plugged in on the bench

## BetaFlight-Configurator Version
`3.2.0`

## BetaFlight Firmware Version

`Betaflight / BETAFLIGHTF3 (BFF3) 3.2.0 Aug  1 2017 / 06:40:45 (869dd1f00)`

I've verified that `beeper -ON_USB` is set correctly in cli and configurator

[code]

![screenshot 2017-08-04 10 59 59](https

[2017-08-04 17:17] the-scriptinator commented on #3692
I have a maybe similar problem with the Matek AIO board.

Tramp telemetry was on TX1 and smart audio did not work.
Tested TX1 solder joint to VTX plug on the other end of the cable for continuity on the telemetry line and continuity was OK.
Moved the telemetry line to TX5, config'd in ports tab and Tramp Smart Audio  worked fine.

(OK it's not really smart audio since it is not a TBS product, but

[2017-08-04 17:18] the-scriptinator commented on #3752
Should check tips page here he http://www.mateksys.com/?portfolio=f405-osd and this bug: https://github.com/betaflight/betaflight/issues/2631

[2017-08-04 17:39] Arakon commented on #3754
Actually, it does work. The real issue is that your vbat reading is probably between 3 and 4.5v. Thus it doesn't detect USB, but thinks a 1S LiPo is connected. I have the same issue on two out of three micros, which pull the USB voltage down far enough for it to think it's a 1S LiPo. Check the battery tab, top right side, to see if it says 1S LiPo.

[2017-08-04 18:11] spuder commented on #3754
I'm not seeing voltage detected anywhere:

![screenshot 2017-08-04 12 08 47](https://user-images.githubusercontent.com/242382/28981129-b7908626-790d-11e7-96a7-b238c64de3b0.png)
![screenshot 2017-08-04 12 07 32](https://user-images.githubusercontent.com/242382/28981159-e1ba7966-790d-11e7-8cd0-759d6c768cce.png)

[2017-08-04 18:18] swilkens commented on #3754
Which isn't surprising, since there is no VBAT reading while powered over USB. Just when you power over the actual VBAT.

Disabling the USB beep feature removed most of the beeps for me, the three slow beeps after connecting for example - disappear. The beeps during the initial connection stay. Save / reboot beeps also stay.

[2017-08-04 18:37] spuder commented on #3754
I also have SYSTEM_INIT disabled. I would expect it to not beep when I plug in USB.

[2017-08-04 18:42] swilkens commented on #3754
SYSTEM_INIT is the three quick short beeps, those don't go away on USB if you just disable USB. So there seems to be a problem there, SYSTEM_INIT only goes away while SYSTEM_INIT is off. Regardless of USB. Meaning the SYSTEM_INIT beep is probably missing a check for the USB switch.

There is one BEEP the moment you plug the cable, I can't find which one that is and it's not controllable by any of