[2017-09-10 18:31] brucesdad13 opened #4119 "F4 Overclock Can't Bind Spektrum"
1.) Recently I've been assembling a batch of about 50 flight controllers some F4 and some F7. The F4s I decided to overclock by default. I had issues binding spektrum and assumed it was a hidden solder bridge or bad tweezers... I went all around the block assuming hardware or user error. Then the idea occured that perhaps it had to do with overclock. If others could test on their F4 with Spektrum

[2017-09-10 18:33] brucesdad13 commented on #4119
The workaround is to bind before overclocking.

[2017-09-10 18:50] jirif commented on #4107
I posted another approach to fix this problem #4121

[2017-09-10 20:30] kidBrazil commented on #4057
@martinbudden Hey man, so I took the drone out again today after re-flashing it with latest RC4 and using the latest configurator and STILL the exact same issues.

4khz loop times did not help, Multishot did not help either. I am sort of at a loss here especially since RC3 or RC2 work perfectly and fly wonderfully.

As requested, here is the "Tasks"

# tasks
Task list             rate/hz  max/us

[2017-09-10 22:14] jflyper commented on #4119
@brucesdad13 Can you scope the bind signal?

[2017-09-10 22:38] mikeller commented on #4107
I thinkd #4121 is a good solution for this, thanks @jirif.

[2017-09-10 22:58] mikeller commented on #4113
I am not sure that it is a good idea to add more complexity to the LED_STRIP configuration. It is very complicated as it is already.

As a workaround, you can easily wire your LEDs in parallel. I.e. connect the Din of both of the 'arms' of your H directly to the flight controller LED_STRIP pin, then connect the middle bar to the end of one of the arms, and again connect the top of both legs to the

[2017-09-10 23:00] andrejpodzimek commented on #3823
A small (albeit pessimistic) update: I've just tried the following:

    set p_alt = 50
    set i_alt = 15
    set d_alt = 25

But I have the impression that things got **worse**. Here's a video with 4 attempts to switch baro hold on:

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/jxQ0SIjpT0Q/0.jpg)](https://youtu.be/jxQ0SIjpT0Q)

It behaves exactly the same way on both aircraft I tried it on

[2017-09-10 23:03] etracer65 opened #4122 "BF 3.2RC4 Serial Rx prevents bootloader mode (DFU) from working"
While investigating inconsistent behavior around entering DFU mode while flashing firmware versions, I discovered that if the flight controller is receiving serial rx data from a bound receiver it will not enter DFU mode.  The flight controller must be powered cycled to have the normal VCP MSP connection return.  This occurs with both the firmware flasher and the CLI "bl" command.   If the receive

[2017-09-10 23:19] mikeller commented on #4122
This is a known 'feature' of the STM32 family: When booted into DFU / boot loader mode, they will listen on a number of ports (VCP / UART, model dependent), and assume that the first port they receive something on is the port used for communication while in DFU / boot loader mode. See this for details:

http://www.st.com/content/ccc/resource/technical/document/application_note/b9/9b/16/3a/12/1e/40

[2017-09-10 23:28] etracer65 commented on #4122
Ok, makes sense.  I might suggest adding something about this to the configurator firmware flashing tab.  Possibly something about ensuring that the receiver is disconnected or powered off.  If not possible (because rx is direct connected and powered by flight controller) ensure that transmitter is powered off.  Might minimize some confusion for new users wondering why they can't update the firmwa

[2017-09-10 23:32] mikeller commented on #4122
Something like this:

![image](https://user-images.githubusercontent.com/4742747/30253983-d4dfb982-96e4-11e7-9b61-c511f243a6ad.png)

You're the second person in 2 weeks asking for the existing warning to be added. Proof positive that users don't read warnings. :-P

[2017-09-10 23:37] etracer65 commented on #4122
You're right - I missed that.  But I did actually read the page but I focused on the "Recovery/Lost communication" section because that's the logical place to see why it's not working.  Also with the trend to direct wire everything now it's not really possible or practical to disconnect the receiver.  So the additional information of having the TX powered off might save some headaches.

[2017-09-10 23:52] mikeller commented on #4122
Yeah, there is serious information overload going on on that tab.

I think the thing that is really needed is to make users more aware of these considerations **at build time**. Not connecting serialRX to UART1 if this can be avoided will keep these problems from occurring in the first place...

[2017-09-11 00:03] etracer65 commented on #4122
Well that would be on the board designers as the builders generally don't have any option but to use the connection with the hardware inverter (at least on the F4).

[2017-09-11 00:41] mikeller commented on #3793
@TomasKot: Has this been solved for you?

[2017-09-11 00:41] maz3max opened #4123 "No beeps when GPS enabled"
Hi!
If I activate GPS in Betaflight,
The FC doesn't beep anymore when I press my beeper mode switch on my TX.
I can see a visual signal on the OSD when it should beep and the beeper works on startup,
that's why I think it is a software bug.

Beeper mode works again if I disable GPS.

I am using a NZ mini GPS on a Omnibus F4 V3 with a FlySky iA6B RX.

\`\`\`
# version
# Betaflight / OMNIBUSF4SD (OB

[2017-09-11 01:13] brucesdad13 commented on #4119
The scope shows no pulses issued to start the bind process when set cpu_overclock = ON. According to Spektrum docs, "To put a receiver into bind mode, within 200ms of power application the host device needs to issue a series of falling pulses. The number of pulses issued selects which bind types will be accepted from the transmitter. " Here's the LA screenshot with overclocking (no pulses to trigg

[2017-09-11 01:24] jflyper commented on #4122
@etracer65
A thing that make this problem more complicated is that some receivers are not _**chatty**_ until they are first linked to transmitters after power cycle.

What people experience is that the FC suddenly becoming unresponsive to DFU command/button when they try flashing with transmitters turned on. They usually do not power off transmitters while desperately repeating FC power cycle and

[2017-09-11 01:28] jflyper commented on #4119
I suspect this is caused by malfunctioning "power cycle detector"; there is a logic that checks if power cycle has occurred to make sure the receiver has power cycled, too.

[2017-09-11 01:36] mikeller commented on #4119
Sounds quite right, @jflyper. Overclocking is implemented by setting the clock registers, and then doing a soft reset. The code for Spektrum bind will probably have to be amended to take this into account.

[2017-09-11 01:40] mikeller commented on #4075
@haybeseret: I think they are aligned. The 'don't use 8k on F3' is a recommendation, not a hard limitation. In Betaflight, we generally try to prevent configurations that will clearly not work (e.g. running OneShot125 at >= 4k), but we allow users to experiment with things that are a bit experimental. 8k on F3 might well work if everything else is switched off...

[2017-09-11 01:41] mikeller commented on #4059
@DooDoo512: Can you draw a diagram (or post a picture) of your wiring?

[2017-09-11 01:47] jflyper commented on #4119
I think we a `isMPUSoftReset` that handles OC case... but I have no idea at the point 😭

[2017-09-11 01:58] DooDoo512 commented on #4059
Is this right ?
![default](https://user-images.githubusercontent.com/31556987/30255616-9dcdea52-96d7-11e7-90fd-9623f85b7918.png)

[2017-09-11 02:19] mikeller commented on #4059
No, the diode should be the other way round (i.e. the opposite direction of how it's done for SmartPort, since SmartPort uses inverted serial, and SmartAudio doesn't).

[2017-09-11 02:26] DooDoo512 commented on #4059
Then , anode towards RX .
OK I'll try

[2017-09-11 02:33] jflyper commented on #4119
Something like `BABEFACE`!?

[2017-09-11 02:38] mikeller commented on #4059
Yes. My bad. Amended comment.

[2017-09-11 02:40] brucesdad13 commented on #4119
I've always been a fan of DEADBEEF

[2017-09-11 02:42] brucesdad13 commented on #4119
OCF4C0DE

[2017-09-11 03:48] andrejpodzimek commented on #3737
Someone has fixed this in the mean time.

[2017-09-11 03:48] #3737 closed

[2017-09-11 08:43] jirif commented on #4123
Hi

When GPS is locked RX beeper reporting GPS sattelite count, but for this you must have enabled MULTI_BEEPS whish is disabled in your config.

[2017-09-11 08:50] TheIsotopes commented on #3901
@mikeller @brycedjohnson tested now #4121 and it works perfect 👍
hoping this will merged asap, closed this issue now

[2017-09-11 08:50] #3901 closed

[2017-09-11 09:25] fixmania commented on #4001
I have too. I use Omnibus F4 (max pid loop is 8K) and Airbot 35A Dshot-1200. Also motor 1 has a problem as like above. When in flight, occur desyncs and flip of death every flight. I tried change motors and escs, but same result. I think only BF 3.2 firmware has a problem. So hope to solve this issue.

[2017-09-11 10:44] AndersHoglund commented on #4119
Don't use the SerialPort analyser for this. It is just a number of pulses at startup, number depending on your `spektrum_sat_bind` setting.

[2017-09-11 10:55] AndersHoglund commented on #4122
I have seen issues even with Tx off, with auto bind Rx. Not sure how, can not repeat that now.....
The only solid solution would be HW gated signal or power, under SW control. Not sure how solid that would be, as the bootloader knows nothing about it. Would depend on a default pin state at reset (hard and soft).

[2017-09-11 11:58] swilkens commented on #4075
So for the sake of being complete, I created a bare minimum setup on an F3 chip running 3.2.0-RC4 and evaluated the performance. I should note that, while it is evident that the mean result is below what would be considered optimal, the quad still flies very stable. All other filters and features are disabled, including logging.

n= 50

We can see that a bare minimum setup on 8/8 with dynamic filt

[2017-09-11 12:37] haybeseret commented on #4075
@swilkens. Thanks for the testing!
I agree that there should be a note. Its a very good suggestion.

[2017-09-11 13:05] martinbudden commented on #4075
@swilkens , thanks for testing.

I'm not sure what you mean by "deviation" however. For 8k/8k I make deviation to be (7936-6134)/7447 , that is approx 24%.

[2017-09-11 13:24] swilkens commented on #4075
Sorry if the term implies something else, English isn't my native language. Deviation is intended to be a measure of how far the averaged GYRO rate is off from the ideally expected rate. I.E. percentually, how far is the averaged GYRO rate off, assuming 8000 (or 4000 in the case of 4k) is 0% off.

For 8k/8k that would be 7447/8000 = 93.1%, or a deviation of 6.9%. Rounded off obviously.

It'll be i

[2017-09-11 13:50] martinbudden commented on #4075
OK, I understand what you mean. However in terms of quadcopter performance the deviation, if consistent, is not particularly harmful. If at 8k/8k the gyro rate was consistently (say) 7100, then that would not matter too much - it would just mean the tune would be slightly different.

What's much more harmful is the 'jitter' - the variation in rate. So the fact that the gyro rate can vary from 6134

[2017-09-11 14:21] swilkens commented on #4075
The thinking was that a higher deviation could indicate less headroom in the CPU, making it less capable of dealing with the jitter. But I see your point, it makes sense. As said, I'll do some more extensive testing over the week, I'll add the jitter (and spread thereof).

[2017-09-11 14:46] swilkens commented on #4075
@martinbudden I worked out the max jitter for the datasets I gathered before:

![knipsel](https://user-images.githubusercontent.com/13329383/30280436-0084d18c-9710-11e7-859e-9c7831a0eac1.PNG)

Now just to clarify:
GYRO RATE lists the Minimum, Maximum and averaged (50 samples) GYRO RATE values.
GYRO JITTER lists the Minimum, Maximum deviation from the average GYRO RATE and additionally shows the ab

[2017-09-11 16:03] brucesdad13 commented on #4119
Thank you @AndersHoglund ! @jflyper had also explained this to me. Either way, overclock is resulting in bind pulses not being sent. Can we move the bind code ahead of the overclock in fc_init?

[2017-09-11 16:37] AndersHoglund commented on #4119
Don't think that moving the overclock code would help, as it does a `NVIC_SystemReset()`. The soft reset flag does probably not survive that. ( `RCC_CSR_SFTRSTF` in `isMPUSoftReset()`)

[2017-09-11 18:01] brucesdad13 commented on #4119
Can we skip the overclock reset if bind action called for and assume they'll power cycle the FC after bind before flying anyways?

[2017-09-11 19:45] robert-hoffmann opened #4128 "Playing with yaw spins, quad throttles down and falls out of sky ?"
Don't really know what to think ..this has happened 3 or 4 times now.

The only things i have touched since this started happening is setting anti-gravity to 1.5 (BFC) and upping pid loop to 8k.

Also it happened only with crappy beat up props. The BBlog at the end, i was basicly just hovering and playing with yaw, this happened 2 times in a row. When i put clean props on it didn't happen a third

[2017-09-11 22:12] mikeller commented on #4128
This almost sounds like low battery cutoff (#3510) kicked in. @brycedjohnson any idea if this could happen with this configuration?

[2017-09-12 00:31] brycedjohnson commented on #4128
I don't see it on the diff so that should mean it should have been disabled (battery cutoff stays at 100%).

The CLI param is vbat_cutoff_percent.  If it is 100 it is disabled.

[2017-09-12 03:01] jflyper opened #4129 "F7: Dshot output is broken"
#3978 seems to have broken Dshot output.

Omnibus F7: No spin at all. With some rates, ESCs don't even initialize. Tiny twitch upon FC reset.
~NERO: Spins twichingly until half throttle, grainy spin on entire range.~
NUCLEOF722: M1~M4 Spins twichingly until half throttle, grainy spin on entire range.

This whole section added by #3978 is causing this issue.
https://github.com/betaflight/betaflight

[2017-09-12 06:08] robert-hoffmann commented on #4128
Just noticed in dump `set acc_trim_pitch = 2`

I don't remember setting that ...what is it ? I set it back to 0 for now...

[2017-09-12 07:02] jkapdrone commented on #2916
NotmanyFPV I tried this and this didnt work for me. I have the qx105 bat ,taranis plus frsky rx. No stick movements in betaflight. What could i be doing wrong??

[2017-09-12 08:18] jkapdrone opened #4130 "Qx 105 Frsky no stick movements in Betaflight or cleanflight"
I dont have any stick movements in the receiver section. The qx105 is new haven't flashed or upgraded anything. Working with frsky and my taranis is all setup. I followed everything in the manual. Please help with some ideas.

[2017-09-12 08:25] jkapdrone commented on #4130
https://youtu.be/C_rQUbwjXCc

[2017-09-12 08:41] wind0r commented on #4130
As written in the Issue Template this issue tracker is for development purpose.
This is a Configuration Issue. Please ask the manufacture for help or in any forum.
Since we all develope betaflight in our spare time manufactures should atleast give support to the customers. They are selling stuff and we doing support and firmware code is just stupid.

Video shows the current Cleanflight Configurato

[2017-09-12 09:29] #4130 closed

[2017-09-12 10:11] mikeller commented on #4128
These are the accelerometer trims (see https://shipow.github.io/cleanflight-web/assets/images/StickPositions.png). You probably 'trimmed' accidentally by having your sticks in an odd position.

[2017-09-12 12:36] jkapdrone commented on #4130
My apologies....thank you

[2017-09-12 14:05] flint723 commented on #4057
Did you get a chance to try RC5 yet?

[2017-09-12 14:28] inspgadgetNL opened #4135 "F3: GPS port goes off"
Hello,
I would like to add GPS to my f3 board. It's a ublox 7m neo.
When I activate the coorect port (uart2) and select GPS, reboot. Uart 2 and also 3 (osd) goes off.
What can i do to get it right?

[2017-09-12 15:42] kidBrazil commented on #4057
@flint723 @martinbudden Not yet, I will give it a try this week and hopefully it sorts out the issue.

[2017-09-12 16:16] jflyper commented on #4135
@inspgadgetNL
The GPS feature is turned off for F3 targets by default in 3.2 to make some room for other important features. If you desperately need this feature now, you have to build your own firmware from source code.

[2017-09-12 16:16] #4135 closed

[2017-09-12 17:26] robert-hoffmann commented on #4128
Batteries where all fully charged in any case.

Did a bunch of batteries today, and all was fine ..will try again with my crappy props later this week, see if i can reproduce with just that

[2017-09-12 18:40] csbuzkp opened #4136 "Camera control Foxeer monster v2 - only second osd menu available."
I have camera foxeer monster v2, Matek f405 osd FC, connected osd pin to motor 6. Did configs - map resource motor 6 to camera control, change internal resistance to 99. When I hold throttle stick low, pitch high 2 second OSD menu go to opened, I can move up left down bottom and change. But foxeer monster v2 has 2 osd menus. General to make configs gain, brightness, color and so on and OSD for con

[2017-09-12 18:44] DieHertz commented on #4136
From you description it's not clear what you did to get into the main menu, did you try yaw to the right?

[2017-09-12 18:52] csbuzkp commented on #4136
Yes I tried do yaw high, pitch roll center. But main OSD do not show.

[2017-09-12 18:55] DieHertz commented on #4136
Read the wiki page and try increasing key delay.

[2017-09-12 19:05] csbuzkp commented on #4136
I will try once again all things to double check, I tried to change time from 100 to 220, step 20. Second menu work perfect. But some times main menu opened very rarely, but do not response by stick movements and closed spontaneously.

[2017-09-12 19:43] MimaRaza opened #4137 "BF 3.2 RC4-5 stop FC working with PC"
1.) SP Racing F3 firmware 3.2 RC5 after flashing directly connecting and working on it, configure it, without problem (Did it Sonday morning.) Maiden on Sonday afternoon without problems.

Now wanna try change some settings i cant connect.

Have the same issue with an Racerstar StarF3 FC with same firmware (i though its broken, but its the same problem) Shown both on com3.

2.) i tryed some ways t

[2017-09-12 20:13] richard-scott opened #4138 "Downloads from ci.betaflight.tech partially broken"
I've looked on ci.betaflight.tech and I'm unable to download a .hex file as I used to be able to via the "[You can find the latest binarys here](https://ci.betaflight.tech/job/Betaflight/lastSuccessfulBuild/artifact/obj/)" link.

However, I have just noticed that if you dig into a [build ](https://ci.betaflight.tech/job/Betaflight/188/artifact/obj/)you can download the artifacts from the [.hex](ht

[2017-09-12 20:18] brianlbalogh commented on #4129
Is this just related to the use of the timer N-channels? I haven't actually flown any builds since that commit yet, but my F7's seem fine on the bench with a current build.

[2017-09-12 20:24] wind0r commented on #4138
Thanks for the report :) Jenkins somehow crashed thats the reason for the error :(
Hex downloads still worked since they where cached by the CDN.

It should work now! Thanks again :)

[2017-09-12 20:41] mikeller commented on #4137
Hi @MimaRaza. GitHub is for discussion and questions around development of Betaflight. For questions about your hardware, please contact the vendor, or check on RCGroups: https://www.rcgroups.com/forums/search.php?searchid=62321138&query=betaflight%20connect

[2017-09-12 20:41] #4137 closed

[2017-09-12 21:26] richard-scott commented on #4137
Firstly check you have the latest BetaFlight Configurator (BFC) installed.

Secondly, you aren't able to brick an FC by flashing firmware to it. The only way to make it not work in BFC would be if you a) disable USB-VPC or b) have a device you have soldered/connected to the board that conflicts with the USB socket working.

Even then its not bricked as you can re-flash by manually shorting the boo

[2017-09-12 22:06] asdiasx commented on #4137
Aparently this version only works with msp on uart1...

[2017-09-12 22:45] Yamaford opened #4139 "Refactor adjustment ranges and add direct adjustment mode #286 (Feature request)"
Could someone look into the work already done here #286 and see if its compatible with the current Betaflight ? This would valuable for tuning things in the air quickly rather than landing to tune or flipping the switch. multiple times.

[2017-09-12 23:11] airbornone commented on #3723
i am experiencing the similar problems with my quad, if im under 80% throttle everything seems to be quit stable, however after full throttle punch the quad pitches forward with some roll with no stick inputs. i have played with the pitch iterm and roll iterm with out any effects. i have also wound the anti gravity out to 6.0 which shows 6000 in cli. this only seemed to become apparent after upgra

[2017-09-13 07:08] #4119 closed

[2017-09-13 12:45] ABLomas commented on #3994
In short:
 - i managed to get SUMD working on OMNIBUS F4 V2 (without software inverter), using the same port as SBUS, without any modifications (re-tested with 3x more RX+FC pairs) - requires only minor software re-configuration on RX/FC side
 - SUMD still not working for me on spracing F3/DODO/Omnibus F3, using the same port as SBUS, using inversion on FC. Needs more time on that, as i'm using an

[2017-09-13 12:54] mikeller commented on #3994
@ABLomas: Thanks for testing, and good to hear that there is some success. I am a bit surprised that it isn't working on the F3, it almost sounds like there is an inverter involved somewhere, but as far as I know none of the openLRSng RX has an inverter on the serial output.

And yes, I have merged a change into openLRSng that does standardise the output of SBus to be identical to the output of th

[2017-09-13 13:25] GrishaLutsenko commented on #2613
Sure you released B07 first from motor output ?

[2017-09-13 13:36] llambkin commented on #3725
I cant wait to have a play around with this code, Hectech FPV is sending me a prototype VTX to have a play with. It should work with this project.

[2017-09-13 14:21] #4138 closed

[2017-09-13 15:19] peteoz opened #4142 "rxfail request"
would it be OK to request a feature whereby one of the failsafe options would allow to set rxfail 3 (throttle) to a specific value ?

for control channels only "a" (auto) and "h" (hold) are allowed, while AUX channels can be set to a specific value.

I can think of situations where setting rxfail 3 (throttle) to a specific value would be desirable.
I fly mostly in complicated terrain (ie. mountain

[2017-09-13 16:00] Arakon commented on #4142
You can set the throttle level in failsafe when you select "Land" as stage 2 option.

[2017-09-13 16:41] RobinFPV opened #4143 "VBat not working RC5 SPF3"
Hello, I upgraded my SPF3 to BetaFlight 3.2.0 RC4 and everything worked so far, including Vbat, so I updated my friend´s Quad to BetaFlight 3.2.0 RC5 since RC5 was out, but on his SPF3 VBat didn´t work anymore, after checking and resoldering all connections, downgrade to 3.1.7 and it worked fine, sorry I cannot follow all steps, but I don´t know how to fix it and stuff like that, just wanted to te

[2017-09-13 16:58] jflyper commented on #4143
@RobinFPV
Battery meter on SPF3 do work with 3.2.0-RC5.
Please try full-chip erase flashing or do CLI "defaults" command and immediately test the feature.
If the issue persists, please redirect your support request to appropriate places on the net.

Ref:
https://www.rcgroups.com/forums/showthread.php?2387038-SPRacingF3-Racing-board
https://www.rcgroups.com/forums/showthread.php?2464844-Betaflight-

[2017-09-13 16:58] #4143 closed

[2017-09-13 17:03] peteoz commented on #4142
but that's not really solution, stage 2 settings is for us to set up the way we want to bring the quad down when the signal is not recovered during guard time of stage 1.

stage 2 throttle value I'm using is actually low to ensure the quad comes down if stage 1 recovery failed.

[2017-09-13 17:04] RobinFPV commented on #4143
I did a full chip erase and the Settings we're stock.

[2017-09-13 17:23] jflyper commented on #4142
So, you are saying that you want to be able to set throttle to some value so that it will gain some altitude while in stage 1?

Wouldn't that cause an armed craft, in any state (spinning out of control, resting on the ground at idle speed, etc.), to spin up to the value if radio is shutdown? It might make bloody faces if not bloody fingers...?

[2017-09-13 17:48] peteoz commented on #4142
didn't think of that scenario but obviously to implement it correctly an additional check would be required (ie. active only if the idle throttle value was already passed).

apart from the fact that only users that really want the feature would actually make use of it.

[2017-09-13 18:12] richard-scott commented on #4138
It's done it again ;-(

[2017-09-13 18:16] wind0r commented on #4138
Could you clear the Browser Cache and try again?
For me and a friend it is working fine.

[2017-09-13 19:05] richard-scott commented on #3893
I'm getting an unexpected boost in height following a tug on yaw input on an SP Racing F3 Evo. Is this YSTTM? Remove yaw input and quad stops rising.

Oh, and this isn't following a crash, but hovering and wagging on yaw stick to induce a 360 spin.

Here is my Diff, nothing much is enabled.
[SPRACINGF3EVO.txt](https://github.com/betaflight/betaflight/files/1300506/SPRACINGF3EVO.txt)

[2017-09-13 19:48] DanNixon commented on #4142
"apart from the fact that only users that really want the feature would actually make use of it."

You are obviously not familiar with how users work.

I think that might be OK with the condition that the present value is only applied when the throttle is above min_check (although this is also possible in flight). A check that throttle has been above min_check at least once is not sufficient to be

[2017-09-13 20:50] mikeller commented on #2613
@GrishaLutsenko: Releasing the pin is not necessary, motor 5 will not be used if the mixer for a quad is selected. (But releasing the pin won't hurt either.)

But have you done `resource camera_control b7`, @iceberg101?

[2017-09-13 20:52] GrishaLutsenko commented on #2613
@mikeller I checked on mine F4 board and until I released pin from motor 5 output I had no output for camera there. But for LED strip that works without releasing. Not sure why, just observed that.

[2017-09-13 20:58] mikeller commented on #4142
I agree with @DanNixon on this.

@peteoz: Essentially, what you are proposing is an 'autonomous flight' feature. 'failsafe' is a safety feature. Mixing safety features with other features is not the way to go, as this will reduce the safety aspect of the safety feature, and increase the chance of the safety feature not working due to misconfiguration.

Autonomous flight is not a focus in Betafligh

[2017-09-13 22:00] TheMightyThor1212 commented on #2965
Hello

I realize this thread might be a little dated. from reading it, it appears to be a resource mapping issue? is that correct? just remap the LED to B1 (resource led_strip b1) and it works by connecting to the LED Connection?
thanks

[2017-09-13 22:09] mikeller commented on #2965
@TheMightyThor1212: Read https://github.com/betaflight/betaflight/issues/2965#issuecomment-324549233: Yes.

[2017-09-13 22:19] peteoz commented on #4142
@mikeller iNav is not for everybody, I'm not interested in autonomous flights, or flying from A to B at high altitude. I like to fly freestyle in the mountains, in complicated terrain, proximity, through the gaps, near the waterfalls and so on, for that I need a performance quad. while I have one 6inch quad, all of my other long range quads are 5inch, same quad I take for fun to a park or bando. I

[2017-09-13 22:47] mikeller commented on #4142
@peteoz:

Fair enough. My point was not about it being an 'autonomous flight' feature per se, but about it **not** being a safety feature.

The trend in Betaflight seems to be going towards making it suitable for less technical users, and as part of this, even abandoing the concept of a configurable second stage and instead making the craft drop after the guard time has been discussed.

[2017-09-13 22:53] kidBrazil commented on #4057
Ok guys, I got out today and test RC5 and I am happy to report that altough the stock tune wasn't great on Biblades it was flyable and I was able to reach full throttle. There were some warbles for sure at higher throttle ranges but I was able to tune it out quite easily.

So just to recap here real quick.
1- This is still that same quad, with the same motors and same issues on RC4 that flew great

[2017-09-13 23:53] peteoz commented on #4142
oh dear, that's gonna be few broken quads and gopros. they could remove 2nd stage settings from the configurator and leave it in CLI so that less technical people don't get to it easily.

I have my 2nd stage set to "Land" with throttle 1045 and during both failsafes I had last month my quads landed nicely on the belly (all my long range quads running top mounted battery). can send you videos if it

[2017-09-14 00:17] #4142 closed

[2017-09-14 00:18] churd83 opened #4144 "OSD Problem with CPU Overclocked"
The OSD flickers and has "-" (dashes) across the screen when Overclocking the CPU to try and run 32/16 on my Kakute F4 AIO. If I disable OSD it flies fine without and video issues. If I set CPU overclock off and set to 16/16 the issue isn't present either. Has to be something with the overclocking of the CPU. Tried to search this issue but haven't seen any post on it so I thought I'd throw it out

[2017-09-14 01:23] NotmanyFPV commented on #2916
Ossh, same thing happened to me with GT200 crusader and my taranis x7 a
week ago, I updated firmware to latest and it worked ae, despite it saying
on box not to update past 3.1.
works sweet Maiden flew it last weekend, dream.

Can you send a picture of your reciever tab?

On 12 Sep 2017 5:03 PM, "jkapdrone" <notifications@github.com> wrote:

[2017-09-14 02:28] jflyper commented on #4144
@churd83
I believe the issue is triggered by SPI clock that is too fast:
- SPI clock for video overlay chip has been raised by fourfold (x4), as it was mistakenly halved from target value, which is half the rated max for the overlay chip. This brought the clock close to rated max on F4 (10MHz).
- When overclocked, with the current SPI clock manipulation logic, the SPI clock will increase in propor

[2017-09-14 02:34] jflyper commented on #4144
@DieHertz
It bit us! 😉
Interesting thing is that AB/AT7456 seem to hold at 15MHz, while Kakute F4, as I see in pics on the net, uses the original MAX7456. I suspect MAX, probably driven at 5V, is not capable of handling 15MHz clock, as oppose to AB/AT driven at 3V3.

[2017-09-14 02:43] churd83 commented on #4144
@jflyper
Thanks for looking into this. I don't understand the details but I understand your comment as a whole lol. So can this be fixed with an update, or because of the hardware used, I will not be able to run 32k on this FC with osd?

[2017-09-14 02:50] jflyper commented on #4144
Possible solutions
1. Change the divisor handling to half the clock when overclocking is in effect.
Transparent to all bus devices, but slows down transactions considerably. This will hurt the gyro sampling also; if current code takes 7us to read, then it will take 14us to read, probably invalidating the original purpose of overclocking.

2. Half the default clock for overlay chip.
Transparent to

[2017-09-14 02:51] jflyper commented on #4144
@churd83 I will build a test firmware that halves the clock by default. So we can test our hypothesis of clock being too fast.

[2017-09-14 03:02] churd83 commented on #4144
@jflyper awesome and thanks again.

[2017-09-14 03:10] jflyper commented on #4144
@churd83 Looking forward to hearing the test results 😉

[2017-09-14 03:14] churd83 commented on #4144
@jflyper I will test tomorrow! Will report back. Thanks again

[2017-09-14 04:14] jkapdrone commented on #2916
NotmanyFPV thanks for your help. I got it going. An update probably would have did the trick. But my failsafe values were at 0. I read some information online about setting them to 885-2115 and that gave me colors and values in the receiver tab.

Thanks for responding

[2017-09-14 04:54] ctzsnooze commented on #4057
@kidBrazil I looked at your logs, from RC4.  It shows massive sinusoidal oscillation at 30Hz.  It is primarily generated from D.

The main thing is that the oscillation is exclusively in the pitch axis.  There is none in roll or yaw.  This is very unusual.  It implies that the flight controller / gyro chip is somehow loose or in a low pass state on this axis, and that when props are applied that m

[2017-09-14 07:53] 0crap opened #4145 "tasks CLI command gives very high % values for SERIAL task"
The first time after power on I enter CLI 'tasks' command, I get a correct value for the SERIAL task.
Every following 'tasks' command gives crazy high % values for the SERIAL task.

It's reproducable by going out of the CLI (click on Blackbox or whatever icon in BF Configurator) and click again on CLI icon.
First 'tasks' command is OK, every following crazy high % SERIAL task.
(NAZE target, BF3.2.

[2017-09-14 08:28] NotmanyFPV commented on #2916
Wicked! lol no problem, many a nights looking blankly at my quad beeping
trying to decipher online forums to apply to my situation haha this one
caught my eye as I was stuck on the same day with issue :)

Good times

On 14 Sep 2017 2:14 PM, "jkapdrone" <notifications@github.com> wrote:

[2017-09-14 08:59] DanNixon commented on #4142
I don't think the issue is with your suggestion being useful in your case.

The issue I have is that outside of your narrow use case such a feature could pose a safety issue if users do not understand it and configure it properly (and people just do not take the time to do this).

Take for instance a quad sitting on the ground, armed with the throttle only just above idle (to circumvent a single c

[2017-09-14 09:32] Gregalterego opened #4146 "ex100 problem connection after flashing"
after updating spracing3 I can not get a drone set-up see me com6 but do not open the drone I can only make other blinking who knows how to help me?

[2017-09-14 09:47] jflyper commented on #4146
@Gregalterego
Please redirect your support request to appropriate places on the net, as Betaflight github issues is a place for discussion towards solving software issues and making great software. Thank you in advance for your patience and understanding.

Ref:
https://www.rcgroups.com/forums/showthread.php?2464844-Betaflight-Flight-Controller-Firmware-Discussion-Thread
https://www.rcgroups.com/fo

[2017-09-14 09:47] #4146 closed

[2017-09-14 09:57] jflyper commented on #4145
@0crap
It is natural that the SERIAL task shows unreasonable values, as CLI output blocks the task and remain it in the run state for prelonged period of time. It has no impact in flying.

[2017-09-14 09:57] #4145 closed

[2017-09-14 10:49] 0crap commented on #4145
Thx for your reply @jflyper
(Sorry for wasting your time. )

[2017-09-14 12:24] TheMightyThor1212 commented on #2965
@mikeller thank you so much!!!!

[2017-09-14 14:11] McGiverGim opened #4147 "VTX_COMMON needed by CMS when compiling"
I don't know for sure if this is an issue or not. I think that each define is more or less independent to build customized versions or remove features to free some space if needed.
In an earlier version of Betaflight, I could add the CMS system without problem, but in the newest version there're some compile errors because it has a lot of references to some code that is included inside the VTX_COM

[2017-09-14 14:14] DanNixon commented on #4147
It shouldn't be, VTX configuration is just a small part of the CMS. There must be parts of the VTX config related code that are not properly guarded by `VTX_COMMON`.

I'll take a look later tonight if I get a chance.

[2017-09-14 14:22] jflyper commented on #4147
Definitely not. Because CMS can work on external serially-connected OSD or I2C-connected OLED display alone. I must have done a loose job when I did the `VTX_COMMON` work... 😭

[2017-09-14 14:42] McGiverGim commented on #4147
I've tried to reproduce it too with my OMINUBUSF4SD, adding this:
[code]
makes the compiler process fail. Maybe is a easier way to reproduce it.

[2017-09-14 14:44] jflyper commented on #4129
@brianlbalogh No, it's not related with N-channel. (And I found out that NERO does not have a problem also).

[2017-09-14 14:46] iceberg101 commented on #2613
Yes I have re mapped motor own pin to camera control.

[2017-09-14 14:50] goodnerdboy commented on #4129
@jflyper my NeroF7 has a problem too. I don't know what is your setup with it, but i use DSHOT1200, and motor 1 is very grainy on most of throttle range(i didn't go full throttle though), motor 3 is twitching  without spinning, and motors 2 and 4 don't spin at all.
It seems to be related. I installed build 1619 (right before merging #3978 ) and it works well.
My 2 cents.

[2017-09-14 14:54] iceberg101 commented on #2613
Yes I have re mapped motor 5 pin to camera control. Previously I tried on led pin (A08) where i also alocated the resource for camera control. I've also tried changing the key delay from 100 to 500 in increments of 10 with no succes.

[2017-09-14 15:03] peteoz commented on #4142
@DanNixon , I understand the suggestion I gave (as an example only) is not a robust way to safely detect when the event should be triggered. I'm not a developer and not technically minded to give valid suggestions, but I'm probably right to think that others who are involved in the development and have all the experience would be capable of coming up with a solid/safe detection, I'm just not one o

[2017-09-14 15:21] jflyper commented on #4129
Hmm... I re-flashed NERO with RC5, and it develops the issue again. I wonder what's happening...

[2017-09-14 15:23] goodnerdboy commented on #4129
does this look like a conflict issue? Did you modify any parameters before it works the first time?

[2017-09-14 17:01] claytonbakerjr commented on #3990
Hi I know this is closed but I am trying to zero in on the fix.
A friend has a CL Racing F4 loaded with BF3.2 RC4 using
a Spektrum DX6 and the same happens to him.
I've read through #3937 #3926 and from what I gather
this should have been resolved in RC4?
Sorry to drag this out again

[2017-09-14 17:05] DanNixon commented on #3990
@claytonbakerjr  What RX and RX protocol.

I believe @AndersHoglund tested the new arming checks with Spektrum gear and it worked fine for him.

[2017-09-14 17:07] claytonbakerjr commented on #3990
Thanks @DanNixon unfortunately this guy is at MGP Nationals right now LOL so getting
exact specifics is difficult. I told him to be mindful of his arm switch until we can actually
dig deeper into his situation. If after we do put this through the testing and find that
it seems to have presented itself again I will have him post it up.
Appreciate the reply

[2017-09-14 17:57] Drewlrox commented on #2613
Hello, so I see in the wiki it reccomends to run an extra ground. Is this talking about camera gnd or signal gnd wire? I already have my camera grounded to my fc for my bf osd, should I run another from the signal gnd wire?

[2017-09-14 18:18] #4147 closed

[2017-09-14 18:21] churd83 commented on #4144
@jflyper That WORKED! OSD isn't flickering anymore and I dont have the black dashes either. Will test fly and see if any other issues arise. I set it to 32/16 so lets see how that goes

[2017-09-14 19:48] churd83 commented on #4144
Flying great! Thanks again @jflyper!

[2017-09-14 19:49] #4144 closed

[2017-09-14 20:48] kidBrazil commented on #4057
@ctzsnooze Thank you very much for the indepth explanation. I will look at the FC once again and maybe replace it with something else!

Cheers

[2017-09-14 21:42] AndersHoglund commented on #3990
Did I test this? Geting old and senile :-)
Anyhow, 3.2.0-RC5 works fine with only simple single arming on AUX switch. No pre-arm. Using Dx18G1, DYSF4PRO  and SPM4649T telemetry Rx on UART Tx3, SRXL .
If I powerup the rig with Tx AUX switch in ARMED  state, I get warning beeps and have to toggle the arm switch off and on again to arm. As it is supposed to be.

Please, no more reports on old RCs. If

[2017-09-14 22:04] NicolasAz1 opened #4149 "Serial Receiver Provider can't be saved"
Hi,
Summary :
Setting erased while connecting to BFC, and impossible to save back again.

Details :
Flew my quad pretty well today, until I connected it to BFC today, changed settings on OSD, and Battery voltage alert... Then saved and realized several other things had changed : RX Serial receiver provider was no more "Ibus" but "Spektrum"... Tried to change, save and reboot, but after reboot "ibu

[2017-09-14 23:17] iceberg101 commented on #2613
The ground referred to here is from the osd wire

[2017-09-14 23:36] TheMightyThor1212 commented on #2965
@mikeller woukld anything else have to get remapped, say maybe the DMA Channel? i can get the LEDs to show Color but it doesnt respond to larsen scanner, only the first light comes on, the other 3 blink rapidly. didnt know if there was more to remap. i am using the latest firmware for the MICRO LUX F4, bluejay target. thanks in advance!!

[2017-09-14 23:48] Arakon commented on #4149
- You don't mention the betaflight version on the actual copter.
- As a workaround, try setting it in the CLI and saving there.

[2017-09-14 23:49] jflyper commented on #4144
@churd83 Thanks for testing the PoC firmware. There will be an official (?) PR shortly. I might ask you to test it again 😄

[2017-09-14 23:57] Drewlrox commented on #2613
So I just wire that to any spare gnd pad on my fc?

[2017-09-15 00:33] mikeller commented on #2965
Hmm, weird, it worked fine for me. Can you please make sure that nothing is configured for UART1 on the ports tab?

[2017-09-15 00:46] TheMightyThor1212 commented on #2965
@mikeller Ok i will look again, off the top of my head i can remember, but thank  a lot for responding its greatly appreciated!!

[2017-09-15 01:13] #3248 closed

[2017-09-15 01:19] mikeller commented on #3248
Agreed with @jflyper in that we should not take on responsibility for covering up serious safety issues.

@thisismyrobot: For most RX out there, the 'no signal' behaviour can be configured, and the most common procedure for configuring the RX to stop outputting a signal in case of RX signal loss seems to be to press the 'bind' button for a couple of seconds, while the RX is powered up but not rece

[2017-09-15 02:35] jflyper commented on #4144
@churd83
It's going to be nice if you can test this firmware.
[betaflight_3.2.0_KAKUTEF4-4150-00.hex.zip](https://github.com/betaflight/betaflight/files/1305129/betaflight_3.2.0_KAKUTEF4-4150-00.hex.zip)

I'm interested in debug variables (you can observe them in sensor tab). Can you tell me what the values are under:
(1) Non-overclocked environment
(2) Overclocked environment

Thanks in advance.

[2017-09-15 02:37] churd83 commented on #4144
Yes I can test it tomorrow

[2017-09-15 03:48] wesk-ms commented on #4129
Hey guys,

FWIW, I've had a omnibus f7 v2 from RTFQ now, for 2 weeks and it hasn't  been in the air yet because the motors won't spin.  What's interesting is that have been able to get all four motors working on any dshot protocol in the BF configuator motors tab if I drop the graph refresh date down to 1 sec.  If I do this, then disable/re-enable the motors, one motor will start working.  Disable

[2017-09-15 05:34] buzzcola3 opened #4151 "Add way to manually override battery cell count to OSD"
I have omnibus f3. Lipo: infinity 4s
At osd it is showing 16.8 battery voltage but at cell voltage it is saying 3.3 low battery. I think betaflight thinks that i have 5s lipo. When i connect and disconnect lipo sometimes like 5 times it is working. But at full voltage it is right. Can you add future to betflight that you can choose how many cells you have if you need to.

[2017-09-15 05:47] jflyper commented on #4149
I suspect the BFC was automagically upgraded to the version not compatible with the running BF firmware version.

[2017-09-15 05:55] frizzle101101 opened #4152 "Motor reversing (anti-turtle) not working on BF3.2 rc5"
Motor reversing not working on BF3.2 rc5 with speedex es 30a escs(dshot capable blhelis) using dshot600. arm with normal direction and then switch the switch and motors continue with normal direction. Arm with reversed direction switch and motors do not spin, but if you go to motor tab after and spin motors and they backwards untill you arm with switch not on reversed. Using 16.63 Dshot commands a

[2017-09-15 06:12] iceberg101 commented on #2613
That's correct

[2017-09-15 06:28] mikeller commented on #4151
1. calibrate your voltage sensor: https://github.com/cleanflight/cleanflight/blob/master/docs/Battery.md#adc-sensor
2. if 1. does not fix it. adjust 'Maximum Cell Voltage' on the 'Power & Battery' tab until it works (particularly for LiHV batteries).

[2017-09-15 06:36] mikeller commented on #4152
- reversing while armed is not supported;
- in RC5, when the crash flip mode is activated, motors will not spin after arming when in default stick position. use pitch / roll to spin 2 motors at a time.

[2017-09-15 07:44] Noctaro commented on #3248
I wouldnt call it responisbility. Creating a workaround for this kind of setup would just help users that were trapped with some crappy rx, more sounds like a saftey feature to me. I also have one of these boards. You can not force them into fs mode. Lucky its only a brushed copter, but its attemps to flyaway are real. This feature would have helped. However i know you guys are doing alot of aweso

[2017-09-15 08:04] DanNixon commented on #3990
@AndersHoglund I thought you did, maybe I'm mistaken. I have a feeling it was back when the additional checks for the initial receiver state were added (RX failsafe, bad initial ARM switch position, etc.).

[2017-09-15 08:33] mikeller commented on #3248
@Noctaro: @mikeller i also tested your suggestion on my board, but its just crap and cant handle any other fs mode than crazy signal repeating. How cheeky....

Sorry to say, but the only way forward from this is to throw away this RX, and buy one that's not brokenin a way that makes it dangerous to use. If this was a mains power cable, and you found it was defective and one of the wires was expose

[2017-09-15 11:49] peteoz commented on #3160
Hi,

I have finally went ahead and installed BF 3.2 (RC5) on my quads, the LEDs are no longer working again on Kiwi.F4.

-------------------------------------------
@flyinglemonfpv : With FW 3.2 led will be on LED pad, but if you want on VTX.DTA just let me know.
-------------------------------------------

The manufacturer left this out with no definite answer as to what will happen when BF3.2 is

[2017-09-15 13:15] robert-hoffmann commented on #4151
I had this problem when i set max voltage to 4.2, and the battery was at 4.25 ..so i set it back to 4.3 and all was fine again.

Max bat MUST be inferieor to max voltage
..though this sounds like a bug kinda too. BF should just consider voltage=max voltage if voltage > max voltage

[2017-09-15 13:20] frizzle101101 commented on #4152
works perfect then, does it say that any where about the feature

[2017-09-15 13:26] frizzle101101 opened #4155 "feature for osd elements on a switch - OSD profiles"
was wondering if there is a feture for switching on elements of the osd with a switch, not just osd on off. like i have my default for racing but then i have another config i wanna use for freestyle with more osd info. All i wanna do is use a tx switch to switch these configs, sorta like rate profiles. Osd profiles i guess lol

[2017-09-15 13:46] brycedjohnson commented on #4152
Recently the wiki has been updated with a short description.  https://github.com/betaflight/betaflight/wiki/BetaFlight-3.2

[2017-09-15 13:50] DanNixon commented on #4155
That is planned.

I have a demo of it working with @fishpepper 's OSD changes, but those will need to be finished first.

[2017-09-15 14:00] fftunes commented on #4057
@ctzsnooze @kidBrazil But that doesn't explain how the issue could be reproduced on other quads.

[2017-09-15 14:20] TheMightyThor1212 commented on #2965
@mikeller nothing configured on UART1, it is off.

[2017-09-15 14:35] TheMightyThor1212 commented on #2965
@mikeller maybe its something to do with the firmware, if i make the lights white, they all turn on. if i change Light 0 to a color or Larsen scanner, only light 0 blinks. probably a mapping issue or something is my best guess. nothing else works, no color changes, no indicators, etc. just white lights. i tried a second brand new strip, same results. i ordered more LED Strips, maybe those will wor

[2017-09-15 15:38] jflyper commented on #2965
@TheMightyThor1212
I suspect it is the voltage issue. How are you powering your LEDs?

[2017-09-15 16:21] TheMightyThor1212 commented on #2965
@jflyper 5V power from the LUX. i measured, it is 5 v

[2017-09-15 17:45] jflyper commented on #2965
@TheMightyThor1212
Hmm... why don't you make it a bit lower, just in case, by inserting a diode.

If this doesn't work, why not a diff output so @mikeller can load it onto his board.

[2017-09-15 18:43] churd83 commented on #4144
All debug are 0 for overclocked and non-overclocked

[2017-09-15 19:06] TheMightyThor1212 commented on #2965
@jflyper I'll try a few things, these are all 5V strips, they all work on other aircraft, all lights come on when they are programmed to be white. but i am game for anything. not sure what you mean by a DIFF output? are you saying use a different connection on a different port? or are you asking me to do a dump?

[2017-09-15 19:42] AndersHoglund commented on #2965
Problem with LED-strips are not the +5V supply as such. The problem is the difference between input signal high level and power supply voltage. Too big difference and it will not work, easiest way to make this difference a bit smaller is to lower the power supply voltage with a diode in series. Amplifying the input signal would be an alternative, a bit more circuitry needed though.
And jflyper is

[2017-09-15 20:16] Bugg69s commented on #4151
Thanks :) but I think it will be nice to can set how many cells you have, it will be cool if you will be able to set it through osd too.

[2017-09-15 20:17] Bugg69s commented on #4151
I'm just waiting when they ad Command line to OSD!

[2017-09-15 21:02] RamFPV commented on #4152
Is small angle bypassed in turtle mode?

[2017-09-15 21:18] brycedjohnson commented on #4152
@RamFPV No it isn't.

[2017-09-15 21:23] leisim commented on #3696
Is anyone working on this? I'd love to fly 3D but the lastest build still does not work :/

[2017-09-15 22:58] KenImhof commented on #3696
Leisim,

If you want, I can compile the fix into a custom build for you.  What flight controller do you have?

You may also want to consider running iNav for 3D.  I am running a custom build of iNav for 3D with Compass/Barometer POS/ALT-Hold which is working for Inverted and normal bail-out as well as the standard RTH and Position hold.  I can post a video this weekend if you are interested.

[2017-09-16 00:22] TheMightyThor1212 commented on #2965
Thanks @AndersHoglund never did a diff command, so i didnt understand it. i did a resource command @jflyper  @mikeller it seems that B01 is assigned to the LED_STRIP, MOTOR 6 and a SERIAL_TX 11. if i do a resource list, i do not see MOTOR 6, but i DO see Serial_TX 11, which i assume is the LED channel? I have always run these LEDS, which i think are 2811s? on a 5v connection, though they can run o

[2017-09-16 00:33] TheMightyThor1212 commented on #2965
HERE is my DIFF command results
# diff

# version
# Betaflight / BLUEJAYF4 3.1.7 Apr  3 2017 / 21:54:04 (e1c4b5c)

# name
name Frik

# resources
resource MOTOR 1 A01
resource MOTOR 2 A00
resource MOTOR 3 A03
resource MOTOR 4 A02
resource LED_STRIP 1 B01

# mixer

# servo

# servo mix

# feature
feature -VBAT
feature -BLACKBOX
feature -SDCARD
feature LED_STRIP

# beeper

# map

# serial

# led
led

[2017-09-16 00:52] clemtrinc commented on #2566
How did you flash it using an ftdi on UART1 ? I just brok my omnibus f3 usb and I'm using Inav and had MSP disabled on UART1. SO right now I can't flash anything except with an STLink according to youtube. It would really help if I can flash it directly with an ftdi since Inav has MSP enabled by default.

Thanks

[2017-09-16 01:02] sdotfpv commented on #4043
@jlbiarlee  just tried RC5 same thing happend switched to rc4 and everything fine

[2017-09-16 01:15] mikeller commented on #2566
@clemtrinc: Flashing on UART1 with FTDI is never a problem, just use the boot button to get into the boot loader mode, and then flash. But if iNav doesn't have MSP enabled on UART1 by default, you're out of luck for configuring after flashing, unless you build a custom version.

[2017-09-16 01:20] mikeller commented on #2965
@TheMightyThor1212: @jflyper and @AndersHoglund are right, the symptoms you describe sound totally like a voltage issue. Add the diode to the Vin of the LED strip, and you'll be fine.

[2017-09-16 01:26] clemtrinc commented on #2566
Yeaaaaaah, I just flashed it no problem on betaflight, it doesn't work on Inav for some reason, like Inav will not talk to bootlaoder somehow, but since reading the OP's solution I tried with betaflight and it worked. Then I tried uploading the latest release of Inav with BF's flasher and it worked !
Just saved a board and an ST-Link despite some guy on youtube claiming you had to connect to the c

[2017-09-16 01:43] mikeller commented on #4152
@brycedjohnson: Sure? I thought I was able to arm in turtel mode when upside down. And if it isn't, it probably should, because it kind of defeats the purpose otherwise.

[2017-09-16 01:46] jflyper commented on #4144
There must be something wrong... `debug[2]` should be 8 or 16.

`debug[0]` = Over clocking state (1 for overclocked)
`debug[1]` = Device type (0 for MAX, 1 for AT)
`debug[2]` = SPI clock divisor

Try this
[betaflight_3.2.0_KAKUTEF4-4150-01.hex.zip](https://github.com/betaflight/betaflight/files/1308030/betaflight_3.2.0_KAKUTEF4-4150-01.hex.zip)

[2017-09-16 01:49] brycedjohnson commented on #4152
@mikeller I didn't touch any of the arming conditions, so I haven't tested it.  Your acc isn't off or small_angle set to 180?

[2017-09-16 01:54] brycedjohnson commented on #4152
And yeah it should probably allow arming at any angle when in turtle mode.  I hadn't thought of that until now, because I have been running small_angle=180 for so long

[2017-09-16 02:44] ReganGTX commented on #2566
https://www.youtube.com/watch?v=5VmhoyL6Z7Q

[2017-09-16 02:53] TheMightyThor1212 commented on #2965
Thank you all for your help, before i do that i will wait on the new LEDs to come in. these arent the greatest LEDs known to man, but they have worked on other FCs, like the PIKO BLX. probably time for a new FC anyway. @AndersHoglund  @jflyper @mikeller

[2017-09-16 04:40] mikeller commented on #2965
As @AndersHoglund tried to explain. It is not that your LEDs are not good. It is that driving them at 5V, with a signal level of 3.3V is touch and go. It will work if the flight controller's 5V rail is slightly low, or the 3.3V rail slightly high, but not if it is the opposite way. From your symptom description it looks like the flight controller you are using does not meet these criteria, so usin

[2017-09-16 04:51] bikenewby commented on #4129
Same problem on OMNIBUSF7 with DSHOT setting, the ESC won't initialize on RC5 and hence cannot arm. It is working fine if rolled back to RC4. Also, it is working with RC5 but with https://github.com/betaflight/betaflight/blob/master/src/main/drivers/pwm_output_dshot_hal.c#L86-L89 reverted to before #3978.

[2017-09-16 05:57] ctzsnooze opened #4156 "3.2 including RC5 - LEDstrip no longer working on BluejayF4"
Hi guys, in upgrading from 3.1.7 to 3.2 RC4 and RC5, the LEDstrip has become inactive on my Bluejay F4 R4 boards.

Curiously when using BLHeli to flash ESCs, the LED strip lights up, and it also glows weakly when plugged in to USB.  But it won't work at all when booting up from LiPo.

It's a minor thing but I'd be grateful if there was a workaround to test.

Thanks - Chris

[2017-09-16 07:10] jflyper commented on #4156
@ctzsnooze
Did you do full-erase?

[2017-09-16 07:27] noypi2000 commented on #4136
I have the same issue with my Monster V2.  I have Omnibus F4 V2.  Used 220 resistor, 125 delay and 99 internal resistance.  I tried motor pin 5 and 6 with same result.  I can only go to the 1st menu like csbuzkp using joystick combo yaw low and pitch up.  If I change the internal resistance 50 using the same stick combo I can get to the 2nd menu but I cannot move up, down, left or right.

[2017-09-16 07:30] noypi2000 commented on #2613
I have an issue with my Monster V2 and osd camera control. I have Omnibus F4 V2. Used 220 resistor, 125 delay and 99 internal resistance. I tried motor pin 5 and 6 with same result. I can only go to the 1st menu using joystick combo yaw low and pitch up. If I change the internal resistance 50 using the same stick combo I can get to the 2nd menu but I cannot move up, down, left or right.  I also tr

[2017-09-16 07:44] Ralfde commented on #3145
Do you think, you could get the HoTT Telemetry working again in the RC6?

[2017-09-16 07:46] DieHertz commented on #2613
I can't help you as I don't have this camera

[2017-09-16 07:53] hydra commented on #3145
i can take a look, i just need to find time...

[2017-09-16 08:25] vicewize commented on #2566
Is there anyway possible you could make a matek f405 build, just broke usb and to get it to click unstable release candidates (just fyi). Im away from computer otherwise I would do it myself. Thanks.

[2017-09-16 09:09] mikeller commented on #3160
@peteoz: @flyinglemonfpv would probably know the answer to this.

[2017-09-16 09:21] mikeller commented on #4151
The problem is that max voltage is what is used to calculate the number of cells. So if your battery voltage per cell is more than the max voltage, the logic will recognise the battery as one cell larger than what it really is.

[2017-09-16 09:23] mikeller commented on #4144
@jflyper: Doesn't @churd83 need to set `debug_mode` to a particular setting for this to work?

[2017-09-16 09:26] mikeller commented on #4152
Yeah, tested this today, with small angle at default you can't arm in anti turtle mode when upside down. Do you want to submit a fix (prolly just bypass angle arming condition detection when in crash flip mode), or should I?

[2017-09-16 09:29] mikeller commented on #4156
Curious. I flashed latest from master onto one of my quads with a BLUEJAYF4 and an LED strip, and it's working fine. How is your strip connected?

[2017-09-16 09:38] mikeller commented on #3145
@hydra: I think @martinbudden said he'd look into this.

[2017-09-16 09:50] mikeller commented on #2566
@vicewize:

[betaflight_3.2.0_MATEKF405.zip](https://github.com/betaflight/betaflight/files/1308225/betaflight_3.2.0_MATEKF405.zip)

[2017-09-16 10:07] AndersHoglund commented on #2566
I have a few _MSPUART builds running here:  http://andwho.sytes.net:8080/job/AndWho_Betaflight/
Those are usually rebased and in sync with master, but this is done manually at irregular intervals. May not be quite uptodate at all times.

[2017-09-16 11:58] vicewize commented on #2566
Thank you @ mikeller you rock man.

[2017-09-16 12:21] clemtrinc commented on #2566
@ReganGTX   yes that's the video I'm talking about, I don't underdtand why he says you have to use an stlink with the stm software to flash it, since I was able to do it just via uart1 with ftdi on my USB VCP board.

[2017-09-16 13:26] lukenicholls9074 opened #4157 "FLIGHT MODE SWITCH - CHANGING VTX CHANNEL (not intended)"
Just setup my new quad on beta flight first time I've been using beta flight as I've switched from librepilotd (so cut me some slack as it might be something very simple). My problem is that my assigned flight mode switch is also changing my video transmitter channel, its not changing the band just flicks from say 8 to 6 to 2 randomly and so on.

[2017-09-16 13:57] mikeller commented on #4157
@lukenicholls9074: GitHub is for discussions and questions around the development of Betaflight. For questions about hardware and configuration of Betaflight, please contact the manufacturer of your hardware, or have a look on [RCGroups](https://www.rcgroups.com/forums/index.php).

[2017-09-16 14:19] ctzsnooze commented on #4156
Thanks...

Yes,  I did a full erase, several times to be sure.  And re-configured the settings rather than cutting and pasting.

I've carefully re-checked everything.  The LED works fine in 3.1.7.  I have it set to a colour with warnings overlay and it flashes etc all as expected.

But when flashed to 3.2 RC5, and then powered up from LiPo, the LED is always off.  It definitely has 5.03V power on

[2017-09-16 14:52] RipperDrone commented on #3696
Has your fix PR not been merged yet, @KenImhof? Thought this has happened quite a while back?

[2017-09-16 16:53] kidBrazil commented on #4057
@fftunes agreed, however I am getting reports that flashing to RC5 works... I dunno why either.

[2017-09-16 17:19] leisim commented on #3696
@KenImhof wow that would be really cool. I have the KakuteF4. I never used iNav but I'm going to take a look now ;)
A video would be great but I don't want to waste your time ^^

[2017-09-16 17:37] jflyper commented on #4144
@mikeller No, it's naive `debug` variable assignment.

[2017-09-16 18:51] Noctaro commented on #3248
@mikeller
Yes, i agree with you, such a rx in a multirotor setup is just a nogo. I received a replacement with a new version of the rx, when i mentioned my problem at a conversation with the seller. This new one also supports sbus/ibus. So the producer did listen and solve the problem. Maybe some of you who are trapped with those components can open a claim. This might also prevent future hardware

[2017-09-16 19:27] sepal commented on #3917
I have encountered the same issue. Logged several short hover flights with 1.5khz and the file has now a size of 3.4MB. Apperently the blackbox log viewer hangs on the loop in the countIntentionallySkippedFrames() function in flightlog_parser.js:1108. I don't know enough about betaflight and the blackbox features works, so it's kind of hard to debug the problem.
FC was a kakute F4.
[blackbox_sepal

[2017-09-16 19:38] jakezilla opened #4159 "Remapping LED_STRIP causes erratic behavior on SPRACINGF3EVO Brushed"
**Board -** SPRACINGF3EVO Brushed https://www.banggood.com/Eachine-32bits-F3-Brushed-Flight-Control-Board-Based-On-SP-RACING-F3-EVO-For-Micro-FPV-Frame-p-1076530.html

**Firmware version -** recreated with 3.1.6 and 3.1.7

**Issue -** the firmware is mapped incorrectly for the LED_STRIP output. It is mapped to A08, but it is actually physically connected to B10. So, after using 'resource LED_STRIP

[2017-09-16 19:43] sepal commented on #3917
Commenting out the call to the function mentioned above helps. Just go to flightlog_parser.js:1145 and comment out that line. I was able to open my log file with that hack, I have no idea what side effects that will have though.

[2017-09-16 20:26] sepal commented on #3917
Hmm, should probably move my comments to betaflight/blackbox-log-viewer, right?

[2017-09-16 20:51] KenImhof commented on #3696
Just confirmed the pull request was implemented into 3.1.7.  If you are using DSHOT that may be the problem.  Looking at the code it looks like there may be a missing line of code.

Video of iNav that was cut short during the RTH due to a problem with my phone is:
https://youtu.be/5oiWQhGGE78

[2017-09-16 22:12] mikeller commented on #3917
@sepal: Yes please.

[2017-09-16 22:13] leisim commented on #3696
This looks so cool. Really nice flying ;)
I hope we can get it to work again. I'd try it myself but I'm new and don't know the BF code yet :/

[2017-09-16 22:24] KenImhof commented on #3696
Make sure you are running version 3.1.7 and run ESC protocol Oneshot42.

[2017-09-16 22:25] mikeller commented on #3248
@Noctaro:

I guess so, probably a remnant from the days when RC radios were still entirely analogue, and the signal just 'went away' and left the servos wherever they were at the moment.

[2017-09-16 22:29] leisim commented on #3696
KakuteF4 does not support anything lower than 3.2 :'(

[2017-09-16 22:35] KenImhof commented on #3696
![image](https://user-images.githubusercontent.com/29838195/30516455-b5038b02-9af4-11e7-8f75-06c1626e8123.png)

[2017-09-16 22:36] KenImhof commented on #3696
What ESC protocol are you running?

[2017-09-16 23:12] leisim commented on #3696
Oh seems like it supports 3.1.7. I'm running Dshot600 atm but I'll try Oneshot42 and 3.1.7 tomorrow :)

[2017-09-16 23:13] mikeller commented on #4156
@ctzsnooze: I just tried your LED settings with a build from master from  about 5 days ago, and it's all sweet (this is with an OMNIBUSF4, since I don't have a BLUEJAYF4 here):

https://photos.app.goo.gl/bV8at8Yhkr72oRgp1

As unlikely as it sounds, I'd try adding an in-line diode as described here: https://github.com/cleanflight/cleanflight/blob/master/docs/LedStrip.md#connections

[2017-09-16 23:19] ctzsnooze commented on #4156
Thanks for confirming the issue is not generic to 3.2 or to F4 boards generally.  I don't have the problem on F3 boards either.

I won't try a diode since it works perfectly under 3.1.7 without a diode on two quads with these Bluejay boards, and fails on both of them on flashing 3.2.  Something has changed with 3.2.

I note that the Bluejay resource listing is different in 3.2 from 3.1.7.  Perhaps

[2017-09-16 23:40] churd83 commented on #4144
Overclocked
![sensoroc](https://user-images.githubusercontent.com/1325684/30516785-bd4d42a4-9b16-11e7-897f-a0683ece2fc0.JPG)

Non Overclocked
![sensornonoc](https://user-images.githubusercontent.com/1325684/30516787-cb6d3ee8-9b16-11e7-8bc8-e157c235b8b7.JPG)

[2017-09-17 02:21] mikeller commented on #4156
Considering you are driving your hardware outside of the specs, you should not be surprised if it does not work.

Any minor change in timing introduced by code changes could be driving your LED over the edge of the tolerance range, or so could a change in the level of the 5V or 3.3V rails, induced by changing current draw from any of the connected peripherals. Your description certainly fits this.

[2017-09-17 02:31] jflyper commented on #4144
@churd83 Yeap. Those are expected behaviors. The firmware works?

[2017-09-17 02:35] jflyper commented on #4144
This is AB7456E (`debug[1]` is 1) under overclocking (`debug[0]` is 1).
The divisor (`debug[2]` remains at 8.

![betaflight_-_configurator](https://user-images.githubusercontent.com/14850998/30517488-ff293a86-9b9b-11e7-964b-d0bc2e1d458b.jpg)

[2017-09-17 02:38] TimTimNL commented on #4051
@michael-blue2 I can't get any telemetry working with the board and feel like i've tried everything flashing my RX,TX and CLI commands

[2017-09-17 03:35] RamFPV commented on #4152
Yea same here tried it this morning. I'll just program a double switch arming sequence and turn small angle to 180 unless it gets bypassed in the future.

[2017-09-17 03:36] RamFPV commented on #4152
Just got on github so if you could that would be great. Just learning how to use this site. Thanks!

[2017-09-17 04:08] johnmoto1 opened #4160 "Flip32 F4 Airbot F4 Target"
went from 3.17 to 3.2 rc4 and leds no longer work , have them on motor pad 5 , i also went to
and tried rc5 and still dont work , i have a block of 16 and only 2 led are on barely ,
changed changed to two other brand new leds and still no joy .
as soon as you power on the battery they dont work .
tried reconfigure them in led setup and save reboot still nothing.
 flight controler is a flip32 f4 us

[2017-09-17 04:17] dangeljs commented on #2177
For anyone still interested, I believe I found a fix for the CC3D parallel PWM in and motor outputs.  The timer conflict exists, but by reworking which timers are assigned to inputs and outputs will support the parallel PWM in.

It does require that one of the pins that was used previously for servo output must now be connected to an auxiliary RX PWM in, but it really isn't a big deal.  If for som

[2017-09-17 04:45] jflyper commented on #4160
@johnmoto1
LED strip has been changed to MCU pin PB6, which is connected to designated LED signal pin on most Airbot/FLIP32 F4 boards. Try rewiring your LEDs to the pin.

If you choose to keep the current wiring, you can do so by entering the CLI command
[code]

[2017-09-17 04:45] #4160 closed

[2017-09-17 05:12] darksonny opened #4162 "Crash recovery always on?"
Hi guys.

I have a very strange thing going on here...
I turned the crash recovery on and off to see what it does, was doing about 50 packs since then from RC3 to RC4. Accelerometer is on.
The only thing I activated is set crash_recovery = on, checked with get crash if it's really on or off.
Matek F405 and SP Racing F3 board same issue, Flysky, DYS ESCS...

MAINLY when the pack was almost empty, d

[2017-09-17 05:31] jflyper commented on #4156
@ctzsnooze
I think it's partly my bad.

It's a known issue, and there is a PR that addresses it, but is not scheduled for 3.2 at this moment. Let me think what I can do for you.

In the mean time, you can try remapping
[code]
and use DEBUG pad for the LED strip signal (confirmed working with an emulated BlueJayF4).

[2017-09-17 06:57] mikeller commented on #4159
Can you supply a `diff` as well please?

[2017-09-17 07:37] michael-blue2 commented on #4051
@TimTimNl
copy paste this in the cli with betaflight 3.2. Solder the s.port cable to the led output
CLI:
feature SOFTSERIAL
resource LED_STRIP 1 NONE
resource SERIAL_TX 11 A01
serial 30 32 115200 57600 0 115200
set tlm_inverted = OFF
set tlm_halfduplex = ON
save
I will have to close this thread as its wrong and my bearing were just junk.
If you have any questions use the rc group thread.
https://w

[2017-09-17 07:37] #4051 closed

[2017-09-17 07:38] jflyper commented on #4156
Oh wait... You have some strange issue with how the board is powered? That suggest something different... weird.

[2017-09-17 09:18] JustinBlunt opened #4163 "how do i change my motor layout"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

## If you believe

[2017-09-17 09:51] #4163 closed

[2017-09-17 11:34] AndersHoglund commented on #4156
@ctzsnooze , I can confirm your issues on BluejayF4. With 3.1.7 a LEDstrip on motor 5 output works just fine. With 3.2.0-RC5 or current master HEAD (4f2bea6a848037872a81c165cd9073463db3059d) it fails. Testing using the default config, only LED-strip enabled and selected a red Larson scanner LED pattern. All LEDs are more or less bright white, with a faint wandering pink-ish pattern resembling the

[2017-09-17 11:53] AndersHoglund commented on #4156
Made a comparison test on REVO with 3.2.0-RC5, using the same LED-strip and power supply. Larson scanner works just fine on motor 5 output.
Difference between BJF4 and REVO is motor 5 mapping, A01 on REVO and B00 on BJF4.

[2017-09-17 12:13] AndersHoglund commented on #4156
Re-opeing issue, as this still looks like a real BJF4 problem.

[2017-09-17 12:17] AndersHoglund commented on #4156
And here are the config used to show the problem.

[code]

[2017-09-17 12:41] Vidalcris commented on #4162
"MAINLY when the pack was almost empty, doing fast rolls or flips.... SUDDENLY from one acro move to the other, the quad would kick itself back to horizon which was quite scary the first time."

You can increase crash_delay to avoid this problem
set crash_delay = 50
The quad will then wait the error to be more than 50ms long before activating crash recovery.
If you still got false detection during

[2017-09-17 12:44] darksonny commented on #4162
OK thanks for the message, I'll try. But it's still unexplained why it's also doing it with crash recovery set to OFF....

[2017-09-17 12:46] Vidalcris commented on #4162
Yeah, as i cannot explain why your crash recovery is always on.. i just try to help you with what i know ;)

[2017-09-17 12:49] darksonny commented on #4162
That's already a lot, because I didn't know yet what kind of variables I should play around with 😉

[2017-09-17 13:56] ctzsnooze commented on #4156
Michael, there is nothing strange about how both these boards are powered.  The Bluejay F4 does not have an on-board 5V regulator, but has holes designed to mount a Pololu 5V regulator on the underside - I guess that appeoach is the 'recommended' solution.  I used a 600mA Pololu on each board. I only have one single programmable LED in the LED string.  Total measured current drawn is well below th

[2017-09-17 14:28] Noctaro commented on #2177
Sounds nice. Would revive some of my old fc/rx combos. I would at least like to test it, if your tests are sucessfull.

[2017-09-17 14:48] martinbudden commented on #4162
@darksonny , please provide a CLI `diff` output.

[2017-09-17 15:09] jflyper commented on #4156
Like I commented above, I think this is related with a N-Channel issue. I'm looking into it.

[2017-09-17 15:11] sdotfpv opened #4164 "BF 3.2 RC5 Omnibus F7 Only 1 motor spins on"
Flashed RC5 on my omnibus f7 only 1 motor spins. also flashed RC5 on a spracing f3 board. no issues with that.  i first saw this issues with  another version here this happend but i ended up switching back to rc3 at that time. Right now only RC4 works without issues on the omnibus f7

[2017-09-17 15:44] jflyper commented on #4164
@sdotfpv It is a known issue: #4129.

[2017-09-17 15:44] #4164 closed

[2017-09-17 16:14] jflyper commented on #4156
Okay folks, I've confirmed #3993 does fix the issue. Tested with BLUEJAYF4 emulation.

The problem is, we can not apply #3993 alone, as it is a part of big "Let's get `TIMER_OUTPUT_INVERTED` used correctly" campaign.

Let me think if we I can fix the LED strip on N-Channel alone.

[2017-09-17 16:55] dangeljs commented on #2177
So I tested with some low level flights and it appears to work fine.  The good part is, on v1.12 I only had 1 Auxilary available, but now I have both.

I did checking the datasheet and the pin used previously for ESC (now for PWM in) is 5V tolerant so it does not hurt the chip.  The other PWM IN pins have filters inline with them, so it was a concern of mine since the ESC OUTs do not have any prot

[2017-09-17 17:05] ctzsnooze commented on #4156
All I can say is thank you so much for everything you're doing.  Very gratefully appreciated.

[2017-09-17 17:44] dangeljs commented on #2177
In the CC3D folder of targets (..\src\main\target\CC3D\target.c) this needs to be redefined:
`

    const timerHardware_t timerHardware[USABLE_TIMER_CHANNEL_COUNT] = {

    DEF_TIM(TIM4, CH1, PB6, TIM_USE_PWM,               0),   // S1_IN/
    DEF_TIM(TIM3, CH2, PB5, TIM_USE_PWM,               0),   // S2_IN - SoftSerial TX - GPIO_PartialRemap_TIM3 / Sonar trigger
    DEF_TIM(TIM3, CH3, PB0, TIM_U

[2017-09-17 17:45] fftunes commented on #4057
Any info on what was changed from RC4 to RC5? Respectively what kind of bug went into RC4?

From the symptoms described here, and other posts on rcgroups, it sounds a bit like yaw P got scaled by accident?

[2017-09-17 19:05] rustbg commented on #4001
Same here.
Everything is ok, except DSHOT1200.
Motor 1 acts strange.
Omnibus F4 Corner with Wraith32 mini 25A.

[2017-09-17 20:32] fiveangle commented on #4152
Just came here to submit an issue regarding the requirement to disable small_angle safety in order to use turtle mode.  As turtle mode is directly enabled, bypass of small_angle safety feature when mode is enabled would be safest/easiest.

[2017-09-17 20:34] mikeller commented on #4152
@brycedjohnson: Are you working on this? Happy to fix, but don't want to double up on work.

[2017-09-17 20:56] mikeller commented on #4156
@AndersHoglund: Thanks for confirming. I did a reset to defaults on my BLUEJAYF4, and now I get the same symptoms on my LED strip. Looks like I must have had some left over resource assignments from the old config.

@ctzsnooze: I didn't say it was strange, I said it was out of spec. With a Vin for the LED strip of 5V, the signal level of 3.3V provided by the MCU is less than the 0.7 * Vin that the

[2017-09-17 21:01] mikeller commented on #2177
@dangeljs: Can you please submit a pull request for your fix for the CC3D?

[2017-09-17 21:14] brycedjohnson commented on #4152
@mikeller I can put in the fix!

[2017-09-17 21:18] mikeller commented on #4152
Thanks @brycedjohnson!

[2017-09-17 21:58] brycedjohnson commented on #4152
Fix here: #4166

[2017-09-18 00:25] brycedjohnson opened #4167 "Quad flips out with sept 17 master"
Did this (#4161) break something for non-3d mode?  RC5 works well.

Anyone else having issues?

[code]

[2017-09-18 00:32] mikeller commented on #4167
Dammit, forgot to set the `motorOutputMixSign` for non-3D mode (and didn't test non-3D after adding that, my bad :-(). Hang in there, hotfix coming.

[2017-09-18 01:18] sdotfpv commented on #4129
works on RC4 for the omnibus f7 thats what i switched to

[2017-09-18 01:39] jflyper commented on #4129
Fix is coming. #4165

[2017-09-18 02:47] jflyper commented on #4156
Since BLUEJAYF4 and CLRACINGF4 are the sole targets with LED strip on N-channel, I will temporary skip the `MOTOR_OUTPUT_INVERTED` handling in N-channel case.

This is the firmware with this hack.

[betaflight_3.2.0_BLUEJAYF4-3993_00.hex.zip](https://github.com/betaflight/betaflight/files/1309596/betaflight_3.2.0_BLUEJAYF4-3993_00.hex.zip)

[2017-09-18 05:09] SkylionFPV opened #4170 "Omnibus F7 lost connection to Wraith32 35a esc with rc5 update"
I've still got my copy of rc4 so I'm good but I wanted you guys to know that when I flashed my Omnibus F7 to 3.2rc5 I lost the second set of startup beeps and it won't arm I'm assuming that it means I lost connection with those escs to the motors with the update for some reason, they beep and arm just fine on rc4 I've flashed back and everything is fine but it's weird, I'm not going to be switchin

[2017-09-18 05:13] jflyper commented on #4170
@SkylionFPV If you are using Dshot, then it is a known issue. #4129

[2017-09-18 05:19] dovcharov opened #4171 "DShot ESC initialization issues on OmnibusF7V2 BF3.2.0-RC5"
Good day.
I have built a quad with Omnibus F7 v2 flight controller (original one from airbot, with gyro in gel block) and Wraith32 BLHeli32 ESCs. I have an issue with ESC initialization.

All ESCs are visible via BLHeli32 suite, flashed latest BLHeli32 firmware 32.1 without issues.
Flight controller is on Betaflight 3.2.0-RC5, OmnibusF7V2 target.

In Oneshot125 mode all ESCs initialize and work fi

[2017-09-18 06:41] ctzsnooze commented on #4156
Problem fixed - flashed my RC5 dump over that build and the LED's are back on, working fine, colours flashing the lot.  Thank you so much!  :-)

[2017-09-18 08:24] mikeller commented on #4171
Duplicate of #4129.

[2017-09-18 08:24] #4171 closed

[2017-09-18 08:28] Noctaro commented on #2177
@dangeljs Cool! Thank you! I will test your approach as soon as possible.

[2017-09-18 09:08] dovcharov commented on #4170
Same problem with me, seems to be known issue. Your ticket will be closed.

[2017-09-18 10:10] #4170 closed

[2017-09-18 10:46] dk7xe commented on #2959
is the GPS airborne <2g model already implemented and if in which version?
My OSD is showing <90km/h while i'm flying >130km/h . GPS is a M8N in my case. BF 2.1.7
See https://youtu.be/b3z7slZ9GjE

[2017-09-18 10:52] AndersHoglund commented on #4156
OK, great. Will test it via sources on Github and PR #3993. Question, is that PR now standing on it's own? Or still depending on the bigger n-channel re-work?

[2017-09-18 10:58] mikeller commented on #2959
@dk7xe: Yes, #3110 was merged a while ago. But not in time for 3.1.7, you'll have to update to 3.2.0 (currently in RC).

[2017-09-18 11:15] mikeller commented on #3231
@mr-git: I tried to reproduce this, but it looks like this has been fixed by now. Can you please confirm?

[2017-09-18 12:48] Alexseii commented on #3465
Help. I can not update the firmware. I do not see the com port. I just insert everything but it does not get fixed

[2017-09-18 14:07] DooDoo512 commented on #4059
@mikeller  Sorry for late , I have tested , did not work...

[2017-09-18 14:12] Abancalari commented on #4029
Another suggestion that could also solve this might be to incorporate the current CMS structure into the "TextGen" function of the Spektrum Telemetry Protocol. The CMS would need some compacting as the spektrum displays only have ~5-7 vertical lines but once implemented, you would just need to use stick commands to navigate and be looking down at your display. This doesn't really use the native VT

[2017-09-18 14:22] mikeller commented on #4059
:-(

[2017-09-18 14:27] Dessection commented on #4029
Spektrum have added interface doc here: https://github.com/SpektrumFPV/SpektrumDocumentation/blob/master/Telemetry/Spektrum%20VTX%20Interfacing.pdf

[2017-09-18 14:35] Alexseii commented on #3465
I click boot and can not see the com port 3.2 firmware

[2017-09-18 14:55] jflyper commented on #4059
@DooDoo512
I think you have to scope the signals.

[2017-09-18 14:56] banderberg commented on #673
@basdelfos What is the BF 3.2 CLI command to enable KISS FC ESC telemetry without having to solder bridge TX3 and RX3?

[2017-09-18 15:00] jflyper commented on #3465
@Alexseii Sorry, this is not a place for support request. Please redirect your questions and support requests to appropriate places on the net.

Ref:
https://www.rcgroups.com/forums/showthread.php?2884546-Omnibus-f7

[2017-09-18 15:00] #3465 closed

[2017-09-18 15:04] dk7xe commented on #2959
thanx @mikeller. i will update to 3.2.0RC the coming days.

[2017-09-18 15:13] mikeller commented on #673
`esc_halfduplex` I believe.

[2017-09-18 15:14] jflyper commented on #4156
@ctzsnooze @AndersHoglund  Thanks for testing!!!

@AndersHoglund PR #3993 is now standing on it's own (with a hack), and can be merged toward 3.2 release.

[2017-09-18 15:18] DooDoo512 commented on #4059
@jflyper  Yes, U R right .However ,thank you so much !

[2017-09-18 17:22] JR555SE opened #4176 "HGLRC XJB F428 OMF4-OSD FC Led issues 3.2.0 RC5"
Cant get the leds (led strip with 6 leds from laforge and also tried one with 8 from matek) to be controlled. 5v measured to be correct and using the "led" out on the board. Whenever usb is connected it seems that there are random colours produced never with the usb disconnected(from pc)
Tried with 3.1.5 and also 3.2.0 RC5
My friends are having the same issue so its not just my board.

2.) Include

[2017-09-18 18:01] jflyper commented on #4176
@JR555SE
The LED strip is working without any issue with genuine OMNIBUS F4 AIO (Gen 1), flashed with 3.2-RC5 and loaded with your dump, using PWM5.

I consider it as board specific problem, probably due to power supply level being too high. Try reducing the voltage by inserting an inline diode. A popular 1N4148 will do.

If you still have a problem, please contact your distributor or redirect you

[2017-09-18 18:01] #4176 closed

[2017-09-18 18:25] czipis opened #4177 "Emax F3 Femto downgrade from 3.2.0 RC5 bricked the FC"
I bought Emax F3 Femto
https://www.emaxmodel.com/download/F3_femto_manual_V1.2.pdf

It came with BF 3.0.1 or 3.1.0 - I'm not sure really. I immediately flashed it to 3.1.7. (SPRACINGF3EVO)
So far so good. Everything looked good.
Then I upgraded to 3.2.0 RC5 and after some poking about remapping motor4 output for DSHOT and then decided to downgrade back to 3.1.7.
After successful flashing USB devic

[2017-09-18 19:00] jflyper commented on #4177
Failure code starts with fast flashing, followed by slow flashes.
Is yours (5 fast + 2 slow), repeated twice?

[2017-09-18 20:49] czipis commented on #4177
makes sense that the error is FAILURE_MISSING_ACC
but I don't understand how I could smoked it on the table.

[2017-09-18 21:07] Bubbasanjohn opened #4178 "RC5 no ppm TX signal received CLracing f4 fc"
(Deleted by @jflyper due to inappropriate format, to improve visibility of the issue)

[2017-09-18 21:11] mikeller commented on #4178
@bubbasanjohn: Can you please add the information as requested above?

[2017-09-18 21:12] Bubbasanjohn commented on #4178
New RC5 firmware gets no tx signal from ppm.  rc4 and lower is no problem.  PPM is set up as normal.
here is my dump on RC5.  Board designer said there was no change in his target code and I should post here.

Using Jeti DS-16, ppm positive, 20ms frame rate, PPM is computed (direct doesnt make a difference), rx is set for 8 channels.

# version
# Betaflight / CLRACINGF4 (CLR4) 3.2.0 Sep 11 2017 /

[2017-09-18 21:17] mikeller commented on #4178
Can you please post the output of a `diff`?

[2017-09-18 21:20] mikeller commented on #4177
As a last resort, try a 'Reset to Defaults' to make sure it's not stuck settings.

[2017-09-18 21:20] Bubbasanjohn commented on #4178
sorry not sure what that means

[2017-09-18 21:21] czipis commented on #4177
resetting to default doesn't make any change.

[2017-09-18 21:26] mikeller commented on #4178
Type `diff` in the CLI, post the output.

[2017-09-18 21:27] NicolasAz1 commented on #4149
Many thanks for your answers.
After browsing the web, I've found I was not the only one with this problem (https://multi-voltige.fr/viewtopic.php?f=25&t=4241) (in French). Still, as told by this user, I re-flashed BetaFlight (3.1, Dec 2016) and it worked ok… until I disconnected/reconnected, and the setting disappeared. I didn't have to flash a second time as saving via CLI (full dump) did seem to

[2017-09-18 21:27] #4149 closed

[2017-09-18 21:28] Bubbasanjohn commented on #4178
# diff

# version
# Betaflight / CLRACINGF4 (CLR4) 3.2.0 Sep 11 2017 / 06:31:34 (649ccd7c7) MSP API: 1.36

# name

# resources
resource MOTOR 5 NONE
resource PPM 1 B09
resource ESCSERIAL 1 NONE
resource CAMERA_CONTROL 1 NONE

# mixer

# servo

# servo mix

# feature
feature -RX_SERIAL
feature RX_PPM
feature ANTI_GRAVITY
feature DYNAMIC_FILTER

# beeper
beeper -GYRO_CALIBRATED
beeper -RX_LOST_LANDI

[2017-09-18 21:51] Bubbasanjohn commented on #4178
here is a dump from rc-4
# dump

# version
# Betaflight / CLRACINGF4 (CLR4) 3.2.0 Aug 28 2017 / 11:47:49 (b2cd7294e)

# name
name -

# resources
resource BEEPER 1 B04
resource MOTOR 1 B00
resource MOTOR 2 B01
resource MOTOR 3 A03
resource MOTOR 4 A02
resource MOTOR 5 B08
resource MOTOR 6 NONE
resource MOTOR 7 NONE
resource MOTOR 8 NONE
resource SERVO 1 NONE
resource SERVO 2 NONE
resource SERVO 3 N

[2017-09-18 21:52] Bubbasanjohn commented on #4178
here is a diff after setting up the TX, cuz rc4 works heheh
'''# diff

# version
# Betaflight / CLRACINGF4 (CLR4) 3.2.0 Aug 28 2017 / 11:47:49 (b2cd7294e)

# name

# resources
resource PPM 1 B09
resource ESCSERIAL 1 NONE
resource CAMERA_CONTROL 1 NONE

# mixer

# servo

# servo mix

# feature
feature -RX_SERIAL
feature RX_PPM
feature ANTI_GRAVITY
feature DYNAMIC_FILTER

# beeper
beeper -GYRO_CALIB

[2017-09-18 22:08] dangeljs commented on #2177
@mikeller Unfortunately I am not GIT savvy, so I'm not having much luck getting a clean pull request.  Do I need to push to my Github account then put the pull request from there?

[2017-09-18 22:33] mikeller commented on #2177
@dangeljs: Now is a good time to learn GitHub then. ;-). What you need to do is create a fork of the betaflight project (online). Then clone that fork locally, create a branch, apply your changes to the branch, and push the branch to GitHub (all locally with git). Then go online again, select the branch with the changes, and create a pull request against the betaflight master branch.

[2017-09-18 22:37] dangeljs commented on #2177
So I think I have it now.  I submitted a pull request and I actually see it in the GitHub repository now.  Before I was not cloning, I just created a GIT environment.

Thanks @mikeller !

[2017-09-18 22:48] mikeller commented on #2177
No, thank you, @dangeljs, for helping improve Betaflight!

[2017-09-18 23:09] carloscampos775 opened #4180 "Turtle mode with reversed prop direction enabled not working"
When enabling turtle mode the props spin however, the thrust is produced in the wrong direction. The quad will always pull its self into the ground instead of pushing itself over.

FC: BetaFlight F3
Firmware: 3.2.0 RC5
ESCs: blheli_32
Prop direction: Revered

[2017-09-19 00:03] mikeller commented on #4178
@Bubbasanjohn: Can you try this firmware and see if PPM works:

[betaflight_3.2.0_CLRACINGF4.zip](https://github.com/betaflight/betaflight/files/1312525/betaflight_3.2.0_CLRACINGF4.zip)

@bnn1044: I suspect that this is caused by your changes in https://github.com/betaflight/betaflight/commit/72ace4566ed7475521e8f44825ac29f35d554e9e. This should probably be rolled back if the fix above is confirme

[2017-09-19 00:05] mikeller commented on #4180
What version of BLHeli32 are you using? Try updating to the latest version from https://github.com/bitdump/BLHeli/tree/master/BLHeli_32%20ARM, earlier versions did not support the reversal commands.

[2017-09-19 00:08] Bubbasanjohn commented on #4178
Yes I will try first thing tomorrow morning.  Thank you. FYI I did flash a copy of rc4 and it works.  Think I already posted that. Though.

Anyway. This community is fantastic!  Thank you.

John Sarran
Marin Pasta Works
877-263-2332 x 101

[2017-09-19 00:24] jflyper commented on #4177
Sorry, bad things can happen. I think it's time to write to your distributor.

[2017-09-19 00:41] bnn1044 commented on #4178
@mikeller I make the change before RC4. it work on RC4 with PPM remap.

[2017-09-19 00:53] jflyper commented on #4178
It's #3991. I will fix it.

[2017-09-19 00:54] jakezilla commented on #4159
here is a diff before remapping
[code]
# diff
# Betaflight / SPRACINGF3EVO 3.1.6 Feb 21 2017 / 14:44:42 (1fd502c)
resource LED_STRIP 1 B10

feature -RX_PPM
feature -TELEMETRY
feature -CURRENT_METER
feature -RSSI_ADC
feature -BLACKBOX
feature -TRANSPONDER
feature -SDCARD
feature RX_SERIAL
feature LED_STRIP
map TAER1234
serial 2 64 115200 57600 0 115200
led 0 12,8::C:5
led 1 13,8::C:5
led 2 14,8::C:

[2017-09-19 01:12] carloscampos775 commented on #4180
I was using BLHeli32 v32.1. Updating to v32.15 *Beta* corrected the turtle mode issue with prop direction.

Close issue

[2017-09-19 01:36] jflyper commented on #4178
@Bubbasanjohn @bnn1044

Can you test this firmware (3.2.0-RC5 based)?  It has been tested on the emulated CLRACINGF4.

[betaflight_3.2.0_CLRACINGF4-4182_00.hex.zip](https://github.com/betaflight/betaflight/files/1312776/betaflight_3.2.0_CLRACINGF4-4182_00.hex.zip)

[2017-09-19 01:57] mikeller commented on #4159
Yeah, that would cause erratic behaviour, LED_STRIP on B10 creates a timer conflict with motors 1, 2, and 3: https://github.com/betaflight/betaflight/blob/master/src/main/target/SPRACINGF3EVO/target.c#L49-L58 Try remapping to a pin that does not share a timer with one or more motors.

[2017-09-19 01:59] mikeller commented on #4178
@bnn1044: I know. But I wasn't sure that there was going to be a fix for this before 3.2.0, so a revert of your changes would have been a workaround.

@jflyper: Thanks!

[2017-09-19 02:02] jflyper commented on #4180
You can close it yourself 😉

[2017-09-19 02:19] #4180 closed

[2017-09-19 02:19] mikeller commented on #4149
Not sure what the article says, my French is a bit rusty. Have you tried dumping the config, resetting the flight controller to defaults, and then restoring the config?

[2017-09-19 04:00] jakezilla commented on #4159
Would it be possible to recompile the firmware myself and move the LED_STRIP/B10 to a different timer? I'm a EE so I don't mind getting my hands dirty in code, just not sure how Betaflight hexes are compiled.

Also, if I move LED_STRIP to B10, it seems to me that it should move all the underlying functionality along with it. So instead of using the timer that is already associated with B10 (TIM2),

[2017-09-19 04:09] mikeller commented on #4159
Yes, this sure is possible. Have a look at https://github.com/betaflight/docker-betaflight-build for a relatively easy way to build without having to manually install the whole environment.

On the STM32 MCU, pins are tied to certain timers, so that moving a function that uses a timer or DMA to a different pin means the timer / DMA will have to be adjusted. See https://github.com/betaflight/betafl

[2017-09-19 06:19] basdelfos commented on #673
@banderberg I always used the solder bridge on my KISS FC's (they are retired now and replaced for BFOSD capable FC's). The cli command is `set esc_sensor_halfduplex = ON`.
Please let us know if you get it to work.

[2017-09-19 07:08] jflyper commented on #4178
Closing via #4182

[2017-09-19 07:08] #4178 closed

[2017-09-19 07:44] AndersHoglund commented on #4180
This dependency to BlHeli_S and _32 versions need to be clearly stated, in the BF release note at least. There are nothing in 3.2.0-RC5 notes telling this.

[2017-09-19 08:23] McGiverGim opened #4184 "BLHeli passthrough not working in RC5 or master for NAZE"
The passthrough for BLHELI is not working in the latest master. It gives this error:
![image](https://user-images.githubusercontent.com/2673520/30582391-cb1d5694-9d23-11e7-94de-ed33abc4fb6b.png)

The NAZE32 has default values, nothing changed or configured. I've tested with the two latest versions of the BLHeliSuite. My ESCs are littlebee blheli 20A (**not** blheli_S).

I have made several tests:

[2017-09-19 08:36] lichtl commented on #4184
@McGiverGim BLHeli pass through has been dropped for 3.2 on NAZE target, because of the flash size constraints.
https://github.com/betaflight/betaflight/issues/3701

[2017-09-19 08:54] McGiverGim commented on #4184
Ok, I didn't know that. Can someone point which define is the responsible of the passthrough? Maybe a custom compilation will let me add it. Thanks!

[2017-09-19 09:18] McGiverGim commented on #4184
@mikeller point to me to this: USE_SERIAL_4WAY_BLHELI_INTERFACE
I will try and close this issue. Thanks!

[2017-09-19 09:18] #4184 closed

[2017-09-19 09:30] jamborloi commented on #4129
@jflyper any news for the fix for the dshot? Currently building with omnibus F7 with wraith32 35a ESC it will be good to know if Betaflight #200 has the fix already.

[2017-09-19 10:21] mikeller commented on #4167
Did #4168 fix it?

[2017-09-19 10:22] #4152 closed

[2017-09-19 10:34] mr-git commented on #3231
Hm.. I cannot repeat it any more either. Maybe I had LEDs installed upside down or I had one of first BF 3.1.x versions. Then I workaround the issue by laying them out in different pattern, but I had removed them since then.
Installed and enabled them back now - seems that everything is working just fine now, with 3.1.7.

Will try to update to 3.2.0-RC5 on weekend, will see, if they behave as expe

[2017-09-19 10:37] supiiik commented on #2613
Same problem here with monster V2, omnibus F4 V1 (BF 3.2.0 RC5). joystick has standard resistors 0, 6.8, 15, 27, 45ohm, Voltages for keys are here:
up - 1,95V
down - 0V
left - 2,37V
right - 1,31V
Enter - 2,66V
From these values it seems, that internal resistance is 10,7kohm

I can't get 1st (need long press up) or 2nd menu (short press enter), but when I get it by the joystick, then I can move in

[2017-09-19 10:39] supiiik commented on #4136
Same problem here with monster V2, omnibus F4 V1 (BF 3.2.0 RC5). joystick has standard resistors 0, 6.8, 15, 27, 45ohm, Voltages for keys are here:
up - 1,95V
down - 0V
left - 2,37V
right - 1,31V
Enter - 2,66V
From these values it seems, that internal resistance is 10,7kohm

I can't get 1st (need long press up) or 2nd menu (short press enter), but when I get it by the joystick, then I can move in

[2017-09-19 10:46] DieHertz commented on #4136
I'll get a monster camera soon and see what can be done.

[2017-09-19 10:54] #3231 closed

[2017-09-19 11:56] supiiik commented on #4136
Found the problem. 1uF capacitor fixed it even at hardware PWM.
My settings for foxeer monster V2:

camera_control_mode = HARDWARE_PWM
camera_control_ref_voltage = 330
camera_control_key_delay = 125
camera_control_internal_resistance = 105

Don't forget the capacitor :)

[2017-09-19 12:03] supiiik commented on #4136
It seems, that this camera has 2 HW independent OSD. One was working fine without capacitor and second one maybe need clean analog signal. By the logic analyzer the BF is sending 650kHz PWM, 1nF was not enough, so I've changed for the recommended 1uF and it's working.
One more thing. I can see on the analyzer, that the output has key delay 150 - 250 ms, but I have there camera_control_key_delay =

[2017-09-19 12:32] Bubbasanjohn commented on #4178
Yes this firmware works when I remap the ppm to B09.

From: jflyper [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 6:36 PM
To: betaflight/betaflight
Cc: Bubbasanjohn; Mention
Subject: Re: [betaflight/betaflight] RC5 no ppm TX signal received CLracing f4 fc (#4178)

@Bubbasanjohn <https://github.com/bubbasanjohn>  @bnn1044 <https://github.com/bnn1044>

Can you test this firmware

[2017-09-19 14:58] jflyper commented on #4129
#4165 is under review. You can check if it has been merged by clicking the PR link and check if it says "Merged", rather than "Open".

[2017-09-19 15:20] banderberg commented on #673
@basdelfos That worked, thanks!

[2017-09-19 15:28] johnblackj opened #4187 "Glitchy throttle and roll signals after moving to BF 3.2 RC5"
Updated from RC4 to RC5 using configuration 3.2.2.
When I try to fly, I can hear the motors slow and then speed up again. I also experienced some issues then trying to do barrel roll. Sometime the roll pauses and then continues.
On RC4 it was flying pretty nice.

If I look at the receiver tab, I can see the value on the throttle signal glitch and drop momentarily and then return to the correct val

[2017-09-19 15:52] kinfpv opened #4188 "How to programme an automatic flip/roll/yaw in betaflight CLI ?"
Hello,

Almost all my question is in the title, I'm sorry if I didn't put it in the right place, but we can consider that not finding any answer to my a software question is an issue, isn't it ? ;)

So, for a project I need to be able to program (in CLI ?) some specific task on my FPV drones (x220 builds, Omnibus F3). Can you tell me if it's possible with BF3.2 ? If it is, where to search explanat

[2017-09-19 16:44] Arakon commented on #4188
You don't. You'd have to code that function from scratch.
Betaflight isn't a scriptable autopilot.

[2017-09-19 16:45] DEvil0000 opened #4189 "3.2.0 RC4 - arming in horizon (or switching to horizon before arming) inverts motor directions"
3.2.0 RC4; latest blheli: 16.67. F3 minicube
Arming in horizon (or switching to horizon before arming) inverts motor direction.
I have arming on a slider at aux 1 and acro/horizon on a slider at aux 2.
When initially setting up my quad with 3.2.0 RC3 (or RC2) I had "dshot reverse motors" also configured on aux 2 (like reverse/acro/horizon) but I removed it then after one test. So there is no rever

[2017-09-19 16:55] jflyper commented on #4189
@DEvil0000 Can you attach cli command "diff" AND "dump" outputs in separate comments?

[2017-09-19 16:59] kinfpv commented on #4188
Hello Arakon, thanks for your answer. I'm asking how to programme it from scratch in Betaflight, I saw so many functions in the CLI that I can imagine it could be possible… If, as we know, some 15$ drones has this function I suppose it shouldn't be too hard to program, don't you think so ?

If it's seriously impossible to program this kind of movements in BF, then do you know any other firmware ab

[2017-09-19 17:39] jflyper commented on #4144
@churd83

I will give a go for fix merge as soon as I get a good test result.

[2017-09-19 18:01] kinfpv commented on #4188
Just to feed this post :
What about doing it with Open TX (using Taranis X9D+) ?
Or with "Swift Playgrounds" app maybe… ?

See you

[2017-09-19 19:45] 0crap opened #4190 "Naze 1-wire support"
With BF 3.1.7 BLHeliSuite 1-wire passthrough worked fine.

With BF 3.2.0-RC5 it does not work.
Error message is: "Please check Betaflight revision for support of serial 1 wire passthrough or 4way interface!"

Is it a decision from the dev's to drop 1-wire passthrough support after BF 3.1.7 ?
Hope it's a bug and passthrough stays until the end at BF 3.2.0-stable for the NAZE target.

[2017-09-19 19:50] Arakon commented on #4188
CLI has nothing to do with programming. It just enables or sets things that were already programmed. Simply put, if you want to program a feature like that, you'll have to learn to code, understand the betaflight source code fully, and implement the function yourself. It's not hard to do most likely if you can code, but it's simply not a feature a lot of people will want to use.

[2017-09-19 20:12] mikeller commented on #4188
@kinfpv: If you are interested in programmability in the flight controller, you should have a look at [iNav](https://github.com/iNavFlight/inav).

[2017-09-19 20:14] mikeller commented on #4190
Duplicate of #4184.

[2017-09-19 20:14] #4190 closed

[2017-09-19 20:18] mikeller commented on #4187
This suggests that this wasn't introduced by your upgrade, but something that happened around the same time. Check your RX wiring.

[2017-09-19 20:21] basdelfos commented on #673
Good to know. I will update the wiki with this information.

[2017-09-19 20:27] beeb commented on #3869
Since anti turtle mode is supposed to be used when the quad is upside down, shouldn't the firmware ignore `small_angle` when this mode is active?

[2017-09-19 20:33] mikeller commented on #3869
@beeb: This has been fixed in #4166.

[2017-09-19 21:14] Arakon commented on #4167
Just hovered on today's current master (props reversed, non-3D) and it worked fine, so I'd say yes.

[2017-09-19 21:15] #4167 closed

[2017-09-19 21:26] kinfpv commented on #4188
@Arakon Thanks for your Answer, find attached a little quick photoshop I made for fun… ;)
But actually it could be interesting for multiple reasons :
- a way to check if PIDs are correct (Stinger Swann method, quick hard change of directions)
- make super low tricks (close to the floor)
- make more complexe combinaisons of tricks
- create succession of tricks (like rubikscub for exemple),
- learn

[2017-09-19 22:19] churd83 commented on #4144
@jflyper yes I've put a handful of packs through this build without any issues. Goggles are broke at the moment and all I got is some cheap eachine one that I can't stand to fly with so I'm parked right now. Everything seemed fine to me without and bugs or glitches. OSD was clear so I'd say it's a go

[2017-09-19 22:20] churd83 commented on #4144
Thanks again for the quick response and fix!

[2017-09-19 23:15] johnblackj commented on #4187
Will do,  I think the wiring is good as I can see the glitch in betaflight without anything running so there is no vibration to cause issues.
However I use set spektrum_sat_bind=7 to bind. And I can remember for the life of me if I use 9 the last time.
Gotta retry when I get home.

[2017-09-20 01:20] johnmoto1 commented on #4160
I did try the the led pads as I thought they may of changed it back but did not work , I will try the motor input in cli thanks

[2017-09-20 03:40] jflyper commented on #4188
IMHO, it's going to be a cute addition, if someone can take care of all the regressions...

[2017-09-20 03:50] jflyper commented on #4144
@churd83 Ack! Hope you get your goggles fixed soon 😁

[2017-09-20 05:30] fiveangle commented on #4188
hubsanflight, here we come !

-=dave

[2017-09-20 05:41] digitalentity commented on #4188
Such kind of additions would be definitely nice to have.

[2017-09-20 11:52] martinbudden commented on #4057
Closing, since reports are that problem is fixed on RC5.

My view is that the problem was caused by the jitter that resulted from the fact that `DEBUG_GYRO_NOTCH` was set on in RC4.

[2017-09-20 11:52] #4057 closed

[2017-09-20 12:35] kinfpv commented on #4188
@digitalentity : I agree, and for sure it's future of FPV, next step for more complexe freestyle + better quality videos… In my opinion if we don't make BF go into it another firmware will do it anyway… GPS and other sensors are becoming more and more affordable, democratized and light weight, and we cannot just ignore the possibilities it offers for racing, freestyle and security / safety (return

[2017-09-20 12:50] mikeller commented on #4188
@kinfpv: What you are describing in https://github.com/betaflight/betaflight/issues/4188#issuecomment-330837761 are pretty much all things that are the focus of what iNav does. The reason that Betaflight and iNav are different is because they want to be different. It's not that we are begrudging iNav for the users who use it because they want  things like GPS / MAG / Sonar / ... support and waypoi

[2017-09-20 13:16] kinfpv commented on #4188
Ok thanks for this informations, now I understand better. I see that creativity for programmers is in between acro (BF) and programmed functions (iNav) … and so it is (will be more and more) for users… in my opinion, the gap should get thinner. But I understand that for programming it could be confusing to mix both approaches from scratch.

Many hardwares (FCs, ESCs) + fame/success of Betaflight m

[2017-09-20 13:44] mikeller commented on #4188
Yes. But you can easily create a backup of all of your settings (CLI tab, type `diff all`, Save to file), and then restore it to its original configuration if you are going back to Betaflight.

[2017-09-20 14:06] GhostMaster9 commented on #2613
I cant make it work with the Foxeer Micro Arrow, very odd and strange...

Tryed several resistor values and settings. With Runcam Micro swift is straight without any resistor...

[2017-09-20 14:22] kinfpv commented on #4188
@mikeller , Thanks, I knew it - about "diff all" - but thanks again for share the tip.
And is it possible to it all the way around : `diff all` in CLI to save the settings in inav ?

[2017-09-20 14:33] digitalentity commented on #4188
@kinfpv There is no way of saving settings to transfer them between Betaflight and INAV. In fact trying to do so may cause unexpected behavior. With INAV it's better to do a clean install (reset settings) and set up from scratch. One of the presets in Configurator will give you a decent start.

TBH for 90% of pilots out there properly set up INAV in ACRO mode feels exactly the same as properly set

[2017-09-20 14:46] kinfpv commented on #4188
@digitalentity , thanks for sharing ;) I'm not asking if there is a way to transfer from BF to iNav, I just want to know in iNav if making a CLI `diff all` copy/past Back up works properly (saving, but mainly if it works when you past it back in the CLI) ;)

[2017-09-20 14:51] digitalentity commented on #4188
@kinfpv yes, INAV adopted CLI `diff all` command from Betaflight.

[2017-09-20 17:20] wildflyer commented on #3145
I would need the hott telemetry also very much, no other solution for low voltage alarm (beeper or osds etc) is as good as the telemetry solution. I could test it or I also could send you a receiver.
greetings
joachim

[2017-09-21 03:52] MylesShannon commented on #4144
@jflyper
The first hex you posted (betaflight_3.2.0_KAKUTEF4-max_half_clock.hex.zip) is the only working solution for the OSD rolling flicker I'm seeing while having "cpu_overclock=ON". Your next two subsequent hex files did not work with my FC in fixing this issue.

[2017-09-21 14:59] jflyper commented on #4144
@MylesShannon
If your board is influenced by the base cause of the issue reported in the first comment, the overlay will be entirely clobbered, not just rolling or flickering.

If you actually have the issue that appears only when overclocking is on, then I believe you should open the new issue ticket. In the ticket, a video clip that explains what "rolling flicker" looks like would be highly appr

[2017-09-22 01:34] su497835388 opened #4209 "Can not get the acceleration data by MSP"
Board： SP RACING F3_EVO _Brush V2.0      STM32F303CCT6+MPU6500  fireware:betaflight_3.1.7_SPRACINGF3EVO
Issues:   Use teensy3.2 to get the the board‘s status by MSP RX .   Useing same method, teensy3.2 can get "MSP_ATTITUDE" data normally,  the "MSP_RAW_IMU" data was wrong.

  uint8_t data = 0;
    sendMSPRequest(MSP_RAW_IMU, &data, 0); // Send MSP Request:

f3 respone: $ M > 12  FF FF FF FF FF FF

[2017-09-22 01:43] mikeller commented on #4209
Seems to be working just fine here when I am testing with configurator. Have a look here for how it's used: https://github.com/betaflight/betaflight-configurator/blob/master/tabs/motors.js#L317-L338

[2017-09-22 01:51] su497835388 commented on #4209
@mikeller  So?  I  cannot get the acceleration data by teensy3.2 ?  you know  I am newbie

[2017-09-22 01:55] mikeller commented on #4209
I can't see why not. The command seems to be working fine, and I have pointed you to a working reference implementation that you can use  to compare your code with, to see if there is anything that is wrong that stops it from working.

[2017-09-22 01:57] su497835388 commented on #4209
@mikeller Thank you so much

[2017-09-22 01:58] TheMightyThor1212 commented on #2965
Ok I figured it out. I had inadvertently connected the LEDs to the 3.3V when it should have been connected to the 5V. Once i connected to 5V it worked perfectly. thats what happens when you flip the board upside down :P again, thanks for all your help, i just wanted to leave this comment here incase some one else comes looking for the same reason!! @mikeller @AndersHoglund @jflyper

[2017-09-22 05:27] dannyfromnj commented on #4136
I have a CL Racing F4 Flight Controller running BTFL, version: 3.2.0

When I enter "set camera_control_internal_resistance = 105"

I get "# set camera_control_internal_resistance = 105
Invalid name"

What am I missing?

[2017-09-22 05:31] mikeller commented on #4136
@dannyfromnj: What version (RC) of 3.2.0 are you running?

[2017-09-22 06:10] dannyfromnj commented on #4136
I'm running build 1633... downloading 3.2.0-RC5 Build 1​66​5 now.

[2017-09-22 07:00] DieHertz commented on #4136
@supiiik 1uF is recommended for software PWM, there's no capacitor recommendation for hardware PWM AFAIK.
I hope I'll get a sample camera next week and just take it apart, no need to wonder anymore.

[2017-09-22 13:14] flightingflight commented on #4048
Hi, it looks like I have a similar issue (motors stopping) except that for me, if I run the same gyro and pid loop at the same rate say 4k/4k or 2k/2k, it can cause 1 or 2 motors to stop spinning after a few seconds (props off), it doesn't matter if dynamic filter is on or off. I also tried to raise my idle to 7, no change. Flashed Betaflight 3.2 RC5

Once I change to 8K/4K or 4K/2K the issue goes

[2017-09-22 15:57] tigert opened #4211 "Sensible defaults needed for OSD layout"
I think the current default OSD layout is pretty much a mess. While it might be useful for development to see everything at a glance :-) it is pretty laborious to set up a sensible layout for a new board.

https://www.instagram.com/p/BYK5HBdgRnC/

We should have a sensible, reasonably usable OSD out of the box.

For development one can have a cut&paste config dump to enable whatever you are hackin

[2017-09-22 16:03] tigert commented on #4155
We probably should also do something about the default layouts then - I filed #4211 as it is kind of a separate issue, but related, thus referencing it here.

[2017-09-22 17:47] mactac commented on #3719
Did you figure out if this would make sense?

[2017-09-22 17:49] DanNixon commented on #3719
See the referenced PR.

[2017-09-22 17:50] mactac commented on #3719
Oh, awesome, thanks!

[2017-09-22 18:47] Bugg69s opened #4213 "Dshot commands buzzer"
I have tried to setup buzzer to beep when I failsafe but did not work. At Betaflight it showed that it should beep but it does not. (Omnibus f3, x6b receiver, ibus, fs i6, Betaflight 3.2 RC5)

[2017-09-22 18:55] tigert commented on #4213
This is not a support channel, generally read/search/post to the rcgroups thread for usage questions.

But by default the beeper should beep a few times when the board boots for example when connected to USB unless beeping has been disabled in the configuration. So it might be connected wrong if there are no beeps at all or the beeper might be of a wrong type - consult the manual of your board?

[2017-09-22 19:45] mhusiak commented on #88
(Excuse my etiquette, it's my first time using github)

I'm having this same problem on my CC3D Atom on 3.0.1. It didn't work the first time I flashed, worked after trying different releases and settling on 3.0.1, and then the weird full throttle thing started again after I adjusted my rates (unrelated?).

I thought that what fixed the issue was adjusting the gyro/pid frequency to 1kHz/0.5kHz. But

[2017-09-23 00:01] DieHertz opened #4214 "Add DAC for camera control already!"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

## If you believe

[2017-09-23 00:09] DieHertz commented on #4214
Anyone willing to test it may try one of these builds:
[betaflight_3.2.0_BLUEJAYF4.hex.zip](https://github.com/betaflight/betaflight/files/1326136/betaflight_3.2.0_BLUEJAYF4.hex.zip)
[betaflight_3.2.0_MATEKF405.hex.zip](https://github.com/betaflight/betaflight/files/1326137/betaflight_3.2.0_MATEKF405.hex.zip)
[betaflight_3.2.0_STM32F3DISCOVERY.hex.zip](https://github.com/betaflight/betaflight/file

[2017-09-23 01:29] 1337flite commented on #4214
I'd be happy to test the Matek  - I've been trying to work out how to use the DAC for camera control but have not been able to works out the pin name.

[2017-09-23 03:56] MATEKSYS commented on #4214
DAC is on PA4 pin of Matek F405 target

[2017-09-23 04:49] RolandChen commented on #3036
I've written a Heli 120 CCPM mixer already, and the heli could fly with these code.
ref:
[https://github.com/RolandChen/betaflight-Heli_120-NOT_TESTED](url)
[https://www.helifreak.com/showthread.php?t=790976](url)

[2017-09-23 05:00] RolandChen commented on #3036
I hope that Heli120 not to be dropped from BF.  (not BFC)

[2017-09-23 05:05] mikeller commented on #3036
@RolandChen: We are happy to re-add them again, if there is working mixer code for them -  as it was in 3.1.7, the heli mixers were listed, but there was no working code for them. Can you please open a pull request for your mixer implementation?

[2017-09-23 06:36] Bugg69s commented on #4213
At boot up they beep, even when I set it to switch it beeps but when I set it to beep when I failsafe if doesn't beep

[2017-09-23 06:38] Bugg69s commented on #4213
I'm using Dshot command beeper

[2017-09-23 06:50] DanNixon commented on #4211
I'll echo what I said in Slack here.

The best default IMO is for every element to be disabled and positioned in the centre of the screen.

The advantage of this being only configuring the elements you actually want, no layout suits everyone so it seems sensible to just let the user start from scratch (not all boards have a current sensor or barometer, so even on your reduced config people will be

[2017-09-23 07:37] jflyper commented on #4213
Dshot beeper only beeps when initiated by AUX switch (BEEPER mode), intended to be used for lost model finder and not for general notification and alarm uses.

This is because the motor beeping is done by vibrating a motor back and forth very quickly; if you want the motor beeper to beep while the motor is spinning, motor has to be stopped, and that is usually not a very good thing to happen.

For

[2017-09-23 08:38] jflyper commented on #88
@mhusiak

- This issue has been raised and fixed almost TWO years ago, and it was related with v2.2.0.
- Please redirect your questions and support requests to some appropriate forums on the net, as Betaflight github is not a place for support.
- FYI, please note that F1 support in Betaflight is coming to EOL.
https://github.com/betaflight/betaflight/wiki

[2017-09-23 12:17] 1337flite commented on #4214
Matek F4 AIO  mainly works for me, thanks,
I can't seem to navigate down the menu i.e. pitch does not move the "cursor"/menu selection.
I've checked my endpoints for pitch and it looks OK (1000-2000), so not sure if you can normally use pitch to navigate the menu downwards, but I thought you could and can't with this version.

Other than that seems to be fine.

Thank you Diehertz - this feature ro

[2017-09-23 13:14] 1337flite commented on #4214
OK the camera OSD works, but when I try to arm my quad the OSD warnings is showing "NOGRORO" and the quad will not arm.

I've tried this 3 times flashing between RC5 and this hex (inlcuding a fulll chip erase), and the problem persists.

As soon as I free the CAMERA_CONTROL resource i.e.:
[code]
I can reboot and arm the quad as nomrmal.

[2017-09-23 16:29] adrianmiriuta opened #4216 "Flip and crash after small pitch twitch"
after a small twitch on pitch axis on the RC my quad flips and crashes.

diff and log attached.

http://silverbug.org/23.09.2017_issue/Screenshot_from_2017-09-23_18-19-36.png
http://silverbug.org/23.09.2017_issue/warpx230_LUXV2_RACE_v28_22.09.2017.diff
http://silverbug.org/23.09.2017_issue/LOG00001.BFL

[2017-09-23 17:58] Spoonman61 opened #4217 "matek f405 OSD broken boot button"
i have a matek f405 osd and the boot button fell off with normal pressure.  the switch has 4 contact points, front 2 are mounting points the back 2 activate the switch, i verified this with a multimeter.  it pulled the pads when it fell off so i have nothing to short across, does anyone know the location of traces i could short to?

[2017-09-23 18:01] jflyper commented on #4217
@Spoonman61 The Betaflight git hub is a place for discussion towards better flight controller software. Please redirect your questions and support request to appropriate places on the net. Thank you in advance.

[2017-09-23 18:01] #4217 closed

[2017-09-23 18:21] DieHertz commented on #4214
Thank you for testing it, I'm looking into how the "no gyro" issue can be solved.

[2017-09-23 19:29] Arakon commented on #4216
Looks like a desync to me. This is not directly related to the software at all.

[2017-09-23 22:59] mikeller commented on #4217
@Spoonman61: Also, this sounds very much like a situation where you should ask your supplier for a warranty replacement.

[2017-09-24 02:49] mikeller commented on #4211
I am in favour of @DanNixon's suggestion. This has the additional advantage that it reduces the flash space that is required by the firmware to store the defaults.

In additon, I would like to see a (configurator only) 'Show All' button that enables all elements, and lays them out in a spread out fashion on the 'demo' screen, so that new users can see what's available at a glance.

[2017-09-24 02:54] flightingflight commented on #4048
Solved my problem, I recall people having issues with blackbox logging to the SD card in regards to dma and what not. I turned off blackbox logging completely and the issue is gone. But it would be nice to have blackbox logging working.

I was logging at 1KHz before, tried logging with 500Hz, with sdcard_dma on and off, no change.

[2017-09-24 05:27] Bugg69s commented on #4213
@jflyper i mean that when i crash and my quad disarm it seld and should start beeping but it doesnt beep.

[2017-09-24 05:27] Bugg69s commented on #4213
Disarm it self

[2017-09-24 05:43] Bugg69s opened #4220 "Not issue, just something that i will like :)"
I whould like to have the boot from the SD card. Like when I insert SD card with Betaflight on it, it will boot Betaflight with my configuration and then I inserted SD card with like raceflight or inav and it will boot that software from the card with configuration, that will mean that on flight controller will be software that will need to read SD card and run software on it, but not  write softw

[2017-09-24 05:51] jflyper commented on #4220
@Bugg69s
Interesting, but very hard, if not impossible.

This is because MCUs for small embedded systems, such as STM32 family we are currently using, are designed and optimized to run code on internal FLASH using internal RAM for variables.

[2017-09-24 09:44] Haasje opened #4223 "Onboard dataflash chip not found when OSD feature is disabled"
Right now, my quad is running without VTX hardware. I'm just flying it LOS.
When I when to setup my quad in betaflight, I first flashed the latest firmware to get the nice DSHOT commands. After the flash I could see that the configurator had found the onboard flash chip for blackbox logging.
When I finished the configuration and rebooted the FC the flash chip would still be found, but when I power

[2017-09-24 09:50] mikeller commented on #4223
Interesting find, @Haasje. Could you please post the output of a `resource list`, once with OSD enabled, and once more with OSD disabled?

[2017-09-24 10:01] Haasje commented on #4223
This is the resource list with OSD disabled and the data chip not found by the configurator:

# resource list
Currently active IO resource assignments:
(reboot to update)
--------------------
A00: FREE
A01: FREE
A02: MOTOR 4
A03: MOTOR 3
A04: FREE
A05: SPI_SCK 1
A06: SPI_MISO 1
A07: SPI_MOSI 1
A08: FREE
A09: SERIAL_TX 1
A10: SERIAL_RX 1
A11: USB
A12: USB
A13: FREE
A14: FREE
A15: FREE
B00: MOTOR 1

[2017-09-24 10:07] jflyper commented on #4223
The diff is
[code]

Very interesting...

[2017-09-24 10:10] mikeller commented on #4223
It is indeed. On KAKUTEF4, OSD and dataflash both are on SPI3. Could this be caused by the SPI speed for OSD being changed, resulting in the speed being too high for the dataflash?

[2017-09-24 10:15] Haasje commented on #4223
@jflyper I just tested it. It has to to with the power cycle of the FC. When I disable OSD but don't unplug and just save and reboot, the datachip remains active. When I disconnect, unplug usb, plug in usb and reconnect then the datachip is gone. This is all without having the lipo on it.

[2017-09-24 10:16] jflyper commented on #4223
Hmm... not likely, because modern flash chips are often capable of handling the ultra fast clock at over 100MHz, but I'll look into it.

Problem is that I don't have the Kakute...

[2017-09-24 10:17] jflyper commented on #4223
It's getting even more interesting !!!

[2017-09-24 10:17] Haasje commented on #4223
The other way around, so enabling the OSD and the saving and rebooting brings back the dataflash right away, I don't need a power cycle then to bring it back.

[2017-09-24 11:23] ledvinap commented on #4220
@jflyper : You can use SD-capable bootloader that will reflash MCU. It may make sense on F4 with large flash (with enough space for bootloader without significant optimizations)

[2017-09-24 11:25] jflyper commented on #4220
@ledvinap I've given that method for a second, but it's not "without flashing" 😉

[2017-09-24 11:35] mikeller commented on #4223
Ok, I think this might be a case to contact your manufacturer about. I have tested your configuration on a KAKUTEF4, and my data flash was properly recognised and working when connecting the battery and then connecting USB, or connecting just USB.

[2017-09-24 11:43] Haasje commented on #4223
did you turn the OSD option on and off too?

[2017-09-24 11:44] mikeller commented on #4223
Scratch my previous comment, I had tested with the `diff` that you'd posted above. On reading your description for the second time I realised that this must have been the diff of the working configuration.

[2017-09-24 11:47] mikeller commented on #4223
@jflyper: It does look indeed like we've got a problem with the dataflash initialisation. When using a version with OSD compiled out entirely, the dataflash chip remains unusable. Could it be that we are missing some part of the SPI init for dataflash?

[2017-09-24 11:49] jflyper commented on #4223
@mikeller I think `spiPreInitCs` is not working for MAX for some reason.

[2017-09-24 11:51] mikeller commented on #4223
For MAX? Not rather for the dataflash?

[2017-09-24 11:55] jflyper commented on #4223
I think it's max that is interfering with flash's SPI transaction when it is not activated by the corresponding driver.

I concluded this as flash is detected and usable when max is initialized and working.
`spiPreInitCs` was introduced to prevent this situation, but it is apparently not working.

[2017-09-24 12:00] mikeller commented on #4223
Ah I see. Sounds reasonable. Shouldn't just pulling CS high stop the MAX from doing anything on the bus? Or is MAX another one of those 'borked SPI' chips that won't behave?

[2017-09-24 12:05] ledvinap commented on #4220
@jflyper : It would behave as if everything is stored on SD (program + configuration). It may be useful for in-field testing.
And as for bootloader, it won't be that complicated - just verify program in flash (using checksum), compare it with version on SD (if sd is inserted) and flash blocks that are different if necessary.
Then either run main program (with checksum match), or blink failure.

Co

[2017-09-24 12:22] mikeller commented on #4220
I am with @jflyper there. I would want to have the flashing part initiated with stick commands or OSD. Imagine accidentally overwriting your working firmware with some test that didn't work a month ago, just by reusing that sd card to write a log...

Also, this would open the opportunity to have multiple firmware versions on the SD card, and switching between them without having to fiddle out the

[2017-09-24 12:29] jflyper commented on #4223
To date, MAX is not considered as borked chip. However, interestingly, while majority of new designs use AT, Kakute F4 is one of the design that continue to use the original MAX. I'm wondering if MAX/AT difference (again) makes this happen. It's not definite yet; it may be some board design related.

First, we can find 'max interfering with flash' hypothesis holds.

`spiPreInitCs` only pulls up we

[2017-09-24 12:57] jflyper commented on #4223
@Haasje @mikeller
This is a firmware that pulls up CS for MAX.

[betaflight_3.2.0_KAKUTEF4-maxhardpull.hex.zip](https://github.com/betaflight/betaflight/files/1327323/betaflight_3.2.0_KAKUTEF4-maxhardpull.hex.zip)

[2017-09-24 13:51] hydra commented on #4223
the rtc6705 is also another device that must have it's CS pin high BEFORE the rest of the SPI pins are initialised.

in my experience order should be:
1. set all CS pins so that all devices are DISABLED
2. configure SPI clock pin BIT so that when the clock PIN is initialized the clock signal is correct
3. configure remaining SPI pins.

[2017-09-24 13:58] Haasje commented on #4223
@jflyper I will try that firmware tonight and let you know

[2017-09-24 14:07] Spoonman61 commented on #4217
Franks guys, sorry about posting in the wrong forum.  I'll try to get a replacement.

[2017-09-24 14:12] Bugg69s commented on #4220
I think it could work, memory on FC will be almost empty it will have just software to remap memory to sdcard. First it will try to boot from FC but flight controller will remap it to SD card and it will boot from SD card.

[2017-09-24 14:20] Bugg69s commented on #4213
@Jfliper I set it to when I failsafe it will beep, when I power up quad first is beeping and when I power up transmitter is stops- that's Ok.
And when I then set to any mode (like acro, air.. ) and turn off my transmitter it beeps thats Ok too.

But when I arm and then power off transmitter it disarm it self, set it self to beeper but doesn't beep at all, in Betaflight is shows that it should beep

[2017-09-24 14:33] adrianmiriuta commented on #4216
@Arakon
hmm
Thx.
I think you are right.

[2017-09-24 14:33] #4216 closed

[2017-09-24 15:16] jflyper commented on #4220
@Bugg69s
We can't boot from SD card. We must first have to flash the internal flash with whatever you want to boot with. It's just there isn't enough RAM, and codes on SD card is not directly executable.

Btw, do we have data path constraints about the I-Bus on general RAM other than CCM/TCM?

[2017-09-24 15:43] jflyper commented on #4213
Are you trying to make the Dshot beeper beep when failsafe kicks in by setting failsafe value to AUX channel that is assigned to BEEPER mode?

[2017-09-24 15:52] hydra opened #4226 "Acc filtering is broken."
After examining the startup code I found acc filtering to be broken.

`activateConfig()` calls `setAccelerationFilter.`
` acc.accSamplingInterval` is used to set the filter.
however, `acc.samplingInterval` will not have been configured yet.
`acc.samplingInterval` is set by `accInit()`
`accInit` is called by `sensorsAudtoDetect()`

it looks like the filter will never be initialised.

[2017-09-24 16:15] fiveangle commented on #4048
I had similar issues with 1 or 2 motors disabling shortly after arm, resuming normal operation only after power-cycle of FC.  OMNIBUS F3.  I didn't put much thought into it since it was running on default loop times and after switching to my standard (8/4/4 DSHOT600) problem went away.  If the problem surfaces again I will take the time to investigate based on this info that it may be related to d

[2017-09-24 16:20] jflyper commented on #4223
@hydra Yes. RTC6705 is a very well known borked chip. However, we believe that the current code does pulls up all CS pins with `IOCFG_IPU`, during `init` via `spiPreInit` and `spiPreInitCs`, before SPI initialization.

The hex above change the pull-up method to hard pull-up.
[code]
instead of
[code]

https://github.com/jflyper/cleanflight/tree/bfdev-kakutef4-max-flash-interference

[2017-09-24 16:39] Bugg69s commented on #4220
@jflyper I don't really understand. Can you make it simpler for me? Im from Slovakia and translator don't really helped me understand

[2017-09-24 16:41] Bugg69s commented on #4213
Yes

[2017-09-24 16:41] DieHertz commented on #4220
@Bugg69s your idea can't with on an STM32, just forget it :)

[2017-09-24 16:53] jflyper commented on #4220
@Bugg69s

Take STM32F405RG for example. This is a very popular MCU that is used in majority of F4-based FCs.

This particular MCU has
- 1MB of FLASH memory
- 192KB of RAM

It is not like your PC, in which there is a separate block of RAM chips that provides giga bytes of memory.

If you want to execute a software stored in SD card with this MCU, the software must be read into either of these memor

[2017-09-24 17:41] martinbudden commented on #4220
@jflyper we could implement virtual memory and demand paging... (joke)

[2017-09-24 18:51] mikeller commented on #4223
@jflyper: Tried the firmware from https://github.com/betaflight/betaflight/issues/4223#issuecomment-331708369. The dataflash works even when powering up with OSD disabled. Looks like we got a winner. Do you think it is the MCU's internal pull ups being below spec, or the MAX chip pulling too hard?

[2017-09-24 18:57] silenec commented on #4048
I use 16.6

[2017-09-24 18:58] Bugg69s commented on #4220
@jflyper oh I see now. 192kb of ram is not enough. But I think it will be possible. If you made to on that memory is like: don't boot from me boot from pin x that is connected to SD card, it will make CPU think that SD card is its normal memory and just booted from card. I don't know if it is possible but it could be.

[2017-09-24 19:01] Bugg69s commented on #4213
@jflyper yes that's it. It beeps like I set it to as fast I dosn't have armed when failsafed

[2017-09-24 20:01] mikeller commented on #4220
@martinbudden: Can we get it to email out statistics of the paging activity? ;-)

@Bugg69s: I think there is a part of what @jflyper tried to explain that you did not understand: There is a fundamental difference in the hardware configuration of your typical dedicated CPU chip (like the one in your PC for example), and 'all in one' MCUs like the STM32 family: The dedicated CPU has a set of pins th

[2017-09-24 20:18] Haasje commented on #4223
@jflyper I also tried the firmware and the dataflash keeps working with OSD on and off even after power cycles so this seems to fix it indeed.

[2017-09-25 00:59] jflyper commented on #4223
@mikeller Okay, we now know how to solve it, but we don't know what caused it. It may even be a board design...

[2017-09-25 01:08] mikeller commented on #4223
Board design as in pull down on OSD CS? @jamming is normally following in here, and he should be able to answer that (without having to resort to tracing efforts).

[2017-09-25 03:38] jflyper commented on #4213
@Bugg69s

Okay, here is what's happening.

- When failsafe kicks in, it sets the AUX channel that you have assigned to BEEPER for `RX_SET`.
- The failsafe also set the `RX_LOST` beeper.
- The `RX_LOST` beeper have precedence, so the beeper is beeping indicating `RX_LOSS`.
- Dshot beeper only works with `RX_SET`, so it doesn't beep. (It may tickle, but not beep.)
- If you have a real beeper, then i

[2017-09-25 03:41] mikeller commented on #4213
One more point is that, even if the `RX_SET` beeper was working, the Dshot beacon would not be activated in case of a failsafe, since it only activates when the quad is disarmed.

[2017-09-25 03:42] jflyper commented on #4213
@mikeller The craft disarms at the end of the failsafe process.

[2017-09-25 03:45] mikeller commented on #4213
@jflyper: But I assume that at that point the stage 1 channel presets are not in force any more, so using them to activate the beeper won't work in any case.

I think it might be a reasonable approach to have the Dshot beacon activate at the point when the craft disarms during a failsafe (if the user has enabled Dshot beaconing).

[2017-09-25 03:48] jflyper commented on #4213
Channel value set by failsafe remains after failsafe process and the craft is disarmed.

[2017-09-25 03:51] mikeller commented on #4213
Ok. Then the Dshot beacon should kick in at that point, since it only checks for the mode being activated, and not for beeping priority.

[2017-09-25 03:59] jflyper commented on #4223
Okay, we will wait for him. This is actually not a big deal, because there is a workaround 😉

[2017-09-25 04:00] jamming commented on #4223
Onboard flash and osd are on the same bus SPI3. They have different chip selects.  Chip selects are directly tied to MCU without external pullup/pulldown resistors.
MAX7456_CS <----->PB14
FLASH_CS <----->PB3

------------------ Original ------------------
From:  "Michael Keller"<notifications@github.com>;
Date:  Mon, Sep 25, 2017 09:08 AM
To:  "betaflight/betaflight"<betaflight@noreply.github.com>

[2017-09-25 04:03] jflyper commented on #4223
@jamming Thanks for the info.

So my theory is "MAX7456 CS pin is sinking more than what `IOCFG_IPU` can supply.

[2017-09-25 04:11] jflyper commented on #4213
@mikeller
IMO, that requires the failsafe to be aware if `BEEPER_RX_SET` is in effect when it wants to set `BEEPER_RX_LOST`.

[2017-09-25 04:21] Bugg69s commented on #4220
@martinbudden oh. Ok

[2017-09-25 04:21] #4220 closed

[2017-09-25 04:25] jflyper commented on #4223
It may be the case that

"_**An SPI slave device must be clocked for a while with CS being held high to get properly initialized**_"

IIRC, there are couples of devices like this...

[2017-09-25 04:30] Bugg69s commented on #4213
Ok. Is there way to turn Beeper_RX_lost off?

[2017-09-25 04:35] jflyper commented on #4213
@Bugg69s No. Even if you stop RX_LOST from beeping, the condition still exists, and it will suppress the RX_SET from beeping.

[2017-09-25 05:10] mikeller commented on #4213
@jflyper: Good point. Added `BEEPER_RX_LOST_LANDING` as an additional condition for the Dshot beacon: #4231.

@Bugg69s: Can you test #4231 please?

[2017-09-25 05:14] mikeller commented on #4223
How would the difference between using internal pull up and high output cause a difference in behaviour? Rise time?

[2017-09-25 05:37] jflyper commented on #4223
Doh! Good question. But I made the PoC firmware anyway 😢

[betaflight_3.2.0_KAKUTEF4-spi_dummy_clocking.hex.zip](https://github.com/betaflight/betaflight/files/1328325/betaflight_3.2.0_KAKUTEF4-spi_dummy_clocking.hex.zip)

[2017-09-25 05:48] jamming commented on #4223
When

------------------ Original ------------------
From:  "jflyper"<notifications@github.com>;
Date:  Mon, Sep 25, 2017 01:37 PM
To:  "betaflight/betaflight"<betaflight@noreply.github.com>;
Cc:  "jamming"<jianbing.pan@holybro.com>; "Mention"<mention@noreply.github.com>;
Subject:  Re: [betaflight/betaflight] Onboard dataflash chip not found when OSDfeature is disabled (#4223)

"An SPI slave devic

[2017-09-25 05:56] jamming commented on #4223
I test it with 3.2.0 master, when OSDfeature is disabled, PB14 is pull low.

May be PB14 is redefined in some where.

In "Bus_spi_pinconfig.c",there are codes:

#ifndef SPI2_SCK_PIN
#define SPI2_SCK_PIN    PB13
#define SPI2_MISO_PIN   PB14
#define SPI2_MOSI_PIN   PB15
#endif

------------------ Original ------------------
From:  "jflyper"<notifications@github.com>;
Date:  Mon, Sep 25, 2017 01:37 P

[2017-09-25 06:18] jflyper commented on #4223
@jamming

This is only valid when `USE_SPI_DEVICE_2` is defined, which is not a case for KAKUTEF4.

We have took elsewhere ...

[2017-09-25 06:54] mikeller commented on #4223
Well, eliminating things that are not the cause will bring us closer to a solution as well.
Which is to say that the above firmware shows the behaviour that the dataflash is **not** recognised after a cold boot with OSD disabled.

(As a working hypothesis, how about we assume it is indeed a case of the pull ups not being strong enough to give the MAX7456 a high. What would be the downside of setti

[2017-09-25 06:55] su497835388 commented on #4209
@mikeller hello sir  Do you kown the scale of the acceleration data ,I got the data Z aixs about 515 when F3 was static

[2017-09-25 07:41] mikeller commented on #4209
https://github.com/betaflight/betaflight-configurator/blob/master/js/msp/MSPHelper.js#L109-L112

[2017-09-25 08:16] su497835388 commented on #4209
@mikeller thankes a lot O(∩_∩)O~

[2017-09-25 08:34] robert-hoffmann opened #4233 "Change rc_interp_ch to FLAGS (feature request)"
Currently rc_interp_ch alows for rp/rpy/rpyt

2 weeks ago i was BB'ing some throttle oscillations, and notices that i had bad staicases on rc_commands, and that when i punch the throttle the oscillations would start at each staircase that got hit on throttle command, and get worse with each sucessive staircase that got hit.

So i changed my taranis to 8ch (9ms packets) and it got better. Then i no

[2017-09-25 09:04] jflyper commented on #4223
It seems that the hypothesis doesn't generally hold.

I did a test with NUK-F405RG + MAX7456 breakout, flashed with KAKUTEF4 target (acc/gyro substituted with fake acc/gyro to shorten the boot time) from current master. The CS line for the MAX7456 is straight out of PB14.

OSD enabled
![saleae_logic_software](https://user-images.githubusercontent.com/14850998/30800582-6b8faffe-a21b-11e7-86af-bea2e

[2017-09-25 09:12] mikeller commented on #4223
That's with pull up, or with output high for CS? How do the timings compare between these 2?

[2017-09-25 09:20] jflyper commented on #4223
These are without an external pullup, just CS straight out of PB14. Time scale is identical between two. The little spike on SCK and MOSI at around 1sec is probing for flash (which doesn't exist), I think.

[2017-09-25 09:22] mikeller commented on #4223
So CS uses internal pull up, or IOHi? (I'm wondering if the two result in a difference in timing.)

[2017-09-25 09:22] jflyper commented on #4223
These all use internal (`IOCFG_IPU`).

[2017-09-25 09:39] jamming commented on #4223
There is a voltage level shift TXB0104UQFN between F405 and MAX7456. SPI bus level on F405 side is 3.3v, and it is 5V on MAX7456 side.

------------------ Original ------------------
From:  "jflyper"<notifications@github.com>;
Date:  Mon, Sep 25, 2017 05:04 PM
To:  "betaflight/betaflight"<betaflight@noreply.github.com>;
Cc:  "jamming"<jianbing.pan@holybro.com>; "Mention"<mention@noreply.github.com

[2017-09-25 09:45] mikeller commented on #4223
@jflyper: Can you scope the same setup, except with the IOHi modification from https://github.com/betaflight/betaflight/issues/4223#issuecomment-331708369?

[2017-09-25 11:18] jflyper commented on #4223
@jamming
Isn't TXB0104 current driven?

[2017-09-25 11:45] jflyper commented on #4223
Okay, I think the existence of the TXB0104 explains why `IOHi` works and `IOCFG_IPU` doesn't.

Like most level shifters do, TXB0104 requires current flowing to keep the driver activated.

These requirements can only be met with active PP output, not with `IOCFG_IPU`.

I suggest that we treat the `IOCFG_OUT_PP` with `IOHi` to pre-initialize the CS for MAX7456 only.

[2017-09-25 11:52] jflyper commented on #4223
I thought the 5V fed original MAX could interface with 3V3 devices without a problem... well, it must have been some design decision.

[2017-09-25 12:11] mikeller commented on #4223
Sounds like the reasonable approach. For 3.3 we probably want a `csIsPp` parameter for the SPI device struct.

[2017-09-25 13:00] Bugg69s commented on #4213
@mikeller test what ?

[2017-09-25 14:27] Bugg69s opened #4235 "Kill switch"
I'm used to disarm when I'm going to crash but it has a delay like half a second,
 can you make one that will kill my quad just when I disarm  ?
That half a second can save my props

[2017-09-25 15:50] jflyper commented on #4223
This is the hex from the PR, if ppl want to test it.

[betaflight_3.2.0_KAKUTEF4-PR4234-00.hex.zip](https://github.com/betaflight/betaflight/files/1330059/betaflight_3.2.0_KAKUTEF4-PR4234-00.hex.zip)

[2017-09-25 15:57] adamtfc87 commented on #4162
I also seem to have crash recovery on even with it disabled. Using LUXF4OSD firmware. I'll get a diff posted as soon as I get home.

[2017-09-25 15:59] brycedjohnson commented on #4235
Using a ARM switch doesn't have any delay.  How are you trying to disarm?  With stick movements?

[2017-09-25 15:59] Wtcheesecakes commented on #4226
would this explain when updating from rc3 or rc4 (cant remember) to rc5 and am now getting horrible oscillations, would this be the issue?

[2017-09-25 16:07] brycedjohnson opened #4236 "Use Dshot commands to switch 3d On/Off and change motor spin directions"
Messing around with #4227 has made me want to have a more userfriendy way to set up 3D mode or just reverse the direction of one motor using betaflight using dshot commands (for setting up a quad).

I know we can currently do that functionality with the CLI and dshotprog commands.

Betaflight could keep track on what motors you want normal and reverse for setup and send it down to the quad.  Also

[2017-09-25 16:27] Bugg69s commented on #4235
I wanna just stop motors from spinning As Fast as possible

[2017-09-25 16:29] #4235 closed

[2017-09-25 19:13] mikeller commented on #4236
Betaflight doesn't even have to keep track of the settings. At least for KISS and BLHeli32, it can just load the settings from the ESCs, and then store the updated settings on the ESC again. The current CLI implementation is just a proof of concept, with the idea to later on add an `MSP_DSHOT_COMMAND` MSP command.

[2017-09-25 21:23] mikeymac22 opened #4237 "OMNIBUS SD F4 V5"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

## If you believe

[2017-09-25 21:24] #4237 closed

[2017-09-25 21:26] mikeymac22 commented on #4237
Flashing RC5 seems to flash properly however it closes the serial port but it wont allow thw FC to open back up under Betaflight GUI. Not sure what the issue is but its not working properly.

[2017-09-25 21:27] mikeymac22 commented on #4237
why is this closed. Just wondering.

[2017-09-25 21:32] mikeymac22 opened #4238 "FLASHING TARGET OMNIBUS SD F4 RC5"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

## If you believe

[2017-09-25 21:34] DieHertz commented on #4237
This issue looks like a support request, a genuine Omnibus f4 SD has no issues booting and connecting on RC5.
Please redirect your questions towards a corresponding RCG discussion thread.

[2017-09-25 21:38] mikeymac22 commented on #4237
ok. close the other one i opened please. I will check into it at other group, Thanks anyway and sorry my friend.

[2017-09-25 21:54] #4238 closed

[2017-09-25 21:57] katana144 opened #4239 "X4R Sbus issues in Betaflight"
Hello,
     I am having trouble getting my x4r sbus receiver to respond to commands from my frsky qx7. Initially i was trying to set up switches with my new build and am using a Hobbywing f4 fc. I bound the receiver and transmitter and then went into betaflight (configurator 3.2.1). I flashed 3.2.0 onto the flight controller and then set up the receiver by following the instructions given on by ho

[2017-09-25 22:20] mikeller commented on #4239
The symptoms sound like a corrupted configuration. Back up your config in CLI, reset to defaults, restore your config, and test again.

[2017-09-25 22:22] katana144 commented on #4239
How do I backup and reset to default?

[2017-09-25 22:28] mikeller commented on #4239
Go into CLI, `diff all`. 'Save to File'. `defaults`. After reboot, copy / paste the saved file (minust the line that reads `defaults`) into CLI, hit enter.

[2017-09-25 22:30] mikeller commented on #4213
@Bugg69s: Test if #4231 works the way you want it for using the Dshot beacon in case of failsafe. If you are not set up to build the firmware yourself, I can build one for you if you let me know what target you need.

[2017-09-25 22:38] johnmoto1 commented on #4160
The remapping worked a treat thank you for all your hard work 🤗

[2017-09-25 23:03] katana144 commented on #4239
I went into settings, clicked " reset setting" and then re-entered the configurations via CLI and while the receive tab will read my initial throttle position (as it had before), it will not register any change to any stick movements.

[2017-09-25 23:28] jflyper commented on #4239
What is the version of the firmware? Type CLI "version" to find out.

[2017-09-26 00:11] avidtech commented on #1582
So guys,

Any thoughts on this or am I stuck finding a new FC? The baro is mission critical for my application. It's been a while, so I'll recompile and try again. It's very frustrating since the mag works but the baro doesn't, on the same physical bus line.

Thanks again, I'll help however I can, just ask.

[2017-09-26 00:54] jamming commented on #4223
See the following description.

------------------ Original ------------------
From:  "jflyper"<notifications@github.com>;
Date:  Mon, Sep 25, 2017 07:18 PM
To:  "betaflight/betaflight"<betaflight@noreply.github.com>;
Cc:  "jamming"<jianbing.pan@holybro.com>; "Mention"<mention@noreply.github.com>;
Subject:  Re: [betaflight/betaflight] Onboard dataflash chip not found when OSDfeature is disabled (#

[2017-09-26 03:19] fiveangle commented on #4048
?  Are you sure ?  If so, upgrade to 16.63 or 16.67 and see if same results ?  I'm thinking I may have encountered this issue when on 16.63, but can't remember now (I'm on 16.67 now).  I haven't seen it in a few weeks and can't seem to repro now so wondering if it's related to BLheli interaction (perhaps motor 1 / 2 are being sent different info when the bug occurs, but doesn't affect 16.67 and do

[2017-09-26 03:37] mikeller commented on #4048
@fiveangle: There were a number of different versions released as '16.63'. The earlier ones had bugs, hence they got replaced (unfortunately without making it easy for users to see by giving them new numbers). If you download the latest 16.63 now it should work properly.

[2017-09-26 04:14] jflyper commented on #1582
@avidtech I'm looking forward to hearing the new results.

[2017-09-26 04:24] Bugg69s commented on #4213
Ok

[2017-09-26 06:59] isilcala commented on #4226
I have a 1s quad which gets horrible oscillations after flashing a very recent nightly build. Not sure if this is the cause.

[2017-09-26 07:02] Arakon commented on #4239
Are you sure UART1 is the SBUS receiver port? F4 CPUs don't do serial inversion on-chip, so you need to connect the receiver to the port that has an inverter, or it won't work.

[2017-09-26 07:04] isilcala commented on #4214
This is AWESOME! But I have a Runcam Eagle v1 on my MATEK F405 build which OSD has 5 signal pins! Not sure if there's an elegant way to support Eagle v1 as well? (And my next MATEK F405 build will go with a Runcam Split, oh MY!)

[2017-09-26 07:13] isilcala commented on #4091
For now, I set beeper & turtle mode on the same switch so it beeps when in turtle mode. But yeah an OSD warning is needed.

[2017-09-26 07:13] mikeller commented on #4239
Ha, well spotted @Arakon. From the looks of it, this is an OMNIBUSF4SD  clone, so the SBus RX will have to go onto UART6.

[2017-09-26 07:28] richard-scott commented on #4237
@mikeymac22 Once flashing ALWAYS disconnect and reconnect USB.

[2017-09-26 07:40] robert-hoffmann commented on #4211
I'm for something inbetween. Like just put voltage (i suppose 99% of everyone will want that anyways) center top, and warnings center bottom ..thats it.

If it where for me i'd ask for a different layout, but BF needs something that suits 95% of everyone out of the box ..so it should probably be just the most basic of information (ie warnings/voltage/time) ..or simply nothing at all.

[2017-09-26 10:06] avidtech commented on #1582
I'll check it out in the afternoon. I've been busy with building my supercapacitor pulse welder B)

Will advise,

Thanks again.

[2017-09-26 12:56] Haasje commented on #4223
I just wanna say that I'm truly impressed with the way you guys picked this up and found the solution. I've been in various beta testing programs and github projects, but the speed and level of profession with which you picked this up, kuddo's to you!!

[2017-09-26 13:50] jflyper commented on #4223
Closed via #4234

[2017-09-26 16:25] #4223 closed

[2017-09-26 17:17] Bugg69s commented on #4213
@mikeller where I need to build firmware ?

[2017-09-26 19:55] ofiratt commented on #4003
I have the same issue, cant calibrate the current sensor correctly, usually it easy to calibrate with two variables equation. **but scale cant be decimal**

There are a few places in the code that need to be fixed
  power.html:
     in the code you can find `parseInt($('input[name="amperagescale-' + index + '"]').val());`
     but it need to be  `parseFloat($('input[name="amperagescale-' + index +

[2017-09-26 20:18] mikeller commented on #4003
@ChimpsterFPV: The negative values issue was fixed in betaflight/betaflight-configurator#651. It will be included in the next configurator update.

@ofiratt: Betaflight uses integer to store / communicate configuration values, for various reasons. This usually works fine, and the value range available when using int16 seems to be enough for all configuration settings, when scaled properly. If you

[2017-09-26 20:35] mikeller commented on #4213
@Bugg69s: If you aren't set up to build the firmware already, it's easiest if you let me know what board version you use, and I'll build it for you.

[2017-09-26 20:52] katana144 commented on #4239
That worked. I got it to respond.
Thank you very much.

On Tue, Sep 26, 2017 at 2:14 AM, Michael Keller <notifications@github.com>
wrote:

[2017-09-26 23:27] imrj commented on #2220
am having same issue here with F7....has therte been any fix for this??

[2017-09-27 05:53] Wes-Leigh commented on #2220
Hi,

I had the same issue with Omnibus F4. Trying forcing Serial Speed and unplug RX if possible. That was the only way I could get mine to flash to RC5.

[2017-09-27 07:30] alexeystn opened #4242 "Blackbox Log Number for internal flash"
Hi!
I have DYS Omnibus F4 Pro with onboard flash memory and Betaflight 3.2 RC5 firmware.
I can see Blackbox usage and Blackbox log number (BB LOG NUM) after each disarm on the OSD stats screen.
Usage is displayed correctly in %, while Log Number is always 0.
In the source code I've found that _blackboxGetLogNumber_ function always return zero if onboard flash is used.
Is it possible to display rea

[2017-09-27 10:30] wuub commented on #2852
Since a lot of people are pitching in with their 'me too' info. I want to add a success story instead

 I too experienced the flip-on-throttle in both angle and acro mode on a freshly upgraded (3.1.7) babyhawk. I could have sworn I had AIRMODE enabled. When I found this issue I was disappointed, that it does not help me.

Then I went and double checked, lo and behold, due to a small bug in my conf

[2017-09-27 16:53] Yamaford opened #4247 "OSD setting on Profiles"
Would it be possible to set up different OSD configurations on profiles?
As it sets now I think we can turn off OSD completely with a switch but I would like a way to leave some things such as voltage a constant and other info all the time.
I understand profiles can only be changed on the ground so maybe another way to tackle this would be to leave the OSD on a switch setting alone but have an ext

[2017-09-27 17:22] DanNixon commented on #4247
Duplicate of https://github.com/betaflight/betaflight/issues/4155

[2017-09-27 19:01] Bugg69s commented on #4213
@mikeller Ok, thanks I'm using omnibus f3 nonpro

[2017-09-27 19:46] alexeystn commented on #4242
Here are the pictures of how it looks now.
Would be cool if the number on OSD is the same as in BB Explorer for every arm cycle.
![dvr](https://user-images.githubusercontent.com/8948963/30933892-ed4af504-a3dc-11e7-94bc-d1430cded1ff.png)
![blackbox](https://user-images.githubusercontent.com/8948963/30933895-f0f40876-a3dc-11e7-9c49-2bce4c6e6213.png)

[2017-09-27 20:56] mikeller commented on #4242
Totally agreed. This is not supported yet, but definitely worth looking into for 3.3. It will need a bit of work though, since we are currently not keeping track of the number of logs written to the internal dataflash.

[2017-09-27 20:59] mikeller commented on #4213
Here you go:

[betaflight_3.2.0_OMNIBUS.zip](https://github.com/betaflight/betaflight/files/1338716/betaflight_3.2.0_OMNIBUS.zip)

[2017-09-27 21:13] #4247 closed

[2017-09-28 01:19] lizardguns opened #4248 "Furious FPV Acrowhoop V2 reciever not working."
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

## If you believe

[2017-09-28 03:43] #4248 closed

[2017-09-28 06:54] #4239 closed

[2017-09-28 11:05] Ub6ib9 commented on #2975
I'm having the same problem with my betaflight f3 board. Goes into dfu mode but won't flash. Says "detected device with total flash size 256kib" and won't flash. And I'm using windows....

[2017-09-28 11:12] Ub6ib9 commented on #2975
It's bad enough that 2 of my QWAD's were out of commission due to betaflight tweekin out on the failsafe tab and receiver tab going crazy deleted numbers.... After a month I finally found that....  And flying again after replacing values in the min and Max on Failsafe tab and min mid and max in receiver tab. Now I just want to update the firmware on my BFF3 board.... And cant

[2017-09-28 11:33] jflyper commented on #2975
@Ub6ib9 Yours also sounds like a support request. GitHub is for question and discussions around *development* of Betaflight. For questions about hardware problems, please contact your supplier, or [RCGroups](https://www.rcgroups.com/forums/search.php?searchid=62152622&query=betaflightf3).

[2017-09-28 11:33] #2975 closed

[2017-09-28 11:49] Bugg69s commented on #4213
Thanks :)

[2017-09-28 12:07] Ub6ib9 commented on #2975
It's because you guys keep developing and developing but cause problems by going too far. My board has no hardware issues. It worked fine the last time I flashed it and only flown a few times. Time to switch to racefight....

[2017-09-28 12:34] wind0r commented on #2975
DFU is done by STM itself. Nothing Betaflight can change there or ever changed. There isnt any way for a Firmware to change how DFU works. There isnt any way Betaflight can change it so it works better or worse. This just can be changed on Computer / Enduser side and not with any code in Betaflight.

So since you said there isnt any hardware issue there just can be something strange with your Comp

[2017-09-28 12:40] TempleClause opened #4249 "Access RunCam OSD Menu via Camera Control"
Camera Control works great for me and is an awesome feature!

RunCam also has some other menus that one can access via the OSD push button cable.
For example, the new RunCam Micro Swift 2 has presets for indoor, cloudy etc conditions.
You can change those settings by long pressing the UP button.

Is this something that is being worked on? I guess it should be quite easy to implement since it only

[2017-09-28 12:43] Ub6ib9 commented on #2975
That's the thing I don't have a problem getting into dfu mode. And I have
flashed to other play controllers with the same computer without a problem.
Ever since betaflight 3.2 came out there has been issues. Like the
resetting of the values in Fail-Safe and on the receiver tabs. Which the
two boards I was able to flash don't have that problem anymore. Which is
why I want to update my betaflightf3

[2017-09-28 12:49] TempleClause commented on #4249
Case closed :-)

Just found in the source code that if you have throttle low, yaw center, pitch high and roll center it will access the menu. To navigate afterwards the throttle needs to get back to center.

[2017-09-28 12:49] #4249 closed

[2017-09-28 12:51] DieHertz commented on #4249
There will be something better this weekend, allowing you to hold sticks in position to get the same behavior as long press

[2017-09-28 13:19] jflyper commented on #2975
This is the BFF3 thread.

https://www.rcgroups.com/forums/showthread.php?2795213-Betaflight-F3-Flight-Controller-OSD-PDB-SD-card-BEC-current-sensor

[2017-09-28 13:45] Ub6ib9 commented on #2975
Thank you for the information. I love betaflight! I just hate when things
quit working, especially when I didn't do anything for it to trip up.
Hopefully I can figure it out.

Thanks again
Kyle

On Sep 28, 2017 9:19 AM, "jflyper" <notifications@github.com> wrote:

[2017-09-28 17:59] VoicOfReason commented on #57
OK. How about F3 boards? Are they affected, as well, or do they have enough memory for GPS?

[2017-09-28 18:20] Schalonsus commented on #57
You should better use iNav for gps assistance

[2017-09-28 20:27] mario01963 opened #4253 "Fc flashingi am trying to flash my fc. the cc3d fc boots and i have picked the latest firmware clicked load firmware the clicked flash firmwareand in the top right i get a message failed to open serial port this is all new to me so would be great to get any help thanks in advance"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

## If you believe

[2017-09-28 20:51] stm01 commented on #4253
Ummm that long title ...?

[2017-09-28 21:35] VoicOfReason commented on #57
I appreciate your advice. I am already using iNav on another quad. But, I
want to use a GPS on Betaflight in order to JUST get GPS coords. So, back
to my question: will F4 work? Thanks.

On Thu, Sep 28, 2017 at 1:20 PM, Schalonsus <notifications@github.com>
wrote:

[2017-09-28 23:52] jflyper commented on #4253
@mario01963 It's an installation problem.

Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

Thank you in advance.

[2017-09-28 23:52] #4253 closed

[2017-09-29 00:19] jflyper commented on #57
F4 does have GPS code in most, if not all, targets.

For further assistance, please consider using other user support options such as [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

Thank you in advance.

[2017-09-29 03:20] rpacifica opened #4254 "failed to open serial port"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.
i am new to betaflight and when i hit connect to hook my drone up i get a ,,failed to open serial port ,,probably an easy fix but not for me ,,thanks everyone in advance
## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups]

[2017-09-29 04:12] jflyper commented on #4254
@rpacifica

Since the Betaflight github issues is a place for reporting software issues and discussion toward making the Betaflight software better, user support is not conducted here.

For issues related to installation of the Betaflight, please read the installation section of the Betaflight Wiki first.
https://github.com/betaflight/betaflight/wiki/Installing-Betaflight

If you still have the is

[2017-09-29 04:12] #4254 closed

[2017-09-30 10:41] bkeinert commented on #4242
What's the best way to implement this? Had a rough look at the BB code, it seems the start of the free flash is found by a binary search. Maybe counting "End of flight" events? But that would be O(n) - might be still fast enough.

[2017-09-30 13:03] jflyper commented on #4242
Plan 1

An idea would be to insert a dedicated page that keeps an ordinal for the following log chunk.

Page 0: <log ordinal #x>
Page 1: <page 0 of log #x>
Page 2: <page 1 of log #x>
Page n: <page n - 1 of log #x>
Page n + 1:  <log ordinal #x + 1>
Page n + 2: <page 0 of log #x + 1>
Page n + 3: <page 1 of log #x + 1>
Page n + m: <page n + m - 2 of log #x + 1>
Page n + m + 1: <log ordinal #x + 2>
Pa

[2017-09-30 20:23] codecae opened #4256 "MSP saves not committing over CRSF protocol"
Due to timing issues with incoming frames in the CRSF ISR, the static CRSF Frame, and the supporting frame status function, the current implementation of MSP over CRSF has a high failure rate of remote saves from OpenTx LUA scripts.

PR #4210 has been created to resolve this problem and has been proven successful at improving overall performance of MSP over CRSF and as a result solves the save iss

[2017-09-30 21:28] Arakon opened #4257 "ESC init happens twice on power-up"
Using a current master build (equals RC6), when using BLHeli 16.63 or 16.67 with standard startup tones, the startup sounds play twice. When using a custom tone in 16.67 (i.e. the star wars startup melody), it doesn't happen.
Using DShot 600. Thought it was just a fluke on my system, but someone else just reported the same in the BF thread on rcgroups.

[2017-09-30 23:37] TehllamaFPV opened #4258 "BF3.2 RC6 Latest Built - DShot Beeper Command (Aux Channel) Not working"
I just started moving my quads over to the 3.2 Release Candidate 5 over the last few hours.  All but one of them works perfectly (on identical setups), with every new feature working.

The last one came up with RC6 as the download in the configurator - it does everything except for the Aux channel Beeper functionality.

[2017-10-01 00:24] Arakon commented on #4258
It's working fine. You just have to enable it via CLI.
set beeper_dshot_beacon_tone = 1-5 (different tones)
Tested it just now too.

[2017-10-01 00:59] TehllamaFPV commented on #4258
I just went back to RC5 - which is working for me.
Awesome - I feel dumb...  although a GUI button for selecting those tones from a drop-down would be pretty awesome; although a low priority feature request at best.
Thanks!

[2017-10-01 01:07] bluehallu commented on #3970
Beeper was dead indeed, installed a new one and it works. I guess it died on the flight before going home and flashing 😅

[2017-10-01 01:46] dannyteets commented on #4257
Having same issue. DShot 600 in RC6.

[2017-10-01 01:49] dannyteets commented on #4257
Holybro Kakute F4 FC.

[2017-10-01 02:42] dingrgh commented on #4258
Let's close this, shall we?

[2017-10-01 05:49] modellbobby commented on #797
quick check here. Why is this closed. It is still present in 3.2 RC5 badly

[2017-10-01 05:50] modellbobby commented on #4226
Hi, it is still present in rc5. Any quick fix here available?

[2017-10-01 09:06] goodnerdboy commented on #4129
Hi @jflyper.
Reading #4165  comments, i don't find it clear weither or not this will be fixed before BF3.3.
Do you think there is a chance we'll have a fix before 3.3?

[2017-10-01 09:47] HaiSaiFPV opened #4259 "BF3.2 RC6 Flip over after crash (aniti-turtle) does not reverse motors"
Just flashed RC6 and enabled flip over after crash. everything works as it should accept for reversing the motors, only two motors spin with roll and pitch input as it should but they spin the normal direction.

Kakute F4 FC
Wraith 25A Blheli32 ESCs

[2017-10-01 11:15] hubertott commented on #3959
Hi All,

Great work on this issue... I finally had a solid session on 3.2.0 RC5 and while it definitely felt like the quad was far less inclined to YTTM I did manage to have it happen.

Obviously there are lot of factors to his, perhaps this was just a generic Yaw spin event... but it felt very similar. Unfortunately, I do not have BB logs but thought I would flag that it. As I was looking forward

[2017-10-01 14:55] martinbudden commented on #3959
@hubertott , thanks for the report. However there is little we can do without a BB log. Can you please fly with BB logging on in future and post any logs that show YTTM?

[2017-10-01 16:28] bkeinert commented on #4242
Maybe write the number of the current log at the beginning and the end of the currently active log?
Doing so would at least allow you to recover a valid log number even if logging was interrupted (e.g. crash and flown away lipo etc.).

[2017-10-01 17:38] romangorchakov commented on #2172
Hey guys just in case it's not solved yet -- I'm so happy I could get it working because I googled and got nthng. CC3D with BF 3.2.0 RC6, Matek beeper's "B-" (not "battery", "beeper") connected to Motor 6. Then "resource motor 6 none" (just in case) and "resource beeper a02" and that's it! Whew!! )

[2017-10-01 18:25] UltiFix commented on #4259
I also have this issue....

Omnibus F4 FC
Kiss 24A Esc's flashed with V108F

[2017-10-01 18:35] brycedjohnson commented on #4259
Are you using the beta version of blheli32?  Did it work before?

[2017-10-01 19:01] ugpfpv opened #4262 "BF 3.2 rates different on different FC"
I have a pikoblx board and an flip32 f4 board both with BF3.2 all the rate settings are the same on both, but the reported deg/sec are different, piko shows being faster, is there something else affecting this besides the RC,Super, and Expo?

[2017-10-01 19:01] Stef263 opened #4263 "Carte YOUPIF4 et GPS"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

## If you believe

[2017-10-01 19:05] Stef263 commented on #4263
Bonjour,
je n'arrive pas à installer un GPS sur une carte YUPIF4!!!
pouvez vous modifier le code ?
sur le logiciel INAV il n'y a pas de problème

Hello,
I can not install a GPS on a YUPIF4 card !!!
can you change the code?
about INAV software there is no problem

[2017-10-01 19:55] AdrY89 commented on #4258
Hi
I have a KAKUTE F4
The rc6 the beeper channel work only with esc if set
set beeper_dshot_beacon_tone = 1-5
the standard beeper do not work

[2017-10-01 20:13] fbohmann commented on #4262
deadband affects the final rates.

[2017-10-01 20:22] Bugg69s opened #4264 "Clean blackbox logs in OSD (not really issue)"
Hi, I found out that is annoying me to clean the logs, I have just old PC with no SD card reader and to delete logs I need to use my phone or dongle that is slow as hell and not really working right. Will be possible to delete logs in OSD ?
 It will save a lot of time.

[2017-10-01 20:50] richard-scott commented on #4257
I get the same on an SP Racing F3 Evo. three tones, three tones then dshot tones.

[2017-10-01 21:14] floggi commented on #2113
Same issue here with a Holybro Kakute F4. Just receiving black screen on my goggles (with OSD data). If I connect directly (cam + vtx wire), everything fine (of course no Betaflight OSD data display.

[2017-10-01 21:50] ugpfpv commented on #4262
Yes, that was it fbohmann, Thanks!

[2017-10-02 01:03] jflyper commented on #2113
@floggi  If you are not getting any picture nor overlay, then it is the hardware issue, either broken overlay chip or bad build.

## If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthrea

[2017-10-02 01:03] #2113 closed

[2017-10-02 04:38] OtterNas3 commented on #4214
Function is working properly on Matek F405-AIO
However as 1337flite mentioned, arming get disabled with "nogyro"

Another thing i noticed is:
After
**resource camera_control 1 A04**

Fc is not able to connect to PC on USB anymore

after free the pin again and reboot of FC it works normal again.

[2017-10-02 06:45] #4262 closed

[2017-10-02 07:23] 0crap commented on #4257
Same here.
Naze32 - FVT LittleBee 20A - OneShot125

[2017-10-02 07:39] fiveangle commented on #4259
Just in case it helps track down the area of the issue, on RC5, OMNIBUS(F3) target, [generic micro 20x20 20A 4:1 esc,](https://www.gearbest.com/esc/pp_618556.html), BLHeli_S 16.67, DSHOT600, each ESC set reversed in BLHeli Configurator, BF set to "Motor direction is reversed", props reversed, and _Turtle Flip Mode_ on switch functions as expected.

[2017-10-02 08:06] jflyper commented on #4264
You mean you want to selectively delete one or more log files in _**SD card**_?

Btw, deleting the entire file can be done through CMS.

[2017-10-02 09:18] flyinghead commented on #3185
Fixed by 0ccacfdc0ebe9a5bb8bd0be6f5d5427dd62a2d41
Thank you

[2017-10-02 09:18] #3185 closed

[2017-10-02 09:45] MrSatoV commented on #4156
Before I even try the hacked hex, is there a fix that's going in on next RC or other release - soon?  I have the CLRacingF4.  In fact, I'm owner of a shop that is selling these and need to know what to tell my customers - not just "here's a hack" because we want to sell only good and valid products and needing a hack doesn't look good.  It's fine for a short term until an update is done, I just ne

[2017-10-02 10:25] MrSatoV commented on #4156
Oh, and does "I will temporary skip the MOTOR_OUTPUT_INVERTED handling in N-channel case" mean I can not use reversed motors AND the LED strip with this hack?  And you say temporarily, so does that mean the official fix will allow for reversed motors AND LED strip?
I'm just curious too... why are these the only two targets who use N-Channel for this?  Is there a benefit over the usual method(s)?

[2017-10-02 11:50] ctzsnooze commented on #4156
I fly reversed motors with this code and its not a problem.

[2017-10-02 14:14] jflyper commented on #4156
@MrSatoV Shawn? Hey, long time no see! This is teralift@rcg.

There is a long story behind this issue.

- Inverted channels (aka N-channels) are timer channels that gives reverse polarity outputs. It simply behaves as if an inverter was applied to its output. It has nothing to do with which way a motor connected to this channel output rotates. Timer channels with this characteristic are sometimes

[2017-10-02 14:25] jflyper commented on #4263
@RcNet @Faduf Can you folks take care of this? Preferably at your support site?

[2017-10-02 17:17] Bugg69s commented on #4264
I want to use OSD to delete some files, I will have like full Card and want to keep some new logs. That I can delete some through OSD. Or you can add command line to OSD

[2017-10-02 17:19] Bugg69s commented on #4264
It will be no need for PC or laptop to setup your quad, just use command line and notepad with commands you wanna use

[2017-10-02 18:10] SkylionFPV commented on #4129
is this fixed in rc6 or not?

[2017-10-02 18:14] goodnerdboy commented on #4129
@SkylionFPV it is not fixed yet in RC6, at least for NeroF7.

[2017-10-02 18:18] devbloggs commented on #4257
same issue here, startup tones happen twice when powered with LiPo, but only once when connected to betaflight with LiPo, didnt happen on RC5

Diatone DLink F3 V3
DYS XS20A DSHOT 600 (tried 150 and 300)

[2017-10-02 18:45] 0crap commented on #4257
I flashed a bunch of builds on my Naze32 to find out where it went wrong.
Conclusion, build #224 is the last one without this issue.
Build #225 "Changes: Improved initialisation order. Stopped calling pidInit before gyro" is the first build which gives me the above issues.

Hope this makes it a bit easier for the dev's to find the issue.

[2017-10-02 18:54] richard-scott commented on #4257
I've noticed that when you go into CLI, and click out of CLI (or type save) the board reboots but only beeps the correct number of times.

[2017-10-02 19:13] hydra commented on #4226
this is fixed by https://github.com/betaflight/betaflight/pull/4218

[2017-10-02 19:13] #4226 closed

[2017-10-02 19:50] mrowczyn opened #4267 "BF 3.2 RC5 BLHeli ESC pass-through does not work on BetaflightF3"
Hi,
I tried to run BLHeliSuite and it is unable to connect.
 Tested on two separate BFF3 boards
Tested on BLHeliSuite 16.6.14.9.0.0, but Chrome app also is unable to connect. In BF 3.1.6 was ok.
Atached screens
![blheli1](https://user-images.githubusercontent.com/25986825/31096146-806b1b3e-a7bb-11e7-9322-7b6bc7d5943d.PNG)
![blheli2](https://user-images.githubusercontent.com/25986825/31096148-81296

[2017-10-02 20:09] modellbobby commented on #4226
awesome . Very keen to test it now

[2017-10-02 20:10] VoicOfReason commented on #797
I agree. I am having this issue, as well. I'm using a Talon frame. I had the issue on Betaflight F3 board with hyperlite 2007 motors. I changed the motors (to 2307) and the FC to F7V2 and I have the same issue. It rises perfectly level and then after 1-2 throttle punches, it drifts HARD to the right, so hard sometimes that I almost crash since I have to crank the stick all the way just to keep it

[2017-10-02 20:12] modellbobby commented on #797
Hi, this bug is referring to : Acc filtering is broken. #4226

[2017-10-02 20:14] modellbobby commented on #797
Duplicate of #4226

[2017-10-02 20:15] modellbobby commented on #797
#4226

[2017-10-02 20:24] VoicOfReason commented on #4226
Does RC6 have this fix included?

[2017-10-02 20:39] Arakon commented on #4264
You do realize that even on a 4 gig card, you can keep several hundred logs before it gets full?

[2017-10-02 20:49] SkylionFPV commented on #4129
thank you I was about to flash my omnibus f7s over but I figured I should ask first

[2017-10-02 21:01] VoicOfReason commented on #4226
I just upgraded to RC6, but it isn't fixed. How do I incorporate this fix in my RC6 build?

[2017-10-02 22:31] ctzsnooze commented on #4156
You guys are just so awesome!

[2017-10-03 02:38] VoicOfReason opened #4268 "Accelerometer not working correct - quad flies crooked after throttle punches"
With 2 different flight controllers (Betaflight F3 and F7V2) with 2 different sets of motors and receivers (Crossfire and Frsky) my quad is flying crooked after throttle punches after a stable/level lift off. I'm using 3.2RC5 and just tried RC6. Same problem on both. I take off level, but after a few hard throttle punches it flies so off-level that I can barely control it, i.e. have to crank stick

[2017-10-03 03:02] hubertott commented on #3959
@martinbudden I get to fly once a week at this stage. I will definitely have an SD card in for the next session and report any events.

[2017-10-03 03:05] MylesShannon opened #4269 "Kakute F4 OSD rolling flicker"
I'm getting a visual bug with the OSD of the Kakute F4 AIO flight controller when "cpu_overclock" is set to "ON". Here is a [DVR video](https://youtu.be/HXmSvdUkhIA) showing what I am seeing. This is a fresh flash of Betaflight 3.2 RC6. I've seen this same issue with previous 3.2 RCx releases.

The only solution I've found is using [this firmware](betaflight_3.2.0_KAKUTEF4-max_half_clock.hex.zip)

[2017-10-03 04:22] nathantsoi commented on #4269
you need to set `max7456_clock`, see https://github.com/betaflight/betaflight/pull/4150/files#diff-3df161829f53e111012cc1907754987bR756

[2017-10-03 04:22] #4269 closed

[2017-10-03 04:28] jflyper commented on #4269
@MylesShannon

- The half-clock firmware provided in #4114 works,
- Full-erase RC6 doesn't.

Is this your case?

[2017-10-03 05:25] MylesShannon commented on #4269
@nathantsoi
No problem. Thanks for the info. I'll give that a try and report back here tomorrow.

@jflyper
That's right.

[2017-10-03 05:31] jflyper commented on #4269
@MylesShannon
Overlay chip driver in RC6 is designed to detect the original MAX7456 chip, but it may not be working.

Can you try the `set max7456_clock = HALF` first to find out this option works?

[2017-10-03 13:24] Rickcau opened #4271 "BF 3.2 RC6 - Profiles are not working properly"
## If you believe there is an issue with the firmware itself please follow these steps:
Problem Description:
I have setup 3 different rate profiles for Profile 1 for my racing builds.  I also like to use Profile 2 for higher rates & d setpoint, just in case I want to do acro and feel I need faster response.  If I select profile 2 and set my settings and save them.  When I reconnect, I now see prof

[2017-10-03 13:38] Bugg69s commented on #4264
I have only 1gb card and i'm too lazy to insert into my phone, it will save my time

[2017-10-03 16:00] DEvil0000 commented on #4189
# diff
# Betaflight / OMNIBUS (OMNI) 3.2.0 Aug 28 2017 / 12:01:58 (b2cd7294e)
resource MOTOR 1 B09
resource MOTOR 2 A02
resource MOTOR 4 B08
mixer QUADX1234

feature -RX_PPM
feature INFLIGHT_ACC_CAL
feature RX_SERIAL
feature MOTOR_STOP
feature RSSI_ADC
feature LED_STRIP
beeper -ARMING_GPS_FIX
beeper -RX_SET
beeper -MULTI_BEEPS
beeper -SYSTEM_INIT
beeper -ON_USB
serial 0 1 115200 57600 0 115200
ser

[2017-10-03 16:00] DEvil0000 commented on #4189
# dump
# Betaflight / OMNIBUS (OMNI) 3.2.0 Aug 28 2017 / 12:01:58 (b2cd7294e)
name -
resource BEEPER 1 C15
resource MOTOR 1 B09
resource MOTOR 2 A02
resource MOTOR 3 A03
resource MOTOR 4 B08
resource MOTOR 5 B07
resource MOTOR 6 B06
resource MOTOR 7 NONE
resource MOTOR 8 NONE
resource SERVO 1 NONE
resource SERVO 2 NONE
resource SERVO 3 NONE
resource SERVO 4 NONE
resource SERVO 5 NONE
resource SERV

[2017-10-03 16:01] DEvil0000 commented on #4189
maybe the missing peace was: omnibus
https://www.banggood.com/Eachine-Minicube-F3-6DOF-Flight-Controller-Intergrated-Betaflight-OSD-20mm20mm-p-1126931.html?rmmds=search

[2017-10-03 16:04] jflyper commented on #4189
@DEvil0000 Can you try RC6?

[2017-10-03 16:10] jflyper commented on #4264
@Bugg69s I've put a label for feature request and edited the title a little.

[2017-10-03 16:15] DEvil0000 commented on #4189
Maybe in 14days. This copters esc + fc just burned today.Now I do not have a working one.
Von meinem Samsung Gerät gesendet.

-------- Ursprüngliche Nachricht --------
Von: jflyper <notifications@github.com>
Datum: 03.10.2017  18:04  (GMT+01:00)
An: betaflight/betaflight <betaflight@noreply.github.com>
Cc: "A. Binzxxxxxx" <alexander@binzberger.de>, Mention <mention@noreply.github.com>
Betreff: Re:

[2017-10-03 16:21] jflyper commented on #4189
Oh... sorry for your loss... 😭

[2017-10-03 17:08] adamtfc87 opened #4272 "Unstable crossfire connection with telemetry ON"
1.) Using Crossfire 2.0.8 micro tx and micro rx v2, signal fluctuates quite a lot with telemetry turned on in betaflight and on the receiver.

[2017-10-03 17:17] codecae commented on #4272
I worked with @adamtfc87  to troubleshoot this issue and have found that a recent change in the rx code may be inhibiting telemetry transport.

Reverting the following change seemed to correct the issue:
https://github.com/betaflight/betaflight/commit/287a45659d88f7bc5f97cb265eb47a5d811cc61e#diff-d00dc7f5c196f87a1c750b70bd40795eL236

[2017-10-03 17:17] helpmelearnplease opened #4273 "Does anyone have a new document to build the betaflight source code in Eclipse C/C++ ?"
Hello guys,
If you have a new documentation for Building the source code for BetaFlight in Eclipse IDE for C/C++ please help me with it.
In spite of following all the steps in https://github.com/martinbudden/betaflight/blob/master/docs/development/Building%20in%20Eclipse.md
and also form https://github.com/cleanflight/cleanflight/blob/master/docs/development/Building%20in%20Eclipse.md#checkout-cle

[2017-10-03 17:25] codecae commented on #4272
Reverting the following change smoothed out the dips in LQ (packet success ratio) in telemetry:

https://github.com/betaflight/betaflight/commit/860ec23fbe1916d96e458edca498af26cc304fc2#diff-d00dc7f5c196f87a1c750b70bd40795eL236

[2017-10-03 18:02] IvaAlex commented on #3145
Hello guys,
i've manage to "fix" HOTT telemetry in RC6.
I took hott.c file from build 1207 (Build 1207 (24-Apr-2017 10:09:06), and with few changes, the telemetry now works !
[hott OK.txt](https://github.com/betaflight/betaflight/files/1353342/hott.OK.txt)
if i have time in the next days, i will check the hott.c from rc6 build

[2017-10-03 18:30] Stef263 commented on #4263
Bonjour,
je n'arrive pas à installer un GPS sur une carte YUPIF4!!!
pouvez vous modifier le code ?
sur le logiciel INAV il n'y a pas de problème

Hello,
I can not install a GPS on a YUPIF4 card !!!
can you change the code?
about INAV software there is no problem

[2017-10-03 18:56] AndersHoglund commented on #4273
A project like this is not the ideal thing to start learing crossplattform embedded software design in Eclipse. And building such things are not a strong point of Eclipse, especially not with 100++ different targets. Not sure anyone here have the time to guide you through it all. Get experience on Eclipse on some simpler project.
If this is only about building binaries, I think you should forget E

[2017-10-03 20:14] AirBreak69 opened #4275 "BF 3.2 RC6: sd card .bfl logfile not readable in all BB explorer variants"
Using a MATEKF405, BF 3.2 RC6, sd card. The generated .BFL files on the card are not readable by any explorer. I tried the latest versions of BF / CF explorer and the blackbox tools.
.BBL-Files from other FCs of the same BF version downloaded via the configurator still can be read.
All tools lock up after the file is selected. The task manager shows one core to be fully loaded (by chrome.exe or bl

[2017-10-04 00:20] peteoz opened #4276 "CL_racing F4 SDcard fatal error on BF3.2 RC5, RC6. works OK on BF 3.17"
I can't get BB logging to work on CL_racing F4 board, it fails to record data every time when trying on BF3.2, but works fine on BF3.17.

tried 3 different SD cards that are known to be good because they work on my other quads with different FCs.

the whole behaviour in BF3.2 is weird, for example when in configurator and on BB page, it comes initially as error, when I switch to CLI and instantly

[2017-10-04 00:25] jflyper commented on #4276
@bnn1044 Do you have any info on this?

[2017-10-04 00:34] peteoz commented on #3160
@mikeller : I believe @flyinglemonfpv is subscribed to this thread since he was previously responding here, but last time he was seen here was back in May. since then I tried to contact him directly by email also regarding other matters but can get any response.

in the meantime I re-wired some of my quads again and can't get the LED to work on BF3.2 (tried RC4, RC5 and today RC6).

since we recei

[2017-10-04 00:44] mikeller commented on #3160
Not sure how much significance this has, but can you try changing `TIMER_OUTPUT_NONE` to `TIMER_OUTPUT_STANDARD` in https://github.com/betaflight/betaflight/blob/master/src/main/target/KIWIF4/target.c#L35 ?

[2017-10-04 00:50] glenmurphy commented on #4259
Same issue with my Tinyfish - in flip mode the motors go in the wrong direction (pulls that side towards the ground).

I wired all my motors backwards, so I reversed the motors in BLHeli, which let me keep everything the regular way around in BetaFlight (props are normal direction and "motor direction reversed" is "off").

Betaflight: Using DSHOT600 / FC Yaw Offset of -45
BLHeli: S_H_50  + 16.7 Bi

[2017-10-04 00:57] brycedjohnson commented on #4259
@glenmurphy Yeah the escs in 3d mode I don't think will do turtle mode successfully.

For everyone else, Reverse prop directions or esc motor direction reversed have been tested with my setup should be working fine.

[2017-10-04 01:02] glenmurphy commented on #4259
@brycedjohnson thanks! I updated to 16.7 at the same time I swapped from regular reversed to bidirectional reversed (16.6 with regular reversed didn't work) - going back to regular reversed with 16.7 worked great!

[2017-10-04 01:05] knun22 opened #4277 "i cant figure out why my quad wont connect to betaflight"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

## If you believe

[2017-10-04 01:06] peteoz commented on #3160
@mikeller
I suppose that's not something I could do through CLI ?
this is the source code that needs to be compiled after modification to make a new HEX file ?
I'm just not familiar with the process, is there any tutorial on how to get me started ?

[2017-10-04 01:22] bnn1044 commented on #4276
@jflyper @peteoz
just test RC6. works. no problem at all.

[2017-10-04 01:23] bnn1044 commented on #4276
@peteoz do you have the configurator upgraded?

[2017-10-04 02:10] chime13 commented on #4271
@Rickcau,
As was pointed out to me:
FCs will now store 3 profiles and only 3 global rate profiles.
Yeah, I too had different rates for each of the different profiles. Otherwise, everything is working fine for me.

[2017-10-04 02:17] Elbau opened #4278 "LED profiles (switchable via OSD)"
I'd love to see programmable profiles for LED modes and an OSD interface for selecting them.

For instance, a race mode that switches to an assigned pilot color, a beacon mode that flashes white, or a status mode with battery, RSSI, warnings.

Typically I fly FPV and only use my lights as locating beacons after a crash -- blinking white seems to provide the best visibility.

When flying with other

[2017-10-04 02:32] mikeller commented on #4271
@Rickcau: As @chime13 is pointing out, profiles and rateprofiles have been simplified in 3.2, and they are now completely independent. You now get 3 profiles and 3 rateprofiles, and any profile can be used in conjunction with any rateprofile.

[2017-10-04 02:32] #4271 closed

[2017-10-04 02:37] mikeller commented on #3160
@peteoz: Ah, I assumed you were set up to build the firmware. Will look into it tonight and post a binary to test.

[2017-10-04 02:38] #4277 closed

[2017-10-04 02:39] tantrim commented on #4042
@jflyper  @wydra91 I too had this issue. The GPS in the tooltip threw me off as well for RX_SET. Although I am a developer myself this one got me. This is my first build so I have no knowledge of setting these things up yet so I'm looking at it with a fresh pair of eyes. This has thrown 2 people off that have taken the time to write about it.. I'm sure more might have this issue.

[2017-10-04 02:44] mikeller commented on #4259
@HaiSaiFPV: Did an update of the ESC firmware to 32.15 solve this for you?

[2017-10-04 02:49] peteoz commented on #4276
@bnn1044 I'm running 3.2.1, but it's not just the configurator Fatal Error. at the end of the flight when OSD stats come up, I always get "fault" for the BB and no log file is ever recorded.

in CLI when I run status I get "Filesystem: Fatal - no FAT MBR partitions", then I come back from CLI to configurator and under BB it reads SDcard "Ready", I close down configurator and re-open it and it come

[2017-10-04 02:49] mikeller commented on #4273
@helpmelearnplease: @AndersHoglund is right, if you are trying to start out by building in Eclipse, you are trying to run before you have learned to walk. Follow the steps in https://github.com/martinbudden/betaflight/blob/master/docs/development/Building%20in%20Windows.md to get a (non-Eclipse) Windows development environment set up. Only when you've got this done, and can build in Windows, move

[2017-10-04 02:53] mikeller commented on #4272
There is something odd going on here. https://github.com/betaflight/betaflight/commit/860ec23fbe1916d96e458edca498af26cc304fc2#diff-d00dc7f5c196f87a1c750b70bd40795eL236 should not make a difference unless `serialrx_halfduplex` is set to `on`.

[2017-10-04 02:56] peteoz commented on #3160
thank you @mikeller

[2017-10-04 04:07] jflyper commented on #3160
@peteoz
Which board do you have the LED issue with? KIWIF4, KIWIF4V2 or PLUMF4?

[2017-10-04 04:57] codecae commented on #4272
Appears to be a false positive result.  Something peculiar is going on and I can't quite put my finger on it.  When applying @adamtfc87's diff, it appears to trigger something that doesn't occur when manually configuring.

[2017-10-04 05:11] codecae commented on #4272
I found that simply disabling the accelerometer is causing dips of 10-12% LQ.

[2017-10-04 06:23] codecae commented on #4272
Created PR #4279 for this issue.

[2017-10-04 11:07] peteoz commented on #3160
@jflyper I have all of these boards (2x KIWIF4, 3x KIWIF4V2, 2x PLUMF4), but the issue I'm referring to in my last post is regarding KIWIF4V2.

1)
the older original KIWIF4 I cannot test with BF3.2, I installed those almost year ago and both quads are not in working order at the moment, but there weren't never any issues with the original KIWIF4 up to version BF3.17 which was the last BF version I

[2017-10-04 12:07] VoicOfReason commented on #4257
I’m having double initialize as well: omnibus f7v2, dshot 600 16.63.

[2017-10-04 12:30] jflyper commented on #3160
**_Kiwi F4 V2_**
- From the description and wiring diagram, UART6 has a circuit branching out for SmartPort connetion, and  I suspect this branch circuit is interfering with full full-duplex operation on UART6. AFAIK, it is impossible to make the branch circuit co-exist with normal full-duplex UART. So yes, UART3 is the only fully functional full-duplex UART you have on this board.

Kiwi F4V V2 an

[2017-10-04 13:26] themelle commented on #3861
@andrejpodzimek Thanks for your thorough explanation - altough it does not really solve the problem, it may give someone with a deeper understanding a clue to find a solution.

On a side note I've just stumbled upon [PR#1934](https://github.com/iNavFlight/inav/pull/1934) in iNav. If this could be implemented in BF maybe we could have more tools at our disposal to try different things. I have high

[2017-10-04 13:36] helpmelearnplease commented on #4273
@AndersHoglund @mikeller Thank you for your suggestions, But I am not able to download the packages from git (Devel/git-completion) after installing CyGwin, why is it so?
Is there any particular version of the software you would recommend?

[2017-10-04 13:58] mikeller commented on #4273
Don't worry about Devel/git-completion, it is marked as optional.

[2017-10-04 14:27] mikeller commented on #3160
@peteoz: I had a quick check with the KIWIF4V2, and the LED pad does not seem to work with the vanilla firmware indeed. I also couldn't figure out how to make it work, but I managed to get LED_STRIP to work on VTX.DTA (which does not seem to be used for anything else at the moment anyway) with this custom firmware:

[betaflight_3.2.0_KIWIF4V2.zip](https://github.com/betaflight/betaflight/files/135

[2017-10-04 14:35] helpmelearnplease commented on #4273
Okay @mikeller , Will try it and will post the update in the improvements

[2017-10-04 15:48] McGiverGim commented on #4275
If I'm not wrong, it seems that it enters in an infinite loop in:

https://github.com/betaflight/blackbox-log-viewer/blob/a05bea35d128c2d4b85312d9fb687f0de539e779/js/flightlog_parser.js#L1108

The `shouldHaveFrame(frameIndex)` seems to return false always. I don't understand this part of the code, so I don't know how to solve it. It seems a BB issue, not a BF one, but maybe the data written by the

[2017-10-04 16:14] Hustleflyer commented on #3912
I have gone through 3 different builds all with Matek F405 AIOs, and two out of three experienced this exact problem, mine was much worse with one I was debugging and troubleshooted all the way to the Gyro itself after rebuilding same machine three times, an Arris X220 with two different sets of motors and then different ESCs just to be extra double sure.  I tried to band aid with a rubicon capaci

[2017-10-04 16:17] jflyper commented on #3861
A couple of comments.

- "I2C Errors" as reported counts number of "_I2C **BUS** protocol errors_".
There may still be bit errors, which may cause huge jumps depending on where the error bit is.

- Slower I2C will provide more reliable communication. I will look into this as I overhaul the I2C for DMA toward 3.3 or 3.4.

[2017-10-04 16:22] Stef263 opened #4281 "GPS"
Hello,
je n'arrive pas à utiliser un GPS Ublox Neo MSN sur cette carte!!!
c'est quoi l'astuce?

Hello,
I can not use an Ublox Neo MSN GPS on this card !!!
What is the trick?

[2017-10-04 17:29] peteoz commented on #3160
@jflyper , UART6 not working is not a big deal, I hooked up my Crossfire Rx to UART3 and was hoping to connect my BLheli32 ESCs telemetry to UART6, but ESC telemetry is still unknown territory for me, not much info around, I'll wait for that and do it on my next build.

it's unfortunate that so many great F4 boards with MPU6000 were "crippled" to make them compatible with Frsky receivers. it's imp

[2017-10-04 17:33] jflyper commented on #3160
I'm sooooo seriously and curiously and eager to know where the trace from LED pad is going!!! 😉

Same mistakes three times in a row is somewhat unimaginable.

[2017-10-04 18:59] bnn1044 commented on #4276
@peteoz did you try to format the card either using the configurator or computer?

[2017-10-04 19:03] noypi2000 commented on #4136
I did what supiik suggested and it works for me too. Thanks for sharing.

[2017-10-04 19:10] #4136 closed

[2017-10-04 19:15] peteoz commented on #3160
@mikeller thank you for the custom FW, it works.

tested on 2 quads.
(1)
- LEDs work when VTX.DTA pad is used, slightly different behaviour than on 3.17 but I don't suspect this is due to the custom FW, more likely there is a difference in 3.2 the way Color Modifier works with Throttle (previously going to full throttle the LEDs would go through the entire color spectrum, whereas now it goes from

[2017-10-04 19:35] csbuzkp commented on #4136
@DieHertz why you close this issue? you promised that it must work without capacitor.

[2017-10-04 19:35] DieHertz commented on #4136
It won't. Redirect your request to Foxeer.

[2017-10-04 20:17] csbuzkp commented on #4136
Хозяин - барин

[2017-10-05 00:35] peteoz commented on #4276
@bnn1044 firstly I formatted my SD cards on my Mac, choosing "MS DOS Fat" formatting option. and because it still wasn't working I then also downloaded the SDcard formatter tool from sdcard.com and formatted again, still it doesn't work.

I'm using these cheap 2GB SD cards : https://www.amazon.com/gp/product/B000VOU91U/
I bought 10 of them and I'm using them successfully on my other quads with dif

[2017-10-05 00:57] bnn1044 commented on #4276
I use one of my 1gb cheap sd card experiencing the same as you. The FC won’t boot up. The green light constantly on. But when I change to better sd card problem go away.

[2017-10-05 01:33] jflyper commented on #4281
@Stef263
I think you should try https://www.facebook.com/YupiF4, as there seems to be no one who owns Yupi F4 and can help here.

[2017-10-05 02:05] MrSatoV commented on #4156
Hey @jflyper aka teralift!  XD  Howzit!?
Wow, that's an awesome explanation!  Although, wonder how long before 3.3 is released.  o.O
Also, I just realized (right as I was about to flash) that that's the BJF4 target, not CLF4.  I don't suppose that one works for CLF4 as well?  If not, would it be possible to get one for CLF4?
DOMOOOOO!!!  XD

[2017-10-05 03:03] mrduncan626 opened #4284 "BF 3.2.0 Motolabs Tempest F3 UART 1 OSD"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://rcgroups.com/forums/showthread.php?t=2464844), [Slack](https://slack.betaflight.tech) or other user support forums & groups (e.g. facebook).

## If you believe

[2017-10-05 04:27] themelle commented on #3861
@jflyper Thanks for your thoughts.
And many thanks in advance for the promised I2C overhaul - I'm looking forward to it, can't wait 👍
If we can assist you testing your implementation please drop a line!

[2017-10-05 05:11] mikeller commented on #4284
This is probably caused by changes in the MSP protocol pertaining to how battery voltage is reported. Contact the manufacturer of your OSD and ask them to provide a firmware update that works with Betaflight 3.2.

[2017-10-05 05:36] mikeller commented on #3160
@peteoz: Thanks for testing. #4285 moves the LED_STRIP output back to VTX.DTA.

[2017-10-05 05:44] mikeller commented on #4272
@codecae: Not sure I'd call this a workaround. Not sending attitude data if we don't have attitude data seems to be the right thing to do.

[2017-10-05 06:06] mikeller commented on #4189
Yeah, sorry for your loss. But looking at your `diff`, it appears that the flip after crash mode was still configured for AUX 2:

`aux 4 35 1 1475 1550`