[2018-05-26 23:05] mikeller commented on #5982
@m013: The current limiting feature may be helpful in situations where the current limit is approached slowly. But in a situation where a loaded and spinning motor is suddenly stopped, the current increase caused by this will be way too fast for any kind of limiting to be effective before damage is done.
Or to put it into another perspective: In order for motors to be able to accelerate as fast as

[2018-05-26 23:50] etracer65 commented on #5969
I just tried using the current master and wasn't able to replicate. This is with all defaults except serial and receiver.  Any advice how to replicate?

I see you're both running `map TAER` where I'm running `map AETR`

This is a SPRACINGF3EVO target.

[2018-05-26 23:55] flint723 commented on #5969
I'll try on a few other targets later tonight.  Only other thing I can add is it was still present with different motor protocols on the Matekf405.  I tried with more features off, didn't make a difference.  Tried with auto and manual 11ms interpolation, no difference.

[2018-05-27 00:09] etracer65 commented on #5969
The logic is designed so that if using stick arming (no arming mode set up on the Modes tab), then if throttle stick is below min_check then yaw PID's are zero'd.  So if you're seeing yaw P then we need to confirm that your throttle is getting below min_check.

The only other real exception is if your were using the AIRPLANE or FLYING_WING mixer which I assume you're not.

@flint723 If you have a

[2018-05-27 00:14] etracer65 commented on #5969
I usually do a binary search by splitting the difference between one I know doesn't work and one that does.  Then depending on the result split again until you narrow down on the problem.

[2018-05-27 02:42] flint723 commented on #5969
I am able to confirm OMNIBUSF4 does have the issue as well.

[2018-05-27 03:04] flint723 commented on #5969
So far:
-796 is fine
-801 is fine

[2018-05-27 03:49] flint723 commented on #5969
Verified on OMNIBUSF4, IMPULSERCF3, and MATEKF405 that 845 is ok, and 846+ has the issue.

[2018-05-27 07:55] stepansonsky commented on #4613
Seems to be fixed with moron_threshold = 200. Can capacitor fix this on default value?

[2018-05-27 09:38] #5725 closed

[2018-05-27 12:14] etracer65 commented on #5969
Thanks to @flint723 identifying the build, I think I found the problem.  I'm still not able to replicate with a variety of flight controllers - even tried changing to map TAER1234 to match your setup.  However I think I see what might be happening and it appears be a timing issue in incoming RX data that may be explained by differences in protocols.  I run Frsky and can't reproduce but I think bot

[2018-05-27 14:14] etracer65 commented on #5969
I was finally able to get a combination that duplicated the problem so I can confirm it's fixed.  It only affected cases where `rc_interp_ch = RPYT`. In reality stick command disarming was working.  The problem was that yaw input to the PID controller wasn't being suppressed like it should when throttle was below min_check so it would cause the quad to react to the yaw.  If you held the yaw it wou

[2018-05-27 15:05] flint723 commented on #5969
@etracer65 so in your tests `rc_interp_ch = RPY` did not have the issue but RPYT did?

And in the last batch of testing I realized the same, that it did indeed stick disarm as well, probably did not hold it quite long enough in initial testing.

[2018-05-27 15:44] etracer65 commented on #5969
@flint723 No, RPY has the issue as well. I just skipped over that and went right to RPYT to duplicate.

I definitely understand the problem now and the fix will resolve it.  The cause was due to the ordering change in the processing to fix the motor spikes.  Before the logic was zeroing out the yaw rcCommand channel *before* interpolation and then the PID controller would use that value on the nex

[2018-05-27 15:51] flint723 commented on #5969
Confirmed it is fixed with 98fb4d7c6 on omnibusf4, impulsercf3, matekf405.  Any need to test the later commit?

[2018-05-27 15:55] elbowz opened #5993 "displayport_max7456_X_adjust do not work"
On my Matek f405 CTR the cli commands: `displayport_max7456_col_adjust` and `displayport_max7456_row_adjust` don't work.

Instead the cli cmds: `vcd_h_offset` and `vcd_v_offset` work like a charm.

Could it be bug?

My OSD text  go over the edge (top-bottom-left-right) and it's cut off, so these cmds could be very useful.

diff:
[code]
Thanks!

BF: v3.3.2

[2018-05-27 15:56] #5672 closed

[2018-05-27 16:06] etracer65 commented on #5969
No. That was just to address fast ram overflow on F7's.

[2018-05-27 16:11] flint723 commented on #5969
Sorry, I made a mistake and edited, I did test the last commit, but had flashed one of my boards back to 863 when I went to look what commit number I tested.

[2018-05-27 16:13] etracer65 commented on #5969
Actually the fact that this was really not a disarming issue and rather a yaw suppression problem is why I had trouble duplicating.  I was initially just testing bare boards on the bench and was confirming that the arming led would go back off to indicate it worked.  I wasn't testing in the configurator motors tab or with a real quad so I couldn't see the motor response to yaw.

[2018-05-27 16:14] flint723 commented on #5969
Yes, I should have shown images in configurator, it was visible in the log however.

[2018-05-27 16:18] pitts-mo commented on #5682
@mikeller
betaflight_3.4.0_KAKUTEF4V2-20180527_153700 (git clone time)
Yes, The baro/altitude is re-zeroed as you describe this seems ideal for most users and does appear to satisfy the primary intent of this issue.

However I would like to note this behavior is exacerbating the baro inaccuracy I see on my build since it is re-zeroing several meters of negative drift accumulations prior to arm the

[2018-05-27 16:18] #5682 closed

[2018-05-27 16:34] elbowz commented on #5993
I'm sorry.

I have misunderstood something in wiki page: https://github.com/betaflight/betaflight/wiki/OSD-and-CMS-Adjusting-Screen

Maybe could be better explained

Thanks for your support!

[2018-05-27 16:34] #5993 closed

[2018-05-27 17:23] Cleric-K opened #5994 "Failsafe switch to engage Stage 2 immediately"
Currently, activating Failsafe through switch "simulates" RX loss and the guard time in Stage 1 must elapse before Stage 2 is engaged.

I think it is usable to be able to configure the failsafe switch to engage stage 2 immediately. After all if you flip the failsafe switch you _know_ that you want to bail out so it is pointless to wait for the simulated guard time.

Obviously this has meaning if u

[2018-05-27 17:56] #5705 closed

[2018-05-27 18:54] m013 commented on #5982
I guees i d better disable this feature on every quad i have.
noticed today when i had a crash,  a quad just stopped,  or bounced back without these funny uncontrollable spins while trying to get itself leveled.
Maybe crash prevention is usable for woops, but not  for outdoors quads, not even for 100mm ones.

[2018-05-27 22:27] mikeller commented on #5982
@m013: Not sure what feature you are talking about, you seem to be a bit confused about what the individual features do. But there is no such feature that would result in 'a quad just stopped' in mid-flight (i.e. not right when taking off), you probably just had enough of an impact to cause (momentary) loss of power.

[2018-05-27 22:32] mikeller commented on #5994
@Cleric-K: I can see where you are coming from - not sure if 'land with props spinning' is the safest option to use when losing visual feedback from the craft, but that's another discussion.

I would go for option 2. There is also a legitimate use case for users wanting to use the failsafe switch to test the failsafe behaviour, and that should include stage 1.

[2018-05-27 22:37] mikeller commented on #5682
@pitts-mo: I think setting the altitude to 0 on arm is a step in the right direction (and it's needed for GPS rescue anyway). As a side effect it gets rid of drift that occurred before arming.

Drift after arming is a different problem, and cannot be addressed in this way. The original code tried to use ACC data (if present) to reduce the influence of BARO drift. But it did not work particularly w

[2018-05-27 22:40] #5969 closed

[2018-05-28 07:14] Cleric-K commented on #5994
Yes, I agree that 'land with props spinning' is a topic of its own. Powered landing on true rx loss is no safer that landing on manual command on video loss - any kind of powered landing should be used responsibly and appropriately for the particular flying environment.
My whole point is that since we already have the Land procedure anyway it is fair to allow the user to activate it directly if he

[2018-05-28 10:46] mikeller commented on #5994
Hmm, this is interesting. Looking at https://github.com/betaflight/betaflight/blob/master/docs/Failsafe.md#flight-controller-failsafe-system, the description says that having `failsafe_kill_switch` on 0 will result on stage 2 being activated when the failsafe switch is activated. But looking at the code, it looks like all that only `FAILSAFE_MODE` is activated in this case.

But your suggestion is

[2018-05-28 10:51] marz71 commented on #5576
I have tried the betaflight_3.4.0_MATEKF411RX_combo_nosport.hex.zip. I switched to D8 and I can for sure see some difference. My telemetry is not so much on/off anymore. Unfortunately I discovered problem with one of the motors and could not fly. I'm waiting for new motors before I can test more.
But I noticed still low RSSI values. I walked away about 50 meters and the there was a pile of earth b

[2018-05-28 11:13] adronfpv commented on #5576
@marz71 I have also tried that hex with D8. No twitches and no failsafes at close distances. I also get very low rssi values during flighy but I have not tried it's range. At least this hex is better than with the old hex.

Most of the times I have flown with this hex and then land and disarm I see in the OSD that mi lowest rssi was 30 or lower but I didn't get failsafe so maybe the rssi values ar

[2018-05-28 11:15] markusbrand commented on #5576
@brycedjohnson - just to confirm. Since switching to D8 - I don't get failsafes anymore. Run already about 20 packs, without twiches and other receiver related issues. Range is the same like typical XSR receiver (maybe a little more jumps in the RSSI values - but not sure). Also Motor-Beeper is working with your hex-file provided above. Thanks for your effort, but still waiting for a final version

[2018-05-28 11:54] ralenekov commented on #5946
Looks related.

Matek F405-STD in 32k mode with 3.4 build 850.

Vibrations with bbox turned on and sometimes the logging starts before all headers are exported (doesn't reach header debug mode and features at the end). Tried 4k and 2k logging rate.

Seems random though, so if I log several times in a single flight, there is a chance that I get at least one log that all is fine and I don't have to

[2018-05-28 13:17] DmitryG commented on #3723
Having same issue with SP Racing F3 on betaflight 3.3

[2018-05-28 17:28] #5739 closed

[2018-05-28 21:37] rav-rav commented on #5636
I got a split now, too and ran into this issue.
Soft restart of the FC seems to make it work.

It does work when connected via USB and using CLI by just typing "save". And it also works when rebooting through the OSD menu.

open OSD -> save, reboot -> commands work

No idea where to look into the code, though.

[2018-05-28 21:59] ingleburn opened #6000 "WS2812b RGB - Protocol Change"
Pls can you confirm if beta flight has adopted the new protocol standard for WS2812b RGBs. The reset interval has been increased from 50us to 280us. I note that the old chips are no longer being manufactured we are not able to source anymore. To add to the confusion, they are still called the same!

My understanding is that the old chips will work just great with the 280us reset low but not visa v

[2018-05-28 22:28] #5321 closed

[2018-05-29 03:53] slash4x4 commented on #3312
No I never did

On Mon, May 28, 2018, 9:22 PM callagga <notifications@github.com> wrote:

[2018-05-29 04:10] mikeller commented on #6000
Betaflight only sends one LED_STRIP data frame every 10 ms:

https://github.com/betaflight/betaflight/blob/b2f7aa3c363dc645fbf854fc10f0cff12604e635/src/main/fc/fc_tasks.c#L522

With the maximum of 32 LEDs, the length of the frame will be 32 * 24 * 1600ns (~ 1.2 ms), which puts the remaining 8800 us of reset time comfortably above the 280 us limit.

[2018-05-29 07:02] nikolaswidell commented on #5952
Hello,

just an update: with build 876 the issue is still present. DSHOT not working, multishot works OK.

Matek F722

[2018-05-29 07:38] markusbrand commented on #5576
@slekkas
This is the board I purchased: [](https://www.banggood.com/Matek-System-F411-One-30_5x30_5mm-F4-Flight-Controller-AIO-OSD-5V-BEC-Current-Sensor-for-RC-Drone-p-1276184.html)

I don't have low RSSI during start. I got 99 when I'm close to the quad. If I'm too close (1 meter or less) there is this RSSI problem that you lose connection, but this issue is with all frsky XSR receivers as well -

[2018-05-29 07:39] markusbrand commented on #5576
https://www.banggood.com/Matek-System-F411-One-30_5x30_5mm-F4-Flight-Controller-AIO-OSD-5V-BEC-Current-Sensor-for-RC-Drone-p-1276184.html?rmmds=myorder

[2018-05-29 17:47] Mewogoginspin opened #6006 "Blackbox Explorer Incorrectly Reporting RC Command deg/s and Causes PID Error to be Incorrect"
In the blackbox explorer, when displaying RC command, the calculated deg/s is incorrect. My max rates are 515 deg/s for roll and at full stick deflection the rcCommand displays 293 deg/s which causes the PID error to display ~200 deg/s even though when viewing the PID I see minimal activity on the roll axis and the Gyro is reporting 504 deg/s which would mean the error is much smaller.

![image](h

[2018-05-29 19:02] David-VG commented on #5398
I still get resets with 2.1 :(

[2018-05-29 19:28] McGiverGim commented on #6006
Please test the master version of blackbox you can get it from here andwho.sytes.net:8080 I think this problem is solved

[2018-05-29 19:30] McGiverGim commented on #6006
I forgot to say, if the problem persists open the issue in the blackbox github and not the firmware github https://github.com/betaflight/blackbox-log-viewer

[2018-05-30 04:49] cjbeck opened #6007 "Latest build (from 1ab7b7816b9bdc54ad47298537555913654cb5d4) SDCARD blackbox logging not working"
I am fairly certain there is something new with the blackbox logging on my FC (TARGET=MLTEMPF4), which isn't working. I have tried 3 different sd cards, 2 of which are no longer working (which were previously working), and the third looks like it logs, but never actually writes the log file.

I flashed "a different fork" of betaflight, and the logging is working on that version. I am happy to try

[2018-05-30 06:36] ghostface commented on #5398
Hmm I checked the commits between 3.2 and 3.3 and the only directly runcam related changes I found were this: https://github.com/betaflight/betaflight/commit/2d84608daa9cbdf7f37e0716374bd89573bd58f3#diff-e293e0889da47c994ca5e3c692180810 I don't really see how this would break anything tho. I might try to remove it and test if it solves the issue.

It's possible that some other change is responsibl

[2018-05-30 10:45] #5183 closed

[2018-05-30 15:24] naimadfpv opened #6011 "Own Firmware file for HGLRC FCs"
Hey Guys,

is it possible to do an own Firmware hex file for HGLRC?

Many People have problems flashing the HGLRC Boards with the correct firmware file (Omnibus F4).

Im thinking about the easy way to do this, just rename the Omnibus F4 hex file to HGLRCF4 or something like that and add it to Betaflight GUI so people can choose HGLRC FW instead of Omnibus F4.

Thanks in advice.

[betaflight_3.3.2_

[2018-05-30 15:36] naimadfpv commented on #6011
They choose the wrong hex file.

They have to flash "OmnibusF4" hex file instead of "OmnibusF4FW", "Omnibus F4SD" or something other.

Many People ask daily on Facebook HGLRC Group which Firmware they should use.

It is way easier if the GUI has HGLRCF4 Firmware in the Dropdown to choose.

[2018-05-30 15:48] wind0r commented on #6011
As allready told you plenty of times this will not happen.
Creating Targets just for the name would cost us way to much for the CI Infrastructure for not any sane reason.

Travis takes already around 30 Minutes to build. We need to wait that time for every pull request.

A Travis Licence that would allow such Targets with Custom names would cost $489 per month. If HGLRC and other Companys would do

[2018-05-30 15:48] #6011 closed

[2018-05-30 15:51] naimadfpv commented on #6011
Okay thank you for your repy.

I will talk that to HGLRC.

[2018-05-30 15:53] wind0r commented on #6011
@naimadfpv you arent from HGLRC?
The last few days they pmed us through different ways and also created some strange pull request without any information. #6003

[2018-05-30 16:22] naimadfpv commented on #6011
Not directly, I’m a TeamPilot and they ask me to ask you to do that.

That’s all I know.

[2018-05-30 16:25] naimadfpv commented on #6011
But you understand me/us right? I’m not a developer, just a dump Pilot as I told :D
We don’t want a new CI.

We thought about just to copy the OmnibusF4, rename it to HGLRCF4 and implement that into betaflight GUI. So the inside of the hex file is the same like OmnibusF4.

Just saying because I don’t know if you understand me right...

[2018-05-30 16:31] wind0r commented on #6011
As written above. That will not happen. You allways need to compile the target for the name. So more ci resources are needed just for some name.

[2018-05-30 16:33] kpmzam commented on #5344
@pavel-d I would have no problem posting a diff dump if I hadn't already reverted it back to the normal 2 wire s.port and sbus configuration shortly after posting here due to the link being totally unreliable and failsafing at close range.
With normal setup it's fully reliable and nothing changed other than wiring and firmware. So i think it's not worth pursuing until frsky releases updated firmwa

[2018-05-30 16:38] naimadfpv commented on #6011
Okay i understand that.

Sorry for double asking. I didn’t know that they had ask you in the past....

[2018-05-30 17:29] utkinpol commented on #5958
Hi,

I just tried this feature on the rooster model with CL Racing F4S FC using Diego`s code build. Not sure if it is same codebase as this, so i decided to leave this comment in here, in case if this feature is still getting some work.

It is not clear what GPS_HOME mode has in common with Diego`s GPS_RESCUE, or if it same one or not - but realistically i get it should work similar to the classic

[2018-05-30 17:30] utkinpol commented on #5958
Also, not sure if there is any blog or user test board about the current 3.4 RC code base - i see those GPS modes added into config, but i presume nothing yet works and the only working code base is the Diego`s GPS_RESCUE one?

[2018-05-30 17:53] McGiverGim commented on #6007
Maybe is a too high blackbox_p_ratio? Use 32 as in the working version to see if it works.

[2018-05-30 18:07] Orrrb opened #6012 "BF 3.3.2, Unify Pro HV Race does not change settings via smartaudio or CLI."
FC: Piroflip F4 Hyperlite, Revo target
RX: R-XSR 171009 FW , sbus to sbus pad, smartport to motorpin 6 via softserial.
VTX: TBS Unify Pro HV Race, Smartaudio to TX3. TBS Unify Pro "non race" tested ok.
TX: Taranis X9D+ OpenTX 2.2.1, lua 0.3 - 1.0.1 tested.

Unable to transfer settings to the VTX via CLI or LUA. I can successfully change the VTX settings on the FC via CLI and LUA, but the changes a

[2018-05-30 19:53] blckmn commented on #6011
@naimadfpv it’s a common issue agreed, however when a manufacturer wants their branding in the configurator they should be prepared to donate and assist the Betaflight project.

Make no mistake it’s about branding. It’s not hard to simply post in a Facebook group or on a help page which firmware to use. They can even provide their own hex for download and flashing.

Soon the number of targets will

[2018-05-30 20:46] pavel-d commented on #5344
@kpmzam, I see, thanks for explaining. Did you use uninverted hack for s.port signal? on which UART?

[2018-05-31 01:30] flint723 commented on #6006
By the way for me the problem (as I originally reported it in BB issues) is no longer there with latest master (standalone BBE not chrome app version).

[2018-05-31 08:01] naimadfpv commented on #6011
You’re right! I thought about that too. But I think if the user knows how to save their config in the log with „diff“ command or ask „version“ I think they are also able to know which firmware they should flash imo.

We are thinking about the newer users, which don’t know much about betaflight.

I mean, sure they can ask on Facebook and I think mostly they will get an answer which Firmware they sh

[2018-05-31 08:35] Lord-Quake commented on #5184
I've just uploaded build 884 since I'm using HOTT and SUMD with RSSI.
What is the CLI command(s) so that I can change the ranges from 1100 - 1900 to 1000 - 2000?

[2018-05-31 08:49] mikeller commented on #5184
@Lord-Quake: GitHub is for questions and discussion around the **development** of the firmware and tools. For questions around the configuration and use of Betaflight, please visit [RCGroups](https://www.rcgroups.com/forums/search.php?query=betaflight%20cleanflight%20configuration%20use).

[2018-05-31 09:21] Lord-Quake commented on #5184
My sincere apologies!

https://www.rcgroups.com/forums/showpost.php?p=39733201&postcount=55210

[2018-05-31 11:37] #5994 closed

[2018-05-31 16:57] Vidalcris opened #6015 ""Get" always show the value of profile 0"
Hi,
I got a weird problem with my OmnibusF4 (HGLRC F440).
When i do a get on some settings the result is false, i mean this is not the actual setting.

But a "Diff" show the actual setting.

This is not from this build (6c9ec2625), i got the problem with "dterm_lowpass_type" for long.

I tried with another F440 and also with a F428 the problem is always the same.
I'm always flashing with a fullera

[2018-05-31 17:01] DieHertz commented on #6015
I think you're on a different profile than 1

[2018-05-31 17:02] Vidalcris commented on #6015
Damn ... so this is normal ? :)

[2018-05-31 17:04] DieHertz commented on #6015
Type `profile 1` and try `get` commands again

[2018-05-31 17:07] Vidalcris commented on #6015
same :
diff
[...]
set smart_feedforward = ON

# profile 1
profile 1

# get smart
smart_feedforward = OFF
Allowed values: OFF, ON

[2018-05-31 17:08] Vidalcris commented on #6015
Even if i change the profile with the PIDs page

[2018-05-31 17:08] DieHertz commented on #6015
What does `profile` say? Weird indeed

[2018-05-31 17:09] Vidalcris commented on #6015
[code]

[2018-05-31 17:10] Vidalcris commented on #6015
oh btw if i type profile 1, then profile the result is profile 1 ;)

[2018-05-31 17:10] Vidalcris commented on #6015
when i restart the board the result is profile 0

[2018-05-31 17:11] joshuabardwell opened #6016 "vTX Remote Control overwriting button and Tramp NFC config changes"
When vTX Remote Control is enabled, it overwrites channel and power changes made by vTX button or Tramp NFC tag. Alternative configuration methods are rendered essentially non-functional. This is especially a big deal for Tramp users, who want to be able to use wand at races, but vTX remote control at home.

[2018-05-31 17:13] Vidalcris commented on #6015
So yeah in fact from start i'm in profile 0 ;)

[2018-05-31 17:21] Vidalcris commented on #6015
Ok the problem is my diff ... idk which part ..

[code]

[2018-05-31 17:22] Vidalcris commented on #6015
If i dont paste my diff in the CLI everything is working fine.
After using my diff then saving, the problem happen.

[2018-05-31 17:26] Vidalcris commented on #6015
This is the only part that i'm not sure about :
[code]

[2018-05-31 17:31] DieHertz commented on #6015
Thank you, I'll try to reproduce and study once I get home.
@Vidalcris AFAIK you don't have to free a resource unless the other assignment may kick in, e.g. if you use PPM/PWM receiver or ESCSERIAL.

[2018-05-31 17:35] Vidalcris commented on #6015
i use esc telemetry .. not sure if this is related to escserial

[2018-05-31 17:37] Vidalcris commented on #6015
Also i freed SERIAL_TX 3 .. idk if this is really necessary with my config.

![image](https://user-images.githubusercontent.com/28737055/40797923-00f375c4-650a-11e8-842a-911143ba519c.png)

[2018-05-31 17:48] Vidalcris commented on #6015
If i change my diff with profile 0 instead of profile 1, everything is working fine.
This is the first time is use another profile because i use this model with 3S & 4S.

[code]

[2018-05-31 18:07] Vidalcris commented on #6015
I think the Diff should look like this :
[code]

I just tried and this is working.
So all parameters not related to profile must be placed before the "profile"

[2018-05-31 18:14] Vidalcris commented on #6015
Ok i think i should be able to make a PR for that ;)

[2018-05-31 18:14] wind0r commented on #6016
Disabling the VTX Feature for racedays is one way to solve this.

[2018-05-31 19:19] joshuabardwell commented on #6016
It's a workaround, but not ideal.

Ideally, the FC would be notified of channel/power changes that come in through any other method and remember them. So if I change channel via NFC or button, the OSD and Lua Script are updated accordingly, instead of overwriting.

[2018-05-31 19:32] mikeller commented on #6015
@Vidalcris: You have to be aware that there are **profiles** and **rateprofiles**. They are independent, and each one has certain settings associated. So you could be using (for example) the settings from profile 1, and the settings (of different parameters) from rateprofile 2.

[2018-05-31 19:47] joshuabardwell commented on #6016
Why?

[2018-05-31 19:48] DieHertz commented on #6016
Because they don't notify you about changes.

[2018-05-31 19:48] mikeller commented on #6016
One of the problems to solve here is to define who is authoritative for the VTX settings. The current implementation makes the flight controller authoritative, and the settings stored there are pushed the the VTX. This makes the implementation straightforward, works around some tricky bits like 'what to do when an MSP command to change the VTX setting is received, but the VTX isn't responding to c

[2018-05-31 19:53] Vidalcris commented on #6015
smart_feedforward (as an exemple) is related to profiles ?

[2018-05-31 20:07] joshuabardwell commented on #6016
It's not just for Tramp, but for any FC that has an alternative method of changing setting. Most common of course is push-button, and the obvious response is, why use push-button if you have vTX remote control, but hey, it's there, and some users want to use it. Additionally, some vTX have other methods of control such as Furious Stealth which has a Bluetooth interface. So please don't think of th

[2018-05-31 20:14] mikeller commented on #6016
@joshuabardwell:

So on startup, there are different settings on the VTX and in the firmware. Who is authoritative?

[2018-05-31 20:53] joshuabardwell commented on #6016
If that were the main problem case, then I could see accepting it as un-solvable, if we could still solve the problem of totally disabling alternate configuration methods.

So we make an arbitrary choice of whether to treat the vTX or FC as authoritative on startup, but at least button, NFC, Lua, and OSD all appear to operate smoothly most of the time.

How often do the vTX and FC get out of sync

[2018-05-31 21:08] alancastell commented on #5398
Same issue on 2 different setups.  One a Maetek F405CTR on 3.3 and a Holybro Kakute F4 with 3.3.  Both setups running BL32 ESC's and Split 2 cameras.  Didn't happen on my prior versions of BF.

[2018-05-31 21:46] Copter38 commented on #4895
I am running BF 3.3.2 on a Matek F405-OSD FC. My RX is an R-XSR on FPort protocol using the uninverted hack.

I have also recently started to experience issues with wrong cell number detection.
As this started to appear shortly after I upgraded my setup to FPort RX protocol, I investigated in this direction using blackbox logging with debug set to BATTERY.

This is what I found when plugging in a

[2018-05-31 23:53] mikeller commented on #6016
@joshuabardwell:

Not sure if 'the VTX does not switch settings without being prompted most of the time' is something that any user would want to use - but there is no way to guarantee that this does not happen if we go for a solution that treats two independent systems as 'most of the time authoritative'.

[2018-05-31 23:58] mikeller commented on #4895
@Copter38: I don't think this is related to your change to FPort. Could be related to drift in your charger, and it now charging the batteries to a slightly higher voltage. This is an often discussed problem with overcharged / HV batteries, and can be solved by increasing the value set for `max_cell_voltage`.

[2018-06-01 00:32] wesk-ms commented on #5952
Not pushing anyone, but just curious if anyone is actively looking into this issue.  Issue is still present in build 889.  I was going to look into it myself, but didn't want to waste time if someone is already doing so.

Thanks!

[2018-06-01 02:01] ctzsnooze opened #6018 "Arm drop - after quick throttle drop to zero, one motor goes to zero, other three stay about 20%"
About five people have asked me about 'arm dropping' issues with 3.4.

Typically, on quickly dropping throttle to zero, one arm seems to drop in the FPV feed.

In the logs I've seen, the motors trace show one motor with zero drive, whereas the other three are stuck on 15-30%.  It seems as if one motor is failing to stop properly.

These are sporadic reports, so I've opened this issue for people to

[2018-06-01 06:09] mmakam2 opened #6019 "GPS Hold mode drops quad out of sky, Target: DALRCF405"
Hello,

GPS initializes properly, I get a 3d fix, shows a number of satellites and accuratish speed on the OSD. As soon as I enable GPS HOLD, the quad tilts over and starts falling until I disable GPS HOLD. I tried 2 other GPS units with the same results.

GPS Modules tried:
OP GPS
BN-880
Micro Ublox M8N (readytoflyquads)

[2018-06-01 06:13] McGiverGim commented on #6019
The GPS Hold does not work in Betaflight.

Maybe is better to remove this mode (and others that don't work) from the Configurator.

[2018-06-01 06:13] mmakam2 commented on #5826
FYI, figured out the issue. I had a custom motor mix due to using non standard motor pins from FC position. dshot couldn't handle the mmix, although multishot could. When i did motor mapping via resource instead of mmix, it resolved the issue.

[2018-06-01 06:15] mmakam2 commented on #6019
Did not realize that, i couldn't find any documentation on the mode. I agree better its removed. Curious, out of all the baseflight forks, is there one that does support gps hold and the DALRCF405 target?

[2018-06-01 06:18] McGiverGim commented on #6019
The only one that supports GPS Hols is iNav, but I don't know it they support this target.

[2018-06-01 07:01] nellikb commented on #6016
Hi, 1st time posting here, just thought I'd add some info from my own recent experiment:

When using an IRC tramp hooked up to BOTH the NFC tag AND Betaflight, the Tramp will power up and start transmitting briefly with settings from the NFC tag, then it will change to whatever BF sends it.

**This is potentially dangerous as it may cause a crash by briefly transmitting on someone else's frequency

[2018-06-01 08:02] Vidalcris commented on #6015
For me there is a bug as i said when pasting a diff done from another profile than 0.

Those values are not supposed to be different depending on the profile :
[code]

[2018-06-01 08:15] Vidalcris commented on #6015
Ok now i know where is the problem imo ... finally.

"Get" always give the value from profile 0.
It should imo give the value of the actual profile or even better show the value for each profiles who have a value.

[code]

[2018-06-01 08:18] mikeller commented on #6015
Yes, I agree that `get` should return the value of the current profile.

And yes, `dump all` is what is recommended for backup / restore.

[2018-06-01 08:19] Vidalcris commented on #6015
Ok thanks ;)

[2018-06-01 08:28] DieHertz commented on #6015
Nice find, I was sure `get` returns current profile.

[2018-06-01 08:33] mikeller commented on #6019
@mmakam2:

The upcoming 3.4 release will remove these, and instead give you `GPS_RESCUE`, which actually works.

[2018-06-01 08:38] mikeller commented on #6016
@nellikb:

That is exactly what I am referring to - having multiple 'authoritative' systems work concurrently will always expose you to this problem.

That is what I suggested in https://github.com/betaflight/betaflight/issues/6016#issuecomment-393657299: Make it possible to have a switch (or TX lus script toggle) that switches between the settings on the VTX and the settings in the firmware.

[2018-06-01 08:40] wind0r commented on #6016
You could add something to the LUA Script that enabled vtx feature then change channel and then disable the feature again. so betaflight will not overwrite it again.

to explain the problem: betaflight works similar like the nfc tag. this is because there are more vtx then just tramp or some vtx with buttons and some control, there are also some fc with build in vtx those need betaflight as the st

[2018-06-01 10:32] Copter38 commented on #4895
@mikeller: thank you for your feedback. I agree that the issue of wrong cell detection can be somehow circumvented by increasing max_cell_voltage which I did already. But still, there seems to be something strange happening on voltage ADC readings as soon as FPort is active and transmitting. A drift in the charger would clearly not explain this phenomenon.
Could it be that some interrupts relating

[2018-06-01 11:00] SteveKfpv commented on #6018
Just tried rolling my quad back from 3.4 to 3.3.2, same problem.
There's a drop then some time later an uncommanded correction the other way.
![screenshot 1](https://user-images.githubusercontent.com/30991255/40837600-5848bb02-65de-11e8-9d1f-4323c9ace055.png)
Racerstar 35A 4in1 on blheli s 16.7 defaults (all reversed for reverse prop)
Omnibusf4SD on BF 3.3.2
8k8k loop dshot600

I have another iden

[2018-06-01 11:42] ProcessDestroyer commented on #6018
Not entirely sure it's the same issue and will be a while before I can look into it more,, but I was having noticeable dip on BF 3.4, April 9th build, and captured a log with several flips, and almost everyone has a strange 'knee' on the pitch gyro trace, as well as roll, coming out of a maneuver.  I've posted a log and a screenshot compilation in Slack, under Test_Feedback.

[2018-06-01 17:43] romecode commented on #5398
Can confirm issue on BF 3.3.2
Omnibus F4 Pro Corner Wraith 35A ESC 32.4
Latest FW from RunCam (according to updater)

If i go into the OSD menu for RunCam, and exit out, the buttons seem to work properly afterwards.

[2018-06-01 17:59] McGiverGim commented on #6018
@SteveKfpv can you attach the log of the image?

[2018-06-01 18:00] #5455 closed

[2018-06-01 18:05] RoadyFPV opened #6020 "OmniNXTF7 Baro drop to negative Values"
OmniNXTF7 Baro shows on Bat conect 0m and drop to around -2m to -5m.
Also the OSD shows not corect negative value.
I am at 0m and go down to -1.5m the "-" sign will be displayd first at 1,0m

The OmniNXT use a new Baro type?

[2018-06-01 18:17] etracer65 commented on #6015
I found the problem and will work on a fix.  It was an unintended side effect of #5935

The `resetConfigs()` function used to restore the defaults so it could be printed also resets the profile back to 0.
[code]

[2018-06-01 19:04] Lord-Quake commented on #5184
No answers to my question on RCGroups.
Betaflight on Facebook could not help.

Examples:
set rssi_scale = 90 -> 1100 = 9% | 1900 = 81%
set rssi_scale = 110 -> 1100 = 11% | 1900 = 99%

As far as I can tell this commit is not working for Graupner SUMD and RSSI.

[2018-06-01 19:21] etracer65 commented on #6015
Created https://github.com/betaflight/betaflight/pull/6021 to fix the problem.

@Vidalcris Here's a hex with the fix for you to try.

[betaflight_3.4.0_OMNIBUSF4.hex.zip](https://github.com/betaflight/betaflight/files/2063884/betaflight_3.4.0_OMNIBUSF4.hex.zip)

[2018-06-01 19:27] Vidalcris commented on #6015
Awesome, its working correctly now :)
Good job !

[2018-06-01 19:40] myantz commented on #3364
@Rhys100 what if I have my smartport wired through soft serial and wired to motor signal pad 5 not a part how do I figure out what to type in the cli

[2018-06-01 23:05] mikeller commented on #3364
@myantz: Not sure if serial passthrough is supported (yet) by SOFTSERIAL. Maybe @jflyper knows more?

[2018-06-01 23:18] mikeller commented on #4895
@Copter38: Can you please confirm that this is indeed linked to FPort by switching back to whatever protocol and firmware you were using before FPort, and checking if that makes it go away?

[2018-06-01 23:30] mikeller commented on #5184
@Lord-Quake:

This looks like this feature does **exactly** what it is meant to do - it allows you to scale the RSSI value that is reported.

[2018-06-02 00:17] mikeller commented on #5923
@drprops: Is this working for you now? If so, can you please close this issue?

[2018-06-02 00:18] watageek commented on #5982
I am more in doubt you smoked a motor running it with damage prop or "forcing" it.

You have deactivated the notch filter
activated PT1 and dynamic filter and stage2 filter at 150hz, this can be the culprit.

No blackbox, version of firmware and lack of detail on your build will lead to guessing.

you can close this issue since it is not really an issue...

[2018-06-02 00:18] mikeller commented on #5887
This issue still exists with current master. @jflyper, @DieHertz I thought you had found a fix for this?

[2018-06-02 00:37] mikeller commented on #5952
Tested this with CI build 892, and Dshot works fine on a MATEKF722, with the config above.

@toiminto: Can you please test this?

[2018-06-02 00:42] mikeller commented on #5884
Implemented in #5891.

[2018-06-02 00:43] mikeller commented on #5305
Implemented in #5991.

[2018-06-02 00:43] #5305 closed

[2018-06-02 00:48] mikeller commented on #6000
@ingleburn: Does this address your concerns? If so, can you please close this?

[2018-06-02 00:50] mikeller commented on #5885
@IcyLemur276: Have you checked if your OSD altitude display actually updates while you are flying?

[2018-06-02 00:52] jflyper commented on #6020
@RoadyFPV
Yes, OmniNXT F7 uses a new baro chip LPS, but baro readings drifting into negative region is not a bug by itself. I think OSD presentation is the problem.

@conkerkh @DanNixon Thoughts?

[2018-06-02 00:55] mikeller commented on #5184
Ok, I had a look into the code. Looks like setting the lower / upper bounds of the RC input range is only supported for the first 4 channels - this is a different issue from scaling of the RSSI signal read from a channel. I'll look into making the bounds adjustable for all channels where this matters.

[2018-06-02 00:57] conkerkh commented on #6020
@jflyper  Do you know if it's LPS25HB or LPS22HB?

[2018-06-02 01:13] mikeller commented on #6020
@jflyper: My thoughts too - negative altitude readings in OSD used to work, so it's probably a recent regression.

[2018-06-02 01:26] jflyper commented on #6020
@conkerkh It's LPS25HB.

[2018-06-02 05:36] #5184 closed

[2018-06-02 05:43] McGiverGim commented on #6020
The problem with the osd is because multiply zero by -1 is zero.

https://github.com/betaflight/betaflight/blob/master/src/main/io/osd.c#L273

[2018-06-02 05:48] mikeller commented on #6020
Lol, yes, good find @McGiverGim. :-)

[2018-06-02 05:56] McGiverGim commented on #6020
The easy solution is to use a float, but I suppose that is being done with integers, abs and conditionals to not make a float operation by performance?

[2018-06-02 06:13] mikeller commented on #6020
@McGiverGim: It's not so much a question of performance, but one of size: The `tfp_printf` library that we are using for string formatting, which is considerably smaller than `stdio`, does not have support for float formatting. I think the easiest will be to explicitly set the `-`.

[2018-06-02 07:06] mikeller commented on #5642
@alberto: Has anything been done about this in iNav? If possible I'd like to get this fixed (and do so in a way that stays compatible with iNav) for 3.4.

[2018-06-02 07:49] ptrizio commented on #5887
now it has happened to me also installing the firmware nox 3.4

Il sab 2 giu 2018, 02:18 Michael Keller <notifications@github.com> ha
scritto:

[2018-06-02 09:15] DanNixon commented on #6020
I'm pretty sure that is how it used to be done. Not sure why it would have been changed.

[2018-06-02 10:09] Vidalcris commented on #6015
I think that could be usefull to have the actual profile number displayed after a "Get".
Even better to show it only if the value is part of a profile.
Just a ergonomic choice though ;)

[2018-06-02 10:28] mikeller commented on #6015
@Vidalcris: Good idea, I have been stuck there, trying to figure out if a value is part of the profile or not, in the past as well.

Try this for size:

[betaflight_3.4.0_OMNIBUSF4.zip](https://github.com/betaflight/betaflight/files/2064903/betaflight_3.4.0_OMNIBUSF4.zip)

[2018-06-02 11:48] Vidalcris commented on #6015
Nice but i think like this could be more practical  :)
[code]

[2018-06-02 12:33] IcyLemur276 commented on #5885
@mikeller yes the OSD altitude display does not update. Only see it updating in the configurator.

[2018-06-02 14:06] theSkonk commented on #6018
I have build 890 loaded on a new stack and esc in the qwad I can try for a log with iterm relax turned off.. the tune has been set up to take advantage of it though. For the record the issue has been since I built it and was flying test code for the dual dterm filter based on 3.3

[2018-06-02 15:26] andrejpodzimek commented on #4531
So finally I've had a successful compass detection in Betaflight, achieved by applying the following patch to v3.3.3:

[code]

So much for the bus side of things. But now it shows zeros, of course, so I'll have to remove the gain calculations.

[2018-06-02 15:56] andrejpodzimek commented on #4531
OK, I've managed to get some nonzero values and a successful calibration in Betaflight.

[code]

But I had to just remove all the gain code in a super-ugly way:

[code]

Has anyone found out how to make the gain calculations work? Are they necessary? The compass shows something seemingly reasonable in the instruments panel, although it seems to drift and fluctuate very slowly (e.g. when pointed at

[2018-06-02 15:57] m013 commented on #5705
seems something is still  wrong
![spikes](https://user-images.githubusercontent.com/37451707/40878238-b5406e32-6696-11e8-8501-316bab90e9fc.PNG)
[BTFL_BLACKBOX_LOG_Hawk5_20180602_183129_bad bearing_333.zip](https://github.com/betaflight/betaflight/files/2065134/BTFL_BLACKBOX_LOG_Hawk5_20180602_183129_bad.bearing_333.zip)

[2018-06-02 16:01] McGiverGim commented on #4531
The gain of the HMC was removed some weeks ago, like in iNav. Are you using latest master?

[2018-06-02 16:22] andrejpodzimek commented on #4531
No, I rebased my hacks onto the `v3.3.3` tag, so that may be indeed a few weeks back.

[2018-06-02 16:32] lamerton opened #6025 "reintroduction of ** ibus_sensor = 1,2,3,4,0,0,0,0,0,0,0,0,0,0,0** for F3 Targets."
Hi guys,

I have 2 x BFF3 FC boards and run a Flysky I6 with Flit 10 RX, which has telemetry functionality for IBUS to receive voltage telemetry to the FS-I6. Since release 3.25 was updated this functionality has vanished and is only available on my BFF4 in the new releases.

Could you please reintroduce the *ibus_sensor = 1,2,3,4,0,0,0,0,0,0,0,0,0,0,0* functionality for the F3 targets.

Keep doin

[2018-06-02 16:38] andrejpodzimek commented on #4531
Yes, the driver from `master` works for me. Calibration yielded very similar numbers. So after ~6 months of experimenting I might finally find the courage to try compass/yaw hold or even GPS hold. :smile:

[2018-06-02 16:55] etracer65 commented on #5705
What's wrong?  There doesn't appear to be any motor spikes in your log.  All I see is a really noisy quad - particularly on the pitch axis.  But bad bearings will do that to you. ;)

[2018-06-02 17:39] McGiverGim commented on #4531
I think that the only you can test is GPS Rescue with latest master :D

GPS Hold does not work in Betaflight (in master has been removed).

[2018-06-02 17:50] DieHertz commented on #5705
TL; DR; your quad is just noisy, no relation to this issue ticket.

The Dterm spikes are visible in time domain, identifying them in frequency domain with such a noisy quad is nearly impossible.
Anyway it would be just one spike with a determinate frequency, not distributed evenly across all the spektrum.

[2018-06-02 19:00] andrejpodzimek commented on #4531
That's sad. :cry:  But why is that the case? Can't it just be ported from iNav where it (rumor has it) works? I'd like to try iNav once, but as long as it doesn't have DShot, I'll keep ignoring it.

[2018-06-02 19:16] andrejpodzimek opened #6026 "My OMNIBUSF4 SoftSerial hacks don't work in 3.3.3, but worked in 3.3.2"
First of all, long story short: I traced it back to one particular file modification that causes the problem (`git diff v3.3.2 v3.3.3 src/main/target/OMNIBUSF4/target.h`):

[code]

Reverting this^^^ change makes my little dronie ~great~ fly again.

Sadly, I have to admit that it's not a stock Betaflight setup. I'm using [this stack](https://www.banggood.com/HGLRC-XJB-F440-TX20_V2-Omnibus-F4-Flight

[2018-06-02 20:32] m013 commented on #5705
@DieHertz @etracer65 , i dont remember the issue where i posted it, but i had the same problem on another quad when i moved to 3.3.2 from 3.3.0 , please check
![capture](https://user-images.githubusercontent.com/37451707/40880633-383b3af8-66bd-11e8-86bd-6a5362d124f1.PNG)

[LOG00005.zip](https://github.com/betaflight/betaflight/files/2065344/LOG00005.zip)

[2018-06-02 20:35] m013 commented on #5705
damn, sorry
i ll post it there
https://github.com/betaflight/betaflight/issues/5657

[2018-06-02 20:38] m013 commented on #5657
it is still present in 3.3.3 , caught on another quad
![spikes](https://user-images.githubusercontent.com/37451707/40880676-e8d7d326-66bd-11e8-8f16-c435ad08633f.PNG)
[BTFL_BLACKBOX_LOG_Hawk5_20180602_183129_bad bearing_333.zip](https://github.com/betaflight/betaflight/files/2065349/BTFL_BLACKBOX_LOG_Hawk5_20180602_183129_bad.bearing_333.zip)

[2018-06-02 20:42] andrejpodzimek opened #6027 "RPM from BLHeli_32 telemetry no longer sent over FrSky since Betaflight 3.3.3"
My FrSky telemetry used to contain a RPM reading without issues (on [this stack](https://www.banggood.com/HGLRC-XJB-F440-TX20_V2-Omnibus-F4-Flight-Controller-OSD-40A-Blheli_32-3-5S-ESC-25100200350mW-VTX-p-1242937.html)) until 3.3.2. With FrSky (16 channels) on a Devo 10 transmitter I could find it under `TelemRPM`.

Since Betaflight 3.3.3, the RPM number shows just zero. After some digging, I foun

[2018-06-02 20:49] #5982 closed

[2018-06-02 21:46] etracer65 commented on #6018
I just got done testing this and can't replicate.  Did a bunch of big LOS punches and zeroed throttle and took my hands off the sticks as it fell.  All gyros stay rock solid at zero during the fall and motors are all around zero.  Note that I don't have any of the i-term manipulation features, throttle boost, etc. enabled.  Anti-gravity is enabled and set at 4500.

[2018-06-02 22:14] andrejpodzimek opened #6028 "Compass is unusable (and likely dangerous) in Betaflight"
I have 3 instances of HMC5983 and one QMC5883 (fake HMC5883) connected to `BLUEJAYF4`, `ANYFCF7` and `OMNIBUSF7V2`. None of them works. After getting through the initial hassle of getting all the devices detected, I found a few disturbing malfunctions that make a compass unfit for flight with Betaflight.

1. Calibration always succeeds, no matter if you get the sensor orientation setting right. Th

[2018-06-02 22:21] mikeller commented on #5705
@m013: Please stop reposting your problems if somebody has already taken the time to explain to you what the problem is.

[2018-06-02 22:28] andrejpodzimek commented on #6019
Could it be related to #6028? That problem has been around since the dawn of ages; I think I spotted it last year already. But luckily I didn't try GPS hold, because baro hold doesn't work in Betaflight (#3823) (at least not by default), so there was no point in trying GPS hold. (Why would one do GPS hold without altitude hold?)

How `GPS_RESCUE` is supposed to work (without a proper altitude hold

[2018-06-02 22:34] andrejpodzimek commented on #4531
@McGiverGim I don't think `GPS_RESCUE` can work until and unless #6028 and #6019 are resolved. Having the compass finally detected made me get back to all my other drones with a compass and realize that the compass has **never** worked in Betaflight (in a much more general sense than just an I2C bus problem) and therefore using flight modes that require a compass is outright dangerous. If you're l

[2018-06-02 22:43] m013 commented on #5657
@mikeller , but there are the same spikes on the graph like  from the other quad's log above ( 3.3.2)
[LOG00005.zip](https://github.com/betaflight/betaflight/files/2065447/LOG00005.zip)
![capture](https://user-images.githubusercontent.com/37451707/40881439-6a56f5b0-66cf-11e8-89dc-cbc3b93b67da.PNG)

[2018-06-02 23:30] mikeller commented on #6015
@Vidalcris:

More practical: Yes.
More costly: Yes too, unfortunately.

The solution that I am proposing is re-using the existing implementation of `profile` and `rateprofile`, making it very cheap to implement. Considering this is very much a 'cherry on top' feature, I think we should go for the cheap one, instead of spending extra effort on it, and causing it to add to the code size (which is al

[2018-06-03 00:00] mikeller commented on #5885
Unfortunately, I don't have a GPS setup. What I can confirm is that that for a setup with BARO and no GPS, the altitude display in OSD works as expected.

@s0up, @dbasch, @McGiverGim: I think you guys got GPS setups. Can one of you look into this please?

[2018-06-03 00:07] andrejpodzimek commented on #3605
The compass on `SPRACINGF3` no longer works on Betaflight 3.3.3.

[2018-06-03 00:09] ChilledoutUK commented on #6019
works great i guess it calculates the heading on gps vector data.

https://www.youtube.com/watch?v=uMCezyTeU_U

just needs a failsafe guard time and fine tune the landing some and it will be great.

[2018-06-03 00:11] ChilledoutUK commented on #5972
Gps rescue works great but the current failsafe settings intermittant signal will keep resetting it i have recovered my drone from the sea and got it working again so i can test if someone wants to port this code.

[2018-06-03 00:12] mikeller commented on #3605
@andrejpodzimek: Weird, there were no changes specific to SPRACINGF3 between 3.3.2 and 3.3.3. Can you open a new issue for this please?

[2018-06-03 00:18] #6015 closed

[2018-06-03 00:27] mikeller commented on #6025
@lamerton: The problem that we are facing for F3 based flight controllers is that they come with a relatively small amount of flash space. The improvements and optimisations in flight behaviour that we made have resulted in an increase in size of these parts of the firmware. As a trade off, we have had to remove other parts of the code from the firmware that is built for F3 based flight controller

[2018-06-03 00:31] mikeller commented on #5806
Duplicate of #2452.

[2018-06-03 00:31] #5806 closed

[2018-06-03 00:55] mikeller commented on #6026
@andrejpodzimek: I think you got a problem somewhere in your repository:

[code]

[2018-06-03 01:05] jflyper commented on #6026
@andrejpodzimek
v3.3.3 SBUS works on Omnibus F4 AIO (original).

1. With v3.3.3, do `defaults` (or full-erase flash).
2. Configure UART1 as SBUS

Can you do the same?

[2018-06-03 01:10] mmakam2 commented on #6019
I tried GPS rescue, works as advertised 😀

[2018-06-03 01:34] mikeller commented on #4531
@andrejpodzimek: The whole point of `GPS_RESCUE` is that it does away with the need for a compass, so #6028 will be completely obsolete with 3.4.

#6019 will become obsolete as well, since position hold has been dropped from 3.4.

[2018-06-03 01:50] mikeller commented on #5063
@recrime: Have a look at #5970. I think this can provide a 'trainer' feature for acro mode that is even more powerful than the deadband that you are proposing.

[2018-06-03 01:53] mikeller commented on #4630
@lasharor: This has been implemented. Can you please close this issue?

[2018-06-03 01:54] s0up commented on #6019
When it gets home on rescue mode it continues to loiter.  Using GPS to emulate compass data requires movement to happen to not go out of whack.  Holding a position without the requirement of a compass is not very feasible as the only sensor you have to rely on to keep orientation is the gyro which is prone to drifting.

[2018-06-03 01:54] mikeller commented on #4629
@hydra: Any updates on this? I think there were some fixes to make the SPRACINGF3OSD work in Betaflight.

[2018-06-03 02:05] mikeller commented on #5885
@dbasch: @IcyLemur276 reported checked this problem against 3.4 in https://github.com/betaflight/betaflight/issues/5885#issuecomment-392230903. So it looks like there still is a problem.

[2018-06-03 02:09] mikeller commented on #4302
@Rickcau: We have gone back to 6 rate profiles now. Can this be closed?

[2018-06-03 02:15] mikeller commented on #3934
@BavariaAirview: This has been addressed by the addition of scaling to BLHeli_32 (where it belongs), and the addition of #6004 that allows for the compensation for the (constant) consumption of non-ESC components. I think this can be closed.

[2018-06-03 02:16] mikeller commented on #3919
@Gaz-B: This has been implemented in #5766. I think this can be closed.

[2018-06-03 02:18] mikeller commented on #3274
@mattyra: I think this was implemented in #5108. Can this be closed?

[2018-06-03 02:26] mikeller commented on #1782
@Linjieqiang: I think this has been addressed. Can this be closed?

[2018-06-03 02:35] johnty commented on #3011
sorry its been a while, but as far as i can tell these changes have been merged in. 1 and 3 seem to be in the current code, and 2.), if i can recall, was actually due to my misunderstanding of how the logical servo slots worked. so probably good to close this :)

thanks for checking up on this!

[2018-06-03 02:45] mikeller commented on #3011
All good, just cleaning up. ;-)

[2018-06-03 02:45] #3011 closed

[2018-06-03 02:57] andrejpodzimek commented on #6026
Yes, now I see it's broken. Git is quite infamous for various inconsistencies of this kind and here we go, I got burned again. :angry: A fresh clone shows exactly the diff you've posted. There are 24 commits missing from my repository.

I guess the master must have been re-tagged and for some reason the changes didn't propagate.

`git checkout v3.3.2; git log -n 1;` on a fresh clone:

[code]

`git

[2018-06-03 03:40] andrejpodzimek commented on #6026
Actually, that's most likely not the case, because my v3.3.3 tag and its derivatives appear to be unaffected by the Git inconsistency, at least as far as `git log` is concerned.

I always full-erase and then restore from `diff all`. That was also the case here.

Well, that sounds like a lot of re-flashing hassle. OK, I can try that once I get back to this build, but I don't really doubt that it wo

[2018-06-03 03:48] mikeller commented on #6026
@andrejpodzimek:

Yes, it has. Unfortunately GitHub's web interface is such that it makes it very easy to mix up the buttons for saving the draft version of an unpublished release, and publishing the release. I accidentally published v3.3.3 early when wanting to update the draft, and this caused GitHub to tag the tip of the release branch with `v3.3.3`...

[2018-06-03 05:08] jflyper commented on #6028
Can't reproduce the raw mag *reversal* phenomenon.

Tested under v3.4, with following configuration.

SPRacing F3 : HMC5883L (onboard) : Stable for 10min.
Omnibus F4 V2 (OMNIBUSF4SD target) : HMC5883L (on BN880 compat puck) : Stable for 10 min.
Omnibus F7 V2 (OMNIBUSF7V2 target) : HMC5893L (GY-282 in I2C mode) : Stable for 30+ min.

[2018-06-03 05:14] jflyper commented on #6028
However, I do feel like there's some bad interaction between mag heading and gyro-based heading.

[2018-06-03 06:37] hydra commented on #4629
@mikeller did you merge the configurator changes required to support it in the end or sites that need doing?

[2018-06-03 06:46] McGiverGim commented on #5885
Mine works right, but I have GPS+Baro. I will try to deactivate the Baro to test if it works only with GPS.

[2018-06-03 07:16] McGiverGim commented on #6028
My HMC5883 works right with MATEKF405.
What you describe usually happens when your mag orientation is not right.

[2018-06-03 07:22] spatzengr opened #6033 "Feature Request: MSC mode on a Switch"
Make a mode to toggle the FC into MSC mode.  This way users could put on a switch on the TX.
1. Plug-in USB (on may FCs that powers to RX)
2. Toggle the switch on TX to flip into MSC mode.

[for bonus option: have a variable for auto-download and erase.]

[2018-06-03 07:55] Vidalcris commented on #6015
Oh ok understood ;)
Its already nice this way.

[2018-06-03 08:54] Smeat commented on #5885
I have the same problem using GPS only.
When changing the task condition to use ``FEATURE_GPS`` and not ``SENSOR_GPS`` everything works just fine:
[code]

[2018-06-03 09:15] mikeller commented on #5885
Good finding, @Smeat!

It looks like the line in question is executed in `fcTasksInit()` before the first frame from the GPS was received, resulting in the GPS sensor not being recognised (we only know it's there once it starts sending data on the UART), and thus the altitude update task is never started.

Starting the altitude update task speculatively based on the GPS feature being enabled (but

[2018-06-03 09:30] mikeller commented on #6033
@spatzengr: As an alternative, this could be implemented as a function in the TX lua scripts, for users who don't have a spare channel they can use for thing they won't ever need in flight. Also, be aware that if this is implemented, this will be an immediate kill-switch, and if it's accidentally activated while in the field, the craft will stop responding to anything until it's power cycled.

Re

[2018-06-03 09:33] mikeller commented on #4629
@hydra: I wasn't aware that you had opened pull requests for these changes in betaflight-configurator. Let me know the numbers, and I will merge them.

[2018-06-03 09:43] lamerton commented on #6025
@mikeller

Thank you for the rapid response.
Unfortunately, I don’t have windows 10 or know anything about coding. Is there anyone out there who might be able to do this mod to the F3 firmware for me?

Cheers.

[2018-06-03 10:18] andrejpodzimek commented on #6028
The raw data appears to be stable — as long as it’s within ±1. Sometimes two of the axes show crazy values like +12 and +14.

I have tested all the 8 mag orientations and a of them malfunction. Some of the orientations yield an obviously wobbly heading (on the compass instrument in the GUI) and some “only” cause the very slow reversals. In particular, “flip” has no obvious effect.

There must be i

[2018-06-03 10:30] andrejpodzimek commented on #6028
BTW, stability while pointing towards the north is mostly much better than for other orientations, which can be deceiving. (It made me believe than my compasses worked for ~months.) A simple test to reveal the problem:

`for side in ['south', 'east', 'west']:`\
` ` ` ` ` ` ` `Point the drone to the `side`, double-check whether the GUI instrument matches and wait for a while … it will drift.

[2018-06-03 10:34] DieHertz commented on #6033
... which could be considered malicious by some antivirus software :-)
We need a full-fledged configurator app and a service running in background, the way it's done for software like iTunes which synchronize media and library upon insertion

[2018-06-03 10:59] #4969 closed

[2018-06-03 11:03] #5885 closed

[2018-06-03 11:49] theSkonk opened #6037 "omnibusF4FW osd stat bug"
the set osd stat elements in the configurator they don't line up with what I'm seeing or whats in the CLI
build is omnibusf4fw 3.4.0 95d725d

cli
# get osd_stat
osd_stat_rtc_date_time = OFF
Allowed values: OFF, ON

osd_stat_tim_1 = ON
Allowed values: OFF, ON
Default value: OFF

osd_stat_tim_2 = ON
Allowed values: OFF, ON

osd_stat_max_spd = ON
Allowed values: OFF, ON

osd_stat_max_dist = OFF
Allow

[2018-06-03 11:52] mikeller commented on #6037
You got this because you are using the released version of the configurator with an unreleased version of the firmware. This mostly works, but not always, as we can't look into the future when releasing the configurator. ;-)
Fix: Get and build the latest configurator from GitHub.

[2018-06-03 15:28] Copter38 commented on #4895
@mikeller: Ok, I have switched over to 'regular' use of the R-XSR and connected both SBUS and Sport wires to the FC.
1. Connecting a regular 4S battery whilst TX is OFF:
![image](https://user-images.githubusercontent.com/23143799/40887791-39e5899e-674e-11e8-8dc5-0c2b2429501e.png)
Same result as before, the ADC samples show very little jitter.

2. Connecting same 4S battery with TX ON (SBUS and Tel

[2018-06-03 16:44] cudakeer808 commented on #6026
I have to disable some “parallel_ppm” something in cli to get my softserial back on 890 nightly. Might work on 3.3.3 too.

[2018-06-03 19:08] conkerkh commented on #6020
Btw from my own experience LPS25xx is very unstable baro and definitly not usable for alt hold. It should be avoided and instead LPS22xx or LPS33xx should be used if we talk about ST barometers.

[2018-06-03 19:11] linus1999 opened #6039 "SmartAudio Settings Refresh"
I wanted to use Audio parallel to SmartAudio which is totally possible:
http://team-blacksheep.freshdesk.com/support/solutions/articles/4000100084-tbs-smartaudio-what-it-is-and-how-it-works

The problem is, betaflight seems to refresh the VTX Settings all the time with 2 Hz, which results in a weird ticking-like noise.

Solution would be to update the settings only, when entering the OSD or the Lu

[2018-06-03 19:55] wind0r commented on #6039
Just arm and vtx will stop getting updates ;)

[2018-06-03 20:52] linus1999 commented on #6039
Ahaa, great, thanks:D

[2018-06-03 21:46] hydra commented on #4629
@mikeller i haven't.  i was asking if you did that already arter reading comments above.

[2018-06-03 23:34] mikeller commented on #5713
Not sure that it's worthwhile spending valuable flash space on implementing preset profiles in the firmware, especially since we already have to shave the feature list down to the bare minimum on F3.
This should probably rather be done in the configurator.

[2018-06-03 23:39] theSkonk commented on #5713
How about a new base profile that's a bit more refined for modern qwads. It's the only reason 'butter flight' flys well out of the box. It has basic settings that work better for most people

[2018-06-03 23:40] mikeller commented on #4895
@Copter38: This almost makes me suspect that the jitter on the ADC sampling is caused by good old electrical interference. You could test this hypothesis by powering the RX from a second battery.

Re the larger steps on RC inputs, this looks like frames are being missed. I haven't seen this happening this often with either SBus or FPort, but again, if there is a problem with interference, then the

[2018-06-03 23:45] mikeller commented on #5713
@theSkonk: There is work under progress to define new default settings in #6036, feel free to join in to the discussion.

[2018-06-03 23:46] mikeller commented on #6026
@cudakeer808: `PARALLEL_PWM` is the RX protocol that is chosen before you configure your RX. As soon as the RX configuration is done, this will be disabled, no need to disable it first (it will be re-enabled anyway if you don't enable another RX protocol).

[2018-06-03 23:52] mikeller commented on #6039
@linus1999: Is this solved? If so, can you please close this issue?

[2018-06-04 00:02] mikeller commented on #4629
@hydra: I have cherry-picked the changes that I could in betaflight/betaflight-configurator#702. But there are parts what's required to support SPRACINGF3OSD in the Betaflight configurator buried in cleanflight/cleanflight-configurator#450, and I couldn't get this to cherry-pick cleanly because of interleaved commits, so it will have to be done in a hand graft.

Since I do not know exactly what is

[2018-06-04 02:03] dennygame commented on #5832
@mikeller Hi Michael, my name is Denny, I work in a camera solution company.

We would like to make our new generation FPV camera to be compatible with Betaflight, for example, to make it can be controlled by Betaflight via UART(in the past we have products can be controlled by AT commands but we don't know about how Betaflight do it).

It will be great if we can discuss, my email address is denny

[2018-06-04 03:50] mgbolts commented on #6000
Hold off, I am doing some testing.  Results are not clear yet....

[2018-06-04 04:43] SteveKfpv commented on #6018
I tried rolling back to 3.2.5 with the same problem. I now am more certain it is some hardware issue, but can't imagine what. Bit more detail, my light weight quad with 2306 motors and heavy props (5x5x3) are showing the issue most. My freestyle quad with identical hardware but weighing 25% more and using 5x4.3x3 props does not show any sign of the problem. Perfect on full punch to zero throttle.

[2018-06-04 05:06] etracer65 commented on #6018
In every case I just see the PID controller and motors responding correctly to some uncommanded pitch caused by external forces.  Possibly some aerodynamic effect with your setup.  I noticed that your P gains are quite low.  Increasing them would allow a more direct correction rather than relying on slow-acting I to correct the movement.

[2018-06-04 06:03] mikeller commented on #6026
Ok, I can see the problem now - the ordering that the config is applied in means that  `RX_PARALLEL_PWM` does not get disabled before the config for SOFTSERIAL is applied. I don't think there is much we can do for this though, because pretty much all other configuration requires the serial ports to be configured first.

[2018-06-04 10:57] jalao commented on #5454
All. When will you help us fix this issue in BetaflIght?

[2018-06-04 12:00] recrime commented on #5063
@mikeller : Thanks for your sharing information and effort. But, it seems that it's different with the deadband feature. The deadband feature is needed for angle flight like below video and leveling (angle mode) is needed for quick recovery after bumping against obstacles.

https://youtu.be/cuueDN8iVTU

She is using ;
  frame : qx90c
  betaflight : 3.1.6
     angle mode
     level limit : 63

[2018-06-04 12:15] ChilledoutUK commented on #6019
is loitering the new condition for returning to home with gps_rescue now?

[2018-06-04 14:16] dengorman opened #6045 "Lost motor using DSHOT protocol"
Updated my Asgard32 F7 to latest 3.3.3. Using Multishot all motors working. Use Dshot, one motor doesn't spin. Flashed with ButterFlight 3.5.1 hex from Airbot, all working.

[2018-06-04 16:34] #1782 closed

[2018-06-04 16:35] Linjieqiang commented on #1782
Closed done!Thanks @mikeller

[2018-06-04 16:45] storm13 commented on #5487
Is there a solution in the works?

[2018-06-04 19:14] Copter38 commented on #4895
@mikeller: I think you effectively identified the origin of my particular issue.
After some further testing, it effectively appears to be related to electrical noise and this noise seems to be fed back by the R-XSR receiver into the FC.
This noise is only there when I power my system on battery only.
When I have the USB plugged in at the same time as the battery, the noise disappears. On the Matek

[2018-06-04 20:19] ghostface commented on #5398
Tried removing https://github.com/betaflight/betaflight/commit/2d84608daa9cbdf7f37e0716374bd89573bd58f3#diff-e293e0889da47c994ca5e3c692180810 but it made no difference.

[2018-06-04 20:49] ghostface commented on #5398
Honestly I didn't check the code in depth and I am not very familiar with the betaflight code base.
It was just worth a quick try as I was comparing the changes between 3.2 and 3.3 and it seemed simple enough to just give it a shot, and since I did I wanted to report my findings :)

On another note I can add that the esc rebooting also happens when using soft serial, second try works fine just as

[2018-06-04 23:05] SteveKfpv commented on #6018
Its a reasonably aero frame (canopy, thin arms) with central bottom mount battery. Ill give tuning it with higher P gains a go. Otherwise feel free to drop my experience with the issue as an input to this potential bug. To me, once I installed 3.2.5 and the issue remained, then that ruled out firmware as the cause.

[2018-06-05 00:34] jflyper commented on #6045
This is a bug, induced by combination of followings.

1. F4 and F7 has different `dmaopt` ordering on TIM8 channels.
F4:
https://github.com/betaflight/betaflight/blob/c648c5460ce2330d86986edccc3c642ad3648cea/src/main/drivers/timer_def.h#L451-L453
F7:
https://github.com/betaflight/betaflight/blob/c648c5460ce2330d86986edccc3c642ad3648cea/src/main/drivers/timer_def.h#L556-L558

2. 1. AG3XF4 and AG3XF

[2018-06-05 00:36] jflyper commented on #6045
I will be fixing this by
1. Defining `ENABLE_DSHOT_DMAR` to `true`.
2. Fixing `dmaopt` for non-burst operation.
Personally, I want to remove inconsistencies in how `dmaopt` is handled among different MCUs, but this requires scanning entire `target.c` ... hmm... thoughts???

[2018-06-05 00:42] dengorman commented on #6045
Great, thanks jflyper! I wonder how it's working for Diehertz? 🤔

[2018-06-05 00:43] jflyper commented on #6045
Using ESC telemetry instead of onboard ADC mask the problem (this is another workaround).

[2018-06-05 00:46] dengorman commented on #6045
Oh right! Noted.

[2018-06-05 01:11] #6020 closed

[2018-06-05 01:18] mikeller commented on #5487
@storm13: As this is a BLHeli_32 problem (KISS ESCs don't have it), you should probably ask on https://github.com/bitdump/BLHeli/issues and not here.

Also, since Dshot1200 isn't recommended for general use, this is not an issue at all.

[2018-06-05 01:18] #5487 closed

[2018-06-05 01:34] theSkonk commented on #6018
@etracer65 when I've logged LOS ( I'm not much of a LOS pilot i haven't had the issue) for me it requires forward flight to make it happen.. I've got a new stack in my racing rig and it needs tuning before i can get back to trying to solve this.. its not flying as well as the old stack at this point. so when the rain backs off i'll try and get it sorted

[2018-06-05 01:39] etracer65 commented on #6018
I can’t really tell from the log alone, but I’m wondering it if it occurs at the top of the punch at the point the quad goes weightless and starts to fall.  Transitioning from aero drag on top to the bottom.

[2018-06-05 02:16] ctzsnooze commented on #6018
I noticed that the effect always a *diagonal* drop - just one motor alone is affected.  And the gyros show a combined pitch *and* roll deflection, i.e. a diagonal / on the arm deflection of the quad.

I can't envisage any aero feature causing this.  All quads on which it happens on have been perfectly symmetrical in COG and aero in the roll axis, and generally symmetrical in pitch also.  If it was

[2018-06-05 05:00] sskaug commented on #5487
There can be various reasons for closing this issue. But moving the issue to BLHeli_32 is not the right action. The problem that opened this issue is not just a BLHeli_32 issue, it also affects KISS. See my post from April 2.

[2018-06-05 05:32] DieHertz commented on #6045
@jflyper just reorder dmaopt entries in `timer_def.h`

[2018-06-05 06:20] Gregmaan commented on #5398
Maybe the issue is related to the DMA burst feature?
I am only a "user" but I think there was a change from 3.2.x to 3.3.x

[2018-06-05 08:41] ctzsnooze commented on #6018
OK so looking at the above logs...
- Skonk's DShot 300 log, motor 3 gets stuck on zero, quad pitches forward and right = motor 3 high
- SteveK's log, motors 1 and 3 go to zero, quad pitches forward and a bit right, seems like both rear motors were a bit high, then prolonged recovery
- Example 3, below: Motor 1 gets cut to zero, quad rolls left and pitches forward = motor 1 high
- Example 4, below:

[2018-06-05 11:07] mikeller commented on #4895
@Copter38: Happy to have helped. My bet would be on a noisy on-board voltage regulator. A capacitor on the 5V rail might be all that's needed to fix this.

[2018-06-05 11:59] Copter38 commented on #4895
@mikeller: I checked out the 4.5V voltage pad dedicated to the RX with an oscilloscope and , sure enough, as soon as the R-XSR starts to transmit SBUS frames, I get noise on this power supply line. Looking at the waveform of this noise, its shape is very recognizable and exactly that of an SBUS frame with periodicity of 9ms! The amplitude peak to peak is 0.4V (quite impressive).
So thinking about

[2018-06-05 13:27] #6039 closed

[2018-06-05 13:54] azolyoung commented on #5398
@mikeller
Hi, I'm sorry for the late reply, I've got your message. I also found the issue was caused by the non-asynchronous  communication, and I'm re-writing the rcdevice protocol implementation to async style, sorry again, there are several things that need to be dealt with these days,  I need do it one by one, and now, this issues is my next job:)

[2018-06-05 13:59] mikeller commented on #5398
All good, @azolyoung, good do know that you are looking into it!

[2018-06-05 14:48] andrejpodzimek commented on #3364
Just blowing off some steam: The original FrSky flashing tool is just about as annoying as this can get. So it has some GCC stuff and some Qt stuff bundled with it. Therefore it's obviously based on / built from FOSS libraries and technologies. But nope, they just can't compile a version for Linux, or (much better) release the source code or (at the very least) make sure the W1ndow$ binary works u

[2018-06-05 17:12] OGblmk opened #6050 "Super_s F3"
After finishing my 90mm quadcopter i plugged it into the pc and opened betaflight configurator. I cant seem to flash the newer software it says succesfully closed serial port but it says failed to open serial port. and if i try to connect nothing happens. If i unplug the usb and plug back in it works as normal without the firmware flashed. I choose omnibus on the flashing tab and 3.3.3 software. B

[2018-06-05 17:56] jflyper commented on #6050
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, RCGroups: https://rcgroups.com/forums/showthread.php?t=2464844, or Slack: https://slack.betaflight.tech or other user support forums & groups (e.g. facebook).

[2018-06-05 17:56] #6050 closed

[2018-06-05 20:07] mikeller commented on #3364
@andrejpodzimek: Totally agreed, these firmware updates are a pain. It's halfway acceptable (but still cumbersome) if you have a TX running one of the firmwares that can do it for you, but if not you're in for a bad ride.

[2018-06-05 20:33] Saxin commented on #5487
@mikeller - please reconsider leaving open at least for tracking purposes - this is big issue for many users, people want and will benefit from this issue resolved (no matter where the problem is, blheli, BF or the cable that connects them)

Meanwhile on RCG:
https://www.rcgroups.com/forums/showpost.php?p=39716815&postcount=2701

![image](https://user-images.githubusercontent.com/3322218/41000940-

[2018-06-05 20:59] mikeller commented on #5487
@Saxin: I don't see why more time should be wasted on something that has no benefit whatsoever. When we have a use case for Dshot1200 we can revisit this. Also, this cannot be replicated.

[2018-06-05 21:59] drprops commented on #5923
I still run into the issue of the camera control menu popping up if I'm in the MWOSD and the throttle is at center, and I touch the yaw.

My work around for now is to keep the throttle at 0 when in MWOSD, since I can still select options that way. It would be nice if there were some way for the FC to know that MWOSD is active so it could prevent the camera control menu from popping up.

I will clo

[2018-06-05 21:59] #5923 closed

[2018-06-05 22:38] s0up commented on #5972
@ChilledoutUK Just out of curiosity, does rescue engage properly as a failsafe method?  It is very hard to test the failsafe code so it would be nice to hear if it actually does in fact engage properly.

[2018-06-06 01:57] ChilledoutUK commented on #5972
On the build from 12 may 2018 from your gps_rescue github site the mode does indeed engage fine I tested it the other day by turning my transmitter off I however wasn't able to rearm the drone in time before landing pretty damn hard. (knocked my camera loose)

The only issue i had at range was that it seemed the failsafe was getting interrupted by the radio link hence the need for a guard time or

[2018-06-06 02:03] #5680 closed

[2018-06-06 05:07] flint723 opened #6053 "Arming only works once 3.4.0 (possibly only when crash flip mode is enabled) and never again until power cycle."
I first saw the issue myself with one of the builds (I think before it was rebased) on the 3.4 default PR (on IMPULSERCF3).  But another friend of mine reported the problem on build 900 `CLRACINGF4`(currently trying to confirm he had crash flip mode enabled).  While I did not have the problem on build 900 with overall the same defaults and `omnibusf4` target (but not serial or modes probably).

Ho

[2018-06-06 05:41] flint723 commented on #6053
Also, @Saxin said the problem was only there on omnibusf4sd target, regular omnibus is fine.

[2018-06-06 06:53] silversurfer48 commented on #6045
i have one motor out on flip 32 f4 board and it was working fine up until I flash again for the repair on the video cam

[2018-06-06 07:06] ThomasH3 opened #6055 "Betaflight 3.3.3 - Telemetry"
can you please check telemetry output of Betaflight 3.3.3. A4 is not average call value, it shows the same value as VFAS

[2018-06-06 07:12] Arakon commented on #3364
I simply added a switch to my rig (FTDI with resistor). Click download, flip switch, it'll flash.

[2018-06-06 07:45] mikeller commented on #6045
@dengorman: Can you please check if this is fixed with the latest development build of 3.4, and if so, close this?

[2018-06-06 08:17] bkeinert commented on #6018
Does this only happen when using DSHOT?

[2018-06-06 09:02] cudakeer808 commented on #6053
I have same issue with OmnibusF4 hex on HGLRCF440.

[2018-06-06 09:04] Saxin commented on #6053
@cudakeer808 - please check and advise if its related to "flip after crash" mode being configured vs. not in modes tab ?

[2018-06-06 09:33] cudakeer808 commented on #6053
@Saxin, I do have have on in the modes tab.

[2018-06-06 10:27] mikeller commented on #6053
Guys, is this something that can be reproduced repeatedly on any craft that it's happening on, or does it happen only once, and then it's good again?

Also, we need diffs in order to identify and fix this.

[2018-06-06 11:02] mikeller commented on #6055
Tested with 3.3.3, A4 is reporting cell voltage. Could be caused by the detected cell count in your setup being wrong. What's it say in the Betaflight configurator, Power & Battery tab, 'Power State' box, top line when a battery is connected?

Also, please supply a `diff`.

[2018-06-06 11:15] Saxin commented on #6053
@cudakeer808 - please try to check if it's related to "flip after crash" mode being set in modes tab - try when set and when not set. (In my case this was the offensive feature - with it set I can arm only once, without it set - I can arm regularly)

**Remark:** When say set I mean setup in modes tab, not activated.

[2018-06-06 11:50] Knifa commented on #6016
Some info from the ImmersionRC Hub Facebook group:

https://github.com/betaflight/betaflight/wiki/VTX-CLI-Settings

At startup the settings are applied to the transmitter. There is a 'vtx_freq' setting that operates as follows:  If vtx_band=0 and vtx_freq!=0 then the 'vtx_freq' value (in MHz) will be configured on the transmitter at startup.  If both are zero then the settings will be ignored.

tl

[2018-06-06 12:56] richard-scott commented on #6050
You don't solder the boot joint, you briefly short-circuit it when connecting USB and then remove the metal device you used to join the two boot pads.

[2018-06-06 13:00] bkeinert commented on #6018
Sometimes there's a reason for a certain question. All I'm asking is: Has anyone seen the same behavior with MULTISHOT (assuming reasonable settings)?
There have been some changes around DSHOT. It might already help to simply rule out that this has anything to do with DSHOT.

DSHOT is super common these days on relatively recent machines, maybe that's why all above reports mention DSHOT. Having mo

[2018-06-06 13:53] flint723 commented on #6053
So far I wasn't able to reproduce on the bench with 900 OMNIBUSF4 (hglrc F440) or the same quad that it happened on for me (impulsercf3).  In both cases accel is on and max arm angle set to 180.  Both have turtle mode set up as a switch, however when I arm I have to move through turtle mode to get to armed on a 3 position switch.

Will try to test a little with battery on the quad it happened on f

[2018-06-06 14:09] theSkonk commented on #6018
@bkeinert totally i'll try to get a log or 2 if the weather starts playing ball.. been grounded for over a week now

[2018-06-06 14:17] dengorman commented on #6045
@mikeller Sure, where do I download the development build of 3.4?

[2018-06-06 15:14] ThomasH3 commented on #4531
will the  correction for mag HMC5883 be included in the next betaflight release ? ... I'm trying to setup a Omnibus F7 pro ... but the controller doesn't detect I2C

[2018-06-06 15:15] ThomasH3 commented on #6055
thanks ! ... controller did not detect the number of cells ..... now working after reloading the firmware

[2018-06-06 15:29] sskaug commented on #5487
Maybe related to this?: https://www.rcgroups.com/forums/showpost.php?p=39760533&postcount=2747

[2018-06-06 15:41] cudakeer808 commented on #6053
@Saxin, yes I have it assigned on a switch in modes tab. On both quad.

[2018-06-06 16:06] jirif commented on #5952
My custom build (unmodified master) from 30th May confirmed this issue and i reverted it to pre https://github.com/betaflight/betaflight/commit/041362614bac4aaed4c0e4cc163a1ba99139dfdc  , with today's everything is ok. Iam just curious what happened, not just call it an ghost in the machine :)

[2018-06-06 16:09] Saxin commented on #6053
@cudakeer808  - Can you please try **without** it assigned (in modes tab) - see if issue is resolved ?

[2018-06-06 16:57] ThomasH3 commented on #4531
It's working on INAV but I can't get it to work on BF

[2018-06-06 17:43] branob commented on #4531
@McGiverGim No, HMC is not working out of the box on BF. It does on INAV however. ...the patches above will hopefully resolve BF HMC detection.

[2018-06-06 17:54] wysiwyng opened #6057 "Current sensor value overflow"
When using the built-in hall current sensor on an Omnibus Fireworks V2, the current in the blackbox log shows erroneous peaks going all the way up to 650 A. When disabling unit display in the blackbox viewer, "650 A" shows up as a value in the ballpark of 65520 - 65535.

![current-jump-hover](https://user-images.githubusercontent.com/4764286/41055452-a971d1e4-69c1-11e8-8c15-e9bc9f9ed97e.png)

The

[2018-06-06 17:57] McGiverGim commented on #4531
I think that the patches above will not be included. I asked, but by design the I2C bus has a lot of overclock that this changes removes.

[2018-06-06 22:17] codecae commented on #5952
Whoops!  Accidentally hit the close button on my phone.

[2018-06-07 02:41] mikeller commented on #6055
@ThomasH3: If this is fixed, can you please close it?

[2018-06-07 06:07] #6055 closed

[2018-06-07 06:08] cudakeer808 commented on #6053
@Saxin, I’ve already flashed 903 on it and can no longer replicate the issue.

[2018-06-07 07:40] nikolaswidell commented on #5952
Flashed 906 yesterday and works like a charm!

[2018-06-07 07:45] DieHertz commented on #5952
Don't like the fact that it appeared and gone away unnoticed.

[2018-06-07 11:57] etracer65 opened #6061 "Beeper -ON_USB not working in 3.4 master"
Recording this issue so it doesn't get forgotten.  I haven't nailed down the exact build/commit but it's likely related to the changes in beacon handling/configuration.

[2018-06-07 12:06] mikeller commented on #5952
:ghost:

[2018-06-07 12:39] mikeller commented on #6061
Thanks. I _had_ forgotten it indeed.

[2018-06-07 22:30] MR444 commented on #5455
Hi I have a very similar problem in 3D mode. Before it flew perfect. Then I changed my ESCs to 3D mode and in betaflight as well. During a flight, my quad did 5 flips without my inputs. I could stop rolling only at full throttle. I was right at the beginning of this flight.

Here is my diff
I could not upload my log file here "Something went really wrong, and we can’t process that file."
So here i

[2018-06-08 00:56] mmakam2 commented on #5883
I have same issue with F405 regular

[2018-06-08 07:44] mikeller commented on #6016
@bseishen: Some of the problems of this are that if this is done, there will be no way to change the VTX settings without powering up the VTX, and that, if the VTX settings are changed with the VTX offline, the new settings will vanish into thin air without any notice of this happening.

[2018-06-08 07:56] mikeller commented on #5883
@ghostkcleung, @mmakam2: DALRCF405 was specified without support for magnetometer. #6064 fixes this.

[2018-06-08 08:42] wind0r commented on #6016
@bseishen could you eleobrate further how reading the settings helps with the multply authoritatives we have here?
As descriped above. I use the TNR Tag and change the VTX Setting in Betaflight via USB Mobile App. How we know which one the user wants. Tag, BF and VTX all could have different Settings.
Solution for that is allready descriped abouve. Just disable one authoritave. As an Example for B

[2018-06-08 08:45] #6061 closed

[2018-06-08 12:33] codecae commented on #6016
The VTX can be made authoritive, but if there is an issue transmitting settings changes from the FC due to heat, timing, etc, you may be required to send the settings change from Betaflight more than once in order for it to stick.  By having Betaflight assert authority over the state control, you can usually be guaranteed that the system will become eventually consistent.  By releasing this author

[2018-06-08 12:43] codecae commented on #6016
State polling is generally undesirable.  If the VTX would proactively transmit its settings via it's protocol when they are changed by manual or wand input, then we would not have this state issue.   Unfortunately, though, VTX hardware is not typically capable of accepting firmware updates, so to change the way they work is pretty much impossible without forcing the entire community to invest in n

[2018-06-08 16:46] bseishen commented on #6016
@mikeller @wind0r  Very true. Offline changes over USB would get blown away.

Maybe If tramp telem is enabled, then have the VTX "authoritative"? I personally don't know anyone to use USB configuration to set VTX channels atm, but there could be people out there deem it a necessary feature. Usually its TNR/LUA/OSD. Which the only offline way of changing that is the TNR. I have not dug into the BF

[2018-06-08 16:52] codecae commented on #6016
Changes are not limited to USB -- Lua scripts and OSD are also responsible for updating this parameter group.  The CLI is just another means of accessing it.

[2018-06-08 17:02] codecae commented on #6016
Temporary delegation of authority would not enforce transient mode states like low_power_disarm and pitmode on a switch.  The FC would ask for the mode to change, but if it doesn't maintain authority, there's no guarantee that these modes would be properly enforced.  Releasing authority would basically render these capabilities useless and limit functionality to ad-hoc frequency, channel and power

[2018-06-08 18:33] EggsBenedict opened #6066 "DSHOT Buzzer & Turtle Mode Interfering with Each Other"
**Issue:** If, for example, DSHOT buzzer and Pre-arm are on the same switch, DSHOT commands to reverse motors are extremely unreliable (I assume that any situation where the DSHOT buzzer was active during arming would have the same issue).  There appears to have some relationship with timing (moment of arm or length of time you're on the pre-arm/buzzer switch).  The innocuous situation is that tur

[2018-06-08 18:50] Lord-Quake commented on #5852
@flint723 Are the above rev6 settings still valid? Any new settings to be considered for tests? ATM I'm running on build 911.

[2018-06-08 18:56] flint723 commented on #5852
There's a PR now for setting new defaults, it's probably slightly worse flying than these listed here.  The main difference is 100/300 gyro cutoffs (instead of 120/300)  Also it does have a different (less) throttle boost setting, and might have iterm_relax on (not totally sure).

If you have any feedback to post there, would be great.  https://github.com/betaflight/betaflight/pull/6036

[2018-06-08 19:09] Lord-Quake commented on #5852
OK, however as it stands at the moment I'm sticking with 120Hz.

[2018-06-08 19:45] Saxin commented on #6066
May be related to #6053

[2018-06-08 19:45] Saxin commented on #6053
Flashed 911 today on OmnibusF4SD target and can't replicate any more.

[2018-06-08 19:49] EggsBenedict commented on #6066
Thanks! Yeah, I did see that issue - I tried to figure out if the DSHOT buzzer was active there but couldn't quite tell (hence opening a separate issue).  I'm almost positive that the DSHOT beacon being active while trying to switch to turtle mode is to blame.  This is very reproducible on my end across multiple builds.  If we think these are related I can close this, etc... etc.. just lemmie know

[2018-06-08 19:58] etracer65 commented on #6066
@EggsBenedict Can you test the current 3.4 build? I believe this is fixed.

https://ci.betaflight.tech/job/Betaflight/lastBuild/artifact/obj/

[2018-06-08 20:07] flint723 commented on #6053
I haven't had the problem on later builds either.  Should I close this?

[2018-06-08 20:21] Saxin commented on #6053
yes Ive tested on two boards, its ok now

[2018-06-08 20:27] EggsBenedict commented on #6066
No problem. Tested the CLRacingF4 Target (betaflight_3.4.0_CLRACINGF4-911-ef12eebe5.hex).
_Unfortunately, the issue remains_.  This is the build with wraith v2 bl_heli_32. Could've been a fluke - but on one instance none of the motors changed direction. On another - some did.

[2018-06-08 20:34] EggsBenedict commented on #6066
Follow-up: I tested a few more times on the build above.  It's definitely an improvement.  I haven't seen it successfully switch to turtle mode on all the motors yet (frequently one or two motors will switch and the rest will stay the same) however on all attempts thus far - it successfully switches back to normal operation.

[2018-06-08 20:37] flint723 commented on #6053
Closed for now because it seems to be no issue anymore.

[2018-06-08 20:37] #6053 closed

[2018-06-08 20:48] EggsBenedict commented on #6066
hm...the configurator doesn't allow you to turn of the dshot beacon and neither does CLI.  Is this intentional?
[code]

[2018-06-08 20:53] etracer65 commented on #6066
Yes.  There's a new `beacon` command in the cli and it will be in the next configurator.  Lets you configure the beacon like you do the beeper.

[2018-06-08 21:39] sygel commented on #5455
My rolls where linked to the reversals and one motor not starting after reversing.
It is easy to spot in the logs.  If one motor goes to 100% after a reversal you have my problem.
Best cure is bl heli 32.  I am still flying with my patch but I am not sure it is needed with bl heli 32.
I will soon start flying stock betaflight again and see what happens. But it flies great now.

[2018-06-08 23:35] #5883 closed

[2018-06-09 00:27] mikeller commented on #6066
Yes, this is a known issue, and unfortunately there is no good fix for it (and it's also dependent on the ESC firmware that is used.

What happens is that with some (or all) of the ESC firmware, after a beacon command is received, the ESC produces the beacon sound for a given period of time (which is dependent on the ESC firmware and beacon tone selected), and does not listen for Dshot frames whil

[2018-06-09 00:28] mmakam2 commented on #5883
When will this make it into the build, I just flashed the latest 3.4 and it's not in yet.

[2018-06-09 00:29] mikeller commented on #5883
@mmakam2: It will be in 3.4.0-RC1.

[2018-06-09 00:29] fujin commented on #5883
@mmakam2 not the place for this type of question, however it is in build 912. https://ci.betaflight.tech/job/Betaflight/912/

[2018-06-09 00:46] EggsBenedict commented on #6066
thanks for the responses! I thought that this might be the case - I don't know if this is such a remote edge case that you shouldn't worry about it, but I wonder if there's any way to work a warning into the configurator or something for those that activate the dshot beacon? For those that rely on turtle mode this can disable its benefits in such a way that's not easy to see.  And for those that d

[2018-06-09 01:15] mikeller commented on #6066
@EggsBenedict: Yeah, I think a warning in configurator is probably the best we can do. Can you open a feature request for this in https://github.com/betaflight/betaflight-configurator/issues please?

[2018-06-09 08:34] Vidalcris commented on #5192
@DieHertz Do you mean smartaudio "v1" will work now ?
I'm trying right now and this is not working. Is there a cli command ?

[2018-06-09 08:38] DieHertz commented on #5192
@vidalcris now? I don't know what version you're at, they'll work in 3.4 and in custom 3.3 branch available from ci.betaflight.tech

[2018-06-09 08:47] Vidalcris commented on #5192
Which PR is supposed to re implement this ?

[2018-06-09 09:52] Vidalcris commented on #5192
@DieHertz So you are really kind i have to say ... you come to reply only to suppose that i'm dumb (this is not the first time...) and then you do not reply anymore ? Are you really just trying to troll me ? ^^

[2018-06-09 11:40] #4574 closed

[2018-06-09 13:14] etracer65 commented on #6066
@mikeller A couple of random thoughs - maybe nothing.

Two possible suggestions - both assume we have an idea how long it takes for the ESC's to complete a beep and be available again.

1. Maybe set up an arming disabled reason for cases where the pilot tries to arm "too soon" after a dshot beacon command was sent.  Would encourage people not to have their modes set up so their arming passes throu

[2018-06-09 14:30] EggsBenedict commented on #6066
@mikeller no problem. as requested - issue created.
@etracer65 - those ideas sounds great. thanks for brainstorming. I'm going to leave this open for this, but please feel free to close the issue if you guys determine that this isn't going anywhere (or I can - just let me know).

[2018-06-09 15:04] mikeller commented on #6066
@etracer65: This is definitely an option. The problem is that some of the beeps can be long - on KISS one of the beeps is about 2 seconds, and we don't have a way to know how long the particular beep is. But I guess if we add a generous amount of delay it will work.

[2018-06-09 22:52] Bradw-17 opened #6078 "Build #922 only allows arming once"
Running on a Matek F405-CTR, quad will not arm again after the first arm/disarm cycle. Battery must be cycled before re-arming.

[2018-06-09 23:09] etracer65 commented on #6066
@EggsBenedict I have a fix that should help.  #6079

If a dshot beacon command has been sent within 2 seconds of arming, the arming will delay the time remaining in the 2 second window to help prevent the motor direction command from failing.

Likewise the beacon won't be sent until 2 seconds after disarming to prevent interfering with the motor direction reset commands.

Before these fixes I was

[2018-06-09 23:17] EggsBenedict commented on #6066
COOL! That sounds pretty ideal - CLRACINGF4 would be the easiest.  (Second option would be, BETAFLIGHTF3).  I probably can't test tonight but can try to test tomorrow.

[2018-06-09 23:31] etracer65 commented on #6066
@EggsBenedict Here you go:

[betaflight_3.4.0_CLRACINGF4.hex.zip](https://github.com/betaflight/betaflight/files/2087422/betaflight_3.4.0_CLRACINGF4.hex.zip)
[betaflight_3.4.0_BETAFLIGHTF3.hex.zip](https://github.com/betaflight/betaflight/files/2087423/betaflight_3.4.0_BETAFLIGHTF3.hex.zip)

[2018-06-10 00:50] #6066 closed

[2018-06-10 01:52] mikeller commented on #4800
@wx4cb: Can you please confirm that this has been solved, and close the ticket?

[2018-06-10 01:53] #4630 closed

[2018-06-10 01:53] #4302 closed

[2018-06-10 01:56] mikeller commented on #4233
Implemented in #6043.

@robert-hoffmann: Can you please confirm that this is working now, and close this ticket?

[2018-06-10 01:57] #3274 closed

[2018-06-10 01:57] #2885 closed

[2018-06-10 02:01] mikeller commented on #5576
@turboed13b: This has been addressed in #6076. Can you please close this?

[2018-06-10 02:02] mikeller commented on #5852
@flint723: This has been addressed in #6036. Can you please close this?

[2018-06-10 02:03] mikeller commented on #5642
Fixed in #5991.

[2018-06-10 02:03] #5642 closed

[2018-06-10 02:05] mikeller commented on #5128
@SteveCEvans: This has been implemented in #5129. Can you please close this?

[2018-06-10 03:30] #4800 closed

[2018-06-10 04:33] sarunoatama commented on #6057
What is your offset and scale? Can you post your blackbox log?

[2018-06-10 06:19] #5852 closed

[2018-06-10 10:10] wysiwyng commented on #6057
[BTFL_BLACKBOX_LOG_Fury_5X_20180605_204522.BBL.tar.gz](https://github.com/betaflight/betaflight/files/2087710/BTFL_BLACKBOX_LOG_Fury_5X_20180605_204522.BBL.tar.gz)

Offset is -18500, scale is 197.

[2018-06-10 11:03] #5771 closed

[2018-06-10 11:03] #5774 closed

[2018-06-10 13:23] Faduf opened #6084 "LED LOW functionality"
Manual build from the master branch (10/06/2018)
Target: YUPIF7

I was testing the LED LOW switch but some LEDs doesn't turn off when the function ledStripDisable() is executed. Then the LED strip is disabled and there is no more update.

When I remove ledStripEnabled = false line (line 1078 from ledstrip.c), the LED strip is updated regularly and after few updates all the LEDs turn off (see video

[2018-06-10 16:26] jevring opened #6085 "MAVlink broken in 3.3.3 on Betaflight F3. Works in 3.1.7"
## If you believe there is an issue with the firmware itself please follow these steps:
1. Describe your problem;
MAVlink telemetry is unavailable in betaflight 3.3.3.
2. Include ways to reproduce the problem;
Enable MAVlink on a UART. Connect a connex prosight system to the MAVlink port.
Expected behavior: flight mode and mAh used should be displayed. (this is what happens on betaflight 3.1.7)
Ac

[2018-06-10 16:59] controlflow opened #6086 "Add noticeable RC roll/pitch deadbands in anti-turtle mode"
Hi,

I have a pretty loose Taranis sticks (intentionally) and non-zero, but small RC deadbands (like 5 or so). Sometimes I accidentally have anti-turtle mode enabled after crash while I'm starting normal flying in LOS to check if quad works after crash at all — arming results in two props spinning and this confuses me a lot. It seems like two of the ESCs are fried, until I use googles or if I try

[2018-06-10 18:36] bkeinert commented on #6086
Which BF version are you referring to? 3.4 RC1 has 15% stick deadband on crash flip. That's 75, with 500 being the maximum stick deflection in one direction. There's some additional deadband on the motor outputs of 20.

Currently, I wouldn't recommend to use DSHOT beacon on crash flip mode, but I think that's something being worked on.

[2018-06-10 18:42] ziggyzbeak opened #6087 "arming disabled"
https://github.com/betaflight/betaflight/blob/a5ba01666bdadd00018bc432e0cf17ffe50ffbc5/src/main/fc/runtime_config.h#L132
When i try to set up quad B.F. says armng disabled dys 4 pro F.C. no matter what I do.
When I click save and reboot it disconects from B.F. and says arming disabled.

[2018-06-10 19:07] ChilledoutUK commented on #5972
Oh dear you guys going to release gps_rescue in 3.4 without this necessary feature?

People will loose drones and get very upset if you don't put this in 3.4

[2018-06-10 19:30] s0up commented on #5972
Honestly, coming from a background of flying inav a lot, it goes both
ways.  Fail-Safe recovery delay can actually make it hard to regain control
of craft with an intermittent link when you regain control and try to drop
altitude and then Fail-Safe brings it back up.  I agree we should make this
a setting so the burden is on the user to decide for themselves.  It is
unwise to have rth as a failsaf

[2018-06-10 19:51] controlflow commented on #6086
I was using 3.3.x. That’s cool to hear someone implemented this in 3.4, will check it soon!

[2018-06-10 20:10] martymclaughlin05 commented on #5827
Just wondering im having trouble with blheli  i connect to betaflight fine disconnect, i connect to blheli fine the problem starts when i read setup it finishes and then leaves me with a reading setuo finished i dont know a lot soo i just need some help thanks also it worked the other day also this is on two quads i have

[2018-06-10 20:54] bkeinert commented on #6086
Be aware that crash-flip is now also possible on yaw (using 2 motors, nice to "look around" when stuck on a flat surface or to wiggle out of a tree) and over the diagonal (using 1 motor, helps in desperate situations).

[2018-06-10 21:37] ChilledoutUK commented on #5972
Regardless whether gps_resue is on a switch the failsafe guard time of the radio link combined with betaflight means In fringe reception gps_rescue has little to no chance at working reliably.

If gps_rescue returns to loiter then there is no reason to need to regain control before the guard time is up.

[2018-06-10 22:05] s0up commented on #5972
If you Fail-Safe, you should also flip the switch to enable the mode so it
doesn't flip flop.  This has already gone through fairly extensive testing
in horrible RF environments (San Fransisco) and  it has been fine when used
correctly by the pilot.  This is a good idea even when using things like
inav with a Fail-Safe recovery delay because something as simple as a trim
control being one click to

[2018-06-11 00:19] ChilledoutUK commented on #5972
OK i see what your saying i think what my primary issue was is that i lost video feed when the quad turned around in rescue mode and i had no information so didn't know that it was going in and out of rescue mode.
I think in future I will make sure the antenna is better oriented and train myself to manually switch recovery mode on via the switch as soon as I notice a failsafe as you suggest.

I As

[2018-06-11 00:37] s0up commented on #5972
It actually won't toggle on and off.  If the switch matches the mode it
won't re initialize multiple times.  I think the best solution is to
eventually add a recovery delay optionally and make stick movements cancel
it probably 😎

On Sun, Jun 10, 2018, 5:20 PM ChilledoutUK <notifications@github.com> wrote:

[2018-06-11 00:46] micaheli opened #6088 "Arming twice doesn't work unless the turtle says you can"
Summary:
FC boots seemingly OK (ESC tones are out of sync - which is different than my 3.2.1 setup I came from).  Aircraft arms correctly, but if disarmed, will not re-arm.   OSD says "ARMED" when additional attempts are made. The only arming status lines (when connected to BF) are MSP and CLI.   If turtle mode is activated and then deactivated, you can then arm the quad, but you must do this ever

[2018-06-11 00:50] micaheli commented on #6088
Worth noting:  One time, it DID arm a second time, but ONLY on motor 1.

[2018-06-11 00:52] micaheli commented on #6088
(and just tried it again and all but motor 3 came on for the second arm)

[2018-06-11 01:27] micaheli commented on #6088
Whatever.. it is what it is.  Die github now that it's owned by MS.

[2018-06-11 01:56] ChilledoutUK commented on #5972
Oh that's great to know.
Out of interest will rescue mode try to land or just loiter if you don't disable it when its back in range?

[2018-06-11 03:10] s0up commented on #5972
It will loiter at an increasingly lower altitude until it touches down.  It
will attempt to disarm if it senses a bump (landing) or if groundspeed hits
close to zero for 5 seconds or so.

On Sun, Jun 10, 2018, 6:56 PM ChilledoutUK <notifications@github.com> wrote:

[2018-06-11 03:58] ChilledoutUK commented on #5972
Wow that's really cool. Is this something added recently or does the 12 may build also do this?

[2018-06-11 04:32] s0up commented on #5972
All builds should attempt to do that.  The bump detection logic may need
some fine tuning because that kind of stuff is hard to test while
developing.

On Sun, Jun 10, 2018, 8:59 PM ChilledoutUK <notifications@github.com> wrote:

[2018-06-11 09:49] mikeller commented on #6084
I think we are looking at a couple of things here:
- stopping to send the signal after setting all of the LEDs to 'black' probably isn't the optimal solution - even though it does not seem to be a problem either, I've not once seen the problem that your video is showing, i.e. if the LED strip works correctly, sending an update once seems to be working. Also, I do not know if there are any use case

[2018-06-11 09:53] shannonbaker opened #6089 "GPS Rescue in Betaflight 3.4.0 RC1 climbs past gps_rescue_initial_alt limit"
Whilst flying I enabled GPS Rescue mode and the quadcopter continued to ascend past the gps_rescue_initial_alt limit.

gps_rescue_initial_alt is set to 20 meters.
Metek F405 CTR FC running BF 3.4.0 RC1.
Baro has open cell foam covering it.
I have a UBLOX M8N mini gps without compass.
I both powered and armed facing north.
Noted that I had GPS coordinates and altitude of zero and a heading of zero.

[2018-06-11 09:56] mikeller commented on #6085
@jevring: MAVLINK support has had to be removed from F3 based targets in 3.3, in order to make the firmware fit into the available flash space. If you want to use MAVLINK on the BETAFLIGHTF3, you'll have to build a customised version of the firmware: https://github.com/betaflight/betaflight/blob/master/docs/Customized%20Version.md

[2018-06-11 09:59] mikeller commented on #6087
@ziggyzbeak: Are you connected to the Betaflight Configurator when you try to arm?

[2018-06-11 10:07] markusjevringgoeuro commented on #6085
That, while unfortunate, explains a lot. =(
Is this covered anywhere in the documentation? If not, we should probably do that.
Is mavlink included in 3.3+ for F4 and F7 boards?

[2018-06-11 10:13] mikeller commented on #6085
@markusjevringgoeuro: https://github.com/betaflight/betaflight/pull/826

And yes, F4 and F7 have enough flash space for MAVLINK.

[2018-06-11 10:15] markusjevringgoeuro commented on #6085
Is there a general location in the docs where we can see what is disabled for which targets? I came across that PR when researching, but since I'm not using a CC3D, I didn't think it applied to me.

[2018-06-11 10:20] mikeller commented on #6085
@markusjevringgoeuro: That's the pull request that added MAVLINK support (and did not add it to F3 right from the get-go). And no, there isn't. If you need an exhaustive list, have a look at https://github.com/betaflight/betaflight/blob/master/src/main/target/common_fc_pre.h, plus the `target.h` file you are interested in.
We will be looking into ways to make the the firmware for a particular targ

[2018-06-11 10:21] markusjevringgoeuro commented on #6085
Thanks. That actually sounds like a really cool idea =)

[2018-06-11 10:29] mikeller commented on #6085
@markusjevringgoeuro: I almost see it as a requirement for where we are with Betaflight - we've got > 120 different targets we support, a lot of them with vastly different hardware specs, plus different features that have to be pruned from individual F3 targets to make the firmware fit into flash.
The configurator not knowing what features are supported by the firmware it's connected to is an endl

[2018-06-11 10:39] markusjevringgoeuro commented on #6085
I agree. Knowing what is actually supported, as opposed to, say, what version something is running, is much better. Knowing is better than deriving =)

[2018-06-11 12:27] ryamoo commented on #5710
Was this resolved in RC1 or is yaw channel still missing on Windows?

[2018-06-11 13:19] #2300 closed

[2018-06-11 14:13] theSkonk commented on #6018
so i tried with multishot and it was the same motor 3 is flatlining.. @ctzsnooze seems to think its protocol or hardware related.. for me its only happening on blheli 32 rigs.  I've got some blheliS 3" quads and its not an issue. also while the motors that dip are different the behaviour is the same on 2 different esc brands and one brand its been over 4 different esc's
what esc's are on the other

[2018-06-11 14:14] Vidalcris commented on #5192
This is the PR : #5448
It as been closed and not merged ...
So at least now i know how to make my own build ... Thanks a lot @EggsBenedict for the info ;)

I dont know how to explain correctly my feeling about this ... for sure i dont understand why this PR as been closed and not Merged as it should ! Isn't BF for the people ? ...

[2018-06-11 14:49] wind0r commented on #5192
@DieHertz just made a false claim. This can happen. He mixed something up. This wasnt on purpose

There is a public statement about this and also many post here describing the Problem. There is a branch which keeps those bugs to stay compatible but there is no reason to keep bug in some bigger codebase. This just will lead into Problemes.
There is no need to build your own stuff. Those can easily

[2018-06-11 14:54] DieHertz commented on #5192
Yeah, sorry.
We will have Configurator load the custom HEX for you though.

[2018-06-11 14:54] Vidalcris commented on #5192
@wind0r I want the latest build working with v1 this is why i need to make my own build actually.

You keep the same position... those VTX were working perfectly and are working perfectly with #5448 ...

Oh also i'm not part of "people" i hope ... I'm far from a basic user ;)

@DieHertz Its ok, thanks to you i did some research :)

[2018-06-11 15:41] McGiverGim opened #6091 "Little desync in blackbox log time"
I don't know if this is possible or not. Here is the problem:

- I have a log video of about 6:30 minutes. This video has been verified to be pretty accurate (we have recorded a chronometer and the chronometer and the video time are more or less exact).
- We have made a flight with the same camera and recorded a blackbox log.
- The blackbox log has being synced with the start of the log and the mo

[2018-06-11 15:47] bseishen commented on #6016
I would have to go back and verify, but before 3.3 it seemed like OSD/LUA/TNR were working like one would assume. I know polling seems like a terrible Idea, but its not like a fast update interval is needed. Also pit mode on a switch is an important feature for me in team racing :) Let me know how I could be helpful. I am an embedded guy, but I have not really dove into the code base.

PS Polling

[2018-06-11 15:59] MylesShannon opened #6092 "No yaw control with USB Joystick on 3.4 RC1"
I decided to try out 3.4 RC1 on a MatekF722, and noticed that the Yaw RC channel is not sent over USB when ```usb_hid_cdc = ON```. I'm running a Crossfire Nano. Here's an image showing what RC channels are maps to what joystick channel.

![cdc hid](https://user-images.githubusercontent.com/1764391/41242764-6331c4cc-6d6e-11e8-8343-b3c0ffb5ba7f.PNG)

And my diff:

[code]

[2018-06-11 17:55] HussoFPV opened #6094 "Smart Audio Not Working with 3.3.X"
Hey all,

I'm raising a concern with BF 3.3.X smart audio functionality.

Since flashing my FC with the latest firmware, 3.3.3, my smart audio has stopped working.

It wont let me access the menu in the OSD. It just says "StartX & back"

Flashed to 3.3.2, 3.3.1 and even the pre-release 3.3.4, still no luck.

Went back to 3.2.5 and the smart audio starts working as normal.

Hardware;

DYSF4 FC
TBS

[2018-06-11 17:59] ChilledoutUK commented on #5972
Do you think it is advisable to turn stage 1 of the failsafe off if your receiver already has a guard time?Because as it seems right now if you loose RF link in Air mode it will center the channels and put throttle low for 400ms before enabling gps_rescue via failsafe.
If your flying low this would probably be enough for you to hit the ground.

[2018-06-11 18:14] Robogenisis commented on #6088
I'm having the same issue with 3.4RC1 on my Hobbywing F4 (OmnibusF4SD), arming only works the first time unless you flip the beacon (or turtle?) switch first or power cycle. Sometimes one of the motors will spin on second arm. This only happens with turtle mode enabled, disable it and the issue goes away.

https://github.com/betaflight/betaflight/issues/6053

[2018-06-11 18:19] #5814 closed

[2018-06-11 18:21] EGParadox commented on #6088
Same issue:
`# Betaflight / MATEKF405 (MKF4) 3.4.0 Jun 10 2018 / 02:36:39 (a5ba01666) MSP API: 1.39
board_name MATEKF405
manufacturer_id
# resources
resource MOTOR 1 C07
resource MOTOR 2 C09
resource MOTOR 3 C06
resource MOTOR 4 C08
resource MOTOR 5 NONE
resource MOTOR 6 NONE
resource SERIAL_TX 11 A15
resource CAMERA_CONTROL 1 A08
# feature
feature LED_STRIP
feature AIRMODE
# serial
serial 0 8192

[2018-06-11 18:57] Diaoul commented on #5192
@wind0r I totally understand your point for not supporting faulty products.

Stick to the spec is good, when there are specs. And this is where I diverge: it worked before, based on no specs as they were not public AFAIK. Then the specs were released and you decided to stick to it but it broke for some products. You punished the manufacturer for making bad clones, at the expense of letting down so

[2018-06-11 19:00] DieHertz commented on #5192
Do we really need to discuss this with every stranger coming here every once a few weeks?

[2018-06-11 19:00] Diaoul commented on #5192
So I'm guessing sheer pride?

[2018-06-11 19:15] Vidalcris commented on #5192
(Il est et restera condescendant ... La france en force ;) lol
Le pays qui respecte les mots.)

You should just close this discussion..and block comments ... like that the "Strangers" will not importunate you anymore ;)

[2018-06-11 19:47] ollzer opened #6095 "DShot beeper not working in 3.4 RC 1"
DShot beeper not working in 3.4 RC 1, worked up to 3.3.3 or 3.3.2.

Tested with:
- KAKUTEF4V2 + Wraith32 v2
- TATTOOF4S
- matek f722

Way to reproduce:
- Pick a board
- set beeper_dshot_beacon_tone something 1-5
- Flip switch
- Nothing

[code]

[2018-06-11 19:55] Saxin commented on #6095
use command `beacon` in CLI,
read here - https://github.com/betaflight/betaflight/pull/5891
close if resolved

[2018-06-11 19:57] Saxin commented on #6088
Maybe related to #6053

[2018-06-11 20:06] ollzer commented on #6095
Ok, thanks.
Quite weird to need separately add the beacon and  beeper_dshot_beacon_tone.

[2018-06-11 20:06] #6095 closed

[2018-06-11 20:06] etracer65 commented on #6088
@EGParadox I tested with your config and couldn't replicate the problem.  Based on your mode settings I presume you have your pre-arm (aux 2) on a momentary switch which you hold and then arm.  You also have the beeper on the same momentary switch.

If you are using DSHOT beacon (motor beeping) then it's normal that there will now be a 2 second delay when arming because the motors are beeping (des

[2018-06-11 20:09] Saxin commented on #6095
Tone - chooses tone style,
Command used to enable / disable under what condition.

[2018-06-11 20:10] mikeller commented on #5192
First of all, and since it looks that AKK still has not fessed up and replaced the defective hardware they have sold, we have added an official branch of 3.4 with the AKK/RDQ patch applied:

https://ci.betaflight.tech/job/Betaflight%20Maintenance%203.3%20%28AKK%20-%20RDQ%20VTX%20Patch%29/lastSuccessfulBuild/artifact/obj/

This will be kept up to date with the latest release of 3.4.

@diaoul:

As h

[2018-06-11 20:13] etracer65 commented on #6088
@micaheli Unfortunately I wasn't able to replicate with your config either.  Arms every time.

[2018-06-11 20:16] Vidalcris commented on #5192
Rofl where am i insulting people?
Are u kidding me?
Who is condescendent from start each time i'm posting something on this git?

[2018-06-11 20:20] Vidalcris commented on #5192
I'm waiting a reply! You are insulting me while saying that im insulting but now i want proof of what u say!
Show me where and when i insulted anyone??

[2018-06-11 20:21] EggsBenedict commented on #5192
Nice! Thanks for getting the maintenance branch setup!

FWIW, this was AKK’s statement sometime back (some of these offers are no longer valid though):
https://www.rcgroups.com/forums/showpost.php?p=38893211&postcount=695

[2018-06-11 20:24] Saxin commented on #6088
@etracer65  are you trying on same targets, asking because with #6053 at least for me it was target dependent ?

[2018-06-11 20:30] Saxin commented on #6088
I see so at least for me on build 90x (don't remember exact) build # - it was target specific, i.e. on Omnibus Fireworks - worked perfectly but OmnibusF4SD made problems with this issue, details are in #6053

[2018-06-11 20:49] codecae commented on #6016
Vtx temps?  That's not part of the protocol.

[2018-06-11 20:57] codecae commented on #6016
Polling interval is not the issue.  In order to maintain authority over the state of the vtx, it must be asserted by the flight controller if you wish to have mode switches like pit mode.  These states are not committed and maintained by the vtx on its own.  I'll take a look and see what I can come up with.

[2018-06-11 21:06] codecae commented on #6016
One option might be only to assert authority when a transient state is being enforced.   Still requires state polling, though...which sucks.

[2018-06-11 21:08] Saxin commented on #6088
Was able to reproduce on **OmnibusF4** target, HGLRC xjb428 stack.
Flashed clean 3.4RC1, minimal setup (RX and modes).

Attached two diffs - one with the issue and another without - clearly affected by "flip after crash" mode being set (not active) in modes tab.
[3.4RC1 Diff No Arming Issue.txt](https://github.com/betaflight/betaflight/files/2091745/3.4RC1.Diff.No.Arming.Issue.txt)
[3.4RC1 Diff Ar

[2018-06-11 21:55] DieHertz commented on #6091
Time on FC is as precise as it's oscillator, times between two independent devices need not match

[2018-06-11 21:58] EggsBenedict commented on #5192
Just noticed maybe this is the branch you meant to link to @mikeller:
https://ci.betaflight.tech/job/Betaflight%20Maintenance%203.4%20(AKK%20-%20RDQ%20VTX%20Patch)/lastBuild/artifact/obj/

Thanks again.

[2018-06-11 22:09] etracer65 commented on #6088
If anybody is available to test, let me know what target you need.  I have a version that won't (probably) fix the problem, may help track down where to look.

[2018-06-11 22:10] wind0r commented on #5192
@Diaoul the spec was released 2 years ago. VTX-Stack got refactored to allow different stuff and after that people noticed that AKK is broken. While reworking the VTX-Code stuff some bug in betaflight got fixed. Which somehow also made those VTX not work like with every other Firmware. When it just is a CLI Option and some IF i wonder why KISS and RF also do not implement it. It simply us unneeded

[2018-06-11 22:13] #5788 closed

[2018-06-11 22:13] SteveKfpv commented on #6018
Update for me, I changed the configuration of my quads to squash X (which I prefer anyway) instead of stretch and raised pitch P. The dipping issue seems to be much more reduced. Still there but not so bad that I feel the need to rectify it. As @etracer65 suggested, higher P does cover the problem but I can't go high enough to remove it completely without causing bad prop-wash response. I also tri

[2018-06-11 22:35] Vidalcris commented on #5192
I was just asking about the mistake said by Diehertz at start... Yes i know what mikeller mean but he should take some more time to choose his words (we are thinking the same about this point.).
Now if you think im here to be toxic, i can not change your mind but i want to confirm that on my side this is absolutely not what I'm trying to do...
I will let you make your own choices now.

Without @eg

[2018-06-11 23:18] jflyper commented on #6094
@HussoFPV What is your vtx brand and model?

[2018-06-11 23:30] AirBreak69 commented on #6089
Thanks for the detailed description. I experienced the same during the last weeks. It gets notably on higher altitudes above MSL. In my case the quad virtually would "rise to the moon" (550m+), if I hadn't disabled the failsafe switch which I used to test the rescue feature.
I made some modified custom builds and now I'am quite sure:
@s0up : gps_rescue.c may catch the absolute altitude as the maxA

[2018-06-11 23:42] s0up commented on #6089
I changed it to only run idleTasks() when armed, but I think because of the frequency that it runs, it can still get a non-offset altitude when the quad is armed but the offset is not applied yet.  I did consider in gps rescue doing

`    if (!ARMING_FLAG(ARMED) || calculateThrottleStatus() == THROTTLE_LOW) {
        return;
    }`

But i'm not sure if that is the proper way to fix it.

[2018-06-12 01:09] butterSnake commented on #6018
What esc's are you running @stevekfpv?

[2018-06-12 01:12] theSkonk commented on #6018
What esc's are you running @stevekfpv?

[2018-06-12 02:07] SteveKfpv commented on #6018
@theSkonk Racerstar REV35 blheli S 4in1

[2018-06-12 02:12] codecae commented on #6016
I see where you've pulled that from vtx_tramp.c, I just want to verify with immersion that nothing has changed in the spec since the time this was written.

[2018-06-12 03:44] Saxin commented on #6088
@etracer, omnibus f4 please.

[2018-06-12 05:28] RipperDrone commented on #6018
Arm Dip upon throttle cut is there from BF 3.0, on many of my 20+ builds. Has been reported as issue before, under titles like throttle blip, strange behavior under throttle cut, strange attitude etc.
Unfortunately it seems all these issue tickets have been auto-closed in the meantime...

Issue has never been fixed, if you asked me. Can be related to some quads being a little offset with cog vs co

[2018-06-12 05:36] EGParadox commented on #6088
@etracer65 i dont use DSHOT beacon, same thing on second quad with AirbotF4, today at evening i will test with removed turtle mode on "mode" tab.

[2018-06-12 06:51] richard-scott commented on #6095
This Configurator issue has been resolved for the next release.

[2018-06-12 07:32] mikeller commented on #6091
In addition to clock skew, I would suspect that if frames are dropped because we can't keep up with writing to the storage medium this might also cause the frames after the drop to fall out of synch. Have you tried if this reproduces with a (much) lower logging rate?

[2018-06-12 08:07] McGiverGim commented on #6091
The Blackbox log file has not dropped frames. The Blackbox Viewer looks for them, it knows the relation between I and P frames (P denom) and verifies that there are not dropped frames. If there are they appear as a cut in the graph lines.

But if a dropped frame occurs, there is not a desync, the next I frame (one each 32ms) contains the timestamp in the first field, so it can resync without probl

[2018-06-12 08:19] mikeller commented on #5192
@EggsBenedict: Thanks for correcting the link. I was writing the reply above from a mobile.

@Vidalcris: You and I both know where you insulted people. I am not going to drag up posts that you later on deleted or revised. And I will not stand to be attacked like you seem to be intent on doing, I think it's better that you stay out of here from now on, or behave in a civilised way.

[2018-06-12 08:21] mikeller commented on #6091
@McGiverGim: Thanks for clarifying that.

[2018-06-12 08:54] chris2396 commented on #6088
Same issue using SPEDIX 25 escs on blheli_s fw. Matek f405ctr board.

[2018-06-12 12:12] etracer65 commented on #6088
@Saxin Please try this version.

[betaflight_3.4.0_OMNIBUSF4.hex.zip](https://github.com/betaflight/betaflight/files/2093908/betaflight_3.4.0_OMNIBUSF4.hex.zip)

In particular I want to see if:
1. Multiple armings work okay.
2. Confirm that turtle mode still works (also check that motors are reversed while in turtle mode)
3. Confirm motor direction after exiting turtle mode and disarmed (use the m

[2018-06-12 12:45] etracer65 commented on #6018
I still contend that the only thing that can cause a quick "arm dip" on suddenly cutting throttle is if the motor opposite the dip doesn't brake as well as the others.  The logs support this.

[2018-06-12 13:31] Bradw-17 commented on #6088
I'm having this identical issue on Matek F405-CTR/ Hakrc 30A 4-in-1.

[2018-06-12 13:37] ashleybadavis commented on #5710
I'm afraid I haven't had opportunity to look at this, it is on our development schedule but we haven't been able to look at it yet. The issue is as far as we know is a problem of not assigning channels correctly in the windows USB joystick interface as there are only eight defined axis to which you can send analog data and for whatever reason yaw is not being assigned to one of these (this is our

[2018-06-12 13:44] mikeller commented on #6092
@MylesShannon: Try this for size.

[2018-06-12 16:01] Robogenisis commented on #6088
@etracer65 I just tested that new version and everything seemed to work correctly. I'm able to arm repeatedly, use my turtle/beacon switches as expected, and my motors spin the way they're supposed to.

[2018-06-12 16:18] etracer65 commented on #6088
@Robogenisis Thanks for the feedback.  Some extra things to test for you and @Saxin:

Use turtle mode and disarm while the motors are spinning.  For example hold some right stick to spin those motors and while they're spinning disarm (then release the roll stick).  Then test to see if you can arm normally.

Also try it again and this time check the motor rotations in the motors tab after doing the

[2018-06-12 16:32] Robogenisis commented on #6088
@etracer65 Disarming turtle mode with motors spinning causes those motors to not spin on rearm or in the motors tab. They spin again once you reengage turtle mode and disarm normally.

[2018-06-12 16:42] etracer65 commented on #6088
@Robogenisis Thanks, that's what I was expecting and confirms where the problem is (at least the area).  Basically it appears there's a problem with the DSHOT command queueing when the motors are running.

Previously on disarming the firmware would always reset the motor direction if turtle mode was configured.  This occurred right when the motors were being stopped from spinning.  The change in t

[2018-06-12 17:11] theSkonk commented on #6018
Motor braking is a function of the ecs though if I'm correct @etracer?
I've got another machine built up with the ori32 ecs will try for a bit of flying tomorrow.
I'm also Gona try proshot out see if that changes any thing

[2018-06-12 17:37] djtdf opened #6100 "Rssi bug on 3.4 betaflight"
After flashing my bf f4 fc with the new betaflight 3.4 firmware the rssi stop to 42%!!!!!!

[2018-06-12 19:06] Faduf commented on #6084
I tried with an other Led strip and the 3.4 RC1. Then result is the same , all LEDs don't turn off properly when the switch activate the Led Low status.

I also tried with the same Led strip and the 3.3.3. Here no problem... (See videos attached)

I think there is something changed in the firmware affecting the LED control behaviour.

See also a scop measurement in the attached data, there is alre

[2018-06-12 20:54] zytra opened #6103 "3.4 RC1 - RC filtering with Crossfire"
Hi guys
I just loaded 3.4RC1 to check out the RC filtering and realized maybe the default settings aren't good for crossfire running at 150 Hz.
With the default settings (for SBUS I suppose) I still have major steps which have an impact on the PID sum.

Edit: BB log recorded an RC interval of 19 ms which is more than the 9ms one should get with SBUS. (assuming crossfire does 150Hz should I expect

[2018-06-12 23:12] jflyper commented on #6100
@djtdf
1. Re-flash with full-chip erase or do cli `defaults`.
2. Review your configuration for rssi; source, scale, etc.
3. If the problem persists, please attach cli `diff` result AS INSTRUCTED IN THE PREFORMATTED TEMPLATE FOR A NEW ISSUE.

[2018-06-12 23:12] #6100 closed

[2018-06-12 23:56] SAR-mango commented on #4573
I have the same issue on a DYSF4PRO V2. Acro works fine, but after flying for a little bit, my stick has to be almost fully deflected to the right for the quad to stay level. It gets progressively worse until I have to land, wait 30 seconds, and then it repeats.

[2018-06-13 00:57] etracer65 commented on #6103
@zytra Also please share the log.  I suspect what happened is the your Crossfire receiver switched from 150Hz to 50Hz in flight.  The 50hz mode is 20ms so that aligns with what you saw.  Crossfire will do this when the link becomes poor.  Currently RC Smoothing doesn't handle this change but will be enhanced soon.  But the `rc_smoothing_info` command and log will help confirm this is what happened

[2018-06-13 01:07] zytra commented on #6103
Thank you, I will run the command when I get home.

Note however that I just switched to CRSF recently and I am planning close attention to the mode, power output and LQ, and on this flight (close proximity) my LQ didn't go lower than 95 and doubt that it switched from 150 to 50 Hz. Interestingly enough the steps are here right after arming.

I read in a PR that there is consideration for real tim

[2018-06-13 01:11] mmakam2 opened #6105 "RevoltOSD Target, arming code 12, never flown, gyro won't calibrate in 32khz mode"
Brand new FC (Skitzo RevoltOSD), brand new build, everything else seems to be good, except arming code 12 won't go away. I have tried raising noise limit to 150 with no success. here is my diff:

# diff

# version
# Betaflight / REVOLTOSD (ROSD) 3.4.0 Jun  9 2018 / 03:04:35 (32fc49482) MSP API: 1.39

board_name REVOLTOSD
manufacturer_id

# name
name 210rV2

# resources
resource MOTOR 2 A02
resourc

[2018-06-13 01:33] mmakam2 commented on #4613
im having this issue on a RevoltOSD thats brand new, ive lowered it to 16khz/16khz and raised calib noise limit to 200, still getting the arming code 12 issue.

[2018-06-13 03:28] telliott187 commented on #5311
are you seeing an i2c error?  I am noticing an i2c error.  I see the barometer uses i2c.  could be related.

[2018-06-13 03:33] mmakam2 commented on #6105
tried 3.3.3, same issue..

[2018-06-13 03:49] mmakam2 commented on #6105
flightone, I was able to arm and fly, so this is a betaflight issue not a gyro/hardware issue.

[2018-06-13 03:56] mmakam2 commented on #6105
update, I am able to arm and fly if i turn off 32khz mode, so this is an issue related to 32khz mode

[2018-06-13 04:40] zytra commented on #6103
I just ran that command and I think it's outputting what it should...

`# RC Smoothing Type: FILTER
# Detected RX frame rate: 6.684ms
# Auto input cutoff: 67hz
# Active input cutoff: 67hz (auto)
# Auto derivative cutoff: 67hz
# Active derivative cutoff: 67hz (auto)
`

[2018-06-13 06:19] McGiverGim commented on #6091
Yes. I think that is better that I close the issue. If the problem is a clock skew I suspect we can't do nothing with it.

[2018-06-13 06:19] #6091 closed

[2018-06-13 09:18] mikeller commented on #4613
@mmakam2: In some cases the high noise level is caused by not enough filtering on the supply voltage for the MPU. Additional capacitors can help, check RCGroups for hints.

[2018-06-13 09:20] mikeller commented on #6105
32kHz mode is only 'experimental' according to the manufacturer of the MPU. There is no guarantee that it will work with every MPU.

[2018-06-13 09:20] #6105 closed

[2018-06-13 10:59] #6057 closed

[2018-06-13 11:47] avr39-ripe commented on #6018
@SteveKfpv are you use low ESR capacitor on battery lead on your ESC? Recently I also suffer from random sky fall of my newly rebuild quad with Racerstar REV35A 4in1 ESC.. only adding 470uF 25V low ESR capacitor get rid of this problem. If not your case - sorry to disturb.

[2018-06-13 11:55] mikeller commented on #5710
Would somebody mind testing #6099 with Velocidrone? Let me know what target you need if you can't build it yourself.

[2018-06-13 12:04] etracer65 commented on #6103
@zytra Yes, that looks correct.  Can you please provide the log?  It might show more detail on what was going on with the RX frame rate.  For example depending on your `rc_interp_ch` settings we might be able to see the input steps in yaw if it's not smoothed and calculate the frame rate from that.  You could also try capturing another log with:

`set debug_mode = RC_SMOOTHING`

To capture more de

[2018-06-13 12:40] etracer65 opened #6107 "ESC DSHOT beacon handling change request"
Even though this is not a Betaflight issue, raising it here as a centralized place to track.

@ronlix @sskaug @mikeller

We have a problem with the way DSHOT beacon commands are being processed.  In particular they appear to be blocking in that the ESC will not accept and silently drops any other commands while it's playing the "beep" through the motor.  We see this while trying to set other param

[2018-06-13 13:08] ronlix commented on #6107
Thanks,

This Problem should be fixed with the next kissesc Beta. as i already changed the beeps to be non blocking.

Regards

Felix.

[2018-06-13 13:19] mikeller commented on #6107
As a suggestion, now that we are looking into addressing this, and in order to address future issues of this kind:

I think we should define a maximum time span (either from the start or from the end of a Dshot frame being received) than an ESC is allowed to take to process the command or update, until it has to be ready to receive the next command / update.

This is so far missing in the Dshot sp

[2018-06-13 13:29] mikeller commented on #6084
@Faduf:

Thanks for testing again.

I have put together a test rig and tested, and was able to confirm:
- switching off the LED_STRIP in 3.4 does not work reliably with an F7 (MATEKF722);
- the same does work as it should in 3.4 with an F4 (OMNIBUSF4);
- the same also does work as it should with 3.3.3 with an F7 (MATEKF722).

This makes it look like the offending change is in `src/main/drivers/lig

[2018-06-13 13:37] etracer65 commented on #6107
Also related... @ronlix @sskaug  Can you define the maximum amount of time the current firmwares will block during beacon commands?  Currently we just chose an arbitrary 2 second guard period without having any actual information so that may be overdoing it quite a bit.  2 seconds doesn't seem like much but it's a big perceived delay to the pilot while they're trying to arm (and possibly having to

[2018-06-13 13:44] flyduino commented on #6107
on the kiss esc's, the beeps was the only blocking thing that can happen when the motor dont runs.
so with the next beta FW's it should read all signals that come in. only for save and exit command a delay of maybe 1second to give it time to reeboot should be good. but with the new beeps it eaven reads the input signals during startup beep or voice.

[2018-06-13 13:48] mikeller commented on #6088
@Saxin, @Robogenisis, @Bradw-17: Can you please test with the attached firmware (from #6108):

[betaflight_3.4.0_MATEKF405.zip](https://github.com/betaflight/betaflight/files/2098336/betaflight_3.4.0_MATEKF405.zip)
[betaflight_3.4.0_OMNIBUSF4.zip](https://github.com/betaflight/betaflight/files/2098337/betaflight_3.4.0_OMNIBUSF4.zip)

[2018-06-13 14:02] ServusServorumDei commented on #6088
I have the HGLRC Zeus (3.3.2?) with 16.65, and NOX(3.3.0) also found this
on BetaFPV brushed 3.3.1. I have a DX9 with AUX switch assigned to prearm
(pos -1) and turtle mode (pos 0) arm switch on disarmed. The copters will
only rearm unless I switch to turtle mode then back to prearm.  I observed
isolated incidents in which the craft will rearm immediately without
switching prearm.

On Wed, Jun 13,

[2018-06-13 14:02] Sm1thson commented on #5972
will likely always be a risk that is meant to simply increase your odds of
recovery in an emergency situation, not something to be leaned on

@s0up Firstly, I fully agree. Secondly, I have a BF'd quad with GPS, Barometer and compass, in the new recovery mode will the barometer and compass be of any additional benefit of have they been made redundant? (I ask as I will likely add GPS to another quad

[2018-06-13 14:13] Nexus1212 opened #6109 "BF 3.3.2 - HOTT Telemetry not working"
Hello,

the Hott Telemetrie does not work with BF 3.4.0 and 3.3.0.

I'm using a OMNIBUSF4SD Target (Omnibus F4 V3 Pro).

With BF 3.2.5 is working!

I read about the problem in another issue:
https://github.com/betaflight/betaflight/issues/3145

Is the fix in the current version or is that a new bug?

Thank you!

[2018-06-13 14:38] mmakam2 commented on #4613
I have added a Panasonic 470uf low esr cap to the xt60, still have the same issue.

It arms fine in 8khz mode.

[2018-06-13 15:44] sskaug commented on #6107
Well, for BLHeli_S and BLHeli_32, interrupts are off and inputs signals are not read during beeps. Altering this will mean pretty significant changes to the codes.

But 2 seconds is most certainly more than required delay after a command. I can take a look at what delays would be required.

[2018-06-13 15:44] xermalk opened #6111 "3.4 RC1 Dys F4PRO Resource command broken"
DYSF4PRO (DYS4) 3.4.0 Jun 10 2018 / 02:25:09 (a5ba01666)

using resource to remap motor outputs isnt working.

I can remap Motor 3 and 4 just fine. But

resource MOTOR 1 B00
resource MOTOR 2 B01

and

resource MOTOR 1 B01
resource MOTOR 2 B00

Does not change what motor spins using the configurator motor tab.
Remapping in 3.3 and Butterflight works just fine.

[2018-06-13 16:31] etracer65 commented on #6107
@ronlix Just to be clear, are you saying 1 second should be safe to send the next command after a beacon on the current firmware?

@sskaug I think we need to know what we can and can't do from a command sending perspective.  So knowing the restrictions for different types of commands would be very helpful.  We'll probably end up with just a generic short delay for most commands and a longer one fo

[2018-06-13 16:33] sskaug commented on #6107
Ok, that makes sense. I'll look into what the delays are and report back.

[2018-06-13 16:47] Strangedave commented on #5439
I am also experiencing the same issue. There also seems to be a problem with the black box logs and the osd also. The black box logs are showing motor noise up in the 1300 KHZ range. I was not able to move the crosshair in the OSD. I am including the most recent black box log, and Diff. I did try stock settings, the motors sounded like they were sputtering, so I went back to my old PID's. I need t

[2018-06-13 17:19] mmakam2 commented on #6105
why would the manufacturer advertise 32khz capable then?

[2018-06-13 17:39] ronlix commented on #6107
@etracer65 no, just after the dshot save and reset command. else there are no delays needed for the kiss escs.

regards

felix

[2018-06-13 18:15] Plasmatree opened #6112 "rc_advance idea"
Hello everybody,

this is not an issue, but more a proposal of an idea, so I’m not sure if this is the right spot. I can’t get into modifying and testing of the source code myself, since there are not enough hours in a day, but maybe someone else would like to implement and try it.
The whole discussion about RC-interpolation and especially UAV-techs video on delay got me thinking:
If we add someth

[2018-06-13 19:02] Bradw-17 commented on #6088
Didn't work unfortunately. Using 3.4 RC1, motor 1 was the only to arm. On the given hex file, no motors armed.

[2018-06-13 19:45] Robogenisis commented on #6088
@mikeller #6108 seems to have the same issues as the current release. The version @etracer65 provided works unless you disarm from turtle mode with motors spinning.

[2018-06-13 19:59] ServusServorumDei commented on #6088
All my birds does not have to have spinning motors. Disarm>turtle
mode>prearm>arm

On Wed, Jun 13, 2018, 14:45 Robogenesis <notifications@github.com> wrote:

[2018-06-13 21:00] mmakam2 commented on #5439
I can help with atleast one issue. The OSD position value changed int he CLI, version to version, so put it back to the build's default value instead of restoring from cli backup. You can adjust the position with osd crosshair set value.

[2018-06-13 21:09] mmakam2 commented on #6089
i had this issue also with DALRCF405 Target and a BN-880 gps module. Set the inital alt setting on the lowest possible, quad still climbed very high.

[2018-06-13 21:34] #4764 closed

[2018-06-13 21:34] #5849 closed

[2018-06-13 21:57] Strangedave commented on #5439
Thanks I'll give that a try... Ran a few packs this afternoon with out the crosshairs, and I'm considering removing them.

[2018-06-13 23:07] tavdog commented on #4573
Just upgraded my BeeBee66 to 3.4 RC1 and I'm getting this drift issue. I've only notice now because I wanted to try out acro trainer mode and when this acc drift kicks it causes inability to stay level when the drift angle is larger than max bank angle set for trainer mode.

[2018-06-13 23:47] mmakam2 commented on #6105
there is zero noise on the gyro, this is a software compatibility issue or bug not hardware.

[2018-06-13 23:51] mmakam2 opened #6115 "RevoltOSD Target, 32khz (8khz/8khz) mode ON, gyro won't calibrate, 32khz mode OFF, gyro calibrates fine"
There is zero noise on the gyro, this is a software compatibility issue or bug not hardware. with 32khz mode on, setting 8khz/8khz, gyro won't calibrate, with 8khz/8khz mode with 32khz mode OFF, gyro calibrates with no issue. This is an issue specific to the 32khz mode.

If anyone has any fix for this, I would love to test it out..

[2018-06-13 23:54] mmakam2 commented on #6115
[diff.txt](https://github.com/betaflight/betaflight/files/2100341/diff.txt)

[2018-06-14 00:08] zytra commented on #6103
Thank you, I will either upload the log tonight or fly with RC_SMOOTHING debug enabled.
Thanks

[2018-06-14 00:32] etracer65 commented on #6115
When the gyro runs in 32KHz mode it results in significantly more noise which can exceed the calibration limit.  It's normal to need to increase this limit when trying to use 32KHz.

Try increasing `gyro_calib_noise_limit` gradually in the CLI until you get consistent calibration.

[2018-06-14 00:42] mmakam2 commented on #6115
I did this, went to 200 with no success

[2018-06-14 00:43] mmakam2 commented on #6115
I also tried caps on xt60 and 5v leads, no luck

[2018-06-14 01:29] mikeller commented on #6105
@mmakam2: There is nothing that can be done to change the fact that the MPU on the board that you have got does not support 32k.

[2018-06-14 01:29] etracer65 commented on #6115
Presuming that you're not moving the quad during the calibration, well then I'm sorry to say it sounds like you have a hardware problem.  I just tested with a 32KHz gyro on BF3.4 and no matter the gyro/pid rate it calibrates fine.  Doesn't matter if I use 8K, 16K or 32K.

[2018-06-14 02:03] mikeller commented on #6107
@ronlix: So except for the save and reset command, it is save to send a second, different command 1 us after the first one? Should we define a safe minimum interval (even if it's just to make sure the Dshot frame is detected properly on the line)?

[2018-06-14 02:14] mmakam2 commented on #6115
Which FC?

[2018-06-14 02:15] mmakam2 commented on #6105
Manufacturer claims it does..

[2018-06-14 04:36] ronlix commented on #6107
@mikeller, Well the dshot frame takes more then 1us ;) there need to be at least one bit time between the the dshot frames to be able to read them. But you can fire dshot commands in the same speeds as you do with throttle signals. .. tested with up to ~40khz.

[2018-06-14 05:00] micaheli commented on #6088
Any chance I can get a test firmware for my F7 board? :) . Omnibus F7 V2

[2018-06-14 05:49] sskaug commented on #6107
I have updated the BLHeli_S and BLHeli_32 spec docs with required wait times:
https://github.com/bitdump/BLHeli/blob/master/BLHeli_S%20SiLabs/Dshotprog%20spec%20BLHeli_S.txt
https://github.com/bitdump/BLHeli/blob/master/BLHeli_32%20ARM/Dshotprog%20spec.txt

[2018-06-14 06:31] atomiclama opened #6118 "Date from GPS is 1 day behind."
The date from GPS is 1 day behind. The output from status command is from today 14/06/2018.
If I use GPS pass through and hook up u-centre the date is correct.

UTC time is correct.

This was correct in the past can't place when it changed.

`Entering CLI Mode, type 'exit' to return, or 'help'

# status
System Uptime: 204 seconds
Current Time: 2018-06-13T06:20:35.574+00:00
Voltage: 0 * 0.1V (0S ba

[2018-06-14 07:03] mikeller commented on #6118
How very weird. We changed some of the time conversion / stringification functions, could be that we introduced an off by 1.

[2018-06-14 07:07] mikeller commented on #6107
@ronlix, @sskaug: Thanks. We'll look into adding these wait times.

[2018-06-14 07:45] mikeller commented on #6111
[code]

[code]

Works just fine for me. What's your `resource list` say after modifying the resources and saving / rebooting?

[2018-06-14 08:32] tavdog commented on #6100
I updated to 3.4RC1 and the default rssi scale is set to 41.  Is it supposed be set to 41 ?

[2018-06-14 09:09] tavdog commented on #6118
cli output uses : `if (rtcGetDateTime(&dt)) {
        dateTimeFormatLocal(buf, &dt);
        cliPrintLinef("Current Time: %s", buf);
    }`

could it possibly be a local timezone issue ?

I checked the math on line 806 of gps.c and it seems correct.
<img width="978" alt="screen shot 2018-06-13 at 13 wed 11 06 42 pm" src="https://user-images.githubusercontent.com/8324295/41402680-a2400f7e-6f5e-11e8

[2018-06-14 10:35] mikeller commented on #6100
@tavdog: No, it's not, the default is 100. Can you see what it comes out as after you reset to defaults?

[2018-06-14 12:07] Saxin commented on #6053
@Randy45 - please post in issue #6088 , please provide target name and steps to reproduce.

[2018-06-14 12:57] timmytron commented on #5655
I've just run into this issue now. Updated from 3.2.4 to 3.3.3 and the TNR wand has no effect. It will change the channel but shortly after what is in the FC will override it over the SmartAudio connection.

[2018-06-14 14:09] RANDY45 commented on #6053
3.4.rc1 disable turtle mode it works and I did post on issue page but it
says it's closed

On Thu, Jun 14, 2018, 8:07 AM Eddi Maevski <notifications@github.com> wrote:

[2018-06-14 14:19] timmytron commented on #6016
Encountered this issue after upgrading into 3.3.x territory from 3.2. The behaviour of this in 3.2.x was perfect. I could set the VTX channel using the wand or the FC and it would not interfere with each other. On my quads I am testing 3.3 I've had to input vtx_freq = 0 and vtx_band = 0 to just let the TNR wand do its thing. Any reason the changed code for this feature cannot be reverted?

[2018-06-14 14:21] wind0r commented on #6016
@timmytron did you read the posts above?

[2018-06-14 14:40] timmytron commented on #6016
Yes but I could not determine what the flaw with the 3.2.x implementation is? I’ve read it all again and it’s still unclear to me.

[2018-06-14 14:45] wind0r commented on #6016
3.2 did not worked well with build in vtx. 3.2 was not able to change settings offline. With 3.2 "Soltuion" it would not be possible to implement low power disarm / high power arm and overall it was a mess.

Possible Solution are also described above. It simply is not possible to have multiple authoritative.

[2018-06-14 14:53] ProfessorStoke opened #6119 "Feature Request: ABX test"
One problem with tweaking and testing PIDs, filters, rates, etc, on a quad is whether the effects you're seeing and feeling in flight are actually happening or if they're just confirmation bias. ABX testing is a way to figure out statistically whether or not a particular change is significant enough to be perceived.

From [wikipedia](https://en.wikipedia.org/wiki/ABX_test):

Is it possible to incl

[2018-06-14 15:14] DieHertz commented on #6119
It's definitely possible and a good idea, I don't see a way of getting untainted data from users at this point though.

[2018-06-14 15:40] ProfessorStoke commented on #6119
Untainted? Do you mean untainted as in poorly executed tests? Falsified reports?

[2018-06-14 15:48] DieHertz commented on #6119
Falsified reports, custom builds that fake the data.
Such tests require an infrastructure which guarantees mutability and authority of data.
With embedded devices it's hard to guarantee the code or the result wasn't modified either intentionally or unintentionally

[2018-06-14 16:12] ProfessorStoke commented on #6119
I take it that falsified reports are an actual, concrete problem for you as a developer for things of that nature to be such a concern. Trust is a difficult, if not impossible, problem to tackle.

[2018-06-14 16:33] DieHertz commented on #6119
It's more like users are unlikely to send you logs where they haven't guessed the outcome correctly, unless the process is automated.

[2018-06-14 16:46] wind0r commented on #6119
This may easily could be added to the confiugrator. Just add 2 different settings and the Configurator will choose for you. This could be greate to find compare and find new rate settings

[2018-06-14 16:51] ProfessorStoke commented on #6119
You're concerned that users would do a number of tests and cherry pick the ones that confirm their bias? Or just that, in the aggregate, you'd see a selection bias in the reports you see?

[2018-06-14 17:34] djtdf commented on #6100
# version
# Betaflight / BETAFLIGHTF4 (BFF4) 3.4.0 Jun 10 2018 / 02:20:37 (a5ba01666) MSP API: 1.39

board_name BETAFLIGHTF4
manufacturer_id

# name

# resources
resource SERIAL_TX 1 NONE
resource SERIAL_TX 3 NONE
resource SERIAL_TX 11 A09
resource SERIAL_TX 12 B10

# mixer

# servo

# servo mix

# feature
feature SOFTSERIAL
feature RSSI_ADC

# beeper

# beacon

# map

# serial
serial 1 0 115200 5

[2018-06-14 17:36] djtdf commented on #6100
# get rssi
rssi_channel = 0
Allowed range: 0 - 18

rssi_src_frame_errors = OFF
Allowed values: OFF, ON

rssi_scale = 100
Allowed range: 1 - 255

rssi_offset = 0
Allowed range: -100 - 100

rssi_invert = OFF
Allowed values: OFF, ON

osd_rssi_alarm = 20
Allowed range: 0 - 100

osd_rssi_pos = 2093
Allowed range: 0 - 3071
Default value: 234

osd_stat_min_rssi = ON
Allowed values: OFF, ON

[2018-06-14 17:37] djtdf commented on #6100
and aswell dont leave me save the rssi channel, i set it to my channel i save it, and when i check is not saved!!!

[2018-06-14 17:40] djtdf commented on #6100
when i put rssi_scale = 255 it show me rssi=106, from here i need to calibrate it or? its wrong?

[2018-06-14 17:43] djtdf commented on #6100
no is not working.....

[2018-06-14 17:47] Saxin commented on #6088
@mikeller Just tested the FW you posted, target OmnibusF4,
Same diff's used which were post above by me.

Everything is the same, was able to reproduce via. same steps.
(As before disabling flip after crash - makes the quad able to re-arm)

[2018-06-14 18:06] MJ666 opened #6120 "False detects of the QMC5883L mag sensor"
With actual master including RC1 the QMC5883L mag sensor is sometimes detected if there is no mag present or even if a different mag is installed. I can see this behavior on a couple of different FC boards. The issue i see here is the QMC mag is using 0xFF as the chipid at register 0x0D. You will read also 0xFF on a not connected sensor address in most cases. This will cause the false detections.

[2018-06-14 18:14] tavdog commented on #6100
Resetting Setting's button does set the rssi_scale to 100.  I guess setting defaults should be part of the firmware upgrade process.

[2018-06-14 18:16] djtdf commented on #6100
yea
but still dont work, i wil downgrade to 3.3 to check again

[2018-06-14 18:17] Scavanger commented on #6109
Similar Problem here.
Dont't work for me since 3.3.2, But in 3.3.0 HoTT Telemetrie is working.

[2018-06-14 18:19] djtdf commented on #6100
but aswell when i put rssi scale to 240 show me the rssi=100 but i check the range and the same is hold to this procent (100)

[2018-06-14 18:21] tavdog commented on #6100
You've got your rssi_adc feature turned on. This will overrisde rssi over an RX channel.  try disabling rssi_adc and then set your rssi_channel and then check it out.

[2018-06-14 18:37] djtdf commented on #6100
I cant set the rssi channel , dont want to save the channel what i set!!!

On Thu, 14 Jun 2018, 19:21 Tavis, <notifications@github.com> wrote:

[2018-06-14 18:37] ledvinap commented on #6120
Slave must ACK address, testing this ACK should handle no slave case

[2018-06-14 19:08] MJ666 commented on #6120
@ledvinap in this case the sensor is configured for SPI bus and in my knowledge at least the SPI bus always acknowledges the request. There will be also the possibility to block QMC5883L detection if SPI bus is used since this sensor is I2C only.

[2018-06-14 19:12] Robogenisis commented on #6088
I wanted to add that I was also able to get the motors to freeze up by spamming my arm switch repeatedly (at least with etracer's version, I haven't tried with any others). Switching to turtle or beacon mode and back allows them to spin again.

[2018-06-14 19:14] tavdog commented on #6118
Just to be sure: the time is correct but the day is not ?  Just want to make sure this isn't some stale gps data being used before it's gets a good sat lock.  Since the real time clock seems to only get set once at startup, I want to make sure that first setting is based on new data and not stale data.

[2018-06-14 19:17] djtdf commented on #6100
thanks mate! that was, sorry for my mistake, case close!thank you again!

[2018-06-14 20:11] Quickred commented on #6089
I had the same problem and to test the feature I set gps_rescue_initial_alt = 50. If GPS rescue is activated now it reaches an altitude of approx. 60 to 90 meter. It would be great, if the gps_rescue_initial_alt value will be equal to the alt value in the OSD

[2018-06-14 20:21] HornetFpv commented on #6078
Hi, same thing in my case. Same fc and betaflight 3.4

[2018-06-14 21:51] s0up commented on #6089
Rescue mode should try to go to your rescue initial alt OR the highest alt
hit while armed, whichever is greater.  It should stay pretty close to the
intended altitude assuming the PIDs for rescue mode are setup okay.  There
is an issue on RC1 though that could cause it to climb too high if you're
above sea level!

On Thu, Jun 14, 2018 at 1:12 PM, Lutz Lagemann <notifications@github.com>
wrote:

[2018-06-14 22:14] Nexus1212 commented on #6109
You are right! I checked the version again. The problem is since 3.3.2.

I looked on the output of the telemetrie port. There goes nothing out since the version 3.3.2

[2018-06-15 00:52] jflyper commented on #6120
@MJ666 There is no way to auto reject non-existent SPI device that is designed to return 0xff as an indication of existence. Users must explicitly specify the location of the device to be used, or disable the mag if false detection is not desired.

The auto-detection will go away and almost everything will be configured explicitly in 4.0. It's just beginning already now with the mag.

[2018-06-15 02:51] shannonbaker commented on #6089
Because we fly below sea level?.... :D

[2018-06-15 06:46] atomiclama commented on #6118
Confirmed time correct, day behind.

[2018-06-15 07:53] Hideloop commented on #5439
Sorry to ask. Issue is closed but persists in Rc1. Is there a build fixing it for Fpvm betaflight f7?

[2018-06-15 07:55] DieHertz commented on #5439
The original issue was about 100% CPU load at 16/16.
Does 16/16 caused 100% CPU load for you?

[2018-06-15 08:47] Hideloop commented on #5439
I'm sorry. Missed that.
32/16 is now working fine at 22 percent cpu. I was in the thought that 32/32 is possible in bf 3.4 with f7. So if I understand you right this is not the case and possible or is this worth of a new issue?

[2018-06-15 08:50] DieHertz commented on #5439
Not sure it'll be possible in foreseeable future due to amount of new features added into PID loop :)
I'll surely look into optimizing further for BF 3.5/4.0, maybe some change of architecture would be required, maybe something is missed still.

For now 32/32 on F722 targets is prevented by GPS rescue, we're working on extracting out so users who don't use it aren't affected.

[2018-06-15 08:54] Hideloop commented on #5439
Thank you very much. If I can support with testing or anything let me know. And thank you for your great work.

[2018-06-15 09:49] ledvinap commented on #6120
@MJ666 : Checking for I2C first should be quite clean and it will also avoid detection traffic on spi.
Hopefully nobody designs SPI device with 0xff/0x00 signature...

[2018-06-15 10:55] heziben commented on #5920
Anyone can help?

[2018-06-15 12:15] Strangedave commented on #5439
Thanks for the info, I am sure I posted this in the wrong place. 32/16 is noticeably better than 8/8, so I am super happy today and look forward to future  versions.. if I can be of assistance please let me know.

[2018-06-15 12:16] delike commented on #5398
Any news on this? :)

[2018-06-15 14:29] #4259 closed

[2018-06-15 18:11] s0up commented on #6089
On RC1 there is a chance that it will log the current altitude prior to
applying the offset of your alt above sea level.  So assuming you're say
300 meters above sea level, rescue will think you flew up to 300 meters,
when you arm it will apply the offset and read zero, so now it will be
+300m relative to where you took off from :(

On Thu, Jun 14, 2018 at 7:51 PM, shannonbaker <notifications@gith

[2018-06-15 19:32] jeffystockes commented on #6118
Hello and thanks for everything. Sorry for my verry bad English. For information, I have the same problem with a Matek F722 & GPS Ublox neo m8n. The altitude changes a lot : Yesterday i have 1600 m. Today it's 400m, for a real altitude arround 130m (more than 4 satellites at the receiver - Ublox protocol)... Another information (may be it's a different problem) : I have gps data on the osd, but i

[2018-06-15 19:43] digitalentity commented on #6118
Since we share the RTC code with INAV - see https://github.com/iNavFlight/inav/pull/3307 for the fix

[2018-06-15 19:52] ghostface commented on #5398
It's no longer happening for me on betaflight 3.4 rc1 using soft serial.

[2018-06-15 20:31] frozenskys commented on #6088
Getting this on an Omnibis F3 (OMNI Target) Waith a racerstar 4-in-1 ESC
Let me know if there's anything you want me to test - just getting a build environment setup now...
[code]

[2018-06-16 00:59] mikeller commented on #6109
@Nexus1212, @Scavanger: Can you please test to see if HoTT telemetry works in 3.4.0-RC1, and provide feedback here?

[2018-06-16 01:15] mikeller commented on #6119
This is a duplicate of #5317. Closing this to keep the discussion in one place.

[2018-06-16 01:15] #6119 closed

[2018-06-16 02:04] Jahnkeanater commented on #5894
DSHOT 1200 has a faster baud rate than 600. They all run at the PID loop frequency and update as soon as the PID loop has a new value. The benefit of higher baud rates is the length of the signal itself is shorter. This results in less latency between the FC and ESC. The reason you can't have a higher DSHOT frequency is CRC errors should be rare and if you have CRC errors increasing the baud rate

[2018-06-16 02:15] flint723 commented on #6088
Not sure if related but this happened (or something like it).  I went into osd menu and when I exited, the osd froze.  So I power cycled it, and then it armed and flew fine.  Afterwards though, it didn't have the first session logged.  Wondering if BB erase is getting triggered somehow?  I do not have BB erase mode set up.

However in the next flight I went into osd, changed a setting, hit save/ex

[2018-06-16 02:57] mikeller commented on #6078
Duplicate of #6088.

[2018-06-16 02:57] #6078 closed

[2018-06-16 03:07] mikeller commented on #5920
Can you try if this still exists with 3.4.0-RC1?

[2018-06-16 04:36] MJ666 commented on #6120
@jflyper I think dropping autodetection features for sensors is not a proper step for the universal target. First we expect to have all drivers included in the firmware and second we should stll allow to connect additional sensors to be used on the external bus. Would we expect this to be done always wit manual configuration or even modify the bas FC config. Some configurator support could be help

[2018-06-16 10:30] h0st1le commented on #6094
I have this same issue. Using a TBS Unify Pro v1 (5v model) possibly using smart audio v1

[2018-06-16 10:52] jflyper commented on #6094
@h0st1le Was it working with previous version of firmwares?

[2018-06-16 11:13] ctzsnooze commented on #6088
I've been playing with builds of 3.4 for a long time and only noticed recently that sometimes I couldn't re-arm.  MSP and CLI status flags only in CLI, but on disconnection from computer still would not arm.  FF_PIKOF4 target, DShot 300.  Disarming while crashing seems to make it more likely.  Power cycling the Taranis or the quadcopter would allow re-arming.  Can't figure why power cycling the Ta

[2018-06-16 11:57] mhfpv opened #6128 "[Feature] Smart Audio with VTX specs"
One suggestion that resulting if I want to set my Unify Pro Nano to 50mW via BF Lua Script.

In my opinion a cool feature:
Is it possible to add instead off the smart Audio feature in Betaflight a "special" Smart Audio which contains the specs of each VTX.
For example: If you select "Smart Audio Unify Pro HV Race" in Betaflight you only can set the power output to 25 or 200mW in the BF script on y

[2018-06-16 12:08] mikeller commented on #6128
Not sure if this should be done in firmware - this is something that should rather be done in the configurator.

[2018-06-16 12:48] mikeller commented on #6088
@micaheli, @Saxin, @Robogenisis, @Bradw-17, @frozenskys: Can you please test with the attached firmware (from #6130):

[betaflight_3.4.0_OMNIBUSF7.hex.zip](https://github.com/betaflight/betaflight/files/2108129/betaflight_3.4.0_OMNIBUSF7.hex.zip)
[betaflight_3.4.0_OMNIBUSF4.hex.zip](https://github.com/betaflight/betaflight/files/2108130/betaflight_3.4.0_OMNIBUSF4.hex.zip)
[betaflight_3.4.0_OMNIBUS

[2018-06-16 13:51] jflyper commented on #6084
Bisect revealed it's somewhere in the F7 optimization (#5674).

[2018-06-16 14:16] Bradw-17 commented on #6088
Same result. Only motor 1 re-arms.

[2018-06-16 14:34] mikeller commented on #6088
@Bradw-17: What ESCs / ESC firmware version are you using?

[2018-06-16 14:34] DieHertz commented on #6084
@Faduf try this one
[betaflight_3.4.0_YUPIF7.hex.zip](https://github.com/betaflight/betaflight/files/2108232/betaflight_3.4.0_YUPIF7.hex.zip)

[2018-06-16 14:40] h0st1le commented on #6094
Yes, I have 2 of the exact same builds, when I upgrade either to 3.3.x, smart audio no longer works. Setting both back to 3.2.5 both work again. If I plug earphones into my goggles the pulsing sound smart audio makes is not there on 3.3.x and above.

[2018-06-16 14:51] Saxin commented on #6088
@mikeller - no re-arm with #6130, same behavior.
Target Omnibus F4, ESC HGLRC XJB428 Blheli_s 16.67 (from Chrome app)

[2018-06-16 15:14] mikeller commented on #6088
@micaheli, @Saxin, @Robogenisis, @Bradw-17, @frozenskys: Another set of hex files to test (from #6130):

[betaflight_3.4.0_OMNIBUSF7.hex.zip](https://github.com/betaflight/betaflight/files/2108251/betaflight_3.4.0_OMNIBUSF7.hex.zip)
[betaflight_3.4.0_OMNIBUS.hex.zip](https://github.com/betaflight/betaflight/files/2108252/betaflight_3.4.0_OMNIBUS.hex.zip)
[betaflight_3.4.0_OMNIBUSF4.hex.zip](https:

[2018-06-16 15:40] etracer65 commented on #6088
Everybody who is having this issue please report their ESC firmware type (BLHeli_32 or BLHeli_S) and version.

We already have @saxin using BLHeli_S with version 16.67

[2018-06-16 16:09] chris2396 commented on #6088
I'm using spedix25 blheli_s escs.

[2018-06-16 16:14] etracer65 commented on #6088
@chris2396 Please also supply the BLHeli_S firmware version you are using.

[2018-06-16 16:31] Bradw-17 commented on #6088
G-H-30, 16.66, 16.67_dshotcmd
HAKRC 30A 4-in-1

[2018-06-16 16:56] etracer65 commented on #6088
Ok, some semi-good news.  I was finally able to replicate the problem and it's related to BLHeli_S firmware version 16.67.  If you upgrade to the official 16.7 release version there is no problem.

We still don't have an answer as to why BLHeli 16.67 is misbehaving as the DSHOT protocol seems to be correct.

[2018-06-16 20:19] Faduf commented on #6084
@DieHertz this is Ok with this one.

[2018-06-16 20:23] #6084 closed, assigned to nobody

[2018-06-16 21:48] CarlovdMeer commented on #6016
A good discussion about authoritative: Tramp NFC/button (off-line) or BF (on-line).

**Timmytron** mentions an excellent point. On pre BF3.3 with Lua or OSD, you changed the channel, band and power setting on the fly and will be saved in the Tramp directly. Lua/OSD pre BF3.3 is sometimes a bit buggy, but functional wise: obvious and logical. This won’t work anymore in BF3.3, and the most people do

[2018-06-16 22:10] mikeller commented on #6016
@CarlovdMeer:

One of the reasons this was changed was because the handling of the tramp VTX protocol was unified with the two other VTX standards supported in Betaflight. This had to be done because before this, maintaining and extending the two different VTX implementations inside Betaflight was hard to impossible.

This is **exactly** what we are doing now.

This was never supported. lua would

[2018-06-16 22:39] #4601 closed

[2018-06-16 22:59] timmytron commented on #6016
I would be happy with the switch setting if that's an easy way to overcome the issue.

I'm a Futaba user, so I don't have the LUA scripts in my transmitter, but I can use the OSD to change the VTX over smart audio remotely. I use the TNR wand because I would not be able to change VTX channels offline without it.

With the switch solution I would default to the TNR wand, and if I needed to remotely

[2018-06-16 23:12] etracer65 commented on #6088
@chris2396 No it won't  BLHeli_S 16.7 has official support for DSHOT commands and works fine.

[2018-06-16 23:20] Bradw-17 commented on #6088
This may seem trivial, but do the different startup tones still work? It has reverted to OEM tone after flashing.

[2018-06-16 23:33] ctzsnooze commented on #6088
OK I can confirm 100% repeatability on RC1 code with FF_PIKOF4 DShot 300 BLHeli 16.67.
It will not re-arm if disarmed while motors are still spinning.  Even if throttle is zero, if motors are spinning still, cannot re-arm afterwards.  Fixes:
- power cycling the Tx,
- entering turtle mode, attempting to arm (motors don't spin), and exiting turtle mode
- power cycling the quad

[2018-06-17 00:02] ctzsnooze commented on #6088
OK and I can confirm flashing 16.7 to the ESC = no problem :-)

[2018-06-17 00:16] jflyper commented on #6094
Can't reproduce.

- Tested using Omnibus F4 AIO (gen 1), almost compatible with DYS F4 Pro.
- Tested with both v3.3.3 and v3.4.0-RC1 for following configurations.
- Unify 5G8 Pro (SA Version 2) and HV Pro (SA Version 2) on UART6 (TX6).
- Unify 5G8 Pro (SA Version 1) on SOFTSERIAL1 over PWM6(PA8).

[2018-06-17 01:10] HussoFPV commented on #6094
Im happy to stick with 3.2.5 as it  flies sweet with the right tune. Hopefully later releases will resolve this issue

[2018-06-17 03:46] andrejpodzimek opened #6136 "Throttle twitches on F3 with analog ESC protocols"
I have random throttle twitches with Betaflight 3.3. When the drone si idle, propellers wobble and sometimes spin a revolution or two, all by themselves. Sometimes they do so synchronously, sometimes it appears to affect just a subset of motors. The twitches occur roughly once in 5 seconds, but appear to be quite random otherwise.

Of course I've calibrated the ESCs and set my throttle values so t

[2018-06-17 04:01] andrejpodzimek opened #6137 "DShot doesn't work on BeeRotor F3 hexacopters"
I'm using Betaflight 3.3. Motor No. 6 won't work with DShot on my [BeeRotor F3](http://beerotor.com/product/beerotorf3-aio-flight-controller-with-osd/) hexacopter. I thought these problems would disappear as #4020 got implemented. Or was it for F4 and F7 only? Here's what `dma` says:

[code]

Indeed, motor No. 6 is not there. (But the motor runs fine under analog ESC protocols and BLHeli_32 can ta

[2018-06-17 04:40] jflyper commented on #6137
Do you have any unused output signals?

[2018-06-17 07:16] jflyper commented on #6137
I found a pin map sheet.

If you have M7 and M8 unused, you can assign motors 1 and 2 to these two outputs and then do `set dshot_burst = ON`.

[2018-06-17 07:37] Saxin opened #6138 "Improvement - Provide option to disable beeper tones when in "crash flip" mode aka turtle mode"
Please provide configuration option, possible for beeper cli command to be able to disable the default beeping in crash flip mode.

[2018-06-17 07:51] Saxin commented on #6088
@mikeller @etracer65 - Just tried build 938 (a7fae6b8f). Target Omnibus F4SD, Blheli_S 4in1 ESC, Typhoon 35A (Airbot)

ESC FW 16.67 (chrome app)  Issue resolved.

1. Rearming works as expected.
2. Rearming after engaging "turtle" mode works.
3. Turtle mode works, rearming in turtle mode works.
4. Turtle mode - while holding stick to the side (2 motors spinning in turtle mode) disarm, rearming work

[2018-06-17 08:07] frozenskys commented on #6088
Can confirm Blheli_S 16.7 has fixed this issue with the Omnibus F3, Racerstar 4-in-1 Blheli_S ESC, and DSHOT300 combo.

[2018-06-17 09:58] AndersHoglund commented on #6016
We already have an "Authority switch", even though it is not labelled exactly so. In the BFC ports tab, the "Peripherals" column, you can select Tramp/SmartAudio/Disabled.
But a new "VTX Authority" as a mode on a switch overriding this would be nice.

[2018-06-17 10:04] mikeller commented on #6088
@micaheli: If this is fixed now, can you please close this?

[2018-06-17 10:12] kozlyuk commented on #5636
I have the same problem with both RC Split 2 and V2.0.0 firmware.
Anybody know decision?

[2018-06-17 10:28] h0st1le commented on #6094
Setup is:

* OmnibusF4SD
* Unify Pro 5G8 V1 on UART3 (TX3)

[2018-06-17 10:39] #5867 closed

[2018-06-17 10:41] TheIsotopes opened #6139 "3.4 RC2 - LED strip not working"
tested now 3.4 rc2 release and must realize that the led strip does not work anymore ... back to 3.4 rc1 and all is ok ... tested on matek f405

imho i think it came from #6131 ... @DieHertz pls can you check this

[2018-06-17 12:05] delike commented on #5398
today i have tried Betaflight 3.4.0 too, but now now the recording wont start anyway..
Configuration is the same as on 3.3 ( i have compared it by screenshots). but nothing is happen when i push the switch. :(

[2018-06-17 12:08] mikeller commented on #6139
@TheIsotopes: Some context like hardware used / `diff` would be helpful.

[2018-06-17 12:49] TheIsotopes commented on #6139
i'm using the TAIL LIGHT WS2812B from Matek

diff output:
[code]

[2018-06-17 12:51] DieHertz commented on #6139
I'll look into it when I get home.

[2018-06-17 13:03] Bonemyster opened #6140 "Runcam Split telemetry doesnt work anymore"
From 3.3.3 to 3.4.0 the runcam splits telemetry has stopped working. Running the hglrc f4 v5 with crossfire. It works on 3.3.3 which is what im currently running but when i use either one of the 3.4.0 release cadidates it doesnt work. Ive also tried on some of my other quads which have f4 v5 and f4 v6 and it never works on 3.4.0 so i believe its a bug introduced in 3.4.0.

Also can you make it so

[2018-06-17 13:06] TheIsotopes commented on #6139
@DieHertz @mikeller when i revert #6131, the led strip works again

[2018-06-17 13:15] jflyper commented on #6139
@TheIsotopes Try this
[betaflight_3.4.0_MATEKF405.hex.zip](https://github.com/betaflight/betaflight/files/2108979/betaflight_3.4.0_MATEKF405.hex.zip)

[2018-06-17 13:39] #5869 closed

[2018-06-17 13:46] etracer65 commented on #6138
Not saying it won't get implemented, but note that the beeping was added as a safety feature.  The concern is that while in crash flip mode the quad may appear to be disarmed because the motors are not spinning.  We don't want somebody "trying to help" and pick up the crashed quad.

[2018-06-17 13:52] jflyper commented on #6140
@Bonemyster It's better if you can paste CLI `diff` output.

[2018-06-17 13:54] jflyper commented on #6139
@TheIsotopes Apologies for our oversight; we were too excited last night 🤣

[2018-06-17 13:57] Saxin commented on #6138
@etracer65 thanks, I fully understand.
I'm not proposing disabling or altering default behavior, only provide option to disable upon user decision, one can argue that not all quads are equipped with a buzzer.

[2018-06-17 14:02] johmarjac commented on #5893
@mikeller I would like to get BARO mode (or Altitude Hold) working on Betaflight. I know Betaflight is totally focused on Performance and Race Quads but in my opinion something like this should not be missing. I am not actually a racer but I want to have good performance too when just flying free-style between trees and if I am fastly flying above ground altitude hold would be so much better to ha

[2018-06-17 14:08] AirBreak69 commented on #6139
Can confirm: Introduced somewhere between build 931 and 936.
Most likely with build 936.

[2018-06-17 14:14] Bonemyster commented on #6140
$M>nk$M>lüÿÿÿg
Entering CLI Mode, type 'exit' to return, or 'help'

# diff

# version
# Betaflight / OMNIBUSF4 (OBF4) 3.4.0 Jun 17 2018 / 08:44:35 (2fe9d7990) MSP API: 1.39

board_name OMNIBUSF4
manufacturer_id AIRB

# name

# resources

# mixer

# servo

# servo mix

# feature
feature -RX_PARALLEL_PWM
feature RX_SERIAL
feature TELEMETRY
feature AIRMODE

# beeper

# beacon
beacon RX_LOST

# m

[2018-06-17 14:15] Bonemyster commented on #6140
That on 3.4.0 r2, if you need one of 3.3.3 when its working then let me know.

[2018-06-17 15:10] jflyper commented on #6139
@AirBreak69 Thanks for testing!

[2018-06-17 16:18] Gregmaan commented on #5398
On 3.4 RC1 I can´t control the split anymore. No more esc reboots, but also no function.

[2018-06-17 16:58] 510Rascloud opened #6143 "arming disabled msp...i cant get this off will someone help please"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, RCGroups: https://rcgroups.com/forums/showthread.php?t=2464844, or Slack: https://slack.betaflight.tech or other user support forums & groups (e.g. facebook).

## If you believe t

[2018-06-17 17:43] 510Rascloud commented on #6053
Hey explain like I’m lame how do I get msp off of hobbywing xrotor f4 omnibussd

[2018-06-17 18:01] RipperDrone opened #6144 "OMNINXT7 - uncommanded throttle burst upon launching :-O"
Have the OMNINXTF7 tested with both FW3.3 and 3.4RC2, all settings are default: After arming, the quad sits there with idle (DSHOT600, 8/4kHz). When I increase throttle, the motors slowly speed up rpm (still not high enough to take off the ground), but then all of a sudden all motors give an uncommanded throttle burst (like jumping up in one step to 50%+ throttle) and make the quad shoot up by 3+

[2018-06-17 18:07] RipperDrone commented on #6144
Here is the diff: https: //drive.google.com/open?id=1atHNO2nmka_lzx6nZJx23fqbBcUIw52J

[2018-06-17 18:23] DreamCutterCOM commented on #2566
Installed Betaflight RC 3.4 MSP+UART1 build#829 FOR OmnibusF4SD and test flight was uncontrollable wobble and beeper fails (no beep) using default PID and typical DShot6 configuration settings.  Only changes to default are using latest 10.2 BF Configurator is to set UART1 (FrskyXSR SBUS), and VCP to UART3, DSHOT 600, Enabled Transmitter switch mode such as arm and flight modes. Nothing too fancy.

[2018-06-17 18:29] Saxin commented on #6144
I think a video can be very helpful and a log also can help a lot

[2018-06-17 19:30] delike commented on #5398
i'am also on Matek405 Platform..

[2018-06-17 19:43] #6139 closed

[2018-06-17 19:50] RipperDrone commented on #6144
Here is the rpm runaway event:
![image](https://user-images.githubusercontent.com/12601105/41511517-8016ba98-7278-11e8-8a09-83943554e90a.png)

[2018-06-17 19:51] RipperDrone commented on #6144
Looks like oscillations ramping up, doesn't it? I have DYNAMIC_FILTER = ON, default double PT1 as per BF3.4...

[2018-06-17 20:01] RipperDrone commented on #6144
Gyro resonance seems around 100Hz (I counted 10 wavelengths on the time scale), maybe the Svelte frame is soo delicate that it has a core resonance around 100Hz? Should I try decrease Dterm and Gyro Lowpass to 70 or 80Hz then?

[2018-06-17 20:28] andrejpodzimek opened #6145 "No telemetry on F.Port with HGLRC Zeus (OMNIBUSF4)"
I can't get any telemetry on F.Port in Betaflight 3.3 and 3.4-RC2. I'm using a [HGLRC Zeus](https://www.hglrc.com/products/hglrc-f4-zeus-f4-flight-controller-integrated-with-osd-bec-pdb-aio-15a-blheli_s-4-in-1-esc-for-rc-racing-drone) and an [R-XSR](https://www.frsky-rc.com/product/r-xsr/) receiver connected to TX3 using the receiver's [uninverted "P" pad](https://oscarliang.com/uninverted-sbus-sm

[2018-06-17 20:47] andrejpodzimek opened #6146 "LEDs on OMNIBUSF4 don't work on 3.4-RC2, but worked fine in 3.3"
On the `OMNIBUSF4` setup described in #6145, I'm getting perfectly working LEDs on 3.3, but LEDs stay off on 3.4-RC2.

[2018-06-17 20:49] DieHertz commented on #6146
Fixed by #6141

[2018-06-17 20:49] #6146 closed

[2018-06-17 21:34] ghostface commented on #5398
This is odd - at first it was working fine on 3.4 on my split mini via soft serial.
Now it's not working until I do a reboot via osd (save exit + reboot)

[2018-06-17 22:37] andrejpodzimek commented on #6137
Thanks! Yes, it works! I resoldered the two motors etc. and took off on DShot 600 just fine.

[One annoying ESC](https://www.rcgroups.com/forums/showthread.php?2063090-Motor-stuttering-Won-t-run-Read-before-asking/page7#post39811443) is the only thing that spoils the pure joy of this. It would be great to have some diagnostic data in the ESC telemetry, such as *this ESC is [[censored]], replace it

[2018-06-17 22:46] mikeller commented on #6137
@andrejpodzimek:

The problem here is that in most cases, the ESC itself won't detect that it's faulty. For out-of-spec condidions for RPM / temperature, we have `osd_warn_esc_fail`.

[2018-06-17 22:52] mikeller commented on #5893
@johmarjac: Altitude hold was completely removed for 3.4, when GPS rescue mode was introduced. The problem was that the old implementation was unmaintained, and did not work in a safe way - least of all close to ground, since it was prone to oscillations. Feel free to propose a new implementation in a pull request.

[2018-06-17 23:34] jflyper commented on #6145
Can't reproduce.
Omnibus F4 AIO (gen1) flashed with 3.4-RC2, loaded with your configuration works with R-XSR in F.Port mode by UIM F/S.Port pad connected to TX3.

[2018-06-17 23:46] #6143 closed

[2018-06-17 23:48] jflyper commented on #6143
You are probably connected to the FC with BFC.

To force arming in this state, you have to enable motor test.

For further assistance, PLEASE READ AND FOLLOW the instruction.

[2018-06-18 00:36] jflyper commented on #6136
Saw similar symptom last week, when I was testing something, probably hexa related.
However, I can't reproduce it with Omnibus F3 AIO (gen 1), flashed 3.3.3 and 3.4-RC2, default board config, tested with motor test slider in OS125, OS42 and MS.

@andrejpodzimek I dag out a BRF3 from my parts bin. You can provide a non-working `diff`.

[2018-06-18 00:49] alancastell commented on #5398
Have a few other flight controllers  and don't want to update till I know this is fixed.

[2018-06-18 01:08] TonyAcroFPV opened #6147 "F7 CPU load"
On my Omnibus F7 board the cpu load at the bottom of the configurator is around 35% but when i go down to the CLI and i type status it comes up with the real cpu load around 80% if you could please fix this it would be appreciated as the cpu load at the bottom of the configurator is much higher then the real one by about 30% thanks i used configurator: 10.2.0

[2018-06-18 01:55] dronejunkie opened #6148 "Pitch forward dramatically after jamming and cutting off throttle (3.4 RC2)"
FC is Matek F405,  I will upload the dump later on.  The setting are pretty much default.  I have only reduced Pterm on RP by 2 points and increased dTerm on RP by 2 points.  Set RC interpolation to 14. The issue is when I jam and cut the throttle the quad pitch forward a lot.  It is reproducible.  I checked the BBL logs,  when the throttle is at peak   PID iterm also peaked but when the throttle

[2018-06-18 02:41] theSkonk commented on #6148
its an ongoing mystery.. https://github.com/betaflight/betaflight/issues/6018
do you have one motor flatlining? thats whats happening to me.. different esc/FC combos and different hardware doing the same thing. only common thing between them is the esc/fc firmware

[2018-06-18 02:49] 510Rascloud commented on #6143
Enable motor test is not turning my motors on with my receiver. I can only spin them with my mouse...My receiver is connected to Betaflight...
I’m getting an arming disabled. cli status says cli msp I cant get the msp Ive been reading and watching videos for 2 days...I don’t know what I’m missing...

[2018-06-18 02:55] mikeller commented on #6143
@510Rascloud: So setting 'Enable Motor Test' to on and then arming with your TX does not work?

[2018-06-18 03:00] Arclim opened #6149 "set iterm_relax = RP and other stuffs says ""###ERROR### Invalid name"" on CLI"
set iterm_relax = RP and other stuffs says ""###ERROR### Invalid name"" on CLI
whats seems to be the problem? or am i missing something?

[2018-06-18 03:09] williamjbaker opened #6150 "how to download and install betaflight 3.4 on windows"
# If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

## Please consider using other user support options such as asking the manufacturer of the hardware you are using, RCGroups: https://rcgroups.com/forums/showthread.php?t=2464844, or Slack: https://slack.betaflight.tech or other user support forums & groups (e.g. facebook).

## If you believe t

[2018-06-18 03:18] #6150 closed

[2018-06-18 03:20] mikeller commented on #6149
@Arclim: If you provided any of the information that you were asked to provide when opening an issue then there would be a chance that somebody was able to help you...

[2018-06-18 03:40] dronejunkie commented on #6148
I checked the Pterm pitch, it is trying to counter the pitch forward. Motor 2 and 4 spun up as  soon as it detected the uncommanded pitch,   it appears like the correct was not sufficient.

[2018-06-18 04:04] theSkonk commented on #6148
but is the kick been caused by  motor flatlining.. thats the issue with the other people including my self  your seems to be motors 1 and 3 they don't recover until you start lifting the throttle. mine is just motor 3 and it flatlines any time you have a throttle rc command of less than 1100.
the p term is trying to recover the attitude which is th pitch change but its not causing the motors to fl

[2018-06-18 04:27] 510Rascloud commented on #6143
No this does not work.

[2018-06-18 04:50] #5873 closed

[2018-06-18 06:21] wind0r commented on #6149
my magic 8 ball says that you try to use a new 3.4 feature with 3.3 firmware. this will not work. your fc doesnt magicily update

[2018-06-18 06:30] dronejunkie commented on #6148
If you check the BBL and look at the P term on pitch,  P item is the integral of that and as such the iterm should not be zero.  In the two punch outs in the log, item was at zero for 0.7-0.8 sec while the Pterm was -ve all this time. This appears to be a PID calculation error somewhere.   It does not seem to be a hardware issue.

[2018-06-18 06:32] Saxin commented on #6138
@mikeller thanks will try my evening, closing for now.

[2018-06-18 06:32] #6138 closed

[2018-06-18 06:39] Arclim commented on #6149
I just updated my firmware with the latest rc2 candidate

On 18 Jun 2018 2:21 pm, "Steffen Windoffer" <notifications@github.com>
wrote:

[2018-06-18 06:58] McGiverGim commented on #6149
Start pasting a `diff` of your config, please.

[2018-06-18 06:58] jstremmler opened #6151 "BF 3.4 RC2 LED strip not working on OmnibusF4ProSD"
On my OmnibusF4ProSD the LED strip is not working under BF 3.4 RC2 I did both, configure the LED-strip new in the configurator and copy&paste it in the CLI menu. Flashing back BF3.3 brings the LED strip to work again properly.

[2018-06-18 07:02] Arclim commented on #6149
CLI # diff
# Betaflight / SPRACINGF3 (SRF3) 3.4.0 Jun 10 2018 / 02:49:42 (a5ba01666)
MSP API: 1.39

board_name SPRACINGF3
manufacturer_id

feature -TELEMETRY
feature -RSSI_ADC
feature AIRMODE
aux 0 0 0 1700 2100 0
aux 1 13 1 1700 2100 0
rxfail 3 h
set gyro_sync_denom = 2
set gyro_lowpass2_hz = 500
set acc_hardware = NONE
set mag_hardware = NONE
set baro_hardware = NONE
set motor_pwm_protocol = ONE

[2018-06-18 07:05] McGiverGim commented on #6148
Yes, something strange with I is happening. A lot of error appears and the I is not fixing it.

I suspect you are using some of the new features (`iterm_relax`, `absolute_control`...) and something is wrong or there is some very bad bug in RC2.

Can you paste a `diff` ?

[2018-06-18 07:17] Arclim commented on #6149
how? can you pls guide me? im only running at 13% cpu load

On Mon, Jun 18, 2018 at 12:15 AM, Míguel Ángel Mulero Martínez <
notifications@github.com> wrote:

[2018-06-18 07:21] DieHertz commented on #6151
Duplicate of #6146
Please use search before posting

[2018-06-18 07:21] #6151 closed

[2018-06-18 07:37] EGParadox commented on #6149
@Arclim @glenb2 from release notes:

[2018-06-18 07:39] McGiverGim commented on #6149
First you must be able to build the firmware by yourself. Then you have some documentation about how to add or remove features here: https://github.com/betaflight/betaflight/blob/master/docs/Customized%20Version.md

[2018-06-18 07:58] McGiverGim commented on #6144
@RipperDrone if your gyro loop is not the same than pid loop the blackbox has a bug in the spectrum. It is fixed in master. You can use the current master to analyze it.

[2018-06-18 08:18] rav-rav commented on #6140
Can you open the betalflight OSD, go to "save, reboot" und try it afterwards? Works for me.

[2018-06-18 09:16] lipcsey opened #6152 "[KAKUTEF4V2] FC Telemetry not getting received (discover sensors on taranis only detects crossfire telem.)"
Flashed 3.4.0 RC 2 on a Kakute F4 v2 board.
It worked all right out of the box, the board came with 3.2.2 to begin with and I had no issues.
Now on 3.4.0 RC2 it only displays crossfire related signal telemetry but nothing from FC.
Everything is ok on OSD just for the record.

[code]

[2018-06-18 09:45] mikeller commented on #6149
I think @joelucid is maintaining a fork that has the new tuning features enabled for F3.

[2018-06-18 09:52] mikeller commented on #5893
@johmarjac: That's a good start. Don't spend too much time on the altitude hold code in 3.3, this was badly maintained and has been patched up a lot of times just to keep it from completely falling apart. It might be better if you had a look at how iNav is doing altitude hold to get an inspiration for how to do it properly.

Re developing / debugging, it is not as hard as it might sound, have a lo

[2018-06-18 10:00] johmarjac commented on #5893
@mikeller Allright, I requested registration in Slack with johannesmjacobs@gmail.com

Looking how INav is doing it sounds like a good idea actually, thanks for the hint, maybe I can get something to work. Now I will read the Hardware Debugging Markdown first.

[2018-06-18 10:13] atomgomba opened #6154 "Blackbox erase function in CMS"
Putting an option in the OSD stick menu for erasing blackbox data would have the benefit of not having to do any preliminary configuration (or use an extra channel) in order to be able to clear data on the field before flight.

[2018-06-18 10:18] Arclim commented on #6149
Thats a goodnews! Keep it up. We f3's are willing to wait.

On 18 Jun 2018 5:46 pm, "Michael Keller" <notifications@github.com> wrote:

[2018-06-18 10:21] mikeller commented on #6154
It also has the advantage over assigning a switch for BLACKBOX_ERASE that it is less likely to get accidentally activated by bumping the switch.

[2018-06-18 10:22] Bonemyster commented on #6140
@rav-rav Yes it works when i do that but i have to do it each power cycle to get it to work.

[2018-06-18 10:49] McGiverGim commented on #6154
The option exists, if FLASHFS is defined:

https://github.com/betaflight/betaflight/blob/02efd46833155f43b77a15f8ebe795484898d488/src/main/cms/cms_menu_blackbox.c#L203-L205

[2018-06-18 10:50] mikeller commented on #6154
Lol. :laughing:

[2018-06-18 11:05] dronejunkie commented on #6148
diff
https://drive.google.com/open?id=1S7SBq7qAcDV34VJ5j1xgCpIou19uXiPy

dump
https://drive.google.com/open?id=10-Ik5iohTggfuRxdWYoyp64uTQvoJSBc

[2018-06-18 11:42] atomgomba commented on #6154
So resolving this issue was easy! :sweat_smile:

[2018-06-18 11:51] McGiverGim commented on #6148
@dronejunkie the only reason to ITerm not acting, is when the motor mixed is saturated. I see that this only happens when your throttle is zero, so this makes me thing that you maybe are not using AIRMODE and with throttle zero and without airmode the I will not act. Is that true? Can you enable AIRMODE and test again (as a feature or a switch)?

[2018-06-18 13:06] faceforfpv commented on #6148
AIRMODE wasn't turned on by default in 3.4 RC1. Caught me by surprise. Could it be made part of the default configuration?

[2018-06-18 13:11] dronejunkie commented on #6148
I thought airmode is on by default.  Let me check again.

On Mon., 18 Jun. 2018, 21:51 Míguel Ángel Mulero Martínez, <
notifications@github.com> wrote:

[2018-06-18 13:50] #5876 closed

[2018-06-18 14:55] McGiverGim commented on #6154
Please check if it is what you need, and if it is "fixed" you can close the issue ;)

[2018-06-18 14:56] McGiverGim commented on #6148
No, it has not been made default in 3.4. And your `dump` shows it disabled as expected:

[2018-06-18 16:16] Scavanger commented on #6109
Sorry, no HOTT Telemetry on 3.4.0-RC2 too.

[2018-06-18 17:07] jurkust opened #6157 "3.4 RC2 LED_STRIP does not work on F4"
With Betafligh 3.4 RC2 LED_STRIP does not work on F4, with RC1 works.
I'm testing on FRTFQ Flight Controller using CLRACINGF4 3.4.0-RC2.
Diff:
[code]
Same config for with RC1.

[2018-06-18 17:07] DieHertz commented on #6157
Duplicate of #6146
Please use search before posting

[2018-06-18 17:07] #6157 closed

[2018-06-18 17:15] jurkust commented on #6157
Sorry @DieHertz, searched, but used default filter, which is `is:issue is:open` and all these issues are closed, next time will do it right :)

[2018-06-18 17:19] flint723 commented on #6148
Airmode has never been on by default has it?  For me it could be on as a feature, but not sure how many people still use it as a mode (on a switch).

[2018-06-18 19:00] RipperDrone opened #6158 "Saving dataflash to file - super-slow due to >1,000 packet errors..."
FC OMNINXT7, dataflash transfer under Win x64 is awfully slow, thousands of packet errors. Looks like serial (?) protocol is not working correctly?

BTFL 3.4RC1, BFC 10.3.0

[2018-06-18 19:01] DieHertz commented on #6158
Did you try `msc`?

[2018-06-18 19:04] richard-scott opened #6159 "SPRACINGF7DUAL won't go into DFU via software request"
I have just got an SPRACINGF7DUAL FC and it won't go into DFU mode via "bl" or the BFC Flashing tool. The board locks up.

Using the boot button works just fine to get DFU on USB connection.

[2018-06-18 19:06] DieHertz commented on #6159
Yeah, we know about the issue and none of the ideas gave any result :( something is probably binding the bootloader before you get a chance to talk to it

[2018-06-18 19:06] RipperDrone commented on #6158
sry, not familiar yet with msc, let me try to read some Wiki...

(btw, 526kB ended downloading after 6min, >8,000packet errors, satus bar shows D: ~800%, U: ~5% - looks like a buffer / timing prob)

[2018-06-18 19:08] RipperDrone commented on #6158
ok, CLI'ed msc, then found Betaflight Flash Storage as drive, download smoothly and fast. This seems the way to move forward. Other method looks flawed...

[2018-06-18 19:08] richard-scott commented on #6159
A known issue... is there an issue ticket for it? I could not find one? :-(

[2018-06-18 19:09] nmaggioni opened #6160 "DShot beacon delay before arming should not apply to beeper"
The delay added with #6079 caught me by surprise when I tried to arm my quad: I use the DShot beeper and have a momentary **switch on my TX set to both the prearm and the beeper**. This way nearby people get an audible alert that my props are about to start spinning; this has turned out as an useful thing quite a lot of times when the paddock is packed with people.

At the moment, on **v3.4.0 RC1*

[2018-06-18 19:10] RipperDrone commented on #6144
OK, here is a blackbox dump for 8k/8k:

![image](https://user-images.githubusercontent.com/12601105/41556825-126f68ae-733c-11e8-8d75-8d763e29b61c.png)

[2018-06-18 19:11] DieHertz commented on #6159
There's no ticket. I encountered it long ago when helping Dominic with BF support, we discussed it in our Dev chat and all the ideas I tried didn't work out.

[2018-06-18 19:12] DieHertz commented on #6158
CDC is not the way to go for downloading large files :)

[2018-06-18 19:12] RipperDrone commented on #6144
weird motor spectrum... (lowpass is already at 100Hz...?)
![image](https://user-images.githubusercontent.com/12601105/41556913-543b75c0-733c-11e8-8ac8-583084e386b5.png)

[2018-06-18 19:21] AndersHoglund commented on #6159
On other FCs (F3/F4 based) the bootloader can hook on to UART and ignore USB if there are activity on the UART Rx line. Not sure about F7. Have you tried a clean test with USB only connected and nothing else?

[2018-06-18 19:34] Nexus1212 commented on #6109
Hello, I tested 3.4.0-RC1 and  3.4.0-RC2 today. On both versions hott telemetry does not work.

Also I logged with a arduino uno the UART1. There is nothing. The receiver sends the requests 80 80,  80 8E and so on but the flightcontroller does not answer. Bevor version 3.3.2 the flight controller answer normal 80 8E (EAM Modul) .

My settings are:
UART1 Hott telemetry
UART3 receiver SUMD
UART6 IRC

[2018-06-18 19:44] etracer65 commented on #6160
The delay is only related to the beacon - not sure what the complaint is.  It actually has nothing even to do with the beeper or beacon settings.  It simply looks to see if a beacon command was sent to the ESC's recently before arming (within the guard time).

You apparently also have the beacon set up with `beacon RX_SET`.

Note that the delay has been reduced to 1.2 seconds in 3.4RC2.

[2018-06-18 19:57] mikeller commented on #6109
This is odd. I had a look at the changes between 3.3.1 and 3.3.2, and there is nothing even related to telemetry.

I don't have any HoTT gear, so I can't test. Can one of you guys do a bisect to find out what change exactly caused the breakage?

[2018-06-18 20:02] nmaggioni commented on #6160
Is there any other way to use the DShot beeper (e.g.: motors beeping) without enabling RX_SET, then? Aren't the beeper and the beacon two different things?

My choice of momentary switches on the TX is limited to a single one, having to move either the beeper or the prearm to another, non-momentary one, would be an unnecessary nuisance in my opinion.

[2018-06-18 20:10] etracer65 commented on #6160
Maybe you're confused by the terms beeper vs beacon.  Beeper refers to a physical buzzer (or beeper) connected to a pin on your flight controller.  Beacon is when the motors are used to make a tone.

So if you're using beacon then there must be a delay before arming otherwise the ESC's won't accept the motor direction commands because they ignore all commands while playing the tone through the mot

[2018-06-18 20:11] Nexus1212 commented on #6109
I want to help but my it skills are bad. What is to do for a bisect?

I have seen "ziegeOne" is working on a hott telemetry text mode. He is a expert for hott. Maybe he can take a look on the code?

[2018-06-18 20:17] nmaggioni commented on #6160
This terminology is rather confusing, especially because BLHeli interprets the "beacon" as the one automatically triggered after a period of inactivity of the ESCs.

Anyhow: has my quad been arming correctly out of pure luck every time up to now, then? I don't wanna be rude, just asking :)

[2018-06-18 20:28] etracer65 commented on #6160
Also BLHeli refers to the DSHOT commands to "beep" the motors as "beacon commands" as well.

[2018-06-18 20:31] nmaggioni commented on #6160
I guess that pilots that use my same arming setup will just have to live with keeping the prearm switch toggled for at least the duration of the delay.

[2018-06-18 20:31] #6160 closed

[2018-06-18 22:47] FPVDjp commented on #6094
I am having the same issue with 2 x Asgard AIO F4/F7 32 boards, 3.3.x or 3.4 exhibits this behaviour, 3.2.5 it works fine again.  Also UART 2 which smart audio is connected to on this board disappears on 3.4.

[2018-06-18 23:55] mikeller commented on #6159
Just a thought: Are there any pins on this board that default to UART pins, but are permanently used for something else (SPI?), so that on warm reboot there is an initialised device connected to them, making the MCU bind the UART to it? Do we have to shut down peripherals before the reboot for this board?

[2018-06-18 23:56] mikeller commented on #6109
Yes, @ziegeOne might be able to help here.

[2018-06-19 01:59] tech4yoda opened #6162 "osd flashes 0 rssi all the time"
my rssi is flashing 0 rssi on my osd all the time, im using the CLRACINGF4S flight controller.

here is my dump

Entering CLI Mode, type 'exit' to return, or 'help'

# version
# Betaflight / CLRACINGF4 (CLR4) 3.4.0 Jun 17 2018 / 08:22:07 (2fe9d7990) MSP API: 1.39

# dump

# version
# Betaflight / CLRACINGF4 (CLR4) 3.4.0 Jun 17 2018 / 08:22:07 (2fe9d7990) MSP API: 1.39

board_name CLRACINGF4
manufa

[2018-06-19 02:09] KenImhof commented on #5455
Very good news with Blheli_32.  I just tested a new version of Blheli_32 from Steffen with a bug fix and code improvements and I could not cause a single 3d reversal glitch even with the custom code with a 40MS delay during reversals at 3d_idle removed.  I did many full throttle tilts at maximum speed at both ends of the field with maximum speed reversals without a single glitch.  With previous ve

[2018-06-19 02:10] dronejunkie commented on #6148
Looking at the code, you are right iterm will only increase if not saturated (as per the snippet below).  I checked the mixer.c   file Saturation occurd if motorMixRange  is bigger than 1.      This variable is not affected by AIR MODE from looking at the code.  It affects the motor output but not the mix.    Mix is calculated base in the mix on RPY.  motorMixRange is the different between the max